Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update Changelog.md
  src/ManagedServiceIdentity/Changelog.md
Due: none

breaking change message for New-AzVmss (#20935)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

[Service Connector] rename command name letter case (#20946)
  src/ServiceLinker/Az.ServiceLinker.psd1
  src/ServiceLinker/custom/Remove-AzServiceLinkerForSpringCloud.ps1
  src/ServiceLinker/docs/Az.ServiceLinker.md
  src/ServiceLinker/docs/Remove-AzServiceLinkerForSpringCloud.md
  src/ServiceLinker/examples/Remove-AzServiceLinkerForSpringCloud.md
Due: none

Update tools/SyncDocs.ps1
  tools/SyncDocs.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Make the script name clear and add some comments.
  tools/SyncDocsToMicrosoftDocsOrg.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ps1 path
  .azure-pipelines/sync-MSdoc.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[IoT]IoT Hub SDK version update to 4.2.0 and fixed Get-AzIoTHub to work with DigiCert hubs (#20938)
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/DeviceProvisioningServices.Test.csproj
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsAccessPolicyTests.ps1
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsEnrollmentGroupTests.ps1
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsEnrollmentTests.ps1
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsLinkedHubTests.ps1
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/ScenarioTests/IotDpsRegistrationTests.ps1
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsAccessPolicyTests/IotDpsAccessPolicyLifeCycle.json
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsEnrollmentGroupTests/IotDpsEnrollmentGroupLifeCycle.json
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsEnrollmentTests/IotDpsEnrollmentLifeCycle.json
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsLinkedHubTests/IotDpsLinkedHubLifeCycle.json
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsRegistrationTests/IotDpsRegistrationLifeCycle.json
  src/DeviceProvisioningServices/DeviceProvisioningServices.Test/SessionRecords/Commands.DeviceProvisioningServices.Test.IotDpsTests/IotDpsLifeCycle.json
  src/IotHub/IotHub.Test/IotHub.Test.csproj
  src/IotHub/IotHub.Test/SessionRecords/Microsoft.Azure.Commands.IotHub.Test.ScenarioTests.IotHubDPConfigurationTests/TestAzureIotHubConfigurationLifecycle.json
  src/IotHub/IotHub.Test/SessionRecords/Microsoft.Azure.Commands.IotHub.Test.ScenarioTests.IotHubDPDeviceTests/TestAzureIotHubDeviceLifecycle.json
  src/IotHub/IotHub.Test/SessionRecords/Microsoft.Azure.Commands.IotHub.Test.ScenarioTests.IotHubDPModuleTests/TestAzureIotHubModuleLifecycle.json
  src/IotHub/IotHub.Test/SessionRecords/Microsoft.Azure.Commands.IotHub.Test.ScenarioTests.IotHubDPTracingTests/TestAzureIotHubTracing.json
  src/IotHub/IotHub/ChangeLog.md
  src/IotHub/IotHub/IotHub.csproj
  src/IotHub/IotHub/IotHub/AddAzureRmIotHubCertificate.cs
  src/IotHub/IotHub/IotHub/AddAzureRmIotHubEventHubConsumerGroup.cs
  src/IotHub/IotHub/Models/PSCapabilities.cs
Due: none

Update Changelog.md
  src/ServiceLinker/Changelog.md
Due: none

Update src/Network/Network/ChangeLog.md
  src/Network/Network/ChangeLog.md
Due: none

{Network} Fix Reset-AzVirtualNetworkGateway Example (#20950)
  src/Network/Network/help/Reset-AzVirtualNetworkGateway.md
Due: none

[Az.ConnectedKubernetes] support proxy environments and fix issues (#20944)
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Remove-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Update-AzConnectedKubernetes.md
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/utils/RSAHelper.ps1
Due: none

OOB of Az.ConnectedKubernetes (#20904)
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/utils/RSAHelper.ps1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix Invoke-WebRequest in Win10 issue
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Add optional settings (+2 squashed commit)
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Install azure-arc helm release in azure-arc-release namespace (+1 squashed commits)
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Tests.ps1
Due: none

Fix RSAHelper format
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/utils/RSAHelper.ps1
Due: none

Add Proxy settings (+1 squashed commits)
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Fix Invalid URI issue when passing diaplsy name of location (+1 squashed commits)
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Update examples
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
Due: none

[Relay]add target version for breaking change.
  src/Relay/Relay/Cmdlets/Namespace/SetAzureRelayNamespace.cs
  src/Relay/Relay/Cmdlets/Operations/GetAzureRelayOperations.cs
Due: none

Update parameter names and docs
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
Due: none

change PipelineReult json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync upcoming breaking changes doc (#20925)
  .azure-pipelines/SyncDocsConfig.json
  .azure-pipelines/sync-MSdoc.yml
  tools/SyncDocsToMicrosoftDocsOrg.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update ManagedInstanceAdvancedDataSecurityPolicyModel.cs
  src/Sql/Sql/AdvancedDataSecurity/Model/ManagedInstanceAdvancedDataSecurityPolicyModel.cs
Due: none

Register Microsoft.Monitor RP in Network cmdlets (#20948)
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
Due: none

[Databricks]refresh api version.
  src/Databricks/README.md
  src/Databricks/custom/New-AzDatabricksWorkspace.ps1
  src/Databricks/custom/README.md
  src/Databricks/custom/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/custom/Update-AzDatabricksWorkspace.ps1
  src/Databricks/docs/Get-AzDatabricksAccessConnector.md
  src/Databricks/docs/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.md
  src/Databricks/docs/Get-AzDatabricksVNetPeering.md
  src/Databricks/docs/Get-AzDatabricksWorkspace.md
  src/Databricks/docs/New-AzDatabricksAccessConnector.md
  src/Databricks/docs/New-AzDatabricksVNetPeering.md
  src/Databricks/docs/New-AzDatabricksWorkspace.md
  src/Databricks/docs/README.md
  src/Databricks/docs/Update-AzDatabricksAccessConnector.md
  src/Databricks/docs/Update-AzDatabricksVNetPeering.md
  src/Databricks/docs/Update-AzDatabricksWorkspace.md
  src/Databricks/how-to.md
Due: none

[Databricks]updated test json file.
  src/Databricks/test/Get-AzDatabricksAccessConnector.Recording.json
  src/Databricks/test/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.Recording.json
  src/Databricks/test/Get-AzDatabricksVNetPeering.Recording.json
  src/Databricks/test/Get-AzDatabricksWorkspace.Recording.json
  src/Databricks/test/New-AzDatabricksAccessConnector.Recording.json
  src/Databricks/test/New-AzDatabricksVNetPeering.Recording.json
  src/Databricks/test/New-AzDatabricksWorkspace.Recording.json
  src/Databricks/test/Remove-AzDatabricksAccessConnector.Recording.json
  src/Databricks/test/Remove-AzDatabricksVNetPeering.Recording.json
  src/Databricks/test/Remove-AzDatabricksWorkspace.Recording.json
  src/Databricks/test/Update-AzDatabricksAccessConnector.Recording.json
  src/Databricks/test/Update-AzDatabricksVNetPeering.Recording.json
  src/Databricks/test/Update-AzDatabricksWorkspace.Recording.json
Due: none

Move RSAHelper to custom
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/RSAHelper.ps1
Due: none

Update docs
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/README.md
  src/ConnectedKubernetes/docs/Remove-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Update-AzConnectedKubernetes.md
Due: none

Update src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Recover autorest (autorest --reset) and version in tools folder
  src/ConnectedKubernetes/custom/README.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/README.md
  src/ConnectedKubernetes/docs/Remove-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Update-AzConnectedKubernetes.md
  src/ConnectedKubernetes/how-to.md
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Recover change in tools folder
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Set moduleInfo.Status to Succeeded
  .ci-config.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove require
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
