Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Updated PS Module to support Default Disabled feature - responding with the new readonly property ComputedDisabledRules
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyManagedRuleSetRuleGroup.cs
Due: none

General availability of module Az.StorageAction.
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

adding double slashes for copyright alignment
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyManagedRuleSet.cs
Due: none

Update Az.psd1
  tools/Az/Az.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding double slashes for copyright text alignment
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyManagedRuleSetRuleGroup.cs
Due: none

Revert "Fix batch generation build artifact (#27945)"
  .azure-pipelines/PipelineSteps/BatchGeneration/analyse-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/build-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/test-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/util.psm1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

General availability of module Az.StorageAction. (#28017)
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix typo - duplicate commands
  src/CloudHsm/CloudHsm.Autorest/docs/Az.CloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/docs/New-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/examples/New-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/examples/Update-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/generate-info.json
  src/CloudHsm/CloudHsm.sln
Due: none

update
  src/CloudHsm/CloudHsm.Autorest/docs/Get-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/examples/Get-AzCloudHsm.md
Due: none

Update New-AzMigrateServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateServerReplication.ps1
Due: none

Update ChangeLog.md
  src/Migrate/Migrate/ChangeLog.md
Due: none

Enhance Az.Migrate to prep for GA
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/README.md
  src/Migrate/Migrate.Autorest/custom/AzLocalDiskInput.cs
  src/Migrate/Migrate.Autorest/custom/Helper/AzLocalCommonSettings.ps1
  src/Migrate/Migrate.Autorest/custom/Helper/CommonHelper.ps1
  src/Migrate/Migrate.Autorest/custom/Initialize-AzMigrateLocalReplicationInfrastructure.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateLocalDiskMappingObject.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/docs/New-AzMigrateLocalDiskMappingObject.md
  src/Migrate/Migrate.Autorest/docs/New-AzMigrateLocalServerReplication.md
  src/Migrate/Migrate.Autorest/docs/README.md
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/ChangeLog.md
Due: none

Added a summary of the change to the ChangeLog
  src/Network/Network/ChangeLog.md
Due: none

nit
  src/Oracle/Oracle.Autorest/examples/Invoke-AzOracleActionDbNode.md
Due: none

nit
  src/Oracle/Oracle.Autorest/Properties/AssemblyInfo.cs
  src/Oracle/Oracle.Autorest/docs/Invoke-AzOracleActionDbNode.md
  src/Oracle/Oracle.Autorest/generate-info.json
  src/Oracle/Oracle.sln
  src/Oracle/Oracle/Az.Oracle.psd1
  src/Oracle/Oracle/help/Invoke-AzOracleActionDbNode.md
Due: none

Workaround the GA issue
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Workaround the GA issue (#28022)
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove old batch generation branch
  .github/workflows/clean-branches.yml
Due: azure-pipelines.yml

print format
  .github/workflows/clean-branches.yml
Due: azure-pipelines.yml

migrate ActivityLogAlert module to autorest v4
  src/Monitor/ActivityLogAlert.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/ActivityLogAlert.Autorest/README.md
  src/Monitor/ActivityLogAlert.Autorest/custom/New-AzActivityLogAlert.ps1
  src/Monitor/ActivityLogAlert.Autorest/custom/Update-AzActivityLogAlert.ps1
  src/Monitor/ActivityLogAlert.Autorest/custom/autogen-model-cmdlets/New-AzActivityLogAlertActionGroupObject.ps1
  src/Monitor/ActivityLogAlert.Autorest/custom/autogen-model-cmdlets/New-AzActivityLogAlertAlertRuleAnyOfOrLeafConditionObject.ps1
  src/Monitor/ActivityLogAlert.Autorest/custom/autogen-model-cmdlets/New-AzActivityLogAlertAlertRuleLeafConditionObject.ps1
  src/Monitor/ActivityLogAlert.Autorest/docs/Az.ActivityLogAlert.md
  src/Monitor/ActivityLogAlert.Autorest/docs/Get-AzActivityLogAlert.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlert.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertActionGroupObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertAlertRuleAnyOfOrLeafConditionObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertAlertRuleLeafConditionObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/Remove-AzActivityLogAlert.md
  src/Monitor/ActivityLogAlert.Autorest/docs/Update-AzActivityLogAlert.md
  src/Monitor/ActivityLogAlert.Autorest/generate-info.json
  src/Monitor/ActivityLogAlert.Autorest/resources/README.md
  src/Monitor/Monitor.sln
  src/Monitor/Monitor/Az.Monitor.psd1
  src/Monitor/Monitor/help/Get-AzActivityLogAlert.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/Monitor/Monitor/help/New-AzActivityLogAlert.md
  src/Monitor/Monitor/help/New-AzActivityLogAlertActionGroupObject.md
  src/Monitor/Monitor/help/New-AzActivityLogAlertAlertRuleAnyOfOrLeafConditionObject.md
  src/Monitor/Monitor/help/New-AzActivityLogAlertAlertRuleLeafConditionObject.md
  src/Monitor/Monitor/help/Remove-AzActivityLogAlert.md
  src/Monitor/Monitor/help/Update-AzActivityLogAlert.md
Due: none

Improved ChangeLog release note
  src/Network/Network/ChangeLog.md
Due: none

Refined ChangeLog release notes
  src/Network/Network/ChangeLog.md
Due: none

Delete .github/workflows/clean-branches.yml
  .github/workflows/clean-branches.yml
Due: azure-pipelines.yml

suppress example issue
  tools/StaticAnalysis/Exceptions/Az.Compute/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated tools schema, fixed json reading
  tools/Mcp/package.json
  tools/Mcp/src/CodegenServer.ts
  tools/Mcp/src/types.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Corrected download url spelling
  tools/Mcp/src/services/utils.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated import statement to reflect filename
  tools/Mcp/src/CodegenServer.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added usage docs to readme
  tools/Mcp/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Cluster test cases for renamed property
  src/NetworkCloud/NetworkCloud.Autorest/generate-info.json
  src/NetworkCloud/NetworkCloud.Autorest/test/New-AzNetworkCloudCluster.Tests.ps1
  src/NetworkCloud/NetworkCloud.Autorest/test/Update-AzNetworkCloudCluster.Tests.ps1
  src/NetworkCloud/NetworkCloud.sln
Due: none

test recording
  src/Oracle/Oracle.Autorest/Properties/AssemblyInfo.cs
  src/Oracle/Oracle.Autorest/generate-info.json
  src/Oracle/Oracle.Autorest/test/AzAdbs.Recording.json
  src/Oracle/Oracle.Autorest/test/AzExaInfra.Recording.json
  src/Oracle/Oracle.Autorest/test/AzOracleExadbVMCluster.Recording.json
  src/Oracle/Oracle.Autorest/test/AzOracleExadbVMCluster.Tests.ps1
  src/Oracle/Oracle.Autorest/test/AzOracleExascaleDbStorageVault.Recording.json
  src/Oracle/Oracle.Autorest/test/AzVmCluster.Recording.json
  src/Oracle/Oracle.Autorest/test/Get-AzOracleAutonomousDatabaseCharacterSet.Recording.json
  src/Oracle/Oracle.Autorest/test/Get-AzOracleAutonomousDatabaseNationalCharacterSet.Recording.json
  src/Oracle/Oracle.Autorest/test/Get-AzOracleAutonomousDatabaseVersion.Recording.json
  src/Oracle/Oracle.Autorest/test/Get-AzOracleDnsPrivateView.Recording.json
  src/Oracle/Oracle.Autorest/test/Get-AzOracleDnsPrivateZone.Recording.json
  src/Oracle/Oracle.Autorest/test/Restore-AzOracleAutonomousDatabase.Recording.json
  src/Oracle/Oracle.Autorest/test/Restore-AzOracleAutonomousDatabase.Tests.ps1
  src/Oracle/Oracle.Autorest/test/env.json
  src/Oracle/Oracle.sln
Due: none

Test commit without property renames
  src/NetworkCloud/NetworkCloud.Autorest/README.md
  src/NetworkCloud/NetworkCloud.Autorest/generate-info.json
  src/NetworkCloud/NetworkCloud.sln
  src/NetworkCloud/NetworkCloud/Az.NetworkCloud.psd1
Due: none
