Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

ipGroups support ShouldProcess
  src/Network/Network/ChangeLog.md
  src/Network/Network/IpGroup/SetIpGroupCommand.cs
Due: none

change the default value to Medium for sensitivity
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicyManagedRuleOverride.md
Due: none

1) update new-aznetworkvirtualappliance cmdlet to support nvainvnet 2)update mapper 3)add check for either virtualhub or nvanicinterfaceconfig property exists
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSNetworkVirtualApplianceInterfaceConfig.cs
  src/Network/Network/NetworkVirtualAppliance/NewNetworkVirtualApplianceCommand.cs
Due: none

re-recorded all tests
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/PolicyTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/Common.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/Common.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/JobTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureMonitorAlerts.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureRestoreWithCVMOsDiskEncryptionSetId.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVMRedoProtection.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVaultPublicNetworkAccess.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMCancelJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMGetJobs.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMGetJobsTimeFilter.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMWaitJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureFSVaultPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMCrashconsistentPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMSmartTieringPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadNonUTCPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadSmartTieringPolicy.json
  src/RecoveryServices/RecoveryServices/Vault/NewAzureRMRecoveryServicesVault.cs
  src/RecoveryServices/RecoveryServices/Vault/UndoAzRecoveryServicesVaultDeletion.cs
Due: none

regen
  src/FrontDoor/FrontDoor.Autorest/docs/Az.FrontDoor.md
  src/FrontDoor/FrontDoor.Autorest/generate-info.json
  src/FrontDoor/FrontDoor.Autorest/test/Enable-AzFrontDoorCustomDomainHttps.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Enable-AzFrontDoorCustomDomainHttps.Tests.ps1
  src/FrontDoor/FrontDoor.Autorest/test/env.json
  src/FrontDoor/FrontDoor.sln
Due: none

skip ASR test which need handling from ASR
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/B2A/AsrB2ATests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/Common/AsrTests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/V2A/AsrV2ATests.cs
Due: none

Revert "Update Azure Core and Synapse SDK (#28764)"
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/DataLakeStore/DataLakeStore/ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/SignalR/SignalR/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/TrustedSigning/TrustedSigning/ChangeLog.md
  src/lib/README.md
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/net461/System.Diagnostics.DiagnosticSource.dll
  src/lib/net461/System.Text.Encodings.Web.dll
  src/lib/net462/System.Diagnostics.DiagnosticSource.dll
  src/lib/net462/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/AzDev/README.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Beaking change message for fd (#28763)
  src/FrontDoor/FrontDoor/ChangeLog.md
  src/FrontDoor/FrontDoor/Cmdlets/DisableFrontDoorCustomDomainHttps.cs
  src/FrontDoor/FrontDoor/Cmdlets/EnableFrontDoorCustomDomainHttps.cs
  src/FrontDoor/FrontDoor/Cmdlets/GetFrontDoor.cs
  src/FrontDoor/FrontDoor/Cmdlets/GetFrontDoorFrontendEndpoint.cs
  src/FrontDoor/FrontDoor/Cmdlets/GetFrontDoorRulesEngine.cs
  src/FrontDoor/FrontDoor/Cmdlets/GetFrontDoorWafManagedRuleSetDefinition.cs
  src/FrontDoor/FrontDoor/Cmdlets/GetFrontDoorWafPolicy.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoor.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorBackendObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorBackendPoolObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorBackendPoolsSettingObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorFrontendEndpointObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorHeaderActionObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorHealthProbeSettingObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorLoadBalancingSettingObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRoutingRuleObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRulesEngine.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRulesEngineActionObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRulesEngineMatchConditionObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorRulesEngineRuleObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafCustomRuleObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafLogScrubbingSettingObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafManagedRuleExclusionObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafManagedRuleObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafManagedRuleOverrideObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafPolicy.cs
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafRuleGroupOverrideObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/SetFrontDoor.cs
  src/FrontDoor/FrontDoor/Cmdlets/SetFrontDoorRulesEngine.cs
  src/FrontDoor/FrontDoor/Cmdlets/UpdateFrontDoorWafPolicy.cs
Due: none

Fix bad merge of changelog of network
  src/Network/Network/ChangeLog.md
Due: none

Revert "Update Azure Core and Synapse SDK" (#28768)
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/DataLakeStore/DataLakeStore/ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/SignalR/SignalR/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/TrustedSigning/TrustedSigning/ChangeLog.md
  src/lib/README.md
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/net461/System.Diagnostics.DiagnosticSource.dll
  src/lib/net461/System.Text.Encodings.Web.dll
  src/lib/net462/System.Diagnostics.DiagnosticSource.dll
  src/lib/net462/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/AzDev/README.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix bad merge of changelog of network (#28769)
  src/Network/Network/ChangeLog.md
Due: none

[DataFactory]Powershell Release (#28761)
  src/DataFactory/DataFactory.Management.Sdk/Generated/DataFactoryManagementClient.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/IDataFactoryManagementClient.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/IIntegrationRuntimeOperations.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/IntegrationRuntimeOperations.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/IntegrationRuntimeOperationsExtensions.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/EnableInteractiveQueryRequest.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ErrorAdditionalInfo.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ErrorDetail.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ErrorResponse.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ErrorResponseException.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/HDInsightOnDemandLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/HDInsightOnDemandLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/HDInsightOndemandClusterResourceGroupAuthenticationType.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IntegrationRuntimeDisableInteractiveQueryHeaders.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IntegrationRuntimeEnableInteractiveQueryHeaders.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/InteractiveCapabilityStatus.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/InteractiveQueryProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/LookupActivity.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/LookupActivityTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ManagedIntegrationRuntime.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ManagedIntegrationRuntimeTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ScriptActivity.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ScriptActivityTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/SnowflakeLinkedV2ServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/SnowflakeV2LinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

feature: add ContinueOnError param for testing
  build.proj
Due: .azure-pipelines/sync-tools-folder.yml

rerun test
  src/FrontDoor/FrontDoor.Autorest/test/Enable-AzFrontDoorCustomDomainHttps.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Enable-AzFrontDoorCustomDomainHttps.Tests.ps1
  src/FrontDoor/FrontDoor.Autorest/test/Get-AzFrontDoor.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Get-AzFrontDoorFrontendEndpoint.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Get-AzFrontDoorWafManagedRuleSetDefinition.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Get-AzFrontDoorWafPolicy.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/New-AzFrontDoor.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/New-AzFrontDoor.Tests.ps1
  src/FrontDoor/FrontDoor.Autorest/test/New-AzFrontDoorRulesEngine.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/New-AzFrontDoorWafPolicy.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Remove-AzFrontDoor.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Remove-AzFrontDoorRulesEngine.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Remove-AzFrontDoorWafPolicy.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Set-AzFrontDoor.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Set-AzFrontDoorRulesEngine.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/Update-AzFrontDoorWafPolicy.Recording.json
  src/FrontDoor/FrontDoor.Autorest/test/env.json
  src/FrontDoor/FrontDoor.Management.Sdk/Generated/Models/EnforceCertificateNameCheckEnabledState.cs
  src/FrontDoor/FrontDoor.Management.Sdk/Generated/Models/HealthProbeSettingsUpdateParameters.cs
Due: none

updated examples
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesSoftDeletedVault.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesSoftDeletedVaultBackupItem.md
  src/RecoveryServices/RecoveryServices/help/Undo-AzRecoveryServicesVaultDeletion.md
Due: none

fix: add explicit write-error for analyze step
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

refactor: trying with pipeline yaml config
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Revert "refactor: trying with pipeline yaml config"
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

autoscale, prerestore, prebackup GA
  src/ElasticSan/ElasticSan.Autorest/custom/New-AzElasticSan.ps1
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/Test-AzElasticSanVolumeRestore.md
  src/ElasticSan/ElasticSan.Autorest/docs/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/examples/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/examples/Test-AzElasticSanVolumeRestore.md
  src/ElasticSan/ElasticSan.Autorest/examples/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.Autorest/test/Add-AzElasticSanVolumeGroupNetworkRule.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSanSkuList.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSan.Tests.ps1
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolume.Tests.ps1
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolumeGroup.Tests.ps1
  src/ElasticSan/ElasticSan.Autorest/test/Remove-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Remove-AzElasticSanVolumeGroupNetworkRule.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/env.json
  src/ElasticSan/ElasticSan.Autorest/test/utils.ps1
  src/ElasticSan/ElasticSan.sln
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/ChangeLog.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Test-AzElasticSanVolumeRestore.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSan.md
Due: none

update api spec link
  src/ElasticSan/ElasticSan.Autorest/README.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.sln
Due: none

update recording files
  src/ElasticSan/ElasticSan.Autorest/test/Add-AzElasticSanVolumeGroupNetworkRule.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Get-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Remove-AzElasticSanVolumeGroup.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Remove-AzElasticSanVolumeGroupNetworkRule.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSanVolume.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/Update-AzElasticSanVolumeGroup.Recording.json
Due: none

Update Azure.Core to 1.47.3
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/DataLakeStore/DataLakeStore/ChangeLog.md
  src/IotHub/IotHub/ChangeLog.md
  src/IotHub/IotHub/IotHub.csproj
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/SignalR/SignalR/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/TrustedSigning/TrustedSigning/ChangeLog.md
  src/lib/README.md
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/net461/System.Diagnostics.DiagnosticSource.dll
  src/lib/net461/System.Text.Encodings.Web.dll
  src/lib/net462/System.Diagnostics.DiagnosticSource.dll
  src/lib/net462/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/AzDev/README.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove ProgressAction parameters
  src/Compute/Compute/help/Update-AzHost.md
  src/Network/Network/help/New-AzVirtualNetworkGatewayCertificateAuthentication.md
  src/Network/Network/help/New-AzVirtualNetworkGatewayConnection.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
  src/Search/Search/help/Get-AzSearchAdminKeyPair.md
  src/Search/Search/help/Get-AzSearchNetworkSecurityPerimeterConfiguration.md
  src/Search/Search/help/Get-AzSearchPrivateEndpointConnection.md
  src/Search/Search/help/Get-AzSearchPrivateLinkResource.md
  src/Search/Search/help/Get-AzSearchQueryKey.md
  src/Search/Search/help/Get-AzSearchService.md
  src/Search/Search/help/Get-AzSearchSharedPrivateLinkResource.md
  src/Search/Search/help/Invoke-AzSearchNetworkSecurityPerimeterConfigurationReconcile.md
  src/Search/Search/help/Invoke-AzSearchServiceUpgrade.md
  src/Search/Search/help/New-AzSearchAdminKey.md
  src/Search/Search/help/New-AzSearchQueryKey.md
  src/Search/Search/help/New-AzSearchService.md
  src/Search/Search/help/New-AzSearchSharedPrivateLinkResource.md
  src/Search/Search/help/Remove-AzSearchPrivateEndpointConnection.md
  src/Search/Search/help/Remove-AzSearchQueryKey.md
  src/Search/Search/help/Remove-AzSearchService.md
  src/Search/Search/help/Remove-AzSearchSharedPrivateLinkResource.md
  src/Search/Search/help/Set-AzSearchPrivateEndpointConnection.md
  src/Search/Search/help/Set-AzSearchService.md
  src/Search/Search/help/Set-AzSearchSharedPrivateLinkResource.md
  src/SignalR/SignalR/help/Add-AzSignalRNetworkIpRule.md
  src/SignalR/SignalR/help/Get-AzSignalRReplica.md
  src/SignalR/SignalR/help/New-AzSignalRNetworkIpRuleObject.md
  src/SignalR/SignalR/help/New-AzSignalRReplica.md
  src/SignalR/SignalR/help/Remove-AzSignalRNetworkIpRule.md
  src/SignalR/SignalR/help/Remove-AzSignalRReplica.md
  src/SignalR/SignalR/help/Restart-AzSignalRReplica.md
  src/SignalR/SignalR/help/Start-AzSignalRReplica.md
  src/SignalR/SignalR/help/Stop-AzSignalRReplica.md
  src/SignalR/SignalR/help/Update-AzSignalRReplica.md
  src/Sql/Sql/help/Lock-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
  src/Sql/Sql/help/Restore-AzSqlServer.md
  src/Sql/Sql/help/Set-AzSqlDatabaseBackupLongTermRetentionPolicy.md
  src/Sql/Sql/help/Set-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
Due: none

Update Synapse SDK
  src/Synapse/Synapse/Synapse.csproj
Due: none

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

add create and get support for nva in vnet
  src/Network/Network/Az.Network.psd1
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/NetworkVirtualAppliance/NVAInVnet/NewNvaInterfaceConfigurationCommand.cs
  src/Network/Network/NetworkVirtualAppliance/NVAInVnet/NewNvaInterfaceConfigurationsCommand.cs
  src/Network/Network/NetworkVirtualAppliance/NVAInVnet/NvaInVnetBaseCmdlet.cs
Due: none

update changelog
  src/Network/Network/ChangeLog.md
Due: none

Remove untested VirtualHub EdgeZone test that was causing CI failures
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.ps1
Due: none

refactor: use helper function
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update Azure.Core to 1.47.3 (#28773)
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/DataLakeStore/DataLakeStore/ChangeLog.md
  src/IotHub/IotHub/ChangeLog.md
  src/IotHub/IotHub/IotHub.csproj
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/SignalR/SignalR/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Synapse.csproj
  src/TrustedSigning/TrustedSigning/ChangeLog.md
  src/lib/README.md
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/net461/System.Diagnostics.DiagnosticSource.dll
  src/lib/net461/System.Text.Encodings.Web.dll
  src/lib/net462/System.Diagnostics.DiagnosticSource.dll
  src/lib/net462/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/AzDev/README.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

refactor: revert changes to build.proj
  build.proj
Due: .azure-pipelines/sync-tools-folder.yml

Update online version link in help file (#28762)
  src/Sql/Sql/help/Lock-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
  src/Sql/Sql/help/Set-AzSqlDatabaseBackupLongTermRetentionPolicy.md
  src/Sql/Sql/help/Set-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
