Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

update readme.md
  src/Purview/Purview.Autorest/README.md
  src/Purview/Purview.Data.Autorest/README.md
Due: none

Split Az.DeviceProvisioningServices Examples
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Add-AzIoTDeviceProvisioningServiceAccessPolicy.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Add-AzIoTDeviceProvisioningServiceCertificate.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Add-AzIoTDeviceProvisioningServiceEnrollment.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Add-AzIoTDeviceProvisioningServiceEnrollmentGroup.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Add-AzIoTDeviceProvisioningServiceLinkedHub.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningService.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceAccessPolicy.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceCertificate.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceEnrollment.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceEnrollmentGroup.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceLinkedHub.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Get-AzIoTDeviceProvisioningServiceRegistration.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/New-AzIoTDeviceProvisioningService.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/New-AzIoTDeviceProvisioningServiceCertificateVerificationCode.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningService.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceAccessPolicy.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceCertificate.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceEnrollment.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceEnrollmentGroup.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceLinkedHub.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Remove-AzIoTDeviceProvisioningServiceRegistration.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Set-AzIoTDeviceProvisioningServiceCertificate.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Set-AzIoTDeviceProvisioningServiceEnrollment.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Set-AzIoTDeviceProvisioningServiceEnrollmentGroup.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Update-AzIoTDeviceProvisioningService.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Update-AzIoTDeviceProvisioningServiceAccessPolicy.md
  src/DeviceProvisioningServices/DeviceProvisioningServices/help/Update-AzIoTDeviceProvisioningServiceLinkedHub.md
Due: none

Split Az.DevSpaces Examples
  src/DevSpaces/DevSpaces/help/Get-AzDevSpacesController.md
  src/DevSpaces/DevSpaces/help/New-AzDevSpacesController.md
  src/DevSpaces/DevSpaces/help/Remove-AzDevSpacesController.md
  src/DevSpaces/DevSpaces/help/Update-AzDevSpacesController.md
Due: none

Split Az.DevTestLabs Examples
  src/DevTestLabs/DevTestLabs/help/Get-AzDtlAllowedVMSizesPolicy.md
  src/DevTestLabs/DevTestLabs/help/Get-AzDtlVMsPerLabPolicy.md
  src/DevTestLabs/DevTestLabs/help/Get-AzDtlVMsPerUserPolicy.md
  src/DevTestLabs/DevTestLabs/help/Set-AzDtlAllowedVMSizesPolicy.md
  src/DevTestLabs/DevTestLabs/help/Set-AzDtlVMsPerLabPolicy.md
  src/DevTestLabs/DevTestLabs/help/Set-AzDtlVMsPerUserPolicy.md
Due: none

add SqlSetting property to azure firewall policy and corresponding property creation cmdlet
  src/Network/Network/Az.Network.psd1
  src/Network/Network/AzureFirewallPolicy/NewAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SqlSetting/NewAzureFirewallSqlSettingCommand.cs
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicySqlSettings.cs
Due: none

Split Az.DigitalTwins Examples
  src/DigitalTwins/help/Get-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/help/Get-AzDigitalTwinsInstance.md
  src/DigitalTwins/help/New-AzDigitalTwinsCheckNameRequestObject.md
  src/DigitalTwins/help/New-AzDigitalTwinsDigitalTwinsIdentityObject.md
  src/DigitalTwins/help/New-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/help/New-AzDigitalTwinsInstance.md
  src/DigitalTwins/help/Remove-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/help/Remove-AzDigitalTwinsInstance.md
  src/DigitalTwins/help/Test-AzDigitalTwinsInstanceNameAvailability.md
  src/DigitalTwins/help/Update-AzDigitalTwinsInstance.md
Due: none

Added initializion of SshCredentialFactory
  src/Accounts/Authentication/AzureSessionInitializer.cs
Due: none

add SqlSetting property to set az firewall policy operation
  src/Network/Network/AzureFirewallPolicy/NewAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SetAzureFirewallPolicyCommand.cs
  src/Network/Network/ChangeLog.md
Due: none

Split Az.DigitalTwins Examples in generation
  src/DigitalTwins/docs/Get-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/docs/Get-AzDigitalTwinsInstance.md
  src/DigitalTwins/docs/New-AzDigitalTwinsCheckNameRequestObject.md
  src/DigitalTwins/docs/New-AzDigitalTwinsDigitalTwinsIdentityObject.md
  src/DigitalTwins/docs/New-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/docs/New-AzDigitalTwinsInstance.md
  src/DigitalTwins/docs/Remove-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/docs/Remove-AzDigitalTwinsInstance.md
  src/DigitalTwins/docs/Test-AzDigitalTwinsInstanceNameAvailability.md
  src/DigitalTwins/docs/Update-AzDigitalTwinsInstance.md
  src/DigitalTwins/examples/Get-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/examples/Get-AzDigitalTwinsInstance.md
  src/DigitalTwins/examples/New-AzDigitalTwinsCheckNameRequestObject.md
  src/DigitalTwins/examples/New-AzDigitalTwinsDigitalTwinsIdentityObject.md
  src/DigitalTwins/examples/New-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/examples/New-AzDigitalTwinsInstance.md
  src/DigitalTwins/examples/Remove-AzDigitalTwinsEndpoint.md
  src/DigitalTwins/examples/Remove-AzDigitalTwinsInstance.md
  src/DigitalTwins/examples/Test-AzDigitalTwinsInstanceNameAvailability.md
  src/DigitalTwins/examples/Update-AzDigitalTwinsInstance.md
Due: none

update .md files after package build
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsDeletedWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/New-AzOperationalInsightsTableColumnObject.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/New-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Remove-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Remove-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Update-AzOperationalInsightsWorkspace.md
Due: none

Split Az.DiskPool Examples
  src/DiskPool/help/Get-AzDiskPool.md
  src/DiskPool/help/Get-AzDiskPoolIscsiTarget.md
  src/DiskPool/help/Get-AzDiskPoolOutboundNetworkDependencyEndpoint.md
  src/DiskPool/help/Get-AzDiskPoolResourceSku.md
  src/DiskPool/help/Get-AzDiskPoolZone.md
  src/DiskPool/help/Invoke-AzDiskPoolRedeployment.md
  src/DiskPool/help/New-AzDiskPool.md
  src/DiskPool/help/New-AzDiskPoolAclObject.md
  src/DiskPool/help/New-AzDiskPoolIscsiLunObject.md
  src/DiskPool/help/New-AzDiskPoolIscsiTarget.md
  src/DiskPool/help/Remove-AzDiskPool.md
  src/DiskPool/help/Remove-AzDiskPoolIscsiTarget.md
  src/DiskPool/help/Start-AzDiskPool.md
  src/DiskPool/help/Stop-AzDiskPool.md
  src/DiskPool/help/Update-AzDiskPool.md
  src/DiskPool/help/Update-AzDiskPoolIscsiTarget.md
Due: none

Update pipeline
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Split Az.DiskPool Examples in generation
  src/DiskPool/docs/Get-AzDiskPool.md
  src/DiskPool/docs/Get-AzDiskPoolIscsiTarget.md
  src/DiskPool/docs/Get-AzDiskPoolOutboundNetworkDependencyEndpoint.md
  src/DiskPool/docs/Get-AzDiskPoolResourceSku.md
  src/DiskPool/docs/Get-AzDiskPoolZone.md
  src/DiskPool/docs/Invoke-AzDiskPoolRedeployment.md
  src/DiskPool/docs/New-AzDiskPool.md
  src/DiskPool/docs/New-AzDiskPoolAclObject.md
  src/DiskPool/docs/New-AzDiskPoolIscsiLunObject.md
  src/DiskPool/docs/New-AzDiskPoolIscsiTarget.md
  src/DiskPool/docs/Remove-AzDiskPool.md
  src/DiskPool/docs/Remove-AzDiskPoolIscsiTarget.md
  src/DiskPool/docs/Start-AzDiskPool.md
  src/DiskPool/docs/Stop-AzDiskPool.md
  src/DiskPool/docs/Update-AzDiskPool.md
  src/DiskPool/docs/Update-AzDiskPoolIscsiTarget.md
  src/DiskPool/examples/Get-AzDiskPool.md
  src/DiskPool/examples/Get-AzDiskPoolIscsiTarget.md
  src/DiskPool/examples/Get-AzDiskPoolOutboundNetworkDependencyEndpoint.md
  src/DiskPool/examples/Get-AzDiskPoolResourceSku.md
  src/DiskPool/examples/Get-AzDiskPoolZone.md
  src/DiskPool/examples/Invoke-AzDiskPoolRedeployment.md
  src/DiskPool/examples/New-AzDiskPool.md
  src/DiskPool/examples/New-AzDiskPoolAclObject.md
  src/DiskPool/examples/New-AzDiskPoolIscsiLunObject.md
  src/DiskPool/examples/New-AzDiskPoolIscsiTarget.md
  src/DiskPool/examples/Remove-AzDiskPool.md
  src/DiskPool/examples/Remove-AzDiskPoolIscsiTarget.md
  src/DiskPool/examples/Start-AzDiskPool.md
  src/DiskPool/examples/Stop-AzDiskPool.md
  src/DiskPool/examples/Update-AzDiskPool.md
  src/DiskPool/examples/Update-AzDiskPoolIscsiTarget.md
Due: none

Split Az.Dns Examples
  src/Dns/Dns/help/Add-AzDnsRecordConfig.md
  src/Dns/Dns/help/Get-AzDnsRecordSet.md
  src/Dns/Dns/help/Get-AzDnsZone.md
  src/Dns/Dns/help/New-AzDnsRecordConfig.md
  src/Dns/Dns/help/New-AzDnsRecordSet.md
  src/Dns/Dns/help/New-AzDnsZone.md
  src/Dns/Dns/help/Remove-AzDnsRecordConfig.md
  src/Dns/Dns/help/Remove-AzDnsRecordSet.md
  src/Dns/Dns/help/Remove-AzDnsZone.md
  src/Dns/Dns/help/Set-AzDnsRecordSet.md
  src/Dns/Dns/help/Set-AzDnsZone.md
Due: none

[msi]init.
  src/ManagedServiceIdentity/.gitattributes
  src/ManagedServiceIdentity/.gitignore
  src/ManagedServiceIdentity/Az.ManagedServiceIdentity.psd1
  src/ManagedServiceIdentity/README.md
  src/ManagedServiceIdentity/custom/README.md
  src/ManagedServiceIdentity/docs/Az.ManagedServiceIdentity.md
  src/ManagedServiceIdentity/docs/Get-AzSystemAssignedIdentity.md
  src/ManagedServiceIdentity/docs/Get-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/docs/New-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/docs/README.md
  src/ManagedServiceIdentity/docs/Remove-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/docs/Update-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/examples/Get-AzSystemAssignedIdentity.md
  src/ManagedServiceIdentity/examples/Get-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/examples/New-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/examples/Remove-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/examples/Update-AzUserAssignedIdentity.md
  src/ManagedServiceIdentity/how-to.md
  src/ManagedServiceIdentity/license.txt
  src/ManagedServiceIdentity/resources/README.md
  src/ManagedServiceIdentity/test/Get-AzManagedServiceIdentitySystemAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Get-AzManagedServiceIdentityUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Get-AzSystemAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Get-AzUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/New-AzManagedServiceIdentityUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/New-AzUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/README.md
  src/ManagedServiceIdentity/test/Remove-AzManagedServiceIdentityUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Remove-AzUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Set-AzManagedServiceIdentityUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Set-AzUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Update-AzManagedServiceIdentityUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/Update-AzUserAssignedIdentity.Tests.ps1
  src/ManagedServiceIdentity/test/loadEnv.ps1
  src/ManagedServiceIdentity/test/utils.ps1
  src/ManagedServiceIdentity/utils/Unprotect-SecureString.ps1
Due: none

Change image registry credntial to only fill when included in request (#17089)
  src/ContainerInstance/custom/New-AzContainerGroupImageRegistryCredentialObject.ps1
Due: none

.md files update after build
  src/OperationalInsights/OperationalInsights.Autorest/Az.OperationalInsights.psd1
  src/OperationalInsights/OperationalInsights.Autorest/docs/Az.OperationalInsights.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsDeletedWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Get-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/New-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/New-AzOperationalInsightsTableColumnObject.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/New-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Remove-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Remove-AzOperationalInsightsWorkspace.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Update-AzOperationalInsightsTable.md
  src/OperationalInsights/OperationalInsights.Autorest/docs/Update-AzOperationalInsightsWorkspace.md
Due: none

make ISshCredentialFactory a component of AzureSession
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Authentication/Authentication/SshCredential.cs
  src/Accounts/Authentication/AzureSessionInitializer.cs
  src/Accounts/Authentication/Factories/SshCredentialFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.2.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.2.0.0-preview.nupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzApplicationGatewayRewriteRuleSet.md
  src/Network/Network/help/New-AzApplicationGatewayRewriteRuleSet.md
Due: none

Remove the writeline which is for testing.
  tools/Az.Tools.Predictor/Az.Tools.Predictor/AzPredictorSurveyHelper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update TestRegisteredServer.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestRegisteredServer.json
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageSync/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed the unneeded files
  src/DnsResolver/README.md
  src/DnsResolver/resources/specification/common-types/resource-management/v2/types.json
  src/DnsResolver/resources/specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/dnsresolver.json
Due: none

Fixed existing DNS resolver tests
  src/DnsResolver/test/New-AzDnsResolver.Recording.json
  src/DnsResolver/test/New-AzDnsResolver.Tests.ps1
Due: none

Update pipeline
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update pipeline
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Supports soft delete
  src/KeyVault/KeyVault.Test/KeyVault.Test.csproj
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.cs
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmPurgeProtection.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmSoftDelete.json
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/GetAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/NewAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/RemoveAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/UpdateAzureManagedHsm.cs
  src/KeyVault/KeyVault/KeyVault.csproj
  src/KeyVault/KeyVault/KeyVault.format.ps1xml
  src/KeyVault/KeyVault/Models/ManagedHsmHelper.cs
  src/KeyVault/KeyVault/Models/PSDeletedKeyVault.cs
  src/KeyVault/KeyVault/Models/PSDeletedManagedHsm.cs
  src/KeyVault/KeyVault/Models/PSKeyVault.cs
  src/KeyVault/KeyVault/Models/PSManagedHsm.cs
  src/KeyVault/KeyVault/Models/VaultManagementClient.cs
  src/KeyVault/KeyVault/Properties/Resources.Designer.cs
  src/KeyVault/KeyVault/Properties/Resources.resx
  src/KeyVault/KeyVault/help/Get-AzKeyVaultManagedHsm.md
  src/KeyVault/KeyVault/help/New-AzKeyVaultManagedHsm.md
  src/KeyVault/KeyVault/help/Remove-AzKeyVaultManagedHsm.md
  src/KeyVault/KeyVault/help/Update-AzKeyVaultManagedHsm.md
Due: none

add scenario test and session records
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyCRUDWithNatRuleTranslatedFQDN.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyCRUDWithNetworkRuleDestinationFQDNs.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPremiumFeatures.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPremiumWithTerminateTLSDisabledAndTargetUrls.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPremiumWithTerminateTLSEnabled.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPremiumWithTerminateTLSEnabledAndTargetUrls.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPrivateRangeCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyWithDNSSettings.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyWithIpGroups.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyWithSQLSetting.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyWithThreatIntelWhitelistCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyWithWebCategories.json
  src/Network/Network/AzureFirewallPolicy/NewAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SetAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SqlSetting/NewAzureFirewallSqlSettingCommand.cs
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicySqlSetting.cs
  src/Network/Network/help/New-AzFirewallPolicy.md
  src/Network/Network/help/New-AzFirewallPolicySqlSetting.md
  src/Network/Network/help/Set-AzFirewallPolicy.md
Due: none

Initial Commits - Adding support, GET,NEW,UPDATE cmdlets for client encryption keys for CosmosDB Always Encrypted.
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TestController.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TestHelper.cs
  src/CosmosDB/CosmosDB.sln
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/PSKeyWrapMetadata.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlClientEncryptionKeyGetResults.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlClientEncryptionKeyPropertiesResource.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlKeyWrapMetadata.cs
  src/CosmosDB/CosmosDB/SQL/GetAzCosmosDbClientEncryptionKey.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDbClientEncryptionKey.cs
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDbClientEncryptionKey.cs
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
