Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update Readme.md file
  src/FluidRelay/FluidRelay.Autorest/README.md
  src/FluidRelay/FluidRelay.Autorest/docs/Remove-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/generate-info.json
  src/FluidRelay/FluidRelay.Autorest/test/AzFluidRelayServer.Recording.json
  src/FluidRelay/FluidRelay.Autorest/test/AzFluidRelayServerKey.Recording.json
  src/FluidRelay/FluidRelay.Autorest/test/env.json
  src/FluidRelay/FluidRelay.sln
  src/FluidRelay/FluidRelay/Az.FluidRelay.psd1
  src/FluidRelay/FluidRelay/help/Remove-AzFluidRelayServer.md
Due: none

Fixed some issues in help/az.{module}.md (#27646)
  src/ArizeAI/ArizeAI/help/Az.ArizeAI.md
  src/CosmosDB/CosmosDB/help/Az.CosmosDB.md
  src/LambdaTest/LambdaTest/help/Az.LambdaTest.md
  src/Pinecone/Pinecone/help/Az.Pinecone.md
  src/ScVmm/ScVmm/help/Az.ScVmm.md
  src/SignalR/SignalR/help/Az.SignalR.md
  src/Ssh/Ssh/help/Az.Ssh.md
  src/WeightsAndBiases/WeightsAndBiases/help/Az.WeightsAndBiases.md
Due: none

update parameter name
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/Properties/AssemblyInfo.cs
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/README.md
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/docs/Get-AzRedisEnterpriseCacheSku.md
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/examples/Get-AzRedisEnterpriseCacheSku.md
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/test/Get-AzRedisEnterpriseCacheSku.Tests.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache/Az.RedisEnterpriseCache.psd1
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheSku.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Update-AzRedisEnterpriseCache.md
Due: none

add title
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/examples/Get-AzRedisEnterpriseCacheSku.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheSku.md
Due: none

[Synapse] Fix an error not calling base.BeginProcessing (#27643)
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Commands/DataPlaneCommands/Artifact/WorkspacePackages/SynapseDataMovementCmdletBase.cs
Due: none

add doc title
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/docs/Get-AzRedisEnterpriseCacheSku.md
Due: none

regenerate changes
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/Az.RedisEnterpriseCache.sln
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/Properties/AssemblyInfo.cs
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/generate-info.json
  src/RedisEnterpriseCache/RedisEnterpriseCache.sln
Due: none

regenerate files
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/generate-info.json
  src/RedisEnterpriseCache/RedisEnterpriseCache.sln
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Az.RedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Export-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheAccessPolicyAssignment.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheDatabase.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheKey.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheOperationStatus.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Get-AzRedisEnterpriseCacheSku.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Import-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Invoke-AzRedisEnterpriseCacheForceDatabaseLinkToReplicationGroup.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Invoke-AzRedisEnterpriseCacheForceDatabaseUnlink.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/New-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/New-AzRedisEnterpriseCacheAccessPolicyAssignment.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/New-AzRedisEnterpriseCacheDatabase.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/New-AzRedisEnterpriseCacheKey.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Remove-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Remove-AzRedisEnterpriseCacheAccessPolicyAssignment.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Remove-AzRedisEnterpriseCacheDatabase.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Update-AzRedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Update-AzRedisEnterpriseCacheDatabase.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/help/Update-AzRedisEnterpriseCacheDatabaseDbRedisVersion.md
Due: none

update recording file
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/test/Get-AzRedisEnterpriseCacheSku.Recording.json
Due: none

update example
  src/ImageBuilder/ImageBuilder.Autorest/Properties/AssemblyInfo.cs
  src/ImageBuilder/ImageBuilder.Autorest/docs/Get-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/docs/New-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/docs/Remove-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/docs/Start-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/docs/Stop-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/generate-info.json
  src/ImageBuilder/ImageBuilder.sln
  src/ImageBuilder/ImageBuilder/help/Get-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder/help/New-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder/help/Remove-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder/help/Start-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder/help/Stop-AzImageBuilderTemplate.md
Due: none

updated the commitId and version
  src/NeonPostgres/NeonPostgres.Autorest/README.md
Due: none

updated module version and removed unused operations
  src/NeonPostgres/NeonPostgres.Autorest/README.md
Due: none

Update Readme.md file
  src/FluidRelay/FluidRelay.Autorest/README.md
  src/FluidRelay/FluidRelay.Autorest/generate-info.json
  src/FluidRelay/FluidRelay.sln
Due: none

Update Readme.md file
  src/Elastic/Elastic.Autorest/README.md
  src/Elastic/Elastic.Autorest/docs/Get-AzElasticOrganizationApiKey.md
  src/Elastic/Elastic.Autorest/generate-info.json
  src/Elastic/Elastic.sln
  src/Elastic/Elastic/Az.Elastic.psd1
  src/Elastic/Elastic/help/Get-AzElasticOrganizationApiKey.md
Due: none

Update Readme.md file
  src/FluidRelay/FluidRelay.Autorest/README.md
Due: none

updated the ReadMe.md
  src/NeonPostgres/NeonPostgres.Autorest/README.md
Due: none

Fixed ChangeLog.md of standbypool
  src/StandbyPool/StandbyPool/ChangeLog.md
Due: none

test 8
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 9
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 10
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fixed ChangeLog.md of standbypool (#27648)
  src/StandbyPool/StandbyPool/ChangeLog.md
Due: none

Update RmCoreSmokeTests.ps1
  tools/Test/SmokeTest/RmCoreSmokeTests.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix init help index for new module
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update RmCoreSmokeTests.ps1 (#27650)
  tools/Test/SmokeTest/RmCoreSmokeTests.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[DataFactory]Powershell Release
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AzureDatabricksLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AzureDatabricksLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
Due: none

add
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

add
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForOracleAuthenticationType.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForOracleLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
Due: none

Improve the code of Az.Accounts with reference to copilot
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/CommonModule/EnvironmentExtensions.cs
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
Due: none

[Eng] Fixed module help markdown index for new module (#27651)
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[DataFactory]Powershell Release (#27652)
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForOracleAuthenticationType.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AmazonRdsForOracleLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AzureDatabricksLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/AzureDatabricksLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

[Az.FluidRelay] Update generation tool version: autorest.powershell v3->v4 (#27639)
  src/FluidRelay/FluidRelay.Autorest/Properties/AssemblyInfo.cs
  src/FluidRelay/FluidRelay.Autorest/README.md
  src/FluidRelay/FluidRelay.Autorest/docs/Az.FluidRelay.md
  src/FluidRelay/FluidRelay.Autorest/docs/Get-AzFluidRelayContainer.md
  src/FluidRelay/FluidRelay.Autorest/docs/Get-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/docs/Get-AzFluidRelayServerKey.md
  src/FluidRelay/FluidRelay.Autorest/docs/New-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/docs/New-AzFluidRelayServerKey.md
  src/FluidRelay/FluidRelay.Autorest/docs/Remove-AzFluidRelayContainer.md
  src/FluidRelay/FluidRelay.Autorest/docs/Remove-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/docs/Update-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/examples/New-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/examples/Update-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay.Autorest/generate-info.json
  src/FluidRelay/FluidRelay.Autorest/resources/README.md
  src/FluidRelay/FluidRelay.Autorest/test/AzFluidRelayServer.Recording.json
  src/FluidRelay/FluidRelay.Autorest/test/AzFluidRelayServer.Tests.ps1
  src/FluidRelay/FluidRelay.Autorest/test/AzFluidRelayServerKey.Recording.json
  src/FluidRelay/FluidRelay.Autorest/test/env.json
  src/FluidRelay/FluidRelay.sln
  src/FluidRelay/FluidRelay/Az.FluidRelay.psd1
  src/FluidRelay/FluidRelay/ChangeLog.md
  src/FluidRelay/FluidRelay/help/Az.FluidRelay.md
  src/FluidRelay/FluidRelay/help/Get-AzFluidRelayContainer.md
  src/FluidRelay/FluidRelay/help/Get-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay/help/Get-AzFluidRelayServerKey.md
  src/FluidRelay/FluidRelay/help/New-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay/help/New-AzFluidRelayServerKey.md
  src/FluidRelay/FluidRelay/help/Remove-AzFluidRelayContainer.md
  src/FluidRelay/FluidRelay/help/Remove-AzFluidRelayServer.md
  src/FluidRelay/FluidRelay/help/Update-AzFluidRelayServer.md
Due: none
