Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

fix test failure
  src/EventGrid/EventGrid/Utilities/EventGridClient.cs
Due: none

Finished change directory
  src/Reservations/test/Move-AzReservationDirectory.Recording.json
Due: none

tests
  src/Network/Network.Test/ScenarioTests/CortexTests.ps1
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayConnectionTests.ps1
  src/Network/Network/VirtualNetworkGatewayConnection/GetAzureVirtualNetworkGatewayConnectionCommand.cs
  src/Network/Network/VirtualNetworkGatewayConnection/VirtualNetworkGatewayConnectionBaseCmdlet.cs
Due: none

[SQL] Fix identity for SetAzSqlDatabase cmdlet
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Common/DatabaseIdentityAndKeysHelper.cs
  src/Sql/Sql/Database Backup/Cmdlet/RestoreAzureRMSqlDatabase.cs
  src/Sql/Sql/Database/Cmdlet/NewAzureSqlDatabase.cs
  src/Sql/Sql/Database/Cmdlet/SetAzureSqlDatabase.cs
  src/Sql/Sql/Replication/Cmdlet/NewAzureSqlDatabaseCopy.cs
  src/Sql/Sql/Replication/Cmdlet/NewAzureSqlDatabaseSecondary.cs
Due: none

Fix broken parameter sets
  src/Ssh/Ssh/Common/SshBaseCmdlet.cs
  src/Ssh/Ssh/Properties/Resources.Designer.cs
  src/Ssh/Ssh/Properties/Resources.resx
Due: none

Fix changelog
  src/Sql/Sql/ChangeLog.md
Due: none

Remove Resources string for error that never happens
  src/Ssh/Ssh/Properties/Resources.Designer.cs
  src/Ssh/Ssh/Properties/Resources.resx
Due: none

Fix broken parameter sets
  src/Ssh/Ssh/Common/SshBaseCmdlet.cs
Due: none

Update common library versions
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Change description of AccountEnabled (#21060)
  src/Resources/MSGraph.Autorest/Az.MSGraph.psd1
  src/Resources/MSGraph.Autorest/README.md
  src/Resources/MSGraph.Autorest/custom/Update-AzADUser.ps1
  src/Resources/MSGraph.Autorest/docs/Update-AzADUser.md
  src/Resources/MSGraph.Autorest/exports/Add-AzADAppPermission.ps1
  src/Resources/MSGraph.Autorest/exports/Add-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADAppCredential.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADAppPermission.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADSpCredential.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADUser.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADAppCredential.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADSpCredential.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADUser.ps1
  src/Resources/MSGraph.Autorest/exports/ProxyCmdletDefinitions.ps1
  src/Resources/MSGraph.Autorest/exports/README.md
  src/Resources/MSGraph.Autorest/exports/Remove-AzADAppCredential.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADAppPermission.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADSpCredential.ps1
  src/Resources/MSGraph.Autorest/exports/Remove-AzADUser.ps1
  src/Resources/MSGraph.Autorest/exports/Update-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/exports/Update-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/exports/Update-AzADUser.ps1
Due: none

Update src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

Change different level
  .github/azure-client-tools-bot/config.yml
Due: azure-pipelines.yml

Move Resources to main
  src/Resources/Authorization.Autorest/create-model-cmdlets.ps1
  src/Resources/Authorization.Autorest/docs/Az.Authorization.md
  src/Resources/Authorization.Autorest/generate-info.json
  src/Resources/MSGraph.Autorest/README.md
  src/Resources/MSGraph.Autorest/create-model-cmdlets.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADAppFederatedIdentityCredential.ps1
  src/Resources/MSGraph.Autorest/custom/New-AzADAppFederatedIdentityCredential.ps1
  src/Resources/MSGraph.Autorest/custom/Update-AzADUser.ps1
  src/Resources/MSGraph.Autorest/docs/Update-AzADUser.md
  src/Resources/MSGraph.Autorest/exports/Get-AzADAppFederatedCredential.ps1
  src/Resources/MSGraph.Autorest/exports/New-AzADAppFederatedCredential.ps1
  src/Resources/MSGraph.Autorest/exports/ProxyCmdletDefinitions.ps1
  src/Resources/MSGraph.Autorest/exports/Update-AzADUser.ps1
  src/Resources/MSGraph.Autorest/generate-info.json
  src/Resources/MSGraph.Autorest/generated/cmdlets/UpdateAzAdUser_UpdateExpanded.cs
  src/Resources/MSGraph.Autorest/internal/ProxyCmdletDefinitions.ps1
  src/Resources/MSGraph.Autorest/internal/Update-AzADUser.ps1
  src/Resources/Resources/Az.Resources.psd1
  src/Resources/Resources/help/New-AzADAppCredential.md
  src/Resources/Resources/help/Remove-AzManagementGroupHierarchySetting.md
  src/Resources/Resources/help/Update-AzADUser.md
Due: none

Change different level
  src/Compute/Compute/Custom/VirtualMachineExtensions.cs
Due: none

Reverted cmdlet error check and added -Force for New-AzResourceGroup
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix logic
  src/Sql/Sql/Common/DatabaseIdentityAndKeysHelper.cs
Due: none

Reverted cmdlet error check and added -Force for New-AzResourceGroup (#21087)
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update common library versions (#21067)
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Prepare for a new release for Az.Tools.Predictor (#21037)
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Az.Tools.Predictor.psd1
  tools/Az.Tools.Predictor/Az.Tools.Predictor/ChangeLog.md
  tools/Az.Tools.Predictor/Directory.Build.props
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

PR Review comments
  src/Batch/Batch.Test/Batch.Test.csproj
  src/CognitiveServices/CognitiveServices.Test/CognitiveServices.Test.csproj
  src/Compute/Compute.Test/Compute.Test.csproj
  src/ContainerRegistry/ContainerRegistry.Test/ContainerRegistry.Test.csproj
  src/CosmosDB/CosmosDB.Test/CosmosDB.Test.csproj
  src/DataLakeStore/DataLakeStore.Test/DataLakeStore.Test.csproj
  src/Dns/Dns.Test/Dns.Test.csproj
  src/HDInsight/HDInsight.Test/HDInsight.Test.csproj
  src/HPCCache/HPCCache.Test/HPCCache.Test.csproj
  src/KeyVault/KeyVault.Test/KeyVault.Test.csproj
  src/Monitor/Monitor.Test/Monitor.Test.csproj
  src/NetAppFiles/NetAppFiles.Test/NetAppFiles.Test.csproj
  src/Network/Network/ChangeLog.md
  src/Network/Network/help/New-AzApplicationGatewayFirewallCustomRule.md
  src/PrivateDns/PrivateDns.Test/PrivateDns.Test.csproj
  src/RecoveryServices/RecoveryServices.Backup.Test/RecoveryServices.Backup.Test.csproj
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/RecoveryServices.SiteRecovery.Test.csproj
  src/SignalR/SignalR.Test/SignalR.Test.csproj
  src/Sql/Sql.Test/Sql.Test.csproj
  src/SqlVirtualMachine/SqlVirtualMachine.Test/SqlVirtualMachine.Test.csproj
Due: none

Fix broken parameter sets (#21082)
  src/Ssh/Ssh/Common/SshBaseCmdlet.cs
Due: none

Bug Fix in New-AzManagementGroup cmdlet (#21000)
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestCheckNameAvailabilityFalse.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestCheckNameAvailabilityTrue.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestCheckNameWithInvalidCharacters.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetEntities.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetManagementGroup.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetManagementGroupSubscription.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetManagementGroupWithExpand.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetManagementGroupWithExpandAndRecurse.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetTenantBackfillStatus.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestGetsubscriptionsUnderManagementGroup.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewAuthorizationHierarcySetting.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewDefaultMGHierarcySetting.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewHierarchySettings.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewManagementGroup.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewManagementGroupWithDisplayName.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewManagementGroupWithDisplayNameAndParentId.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewManagementGroupWithParentId.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestNewRemoveManagementGroupSubscription.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestRemoveHierarcySetting.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestRemoveManagementGroup.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestStartTenantBackfill.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateBothHierarchySettings.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateHierarchySettingsAuth.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateHierarchySettingsDefaultMG.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateManagementGroupWithDisplayName.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateManagementGroupWithDisplayNameAndParentId.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.ManagementGroupsTests/TestUpdateManagementGroupWithParentId.json
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/ManagementGroups/NewAzureRmManagementGroup.cs
Due: none

Save the pull request number into pipeline result (#21059)
  .azure-pipelines/util/test-steps.yml
  build.proj
  tools/ExecuteCIStep.ps1
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/util/test-steps.yml
  build.proj
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Az.Tools.Predictor.psd1
  tools/Az.Tools.Predictor/Az.Tools.Predictor/ChangeLog.md
  tools/Az.Tools.Predictor/Directory.Build.props
  tools/ExecuteCIStep.ps1
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update
  .github/azure-client-tools-bot/config.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update GetAzureVMExtensionCommand.cs
  src/Compute/Compute/Extension/GetAzureVMExtensionCommand.cs
Due: none

[SQL] Bugfix - Fix identity cmdlets (#21086)
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Common/DatabaseIdentityAndKeysHelper.cs
  src/Sql/Sql/Database Backup/Cmdlet/RestoreAzureRMSqlDatabase.cs
  src/Sql/Sql/Database/Cmdlet/NewAzureSqlDatabase.cs
  src/Sql/Sql/Database/Cmdlet/SetAzureSqlDatabase.cs
  src/Sql/Sql/Replication/Cmdlet/NewAzureSqlDatabaseCopy.cs
  src/Sql/Sql/Replication/Cmdlet/NewAzureSqlDatabaseSecondary.cs
Due: none

Delete TestLiveScenarios.ps1
  src/AnalysisServices/AnalysisServices.Test/LiveTests/TestLiveScenarios.ps1
Due: none

Sync tools folder from main branch to generation branch (#21088)
  .azure-pipelines/util/test-steps.yml
  build.proj
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Az.Tools.Predictor.psd1
  tools/Az.Tools.Predictor/Az.Tools.Predictor/ChangeLog.md
  tools/Az.Tools.Predictor/Directory.Build.props
  tools/ExecuteCIStep.ps1
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Removed the $lastexitcode due to unexpected issues on non-windows system
  src/Compute/Compute.Test/LiveTests/TestLiveScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Modified cleanup jobs info
  tools/TestFx/Live/DebugLocalLiveTestScenarios.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed $lastexitcode due to unexpected issues on non-windows systems (#21091)
  src/Compute/Compute.Test/LiveTests/TestLiveScenarios.ps1
  tools/TestFx/Live/DebugLocalLiveTestScenarios.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

initial frequency service with singleton
  src/Accounts/Authentication/Utilities/FrequencyService.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
