Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Use Az.KeyVault to get github PAT instead of pipeline variable
  .azure-pipelines/code-gen.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Use Az.KeyVault to get github PAT instead of pipeline variable
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix POST operations
  src/Marketplace/Marketplace.Autorest/README.md
Due: none

Update to preview version. Fix analyze errors
  src/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/README.md
  src/ElasticSan/docs/Az.ElasticSanCmdlet.Design.md
  src/ElasticSan/docs/Get-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/docs/New-AzElasticSanVolume.md
  src/ElasticSan/docs/New-AzElasticSanVolumeGroup.md
  src/ElasticSan/docs/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/docs/Remove-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/examples/Get-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/examples/New-AzElasticSanVolume.md
  src/ElasticSan/examples/New-AzElasticSanVolumeGroup.md
  src/ElasticSan/examples/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/examples/Remove-AzElasticSanVolumeSnapshot.md
Due: none

Migrate ConnectedKubernetes from generation to main (#22789)
  src/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/build-module.ps1
  src/ConnectedKubernetes/create-model-cmdlets.ps1
  src/ConnectedKubernetes/custom/Csharp/Module.cs
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetesUserCredential.ps1
  src/ConnectedKubernetes/exports/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/exports/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/Update-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/generate-info.json
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetesOperation_Get.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetesUserCredential_List.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetesUserCredential_ListExpanded.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetes_Get.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetes_GetViaIdentity.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetes_List.cs
  src/ConnectedKubernetes/generated/cmdlets/GetAzConnectedKubernetes_List1.cs
  src/ConnectedKubernetes/generated/cmdlets/NewAzConnectedKubernetes_CreateExpanded.cs
  src/ConnectedKubernetes/generated/cmdlets/RemoveAzConnectedKubernetes_Delete.cs
  src/ConnectedKubernetes/generated/cmdlets/RemoveAzConnectedKubernetes_DeleteViaIdentity.cs
  src/ConnectedKubernetes/generated/cmdlets/UpdateAzConnectedKubernetes_UpdateExpanded.cs
  src/ConnectedKubernetes/generated/cmdlets/UpdateAzConnectedKubernetes_UpdateViaIdentityExpanded.cs
  src/ConnectedKubernetes/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  src/ConnectedKubernetes/generated/runtime/MessageAttribute.cs
  src/ConnectedKubernetes/generated/runtime/MessageAttributeHelper.cs
  src/ConnectedKubernetes/generated/runtime/Properties/Resources.Designer.cs
  src/ConnectedKubernetes/generated/runtime/Properties/Resources.resx
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/internal/Get-AzConnectedKubernetesOperation.ps1
  src/ConnectedKubernetes/internal/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/internal/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/Update-AzConnectedKubernetes.ps1
Due: none

Update with the latest test coverage data
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for ConnectedKubernetes
  VersionInfo.json
  src/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.ConnectedKubernetes.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update example
  src/ElasticSan/examples/New-AzElasticSanVolume.md
Due: none

Create a unique step to get github PAT and set it to environment (#22918)
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-sign.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/sync-MSdoc.yml
  .azure-pipelines/sync-aliases.yml
  .azure-pipelines/sync-tools-folder.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/get-github-pat-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Add support for supplemental parameters
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentCmdletBase.cs
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentStacksCmdletBase.cs
  src/Resources/ResourceManager/Utilities/BicepUtility.cs
  src/Resources/ResourceManager/Utilities/ProcessInvoker.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentFromBicepFile.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentFromBicepFileAndBicepparamFile.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentFromBicepparamFileOnly.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestNewDeploymentFromBicepparamFileWithOverrides.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestTestDeploymentFromBicepFile.json
  src/Resources/Resources.Test/deployWithParamOverrides.bicep
  src/Resources/Resources.Test/deployWithParamOverrides.bicepparam
  src/Resources/Resources.Test/sampleDeploymentBicepFile.bicep
  src/Resources/Resources.Test/sampleDeploymentBicepFileParams.bicepparam
  src/Resources/Resources.Test/sampleDeploymentBicepFileWithoutParamValues.bicep
Due: none

Add changelog entry
  src/Resources/Resources/ChangeLog.md
Due: none

Use precise minimal version #
  src/Resources/ResourceManager/Utilities/BicepUtility.cs
Due: none

compute tests fix
  src/Compute/Compute.Test/ScenarioTests/StrategiesVirtualMachineTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.StrategiesVirtualMachineTests/TestSimpleNewVmWithDefaultDomainName2.json
Due: none

Update ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

recoveryservices tests fixed
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
Due: none

help doc updates and changelog
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVmss.md
Due: none

address comment
  ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-sign.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/sync-MSdoc.yml
  .azure-pipelines/sync-aliases.yml
  .azure-pipelines/sync-tools-folder.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/get-github-pat-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch (#22923)
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-sign.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/sync-MSdoc.yml
  .azure-pipelines/sync-aliases.yml
  .azure-pipelines/sync-tools-folder.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/get-github-pat-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-continuouswebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-continuouswebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-triggeredwebjobs-history.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-triggeredwebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-triggeredwebjobs-history.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-triggeredwebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-authproviders-users.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-builds-userProvidedFunctionApps.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-builds.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-customDomains.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-userProvidedFunctionApps.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites.json
Due: none

update
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-agentPools.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-exportPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-importPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-replications.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-scopeMaps.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-tokens.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-webhooks.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-continuouswebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-continuouswebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-triggeredwebjobs-history.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-slots-triggeredwebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-triggeredwebjobs-history.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/sites-triggeredwebjobs.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-authproviders-users.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-builds-userProvidedFunctionApps.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-builds.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-customDomains.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites-userProvidedFunctionApps.json
  src/Websites/Websites.Autorest/UX/Microsoft.Web/staticSites.json
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/SecurityInsights/ChangeLog.md
Due: none

Update with the latest test coverage data (#22919)
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move StackHCI to main
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/StackHCI.sln
  src/StackHCI/custom/stackhci.ps1
  src/StackHCI/generate-info.json
Due: none

Update ChangeLog.md
  src/StackHCI/ChangeLog.md
Due: none

Sanitize only non-empty string value in the recorded json files
  tools/TestFx/Recorder/RecorderUtilities.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add UX metadata for ContainerRegistry
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-agentPools.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-exportPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-importPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-replications.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-scopeMaps.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-tokens.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-webhooks.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries.json
  src/HanaOnAzure/README.md
Due: none

Migrate StackHCI from generation to main (#22928)
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/ChangeLog.md
  src/StackHCI/StackHCI.sln
  src/StackHCI/custom/stackhci.ps1
  src/StackHCI/generate-info.json
Due: none

Remove the reference to ContainerRegistry.Test
  src/ContainerRegistry/ContainerRegistry.sln
Due: none

Remove the reference to ContainerRegistry.Test (#22931)
  src/ContainerRegistry/ContainerRegistry.sln
Due: none

Add UX metadata for ContainerRegistry
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-agentPools.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-exportPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-importPipelines.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-replications.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-scopeMaps.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-tokens.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries-webhooks.json
  src/ContainerRegistry/ContainerRegistry.Autorest/UX/Microsoft.ContainerRegistry/registries.json
  src/HanaOnAzure/README.md
  src/ResourceMover/README.md
Due: none
