Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Added ModelCmdletAttribute to NewAzStorageMoverUploadLimitWeeklyRecurrenceObject.ps1
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverUploadLimitWeeklyRecurrenceObject.ps1
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.sln
Due: none

sessionRecord: TestManagedHsmSoftDelete
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmSoftDelete.json
Due: none

sessionRecord: TestUndoManagedHsmRemoval
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestUndoManagedHsmRemoval.json
Due: none

support elicitation in example creating
  tools/Mcp/src/CodegenServer.ts
  tools/Mcp/src/services/toolServices.ts
  tools/Mcp/src/services/toolsService.ts
  tools/Mcp/src/services/utils.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[MCP] Support elicitation in create example tool (#28334)
  tools/Mcp/src/CodegenServer.ts
  tools/Mcp/src/services/promptServices.ts
  tools/Mcp/src/services/promptsService.ts
  tools/Mcp/src/services/resourceServices.ts
  tools/Mcp/src/services/resourcesService.ts
  tools/Mcp/src/services/toolServices.ts
  tools/Mcp/src/services/toolsService.ts
  tools/Mcp/src/services/utils.ts
  tools/Mcp/src/types.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageMover/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

breaking change announcement of StorageMover module for autorest v4
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/README.md
  src/StorageMover/StorageMover.Autorest/docs/Az.StorageMover.md
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.Autorest/resources/README.md
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
  src/StorageMover/StorageMover/ChangeLog.md
Due: none

add variants & custom error handler
  src/ResourceMover/ResourceMover.Autorest/Properties/AssemblyInfo.cs
  src/ResourceMover/ResourceMover.Autorest/README.md
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/AddAzResourceMoverMoveResource_CreateViaIdentityMoveCollectionExpanded.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/AddAzResourceMoverMoveResource_CreateViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/AddAzResourceMoverMoveResource_CreateViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/GetAzResourceMoverMoveResource_GetViaIdentityMoveCollection.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverBulkRemove_BulkViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverBulkRemove_BulkViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverCommit_CommitViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverCommit_CommitViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverDiscard_DiscardViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverDiscard_DiscardViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverInitiateMove_InitiateViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverInitiateMove_InitiateViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverPrepare_PrepareViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/InvokeAzResourceMoverPrepare_PrepareViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/NewAzResourceMoverMoveCollection_CreateViaJsonFilePath.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/NewAzResourceMoverMoveCollection_CreateViaJsonString.cs
  src/ResourceMover/ResourceMover.Autorest/custom/csharp/RemoveAzResourceMoverMoveResource_DeleteViaIdentityMoveCollection.cs
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverBulkRemove.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverCommit.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverDiscard.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverInitiateMove.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverPrepare.md
  src/ResourceMover/ResourceMover.Autorest/docs/Remove-AzResourceMoverMoveCollection.md
  src/ResourceMover/ResourceMover.Autorest/generate-info.json
  src/ResourceMover/ResourceMover.sln
  src/ResourceMover/ResourceMover/Az.ResourceMover.psd1
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverBulkRemove.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverCommit.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverDiscard.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverInitiateMove.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverPrepare.md
  src/ResourceMover/ResourceMover/help/Remove-AzResourceMoverMoveCollection.md
Due: none

Remove prompts from examples, and remove newlines from help files
  src/Sql/Sql/help/Lock-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupImmutability.md
  src/Sql/Sql/help/Remove-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
  src/Sql/Sql/help/Set-AzSqlDatabaseBackupLongTermRetentionPolicy.md
  src/Sql/Sql/help/Set-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
Due: none

unit test in ManagedHsmSku.Custom for null name
  src/KeyVault/KeyVault.Management.Sdk/Customized/ManagedHsmSku.Custom.cs
  src/KeyVault/KeyVault.Test/UnitTests/ManagedHsmSkuCustomTests.cs
Due: none

add changelog entry
  src/KeyVault/KeyVault/ChangeLog.md
Due: none

remove tag & update variant
  src/ResourceMover/ResourceMover.Autorest/Properties/AssemblyInfo.cs
  src/ResourceMover/ResourceMover.Autorest/README.md
  src/ResourceMover/ResourceMover.Autorest/generate-info.json
  src/ResourceMover/ResourceMover.sln
Due: none

Update Set-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
  src/Sql/Sql/help/Set-AzSqlDatabaseLongTermRetentionBackupLegalHold.md
Due: none

Apply suggestions from code review
  src/StorageMover/StorageMover.Autorest/README.md
Due: none

[PS] breaking change announcement of StorageMover module for autorest v4 (#28335)
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/README.md
  src/StorageMover/StorageMover.Autorest/docs/Az.StorageMover.md
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.Autorest/resources/README.md
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
  src/StorageMover/StorageMover/ChangeLog.md
Due: none

[skip ci] Archive 241e9a9d0dfe70dccf995b1f69918bbdc1af2775
  generated/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  generated/StorageMover/StorageMover.Autorest/generate-info.json
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/GetAzStorageMoverAgent_Get.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/GetAzStorageMoverAgent_GetViaIdentity.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/GetAzStorageMoverAgent_List.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/NewAzStorageMoverJobDefinition_Create.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/NewAzStorageMoverProject_Create.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverAgent_Update.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverAgent_UpdateExpanded.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverAgent_UpdateViaIdentity.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverAgent_UpdateViaIdentityExpanded.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverJobDefinition_Update.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverJobDefinition_UpdateViaIdentity.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverProject_Update.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMoverProject_UpdateViaIdentity.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMover_Update.cs
  generated/StorageMover/StorageMover.Autorest/generated/cmdlets/UpdateAzStorageMover_UpdateViaIdentity.cs
  generated/StorageMover/StorageMover.Autorest/resources/README.md
Due: none

added a changelog
  src/StorageMover/StorageMover.Autorest/README.md
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
  src/StorageMover/StorageMover/ChangeLog.md
Due: none

[Eng] Delete unused github action
  .github/workflows/sync-main-to-future.yml
Due: azure-pipelines.yml

Fix the test script to add additional parameter to avoid prompt
  src/Sql/Sql.Test/ScenarioTests/DatabaseBackupTests.ps1
Due: none

[Eng] Delete unused github action (#28337)
  .github/workflows/sync-main-to-future.yml
Due: azure-pipelines.yml

Update to TSP gen swagger
  src/StorageAction/StorageAction.Autorest/Properties/AssemblyInfo.cs
  src/StorageAction/StorageAction.Autorest/README.md
  src/StorageAction/StorageAction.Autorest/docs/Az.StorageAction.md
  src/StorageAction/StorageAction.Autorest/docs/Invoke-AzStorageActionTaskPreviewAction.md
  src/StorageAction/StorageAction.Autorest/generate-info.json
  src/StorageAction/StorageAction.sln
  src/StorageAction/StorageAction/Az.StorageAction.psd1
  src/StorageAction/StorageAction/help/Invoke-AzStorageActionTaskPreviewAction.md
Due: none

sessionRecord: TestUpdateVault
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestUpdateVault.json
Due: none

add required parameter
  src/ResourceMover/ResourceMover.Autorest/README.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverCommit.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverDiscard.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverInitiateMove.md
  src/ResourceMover/ResourceMover.Autorest/docs/Invoke-AzResourceMoverPrepare.md
  src/ResourceMover/ResourceMover.Autorest/generate-info.json
  src/ResourceMover/ResourceMover.sln
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverCommit.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverDiscard.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverInitiateMove.md
  src/ResourceMover/ResourceMover/help/Invoke-AzResourceMoverPrepare.md
Due: none

Update ga-modules.yml
  .github/workflows/ga-modules.yml
Due: azure-pipelines.yml

GA Az.Oracle
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

suppress breaking change
  tools/StaticAnalysis/Exceptions/Az.ResourceMover/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

sessionRecord: split publicnetworkaccess tests
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.cs
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateManagedHsmWithDefaultPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateManagedHsmWithDisabledPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateManagedHsmWithEnabledPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmWithManagedServiceIdentity.json
Due: none

[Az.Dns] The code base is going to be refactored, the following cmdlet adds a BreakingChange announcement
  src/Dns/Dns.Autorest/README.md
  src/Dns/Dns/ChangeLog.md
Due: none

Support Default Disabled Rules in AppGW WAF Manifest with ComputedDisabledRules Property (#28327)
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyComputedDisabledRules.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyManagedRuleSetRuleGroup.cs
Due: none

Use 2024-11-01-preview API version instead
  src/Sql/Sql.Management.Sdk/Generated/IManagedInstancesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/ManagedInstancesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/ManagedInstancesOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ErrorDetailAutoGenerated.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ErrorResponseAutoGenerated.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ErrorResponseAutoGeneratedException.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstance.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstanceDatabaseFormat.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstanceProperties.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstanceUpdate.cs
  src/Sql/Sql.Management.Sdk/README.md
  src/Sql/Sql.Test/ScenarioTests/ManagedInstanceCrudScenarioTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ManagedInstanceCrudScenarioTests/TestCreateManagedInstanceFlexibleMemory.json
Due: none

Remove unecessary changes
  build.sln
  src/Sql/Sql.Test/ScenarioTests/Common.ps1
  src/Sql/Sql.Test/ScenarioTests/ManagedInstanceCrudScenarioTests.cs
  src/Sql/Sql.Test/ScenarioTests/ManagedInstanceCrudScenarioTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ManagedInstanceCrudScenarioTests/TestCreateManagedInstance.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ManagedInstanceCrudScenarioTests/TestCreateManagedInstanceFlexibleMemory.json
Due: none

Update ChangeLog.md with the appropriate changes
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstanceValidateAzureKeyVaultEncryptionKeyRequest.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstancesReevaluateInaccessibleDatabaseStateHeaders.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ManagedInstancesValidateAzureKeyVaultEncryptionKeyHeaders.cs
  src/Sql/Sql/ChangeLog.md
Due: none

Update Changelog.md
  src/Network/Network/ChangeLog.md
Due: none

init after `autorest`
  src/ServiceFabric/ServiceFabric.Autorest/.gitattributes
  src/ServiceFabric/ServiceFabric.Autorest/.gitignore
  src/ServiceFabric/ServiceFabric.Autorest/Properties/AssemblyInfo.cs
  src/ServiceFabric/ServiceFabric.Autorest/README.md
  src/ServiceFabric/ServiceFabric.Autorest/custom/Az.ServiceFabric.custom.psm1
  src/ServiceFabric/ServiceFabric.Autorest/custom/README.md
  src/ServiceFabric/ServiceFabric.Autorest/docs/README.md
  src/ServiceFabric/ServiceFabric.Autorest/examples/README.md
  src/ServiceFabric/ServiceFabric.Autorest/how-to.md
  src/ServiceFabric/ServiceFabric.Autorest/resources/README.md
  src/ServiceFabric/ServiceFabric.Autorest/test/README.md
  src/ServiceFabric/ServiceFabric.Autorest/test/loadEnv.ps1
  src/ServiceFabric/ServiceFabric.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/ServiceFabric/ServiceFabric.Autorest/utils/Unprotect-SecureString.ps1
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/Common.ps1
Due: none

TestServiceFabric Recordings: CNCert
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/Common.ps1
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestNewAzureRmServiceFabricCluster.json
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestNewAzureRmServiceFabricClusterCNCert.json
Due: none

converting type system.object[] to system.version
  tools/VersionController/Models/ModuleHelper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

directive to rename Clients -> ClientCertificate to avoid duplicate with API client
  src/ServiceFabric/ServiceFabric.Autorest/README.md
Due: none
