Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update SDKGeneratedCodeVerify.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix buildmodules script
  build.proj
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Change script for testing purpose
  src/DevCenter/DevCenter.AutoRest/test/Get-AzDevCenterAdminAttachedNetwork.Tests.ps1
Due: none

update doc
  src/Fleet/Fleet.Autorest/docs/New-AzFleetUpdateStageObject.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetMember.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetUpdateStrategy.md
Due: none

fix buildmodules script
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix bug
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Pipeline] Update GeneratedSDK verification pipeline (#23634)
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update code-oob.yml for Azure Pipelines
  .azure-pipelines/code-oob.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Test network sdk
  src/Network/Network.Management.Sdk/Generated/AdminRuleCollectionsOperations.cs
Due: none

Test ConnitiveServices sdk
  src/CognitiveServices/CognitiveServices.Management.Sdk/Generated/CognitiveServicesManagementClient.cs
Due: none

Update PR template to ask for release type (#23528)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync sdk
  src/Network/Network.Management.Sdk/Generated/AdminRuleCollectionsOperations.cs
Due: none

remove vmss is present being incorrect
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
Due: none

Fix build issue when specifying -p:TargetModule
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test for ispresent vm
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestIsPresentRemovedVMScenarios.json
Due: none

tests in progress
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

test trying
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
Due: none

Update Example1
  src/Resources/Resources/help/New-AzRoleDefinition.md
Due: none

fixed GetOperationStatus calls to use PSBoundParameters
  src/RecoveryServices/RecoveryServices.Backup.Autorest/custom/Cmdlets/Container/Register-AzRecoveryServicesBackupContainer.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/custom/Helpers/commonhelper.ps1
Due: none

record test cases
  src/RecoveryServices/RecoveryServices.Backup.Autorest/custom/Cmdlets/Container/Register-AzRecoveryServicesBackupContainer.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Edit-AzRecoveryServicesBackupRetentionPolicyClientObject.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Edit-AzRecoveryServicesBackupSchedulePolicyClientObject.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/Get-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/docs/New-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Edit-AzRecoveryServicesBackupRetentionPolicyClientObject.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Edit-AzRecoveryServicesBackupSchedulePolicyClientObject.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupContainer.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupItem.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupProtectableItem.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Get-AzRecoveryServicesBackupProtectionPolicy.Recording.json
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/Register-AzRecoveryServicesBackupContainer.Tests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Autorest/test/env.json
Due: none

Disable context-autosaving on MacOs
  tools/TestFx/Live/ConnectLiveTestServicePrincipal.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove license commands
  src/ConnectedMachine/ConnectedMachine.Autorest/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/licenses.json
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Get-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Remove-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Test-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Get-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/New-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Remove-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Set-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Test-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Update-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Get-AzConnectedLicense.Tests.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/test/New-AzConnectedLicense.Tests.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Remove-AzConnectedLicense.Tests.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Set-AzConnectedLicense.Tests.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Test-AzConnectedLicense.Tests.ps1
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Update-AzConnectedLicense.Tests.ps1
Due: none

Fix build issue when specifying -p:TargetModule (#23641)
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .github/PULL_REQUEST_TEMPLATE.md
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ReleaseTools/gen-mail.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Disable context autosaving on MacOs
  tools/Test/SmokeTest/ConnectAzAccount.ps1
  tools/Test/SmokeTest/RmCoreSmokeTests.ps1
  tools/Test/SmokeTest/ScriptsCaller.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#23636)
  .github/PULL_REQUEST_TEMPLATE.md
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ReleaseTools/gen-mail.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update Example1 (#23642)
  src/Resources/Resources/help/New-AzRoleDefinition.md
Due: none
