Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update daily-build.yml for Azure Pipelines
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

PowerShell Support for ResiliencyPolicy (including ResilientVMCreationPolicy, ResilientVMDeletionPolicy) on VMSS (#25928)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestResiliencyPolicyVMSS.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Compute.Automation.generated.format.ps1xml
  src/Compute/Compute/Generated/Models/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/help/New-AzVmssConfig.md
  src/Compute/Compute/help/Update-AzVmss.md
  tools/StaticAnalysis/Exceptions/Az.Compute/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix tests
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMLogicalNetwork.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMNetworkInterface.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMStoragePath.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualHardDisks.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Tests.ps1
Due: none

deal with protected settings
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
Due: none

Autogen code
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
Due: none

Autogen code by build fixer
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
Due: none

first pass
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSkuProfile.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/Models/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
Due: none

add tests
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSkuProfile.json
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

fix merge conflict
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

fix provisionvmconfiagent
  src/StackHCIVM/StackHCIVM.Autorest/custom/New-AzStackHCIVMVirtualMachine_New.ps1
  src/StackHCIVM/StackHCIVM.Autorest/docs/New-AzStackHCIVMVirtualMachine.md
  src/StackHCIVM/StackHCIVM.Autorest/examples/New-AzStackHCIVMVirtualMachine.md
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMLogicalNetwork.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMLogicalNetwork.Tests.ps1
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMNetworkInterface.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMStoragePath.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualHardDisks.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Tests.ps1
  src/StackHCIVM/StackHCIVM.Autorest/test/env.json
  src/StackHCIVM/StackHCIVM.Autorest/test/envVariables.json
Due: none

Update Connect-AzAccount.md
  src/Accounts/Accounts/help/Connect-AzAccount.md
Due: none

update exmaples
  src/Fabric/Fabric.Autorest/docs/Get-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Get-AzFabricCapacitySku.md
  src/Fabric/Fabric.Autorest/docs/New-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Remove-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Resume-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Suspend-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Test-AzFabricCapacityNameAvailability.md
  src/Fabric/Fabric.Autorest/docs/Update-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Get-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Get-AzFabricCapacitySku.md
  src/Fabric/Fabric.Autorest/examples/New-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/README.md
  src/Fabric/Fabric.Autorest/examples/Remove-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Resume-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Suspend-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Test-AzFabricCapacityNameAvailability.md
  src/Fabric/Fabric.Autorest/examples/Update-AzFabricCapacity.md
Due: none

fix examples
  src/Fabric/Fabric.Autorest/docs/Get-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Get-AzFabricCapacitySku.md
  src/Fabric/Fabric.Autorest/docs/New-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Remove-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Resume-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Suspend-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/docs/Test-AzFabricCapacityNameAvailability.md
  src/Fabric/Fabric.Autorest/docs/Update-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Get-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Get-AzFabricCapacitySku.md
  src/Fabric/Fabric.Autorest/examples/New-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Remove-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Resume-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Suspend-AzFabricCapacity.md
  src/Fabric/Fabric.Autorest/examples/Test-AzFabricCapacityNameAvailability.md
  src/Fabric/Fabric.Autorest/examples/Update-AzFabricCapacity.md
Due: none

add recordings and delete redundant bicep files.
  src/Fabric/Fabric.Autorest/test/Get-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Get-AzFabricCapacitySku.Recording.json
  src/Fabric/Fabric.Autorest/test/New-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Remove-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Resume-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Suspend-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Test-AzFabricCapacityNameAvailability.Recording.json
  src/Fabric/Fabric.Autorest/test/Update-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/deployment-templates/test-resources.bicep
  src/Fabric/Fabric.Autorest/test/deployment-templates/test-resources.bicepparam
  src/Fabric/Fabric.Autorest/test/deployment-templates/test-resources.parameters.json
  src/Fabric/Fabric.Autorest/test/env.json
  src/Fabric/Fabric.Autorest/test/localEnv.json
  src/Fabric/Fabric.Autorest/test/utils.ps1
Due: none

Sync resourceManagement.yml (#25941) (#25983)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update TestScriptActionRelatedCommands.json (#25974) (#25984)
  src/HDInsight/HDInsight.Test/SessionRecords/Commands.HDInsight.Test.ScenarioTests.HDInsightScriptActionTests/TestScriptActionRelatedCommands.json
Due: none

update examples for service objects
  src/KubernetesRuntime/KubernetesRuntime.Autorest/docs/Get-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/docs/New-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/docs/Remove-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/docs/Update-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/examples/Get-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/examples/New-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/examples/Remove-AzKubernetesRuntimeService.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/examples/Update-AzKubernetesRuntimeService.md
Due: none

fix parameter issues (#25953)
  src/AksArc/AksArc.Autorest/custom/New-AzAksArcCluster.ps1
  src/AksArc/AksArc.Autorest/help/New-AzAksArcCluster.md
Due: none

Corrected docs link broken build warnings (#25513) (#25985)
  src/ConnectedNetwork/ConnectedNetwork/help/New-AzConnectedNetworkFunctionVendorConfigurationObject.md
  src/Network/Network/help/New-AzFirewallPolicyDraft.md
Due: none

adapt
  src/AksArc/AksArc.Autorest/generate-info.json
  src/AksArc/AksArc/help/Az.AksArc.md
  src/AksArc/AksArc/help/Get-AzAksArcCluster.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterAdminKubeconfig.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterUpgrade.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterUserKubeconfig.md
  src/AksArc/AksArc/help/Get-AzAksArcKubernetesVersion.md
  src/AksArc/AksArc/help/Get-AzAksArcLog.md
  src/AksArc/AksArc/help/Get-AzAksArcNodepool.md
  src/AksArc/AksArc/help/Get-AzAksArcVMSku.md
  src/AksArc/AksArc/help/Get-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Invoke-AzAksArcClusterUpgrade.md
  src/AksArc/AksArc/help/New-AzAksArcCluster.md
  src/AksArc/AksArc/help/New-AzAksArcNodepool.md
  src/AksArc/AksArc/help/New-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Remove-AzAksArcCluster.md
  src/AksArc/AksArc/help/Remove-AzAksArcNodepool.md
  src/AksArc/AksArc/help/Remove-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Update-AzAksArcCluster.md
  src/AksArc/AksArc/help/Update-AzAksArcNodepool.md
Due: none

PowerShell Support for ResiliencyPolicy (including ResilientVMCreationPolicy, ResilientVMDeletionPolicy) on VMSS (#25928) (#25987)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestResiliencyPolicyVMSS.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Compute.Automation.generated.format.ps1xml
  src/Compute/Compute/Generated/Models/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/help/New-AzVmssConfig.md
  src/Compute/Compute/help/Update-AzVmss.md
  tools/StaticAnalysis/Exceptions/Az.Compute/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Storage] Refine track2 OAuth context logic (#25954) (#25986)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Common/LazyAzureStorageContext.cs
Due: none

Temporary/sync generation to future #25953 (#25988)
  src/AksArc/AksArc.Autorest/custom/New-AzAksArcCluster.ps1
  src/AksArc/AksArc.Autorest/generate-info.json
  src/AksArc/AksArc.Autorest/help/New-AzAksArcCluster.md
  src/AksArc/AksArc/help/Az.AksArc.md
  src/AksArc/AksArc/help/Get-AzAksArcCluster.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterAdminKubeconfig.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterUpgrade.md
  src/AksArc/AksArc/help/Get-AzAksArcClusterUserKubeconfig.md
  src/AksArc/AksArc/help/Get-AzAksArcKubernetesVersion.md
  src/AksArc/AksArc/help/Get-AzAksArcLog.md
  src/AksArc/AksArc/help/Get-AzAksArcNodepool.md
  src/AksArc/AksArc/help/Get-AzAksArcVMSku.md
  src/AksArc/AksArc/help/Get-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Invoke-AzAksArcClusterUpgrade.md
  src/AksArc/AksArc/help/New-AzAksArcCluster.md
  src/AksArc/AksArc/help/New-AzAksArcNodepool.md
  src/AksArc/AksArc/help/New-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Remove-AzAksArcCluster.md
  src/AksArc/AksArc/help/Remove-AzAksArcNodepool.md
  src/AksArc/AksArc/help/Remove-AzAksArcVirtualNetwork.md
  src/AksArc/AksArc/help/Update-AzAksArcCluster.md
  src/AksArc/AksArc/help/Update-AzAksArcNodepool.md
Due: none

[skip ci] Archive generated assets to origin/future
  generated/AksArc/AksArc.Autorest/Az.AksArc.psd1
  generated/AksArc/AksArc.Autorest/exports/New-AzAksArcCluster.ps1
  generated/AksArc/AksArc.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/AksArc/AksArc.Autorest/generate-info.json
Due: none

Add bgp update example
  src/KubernetesRuntime/KubernetesRuntime.Autorest/docs/Update-AzKubernetesRuntimeBgpPeer.md
  src/KubernetesRuntime/KubernetesRuntime.Autorest/examples/Update-AzKubernetesRuntimeBgpPeer.md
Due: none

suppress error
  tools/StaticAnalysis/Exceptions/Az.KubernetesRuntime/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[CI] Update ESRP Config for Task v5 (#25976)
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Updated comments on ConfigDP and name matching.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
Due: none

Comment string describing the configuration settings check.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
Due: none

Updated comments for configuration settings parameters.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
Due: none

update pipeline
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Only pass settings to CCRP.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
Due: none

Create empty hash tables not null if no values.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
