Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

completion percent
  src/Compute/Compute/Generated/Models/PSSnapshot.cs
Due: none

changelog
  src/Compute/Compute/ChangeLog.md
Due: none

[Az.Accounts] Fix msgraph in non azure cloud (#16359)
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/CommonModule/EnvironmentExtensions.cs
  src/Accounts/Accounts/Environment/AddAzureRMEnvironment.cs
  src/Accounts/Accounts/Environment/SetAzureRMEnvironment.cs
  src/Accounts/Accounts/help/Add-AzEnvironment.md
  src/Accounts/Accounts/help/Connect-AzAccount.md
  src/Accounts/Accounts/help/Set-AzEnvironment.md
  src/Accounts/Authenticators/AccessTokenAuthenticator.cs
  src/Accounts/Authenticators/Constants.cs
Due: none

polish PR
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/DenyAssignments/GetAzureDenyAssignmentCommand.cs
  src/Resources/Resources/Properties/Resources.resx
  src/Resources/Resources/help/Get-AzDenyAssignment.md
Due: none

A temp fix to pin autorest core to 3.6.6 since there is breaking issue in latest version 3.7
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update changeLog.md and use AzPSArgumentException exception type
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Cmdlet/NewAzureAutomationSchedule.cs
Due: none

A temp fix to pin autorest core to 3.6.6 since there is breaking issue in latest version 3.7 (#16416)
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add module info to useragent (#16389)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/CommonModule/TelemetryProvider.cs
  src/Accounts/Accounts/CommonModule/UserAgent.cs
  src/Accounts/Authentication/Factories/ClientFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/ScenarioTest.ResourceManager/Mocks/MockClientFactory.cs
  tools/TestFx/TestClientFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[do not merge] test only
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Automation] Schedule name shouldn't contains special character (#16402)
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Cmdlet/NewAzureAutomationSchedule.cs
  src/Automation/Automation/Properties/Resources.Designer.cs
  src/Automation/Automation/Properties/Resources.resx
Due: none

Move the methods to MicrosoftGraphClientExtensions
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
Due: none

Revert "A temp fix to pin autorest core to 3.6.6 since there is breaking issue in latest version 3.7 (#16416)"
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Use the latest build config for accounts
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "A temp fix to pin autorest core to 3.6.6 since there is breaking issue in latest version 3.7 (#16416)" (#16418)
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Pin autorest/core version to 3.6.6 for the time being
  src/readme.azure.noprofile.md
Due: none

Add filter method wrapper for MSGraph client (#300)
  src/Graph.Rbac/MicrosoftGraph/Version1_0/MicrosoftGraphClientExtensions.cs
  src/Graph.Rbac/MicrosoftGraph/Version1_0/MicrosoftGraphObjectFilterOptions.cs
Due: none

Update readme.azure.noprofile.md
  src/readme.azure.noprofile.md
Due: none

Remove unused directive from aks
  src/Aks/Aks.Autorest/readme.md
Due: none

Remove unused directives from aks
  src/Aks/Aks.Autorest/readme.md
Due: none

Agent -> win2019
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/release-test.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml

Remove unused directives from aks (#16423)
  src/Aks/Aks.Autorest/readme.md
Due: none

Use the latest dependency config file on main when building for generation branch(#16419)
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added more example
  src/Compute/Compute/help/Add-AzVmssExtension.md
Due: none

polish docs
  src/Resources/Resources/Models.Authorization/AuthorizationClientExtensions.cs
  src/Resources/Resources/Properties/Resources.Designer.cs
Due: none

Fix static analysis failure.
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[OpertionalInsights]upgrade Microsoft.Azure.OperationalInsights version and fecth error message via add Error Property.
  src/OperationalInsights/OperationalInsights/Models/PSQueryResponse.cs
  src/OperationalInsights/OperationalInsights/OperationalInsights.csproj
Due: none

added Microsoft.OperationalInsights to sdl, synapse and HDInsights ignore
  src/HDInsight/HDInsight.Test/ScenarioTests/TestController.cs
  src/Sql/Sql.Test/ScenarioTests/SqlTestsBase.cs
  src/Synapse/Synapse.Test/ScenarioTests/SynapseTestBase.cs
Due: none

[WebPubSub] Fix some problems * Improve a regex to identity resource ID. * Fix "Create a hub setting" example problem * Other updates are generated with the latest autorest
  src/SignalR/SignalR.Autorest/Az.SignalR.psd1
  src/SignalR/SignalR.Autorest/custom/scripts/Get-AzWebPubSubKey_ListViaIdentity.ps1
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/examples/Get-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/readme.md
Due: none

added Microsoft.OperationalInsights to Exclusion providers in Monitor
  src/Monitor/Monitor.Test/ScenarioTests/TestsController.cs
Due: none

Upgrade Azure.Identity to 1.5.0
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/AzAssemblyLoadContextInitializer.cs
  src/Accounts/Authenticators/Authenticators.csproj
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  src/lib/NetCorePreloadAssemblies/Azure.Identity.dll
  src/lib/NetFxPreloadAssemblies/Azure.Identity.dll
  tools/Tools.Common/SerializedCmdlets/Az.Accounts.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fixed TestStorageInsightCreateUpdateDelete and re record it
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/StorageInsightTests.ps1
  src/OperationalInsights/OperationalInsights.Test/SessionRecords/Microsoft.Azure.Commands.OperationalInsights.Test.StorageInsightTests/TestStorageInsightCreateUpdateDelete.json
  src/OperationalInsights/OperationalInsights/StorageInsights/SetAzureOperationalInsightsStorageInsightCommand.cs
Due: none

updating redis api version
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
Due: none

Fixes to azure disk encryption cmdlets
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineExtensionTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/AzureDiskEncryption/SetAzureDiskEncryptionExtension.cs
  src/Compute/Compute/Extension/VmssDiskEncryption/GetAzureVmssVMDiskEncryptionStatus.cs
  src/Compute/Compute/Extension/VmssDiskEncryption/SetAzureVmssDiskEncryptionExtension.cs
  src/Compute/Compute/Models/PSVmssVMDiskEncryptionStatusContext.cs
  src/Compute/Compute/help/Set-AzVmssDiskEncryptionExtension.md
Due: none

Addressing comments
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineExtensionTests.ps1
  src/Compute/Compute/Compute.format.ps1xml
  src/Compute/Compute/Extension/AzureDiskEncryption/SetAzureDiskEncryptionExtension.cs
  src/Compute/Compute/Extension/VmssDiskEncryption/GetAzureVmssVMDiskEncryptionStatus.cs
  src/Compute/Compute/Extension/VmssDiskEncryption/SetAzureVmssDiskEncryptionExtension.cs
  src/Compute/Compute/Models/PSVmssVMDiskEncryptionStatusContext.cs
  src/Compute/Compute/help/Set-AzVmssDiskEncryptionExtension.md
Due: none

Update test case
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetExtensionTests.ps1
Due: none

Commits to push changes to Disable-AzVmssDiskEncryption cmdlet to incorporate test extension
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/VmssDiskEncryption/DisableAzureVmssDiskEncryption.cs
  src/Compute/Compute/Extension/VmssDiskEncryption/SetAzureVmssDiskEncryptionExtension.cs
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
