Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Updated Changelog
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Add ResiliencyView parameter to Get-AzVmssVM for monitoring Resilient Delete retries (#28927)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetResiliencyView.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/Models/PSVirtualMachineScaleSetVM.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSetVM/VirtualMachineScaleSetVMGetMethod.cs
  src/Compute/Compute/help/Get-AzVmssVM.md
Due: none

Fix build: Restore generate-info.json to src directory
  src/EdgeAction/EdgeAction.Autorest/generate-info.json
Due: none

corrected devcontainer to work on arm64 computers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Update .devcontainer/post-create.sh
  .devcontainer/post-create.sh
Due: none

removed execution policy from devcontainers - not needed and crashes
  .devcontainer/post-create.sh
Due: none

updated quota change log
  src/Quota/Quota.Autorest/test/test-location-setting-curl.sh
  src/Quota/Quota.Autorest/test/test-with-curl.sh
  src/Quota/Quota/ChangeLog.md
Due: none

added missing example for group quota usage
  src/Quota/Quota.Autorest/examples/Get-AzQuotaGroupQuotaUsage.md
Due: none

Remove version 0.1.4 from ChangeLog
  src/Quota/Quota/ChangeLog.md
Due: none

add parameters
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
  src/Aks/Aks/Commands/NewAzureRmAksNodePool.cs
  src/Aks/Aks/Commands/NewOrUpdateAgentPoolBase.cs
  src/Aks/Aks/Commands/SetAzureRmAks.cs
  src/Aks/Aks/Commands/UpdateAzureRmAksNodePool.cs
  src/Aks/Aks/Properties/Resources.Designer.cs
  src/Aks/Aks/Properties/Resources.resx
Due: none

update help md
  src/Aks/Aks/help/Az.Aks.md
  src/Aks/Aks/help/Get-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Get-AzAksManagedClusterCommandResult.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOutboundNetworkDependencyEndpoint.md
  src/Aks/Aks/help/Get-AzAksNodePoolUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksSnapshot.md
  src/Aks/Aks/help/Get-AzAksUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksVersion.md
  src/Aks/Aks/help/Invoke-AzAksAbortAgentPoolLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksAbortManagedClusterLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksRotateManagedClusterServiceAccountSigningKey.md
  src/Aks/Aks/help/New-AzAksCluster.md
  src/Aks/Aks/help/New-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/New-AzAksNodePool.md
  src/Aks/Aks/help/New-AzAksSnapshot.md
  src/Aks/Aks/help/Remove-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Remove-AzAksSnapshot.md
  src/Aks/Aks/help/Set-AzAksCluster.md
  src/Aks/Aks/help/Start-AzAksCluster.md
  src/Aks/Aks/help/Start-AzAksManagedClusterCommand.md
  src/Aks/Aks/help/Stop-AzAksCluster.md
  src/Aks/Aks/help/Update-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Update-AzAksNodePool.md
Due: none

update changelog and suppress breaking change
  src/Aks/Aks.Autorest/Properties/AssemblyInfo.cs
  src/Aks/Aks.Autorest/docs/Az.Aks.md
  src/Aks/Aks.Autorest/resources/README.md
  src/Aks/Aks/ChangeLog.md
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
  src/Aks/Aks/help/Az.Aks.md
  src/Aks/Aks/help/Get-AzAksMachine.md
  src/Aks/Aks/help/Get-AzAksManagedClusterKuberneteVersion.md
  src/Aks/Aks/help/Get-AzAksManagedClusterMeshRevisionProfile.md
  src/Aks/Aks/help/Get-AzAksManagedClusterMeshUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksTrustedAccessRole.md
  src/Aks/Aks/help/Get-AzAksTrustedAccessRoleBinding.md
  src/Aks/Aks/help/New-AzAksCluster.md
  src/Aks/Aks/help/New-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/New-AzAksTrustedAccessRoleBinding.md
  src/Aks/Aks/help/Remove-AzAksAgentPoolMachine.md
  src/Aks/Aks/help/Remove-AzAksTrustedAccessRoleBinding.md
  src/Aks/Aks/help/Set-AzAksCluster.md
  src/Aks/Aks/help/Update-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Update-AzAksTrustedAccessRoleBinding.md
  tools/StaticAnalysis/Exceptions/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Arc Enablement of nodes before triggering registration in MSI Based registration
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

Added Telemetry
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
Due: none

Added the missing parameter
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

supress breaking change issue and signature issues
  tools/StaticAnalysis/Exceptions/Az.Aks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Aks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revert wrong BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Patched sdk
  src/CosmosDB/CosmosDB.Management.Sdk/Generated/CosmosDBManagementClient.cs
Due: none

Added the missing parameter
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
Due: none

Added Sdk Supression for CosmosDB
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/GeneratedSdkIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Modified the error to be clear regarding permissions
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
Due: none

Fix EdgeAction README.md to pin swagger commit
  src/EdgeAction/EdgeAction.Autorest/README.md
Due: none

Revert "Rename my-agent.agent.md to ps-cmdlet.agent.md"
  .github/agents/my-agent.agent.md
Due: azure-pipelines.yml

Revert "Define PowerShell Pull Request Agent with guidelines"
  .github/agents/my-agent.agent.md
Due: azure-pipelines.yml

Rename ValueMaxInstancePercentPerZone to MaxInstancePercentPerZoneValue
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/help/New-AzVmssConfig.md
  src/Compute/Compute/help/Update-AzVmss.md
Due: none

Add IncludeZone and ExcludeZone properties
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
Due: none

Add commands to get identified
  src/Compute/Compute/Az.Compute.psd1
Due: none

Fix DeployFromZipFile test to use cross-platform temp path
  src/EdgeAction/EdgeAction.Autorest/test/Deploy-AzEdgeActionVersionCode.Tests.ps1
Due: none

Update src/StackHCI/StackHCI/ChangeLog.md
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
