Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update ChangeLog.md
  src/Accounts/Accounts/ChangeLog.md
Due: none

fix indentation
  .github/workflows/script/PrLabeled.ps1
Due: azure-pipelines.yml

[Eng] Add comment for label Legacy (#27134)
  .github/workflows/script/PrLabeled.ps1
Due: azure-pipelines.yml

[Eng] Enable main to be CIed by default (#27135)
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/PipelineSteps/README.md
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
  .azure-pipelines/PipelineSteps/build-steps.ps1
  .azure-pipelines/PipelineSteps/test-steps.ps1
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/daily-build.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/get-pr-changed-files.yml
  .azure-pipelines/windows-powershell.yml
  .ci-config.json
  build.proj
  src/Az.autorest.props
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
  tools/BuildScripts/AdaptAutorestModule.ps1
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/BuildScripts.psm1
  tools/BuildScripts/FilesChangedScript.psm1
  tools/BuildScripts/PrepareAutorestModule.ps1
  tools/BuildScripts/Templates/AssemblyInfo.cs
  tools/BuildScripts/Templates/Az.ModuleName.csproj
  tools/BuildScripts/Templates/ChangeLog.md
  tools/BuildScripts/Templates/HandcraftedModule.csproj
  tools/BuildScripts/Templates/Module.psd1
  tools/CreateFilterMappings.ps1
  tools/ExecuteCIStep.ps1
  tools/ExpandModules.ps1
  tools/GenerationBranchMigrationScript/GenerateAssemblyInfo.ps1
  tools/GenerationBranchMigrationScript/MigrateGenerated.ps1
  tools/GenerationBranchMigrationScript/assets/.gitattributes
  tools/GenerationBranchMigrationScript/assets/.gitignore
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

[Eng] Add comment for label Legacy (#27134) (#27138)
  .github/workflows/script/PrLabeled.ps1
Due: azure-pipelines.yml

Update Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/DataProtection.Autorest/examples/Initialize-AzDataProtectionBackupInstance.md
Due: none

[Az.Resources] Support AtScope for Get-AzRoleAssignment. (#27113)
  src/Resources/Resources.Test/ScenarioTests/RoleAssignmentTests.cs
  src/Resources/Resources.Test/ScenarioTests/RoleAssignmentTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.RoleAssignmentTests/RaGetWithAtScope.json
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/Models.Authorization/AuthorizationClient.cs
  src/Resources/Resources/Models.Authorization/FilterRoleAssignmentsOptions.cs
  src/Resources/Resources/RoleAssignments/GetAzureRoleAssignmentCommand.cs
  src/Resources/Resources/help/Get-AzRoleAssignment.md
Due: none

add a new SecureString parameter AzureFileAccountKeySecure
  src/App/App.Autorest/Properties/AssemblyInfo.cs
  src/App/App.Autorest/README.md
  src/App/App.Autorest/custom/New-AzContainerAppConnectedEnvStorage.ps1
  src/App/App.Autorest/custom/New-AzContainerAppManagedEnvStorage.ps1
  src/App/App.Autorest/custom/Update-AzContainerAppConnectedEnvStorage.ps1
  src/App/App.Autorest/custom/Update-AzContainerAppManagedEnvStorage.ps1
  src/App/App.Autorest/custom/csharp/ConnectedEnvironmentStorage.cs
  src/App/App.Autorest/custom/csharp/ManagedEnvironmentStorage.cs
  src/App/App.Autorest/custom/csharp/Utils.cs
  src/App/App.Autorest/docs/New-AzContainerAppConnectedEnvStorage.md
  src/App/App.Autorest/docs/New-AzContainerAppManagedEnvStorage.md
  src/App/App.Autorest/docs/Update-AzContainerAppConnectedEnvStorage.md
  src/App/App.Autorest/docs/Update-AzContainerAppManagedEnvStorage.md
  src/App/App.Autorest/generate-info.json
  src/App/App.Autorest/resources/README.md
  src/App/App.Autorest/test/AzContainerAppConnectedEnvStorage.Tests.ps1
  src/App/App.Autorest/test/AzContainerAppManagedEnvStorage.Tests.ps1
  src/App/App.sln
  src/App/App/Az.App.psd1
  src/App/App/help/New-AzContainerAppConnectedEnvStorage.md
  src/App/App/help/New-AzContainerAppIdentityProviderObject.md
  src/App/App/help/New-AzContainerAppManagedEnvStorage.md
  src/App/App/help/Update-AzContainerAppConnectedEnvStorage.md
  src/App/App/help/Update-AzContainerAppManagedEnvStorage.md
Due: none

Update Initialize-AzDataProtectionBackupInstance.md (#27140)
  src/DataProtection/DataProtection.Autorest/examples/Initialize-AzDataProtectionBackupInstance.md
Due: none

Corrected docs file-not-found build warnings (#27108)
  src/Network/Network/help/Get-AzNetworkManagerIpamPoolStaticCidr.md
Due: none

Consolidate live test for synapse
  src/Synapse/LiveTests/Synapse/TestLiveScenarios.ps1
Due: none

Consolidate live test for synapse (#27139)
  src/Synapse/LiveTests/Synapse/TestLiveScenarios.ps1
Due: none

remove the old String property and parameter
  src/App/App.Autorest/README.md
  src/App/App.Autorest/custom/New-AzContainerAppConnectedEnvStorage.ps1
  src/App/App.Autorest/custom/New-AzContainerAppManagedEnvStorage.ps1
  src/App/App.Autorest/custom/Update-AzContainerAppConnectedEnvStorage.ps1
  src/App/App.Autorest/custom/Update-AzContainerAppManagedEnvStorage.ps1
  src/App/App.Autorest/custom/csharp/ConnectedEnvironmentStorage.cs
  src/App/App.Autorest/custom/csharp/ManagedEnvironmentStorage.cs
  src/App/App.Autorest/custom/csharp/Utils.cs
  src/App/App.Autorest/docs/New-AzContainerAppConnectedEnvStorage.md
  src/App/App.Autorest/docs/New-AzContainerAppManagedEnvStorage.md
  src/App/App.Autorest/docs/Update-AzContainerAppConnectedEnvStorage.md
  src/App/App.Autorest/docs/Update-AzContainerAppManagedEnvStorage.md
Due: none

after build
  src/App/App.Autorest/generate-info.json
  src/App/App.sln
  src/App/App/help/New-AzContainerAppConnectedEnvStorage.md
  src/App/App/help/New-AzContainerAppManagedEnvStorage.md
  src/App/App/help/Update-AzContainerAppConnectedEnvStorage.md
  src/App/App/help/Update-AzContainerAppManagedEnvStorage.md
Due: none

Add emitter package configuration for tsp client
  eng/emitter-package.json
Due: none

Add emitter package configuration for tsp client (#27144)
  eng/emitter-package.json
Due: none

Migrated the Maintenance SDK for Autorest from C# to PowerShell
  src/Maintenance/Maintenance/ChangeLog.md
Due: none

Remove the duplicate content in help file
  src/ComputeFleet/ComputeFleet/help/Get-AzComputeFleet.md
  src/ComputeFleet/ComputeFleet/help/New-AzComputeFleet.md
  src/ComputeFleet/ComputeFleet/help/Update-AzComputeFleet.md
  src/MariaDb/MariaDb/help/Get-AzMariaDbConfiguration.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresOrganization.md
  src/Network/Network/help/Get-AzNetworkSecurityGroup.md
  src/SpringCloud/SpringCloud/help/Get-AzSpringCloudSku.md
  src/Storage/Storage.Management/help/Set-AzStorageAccountManagementPolicy.md
  src/Support/Support/help/Get-AzSupportCommunication.md
Due: none

Remove unnecessary steps
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/get-keyvault-secret-steps.yml
  .azure-pipelines/util/live-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Add autorest reset command to README
  src/Maintenance/Maintenance.Management.Sdk/README.md
Due: none

Update Az.PipelineGroup to API version 2024-10-01-preview
  generated/Monitor/PipelineGroup.Autorest/Az.PipelineGroup.psd1
  src/Monitor/Monitor/Az.Monitor.psd1
  src/Monitor/Monitor/ChangeLog.md
  src/Monitor/PipelineGroup.Autorest/README.md
  src/Monitor/PipelineGroup.Autorest/UX/Microsoft.Monitor/pipelineGroups.json
  src/Monitor/PipelineGroup.Autorest/test/AzPipelineGroup.Recording.json
  src/Monitor/PipelineGroup.Autorest/test/AzPipelineGroup.Tests.ps1
  src/Monitor/PipelineGroup.Autorest/test/env.json
  src/Monitor/PipelineGroup.Autorest/test/utils.ps1
Due: none

Update ChangeLog for SDK migration
  src/Maintenance/Maintenance/ChangeLog.md
Due: none

add a new SecureString parameter
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementTests.ps1
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementCache.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Helpers/Utils.cs
  src/ApiManagement/ApiManagement/help/New-AzApiManagementCache.md
Due: none

remove the string parameter
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementCache.cs
  src/ApiManagement/ApiManagement/help/New-AzApiManagementCache.md
Due: none

test PR validation not triggered
  src/DataBoxEdge/DataBoxEdge/ChangeLog.md
Due: none

Update ChangeLog.md
  src/DataBoxEdge/DataBoxEdge/ChangeLog.md
Due: none

fix payload-flattening-threshold
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/ContainersOperations.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/ContainersOperationsExtensions.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/DevicesOperations.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/DevicesOperationsExtensions.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/IContainersOperations.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/Generated/IDevicesOperations.cs
  src/DataBoxEdge/DataBoxEdge.Management.Sdk/README.md
  src/DataBoxEdge/DataBoxEdge/Common/Cmdlets/EdgeStorageContainers/DataBoxEdgeStorageContainerNewCmdlet.cs
Due: none

test record and case change type
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeOrderTests.ps1
  src/DataBoxEdge/DataBoxEdge.Test/ScenarioTests/DataBoxEdgeTriggerTests.cs
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeBandwidthScheduleTests/TestCreateBandwidthSchedule.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeBandwidthScheduleTests/TestCreateUnlimitedBandwidthSchedule.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeBandwidthScheduleTests/TestGetNonExistingBandwidthSchedule.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeBandwidthScheduleTests/TestRemoveBandwidthSchedule.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeBandwidthScheduleTests/TestUpdateBandwidthSchedule.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeDeviceTests/TestCreateDevice.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeDeviceTests/TestGetNonExistingDevice.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeDeviceTests/TestRemoveDevice.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeOrderTests/TestCreateOrder.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeOrderTests/TestGetNonExistingOrder.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeOrderTests/TestRemoveOrder.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeRoleTests/TestGetNonExistingRole.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeShareTests/TestCreateLocalShare.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeShareTests/TestGetNonExistingShare.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeShareTests/TestRemoveShare.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeStorageAccountCredentialTests/TestGetNonExistingStorageAccountCredential.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeStorageAccountTests/TestGetNonExistingEdgeStorageAccount.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeStorageContainerTests/TestGetNonExistingEdgeStorageContainer.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeTriggerTests/TestCreateTrigger.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeTriggerTests/TestGetNonExistingTrigger.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeTriggerTests/TestRemoveTrigger.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeUserTests/TestGetNonExistingUser.json
Due: none

Update TestCreateEdgeStorageContainer.json
  src/DataBoxEdge/DataBoxEdge.Test/SessionRecords/Microsoft.Azure.PowerShell.Cmdlets.DataBoxEdge.Test.ScenarioTests.DataBoxEdgeStorageContainerTests/TestCreateEdgeStorageContainer.json
Due: none
