Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Fix Readme.md
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/README.md
Due: none

Update readme.md for ServiceFabric.Management.Sdk
  src/ServiceFabric/ServiceFabric.Management.Sdk/README.md
Due: none

Update generated ServiceFabric.Management.Sdk
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/ApplicationTypesOperations.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/ApplicationTypesOperationsExtensions.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/ClustersOperations.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/ClustersOperationsExtensions.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/IApplicationTypesOperations.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/IClustersOperations.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/Models/ApplicationTypeVersionsCleanupPolicy.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/Models/Cluster.cs
  src/ServiceFabric/ServiceFabric.Management.Sdk/Generated/Models/NodeTypeDescription.cs
Due: none

get account fix
  src/NetAppFiles/NetAppFiles.Test/UnitTests/NetAppAccountUnitTests.cs
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Helpers/ModelExtensions.cs
Due: none

regen sdk
  src/CosmosDB/CosmosDB.Sdk/Generated/Models/PrivateEndpointConnection.cs
  src/CosmosDB/CosmosDB.Sdk/Generated/Models/ProxyResource.cs
  src/CosmosDB/CosmosDB.Sdk/Generated/Models/Resource.cs
Due: none

update
  src/EventGrid/EventGrid.Autorest/test/utils.ps1
Due: none

get account fix (#24305)
  src/NetAppFiles/NetAppFiles.Test/UnitTests/NetAppAccountUnitTests.cs
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Helpers/ModelExtensions.cs
Due: none

refactor buildmodules.ps1
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

Use correct JSON serializer settings for all templates-related deserialization (#24282)
  src/Resources/ResourceManager/Extensions/JsonExtensions.cs
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentCmdletBase.cs
  src/Resources/ResourceManager/Implementation/CmdletBase/ResourceManagerCmdletBase.cs
  src/Resources/ResourceManager/SdkExtensions/NewResourcesExtensions.cs
  src/Resources/ResourceManager/SdkModels/DeploymentStacks/PSDeploymentStack.cs
  src/Resources/ResourceManager/Utilities/BicepUtility.cs
  src/Resources/ResourceManager/Utilities/TemplateUtility.cs
  src/Resources/Resources.Test/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCommandTests.cs
  src/Resources/Resources.Test/Resources/DeploymentWhatIfTests/WhatIfWithNullableType/main.bicep
  src/Resources/Resources.Test/Resources/DeploymentWhatIfTests/WhatIfWithNullableType/main.bicepparam
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentWhatIfTests/Test_WhatIfWithNullableType.json
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/Models.ResourceGroups/ResourcesExtensions.cs
Due: none

Update Module List
  documentation/azure-powershell-modules.md
Due: none

polish parameter for buildmodules.ps1
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revised script to remove runtime dll and deps.json (#24279)
  build.proj
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/CheckChangeLogs.ps1
  tools/BuildScripts/RemoveUnwantedFiles.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .github/policies/resourceManagement.yml
  build.proj
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/CheckChangeLogs.ps1
  tools/BuildScripts/RemoveUnwantedFiles.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update Module List (#24308)
  documentation/azure-powershell-modules.md
Due: none

polish
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update DatabaseFormat possible value information
  src/Sql/Sql/help/New-AzSqlInstance.md
  src/Sql/Sql/help/Set-AzSqlInstance.md
Due: none

Update DatabaseFormat possible value information (#24310)
  src/Sql/Sql/help/New-AzSqlInstance.md
  src/Sql/Sql/help/Set-AzSqlInstance.md
Due: none

make communiation and support ticket properties required in readme, edit get operation file name, edit calling internal cmdlets for file upload
  src/Support/Support.Autorest/Az.Support.psd1
  src/Support/Support.Autorest/README.md
  src/Support/Support.Autorest/custom/Get-AzSupportOperation.ps1
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUpload.ps1
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUploadNoSubscription.ps1
  src/Support/Support.Autorest/docs/Az.Support.md
  src/Support/Support.Autorest/docs/Get-AzSupportOperation.md
  src/Support/Support.Autorest/docs/New-AzSupportCommunication.md
  src/Support/Support.Autorest/docs/New-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/docs/New-AzSupportTicket.md
  src/Support/Support.Autorest/docs/New-AzSupportTicketsNoSubscription.md
Due: none

fix documentation
  src/Support/Support.Autorest/docs/New-AzSupportTicket.md
  src/Support/Support.Autorest/docs/New-AzSupportTicketsNoSubscription.md
  src/Support/Support.Autorest/examples/New-AzSupportTicket.md
  src/Support/Support.Autorest/examples/New-AzSupportTicketsNoSubscription.md
Due: none

Update code-sign.yml for Azure Pipelines
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix top query
  src/Support/Support.Autorest/README.md
Due: none

revert iptag change
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/ManagedCluster.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/ManagedClusterProperties.cs
Due: none

Sync tools folder from main branch to generation branch (#24309)
  .github/policies/resourceManagement.yml
  build.proj
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/CheckChangeLogs.ps1
  tools/BuildScripts/RemoveUnwantedFiles.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

[Storage] Fix file upload with Oauth issue (#24291)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
Due: none

Upgraded Azure.Core to 1.37.0
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading.Test/UnitTests/ConditionalAssemblyProviderTests.cs
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netcoreapp2.1/Azure.Core.dll
  src/lib/netfx/Azure.Core.dll
  src/lib/netstandard2.0/Azure.Core.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Merge Azure.Core of .net framework to .net standard
  src/Accounts/AssemblyLoading.Test/UnitTests/ConditionalAssemblyProviderTests.cs
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netfx/Azure.Core.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bug:24328420: vWan P2S Multipool PowerShell documentation fixes
  src/Network/Network/help/Get-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/New-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/Remove-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/Update-AzVpnServerConfigurationPolicyGroup.md
Due: none

Update code-sign.yml for Azure Pipelines (#24314)
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Bump up version for NetAppFiles
  src/NetAppFiles/NetAppFiles/Az.NetAppFiles.psd1
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add dynamic parameter support to deployment stack New/Set cmdlets.
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentStacksCmdletBase.cs
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentStacksCreateCmdletBase.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzManagementGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzResourceGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzSubscriptionDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/SetAzManagmentGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/SetAzResourceGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/SetAzSubscriptionDeploymentStack.cs
  src/Resources/ResourceManager/SdkClient/DeploymentStacksSdkClient.cs
  src/Resources/ResourceManager/Utilities/TemplateUtility.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentStackTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackTests/TestNewAndSetAndSaveManagementGroupDeploymentStackWithTemplateSpec.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackTests/TestNewAndSetAndSaveResourceGroupDeploymentStackWithTemplateSpec.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackTests/TestNewAndSetAndSaveSubscriptionDeploymentStackWithTemplateSpec.json
  src/Resources/Resources/ChangeLog.md
Due: none

Update validDiskTypeSpellings dictionary in New-AzMigrateDiskMapping.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateDiskMapping.ps1
Due: none

Update DiskTypeSpelling dictionary in New-AzMigrateServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateServerReplication.ps1
Due: none

update
  src/EventGrid/EventGrid.Autorest/test/AzEventGridPartner.Tests.ps1
Due: none
