Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update ChangeLog.md
  src/NetworkCloud/NetworkCloud/ChangeLog.md
Due: none

Update Network.format.ps1xml
  src/Network/Network/Network.format.ps1xml
Due: none

Update PSVirtualNetworkPeering.cs
  src/Network/Network/Models/PSVirtualNetworkPeering.cs
Due: none

Update Add-AzVirtualNetworkPeering.md
  src/Network/Network/help/Add-AzVirtualNetworkPeering.md
Due: none

Update TestImportExportRebootClear.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestImportExportRebootClear.json
Due: none

Update ChangeLog.md
  src/Network/Network/ChangeLog.md
Due: none

Update AddAzureVirtualNetworkPeeringCommand.cs
  src/Network/Network/VirtualNetwork/Peering/AddAzureVirtualNetworkPeeringCommand.cs
Due: none

hide PrimaryKey
  src/EventHub/EventHub.Autorest/README.md
Due: none

Create ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ComputeSchedule/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test
  .azure-pipelines/PipelineSteps/build-steps.ps1
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test
  .azure-pipelines/PipelineSteps/build-steps.ps1
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

test
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Azure RedisCache New Api v2024.11.01 (#26876)
  src/RedisCache/RedisCache.Management.Sdk/Generated/Models/RedisCreateParameters.cs
  src/RedisCache/RedisCache.Management.Sdk/Generated/Models/RedisResource.cs
  src/RedisCache/RedisCache.Management.Sdk/Generated/Models/RedisUpdateParameters.cs
  src/RedisCache/RedisCache.Management.Sdk/Generated/Models/ZonalAllocationPolicy.cs
  src/RedisCache/RedisCache.Management.Sdk/Generated/RedisManagementClient.cs
  src/RedisCache/RedisCache.Management.Sdk/README.md
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.cs
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.ps1
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestAuthenticationCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestAutomaticZonalAllocationPolicyForStandardCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestDiagnosticOperations.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestFirewallRule.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestGeoReplication.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestImportExportRebootClear.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestManagedIdentity.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCacheClustering.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCachePatchSchedules.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCachePipeline.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestSetNonExistingRedisCacheTest.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestUpdateChannel.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestUpdateToAutomaticZonalAllocationPolicyForPremiumCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestZones.json
  src/RedisCache/RedisCache/ChangeLog.md
  src/RedisCache/RedisCache/Commands/NewAzureRedisCache.cs
  src/RedisCache/RedisCache/Commands/SetAzureRedisCache.cs
  src/RedisCache/RedisCache/Models/RedisCacheAttributes.cs
  src/RedisCache/RedisCache/Models/RedisCacheClient.cs
  src/RedisCache/RedisCache/help/New-AzRedisCache.md
  src/RedisCache/RedisCache/help/Set-AzRedisCache.md
Due: none

Remove GitHub Token From CI Pipeline
  .azure-pipelines/security-tools.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/get-pr-changed-files.yml
  build.proj
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update VirtualNetworkTests.ps1
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.ps1
Due: none

Update VirtualNetworkTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.cs
Due: none

Create TestSubnetPeeringCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringCRUD.json
Due: none

Create TestSubnetPeeringSyncCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringSyncCRUD.json
Due: none

Update AddAzureCognitiveServicesAccountNetworkRule.cs
  src/CognitiveServices/CognitiveServices/CognitiveServicesAccount/AddAzureCognitiveServicesAccountNetworkRule.cs
Due: none

fix
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revert
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update examples
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Stop-AzComputeScheduleScheduledAction.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Stop-AzComputeScheduleScheduledAction.md
Due: none

fix ipam static crud test
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerIpamPoolStaticCidrCRUD.json
Due: none

starting changes for ars autoscale
  src/Network/Network/Properties/Resources.resx
  src/Network/Network/RouteServer/NewAzureRMRouteServerCommand.cs
  src/Network/Network/RouteServer/UpdateAzureRMRouteServerCommand.cs
  src/Network/Network/VirtualRouter/RouteServerBaseCmdlet.cs
Due: none

suppress static analysis
  tools/StaticAnalysis/Exceptions/Az.Compute/GeneratedSdkIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml
