Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Adding unit test for none userAssigned type for MI
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.cs
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestCRUDVnetFlowLogWithNoneManagedIdentity.json
  src/Network/Network/NetworkWatcher/FlowLog/NewAzNetworkWatcherFlowLogCommand.cs
  src/Network/Network/NetworkWatcher/FlowLog/SetAzNetworkWatcherFlowLogCommand.cs
Due: none

test pipeline 12
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/filter-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 12
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/filter-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 13
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 14
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 15
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix minor issue (#24673)
  .azure-pipelines/refresh-autorest.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 16
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test pipeline 17
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test pipeline 18
  .azure-pipelines/util/build-steps.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

cmk encryption examples update
  src/DataProtection/DataProtection.Autorest/docs/Get-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/docs/Update-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/Get-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/New-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/Update-AzDataProtectionBackupVault.md
Due: none

Add buildId to the branch name (#24680)
  .azure-pipelines/refresh-autorest.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 19
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/refresh-autorest.yml
  .github/workflows/pr-labeled.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 20
  build.proj
Due: .azure-pipelines/sync-tools-folder.yml

test pipeline 21
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test pipeline 22
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

cmk encryption examples update (#24692)
  src/DataProtection/DataProtection.Autorest/docs/Get-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/docs/Update-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/Get-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/New-AzDataProtectionBackupVault.md
  src/DataProtection/DataProtection.Autorest/examples/Update-AzDataProtectionBackupVault.md
Due: none

Skip static analysis
  tools/StaticAnalysis/Exceptions/Az.ADDomainServices/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Aks/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test pipeline 23
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test pipeline 24
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Skip static analysis
  tools/StaticAnalysis/Exceptions/Az.MonitoringSolutions/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Skip static analysis for example issues
  tools/StaticAnalysis/Exceptions/Az.TimeSeriesInsights/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Websites/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#24691)
  .azure-pipelines/refresh-autorest.yml
  .github/workflows/pr-labeled.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
