Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Examples in docs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Get-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Remove-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Update-AzDeidService.md
Due: none

Test recordings
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Get-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/New-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Remove-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Update-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/env.json
Due: none

added list test coverage and combined all vnv crud into one run crud
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerVerifierWorkspaceCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerVerifierWorkspaceReachabilityAnalysisIntentCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerVerifierWorkspaceReachabilityAnalysisRunCRUD.json
Due: none

Update help links
  src/HealthDataAIServices/HealthDataAIServices.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Az.HealthDeidentification.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Get-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Remove-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Update-AzDeidService.md
Due: none

add and test tags for vnv
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerVerifierWorkspaceReachabilityAnalysisRunCRUD.json
Due: none

Update Azure.Identity to 1.13.0 (#26447) (#26466)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Directory.Build.targets
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/lib/netstandard2.0/Azure.Identity.dll
  src/lib/netstandard2.0/System.Memory.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding NVMeDiskPlacement for diffdiskplacement field for v6 VMs in Powershell (#26448) (#26477)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/SetAzureRmVmssStorageProfileCommand.cs
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzureVMOSDiskCommand.cs
Due: none

update default templates (#26208) (#26476)
  src/ServiceFabric/ServiceFabric/Template/Windows/parameter.json
  src/ServiceFabric/ServiceFabric/Template/Windows/template.json
Due: none

HealthDeidentification
  src/HealthDeidentification/HealthDeidentification.Autorest/.gitattributes
  src/HealthDeidentification/HealthDeidentification.Autorest/.gitignore
  src/HealthDeidentification/HealthDeidentification.Autorest/Properties/AssemblyInfo.cs
  src/HealthDeidentification/HealthDeidentification.Autorest/README.md
  src/HealthDeidentification/HealthDeidentification.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDeidentification/HealthDeidentification.Autorest/custom/README.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/Az.HealthDeidentification.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/Get-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/New-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/README.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/Remove-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/Update-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/examples/Get-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/examples/New-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/examples/Remove-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/examples/Update-AzDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/how-to.md
  src/HealthDeidentification/HealthDeidentification.Autorest/resources/README.md
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/New-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/README.md
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Remove-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Update-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/jsonConfigs/deidServiceJson.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/loadEnv.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/utils.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/utils/Unprotect-SecureString.ps1
Due: none

Delete HealthDeid
  src/HealthDeid/HealthDeid.Autorest/.gitattributes
  src/HealthDeid/HealthDeid.Autorest/.gitignore
  src/HealthDeid/HealthDeid.Autorest/Properties/AssemblyInfo.cs
  src/HealthDeid/HealthDeid.Autorest/README.md
  src/HealthDeid/HealthDeid.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDeid/HealthDeid.Autorest/custom/README.md
  src/HealthDeid/HealthDeid.Autorest/docs/Az.HealthDeid.md
  src/HealthDeid/HealthDeid.Autorest/docs/Get-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/New-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/README.md
  src/HealthDeid/HealthDeid.Autorest/docs/Remove-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/Update-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Get-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/New-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Remove-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Update-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/how-to.md
  src/HealthDeid/HealthDeid.Autorest/resources/README.md
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/README.md
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/env.json
  src/HealthDeid/HealthDeid.Autorest/test/jsonConfigs/deidServiceJson.json
  src/HealthDeid/HealthDeid.Autorest/test/loadEnv.ps1
  src/HealthDeid/HealthDeid.Autorest/test/utils.ps1
  src/HealthDeid/HealthDeid.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/HealthDeid/HealthDeid.Autorest/utils/Unprotect-SecureString.ps1
Due: none

Tests
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzDeidService.Recording.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/New-AzDeidService.Recording.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/New-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Remove-AzDeidService.Recording.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Remove-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Update-AzDeidService.Recording.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Update-AzDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/env.json
Due: none

removing update command
  src/Resources/DataBoundary.Autorest/Az.DataBoundary.psd1
  src/Resources/DataBoundary.Autorest/README.md
  src/Resources/DataBoundary.Autorest/docs/Az.DataBoundary.md
Due: none

Revert "Update Azure.Identity to 1.13.0 (#26447)"
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Directory.Build.targets
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/lib/netstandard2.0/Azure.Identity.dll
  src/lib/netstandard2.0/System.Memory.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Upgraded Azure.Core to 1.44.1. (#26427)"
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/System.Buffers.dll
  src/lib/netstandard2.0/System.Memory.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revert relative changes about Azure.core
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/lib/netfx/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[ResourceGraph] Migrate Microsoft.Azure.Management.ResourceGraph to ResourceGraph.Management.Sdk (#26469)
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/IOperations.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/IResourceGraphClient.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Column.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ColumnDataType.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Error.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ErrorDetails.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ErrorResponse.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ErrorResponseException.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Facet.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/FacetError.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/FacetRequest.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/FacetRequestOptions.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/FacetResult.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/FacetSortOrder.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Operation.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/OperationDisplay.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Page.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/QueryRequest.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/QueryRequestOptions.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/QueryResponse.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ResultFormat.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/ResultTruncated.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Models/Table.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/Operations.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/OperationsExtensions.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/ResourceGraphClient.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Generated/ResourceGraphClientExtensions.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/Properties/AssemblyInfo.cs
  src/ResourceGraph/ResourceGraph.Management.Sdk/README.md
  src/ResourceGraph/ResourceGraph.Management.Sdk/ResourceGraph.Management.Sdk.csproj
  src/ResourceGraph/ResourceGraph.Test/ResourceGraph.Test.csproj
  src/ResourceGraph/ResourceGraph.sln
  src/ResourceGraph/ResourceGraph/Az.ResourceGraph.psd1
  src/ResourceGraph/ResourceGraph/ChangeLog.md
  src/ResourceGraph/ResourceGraph/ResourceGraph.csproj
Due: none

examples edit
  src/Resources/DataBoundary.Autorest/examples/Get-AzDataBoundaryScope.md
  src/Resources/DataBoundary.Autorest/examples/Get-AzDataBoundaryTenant.md
  src/Resources/DataBoundary.Autorest/examples/Set-AzDataBoundary.md
Due: none

update test file
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.cs
Due: none

Sync resourceManagement.yml (#26471)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Ryanosh/replace token (#26380)
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPoolRegistrationToken.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdMSIXPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Register-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Unregister-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdScalingPlan.Recording.json
  tools/ReplaceToken.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzGalleryImageDefinition.md SecurityType Inputs (#26428)
  src/Compute/Compute/help/New-AzGalleryImageDefinition.md
Due: none

naming
  src/Resources/DataBoundary.Autorest/docs/Get-AzDataBoundaryScope.md
  src/Resources/DataBoundary.Autorest/docs/Get-AzDataBoundaryTenant.md
  src/Resources/DataBoundary.Autorest/docs/Set-AzDataBoundary.md
Due: none

formatting
  src/Resources/DataBoundary.Autorest/examples/Get-AzDataBoundaryScope.md
  src/Resources/DataBoundary.Autorest/examples/Get-AzDataBoundaryTenant.md
  src/Resources/DataBoundary.Autorest/examples/Set-AzDataBoundary.md
Due: none

nit fixes
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
Due: none

nit fix
  src/Network/Network/Network.format.ps1xml
Due: none

fix error
  src/Resources/DataBoundary.Autorest/docs/Get-AzDataBoundaryScope.md
Due: none

Examples
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Az.HealthDataAiServices.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/examples/Get-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/examples/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/examples/Remove-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/examples/Update-AzDeidService.md
Due: none

Warning message updated
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
