Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

add new warning exception for SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataMigration/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix IdentityType param
  src/DevCenter/DevCenter.AutoRest/custom/New-AzDevCenterAdminProject.ps1
  src/DevCenter/DevCenter.AutoRest/custom/New-AzDevCenterAdminProjectEnvironmentType.ps1
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/generate-info.json
  src/DevCenter/DevCenter.AutoRest/test/New-AzDevCenterAdminDevCenter.Tests.ps1
  src/DevCenter/DevCenter.AutoRest/test/New-AzDevCenterAdminProjectEnvironmentType.Tests.ps1
  src/DevCenter/DevCenter.AutoRest/test/Update-AzDevCenterAdminDevCenter.Tests.ps1
  src/DevCenter/DevCenter.AutoRest/test/Update-AzDevCenterAdminProjectEnvironmentType.Tests.ps1
  src/DevCenter/DevCenter.sln
  src/DevCenter/DevCenter/help/New-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter/help/New-AzDevCenterAdminProjectEnvironmentType.md
Due: none

update generate-info.json
  src/Cdn/Cdn.Autorest/generate-info.json
Due: none

Regen EdgeAction module
  src/EdgeAction/EdgeAction.Autorest/Properties/AssemblyInfo.cs
  src/EdgeAction/EdgeAction.Autorest/docs/Az.EdgeAction.md
  src/EdgeAction/EdgeAction.Autorest/docs/Get-AzEdgeActionVersionCode.md
  src/EdgeAction/EdgeAction.Autorest/docs/Switch-AzEdgeActionVersionDefault.md
  src/EdgeAction/EdgeAction.Autorest/generate-info.json
  src/EdgeAction/EdgeAction.sln
  src/EdgeAction/EdgeAction/Az.EdgeAction.psd1
  src/EdgeAction/EdgeAction/help/Az.EdgeAction.md
  src/EdgeAction/EdgeAction/help/Get-AzEdgeActionVersionCode.md
  src/EdgeAction/EdgeAction/help/Switch-AzEdgeActionVersionDefault.md
Due: none

Refactor and unit tests added
  src/KeyVault/KeyVault.Test/UnitTests/Track2KeyOptionsFactoryTests.cs
  src/KeyVault/KeyVault/Track2Models/Track2HsmClient.cs
  src/KeyVault/KeyVault/Track2Models/Track2KeyOptionsFactory.cs
  src/KeyVault/KeyVault/Track2Models/Track2VaultClient.cs
Due: none

Update changelog as per Copilot comment
  src/KeyVault/KeyVault/ChangeLog.md
Due: none

Update Azure.Identity to 1.17.2 (#29554)
  .github/agents/dependencyUpdate.agent.md
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authenticators/Factories/AzureCredentialFactory.cs
  src/Accounts/Authenticators/SilentAuthenticator.cs
  src/Accounts/Authenticators/UsernamePasswordAuthenticator.cs
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/net46/System.Numerics.Vectors.dll
  src/lib/net461/System.Runtime.CompilerServices.Unsafe.dll
  src/lib/net462/System.Numerics.Vectors.dll
  src/lib/net462/System.Runtime.CompilerServices.Unsafe.dll
  src/lib/netstandard2.0/Azure.Identity.dll
  src/lib/netstandard2.0/System.Buffers.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Fix build errors in tests caused by Identity upgrade (#29582)
  src/Accounts/Accounts.Test/SilentReAuthByTenantCmdletTest.cs
  src/Accounts/Authentication.Test/AuthenticationFactoryConcurrencyTest.cs
  src/Accounts/Authentication.Test/AuthenticatorsTest/SilentAuthenticatorTests.cs
Due: none

rebuild
  src/DataProtection/DataProtection.Autorest/docs/Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionBackupInstance.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/DataProtection.Autorest/docs/Start-AzDataProtectionBackupInstanceRestore.md
  src/DataProtection/DataProtection.Autorest/generate-info.json
  src/DataProtection/DataProtection.sln
  src/DataProtection/DataProtection/Az.DataProtection.psd1
  src/DataProtection/DataProtection/help/Get-AzDataProtectionPolicyTemplate.md
  src/DataProtection/DataProtection/help/Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/DataProtection/help/Initialize-AzDataProtectionRestoreRequest.md
  src/DataProtection/DataProtection/help/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/DataProtection/help/New-AzDataProtectionRestoreConfigurationClientObject.md
  src/DataProtection/DataProtection/help/Search-AzDataProtectionBackupInstanceInAzGraph.md
  src/DataProtection/DataProtection/help/Search-AzDataProtectionJobInAzGraph.md
  src/DataProtection/DataProtection/help/Set-AzDataProtectionMSIPermission.md
  src/DataProtection/DataProtection/help/Start-AzDataProtectionBackupInstanceRestore.md
Due: none

Sql OOB Release (#29577)
  src/Sql/Sql.LegacySdk/Properties/AssemblyInfo.cs
  src/Sql/Sql.Management.Sdk/Properties/AssemblyInfo.cs
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Sql OOB Release (#29550)"
  src/Sql/Sql.LegacySdk/Properties/AssemblyInfo.cs
  src/Sql/Sql.Management.Sdk/Properties/AssemblyInfo.cs
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

honor -Destination for oct keys on vault path
  src/KeyVault/KeyVault.Test/UnitTests/Track2KeyOptionsFactoryTests.cs
  src/KeyVault/KeyVault/Track2Models/Track2HsmClient.cs
  src/KeyVault/KeyVault/Track2Models/Track2KeyOptionsFactory.cs
  src/KeyVault/KeyVault/Track2Models/Track2VaultClient.cs
Due: none

Revert "Sql OOB Release" (#29588)
  src/Sql/Sql.LegacySdk/Properties/AssemblyInfo.cs
  src/Sql/Sql.Management.Sdk/Properties/AssemblyInfo.cs
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

rebuild
  src/Databricks/Databricks.Autorest/generate-info.json
  src/Databricks/Databricks.sln
  src/Databricks/Databricks/Az.Databricks.psd1
Due: none

Delete src/Storage/.github/copilot-instructions.md
  src/Storage/.github/copilot-instructions.md
Due: none

Fix review comments
  src/Storage/Storage.Autorest/docs/New-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/examples/New-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/env.json
  src/Storage/Storage.Management/help/Get-AzStorageAccount.md
  src/Storage/Storage.Management/help/New-AzStorageTaskAssignment.md
Due: none

add duplicate default tag fix for azure blob backups
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Policy/Edit-AzDataProtectionPolicyRetentionRuleClientObject.ps1
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Policy/New-AzDataProtectionBackupPolicy.ps1
  src/DataProtection/DataProtection.Autorest/custom/Enums/Enums.cs
  src/DataProtection/DataProtection.Autorest/custom/Helpers/PolicyHelpers.ps1
  src/DataProtection/DataProtection.Autorest/custom/manifests/AzureBlob.json
  src/DataProtection/DataProtection.Autorest/examples/Edit-AzDataProtectionPolicyRetentionRuleClientObject.md
  src/DataProtection/DataProtection.Autorest/examples/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/DataProtection.Autorest/test/Edit-AzDataProtectionPolicyRetentionRuleClientObject.Tests.ps1
  src/DataProtection/DataProtection.Autorest/test/New-AzDataProtectionBackupPolicy.Tests.ps1
  src/DataProtection/DataProtection.Autorest/test/utils.ps1
  src/DataProtection/DataProtection/ChangeLog.md
  src/DataProtection/DataProtection/help/Edit-AzDataProtectionPolicyRetentionRuleClientObject.md
Due: none

Update test comment per review comments
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
Due: none

fix description generation error
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration/help/Az.DataMigration.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSqlService.md
Due: none

regen and add missing test record file
  src/Storage/Storage.Autorest/generate-info.json
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Recording.json
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/env.json
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.sln
Due: none

refresh with latest autorest and rebuild
  src/DataBox/DataBox.Autorest/Properties/AssemblyInfo.cs
  src/DataBox/DataBox.Autorest/docs/Az.DataBox.md
  src/DataBox/DataBox.Autorest/docs/Update-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/generate-info.json
  src/DataBox/DataBox.sln
  src/DataBox/DataBox/Az.DataBox.psd1
Due: none

Build module locally
  src/DesktopVirtualization/DesktopVirtualization.Autorest/Properties/AssemblyInfo.cs
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Az.DesktopVirtualization.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/generate-info.json
  src/DesktopVirtualization/DesktopVirtualization.sln
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
Due: none

update static analysis BreakingChangeIssues.csv and ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
