Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update module - feedback
  NuGet.Config
  src/CloudHsm/CloudHsm.Autorest/custom/Remove-AzCloudHsm.ps1
  src/CloudHsm/CloudHsm.Autorest/docs/Az.CloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/docs/Az.CloudHsmCmdlet.Design.md
  src/CloudHsm/CloudHsm.Autorest/docs/New-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/docs/Remove-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/examples/New-AzCloudHsm.md
  src/CloudHsm/CloudHsm.Autorest/generate-info.json
  src/CloudHsm/CloudHsm.Autorest/test/Backup-AzCloudHsm.Recording.json
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsm.Recording.json
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsm.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/New-AzCloudHsm.Recording.json
  src/CloudHsm/CloudHsm.Autorest/test/Remove-AzCloudHsm.Recording.json
  src/CloudHsm/CloudHsm.Autorest/test/Restore-AzCloudHsm.Recording.json
  src/CloudHsm/CloudHsm.Autorest/test/env.json
  src/CloudHsm/CloudHsm.sln
  src/CloudHsm/CloudHsm/Az.CloudHsm.psd1
  src/CloudHsm/CloudHsm/help/New-AzCloudHsm.md
  src/CloudHsm/CloudHsm/help/Remove-AzCloudHsm.md
Due: .azure-pipelines/sync-tools-folder.yml

Remove tests for the cmdlets that are removed or hidden.
  NuGet.Config
  src/CloudHsm/CloudHsm.Autorest/test/Backup-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzBackupStatusCloudHsm.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmBackupStatus.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmClusterBackupStatus.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmClusterPrivateEndpointConnection.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmClusterPrivateLinkResource.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmClusterRestoreStatus.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-AzCloudHsmRestoreStatus.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Get-Aztriadio.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/New-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/New-AzCloudHsmClusterPrivateEndpointConnection.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Remove-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Remove-AzCloudHsmClusterPrivateEndpointConnection.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Restore-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Test-AzCloudHsmClusterBackupProperty.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Test-AzCloudHsmClusterRestoreProperty.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Update-AzCloudHsmCluster.Tests.ps1
  src/CloudHsm/CloudHsm.Autorest/test/Update-AzCloudHsmClusterPrivateEndpointConnection.Tests.ps1
Due: .azure-pipelines/sync-tools-folder.yml

Added some Test assert regarding capture settings
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCaptureVMSSWithRingBuffer.json
Due: none

Comment prerelease
  NuGet.Config
  src/DnsResolver/DnsResolver/Az.DnsResolver.psd1
Due: .azure-pipelines/sync-tools-folder.yml

Update Az.DnsResolver.psd1
  src/DnsResolver/DnsResolver/Az.DnsResolver.psd1
Due: none

DnsResolver OOB Release (#27925)
  NuGet.Config
  src/DnsResolver/DnsResolver/Az.DnsResolver.psd1
  src/DnsResolver/DnsResolver/ChangeLog.md
  src/DnsResolver/DnsResolver/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix spelling
  src/Aks/Aks.Test/ScenarioTests/NodePoolTests.ps1
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
  src/Aks/Aks/Commands/SetAzureRmAks.cs
  src/Aks/Aks/Models/PSContainerServiceAgentPoolProfile.cs
  src/Aks/Aks/Models/PSKubernetesCluster.cs
  src/Aks/Aks/Properties/Resources.Designer.cs
  src/Aks/Aks/Properties/Resources.resx
  src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzureAlertProcessingRule.cs
  src/AlertsManagement/AlertsManagement/AlertCommands/MeasureAzureAlertStatistic.cs
  src/AlertsManagement/AlertsManagement/ChangeLog.md
  src/AnalysisServices/AnalysisServices.Dataplane/Models/AsAzureDataplaneClient.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/IServersOperations.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/Models/CheckServerNameAvailabilityResult.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/Models/IPv4FirewallSettings.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/ServersOperations.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/ServersOperationsExtensions.cs
  src/AnalysisServices/AnalysisServices/Commands/GetAzureRmAnalysisServicesServer.cs
  src/ApiManagement/ApiManagement.ServiceManagement.Test/Resources/petstoreOpenApi.json
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementTests.ps1
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementGatewayHostnameConfiguration.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementUser.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/RemoveAzureApiManagementPolicy.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Models/PsApiManagementApiVersionSet.cs
  src/ApiManagement/ApiManagement.Test/ScenarioTests/ApiManagementTests.ps1
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/GetAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/UpdateAzureApiManagementRegion.cs
Due: none

fix spelling
  src/App/App.Autorest/docs/Get-AzContainerAppManagedEnvCert.md
  src/App/App.Autorest/docs/Remove-AzContainerAppConnectedEnvDapr.md
  src/App/App.Autorest/examples/Remove-AzContainerAppConnectedEnvDapr.md
  src/App/App.Autorest/test/AzContainerAppJob.Tests.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/README.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Update-AzApplicationInsightsWebTestTag.md
  src/ArcGateway/ArcGateway.Autorest/README.md
  src/ArizeAI/ArizeAI.Autorest/docs/Get-AzArizeAIOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/Get-AzArizeAIOrganization.md
  src/Attestation/Attestation.Autorest/custom/New-AzAttestationProvider.ps1
  src/Attestation/Attestation.Autorest/docs/New-AzAttestationProvider.md
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.ps1
  src/Attestation/Attestation/Properties/Resources.Designer.cs
  src/Attestation/Attestation/Properties/Resources.resx
  src/Automanage/Automanage.Autorest/docs/Get-AzAutomanageBestPractice.md
  src/Automanage/Automanage.Autorest/examples/Get-AzAutomanageBestPractice.md
  src/Automation/Automation.Management.Sdk/Customization/SoftwareUpdateConfigurationsOperationsExtensions.cs
  src/Automation/Automation.Test/ScenarioTests/RunbookJobTests.ps1
  src/Automation/Automation.Test/ScenarioTests/SourceControlTests.cs
  src/Automation/Automation.Test/ScenarioTests/UpdateManagementTests.ps1
  src/Automation/Automation.Test/ScenarioTests/WebhookTests.ps1
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Cmdlet/ExportAzureAutomationDscConfiguration.cs
  src/Automation/Automation/Cmdlet/NewAzureAutomationAccount.cs
  src/Automation/Automation/Cmdlet/RemoveAzureAutomationAccount.cs
  src/Automation/Automation/Cmdlet/RemoveAzureAutomationPython3Package.cs
  src/Automation/Automation/Common/IAutomationPSClient.cs
  src/Automation/Automation/Model/CompilationJob.cs
  src/Automation/Automation/Model/ConfigurationContent.cs
  src/Automation/Automation/Model/HybridRunbookWorkerGroup.cs
  src/Automation/Automation/Model/Job.cs
  src/Automation/Automation/Model/Module.cs
  src/Automation/Automation/Model/NodeConfiguration.cs
  src/Automation/Automation/Model/NodeConfigurationDeployment.cs
  src/Automation/Automation/Model/NodeConfigurationDeploymentSchedule.cs
  src/Automation/Automation/Model/Variable.cs
  src/Automation/Automation/Properties/Resources.resx
Due: none

Spelling Fixes (#27961)
  src/Aks/Aks.Test/ScenarioTests/NodePoolTests.ps1
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
  src/Aks/Aks/Commands/SetAzureRmAks.cs
  src/Aks/Aks/Models/PSContainerServiceAgentPoolProfile.cs
  src/Aks/Aks/Models/PSKubernetesCluster.cs
  src/Aks/Aks/Properties/Resources.Designer.cs
  src/Aks/Aks/Properties/Resources.resx
  src/AlertsManagement/AlertsManagement/ActionRuleCommands/SetAzureAlertProcessingRule.cs
  src/AlertsManagement/AlertsManagement/AlertCommands/MeasureAzureAlertStatistic.cs
  src/AlertsManagement/AlertsManagement/ChangeLog.md
  src/AnalysisServices/AnalysisServices.Dataplane/Models/AsAzureDataplaneClient.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/IServersOperations.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/Models/CheckServerNameAvailabilityResult.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/Models/IPv4FirewallSettings.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/ServersOperations.cs
  src/AnalysisServices/AnalysisServices.Management.Sdk/Generated/ServersOperationsExtensions.cs
  src/AnalysisServices/AnalysisServices/Commands/GetAzureRmAnalysisServicesServer.cs
  src/ApiManagement/ApiManagement.ServiceManagement.Test/Resources/petstoreOpenApi.json
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementTests.ps1
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementGatewayHostnameConfiguration.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/NewAzureApiManagementUser.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/RemoveAzureApiManagementPolicy.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Models/PsApiManagementApiVersionSet.cs
  src/ApiManagement/ApiManagement.Test/ScenarioTests/ApiManagementTests.ps1
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/GetAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/UpdateAzureApiManagementRegion.cs
Due: none

Update CreateLinuxIncludePackageNameMasksSUC.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.UpdateManagementTests/CreateLinuxIncludePackageNameMasksSUC.json
Due: none

fix spelling
  src/Billing/Consumption.Test/ScenarioTests/BudgetTests.ps1
  src/Billing/UsageAggregates/TestTheCmdLet.ps1
  src/BillingBenefits/BillingBenefits.Autorest/docs/Invoke-AzBillingBenefitsElevateSavingPlanOrder.md
  src/BillingBenefits/BillingBenefits.Autorest/examples/Invoke-AzBillingBenefitsElevateSavingPlanOrder.md
  src/Blueprint/Blueprint/Common/Utils.cs
  src/Blueprint/Blueprint/Models/PSBlueprintAssignment.cs
  src/BotService/LiveTests/BotService.Autorest/TestLiveScenarios.disabled.ps1
  src/Cdn/Cdn.Autorest/README.md
  src/Cdn/Cdn.Autorest/custom/Start-AzFrontDoorCdnProfilePrepareMigration.ps1
  src/Cdn/Cdn.Autorest/custom/Update-AzFrontDoorCdnProfileSku.ps1
  src/Cdn/Cdn.Autorest/docs/Enable-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/docs/Get-AzCdnEndpointResourceUsage.md
  src/Cdn/Cdn.Autorest/docs/Get-AzFrontDoorCdnEndpointResourceUsage.md
  src/Cdn/Cdn.Autorest/docs/Get-AzFrontDoorCdnOriginGroupResourceUsage.md
  src/Cdn/Cdn.Autorest/docs/Invoke-AzCdnCommitProfileToAFDMigration.md
  src/Cdn/Cdn.Autorest/docs/New-AzFrontDoorCdnProfileScrubbingRulesObject.md
  src/Cdn/Cdn.Autorest/docs/Start-AzFrontDoorCdnProfilePrepareMigration.md
  src/Cdn/Cdn.Autorest/docs/Stop-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/docs/Test-AzCdnNameAvailability.md
  src/Cdn/Cdn.Autorest/docs/Test-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/docs/Update-AzFrontDoorCdnProfileSku.md
  src/Cdn/Cdn.Autorest/examples/Enable-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/examples/Get-AzCdnEndpointResourceUsage.md
  src/Cdn/Cdn.Autorest/examples/Get-AzFrontDoorCdnEndpointResourceUsage.md
  src/Cdn/Cdn.Autorest/examples/Get-AzFrontDoorCdnOriginGroupResourceUsage.md
  src/Cdn/Cdn.Autorest/examples/Invoke-AzCdnCommitProfileToAFDMigration.md
  src/Cdn/Cdn.Autorest/examples/New-AzFrontDoorCdnProfileScrubbingRulesObject.md
  src/Cdn/Cdn.Autorest/examples/Start-AzFrontDoorCdnProfilePrepareMigration.md
  src/Cdn/Cdn.Autorest/examples/Stop-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/examples/Test-AzCdnNameAvailability.md
  src/Cdn/Cdn.Autorest/examples/Test-AzFrontDoorCdnProfileMigration.md
  src/Cdn/Cdn.Autorest/examples/Update-AzFrontDoorCdnProfileSku.md
  src/Cdn/Cdn.Autorest/test/Remove-AzFrontDoorCdnSecurityPolicy.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Test-AzFrontDoorCdnEndpointCustomDomain.Recording.json
  src/Cdn/Cdn.Autorest/test/utils.ps1
Due: none

rename in README
  src/DataTransfer/DataTransfer.Autorest/Properties/AssemblyInfo.cs
  src/DataTransfer/DataTransfer.Autorest/README.md
  src/DataTransfer/DataTransfer.Autorest/docs/Az.DataTransfer.md
Due: none

Spelling Fixes (#27962)
  src/App/App.Autorest/docs/Get-AzContainerAppManagedEnvCert.md
  src/App/App.Autorest/docs/Remove-AzContainerAppConnectedEnvDapr.md
  src/App/App.Autorest/examples/Remove-AzContainerAppConnectedEnvDapr.md
  src/App/App.Autorest/test/AzContainerAppJob.Tests.ps1
  src/ApplicationInsights/ApplicationInsights.Autorest/README.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Update-AzApplicationInsightsWebTestTag.md
  src/ArcGateway/ArcGateway.Autorest/README.md
  src/ArizeAI/ArizeAI.Autorest/docs/Get-AzArizeAIOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/Get-AzArizeAIOrganization.md
  src/Attestation/Attestation.Autorest/custom/New-AzAttestationProvider.ps1
  src/Attestation/Attestation.Autorest/docs/New-AzAttestationProvider.md
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.ps1
  src/Attestation/Attestation/Properties/Resources.Designer.cs
  src/Attestation/Attestation/Properties/Resources.resx
  src/Automanage/Automanage.Autorest/docs/Get-AzAutomanageBestPractice.md
  src/Automanage/Automanage.Autorest/examples/Get-AzAutomanageBestPractice.md
  src/Automation/Automation.Management.Sdk/Customization/SoftwareUpdateConfigurationsOperationsExtensions.cs
  src/Automation/Automation.Test/ScenarioTests/RunbookJobTests.ps1
  src/Automation/Automation.Test/ScenarioTests/SourceControlTests.cs
  src/Automation/Automation.Test/ScenarioTests/UpdateManagementTests.ps1
  src/Automation/Automation.Test/ScenarioTests/WebhookTests.ps1
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.UpdateManagementTests/CreateLinuxIncludePackageNameMasksSUC.json
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Cmdlet/ExportAzureAutomationDscConfiguration.cs
  src/Automation/Automation/Cmdlet/NewAzureAutomationAccount.cs
  src/Automation/Automation/Cmdlet/RemoveAzureAutomationAccount.cs
  src/Automation/Automation/Cmdlet/RemoveAzureAutomationPython3Package.cs
  src/Automation/Automation/Common/IAutomationPSClient.cs
  src/Automation/Automation/Model/CompilationJob.cs
  src/Automation/Automation/Model/ConfigurationContent.cs
  src/Automation/Automation/Model/HybridRunbookWorkerGroup.cs
  src/Automation/Automation/Model/Job.cs
  src/Automation/Automation/Model/Module.cs
  src/Automation/Automation/Model/NodeConfiguration.cs
  src/Automation/Automation/Model/NodeConfigurationDeployment.cs
  src/Automation/Automation/Model/NodeConfigurationDeploymentSchedule.cs
  src/Automation/Automation/Model/Variable.cs
  src/Automation/Automation/Properties/Resources.resx
Due: none

[DataFactory]Powershell Release
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/DatabricksJobActivity.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/DatabricksJobActivityTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/ExpressionV2.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/QuickBooksLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/QuickBooksLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

fixing import export bug
  src/Sql/Sql.Management.Sdk/Generated/DatabaseSchemasOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/DatabaseSchemasOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/DatabasesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/DatabasesOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/IDatabaseSchemasOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/IDatabasesOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/ISqlManagementClient.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/DatabaseProperties.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/DatabaseSchema.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/DatabaseUpdate.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/DatabaseUpdateProperties.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ExportDatabaseDefinition.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ImportExistingDatabaseDefinition.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ImportNewDatabaseDefinition.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/MinimalTlsVersion.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/Server.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ServerProperties.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/ServerUpdate.cs
  src/Sql/Sql.Management.Sdk/Generated/ServersOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/ServersOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/SqlManagementClient.cs
  src/Sql/Sql.Management.Sdk/README.md
  src/Sql/Sql/ImportExport/Cmdlet/ImportExportCmdletArmBase.cs
  src/Sql/Sql/ImportExport/Service/ImportExportDatabaseAdapter.cs
Due: none

Merge bumped up files back to preview for DnsResolver (#27966)
  NuGet.Config
  src/DnsResolver/DnsResolver/Az.DnsResolver.psd1
  src/DnsResolver/DnsResolver/ChangeLog.md
  src/DnsResolver/DnsResolver/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[StorageAction] First GA release, updated per latest swagger (#27928)
  src/StorageAction/StorageAction.Autorest/Properties/AssemblyInfo.cs
  src/StorageAction/StorageAction.Autorest/README.md
  src/StorageAction/StorageAction.Autorest/custom/autogen-model-cmdlets/New-AzStorageActionTaskOperationObject.ps1
  src/StorageAction/StorageAction.Autorest/custom/autogen-model-cmdlets/New-AzStorageActionTaskPreviewBlobPropertiesObject.ps1
  src/StorageAction/StorageAction.Autorest/custom/autogen-model-cmdlets/New-AzStorageActionTaskPreviewKeyValuePropertiesObject.ps1
  src/StorageAction/StorageAction.Autorest/docs/Az.StorageAction.md
  src/StorageAction/StorageAction.Autorest/docs/Get-AzStorageActionTaskAssignment.md
  src/StorageAction/StorageAction.Autorest/docs/Get-AzStorageActionTasksReport.md
  src/StorageAction/StorageAction.Autorest/docs/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/docs/Update-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/generate-info.json
  src/StorageAction/StorageAction.Autorest/resources/README.md
  src/StorageAction/StorageAction.Autorest/test/Get-AzStorageActionTask.Recording.json
  src/StorageAction/StorageAction.Autorest/test/Get-AzStorageActionTaskAssignment.Recording.json
  src/StorageAction/StorageAction.Autorest/test/Get-AzStorageActionTasksReport.Recording.json
  src/StorageAction/StorageAction.Autorest/test/Get-AzStorageActionTasksReport.Tests.ps1
  src/StorageAction/StorageAction.Autorest/test/Invoke-AzStorageActionTaskPreviewAction.Recording.json
  src/StorageAction/StorageAction.Autorest/test/New-AzStorageActionTask.Recording.json
  src/StorageAction/StorageAction.Autorest/test/Remove-AzStorageActionTask.Recording.json
  src/StorageAction/StorageAction.Autorest/test/Update-AzStorageActionTask.Recording.json
  src/StorageAction/StorageAction.Autorest/test/env.json
  src/StorageAction/StorageAction.Autorest/test/utils.ps1
  src/StorageAction/StorageAction.sln
  src/StorageAction/StorageAction/Az.StorageAction.psd1
  src/StorageAction/StorageAction/ChangeLog.md
  src/StorageAction/StorageAction/help/Az.StorageAction.md
  src/StorageAction/StorageAction/help/Get-AzStorageActionTaskAssignment.md
  src/StorageAction/StorageAction/help/Get-AzStorageActionTasksReport.md
  src/StorageAction/StorageAction/help/New-AzStorageActionTask.md
  src/StorageAction/StorageAction/help/Update-AzStorageActionTask.md
Due: none

[Storage] Storage TaskAssignment (for StorageAction GA)
  src/Storage/Storage.Autorest/Properties/AssemblyInfo.cs
  src/Storage/Storage.Autorest/README.md
  src/Storage/Storage.Autorest/UX/Microsoft.Storage/storageAccounts-storageTaskAssignments.json
  src/Storage/Storage.Autorest/docs/Az.Storage.md
  src/Storage/Storage.Autorest/docs/Get-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/docs/Get-AzStorageTaskAssignmentInstancesReport.md
  src/Storage/Storage.Autorest/docs/New-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/docs/Remove-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/docs/Update-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/examples/Get-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/examples/Get-AzStorageTaskAssignmentInstancesReport.md
  src/Storage/Storage.Autorest/examples/New-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/examples/Remove-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/examples/Update-AzStorageTaskAssignment.md
  src/Storage/Storage.Autorest/generate-info.json
  src/Storage/Storage.Autorest/test/Get-AzStorageAccountMigration.Recording.json
  src/Storage/Storage.Autorest/test/Get-AzStorageAccountMigration.Tests.ps1
  src/Storage/Storage.Autorest/test/Get-AzStorageFileServiceUsage.Recording.json
  src/Storage/Storage.Autorest/test/Get-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/Get-AzStorageTaskAssignmentInstancesReport.Tests.ps1
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Recording.json
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1.bak
  src/Storage/Storage.Autorest/test/Remove-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/Update-AzStorageTaskAssignment.Tests.ps1
  src/Storage/Storage.Autorest/test/env.json
  src/Storage/Storage.Autorest/test/utils.ps1
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/Get-AzStorageTaskAssignment.md
  src/Storage/Storage.Management/help/Get-AzStorageTaskAssignmentInstancesReport.md
  src/Storage/Storage.Management/help/New-AzStorageTaskAssignment.md
  src/Storage/Storage.Management/help/Remove-AzStorageTaskAssignment.md
  src/Storage/Storage.Management/help/Set-AzStorageAccountManagementPolicy.md
  src/Storage/Storage.Management/help/Update-AzStorageTaskAssignment.md
  src/Storage/Storage.sln
Due: none

update breaking change
  src/ManagedServices/ManagedServices.Autorest/README.md
  src/ManagedServices/ManagedServices.Autorest/generate-info.json
  src/ManagedServices/ManagedServices.sln
  src/ManagedServices/ManagedServices/Az.ManagedServices.psd1
Due: none

Update per auto-review feedback.
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1
Due: none

update csproj
  src/HDInsight/HDInsight/HDInsight.csproj
Due: none

updated the neon postgres help docs
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresEndpoint.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresNeonDatabase.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresNeonRole.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresProjectConnectionUri.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/New-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/New-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/generate-info.json
  src/NeonPostgres/NeonPostgres.sln
  src/NeonPostgres/NeonPostgres/Az.NeonPostgres.psd1
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresEndpoint.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresNeonDatabase.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresNeonRole.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresProjectConnectionUri.md
  src/NeonPostgres/NeonPostgres/help/New-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres/help/New-AzNeonPostgresProject.md
Due: none

fix a test failure
  src/Storage/Storage.Autorest/test/New-AzStorageTaskAssignment.Tests.ps1
Due: none

Resolve PR comments
  src/Network/Network/Models/PSGetPacketCaptureResult.cs
  src/Network/Network/Models/PSPacketCaptureResult.cs
  src/Network/Network/Models/PSStorageLocation.cs
  src/Network/Network/NetworkWatcher/PacketCapture/GetAzureNetworkWatcherPacketCaptureCommand.cs
  src/Network/Network/NetworkWatcher/PacketCapture/NewAzureNetworkWatcherPacketCaptureCommandV2.cs
  src/Network/Network/NetworkWatcher/PacketCapture/NewPacketCaptureSettingsCommand.cs
Due: none

Remove empty space
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update src/DataFactory/DataFactory/ChangeLog.md
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

Reset NuGet Config from Main
  NuGet.Config
Due: .azure-pipelines/sync-tools-folder.yml

Update Az.NeonPostgres.psd1
  src/NeonPostgres/NeonPostgres/Az.NeonPostgres.psd1
Due: none

Update test recordings
  src/DataTransfer/DataTransfer.Autorest/test/Approve-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Deny-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Disable-AzDataTransferFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Enable-AzDataTransferFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Get-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Get-AzDataTransferFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Get-AzDataTransferListPendingConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Get-AzDataTransferListPendingFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Get-AzDataTransferPipeline.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Invoke-AzDataTransferLinkPendingConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Invoke-AzDataTransferLinkPendingFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/New-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/New-AzDataTransferFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Remove-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Remove-AzDataTransferFlow.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Update-AzDataTransferConnection.Recording.json
  src/DataTransfer/DataTransfer.Autorest/test/Update-AzDataTransferFlow.Recording.json
Due: none

Added a test case for VM ring buffer
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.cs
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCaptureVMWithRingBuffer.json
Due: none
