Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Fix network solution dependency issue (#26571)
  src/Network/Network.sln
Due: none

Sync resourceManagement.yml (#26572)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

create BreakingChangeIssues.csv and update changelog
  src/Monitor/Monitor/ChangeLog.md
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update changelog
  src/Monitor/Monitor/ChangeLog.md
Due: none

re run ut for migration
  src/Cdn/Cdn.Autorest/test/Invoke-AzCdnAbortProfileToAFDMigration.Recording.json
  src/Cdn/Cdn.Autorest/test/Invoke-AzCdnAbortProfileToAFDMigration.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Invoke-AzCdnCommitProfileToAFDMigration.Recording.json
  src/Cdn/Cdn.Autorest/test/Invoke-AzCdnCommitProfileToAFDMigration.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Move-AzCdnProfileToAFD.Recording.json
  src/Cdn/Cdn.Autorest/test/Move-AzCdnProfileToAFD.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Test-AzCdnProfileMigrationCompatibility.Recording.json
  src/Cdn/Cdn.Autorest/test/Test-AzCdnProfileMigrationCompatibility.Tests.ps1
  src/Cdn/Cdn.Autorest/test/env.json
Due: none

Added support for enabling Disk access settings for managed VM restores (#26504)
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/RecoveryPointConversions.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureVmModels/AzureVmRecoveryPoint.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CmdletParamEnums.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzurePERestore.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Restore/RestoreAzureRMRecoveryServicesBackupItem.cs
  src/RecoveryServices/RecoveryServices.Backup/ParamHelpMsgs.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/help/Restore-AzRecoveryServicesBackupItem.md
Due: none

Update changelog
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Remove breaking change warnings
  src/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  src/ElasticSan/ElasticSan.Autorest/custom/New-AzElasticSanVolumeGroup.ps1
  src/ElasticSan/ElasticSan.Autorest/custom/Update-AzElasticSanVolumeGroup.ps1
  src/ElasticSan/ElasticSan.Autorest/docs/Az.ElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan.Autorest/docs/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/Update-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.Autorest/resources/README.md
  src/ElasticSan/ElasticSan.sln
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/ChangeLog.md
  src/ElasticSan/ElasticSan/help/Add-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanSkuList.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVirtualNetworkRuleObject.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSanVolumeGroup.md
Due: none

Add breaking change exception
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove -ParameterTypeName
  src/Cdn/Cdn.Autorest/custom/New-AzFrontDoorCdnRuleRequestUriConditionObject.ps1
  src/Cdn/Cdn.Autorest/custom/New-AzFrontDoorCdnRuleRouteConfigurationOverrideActionObject.ps1
  src/Cdn/Cdn.Autorest/docs/New-AzFrontDoorCdnRuleRequestUriConditionObject.md
  src/Cdn/Cdn.Autorest/docs/New-AzFrontDoorCdnRuleRouteConfigurationOverrideActionObject.md
  src/Cdn/Cdn.Autorest/test/Get-AzFrontDoorCdnRoute.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Get-AzFrontDoorCdnRule.Tests.ps1
  src/Cdn/Cdn.Autorest/test/New-AzFrontDoorCdnRoute.Tests.ps1
  src/Cdn/Cdn.Autorest/test/New-AzFrontDoorCdnRule.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Remove-AzFrontDoorCdnRoute.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Remove-AzFrontDoorCdnRule.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Update-AzFrontDoorCdnRoute.Tests.ps1
  src/Cdn/Cdn.Autorest/test/Update-AzFrontDoorCdnRule.Tests.ps1
Due: none

Remove extraneous array.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/helpers/HelmHelper.ps1
Due: none

[MSGraph] Fix parameter name bug caused by autorest powershell upgrade (#26565)
  src/Resources/MSGraph.Autorest/README.md
Due: none

adapt
  src/Resources/MSGraph.Autorest/docs/Az.MSGraph.md
  src/Resources/MSGraph.Autorest/generate-info.json
  src/Resources/Resources.sln
  src/Resources/Resources/Az.Resources.psd1
Due: none

[Monitor] Breaking change update Managed Identity (#26376)
  src/Monitor/DataCollectionRule.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/DataCollectionRule.Autorest/README.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/New-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/New-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/env.json
  src/Monitor/DataCollectionRule.Autorest/test/utils.ps1
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

adapt
  src/Monitor/DataCollectionRule.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/DataCollectionRule.Autorest/docs/Az.DataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionRuleAssociation.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionRuleAssociation.md
  src/Monitor/DataCollectionRule.Autorest/generate-info.json
  src/Monitor/DataCollectionRule.Autorest/resources/README.md
  src/Monitor/Monitor.sln
  src/Monitor/Monitor/Az.Monitor.psd1
  src/Monitor/Monitor/ChangeLog.md
  src/Monitor/Monitor/help/Az.Monitor.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/Monitor/Monitor/help/New-AzDataCollectionEndpoint.md
  src/Monitor/Monitor/help/New-AzDataCollectionRule.md
  src/Monitor/Monitor/help/New-AzDataCollectionRuleAssociation.md
  src/Monitor/Monitor/help/Update-AzDataCollectionEndpoint.md
  src/Monitor/Monitor/help/Update-AzDataCollectionRule.md
  src/Monitor/Monitor/help/Update-AzDataCollectionRuleAssociation.md
Due: none

adapt
  src/Mdp/Mdp.Autorest/Properties/AssemblyInfo.cs
  src/Mdp/Mdp.Autorest/custom/README.md
  src/Mdp/Mdp.Autorest/docs/README.md
  src/Mdp/Mdp.Autorest/docs/Update-AzMdpPool.md
  src/Mdp/Mdp.Autorest/generate-info.json
  src/Mdp/Mdp.Autorest/resources/README.md
  src/Mdp/Mdp.Autorest/test/README.md
  src/Mdp/Mdp.sln
  src/Mdp/Mdp/Az.Mdp.psd1
  src/Mdp/Mdp/ChangeLog.md
  src/Mdp/Mdp/Mdp.csproj
  src/Mdp/Mdp/Properties/AssemblyInfo.cs
  src/Mdp/Mdp/help/Az.Mdp.md
  src/Mdp/Mdp/help/Get-AzMdpPool.md
  src/Mdp/Mdp/help/Get-AzMdpPoolAgent.md
  src/Mdp/Mdp/help/Get-AzMdpSku.md
  src/Mdp/Mdp/help/New-AzMdpPool.md
  src/Mdp/Mdp/help/Remove-AzMdpPool.md
  src/Mdp/Mdp/help/Update-AzMdpPool.md
Due: none

LASTERROREXIT does not catch Invoke-Analyzer errors.
  tools/CheckPowershellCompliance.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove breaking change warnings (#26576)
  src/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  src/ElasticSan/ElasticSan.Autorest/custom/New-AzElasticSanVolumeGroup.ps1
  src/ElasticSan/ElasticSan.Autorest/custom/Update-AzElasticSanVolumeGroup.ps1
  src/ElasticSan/ElasticSan.Autorest/docs/Az.ElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan.Autorest/docs/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/Update-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.Autorest/resources/README.md
  src/ElasticSan/ElasticSan.sln
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/ChangeLog.md
  src/ElasticSan/ElasticSan/help/Add-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanSkuList.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/Get-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVirtualNetworkRuleObject.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeGroup.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/ElasticSan/help/Remove-AzElasticSanVolumeSnapshot.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSan.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSanVolume.md
  src/ElasticSan/ElasticSan/help/Update-AzElasticSanVolumeGroup.md
Due: none

[skip ci] Archive 2ec4f6403550f8f5bfd77d2cc9df30fd4af08563
  generated/ElasticSan/ElasticSan.Autorest/Az.ElasticSan.csproj
  generated/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  generated/ElasticSan/ElasticSan.Autorest/exports/New-AzElasticSan.ps1
  generated/ElasticSan/ElasticSan.Autorest/exports/New-AzElasticSanVolume.ps1
  generated/ElasticSan/ElasticSan.Autorest/exports/New-AzElasticSanVolumeSnapshot.ps1
  generated/ElasticSan/ElasticSan.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/ElasticSan/ElasticSan.Autorest/exports/Update-AzElasticSan.ps1
  generated/ElasticSan/ElasticSan.Autorest/exports/Update-AzElasticSanVolume.ps1
  generated/ElasticSan/ElasticSan.Autorest/generate-info.json
  generated/ElasticSan/ElasticSan.Autorest/generated/api/ElasticSan.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeGroup_CreateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeGroup_CreateViaIdentityElasticSanExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeGroup_CreateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeSnapshot_CreateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeSnapshot_CreateViaIdentityElasticSanExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeSnapshot_CreateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolumeSnapshot_CreateViaIdentityVolumegroupExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolume_CreateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolume_CreateViaIdentityElasticSanExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolume_CreateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSanVolume_CreateViaIdentityVolumegroupExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSan_CreateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/NewAzElasticSan_CreateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolumeGroup_UpdateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolumeGroup_UpdateViaIdentityElasticSanExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolumeGroup_UpdateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolume_UpdateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolume_UpdateViaIdentityElasticSanExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolume_UpdateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSanVolume_UpdateViaIdentityVolumegroupExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSan_UpdateExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/generated/cmdlets/UpdateAzElasticSan_UpdateViaIdentityExpanded.cs
  generated/ElasticSan/ElasticSan.Autorest/internal/New-AzElasticSanVolumeGroup.ps1
  generated/ElasticSan/ElasticSan.Autorest/internal/ProxyCmdletDefinitions.ps1
  generated/ElasticSan/ElasticSan.Autorest/internal/Update-AzElasticSanVolumeGroup.ps1
  generated/ElasticSan/ElasticSan.Autorest/resources/README.md
Due: none

update help and changelog
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/help/Get-AzNetAppFilesBackup.md
  src/NetAppFiles/NetAppFiles/help/New-AzNetAppFilesBackup.md
  src/NetAppFiles/NetAppFiles/help/Remove-AzNetAppFilesBackup.md
  src/NetAppFiles/NetAppFiles/help/Restore-AzNetAppFilesBackupFile.md
  src/NetAppFiles/NetAppFiles/help/Update-AzNetAppFilesBackup.md
Due: none

Merge InputObject function.
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
Due: none

Added CRR support for southeastus, westus3 region
  src/RecoveryServices/RecoveryServices.Backup/Helpers/BackupUtils.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Update Copy-AzRecoveryServicesVault.md (#26570) (#26582)
  src/RecoveryServices/RecoveryServices/help/Copy-AzRecoveryServicesVault.md
Due: none

Sync resourceManagement.yml (#26572) (#26584)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Temporary/sync generation to future 26565 (#26577)
  src/Resources/MSGraph.Autorest/README.md
  src/Resources/MSGraph.Autorest/docs/Az.MSGraph.md
  src/Resources/MSGraph.Autorest/generate-info.json
  src/Resources/Resources.sln
  src/Resources/Resources/Az.Resources.psd1
Due: none

Temporary/sync generation to future 26376 (#26578)
  src/Monitor/DataCollectionRule.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/DataCollectionRule.Autorest/README.md
  src/Monitor/DataCollectionRule.Autorest/docs/Az.DataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/New-AzDataCollectionRuleAssociation.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionEndpoint.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionRule.md
  src/Monitor/DataCollectionRule.Autorest/docs/Update-AzDataCollectionRuleAssociation.md
  src/Monitor/DataCollectionRule.Autorest/generate-info.json
  src/Monitor/DataCollectionRule.Autorest/resources/README.md
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Get-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/New-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/New-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Remove-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionEndpoint.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionRule.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/Update-AzDataCollectionRuleAssociation.Recording.json
  src/Monitor/DataCollectionRule.Autorest/test/env.json
  src/Monitor/DataCollectionRule.Autorest/test/utils.ps1
  src/Monitor/Monitor.sln
  src/Monitor/Monitor/Az.Monitor.psd1
  src/Monitor/Monitor/ChangeLog.md
  src/Monitor/Monitor/help/Az.Monitor.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/Monitor/Monitor/help/New-AzDataCollectionEndpoint.md
  src/Monitor/Monitor/help/New-AzDataCollectionRule.md
  src/Monitor/Monitor/help/New-AzDataCollectionRuleAssociation.md
  src/Monitor/Monitor/help/Update-AzDataCollectionEndpoint.md
  src/Monitor/Monitor/help/Update-AzDataCollectionRule.md
  src/Monitor/Monitor/help/Update-AzDataCollectionRuleAssociation.md
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add new monitor submodule to network solution
  src/Network/Network.sln
Due: none
