Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Revert "[Az.Resources] Fix unexplicable error message when subscription and scope are both null. (#22730)"
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/Models.ResourceGroups/ResourcesBaseCmdlet.cs
  src/Resources/Resources/Properties/Resources.Designer.cs
  src/Resources/Resources/Properties/Resources.resx
  src/Resources/Resources/RoleAssignments/GetAzureRoleAssignmentCommand.cs
  src/Resources/Resources/RoleAssignments/NewAzureRoleAssignmentCommand.cs
  src/Resources/Resources/RoleAssignments/RemoveAzureRoleAssignmentCommand.cs
  src/Resources/Resources/RoleDefinitions/GetAzureRoleDefinitionCommand.cs
  src/Resources/Resources/RoleDefinitions/RemoveAzureRoleDefinitionCommand.cs
Due: none

Revert "Fix Possible error when subscription is null in Get-AzRoleAssignment (#22776)"
  src/Resources/Resources/RoleAssignments/GetAzureRoleAssignmentCommand.cs
Due: none

Update ChangeLog.md
  src/Network/Network/ChangeLog.md
Due: none

Moving release notes to upcoming release
  src/Websites/Websites/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Websites/Websites/ChangeLog.md
Due: none

Update azure-powershell-modules.md (#22857)
  documentation/azure-powershell-modules.md
Due: none

Adjust Publish-AzWebApp default parameters (#22832)
  src/Websites/Websites.Test/ScenarioTests/WebAppTests.ps1
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppFromWar.json
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppFromZip.json
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppOneDeploy.json
  src/Websites/Websites/ChangeLog.md
  src/Websites/Websites/Cmdlets/WebApps/PublishAzureWebApp.cs
Due: none

Add support saas nva cmdlet (#22836)
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSNetworkVirtualApplianceDelegationProperties.cs
  src/Network/Network/NetworkVirtualAppliance/NewSaaSNetworkVirtualApplianceCommand.cs
  src/Network/Network/help/New-AzSaaSNetworkVirtualAppliance.md
Due: none

Fix the doc errors and update the version to 0.2.2
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/help/Update-AzModule.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md (#22867)
  src/Network/Network/ChangeLog.md
Due: none

Address the review comments
  tools/Az.Tools.Installer/ChangeLog.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the Az.Tools.Installer Telemetry SuccessRate Error (#22814)
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/Az.Tools.Installer.psm1
  tools/Az.Tools.Installer/ChangeLog.md
  tools/Az.Tools.Installer/exports/Install-AzModule.ps1
  tools/Az.Tools.Installer/exports/Uninstall-AzModule.ps1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/help/Install-AzModule.md
  tools/Az.Tools.Installer/help/Update-AzModule.md
  tools/Az.Tools.Installer/internal/Add-RepositoryArgumentCompleter.ps1
  tools/Az.Tools.Installer/internal/Install-AzModuleInternal.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_ByPath.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_Default.ps1
  tools/Az.Tools.Installer/internal/Install-SingleModuleFromPackage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update-AzVmss TrustedLaunch bug (#22846)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeUpdate.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfigUpdate.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
Due: none

[Breaking Change] Changed parameter SoftDeleteRetentionInDays in New-AzKeyVaultManagedHsm (#22856)
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/ManagedHsm/NewAzKeyVaultManagedHsm.cs
  src/KeyVault/KeyVault/help/New-AzKeyVaultManagedHsm.md
  tools/StaticAnalysis/Exceptions/Az.KeyVault/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync resourceManagement.yml (#22862)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Added hostnames field for Application Gateway Listeners
  src/Network/Network/ApplicationGateway/Listener/AzureApplicationGatewayListenerBase.cs
  src/Network/Network/Models/PSApplicationGatewayListener.cs
Due: none

update apiversion 2023-06-01 preview
  src/EventGrid/README.md
  src/EventGrid/docs/New-AzEventGridDomain.md
  src/EventGrid/docs/New-AzEventGridEventSubscription.md
  src/EventGrid/docs/New-AzEventGridPartnerNamespace.md
  src/EventGrid/docs/New-AzEventGridSystemTopicEventSubscription.md
  src/EventGrid/docs/New-AzEventGridTopic.md
  src/EventGrid/docs/Update-AzEventGridDomainEventSubscription.md
  src/EventGrid/docs/Update-AzEventGridDomainTopicEventSubscription.md
  src/EventGrid/docs/Update-AzEventGridEventSubscription.md
  src/EventGrid/docs/Update-AzEventGridPartnerTopicEventSubscription.md
  src/EventGrid/docs/Update-AzEventGridSystemTopicEventSubscription.md
  src/EventGrid/docs/Update-AzEventGridTopicEventSubscription.md
Due: none

updated commit id
  src/CosmosDB/CosmosDB.Sdk/README.md
Due: none

MinimalTlsVersion to changelog
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Update ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Update CODEOWNERS (#22847)
  .github/CODEOWNERS
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .github/policies/resourceManagement.yml
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Canceled Sentinel breaking change stable 2023-02-01 version
  src/SecurityInsights/README.md
  src/SecurityInsights/custom/New-AzSentinelAlertRule.ps1
  src/SecurityInsights/custom/New-AzSentinelDataConnector.ps1
  src/SecurityInsights/custom/New-AzSentinelEntityQuery.ps1
  src/SecurityInsights/custom/Test-AzSentinelDataConnectorCheckRequirement.ps1
  src/SecurityInsights/custom/Update-AzSentinelAlertRule.ps1
  src/SecurityInsights/custom/Update-AzSentinelDataConnector.ps1
  src/SecurityInsights/custom/Update-AzSentinelEntityQuery.ps1
  src/SecurityInsights/custom/Update-AzSentinelSetting.ps1
Due: none

Revert remove CustomIMDSHost
  src/StackHCI/custom/stackhci.ps1
Due: none

fix child property inheritance issue
  src/Network/Network/Models/PSNetworkVirtualApplianceDelegationProperties.cs
Due: none

fix unintentional fields exposed due to inheritance
  src/Network/Network/Models/PSNetworkVirtualApplianceDelegationProperties.cs
Due: none

Revert remove CustomIMDSHost (#22872)
  src/StackHCI/custom/stackhci.ps1
Due: none

Update extension documentation and added tests
  src/Security/Security.Test/ScenarioTests/SecurityPricingTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityPricingTests.ps1
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityPricingTests/GetResourceId.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityPricingTests/GetSubscriptionLevelResource.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityPricingTests/GetSubscriptionScope.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityPricingTests/SetSubscriptionLevelResource.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityPricingTests/SetSubscriptionLevelResourceWithSubplanAndExtensions.json
  src/Security/Security/Cmdlets/Pricings/SetPricings.cs
  src/Security/Security/Common/ParameterHelpMessages.cs
  src/Security/Security/help/Set-AzSecurityPricing.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
