Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Add licenses in new files
  src/Aks/Aks/Models/AdapterHelper.cs
  src/Aks/Aks/Models/PSBinder.cs
Due: none

Update changelog message and fix context
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
Due: none

Update Changelog, modify the set private loop condition.
  src/Aks/Aks/ChangeLog.md
  src/Aks/Aks/Models/AdapterHelper.cs
Due: none

Update psci.psm1
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[AKS] Automapper decouple (#21230)
  src/Aks/Aks/Aks.csproj
  src/Aks/Aks/Az.Aks.psd1
  src/Aks/Aks/ChangeLog.md
  src/Aks/Aks/Commands/GetAzureRmAks.cs
  src/Aks/Aks/Commands/GetAzureRmAksNodePool.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
  src/Aks/Aks/Commands/NewAzureRmAksNodePool.cs
  src/Aks/Aks/Commands/RunAzureRmAksCommand.cs
  src/Aks/Aks/Commands/SetAzureRmAks.cs
  src/Aks/Aks/Commands/UpdateAddonsBase.cs
  src/Aks/Aks/Commands/UpdateAzureRmAksNodePool.cs
  src/Aks/Aks/Models/AdapterHelper.cs
  src/Aks/Aks/Models/Mapper.cs
  src/Aks/Aks/Models/PSBinder.cs
Due: none

Sync tools folder from main branch to generation branch (#21227)
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.EventGrid/BreakingChangeIssues.csv
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Create ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Changelog -> ChangeLog (#21229)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Gen2Master/Templates/ChangeLog.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated implementation for test coverage
  .azure-pipelines/test-coverage.yml
  src/Az.autorest.hybrid.props
  src/MySql/test/AzMySqlFlexibleServer.Tests.ps1
  src/MySql/test/Get-AzMySqlReplica.Tests.ps1
  src/MySql/test/New-AzMySqlReplica.Tests.ps1
  src/MySql/test/Restore-AzMySqlServer.Tests.ps1
  tools/TestFx/Coverage/AnalyzeTestCoverage.ps1
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
  tools/TestFx/Utilities/CommonUtility.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

[AppService]: fix #21153 Perform an App Service soft restart (#21223)
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppSlotTests/TestStartStopRestartWebAppSlot.json
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestStartStopRestartWebApp.json
  src/Websites/Websites/ChangeLog.md
  src/Websites/Websites/Cmdlets/DeploymentSlots/RestartAzureWebAppSlot.cs
  src/Websites/Websites/Cmdlets/WebApps/RestartAzureWebApp.cs
  src/Websites/Websites/Utilities/WebsitesClient.cs
  src/Websites/Websites/help/Restart-AzWebApp.md
  src/Websites/Websites/help/Restart-AzWebAppSlot.md
Due: none

Update psci.psm1 (#21240)
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Gen2Master/Templates/ChangeLog.md
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding breaking change tags for SqlManagementType parameter as it is being removed from input and output of SqlVm cmdlets (#21238)
  src/SqlVirtualMachine/SqlVirtualMachine/ChangeLog.md
  src/SqlVirtualMachine/SqlVirtualMachine/SqlVirtualMachine/Cmdlet/GetAzureSqlVM.cs
  src/SqlVirtualMachine/SqlVirtualMachine/SqlVirtualMachine/Cmdlet/NewAzureSqlVM.cs
  src/SqlVirtualMachine/SqlVirtualMachine/SqlVirtualMachine/Cmdlet/RemoveAzureSqlVM.cs
  src/SqlVirtualMachine/SqlVirtualMachine/SqlVirtualMachine/Cmdlet/UpdateAzureSqlVM.cs
Due: none

Adding recording and test for saplanscape monitor
  src/Workloads/test/New-AzWorkloadsSapLandscapeMonitor.Recording.json
  src/Workloads/test/New-AzWorkloadsSapLandscapeMonitor.Tests.ps1
Due: none

Update Debugging-StaticAnalysis-Errors.md
  documentation/Debugging-StaticAnalysis-Errors.md
Due: none

rename EventSystemProperties back to EventSystemProperty
  src/Kusto/custom/Invoke-AzKustoDataConnectionValidation.ps1
  src/Kusto/custom/New-AzKustoDataConnection.ps1
  src/Kusto/custom/Update-AzKustoDataConnection.ps1
  src/Kusto/docs/Invoke-AzKustoDataConnectionValidation.md
  src/Kusto/docs/New-AzKustoDataConnection.md
  src/Kusto/docs/Update-AzKustoDataConnection.md
Due: none

Add an example for Get-AzKustoSku
  src/Kusto/examples/Get-AzKustoSku.md
Due: none

Delete saplandscape test and recording
  src/Workloads/test/Remove-AzWorkloadsSapLandscapeMonitor.Recording.json
  src/Workloads/test/Remove-AzWorkloadsSapLandscapeMonitor.Tests.ps1
Due: none

Update monitor tags test and recording
  src/Workloads/test/Update-AzWorkloadsMonitor.Recording.json
  src/Workloads/test/Update-AzWorkloadsMonitor.Tests.ps1
Due: none

update monitorlandscpe test and recordings
  src/Workloads/test/Update-AzWorkloadsSapLandscapeMonitor.Recording.json
  src/Workloads/test/Update-AzWorkloadsSapLandscapeMonitor.Tests.ps1
Due: none

Adding get monitorlandscape test and recordings
  src/Workloads/test/Get-AzWorkloadsSapLandscapeMonitor.Recording.json
  src/Workloads/test/Get-AzWorkloadsSapLandscapeMonitor.Tests.ps1
Due: none

Update New-AzWorkloadsSapLandscapeMonitorSidMappingObject.Tests.ps1
  src/Workloads/test/New-AzWorkloadsSapLandscapeMonitorSidMappingObject.Tests.ps1
Due: none

Update New-AzWorkloadsSapLandscapeMonitorMetricThresholdsObject.Tests.ps1
  src/Workloads/test/New-AzWorkloadsSapLandscapeMonitorMetricThresholdsObject.Tests.ps1
Due: none

Sync tools folder from main branch to generation branch (#21243)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Gen2Master/Templates/ChangeLog.md
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Storage] Fix file cmdlet context issue when current context doesn't match Track1 object context from input (#21228)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/File/AzureStorageFileCmdletBase.cs
  src/Storage/Storage/File/Cmdlet/CloseAzureStorageFileHandle.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageFileHandle.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileSasToken.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageShareQuota.cs
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
Due: none

bypass breaking change of DataFormatType rename
  tools/StaticAnalysis/Exceptions/Az.Kusto/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Resolved issues with Set-AzDataProtectionMSIPermission command Added test cases for AKS
  src/DataProtection/custom/Cmdlets/Common/Initialize-AzDataProtectionBackupInstance.ps1
  src/DataProtection/custom/Cmdlets/Common/New-AzDataProtectionBackupConfigurationClientObject.ps1
  src/DataProtection/custom/Cmdlets/Platform/Restore/Initialize-AzDataProtectionRestoreRequest.ps1
  src/DataProtection/custom/Cmdlets/Platform/Restore/New-AzDataProtectionRestoreConfigurationClientObject.ps1
  src/DataProtection/custom/Cmdlets/Platform/Vault/Set-AzDataProtectionMSIPermission.ps1
  src/DataProtection/custom/Cmdlets/Policy/Edit-AzDataProtectionPolicyRetentionRuleClientObject.ps1
  src/DataProtection/custom/Enums/Enums.cs
  src/DataProtection/custom/Helpers/BackupcenterHelper.ps1
  src/DataProtection/custom/manifests/AzureKubernetesService.json
  src/DataProtection/custom/manifests/DatasourceTypesInfo.json
  src/DataProtection/docs/Az.DataProtection.md
  src/DataProtection/docs/Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/docs/Initialize-AzDataProtectionRestoreRequest.md
  src/DataProtection/docs/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/docs/New-AzDataProtectionBackupInstance.md
  src/DataProtection/docs/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/docs/New-AzDataProtectionRestoreConfigurationClientObject.md
  src/DataProtection/docs/Set-AzDataProtectionMSIPermission.md
  src/DataProtection/examples/Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/examples/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/examples/New-AzDataProtectionBackupInstance.md
  src/DataProtection/examples/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/examples/New-AzDataProtectionRestoreConfigurationClientObject.md
  src/DataProtection/examples/Set-AzDataProtectionMSIPermission.md
  src/DataProtection/test/New-AzDataProtectionBackupInstance.Tests.ps1
  src/DataProtection/test/New-AzDataProtectionBackupPolicy.Tests.ps1
  src/DataProtection/test/utils.ps1
Due: none

recorded new tests re-recorded tests
  src/DataProtection/test/Backup-AzDataProtectionBackupInstanceAdhoc.Recording.json
  src/DataProtection/test/DiskBackupScenario.Recording.json
  src/DataProtection/test/Find-AzDataProtectionRestorableTimeRange.Recording.json
  src/DataProtection/test/Get-AzDataProtectionBackupInstance.Recording.json
  src/DataProtection/test/Get-AzDataProtectionBackupPolicy.Recording.json
  src/DataProtection/test/Get-AzDataProtectionBackupVault.Recording.json
  src/DataProtection/test/Initialize-AzDataProtectionRestoreRequest.Recording.json
  src/DataProtection/test/New-AzDataProtectionBackupInstance.Recording.json
  src/DataProtection/test/New-AzDataProtectionBackupInstance.Tests.ps1
  src/DataProtection/test/New-AzDataProtectionBackupPolicy.Recording.json
  src/DataProtection/test/New-AzDataProtectionBackupVault.Recording.json
  src/DataProtection/test/New-AzDataProtectionResourceGuard.Recording.json
  src/DataProtection/test/Start-AzDataProtectionBackupInstanceRestore.Recording.json
  src/DataProtection/test/env.json
  src/DataProtection/test/utils.ps1
Due: none

bypass breaking change of DataFormatType rename
  src/Kusto/docs/Get-AzKustoSku.md
  tools/StaticAnalysis/Exceptions/Az.Kusto/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

address code review comments
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/help/Refresh-AzSqlServerExternalGovernanceStatus.md
Due: none

rename cmdlet
  src/Sql/Sql.Test/ScenarioTests/RefreshExternalGovernanceCmdletTests.ps1
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/ExternalGovernance/Cmdlet/InvokeAzSqlServerExternalGovernanceStatusRefresh.cs
  src/Sql/Sql/help/Refresh-AzSqlServerExternalGovernanceStatus.md
Due: none

Build & run
  src/Sql/Az.Sql.psd1
  src/Sql/docs/Az.Sql.md
  src/Sql/docs/Get-AzSqlServerConfigurationOption.md
  src/Sql/docs/New-AzSqlServerConfigurationOption.md
  src/Sql/examples/Get-AzSqlServerConfigurationOption.md
  src/Sql/examples/New-AzSqlServerConfigurationOption.md
  src/Sql/examples/README.md
  src/Sql/test/Get-AzSqlServerConfigurationOption.Tests.ps1
  src/Sql/test/New-AzSqlServerConfigurationOption.Tests.ps1
  src/Sql/test/localEnv.json
  src/Sql/test/utils.ps1
Due: none

Displayed RouteServerId on output
  src/Network/Network/Network.format.ps1xml
Due: none

Added change log
  src/Network/Network/ChangeLog.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
