Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Finished test run
  src/DesktopVirtualization/test/Get-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdScalingPlanPooledSchedule.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdSessionHost.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdStartMenuItem.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdUserSession.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdWorkspace.Recording.json
  src/DesktopVirtualization/test/New-AzWvdApplication.Recording.json
  src/DesktopVirtualization/test/New-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/test/New-AzWvdMSIXPackage.Recording.json
  src/DesktopVirtualization/test/New-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/test/New-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/test/New-AzWvdScalingPlanPooledSchedule.Recording.json
  src/DesktopVirtualization/test/New-AzWvdWorkspace.Recording.json
  src/DesktopVirtualization/test/Register-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdApplication.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdPrivateEndpointConnection.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdScalingPlanPooledSchedule.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdSessionHost.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdUserSession.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdWorkspace.Recording.json
Due: none

Fix delay dev box link in custom
  src/DevCenter/DevCenterData.AutoRest/custom/Invoke-AzDevCenterUserDelayDevBoxAction.ps1
Due: none

Fix examples
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminImage.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminProject.md
  src/DevCenter/DevCenterData.AutoRest/examples/Deploy-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserEnvironmentDefinition.md
  src/DevCenter/DevCenterData.AutoRest/examples/New-AzDevCenterUserEnvironment.md
Due: none

Fix examples in docs
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminImage.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminProject.md
  src/DevCenter/DevCenterData.AutoRest/docs/Deploy-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserEnvironmentDefinition.md
  src/DevCenter/DevCenterData.AutoRest/docs/Invoke-AzDevCenterUserDelayDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/New-AzDevCenterUserEnvironment.md
Due: none

Fix build errors
  src/DevCenter/DevCenter.AutoRest/Az.DevCenter.psd1
  src/DevCenter/DevCenter.AutoRest/README.md
  src/DevCenter/DevCenter.AutoRest/custom/New-AzDevCenterAdminCatalog.ps1
  src/DevCenter/DevCenter.AutoRest/docs/Az.DevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminOperationStatus.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminOperationStatus.md
  src/DevCenter/DevCenter.AutoRest/test/Get-AzDevCenterAdminOperationStatus.Recording.json
  src/DevCenter/DevCenter.AutoRest/test/Get-AzDevCenterAdminOperationStatus.Tests.ps1
  src/DevCenter/DevCenter.AutoRest/test/Get-AzDevCenterAdminOperationStatuses.Recording.json
  src/DevCenter/DevCenterData.AutoRest/docs/New-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/New-AzDevCenterUserEnvironment.md
Due: none

update assembly version of sdk
  src/Compute/Compute.Management.Sdk/Properties/AssemblyInfo.cs
Due: none

hibernate parameter for Stop-AzVmss
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetDeallocateMethod.cs
  src/Compute/Compute/help/Stop-AzVmss.md
Due: none

Bump up version for StackHCI (#22543)
  VersionInfo.json
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/ChangeLog.md
  src/StackHCI/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

reset autorest
  src/ConnectedMachine/.gitignore
  src/ConnectedMachine/README.md
  src/ConnectedMachine/custom/README.md
  src/ConnectedMachine/docs/Connect-AzConnectedMachine.md
  src/ConnectedMachine/docs/Get-AzConnectedExtensionMetadata.md
  src/ConnectedMachine/docs/Get-AzConnectedMachine.md
  src/ConnectedMachine/docs/Get-AzConnectedMachineExtension.md
  src/ConnectedMachine/docs/Get-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/docs/Install-AzConnectedMachinePatch.md
  src/ConnectedMachine/docs/Invoke-AzConnectedAssessMachinePatch.md
  src/ConnectedMachine/docs/New-AzConnectedMachineExtension.md
  src/ConnectedMachine/docs/New-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/docs/README.md
  src/ConnectedMachine/docs/Remove-AzConnectedMachine.md
  src/ConnectedMachine/docs/Remove-AzConnectedMachineExtension.md
  src/ConnectedMachine/docs/Remove-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/docs/Set-AzConnectedMachineExtension.md
  src/ConnectedMachine/docs/Set-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/docs/Update-AzConnectedExtension.md
  src/ConnectedMachine/docs/Update-AzConnectedMachine.md
  src/ConnectedMachine/docs/Update-AzConnectedMachineExtension.md
  src/ConnectedMachine/docs/Update-AzConnectedPrivateLinkScopeTag.md
  src/ConnectedMachine/how-to.md
  src/ConnectedMachine/installationlog.txt
  src/ConnectedMachine/test/loadEnv.ps1
Due: none

Update New-AzVirtualNetworkSubnetConfig.md
  src/Network/Network/help/New-AzVirtualNetworkSubnetConfig.md
Due: none

Preview version bumped - 4.11.0-preview
  src/KeyVault/KeyVault.Sdk/Properties/AssemblyInfo.cs
  src/KeyVault/KeyVault/Az.KeyVault.psd1
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

encryption context
  src/Storage/Storage/DatalakeGen2/Cmdlet/NewAzDataLakeGen2Item.cs
  src/Storage/Storage/Storage.csproj
Due: none

Add changelog
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Revert "replace models"
  src/HDInsight/HDInsight/HDInsight.csproj
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightAutoscale.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightAutoscaleCapacity.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightAutoscaleCondition.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightAutoscaleRecurrence.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightClientGroupInfo.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightCluster.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightClusterIdentity.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightComputeIsolationProperties.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightComputeProfile.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightConfig.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightConnectivityEndpoint.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightDataDisksGroups.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightIPConfiguration.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightKafkaProperties.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightLinuxOperatingSystemProfile.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightNetworkProperties.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightOsProfile.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightPrivateEndpoint.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightPrivateEndpointConnection.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightPrivateLinkConfiguration.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightPrivateLinkServiceConnectionState.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightRole.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightScriptAction.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightSshProfile.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightSshPublicKey.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightUserAssignedIdentity.cs
  src/HDInsight/HDInsight/Models/Management/AzureHDInsightVirtualNetworkProfile.cs
  src/HDInsight/HDInsight/Models/Management/AzureHdInsightManagementClient.cs
Due: none

[KeyVault] Added security domain properties into PSManagedHsm (#22540)
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedHsmProperties.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedHsmSku.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedHsmSkuName.cs
  src/KeyVault/KeyVault.Sdk/README.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/KeyVault.format.ps1xml
  src/KeyVault/KeyVault/Models/ManagedHsm/PSDeletedManagedHsm.cs
  src/KeyVault/KeyVault/Models/ManagedHsm/PSManagedHSMSecurityDomain.cs
  src/KeyVault/KeyVault/Models/ManagedHsm/PSManagedHsm.cs
  src/KeyVault/KeyVault/help/Get-AzKeyVaultManagedHsm.md
Due: none

hibernate parameter for Stop-AzVmss (#22560)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetDeallocateMethod.cs
  src/Compute/Compute/help/Stop-AzVmss.md
Due: none

Update PrLabeled.ps1 (#22553)
  .github/workflows/script/PrLabeled.ps1
Due: azure-pipelines.yml

version
  src/Network/Network/FirewallPolicy/FirewallCustomRule/GroupByUserSession/GroupByVariable/NewAzureApplicationGatewayFirewallCustomRuleGroupByVariableCommand.cs
Due: none

[DataMigration] Update the description of command New-AzDataMigrationToSqlDb (#22517)
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/readme.md
Due: none

Update code-oob.yml for Azure Pipelines
  .azure-pipelines/code-oob.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Upgraded vulnerable DLLs after upgrading PowerShell SDK
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

updating changelog
  src/Websites/Websites/ChangeLog.md
Due: none

tests fixed maybe 1 fails
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.cs
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.DiskRPTests/TestSecurityProfileStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandardWithConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandardWithConfig.json
  src/Compute/Compute/Generated/Disk/Config/SetAzDiskSecurityProfile.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/SetAzureRmVmssSecurityProfileCommand.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzureVMSecurityProfile.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Remove PS 7.0 from smoke test
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Add live tests for MHSM Settings
  src/KeyVault/KeyVault.Test/LiveTests/ManagedHsmDataPlaneLiveTests/TestSetting.ps1
  src/KeyVault/KeyVault.Test/LiveTests/TestLiveScenarios.ps1
  src/KeyVault/KeyVault/Commands/Setting/UpdateAzKeyVaultSetting.cs
Due: none

enable all test cases
  src/KeyVault/KeyVault.Test/LiveTests/TestLiveScenarios.ps1
Due: none

Adding XenonMV3 Support (#22530)
  src/Websites/Websites/ChangeLog.md
  src/Websites/Websites/Cmdlets/AppServicePlans/NewAzureAppServicePlan.cs
Due: none

Upgraded vulnerable DLLs after upgrading PowerShell SDK (#22566)
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bug Fix for Inspection Limit Feature for Application Gateway Firewall Policy Settings (#22546)
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyWithRateLimitRuleGeoLocation.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/FirewallPolicy/FirewallCustomRule/GroupByUserSession/GroupByVariable/NewAzureApplicationGatewayFirewallCustomRuleGroupByVariableCommand.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallCustomRuleGroupByVariable.md
Due: none

Update New-AzVirtualNetworkSubnetConfig.md (#22561)
  src/Network/Network/help/New-AzVirtualNetworkSubnetConfig.md
Due: none

change breaking change info
  src/Maintenance/Maintenance/MaintenanceConfiguration/MaintenanceConfigurationCreateOrUpdateMethod.cs
Due: none

Move ContainerInstance to main
  src/ContainerInstance/Az.ContainerInstance.psd1
  src/ContainerInstance/ContainerInstance.sln
  src/ContainerInstance/UX/Microsoft.ContainerInstance/containerGroups-containers.json
  src/ContainerInstance/UX/Microsoft.ContainerInstance/containerGroups.json
  src/ContainerInstance/generate-info.json
Due: none

Move StackHCI to main
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/StackHCI.sln
  src/StackHCI/generate-info.json
Due: none

Move DataMigration to main
  src/DataMigration/DataMigration.Autorest/README.md
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/exports/New-AzDataMigrationToSqlDb.ps1
  src/DataMigration/DataMigration.Autorest/exports/ProxyCmdletDefinitions.ps1
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.Autorest/generated/api/DataMigration.cs
  src/DataMigration/DataMigration.Autorest/generated/cmdlets/NewAzDataMigrationToSqlDb_CreateExpanded.cs
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/help/Az.DataMigration.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlDb.md
Due: none

update ChangeLog
  src/DataMigration/DataMigration/ChangeLog.md
Due: none
