Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

skip living test
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightAutoscaleTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightAzureMonitorTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightClusterTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightHostTests.cs
  src/HDInsight/HDInsight.Test/ScenarioTests/HDInsightSetGatewayCredentialTest.cs
Due: none

[Monitor]add parameter dimension for Get-AzMetric (#22478)
  src/Monitor/Monitor/ChangeLog.md
  src/Monitor/Monitor/Metrics/GetAzureRmMetricCommand.cs
  src/Monitor/Monitor/help/Get-AzMetric.md
Due: none

Added ExpiryTime, AFS Job, AFS restore changes (#22479)
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/JobConversions.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureFileShareModels/AzureFileShareJob.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.ServiceClientAdapter/BMSAPIs/RestoreDiskAPIs.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/JobTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSRestoreToAnotherRegion.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVmWorkloadBackupProtectionItem.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Backup/BackupAzureRmRecoveryServicesBackupItem.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Fixed test case issues after TestFx target framework upgraded to .NET6 and also improved test execution performance by replacing Start-Sleep with Start-TestSleep
  src/Accounts/Accounts.Test/OnImportTests.cs
  src/Az.Test.props
  src/Batch/Batch.Test/ComputeNodes/StartBatchComputeNodeServiceLogUploadCommandTests.cs
  src/Batch/Batch.Test/Pools/GetBatchPoolNodeCountsCommandTests.cs
  src/Compute/Compute.Test/ScenarioTests/SqlIaaSExtensionTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/AccountTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/ManagedCassandraOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.ps1
  src/KeyVault/KeyVault.Test/Models/PSKeyVaultCertificatePolicyTests.cs
  src/KeyVault/KeyVault.Test/Models/UtilitiesTests.cs
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.ps1
  tools/Common.Netcore.Dependencies.Test.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md for network security perimeter
  src/Network/Network/ChangeLog.md
Due: none

update changelog
  src/Network/Network/ChangeLog.md
Due: none

Update test-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fixed websocket related async tasks in InvokeAzContainerInstanceCommand_ExecuteExpanded.cs
  src/ContainerInstance/ChangeLog.md
  src/ContainerInstance/custom/InvokeAzContainerInstanceCommand_ExecuteExpanded.cs
Due: none

Fixed test script issue for Compute.
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
Due: none

test removing deps.json2
  build.proj
Due: none

adjusted changelog to remove version
  src/Resources/Resources/ChangeLog.md
Due: none

initial dev
  src/Compute/Compute/Common/ConstantStringTypes.cs
  src/Compute/Compute/Generated/Disk/Config/SetAzDiskSecurityProfile.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/SetAzureRmVmssSecurityProfileCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzureVMSecurityProfile.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

[Resources] Bugfix New-Az*DeploymentStacks cmdlets conditional change (#22462)
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzManagementGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzResourceGroupDeploymentStack.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacks/NewAzSubscriptionDeploymentStack.cs
  src/Resources/Resources/ChangeLog.md
Due: none

fix ex
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminSchedule.md
Due: none

Updated test framework for testcoverage CI
  .azure-pipelines/test-coverage.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Test removing deps.json (#22441)
  build.proj
Due: none

Register Microsoft.EventGrid/partnerNamespaces, Microsoft.EventGrid/namespaces in Network cmdlets (#22476)
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
Due: none

update docs
  src/DevCenter/DevCenter.AutoRest/README.md
  src/DevCenter/DevCenter.AutoRest/custom/Get-AzDevCenterAdminNetworkConnectionHealthDetail.ps1
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminNetworkConnectionHealthDetail.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminProjectAllowedEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminSku.md
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminUsage.md
  src/DevCenter/DevCenter.AutoRest/docs/Invoke-AzDevCenterAdminExecuteCheckNameAvailability.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminProjectAllowedEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminSku.md
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminUsage.md
  src/DevCenter/DevCenter.AutoRest/examples/Invoke-AzDevCenterAdminExecuteCheckNameAvailability.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminCatalog.md
Due: none

Update the logic of LastExitCode
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Azure SQL MI | API for managed instance needs to be 2018-06-01-preview at least (#22454)
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/DataClassification/Services/DataClassificationEndpointsCommunicator.cs
Due: none

update changelog
  src/StorageMover/ChangeLog.md
Due: none

control plane docs
  src/DevCenter/DevCenter.AutoRest/custom/New-AzDevCenterAdminPool.ps1
  src/DevCenter/DevCenter.AutoRest/examples/Get-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminGallery.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/New-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminGallery.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Remove-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/examples/Start-AzDevCenterAdminNetworkConnectionHealthCheck.md
  src/DevCenter/DevCenter.AutoRest/examples/Sync-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/examples/Update-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/test/New-AzDevCenterAdminPool.Recording.json
  src/DevCenter/DevCenter.AutoRest/test/New-AzDevCenterAdminPool.Tests.ps1
  src/DevCenter/DevCenter.AutoRest/test/Update-AzDevCenterAdminPool.Recording.json
  src/DevCenter/DevCenter.AutoRest/test/Update-AzDevCenterAdminPool.Tests.ps1
Due: none

doc updates
  src/DevCenter/DevCenter.AutoRest/docs/Get-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminGallery.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminAttachedNetwork.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminGallery.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Remove-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenter.AutoRest/docs/Start-AzDevCenterAdminNetworkConnectionHealthCheck.md
  src/DevCenter/DevCenter.AutoRest/docs/Sync-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminCatalog.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminDevBoxDefinition.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminNetworkConnection.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminPool.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminProject.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminProjectEnvironmentType.md
  src/DevCenter/DevCenter.AutoRest/docs/Update-AzDevCenterAdminSchedule.md
Due: none

Update the logic of LastExitCode (#22491)
  tools/ExecuteCIStep.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Corrected file not found build warnings in az.batch (#22474)
  src/Batch/Batch/help/Get-AzBatchPoolUsageMetric.md
Due: none

update help doc
  src/HDInsight/HDInsight/ChangeLog.md
  src/HDInsight/HDInsight/Models/Management/AzureHdInsightManagementClient.cs
  src/HDInsight/HDInsight/help/Add-AzHDInsightScriptAction.md
  src/HDInsight/HDInsight/help/New-AzHDInsightCluster.md
  src/HDInsight/HDInsight/help/New-AzHDInsightClusterConfig.md
Due: none

data plane docs
  src/DevCenter/DevCenterData.AutoRest/examples/Deploy-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserCatalog.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserDevBoxRemoteConnection.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserEnvironmentDefinition.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserEnvironmentType.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserPool.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserProject.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserSchedule.md
  src/DevCenter/DevCenterData.AutoRest/examples/Invoke-AzDevCenterUserDelayDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/examples/New-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/examples/New-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/Remove-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/examples/Remove-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/examples/Restart-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/examples/Skip-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/examples/Start-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/examples/Stop-AzDevCenterUserDevBox.md
Due: none

docs
  src/DevCenter/DevCenterData.AutoRest/docs/Deploy-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserCatalog.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserDevBoxRemoteConnection.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserEnvironmentDefinition.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserEnvironmentType.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserPool.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserProject.md
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserSchedule.md
  src/DevCenter/DevCenterData.AutoRest/docs/Invoke-AzDevCenterUserDelayDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/New-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/docs/New-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/docs/Remove-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/docs/Remove-AzDevCenterUserEnvironment.md
  src/DevCenter/DevCenterData.AutoRest/docs/Restart-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/docs/Skip-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Start-AzDevCenterUserDevBox.md
  src/DevCenter/DevCenterData.AutoRest/docs/Stop-AzDevCenterUserDevBox.md
Due: none

revert method name
  src/HDInsight/HDInsight/ManagementCommands/RemoveAzureHDInsightClusterCommand.cs
  src/HDInsight/HDInsight/Models/Management/AzureHdInsightManagementClient.cs
Due: none

suppress breaking changes
  tools/StaticAnalysis/Exceptions/Az.StorageMover/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Exclude the api-version in typename when checking the breaking change of cmdlet output
  tools/StaticAnalysis/BreakingChangeAnalyzer/CmdletMetadataHelper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Testfx target framework upgrade from netcoreapp3.1 to net6.0 (#22484)
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/test-steps.yml
  .azure-pipelines/windows-powershell.yml
  src/Accounts/Accounts.Test/AzureRMProfileTests.cs
  src/Accounts/Accounts.Test/Mocks/MockDataStore.cs
  src/Accounts/Accounts.Test/OnImportTests.cs
  src/Accounts/Authentication.Test/Mocks/MockDataStore.cs
  src/Accounts/AuthenticationAssemblyLoadContext/AuthenticationAssemblyLoadContext.csproj
  src/Aks/Aks.Test/MergeKubeConfigTests.cs
  src/Aks/Aks.Test/ScenarioTests/AksTestRunner.cs
  src/Az.Test.props
  src/Batch/Batch.Test/ComputeNodes/StartBatchComputeNodeServiceLogUploadCommandTests.cs
  src/Batch/Batch.Test/Pools/GetBatchPoolNodeCountsCommandTests.cs
  src/Compute/Compute.Test/ScenarioTests/DiagnosticsExtensionTests.cs
  src/Compute/Compute.Test/ScenarioTests/SqlIaaSExtensionTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/AccountTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/ManagedCassandraOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.ps1
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/AdlsAliasTests.cs
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/AdlsTests.cs
  src/KeyVault/KeyVault.Test/Models/PSKeyVaultCertificatePolicyTests.cs
  src/KeyVault/KeyVault.Test/Models/UtilitiesTests.cs
  src/Resources/Resources.Test/Mocks/MockDataStore.cs
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.ps1
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/Microsoft.Azure.Build.Tasks.csproj
  tools/Common.Netcore.Dependencies.Test.targets
  tools/ExecuteCIStep.ps1
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Rename the function
  tools/StaticAnalysis/BreakingChangeAnalyzer/CmdletMetadataHelper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
