Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Remove indents of header
  tools/SyncDocs.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update PrepareRequiredPowershell.ps1
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Set Create PR process as optional
  .azure-pipelines/sync-MSdoc.yml
  tools/SyncDocs.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Try to skip pr when existed.
  .azure-pipelines/sync-MSdoc.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix the issue that CI doesn't check online version of help doc
  build.proj
  tools/HelpGeneration/HelpGeneration.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Try to skip pr when existed
  .azure-pipelines/sync-MSdoc.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Corrected syntax for ConfirmAction
  src/Resources/Resources/help/Remove-AzPolicyAssignment.md
Due: none

Change sync alias.yml (#20899)
  .azure-pipelines/sync-aliases.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Correct help docs for *-AzCosmosDBAccount (#20891)
  src/CosmosDB/CosmosDB/help/Get-AzCosmosDBAccount.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBAccount.md
  src/CosmosDB/CosmosDB/help/Remove-AzCosmosDBAccount.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBAccount.md
Due: none

Generated sdk
  src/Sql/Sql.Sdk/Generated/IInstanceFailoverGroupsOperations.cs
  src/Sql/Sql.Sdk/Generated/ISqlManagementClient.cs
  src/Sql/Sql.Sdk/Generated/InstanceFailoverGroupsOperations.cs
  src/Sql/Sql.Sdk/Generated/InstanceFailoverGroupsOperationsExtensions.cs
  src/Sql/Sql.Sdk/Generated/Models/InstanceFailoverGroup.cs
  src/Sql/Sql.Sdk/Generated/Models/SecondaryInstanceType.cs
  src/Sql/Sql.Sdk/Generated/SdkInfo_SqlManagementClient.cs
  src/Sql/Sql.Sdk/Generated/SqlManagementClient.cs
  src/Sql/Sql.Sdk/README.md
Due: none

Sync fabricbot.json
  .github/fabricbot.json
Due: azure-pipelines.yml

fix PR comments
  src/DataMigration/DataMigration/ChangeLog.md
  src/DataMigration/DataMigration/Cmdlets/GetAzureDataMigrationService.cs
  src/DataMigration/DataMigration/Cmdlets/GetProjectCmdlet.cs
  src/DataMigration/DataMigration/Cmdlets/NewAzureRmDataMigrationService.cs
  src/DataMigration/DataMigration/Cmdlets/NewDataMigrationTask.cs
  src/DataMigration/DataMigration/Cmdlets/NewProjectCmdlet.cs
  src/DataMigration/DataMigration/Cmdlets/RemoveDataMigrationProject.cs
  src/DataMigration/DataMigration/Cmdlets/RemoveDataMigrationService.cs
  src/DataMigration/DataMigration/Cmdlets/RemoveDataMigrationTask.cs
  src/DataMigration/DataMigration/Cmdlets/StartDataMigrationService.cs
  src/DataMigration/DataMigration/Cmdlets/StopDataMigrationService.cs
  src/DataMigration/DataMigration/Cmdlets/StopDataMigrationTask.cs
Due: none

small change to trigger rebuild
  src/CognitiveServices/CognitiveServices.Test/ScenarioTests/Common.ps1
Due: none

Update New-AzSynapseRoleAssignment.md
  src/Synapse/Synapse/help/New-AzSynapseRoleAssignment.md
Due: none

Update Remove-AzSynapseRoleAssignment.md
  src/Synapse/Synapse/help/Remove-AzSynapseRoleAssignment.md
Due: none

Added note for scenario when an SPN role assignment is listed
  src/Synapse/Synapse/help/Get-AzSynapseRoleAssignment.md
Due: none

{AzureFrontDoor} fixes Azure/azure-powershell#20870 Adding Tag parameter to New-AzFrontDoorWafPolicy
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafPolicy.cs
Due: none

Update ChangeLog.md
  src/FrontDoor/FrontDoor/ChangeLog.md
Due: none

Updated help per PR review comments
  src/Network/Network/help/New-AzFirewallPolicySnat.md
Due: none

[Websites] shiftleft.
  src/Websites/Websites.Autorest/README.md
  src/Websites/Websites.Autorest/custom/README.md
  src/Websites/Websites.Autorest/docs/README.md
  src/Websites/Websites.Autorest/examples/README.md
  src/Websites/Websites.Autorest/how-to.md
Due: none

[Workloads]init project.
  src/Workloads/README.md
Due: none

Fix build error for Resources tests
  src/Resources/Resources.Test/Resources.Test.csproj
Due: none

Sync fabricbot.json (#20831)
  .github/fabricbot.json
Due: azure-pipelines.yml

Fix the online version in help docs
  src/Resources/Resources/help/Remove-AzManagementGroupHierarchySetting.md
Due: none

Fix the issue that type of settings and protectedSettings are changed to object
  src/CloudService/README.md
  src/CloudService/docs/New-AzCloudService.md
  src/CloudService/docs/Switch-AzCloudService.md
  src/CloudService/docs/Update-AzCloudService.md
  src/CloudService/how-to.md
  src/CloudService/test/Get-AzCloudService.Recording.json
  src/CloudService/test/Get-AzCloudServiceInstanceView.Recording.json
  src/CloudService/test/Get-AzCloudServiceOSFamily.Recording.json
  src/CloudService/test/Get-AzCloudServiceOSVersion.Recording.json
  src/CloudService/test/Get-AzCloudServiceRoleInstance.Recording.json
  src/CloudService/test/Get-AzCloudServiceRoleInstanceRemoteDesktopFile.Recording.json
  src/CloudService/test/Get-AzCloudServiceRoleInstanceView.Recording.json
  src/CloudService/test/Invoke-AzCloudServiceRebuild.Recording.json
  src/CloudService/test/Invoke-AzCloudServiceReimage.Recording.json
  src/CloudService/test/Invoke-AzCloudServiceRoleInstanceRebuild.Recording.json
  src/CloudService/test/Invoke-AzCloudServiceRoleInstanceReimage.Recording.json
  src/CloudService/test/New-AzCloudService.Recording.json
  src/CloudService/test/Restart-AzCloudService.Recording.json
  src/CloudService/test/Restart-AzCloudServiceRoleInstance.Recording.json
  src/CloudService/test/Start-AzCloudService.Recording.json
  src/CloudService/test/Stop-AzCloudService.Recording.json
  src/CloudService/test/Update-AzCloudService.Recording.json
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
