Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Updated the reference of Azure PowerShell Common to 1.3.98-preview
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated the reference of Azure PowerShell Common to 1.3.98-preview (#25316)
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Az.psd1
  tools/Az/Az.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update AzPreview.psd1
  tools/AzPreview/AzPreview.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#25319)
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

temporarily mark failed test case as live only (#25169)
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
Due: none

Remove pre-installed Pester module
  tools/TestFx/EnvironmentSetupHelper.cs
  tools/TestFx/Utilities/CommonUtility.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated the changelog
  src/Network/Network/ChangeLog.md
Due: none

NoHealthyBackendsBehavior
  src/Network/Network.Test/ScenarioTests/LoadBalancerTests.ps1
  src/Network/Network/Generated/Models/PSProbe.cs
  src/Network/Network/LoadBalancer/Probe/AddAzureRmLoadBalancerProbeConfigCommand.cs
  src/Network/Network/LoadBalancer/Probe/NewAzureRmLoadBalancerProbeConfigCommand.cs
  src/Network/Network/LoadBalancer/Probe/SetAzureRmLoadBalancerProbeConfigCommand.cs
  src/Network/Network/help/Add-AzLoadBalancerProbeConfig.md
  src/Network/Network/help/New-AzLoadBalancerProbeConfig.md
  src/Network/Network/help/Set-AzLoadBalancerProbeConfig.md
Due: none

Updated changelog
  src/Network/Network/ChangeLog.md
Due: none

Update LoadBalancerTests.ps1
  src/Network/Network.Test/ScenarioTests/LoadBalancerTests.ps1
Due: none

generate code
  src/ConnectedMachine/ConnectedMachine.Autorest/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/licenses.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/locations-publishers-extensionTypes-versions.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/machines-extensions.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/machines-runCommands.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/machines.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/privateLinkScopes-networkSecurityPerimeterConfigurations.json
  src/ConnectedMachine/ConnectedMachine.Autorest/UX/Microsoft.HybridCompute/privateLinkScopes.json
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Invoke-AzConnectedReconcileNetworkSecurityPerimeterConfiguration.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/examples/Invoke-AzConnectedReconcileNetworkSecurityPerimeterConfiguration.md
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Invoke-AzConnectedReconcileNetworkSecurityPerimeterConfiguration.Tests.ps1
Due: none

typo
  src/Resources/Resources/ChangeLog.md
Due: none

target Pr
  src/ServiceFabric/ServiceFabric/ChangeLog.md
Due: none

typo (#25325)
  src/Resources/Resources/ChangeLog.md
Due: none

Remove pre-installed Pester module (#25304)
  tools/TestFx/EnvironmentSetupHelper.cs
  tools/TestFx/Utilities/CommonUtility.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

wip
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authentication/Config/ConfigEvent/ConfigEventArgs .cs
  src/Accounts/Authentication/Config/ConfigEvent/ConfigManagerWithEventHandler.cs
  src/Accounts/Authentication/Config/ConfigEvent/ConfigReadEventArgs.cs
  src/Accounts/Authentication/Config/ConfigInitializer.cs
  src/Accounts/Authentication/Config/ConfigManager.cs
  src/Accounts/Authentication/Config/DefaultConfigManager.cs
  src/Accounts/Authentication/Config/Definitions/EnableLoginByWamConfig.cs
  src/Accounts/Authentication/Config/Models/SimpleTypedConfig.cs
  src/Accounts/Authentication/Config/Models/TrackedConfigDefinition.cs
  src/Accounts/Authentication/Config/Models/TypedConfig.cs
  src/Accounts/Authentication/Config/SafeConfigManager.cs
  src/shared/ConfigKeys.cs
Due: .azure-pipelines/sync-tools-folder.yml

Update from macOS-11 to macOS-latest to avoid manual upgrade every time
  .azure-pipelines/live-test.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Integrate package for secrets detection
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authentication/Sanitizer/Providers/DefaultProviderResolver.cs
  src/Accounts/Authentication/Sanitizer/Services/DefaultSanitizerService.cs
Due: none

add checks
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverUploadLimitWeeklyRecurrenceObject.ps1
Due: none

Update vm pool
  .azure-pipelines/secrets-detection-evaluation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Use v4 to generate aks, advisor and addomainservice
  src/ADDomainServices/ADDomainServices.Autorest/README.md
  src/ADDomainServices/ADDomainServices.Autorest/custom/New-AzADDomainService.ps1
  src/Advisor/Advisor.Autorest/README.md
  src/Advisor/Advisor.Autorest/custom/Set-AzAdvisorConfiguration.ps1
  src/Aks/Aks.Autorest/README.md
Due: none

record telemetry when read config
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Authentication/Config/ConfigEvent/ConfigManagerWithEventHandler.cs
  src/Accounts/Authentication/Config/ConfigEvent/IConfigEventListener.cs
  src/Accounts/Authentication/Config/ConfigEvent/IConfigManagerWithEventHandler.cs
  src/Accounts/Authentication/Config/ConfigManager.cs
Due: none

show new property when shown object
  src/Compute/Compute/Compute.format.ps1xml
Due: none

add test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestAddVMDataDisk.json
Due: none

remove unused namespace
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/Certificate/ImportAzureKeyVaultCertificate.cs
Due: none

updating changeLog
  src/Network/Network/ChangeLog.md
Due: none

Updating changelog
  src/Network/Network/ChangeLog.md
Due: none

refine
  src/KeyVault/KeyVault/Commands/Certificate/ImportAzureKeyVaultCertificate.cs
  src/KeyVault/KeyVault/Properties/Resources.Designer.cs
  src/KeyVault/KeyVault/Properties/Resources.resx
Due: none

add checks (#25329)
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverUploadLimitWeeklyRecurrenceObject.ps1
Due: none
