Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Sync tools folder from main branch to generation branch (#22605)
  .azure-pipelines/sync-tools-folder.yml
  tools/ExecuteCIStep.ps1
  tools/PrepareAutorestModule.ps1
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Removing additional whitespaces
  src/SqlVirtualMachine/docs/New-AzSqlVM.md
  src/SqlVirtualMachine/docs/Update-AzSqlVM.md
  src/SqlVirtualMachine/examples/New-AzSqlVM.md
  src/SqlVirtualMachine/examples/Update-AzSqlVM.md
Due: none

minor correction in example
  src/SqlVirtualMachine/docs/Update-AzSqlVM.md
  src/SqlVirtualMachine/examples/Update-AzSqlVM.md
Due: none

Add more parameters on Update-AzSqlVM (#22547)
  src/SqlVirtualMachine/custom/Update-AzSqlVM.ps1
  src/SqlVirtualMachine/docs/New-AzSqlVM.md
  src/SqlVirtualMachine/docs/Update-AzSqlVM.md
  src/SqlVirtualMachine/examples/New-AzSqlVM.md
  src/SqlVirtualMachine/examples/Update-AzSqlVM.md
  src/SqlVirtualMachine/test/Update-AzSqlVM.Recording.json
  src/SqlVirtualMachine/test/Update-AzSqlVM.Tests.ps1
Due: none

Update ChangeLog.md
  src/DataLakeAnalytics/DataLakeAnalytics/ChangeLog.md
Due: none

Update ChangeLog.md
  src/NotificationHubs/NotificationHubs/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Media/Media/ChangeLog.md
Due: none

Update ChangeLog.md
  src/ManagementPartner/ManagementPartner/ChangeLog.md
Due: none

Update ChangeLog.md
  src/DevSpaces/DevSpaces/ChangeLog.md
Due: none

Add SecurityType of Standard to VM and VMSS cmdlets for Trusted Launch, includes breaking changes (#22534)
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.cs
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.DiskRPTests/TestSecurityProfileStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandardWithConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandardWithConfig.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Common/ConstantStringTypes.cs
  src/Compute/Compute/Generated/Disk/Config/SetAzDiskSecurityProfile.cs
  src/Compute/Compute/Generated/Disk/DiskCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/SetAzureRmVmssSecurityProfileCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzureVMSecurityProfile.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVMConfig.md
  src/Compute/Compute/help/New-AzVmss.md
  src/Compute/Compute/help/New-AzVmssConfig.md
  src/Compute/Compute/help/Set-AzVMSecurityProfile.md
  src/Compute/Compute/help/Set-AzVmssSecurityProfile.md
  src/Compute/Compute/help/Update-AzVmss.md
Due: none

update Changelog
  src/SqlVirtualMachine/ChangeLog.md
Due: none

Sign old modules (#22609)
  src/DataLakeAnalytics/DataLakeAnalytics/ChangeLog.md
  src/DevSpaces/DevSpaces/ChangeLog.md
  src/ManagementPartner/ManagementPartner/ChangeLog.md
  src/Media/Media/ChangeLog.md
  src/NotificationHubs/NotificationHubs/ChangeLog.md
Due: none

Upgrade Azure.Identity to 1.10.0
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/lib/netcoreapp2.1/Microsoft.Identity.Client.dll
  src/lib/netcoreapp3.1/Microsoft.Identity.Client.Extensions.Msal.dll
  src/lib/netfx/Microsoft.Identity.Client.Extensions.Msal.dll
  src/lib/netfx/Microsoft.Identity.Client.dll
  src/lib/netstandard2.0/Azure.Identity.BrokeredAuthentication.dll
  src/lib/netstandard2.0/Azure.Identity.dll
  src/lib/netstandard2.0/Microsoft.Identity.Client.Broker.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update ChangeLog
  src/EventHub/EventHub/ChangeLog.md
Due: none

Fixed bad example
  src/DesktopVirtualization/docs/New-AzWvdScalingPlanPersonalSchedule.md
  src/DesktopVirtualization/docs/Update-AzWvdScalingPlanPersonalSchedule.md
Due: none

fixed tests and static check example failres
  src/DesktopVirtualization/docs/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/docs/New-AzWvdScalingPlanPersonalSchedule.md
  src/DesktopVirtualization/docs/Update-AzWvdApplicationGroup.md
  src/DesktopVirtualization/docs/Update-AzWvdScalingPlanPersonalSchedule.md
  src/DesktopVirtualization/examples/New-AzWvdScalingPlanPersonalSchedule.md
  src/DesktopVirtualization/test/Get-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/Get-AzWvdScalingPlanPersonalSchedule.Tests.ps1
  src/DesktopVirtualization/test/New-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/New-AzWvdScalingPlanPersonalSchedule.Tests.ps1
  src/DesktopVirtualization/test/Remove-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/Remove-AzWvdScalingPlanPersonalSchedule.Tests.ps1
  src/DesktopVirtualization/test/Update-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/test/Update-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/Update-AzWvdScalingPlanPersonalSchedule.Tests.ps1
Due: none

Refill Credentials from AzKeyStore When Save AzContext
  src/Accounts/Accounts.Test/ProfileCmdletTests.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/SaveAzureRMContext.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication.ResourceManager/Common/AzureRmSharedUtilities.cs
Due: none

Address review comments
  src/Accounts/Accounts/Context/SaveAzureRMContext.cs
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
Due: none

Address review comments
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication.ResourceManager/Common/AzureRmSharedUtilities.cs
  src/Accounts/Authentication.ResourceManager/ContextModelExtensions.cs
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated test to include a delete call and fixed example
  src/DesktopVirtualization/docs/Update-AzWvdApplicationGroup.md
  src/DesktopVirtualization/examples/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/test/Update-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/Update-AzWvdScalingPlanPersonalSchedule.Tests.ps1
Due: none

Removed bad boolean behind param
  src/DesktopVirtualization/docs/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/docs/Update-AzWvdApplicationGroup.md
  src/DesktopVirtualization/examples/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/examples/Update-AzWvdApplicationGroup.md
Due: none

added missing backtick, attempting colon syntax
  src/DesktopVirtualization/docs/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/docs/Update-AzWvdApplicationGroup.md
  src/DesktopVirtualization/examples/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/examples/Update-AzWvdApplicationGroup.md
Due: none

Updated fixed recordings
  src/DesktopVirtualization/test/Remove-AzWvdScalingPlanPersonalSchedule.Recording.json
  src/DesktopVirtualization/test/Update-AzWvdScalingPlanPersonalSchedule.Recording.json
Due: none

Create enforce_required_reviewers.yml
  .github/workflows/.github/workflows/enforce_required_reviewers.yml
Due: azure-pipelines.yml

Delete .github/workflows/.github/workflows directory
  .github/workflows/.github/workflows/enforce_required_reviewers.yml
Due: azure-pipelines.yml

Create enforce_required_reviewers.yml
  .github/workflows/enforce_required_reviewers.yml
Due: azure-pipelines.yml

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

Update enforce_required_reviewers.yml
  .github/workflows/enforce_required_reviewers.yml
Due: azure-pipelines.yml

test and test recording
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.RestoreTests/TestSqlRestoreAccountPublicNetworkAccessCmdlets.json
Due: none

Refill Credentials from AzKeyStore When Save AzContext (#22440)
  src/Accounts/Accounts.Test/ProfileCmdletTests.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/SaveAzureRMContext.cs
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication.ResourceManager/ContextModelExtensions.cs
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Common.Netcore.Dependencies.targets
  tools/ExecuteCIStep.ps1
  tools/StaticAnalysis/UXMetadataAnalyzer/UXMetadataAnalyzer.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

first set of changes
  src/Network/Network.Management.Sdk/Generated/Models/VirtualNetworkGatewaySkuTier.cs
  src/Network/Network/Cortex/ExpressRouteGateway/NewAzureRmExpressRouteGatewayCommand.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayAutoscaleConfiguration.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayPropertiesAutoScaleConfigurationBounds.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/help/New-AzVirtualNetworkGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
Due: none
