Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Sanitize access token in test recording files
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateGitHubSourceControlAndSync.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateVsoGitSourceControlAndSync.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateVsoTfvcSourceControlAndSync.json
Due: none

Move Databricks to main
  src/Databricks/Az.Databricks.psd1
  src/Databricks/Databricks.sln
  src/Databricks/UX/UX/Microsoft.Databricks/accessConnectors.json
  src/Databricks/UX/UX/Microsoft.Databricks/workspaces-virtualNetworkPeerings.json
  src/Databricks/UX/UX/Microsoft.Databricks/workspaces.json
  src/Databricks/exports/Get-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.ps1
  src/Databricks/exports/Get-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Get-AzDatabricksWorkspace.ps1
  src/Databricks/exports/New-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/New-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/New-AzDatabricksWorkspace.ps1
  src/Databricks/exports/New-AzDatabricksWorkspaceProviderAuthorizationObject.ps1
  src/Databricks/exports/ProxyCmdletDefinitions.ps1
  src/Databricks/exports/Remove-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Remove-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Remove-AzDatabricksWorkspace.ps1
  src/Databricks/exports/Update-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Update-AzDatabricksWorkspace.ps1
  src/Databricks/generate-info.json
  src/Databricks/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  src/Databricks/generated/runtime/MessageAttribute.cs
  src/Databricks/generated/runtime/MessageAttributeHelper.cs
  src/Databricks/generated/runtime/Properties/Resources.Designer.cs
  src/Databricks/generated/runtime/Properties/Resources.resx
Due: none

rerecorded Cassandra tests
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraCreateUpdateGetCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraCreateUpdateGetCmdletsByPiping.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraThroughputCmdlets.json
Due: none

Remove bad test from security contacts
  src/Security/Security.Test/ScenarioTests/SecurityContactTests.cs
  src/Security/Security.Test/ScenarioTests/SecurityContactTests.ps1
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityContactTests/GetResourceId.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityContactTests/GetSubscriptionLevelResource.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityContactTests/RemoveSubscriptionLevelResource.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityContactTests/SetSubscriptionLevelResource.json
  src/Security/Security.Test/SessionRecords/Microsoft.Azure.Commands.Security.Test.ScenarioTests.SecurityContactTests/SetSubscriptionLevelResourceSecondary.json
Due: none

Remove Error Recording for The Expected Cases in Az.Tools.Installer (#22940)
  tools/Az.Tools.Installer/Az.Tools.Installer.psm1
  tools/Az.Tools.Installer/exports/Uninstall-AzModule.ps1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/internal/Add-RepositoryArgumentCompleter.ps1
  tools/Az.Tools.Installer/internal/Install-AzModuleInternal.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_ByPath.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_Default.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revise code gen pipeline
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

added help files and change log.md
  src/Network/Network/ChangeLog.md
  src/Network/Network/help/Add-AzApplicationGatewayListener.md
  src/Network/Network/help/New-AzApplicationGatewayListener.md
  src/Network/Network/help/Set-AzApplicationGatewayListener.md
Due: none

re-recorded all but mongo and restore tests
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinOperationsCmdletsUsingInputObject.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.ServiceTests/TestServiceRelatedCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlOperationsCmdletsUsingInputObject.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlRoleCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableOperationsCmdletsUsingInputObject.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableThroughputCmdlets.json
Due: none

Update protected item nic logic
  src/Migrate/custom/AzStackHCINicInput.cs
  src/Migrate/custom/New-AzMigrateHCINicMappingObject.ps1
  src/Migrate/custom/New-AzMigrateHCIServerReplication.ps1
  src/Migrate/custom/Set-AzMigrateHCIServerReplication.ps1
  src/Migrate/docs/New-AzMigrateHCINicMappingObject.md
  src/Migrate/docs/Set-AzMigrateHCIServerReplication.md
Due: none

removed messaging
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Fix initialize for VMware
  src/Migrate/custom/Initialize-AzMigrateHCIReplicationInfrastructure.ps1
Due: none

Updated NetworkCloud module to stable GA release
  src/NetworkCloud/Az.NetworkCloud.psd1
  src/NetworkCloud/ChangeLog.md
  src/NetworkCloud/README.md
Due: none

Create default dynamic memory config if null.
  src/Migrate/custom/New-AzMigrateHCIServerReplication.ps1
  src/Migrate/custom/Set-AzMigrateHCIServerReplication.ps1
Due: none

adding changes for 09-01-preview version with NRM chages
  src/StackHCI/StackHCIVm.Autorest/Az.StackHCIVm.csproj
  src/StackHCI/StackHCIVm.Autorest/Az.StackHCIVm.format.ps1xml
  src/StackHCI/StackHCIVm.Autorest/Az.StackHCIVm.nuspec
  src/StackHCI/StackHCIVm.Autorest/Az.StackHCIVm.psm1
  src/StackHCI/StackHCIVm.Autorest/MSSharedLibKey.snk
  src/StackHCI/StackHCIVm.Autorest/build-module.ps1
  src/StackHCI/StackHCIVm.Autorest/check-dependencies.ps1
  src/StackHCI/StackHCIVm.Autorest/custom/Az.StackHCIVm.custom.psm1
  src/StackHCI/StackHCIVm.Autorest/export-surface.ps1
  src/StackHCI/StackHCIVm.Autorest/generate-help.ps1
  src/StackHCI/StackHCIVm.Autorest/pack-module.ps1
  src/StackHCI/StackHCIVm.Autorest/run-module.ps1
  src/StackHCI/StackHCIVm.Autorest/test-module.ps1
  src/StackHCI/StackHCIVm.Autorest/test/Az.StackHCIVm-TestResults.xml
Due: none

[Network] - Update New-AzPublicIpPrefix and New-AzPublicIpAddress to require Location parameter (#22909)
  src/Network/Network/ChangeLog.md
  src/Network/Network/PublicIpAddress/NewAzurePublicIpAddressCommand.cs
  src/Network/Network/PublicIpPrefix/NewAzurePublicIpPrefixCommand.cs
  src/Network/Network/help/New-AzPublicIpAddress.md
  src/Network/Network/help/New-AzPublicIpPrefix.md
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

upgrade azure.core 1.35.0 (#22936)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/lib/netcoreapp2.1/Azure.Core.dll
  src/lib/netfx/Azure.Core.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for StackHCI (#22933)
  VersionInfo.json
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/ChangeLog.md
  src/StackHCI/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/ElasticSan/ChangeLog.md
Due: none

Align Microsoft.PowerShell.SDK package version with TestFx and fix security vulnerabilities on Microsoft.Windows.Compatibility.dll and System.Security.Cryptography.Pkcs.dll
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Tools.Common.Netcore.csproj
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  src/lib/netcoreapp2.1/Azure.Core.dll
  src/lib/netfx/Azure.Core.dll
  tools/Az.Tools.Installer/Az.Tools.Installer.psm1
  tools/Az.Tools.Installer/exports/Uninstall-AzModule.ps1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/internal/Add-RepositoryArgumentCompleter.ps1
  tools/Az.Tools.Installer/internal/Install-AzModuleInternal.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_ByPath.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_Default.ps1
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Common.Netcore.Dependencies.targets
  tools/Docs/az-ps-latest.csv
  tools/TestFx/Recorder/RecorderUtilities.cs
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test sdk gen pipeline
  src/Network/Network.Management.Sdk/Generated/Models/Action.cs
Due: none

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch (#22948)
  src/lib/netcoreapp2.1/Azure.Core.dll
  src/lib/netfx/Azure.Core.dll
  tools/Az.Tools.Installer/Az.Tools.Installer.psm1
  tools/Az.Tools.Installer/exports/Uninstall-AzModule.ps1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/internal/Add-RepositoryArgumentCompleter.ps1
  tools/Az.Tools.Installer/internal/Install-AzModuleInternal.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_ByPath.ps1
  tools/Az.Tools.Installer/internal/Install-AzModule_Default.ps1
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Common.Netcore.Dependencies.targets
  tools/Docs/az-ps-latest.csv
  tools/TestFx/Recorder/RecorderUtilities.cs
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for CosmosDB
  VersionInfo.json
  src/CosmosDB/CosmosDB.Sdk/Properties/AssemblyInfo.cs
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.CosmosDB.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for ElasticSan
  VersionInfo.json
  src/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ChangeLog.md
  src/ElasticSan/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.ElasticSan.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Set-AzSecurityPricing.md
  src/Security/Security/help/Set-AzSecurityPricing.md
Due: none

revise code gen pipeline (#22949)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

remove amcs cdn
  src/Monitor/Monitor/DataCollectionRules/GetAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/GetAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/NewAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/NewAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/RemoveAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/RemoveAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/SetAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/UpdateAzureRmDataCollectionRuleCommand.cs
Due: none

Upgrade Microsoft.PowerShell.SDK package version and fix security vulnerability in Tools.Common (#22955)
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sanitize access token in test recording files (#22943)
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateGitHubSourceControlAndSync.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateVsoGitSourceControlAndSync.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.SourceControlTests/CreateVsoTfvcSourceControlAndSync.json
Due: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
