Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

test pipeline 29
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Add telemetry to detect potential infinite recursion properties (#24709)
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerCollectionProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerCustomObjectProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerDictionaryProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerProviderBase.cs
Due: none

[StaticAnalysis] Update SDKGeneratedCodeVerify.ps1 (#24715)
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

suppress breaking changes in monitor
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Peannouncement of WAM GA (#24708)
  src/Accounts/Accounts/ChangeLog.md
Due: none

monitor changlog explain removing location
  src/Monitor/Monitor/ChangeLog.md
Due: none

Polish Az.Accounts Change Log
  src/Accounts/Accounts/ChangeLog.md
Due: none

Fix update description
  src/Fleet/Fleet.Autorest/docs/Az.Fleet.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleet.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetUpdateRun.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetUpdateStrategy.md
Due: none

Polish Az.Accounts Change Log (#24720)
  src/Accounts/Accounts/ChangeLog.md
Due: none

[Fleet] Managed Identity upgrade (#24643)
  src/Fleet/Fleet.Autorest/README.md
  src/Fleet/Fleet.Autorest/docs/Az.Fleet.md
  src/Fleet/Fleet.Autorest/docs/New-AzFleet.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleet.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetUpdateRun.md
  src/Fleet/Fleet.Autorest/docs/Update-AzFleetUpdateStrategy.md
  src/Fleet/Fleet.Autorest/examples/New-AzFleet.md
  src/Fleet/Fleet.Autorest/examples/Update-AzFleet.md
  src/Fleet/Fleet.Autorest/test/AzFleetScenarioTests.Recording.json
  src/Fleet/Fleet.Autorest/test/AzFleetScenarioTests.Tests.ps1
  src/Fleet/Fleet.Autorest/test/Remove-AzFleet.Recording.json
  src/Fleet/Fleet.Autorest/test/Update-AzFleet.Tests.ps1
  src/Fleet/Fleet.Autorest/test/env.json
  src/Fleet/Fleet.Autorest/test/loadEnv.ps1
  src/Fleet/Fleet.Autorest/test/utils.ps1
  src/Fleet/Fleet.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
Due: none

Update ChangeLog.md
  src/DiskPool/DiskPool/ChangeLog.md
Due: none

Authored manual cutover/perform cutover for the FMV2 manual cutover powershell support
  src/Sql/Sql/Database/Cmdlet/SetAzureSqlDatabase.cs
  src/Sql/Sql/Database/Model/AzureSqlDatabaseModel.cs
  src/Sql/Sql/Database/Services/AzureSqlDatabaseAdapter.cs
  src/Sql/Sql/help/Set-AzSqlDatabase.md
Due: none

test pipeline 30
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/build-steps.yml
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update Fleet
  src/Fleet/Fleet/ChangeLog.md
Due: none

Update fleet
  src/Fleet/Fleet/ChangeLog.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
