Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

fuzzysharp
  profiling.ps1
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/Accounts/Utilities/CommandNotFoundHelper.cs
Due: none

Tweaked help files, added copyright headers and added parameter aliases to move command. Tweaked tests to test using parameter aliases.
  src/Sql/Sql.Test/ScenarioTests/ManagedInstanceDnsAliasTests.cs
  src/Sql/Sql.Test/ScenarioTests/ManagedInstanceDnsAliasTests.ps1
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/AzureSqlManagedInstanceDnsAliasCmdletBase.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/GetAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/MoveSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/NewAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/RemoveAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/SetAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Model/AzureSqlManagedInstanceDnsAliasModel.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Services/AzureSqlManagedInstanceDnsAliasAdapter.cs
  src/Sql/Sql/help/Get-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Move-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/New-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Remove-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Set-AzSqlInstanceDnsAlias.md
Due: none

Added unit tests for basic sku management NIC
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallTests/TestAzureFirewallManagementNICBasicSku.json
  src/Network/Network/Models/AzureFirewall/PSAzureFirewall.cs
Due: none

Update README.md
  src/Compute/Compute.Autorest/README.md
Due: none

igvm access
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

desid test script
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

Updated changelog
  src/Network/Network/ChangeLog.md
Due: none

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  .github/fabricbot.json
Due: none

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

update
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update AzPreview.psd1 after each releasae (including OOB and preview release)
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added example for definition file structure of 'New-AzSynapseManagedPrivateEndpoint'
  src/Synapse/Synapse/help/New-AzSynapseManagedPrivateEndpoint.md
Due: none

Revise test cases
  src/HPCCache/HPCCache.Test/Fixtures/HpcCacheTestFixture.cs
  src/HPCCache/HPCCache.Test/Fixtures/StorageAccountFixture.cs
  src/Resources/Resources.Test/ScenarioTests/DenyAssignmentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentScriptsTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.cs
  src/Resources/Resources.Test/ScenarioTests/InvokeResourceActionTests.cs
  src/Resources/Resources.Test/ScenarioTests/LocationTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagedApplicationDefinitionTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagedApplicationTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagementGroupsTests.cs
  src/Resources/Resources.Test/ScenarioTests/MoveResourceTest.cs
  src/Resources/Resources.Test/ScenarioTests/PolicyAliasNamespaceMatchTest.cs
  src/Resources/Resources.Test/ScenarioTests/PolicyTests.cs
  src/Resources/Resources.Test/ScenarioTests/ProviderFeatureTests.cs
  src/Resources/Resources.Test/ScenarioTests/ProviderTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceGroupTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceLockTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceManagementPrivateLinksTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourcesTestRunner.cs
  src/Resources/Resources.Test/ScenarioTests/RoleAssignmentTests.cs
  src/Resources/Resources.Test/ScenarioTests/RoleDefinitionTests.cs
  src/Resources/Resources.Test/ScenarioTests/TagTests.cs
  src/Resources/Resources.Test/ScenarioTests/TemplateSpecTests.cs
Due: none

install storage account
  .azure-pipelines/util/analyze-steps.yml
  .ci-config.json
Due: .azure-pipelines/sync-tools-folder.yml

Revise test cases (#18918)
  src/HPCCache/HPCCache.Test/Fixtures/HpcCacheTestFixture.cs
  src/HPCCache/HPCCache.Test/Fixtures/StorageAccountFixture.cs
  src/Resources/Resources.Test/ScenarioTests/DenyAssignmentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentScriptsTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.cs
  src/Resources/Resources.Test/ScenarioTests/InvokeResourceActionTests.cs
  src/Resources/Resources.Test/ScenarioTests/LocationTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagedApplicationDefinitionTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagedApplicationTests.cs
  src/Resources/Resources.Test/ScenarioTests/ManagementGroupsTests.cs
  src/Resources/Resources.Test/ScenarioTests/MoveResourceTest.cs
  src/Resources/Resources.Test/ScenarioTests/PolicyAliasNamespaceMatchTest.cs
  src/Resources/Resources.Test/ScenarioTests/PolicyTests.cs
  src/Resources/Resources.Test/ScenarioTests/ProviderFeatureTests.cs
  src/Resources/Resources.Test/ScenarioTests/ProviderTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceGroupTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceLockTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceManagementPrivateLinksTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourceTests.cs
  src/Resources/Resources.Test/ScenarioTests/ResourcesTestRunner.cs
  src/Resources/Resources.Test/ScenarioTests/RoleAssignmentTests.cs
  src/Resources/Resources.Test/ScenarioTests/RoleDefinitionTests.cs
  src/Resources/Resources.Test/ScenarioTests/TagTests.cs
  src/Resources/Resources.Test/ScenarioTests/TemplateSpecTests.cs
Due: none

refine codes
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

support blobIndexMatch
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestStorageAccountManagementPolicy.json
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Models/PSDataPolicy.cs
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccountManagementPolicyBlobIndexMatchObject.cs
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccountManagementPolicyFilter.cs
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/New-AzStorageAccountManagementPolicyBlobIndexMatchObject.md
  src/Storage/Storage.Management/help/New-AzStorageAccountManagementPolicyFilter.md
  src/Storage/Storage.Management/help/Set-AzStorageAccountManagementPolicy.md
Due: none

refactor; 3rd party notice
  LICENSE.txt
  convert.js
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/Utilities/CommandNotFoundHelper.cs
Due: none

fix a bug
  .azure-pipelines/util/analyze-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

If only bump one module, only remove its minimal version from MinimalVersion.csv
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix unassigned_parameter; no silentErrorAction; split errors and warnings
  tools/StaticAnalysis/ExampleAnalyzer/AnalyzeRules/ParameterNameAndValue.psm1
  tools/StaticAnalysis/ExampleAnalyzer/Measure-MarkdownOrScript.ps1
  tools/StaticAnalysis/IssueChecker/IssueChecker.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzSynapseManagedPrivateEndpoint.md
  src/Synapse/Synapse/help/New-AzSynapseManagedPrivateEndpoint.md
Due: none

Update Remove-AzRestorePoint.md
  src/Compute/Compute/help/Remove-AzRestorePoint.md
Due: none

Update Set-AzVMDiskEncryptionExtension.md
  src/Compute/Compute/help/Set-AzVMDiskEncryptionExtension.md
Due: none

Regenerated help files and updated parameter positions
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/GetAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/MoveSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/NewAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/RemoveAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/ManagedInstanceDnsAlias/Cmdlet/SetAzureSqlManagedInstanceDnsAlias.cs
  src/Sql/Sql/help/Move-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Remove-AzSqlInstanceDnsAlias.md
Due: none

fix a bug
  tools/StaticAnalysis/ExampleAnalyzer/AnalyzeRules/ParameterNameAndValue.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix position parameter
  tools/StaticAnalysis/ExampleAnalyzer/AnalyzeRules/ParameterNameAndValue.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Update-AzRestorePointCollection.md
  src/Compute/Compute/help/Update-AzRestorePointCollection.md
Due: none

Modified examples
  src/Sql/Sql/help/Get-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Move-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/New-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Remove-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Set-AzSqlInstanceDnsAlias.md
Due: none

try to fix invalid_cmdlet
  .azure-pipelines/util/analyze-steps.yml
  tools/StaticAnalysis/ExampleAnalyzer/AnalyzeRules/CommandName.psm1
  tools/StaticAnalysis/ExampleAnalyzer/AnalyzeRules/ParameterNameAndValue.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update AzPreview.psd1 after each releasae (including OOB and preview release) (#18917)
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed examples
  src/Sql/Sql/help/Move-AzSqlInstanceDnsAlias.md
  src/Sql/Sql/help/Set-AzSqlInstanceDnsAlias.md
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
