Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Add DisablePeeringRoute parameter to New-AzRouteTable
  src/Network/Network.Test/ScenarioTests/RouteTableTests.cs
  src/Network/Network.Test/ScenarioTests/RouteTableTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.RouteTableTests/TestRouteWithDisablePeeringRoute.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Generated/RouteTable/NewAzureRMRouteTableCommand.cs
  src/Network/Network/Models/PSRouteTable.cs
  src/Network/Network/help/New-AzRouteTable.md
Due: none

Change DisablePeeringRoute from ValidateSet to PSArgumentCompleter for forward compatibility
  src/Network/Network/Generated/RouteTable/NewAzureRMRouteTableCommand.cs
  src/Network/Network/help/New-AzRouteTable.md
Due: none

Record DisablePeeringRoute route table test in centraluseuap canary region
  src/Network/Network.Test/ScenarioTests/RouteTableTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.RouteTableTests/TestRouteWithDisablePeeringRoute.json
Due: none

Accept pipeline input by property name for -DisablePeeringRoute
  src/Network/Network/Generated/RouteTable/NewAzureRMRouteTableCommand.cs
Due: none

Move DisablePeeringRoute changelog entry to Upcoming Release
  src/Network/Network/ChangeLog.md
Due: none

Improvements to version overlay
  tools/VersionController/Models/VersionBumper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

added custom enrollment cmdlets
  src/Resources/Policy.Autorest/custom/Get-AzPolicyEnrollment.ps1
  src/Resources/Policy.Autorest/custom/Helpers.ps1
  src/Resources/Policy.Autorest/custom/New-AzPolicyEnrollment.ps1
  src/Resources/Policy.Autorest/custom/Remove-AzPolicyEnrollment.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicyEnrollment.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicyExemption.ps1
Due: none

Merge NextHopIpAddresses into single string[] -NextHopIpAddress on New/Add/Set-AzRouteConfig
  src/Network/Network.Test/ScenarioTests/EcmpRouteTableTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Generated/RouteTable/Route/AddAzureRmRouteConfigCommand.cs
  src/Network/Network/Generated/RouteTable/Route/NewAzureRmRouteConfigCommand.cs
  src/Network/Network/Generated/RouteTable/Route/SetAzureRmRouteConfigCommand.cs
  src/Network/Network/help/Add-AzRouteConfig.md
  src/Network/Network/help/New-AzRouteConfig.md
  src/Network/Network/help/Set-AzRouteConfig.md
Due: none

Suppress false-positive breaking change (2020) for -NextHopIpAddress string->string[] on route config cmdlets
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

{CI} Improve issue auto-labeling coverage in resourceManagement.yml (#29859)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Resolve VNA BandwidthInGbps breaking change by reverting output type to string
  src/Network/Network.Test/ScenarioTests/VirtualNetworkApplianceTests.ps1
  src/Network/Network/Models/PSVirtualNetworkAppliance.cs
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert BreakingChangeIssues.csv to base (remove trailing newline)
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove ChangeLog entry for -Bandwidth (no net change after string revert)
  src/Network/Network/ChangeLog.md
Due: none

Simplify -Bandwidth help: quote example values and drop valid-values list
  src/Network/Network/help/New-AzVirtualNetworkAppliance.md
Due: none

Improvements to version overlay (#29863)
  tools/VersionController/Models/VersionBumper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add DisablePeeringRoute parameter to New-AzRouteTable (#29252)
  src/Network/Network.Test/ScenarioTests/RouteTableTests.cs
  src/Network/Network.Test/ScenarioTests/RouteTableTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.RouteTableTests/TestRouteWithDisablePeeringRoute.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Generated/RouteTable/NewAzureRMRouteTableCommand.cs
  src/Network/Network/Models/PSRouteTable.cs
  src/Network/Network/help/New-AzRouteTable.md
Due: none

Add ECMP (VirtualApplianceEcmp) next-hop support to route table confi… (#29847)
  src/Network/Network.Test/ScenarioTests/EcmpRouteTableTests.cs
  src/Network/Network.Test/ScenarioTests/EcmpRouteTableTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableAddRemoveRoute.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableBgpOverride.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableConvertAllToStandard.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableConvertTypes.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableCreate3Ips.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableCreateBasic.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableCreateMax16.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableDefaultAndNarrowPrefix.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableDeleteTable.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableDenseIpRange.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableGetVerifyFields.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableIdempotentPut.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableIpv6.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableMixed.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectAbove64Ips.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectAddressFamilyMismatch.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectBelow2Ips.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectDuplicateIps.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectForbiddenIps.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectMutualExclusivity.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectNextHopOnNonVaTypes.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectOlderApiVersion.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableRejectUnauthorizedSubscription.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableSubnetAssociation.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.EcmpRouteTableTests/EcmpRouteTableUpdateRoute.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Generated/Models/PSRoute.cs
  src/Network/Network/Generated/RouteTable/Route/AddAzureRmRouteConfigCommand.cs
  src/Network/Network/Generated/RouteTable/Route/NewAzureRmRouteConfigCommand.cs
  src/Network/Network/Generated/RouteTable/Route/SetAzureRmRouteConfigCommand.cs
  src/Network/Network/Models/PSRouteNextHopEcmp.cs
  src/Network/Network/help/Add-AzRouteConfig.md
  src/Network/Network/help/New-AzRouteConfig.md
  src/Network/Network/help/Set-AzRouteConfig.md
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

PS5: Add StaticAnalysis exceptions and finalize V2 porcelain for pull request
  src/Chaos/Chaos.Autorest/custom/Initialize-AzChaosWorkspace.ps1
  src/Chaos/Chaos.Autorest/custom/Invoke-AzChaosWorkspaceScenarioEvaluation.ps1
  src/Chaos/Chaos.Autorest/custom/Start-AzChaosScenarioRun.ps1
  src/Chaos/Chaos.Autorest/test/Initialize-AzChaosWorkspace.Recording.json
  src/Chaos/Chaos.Autorest/test/Initialize-AzChaosWorkspace.Tests.ps1
  src/Chaos/Chaos.Autorest/test/Invoke-AzChaosWorkspaceScenarioEvaluation.Recording.json
  src/Chaos/Chaos.Autorest/test/Invoke-AzChaosWorkspaceScenarioEvaluation.Tests.ps1
  src/Chaos/Chaos.Autorest/test/Start-AzChaosScenarioRun.Recording.json
  src/Chaos/Chaos.Autorest/test/Start-AzChaosScenarioRun.Tests.ps1
  tools/StaticAnalysis/Exceptions/Az.Chaos/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Chaos/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix: remove untraceable SENTRECURSIVE swagger directive from Chaos PS module
  src/Chaos/Chaos.Autorest/README.md
  src/Chaos/Chaos.Autorest/custom/Initialize-AzChaosWorkspace.ps1
  src/Chaos/Chaos.Autorest/custom/autogen-model-cmdlets/New-AzChaosConfigurationFiltersObject.ps1
  src/Chaos/Chaos.Autorest/docs/New-AzChaosConfigurationFiltersObject.md
  src/Chaos/Chaos.Autorest/docs/New-AzChaosScenarioConfiguration.md
  src/Chaos/Chaos.Autorest/test/HelpContentCompleteness.Tests.ps1
  src/Chaos/Chaos/help/New-AzChaosConfigurationFiltersObject.md
  src/Chaos/Chaos/help/New-AzChaosScenarioConfiguration.md
Due: none

[Change Safety] Az.Accounts: AutoRest AcquirePolicyToken pipeline step (Stage A)
  src/Accounts/Accounts.Test/ChangeSafetyParameterContractTests.cs
  src/Accounts/Accounts.Test/UnitTest/AcquirePolicyTokenHandlerTests.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/CommonModule/ContextAdapter.cs
Due: none

Revert unrelated VirtualNetworkTests.ps1 change; keep file in sync with base
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.ps1
Due: none

random change
  temp.txt
Due: none

update and new properties for VNA and VNET (#29243)
  src/ContainerInstance/LiveTests/ContainerInstance.Autorest/TestLiveScenarios.ps1
  src/Functions/LiveTests/Functions.Autorest/TestLiveScenarios.ps1
  src/Network/Network.Test/ScenarioTests/VirtualNetworkApplianceTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkApplianceTests.ps1
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkApplianceTests/TestVirtualNetworkApplianceCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkApplianceTests/TestVirtualNetworkApplianceDualStack.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestVirtualNetworkSummarizedGatewayPrefixes.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSVirtualNetwork.cs
  src/Network/Network/Models/PSVirtualNetworkAppliance.cs
  src/Network/Network/VirtualNetwork/NewAzureVirtualNetworkCommand.cs
  src/Network/Network/VirtualNetworkAppliance/NewVirtualNetworkApplianceCommand.cs
  src/Network/Network/help/New-AzVirtualNetwork.md
  src/Network/Network/help/New-AzVirtualNetworkAppliance.md
Due: none

Potential fix for pull request finding
  src/Network/Network/ChangeLog.md
Due: none

Add Managed HSM support to Application Gateway SSL certificate cmdlets (#29418)
  src/Network/Network/ApplicationGateway/SslCertificate/AzureApplicationGatewaySslCertificateBase.cs
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSApplicationGatewayManagedHsm.cs
  src/Network/Network/help/Add-AzApplicationGatewaySslCertificate.md
  src/Network/Network/help/New-AzApplicationGatewaySslCertificate.md
  src/Network/Network/help/Set-AzApplicationGatewaySslCertificate.md
Due: none

Resolving comments suggested by copilot
  src/Automation/Automation.Management.Sdk/Generated/Models/RuntimeEnvironmentRuntime.cs
  src/Automation/Automation.Test/UnitTests/GetAzureAutomationRuntimeEnvironmentPackageTest.cs
  src/Automation/Automation.Test/UnitTests/NewAzureAutomationRuntimeEnvironmentPackageTest.cs
  src/Automation/Automation.Test/UnitTests/RemoveAzureAutomationRuntimeEnvironmentPackageTest.cs
  src/Automation/Automation.Test/UnitTests/SetAzureAutomationRuntimeEnvironmentPackageTest.cs
  src/Automation/Automation/Common/AutomationPSClient.cs
  src/Automation/Automation/help/New-AzAutomationRuntimeEnvironment.md
Due: none

Fix ChangeSafety private spec packaging
  src/ChangeSafety/ChangeSafety.Autorest/README.md
  src/ChangeSafety/ChangeSafety/Az.ChangeSafety.format.ps1xml
  src/ChangeSafety/ChangeSafety/Az.ChangeSafety.psd1
  src/ChangeSafety/ChangeSafety/ChangeSafety.csproj
  src/ChangeSafety/spec/specification/changesafety/resource-manager/Microsoft.ChangeSafety/ChangeControl/preview/2026-01-01-preview/ChangeControl.json
  src/ChangeSafety/spec/specification/common-types/resource-management/v6/managedidentity.json
  src/ChangeSafety/spec/specification/common-types/resource-management/v6/types.json
Due: none

Place ChangeSafety notes under release version
  src/ChangeSafety/ChangeSafety/ChangeLog.md
Due: none

Remove trailing changelog whitespace
  src/ChangeSafety/ChangeSafety/ChangeLog.md
Due: none

feat: Add CITATION.cff for software citation metadata
  CITATION.cff
Due: none

Potential fix for pull request finding
  CITATION.cff
Due: none

Change license from MIT to Apache
  CITATION.cff
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
