Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Rename Changelog.md to ChangeLog.md
  src/LoadTesting/ChangeLog.md
Due: none

Rename Changelog.md to ChangeLog.md
  src/Purview/Purviewdata.Autorest/ChangeLog.md
Due: none

Rename Changelog.md to ChangeLog.md
  src/Synapse/Synapse.Autorest/ChangeLog.md
Due: none

Update code-sign.yml for Azure Pipelines
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

suppress az resources signiture issue
  tools/StaticAnalysis/Exceptions/Az.Resources/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

suppress az resources signature issue (#22238)
  tools/StaticAnalysis/Exceptions/Az.Resources/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Rename Changelog.md to ChangeLog.md (#22237)
  src/ArcResourceBridge/ChangeLog.md
  src/BillingBenefits/ChangeLog.md
  src/DataFactory/DataFactoryV2/ChangeLog.md
  src/LabServices/ChangeLog.md
  src/LoadTesting/ChangeLog.md
  src/Purview/Purviewdata.Autorest/ChangeLog.md
  src/Synapse/Synapse.Autorest/ChangeLog.md
Due: none

update
  src/ImageBuilder/Az.ImageBuilder.psd1
  src/ImageBuilder/README.md
  src/ImageBuilder/custom/New-AzImageBuilderTemplate/New-AzImageBuilderTemplate_CreateExpanded.ps1
  src/ImageBuilder/custom/New-AzImageBuilderTemplateDistributorObject/New-AzImageBuilderTemplateDistributorObject_SharedImageDistributor.ps1
  src/ImageBuilder/custom/New-AzImageBuilderTemplateDistributorVersioningObject/New-AzImageBuilderTemplateDistributorVersioningObject_DistributeVersionerLatest.ps1
  src/ImageBuilder/custom/New-AzImageBuilderTrigger.ps1
  src/ImageBuilder/docs/Az.ImageBuilder.md
  src/ImageBuilder/docs/Get-AzImageBuilderTemplate.md
  src/ImageBuilder/docs/Get-AzImageBuilderTemplateRunOutput.md
  src/ImageBuilder/docs/New-AzImageBuilderTemplate.md
  src/ImageBuilder/docs/New-AzImageBuilderTemplateDistributorObject.md
  src/ImageBuilder/docs/New-AzImageBuilderTemplateDistributorVersioningObject.md
  src/ImageBuilder/docs/New-AzImageBuilderTrigger.md
  src/ImageBuilder/docs/Start-AzImageBuilderTemplate.md
  src/ImageBuilder/docs/Stop-AzImageBuilderTemplate.md
  src/ImageBuilder/docs/Update-AzImageBuilderTemplate.md
  src/ImageBuilder/examples/Get-AzImageBuilderTemplateRunOutput.md
  src/ImageBuilder/examples/New-AzImageBuilderTemplateDistributorVersioningObject.md
  src/ImageBuilder/examples/New-AzImageBuilderTrigger.md
  src/ImageBuilder/examples/Remove-AzImageBuilderTemplate.md
  src/ImageBuilder/examples/Start-AzImageBuilderTemplate.md
  src/ImageBuilder/examples/Stop-AzImageBuilderTemplate.md
  src/ImageBuilder/examples/Update-AzImageBuilderTemplate.md
  src/ImageBuilder/test/Get-AzImageBuilderVirtualMachineImageTemplate.Tests.ps1
  src/ImageBuilder/test/Get-AzImageBuilderVirtualMachineImageTemplateRunOutput.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderDistributeVersionerLatestObject.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderDistributeVersionerObject.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderDistributeVersionerSourceObject.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderImageTemplateSharedImageDistributorObject.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderTemplateDistributorVersioningObject.Tests.ps1
  src/ImageBuilder/test/New-AzImageBuilderTrigger.Tests.ps1
  src/ImageBuilder/test/Remove-AzImageBuilderVirtualMachineImageTemplate.Tests.ps1
  src/ImageBuilder/test/Start-AzImageBuilderVirtualMachineImageTemplate.Tests.ps1
  src/ImageBuilder/test/Stop-AzImageBuilderVirtualMachineImageTemplate.Tests.ps1
  src/ImageBuilder/test/Update-AzImageBuilderTemplate.Tests.ps1
  src/ImageBuilder/test/Update-AzImageBuilderVirtualMachineImageTemplate.Tests.ps1
Due: none

Commit the session record
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestConnectionMonitorWithVMSSAsSource.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestGetNextHop.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCapture.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCaptureVMSS.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestReachabilityReport.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestVerifyIPFlow.json
Due: none

Update code-sign.yml for Azure Pipelines (#22239)
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

For Test packet capture
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCapture.json
Due: none

Update Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUpload.md
Due: none

Update Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/examples/Remove-AzMobileNetworkBulkSimDelete.md
Due: none

Update Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUploadEncrypted.md
Due: none

Update Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/docs/Update-AzMobileNetworkBulkSimUploadEncrypted.md
Due: none

Update Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/docs/Remove-AzMobileNetworkBulkSimDelete.md
Due: none

Update Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/docs/Update-AzMobileNetworkBulkSimUpload.md
Due: none

Remove the check in HelpGeneration
  tools/HelpGeneration/HelpGeneration.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#22241)
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Remove the check in HelpGeneration (#22244)
  tools/HelpGeneration/HelpGeneration.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed the error when source was PSGallery
  tools/TestFx/Live/InstallLiveTestAzModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix the error with assemblyLoading proj
  src/Accounts/AssemblyLoading/AssemblyLoading.csproj
  tools/DevTools/CommonRepo.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

create SignatureIssues.csv and ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageCache/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageCache/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  src/Quantum/Az.Quantum.psd1
  src/Quantum/README.md
  src/Quantum/docs/Az.Quantum.md
  src/Quantum/docs/Get-AzQuantumOffering.md
  src/Quantum/docs/Get-AzQuantumWorkspace.md
  src/Quantum/docs/New-AzQuantumProviderObject.md
  src/Quantum/docs/New-AzQuantumWorkspace.md
  src/Quantum/docs/Remove-AzQuantumWorkspace.md
  src/Quantum/docs/Test-AzQuantumWorkspaceNameAvailability.md
  src/Quantum/docs/Update-AzQuantumWorkspace.md
  src/Quantum/examples/Get-AzQuantumOffering.md
  src/Quantum/examples/Get-AzQuantumWorkspace.md
  src/Quantum/examples/New-AzQuantumProviderObject.md
  src/Quantum/examples/New-AzQuantumWorkspace.md
  src/Quantum/examples/Remove-AzQuantumWorkspace.md
  src/Quantum/examples/Test-AzQuantumWorkspaceNameAvailability.md
  src/Quantum/examples/Update-AzQuantumWorkspace.md
  src/Quantum/examples/Update-AzQuantumWorkspaceTag.md
  src/Quantum/test/AzQuantumWorkspace.Recording.json
  src/Quantum/test/AzQuantumWorkspace.Tests.ps1
  src/Quantum/test/New-AzQuantumWorkspace.Tests.ps1
  src/Quantum/test/Set-AzQuantumWorkspace.Tests.ps1
  src/Quantum/test/Test-AzQuantumWorkspaceNameAvailability.Tests.ps1
  src/Quantum/test/Update-AzQuantumWorkspace.Tests.ps1
  src/Quantum/test/env.json
  src/Quantum/test/utils.ps1
Due: none

undo AssemblyLoading.csproj
  src/Accounts/AssemblyLoading/AssemblyLoading.csproj
Due: none

Added detailed error info to debug a concurrent issue
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Quantum/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for StorageCache
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

MobileNetwork: SimBulk Upload docs (#22235)
  src/MobileNetwork/docs/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/docs/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/docs/Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/examples/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUploadEncrypted.md
Due: none

Move MobileNetwork to main
  src/MobileNetwork/Az.MobileNetwork.psd1
  src/MobileNetwork/MobileNetwork.sln
  src/MobileNetwork/README.md
  src/MobileNetwork/examples/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/exports/ProxyCmdletDefinitions.ps1
  src/MobileNetwork/exports/Remove-AzMobileNetworkBulkSimDelete.ps1
  src/MobileNetwork/exports/Update-AzMobileNetworkBulkSimUpload.ps1
  src/MobileNetwork/exports/Update-AzMobileNetworkBulkSimUploadEncrypted.ps1
  src/MobileNetwork/generate-info.json
  src/MobileNetwork/generated/cmdlets/RemoveAzMobileNetworkBulkSimDelete_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/RemoveAzMobileNetworkBulkSimDelete_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUploadEncrypted_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUploadEncrypted_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUpload_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUpload_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/runtime/MessageAttribute.cs
  src/MobileNetwork/generated/runtime/Properties/Resources.Designer.cs
  src/MobileNetwork/generated/runtime/Properties/Resources.resx
  src/MobileNetwork/help/Az.MobileNetwork.md
  src/MobileNetwork/help/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/help/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/help/Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/test/Remove-AzMobileNetworkBulkSimDelete.Tests.ps1
  src/MobileNetwork/test/Update-AzMobileNetworkBulkSimUpload.Tests.ps1
  src/MobileNetwork/test/Update-AzMobileNetworkBulkSimUploadEncrypted.Tests.ps1
Due: none

Commands for schedule start stop feature
  src/Sql/Sql.sln
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ManagedInstanceSchedule/Cmdlet/GetAzureSqlManagedInstanceSchedule.cs
  src/Sql/Sql/ManagedInstanceSchedule/Cmdlet/ManagedInstanceScheduleCmdletBase.cs
  src/Sql/Sql/ManagedInstanceSchedule/Cmdlet/NewAzureSqlInstanceScheduleItem.cs
  src/Sql/Sql/ManagedInstanceSchedule/Cmdlet/NewAzureSqlManagedInstanceSchedule.cs
  src/Sql/Sql/ManagedInstanceSchedule/Cmdlet/RemoveAzureSqlManagedInstanceSchedule.cs
  src/Sql/Sql/ManagedInstanceSchedule/Model/AzureSqlManagedInstanceScheduleModel.cs
  src/Sql/Sql/ManagedInstanceSchedule/Model/ScheduleItem.cs
  src/Sql/Sql/ManagedInstanceSchedule/Services/AzureSqlManagedInstanceScheduleAdapter.cs
  src/Sql/Sql/ManagedInstanceSchedule/Services/AzureSqlManagedInstanceScheduleCommunicator.cs
Due: none

Skipping TestReachabilityReport test case, as its deprecated
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.cs
Due: none

Add tool to connect PS and common repos (#20960)
  tools/DevTools/CommonRepo.psm1
  tools/DevTools/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move MobileNetwork to main (#22251)
  src/MobileNetwork/Az.MobileNetwork.psd1
  src/MobileNetwork/MobileNetwork.sln
  src/MobileNetwork/README.md
  src/MobileNetwork/examples/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/examples/Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/exports/ProxyCmdletDefinitions.ps1
  src/MobileNetwork/exports/Remove-AzMobileNetworkBulkSimDelete.ps1
  src/MobileNetwork/exports/Update-AzMobileNetworkBulkSimUpload.ps1
  src/MobileNetwork/exports/Update-AzMobileNetworkBulkSimUploadEncrypted.ps1
  src/MobileNetwork/generate-info.json
  src/MobileNetwork/generated/cmdlets/RemoveAzMobileNetworkBulkSimDelete_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/RemoveAzMobileNetworkBulkSimDelete_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUploadEncrypted_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUploadEncrypted_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUpload_BulkExpanded.cs
  src/MobileNetwork/generated/cmdlets/UpdateAzMobileNetworkBulkSimUpload_BulkViaIdentityExpanded.cs
  src/MobileNetwork/generated/runtime/MessageAttribute.cs
  src/MobileNetwork/generated/runtime/Properties/Resources.Designer.cs
  src/MobileNetwork/generated/runtime/Properties/Resources.resx
  src/MobileNetwork/help/Az.MobileNetwork.md
  src/MobileNetwork/help/Remove-AzMobileNetworkBulkSimDelete.md
  src/MobileNetwork/help/Update-AzMobileNetworkBulkSimUpload.md
  src/MobileNetwork/help/Update-AzMobileNetworkBulkSimUploadEncrypted.md
  src/MobileNetwork/test/Remove-AzMobileNetworkBulkSimDelete.Tests.ps1
  src/MobileNetwork/test/Update-AzMobileNetworkBulkSimUpload.Tests.ps1
  src/MobileNetwork/test/Update-AzMobileNetworkBulkSimUploadEncrypted.Tests.ps1
Due: none
