Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

make source list optional for redistribute throughput
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDBSqlContainerPerPartitionThroughput.cs
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDBSqlDatabasePerPartitionThroughput.cs
Due: none

upgraded devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

update change log
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

updated group quota version
  src/Quota/Quota.Autorest/README.md
Due: none

ran autorest for quota
  src/Quota/Quota.Autorest/Properties/AssemblyInfo.cs
  src/Quota/Quota.Autorest/custom/Az.Quota.custom.psm1
  src/Quota/Quota.Autorest/custom/README.md
  src/Quota/Quota.Autorest/docs/README.md
  src/Quota/Quota.Autorest/examples/README.md
  src/Quota/Quota.Autorest/generate-info.json
  src/Quota/Quota.Autorest/resources/README.md
  src/Quota/Quota.Autorest/test/README.md
Due: none

Simplify change log for batch (#28849)
  src/Batch/Batch/ChangeLog.md
Due: none

feature: re-build autorest module
  src/AppConfiguration/AppConfiguration.sln
  src/AppConfiguration/AppConfiguration/Az.AppConfiguration.psd1
  src/AppConfiguration/AppConfigurationdata.Autorest/docs/Az.AppConfigurationdata.md
  src/AppConfiguration/AppConfigurationdata.Autorest/generate-info.json
Due: none

Bump up version for Network
  NuGet.Config
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove BreakingChangeIssues.csv files
  tools/StaticAnalysis/Exceptions/Az.Advisor/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ApplicationInsights/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ArcResourceBridge/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Attestation/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Automanage/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Automation/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Batch/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ConfidentialLedger/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerRegistry/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DevCenter/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Dns/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.FrontDoor/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.HealthcareApis/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.NetworkCloud/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Nginx/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Oracle/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Relay/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ServiceFabric/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageMover/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StreamAnalytics/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Workloads/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for Storage
  NuGet.Config
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for Compute
  NuGet.Config
  src/Compute/Compute.Helpers/Properties/AssemblyInfo.cs
  src/Compute/Compute.Management.Sdk/Properties/AssemblyInfo.cs
  src/Compute/Compute/Az.Compute.psd1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update example issue
  src/MachineLearningServices/MachineLearningServices.Autorest/Properties/AssemblyInfo.cs
  src/MachineLearningServices/MachineLearningServices.Autorest/docs/Get-AzMLWorkspaceKey.md
  src/MachineLearningServices/MachineLearningServices.Autorest/examples/Get-AzMLWorkspaceKey.md
  src/MachineLearningServices/MachineLearningServices.Autorest/generate-info.json
  src/MachineLearningServices/MachineLearningServices.sln
  src/MachineLearningServices/MachineLearningServices/Az.MachineLearningServices.psd1
  src/MachineLearningServices/MachineLearningServices/help/Get-AzMLWorkspaceKey.md
Due: none

feature: add test for paging
  src/AppConfiguration/AppConfigurationdata.Autorest/test/AzAppConfigurationKeyValue.Tests.ps1
Due: none

added changelog and examples
  src/Datadog/Datadog.Autorest/examples/Get-AzDatadogBillingInfo.md
  src/Datadog/Datadog.Autorest/examples/Get-AzDatadogCreationSupported.md
  src/Datadog/Datadog.Autorest/examples/Get-AzDatadogMonitoredSubscription.md
  src/Datadog/Datadog.Autorest/examples/Invoke-AzDatadogResubscribeOrganization.md
  src/Datadog/Datadog.Autorest/examples/Remove-AzDatadogMonitoredSubscription.md
  src/Datadog/Datadog.Autorest/examples/Set-AzDatadogMonitoredSubscriptionCreateor.md
  src/Datadog/Datadog.Autorest/examples/Update-AzDatadogMonitoredSubscription.md
  src/Datadog/Datadog/ChangeLog.md
Due: none

Running test cases for cmdlets
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Get-AzDynatraceCreationSupported.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Get-AzDynatraceMonitorConnectedResourceCount.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Get-AzDynatraceMonitoredSubscription.Recording.json
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Get-AzDynatraceMonitoredSubscription.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Invoke-AzDynatraceManageMonitorAgentInstallation.Recording.json
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Invoke-AzDynatraceManageMonitorAgentInstallation.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/New-AzDynatraceMonitoredSubscription.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Remove-AzDynatraceMonitoredSubscription.Recording.json
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Remove-AzDynatraceMonitoredSubscription.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Update-AzDynatraceMonitorSSOConfig.Recording.json
  src/DynatraceObservability/DynatraceObservability.Autorest/test/Update-AzDynatraceMonitorSSOConfig.Tests.ps1
  src/DynatraceObservability/DynatraceObservability.Autorest/test/env.json
Due: none

Added Deleted server commands
  src/Sql/Sql.Test/ScenarioTests/DeletedServerTests.cs
  src/Sql/Sql.Test/ScenarioTests/DeletedServerTests.ps1
  src/Sql/Sql.Test/ScenarioTests/ServerCrudTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DeletedServerTests/TestCreateServerWithSoftDeleteAndVerifyDeletedServer.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.DeletedServerTests/TestGetDeletedServerByLocation.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerCrudTests/TestServerCreateWithCustomSoftRetentionEnabled.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerCrudTests/TestServerCreateWithDefaultSoftRetentionEnabled.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerCrudTests/TestServerRestoreDeletedServer.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerCrudTests/TestServerUpdateWithSoftRetentionEnabled.json
  src/Sql/Sql.Test/UnitTests/AzureSqlDeletedServerAttributeTests.cs
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/Properties/Resources.Designer.cs
  src/Sql/Sql/Properties/Resources.resx
  src/Sql/Sql/Server/Cmdlet/AzureSqlDeletedServerCmdletBase.cs
  src/Sql/Sql/Server/Cmdlet/AzureSqlServerCmdletBase.cs
  src/Sql/Sql/Server/Cmdlet/GetAzSqlDeletedServer.cs
  src/Sql/Sql/Server/Cmdlet/NewAzureSqlServer.cs
  src/Sql/Sql/Server/Cmdlet/RestoreAzureSqlServer.cs
  src/Sql/Sql/Server/Cmdlet/SetAzureSqlServer.cs
  src/Sql/Sql/Server/Model/AzureSqlDeletedServerModel.cs
  src/Sql/Sql/Server/Services/AzureSqlDeletedServerAdapter.cs
  src/Sql/Sql/Server/Services/AzureSqlDeletedServerCommunicator.cs
  src/Sql/Sql/Server/Services/AzureSqlServerAdapter.cs
  src/Sql/Sql/help/Get-AzSqlDeletedServer.md
  src/Sql/Sql/help/New-AzSqlServer.md
  src/Sql/Sql/help/Restore-AzSqlServer.md
  src/Sql/Sql/help/Set-AzSqlServer.md
Due: none

Updated ChangeLog.md
  src/Sql/Sql/ChangeLog.md
Due: none

Revert "feature: re-build autorest module"
  src/AppConfiguration/AppConfiguration.sln
  src/AppConfiguration/AppConfiguration/Az.AppConfiguration.psd1
  src/AppConfiguration/AppConfigurationdata.Autorest/docs/Az.AppConfigurationdata.md
  src/AppConfiguration/AppConfigurationdata.Autorest/generate-info.json
Due: none

feature: add changelog entry
  src/AppConfiguration/AppConfiguration/ChangeLog.md
  src/AppConfiguration/AppConfigurationdata.Autorest/custom/GetAzAppConfigurationKeyValue_Get.cs
Due: none

fix breaking change static analysis error
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/Az.Migrate.psd1
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Create custom instructions for GH copilot to review ref docs
  .github/instructions/reference-doc.instructions.md
Due: azure-pipelines.yml

Re-record tests and remove skips
  src/Migrate/Migrate.Autorest/custom/Get-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/Initialize-AzMigrateLocalReplicationInfrastructure.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateDiscoveredServer.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalJob.Recording.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateProject.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateDiskMapping.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateLocalServerReplication.Recording.json
  src/Migrate/Migrate.Autorest/test/New-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateNicMapping.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateProject.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateTestNicMapping.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Remove-AzMigrateLocalServerReplication.Recording.json
  src/Migrate/Migrate.Autorest/test/Set-AzMigrateDiskMapping.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Set-AzMigrateLocalServerReplication.Recording.json
  src/Migrate/Migrate.Autorest/test/env.json
  src/Migrate/Migrate.Autorest/test/utils.ps1
  src/Migrate/Migrate.sln
Due: none

Update generated info and sln
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.sln
Due: none

Updated SetAzureSqlSerevr
  src/Sql/Sql/Server/Cmdlet/SetAzureSqlServer.cs
Due: none

fix test
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Tests.ps1
Due: none

fix examples
  src/Aks/Aks.Autorest/docs/Remove-AzAksAgentPoolMachine.md
  src/Aks/Aks.Autorest/examples/Remove-AzAksAgentPoolMachine.md
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.sln
  src/Aks/Aks/help/Remove-AzAksAgentPoolMachine.md
  tools/StaticAnalysis/Exceptions/Az.Aks/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Make changelog past tense and re-add assembly info
  src/DnsResolver/DnsResolver.Autorest/Properties/AssemblyInfo.cs
  src/DnsResolver/DnsResolver/ChangeLog.md
Due: none

updated changelog.md
  src/Migrate/Migrate/ChangeLog.md
Due: none

Fix tests and add examples in docs
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Get-AzPaloAltoNetworksMetricsObjectFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Get-AzPaloAltoNetworksPaloAltoNetworksCloudngfwOperationCloudManagerTenant.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Get-AzPaloAltoNetworksPaloAltoNetworksCloudngfwOperationProductSerialNumberStatus.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Get-AzPaloAltoNetworksPaloAltoNetworksCloudngfwOperationSupportInfo.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/New-AzPaloAltoNetworksMetricsObjectFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/New-AzPaloAltoNetworksPaloAltoNetworksCloudngfwOperationProductSerialNumber.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Remove-AzPaloAltoNetworksMetricsObjectFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/Update-AzPaloAltoNetworksMetricsObjectFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/examples/Get-AzPaloAltoNetworksMetricsObjectFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/AzPaloAltoNetworks.Recording.json
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/test/env.json
Due: none
