Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

fix examples
  src/IoTOperationsService/IoTOperationsService.Autorest/Properties/AssemblyInfo.cs
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/Update-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/Update-AzIoTOperationsServiceDataflow.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/Update-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/Update-AzIoTOperationsServiceDataflow.md
  src/IoTOperationsService/IoTOperationsService.Autorest/generate-info.json
  src/IoTOperationsService/IoTOperationsService.sln
  src/IoTOperationsService/IoTOperationsService/help/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService/help/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService/help/Update-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService/help/Update-AzIoTOperationsServiceDataflow.md
Due: none

pass pipeline
  tools/StaticAnalysis/Exceptions/Az.DesktopVirtualization/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for Network
  NuGet.Config
Due: .azure-pipelines/sync-tools-folder.yml

exception change
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix sync alias issue and replace .NET SDK version from 8.0.x with 8.x
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/daily-build.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/sync-aliases.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
  .azure-pipelines/windows-powershell.yml
  tools/Github/ParseServiceContactsList.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

ignore warning
  src/FrontDoor/FrontDoor.Autorest/custom/Enable-AzFrontDoorCustomDomainHttps.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorWafPolicy.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/Set-AzFrontDoor.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/Update-AzFrontDoorWafPolicy.ps1
  tools/StaticAnalysis/Exceptions/Az.FrontDoor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

correctly generate help markddown for new module
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update ignore
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Microsoft.DocumentDB] CosmosDB - Docs Updated - API Version 2024-11-15 Stable Release Fix (#27331)
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlIndexingPolicy.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbedding.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbeddingPolicy.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorIndex.md
Due: none

remove ProgressAction parameters
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitor.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorAppService.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorHost.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorLinkableEnv.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorMarketplaceSaaSResourceDetail.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorMetricStatus.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorSSOConfig.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorSSODetail.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorTagRule.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitorVMHostPayload.md
  src/DynatraceObservability/DynatraceObservability/help/Get-AzDynatraceMonitoredResource.md
  src/DynatraceObservability/DynatraceObservability/help/New-AzDynatraceMonitor.md
  src/DynatraceObservability/DynatraceObservability/help/New-AzDynatraceMonitorFilteringTagObject.md
  src/DynatraceObservability/DynatraceObservability/help/New-AzDynatraceMonitorSSOConfig.md
  src/DynatraceObservability/DynatraceObservability/help/New-AzDynatraceMonitorTagRule.md
  src/DynatraceObservability/DynatraceObservability/help/Remove-AzDynatraceMonitor.md
  src/DynatraceObservability/DynatraceObservability/help/Remove-AzDynatraceMonitorTagRule.md
  src/DynatraceObservability/DynatraceObservability/help/Update-AzDynatraceMonitor.md
Due: none

[Eng] Correctly generate help markddown for new module (#27334)
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Az.->AppConfiguration update generation tool version: autorest.powershell v3->v4
  src/AppConfiguration/AppConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/AppConfiguration/AppConfiguration.Autorest/README.md
  src/AppConfiguration/AppConfiguration.Autorest/custom/KeyVaultProperties.json.cs
  src/AppConfiguration/AppConfiguration.Autorest/custom/New-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/custom/Update-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/docs/Az.AppConfiguration.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Clear-AzAppConfigurationDeletedStore.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Get-AzAppConfigurationDeletedStore.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Get-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Get-AzAppConfigurationStoreKey.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/New-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/New-AzAppConfigurationStoreKey.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Remove-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Test-AzAppConfigurationStoreNameAvailability.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Update-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration.Autorest/generate-info.json
  src/AppConfiguration/AppConfiguration.Autorest/resources/README.md
  src/AppConfiguration/AppConfiguration.Autorest/test/AzAppConfigurationStore.Recording.json
  src/AppConfiguration/AppConfiguration.Autorest/test/env.json
  src/AppConfiguration/AppConfiguration.sln
  src/AppConfiguration/AppConfiguration/Az.AppConfiguration.psd1
  src/AppConfiguration/AppConfiguration/help/Az.AppConfiguration.md
  src/AppConfiguration/AppConfiguration/help/Clear-AzAppConfigurationDeletedStore.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationDeletedStore.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationKey.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationKeyValue.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationLabel.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationRevision.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration/help/Get-AzAppConfigurationStoreKey.md
  src/AppConfiguration/AppConfiguration/help/New-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration/help/New-AzAppConfigurationStoreKey.md
  src/AppConfiguration/AppConfiguration/help/Remove-AzAppConfigurationKeyValue.md
  src/AppConfiguration/AppConfiguration/help/Remove-AzAppConfigurationLock.md
  src/AppConfiguration/AppConfiguration/help/Remove-AzAppConfigurationStore.md
  src/AppConfiguration/AppConfiguration/help/Set-AzAppConfigurationKeyValue.md
  src/AppConfiguration/AppConfiguration/help/Set-AzAppConfigurationLock.md
  src/AppConfiguration/AppConfiguration/help/Test-AzAppConfigurationKeyValue.md
  src/AppConfiguration/AppConfiguration/help/Test-AzAppConfigurationStoreNameAvailability.md
  src/AppConfiguration/AppConfiguration/help/Update-AzAppConfigurationStore.md
Due: none

update changelog
  src/AppConfiguration/AppConfiguration/ChangeLog.md
Due: none

migrate marketplaceordering module to autorest v4
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/Properties/AssemblyInfo.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/README.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/custom/Get-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/custom/Set-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/docs/Az.MarketplaceOrdering.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/docs/Get-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/docs/Invoke-AzMarketplaceSignTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/docs/Set-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/docs/Stop-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/generate-info.json
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/resources/README.md
  src/MarketplaceOrdering/MarketplaceOrdering.sln
  src/MarketplaceOrdering/MarketplaceOrdering/Az.MarketplaceOrdering.psd1
  src/MarketplaceOrdering/MarketplaceOrdering/ChangeLog.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Get-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Invoke-AzMarketplaceSignTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Set-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Stop-AzMarketplaceTerms.md
Due: none

update
  src/AppConfiguration/AppConfiguration.Autorest/README.md
Due: none

update tests
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeAndFlexDefaults.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeDefaulting.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeDefaultingFromImage.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeNoVMProfile.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeStandardWithConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeUpdate.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfigUpdate.json
Due: none

Use existing generated API for Put connection which takes AuxToken as param already
  src/Network/Network/VirtualNetworkGatewayConnection/NewAzureVirtualNetworkGatewayConnectionCommand.cs
  src/Network/Network/VirtualNetworkGatewayConnection/UpdateAzureVirtualNetworkGatewayConnectionCommand.cs
Due: none

Added change log
  src/Network/Network/ChangeLog.md
Due: none

Update examples
  src/IoTOperationsService/IoTOperationsService.Autorest/Properties/AssemblyInfo.cs
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/docs/Update-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/examples/Update-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService.Autorest/generate-info.json
  src/IoTOperationsService/IoTOperationsService.sln
  src/IoTOperationsService/IoTOperationsService/Az.IoTOperationsService.psd1
  src/IoTOperationsService/IoTOperationsService/help/New-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService/help/Set-AzIoTOperationsServiceBrokerAuthentication.md
  src/IoTOperationsService/IoTOperationsService/help/Update-AzIoTOperationsServiceBrokerAuthentication.md
Due: none

Fix help files static analysis errors
  src/Network/Network/help/Get-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/New-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/Remove-AzVpnServerConfigurationPolicyGroup.md
  src/Network/Network/help/Update-AzVpnServerConfigurationPolicyGroup.md
Due: none

Add connectivity capabilities to New, Get and Set AzNetworkManagerConnectivityConfiguration help files
  src/Network/Network/help/Get-AzNetworkManagerConnectivityConfiguration.md
  src/Network/Network/help/New-AzNetworkManagerConnectivityConfiguration.md
  src/Network/Network/help/Set-AzNetworkManagerConnectivityConfiguration.md
Due: none

Update ChangeLog to reflect connectivity capabilities for AzNetworkManager cmdlets
  src/Network/Network/ChangeLog.md
Due: none

Add New-AzNetworkManagerConnectivityCapabilities cmdlet and update related help files
  src/Network/Network/help/New-AzNetworkManagerConnectivityCapabilities.md
  src/Network/Network/help/New-AzNetworkManagerConnectivityConfiguration.md
  src/Network/Network/help/Set-AzNetworkManagerConnectivityConfiguration.md
Due: none

Bump up version for DesktopVirtualization
  NuGet.Config
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add support for PremiumV2_LRS and UltraSSD_LRS target disks
  src/RecoveryServices/RecoveryServices.SiteRecovery/DiskReplicationConfiguration/AzureRmAsrAzureToAzureDiskReplicationConfig.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery/Models/PSConstants.cs
Due: none

Add scenario tests and recordings
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/SessionRecords/RecoveryServices.SiteRecovery.Test.AsrA2ATests/TestNewA2AManagedDiskReplicationConfigForPv2.json
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/SessionRecords/RecoveryServices.SiteRecovery.Test.AsrA2ATests/TestNewA2AManagedDiskReplicationConfigForUltraDisk.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

remove unnecessary function
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
Due: none

Fix sync alias issue and replace .NET SDK version from 8.0.x with 8.x (#27335)
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/daily-build.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/sync-aliases.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
  .azure-pipelines/windows-powershell.yml
  tools/Github/ParseServiceContactsList.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Storage OOB Release (#27314)
  NuGet.Config
  src/Storage/Storage.Autorest/Properties/AssemblyInfo.cs
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Ran Autorest
  src/ArizeAi/ArizeAi.Autorest/.gitattributes
  src/ArizeAi/ArizeAi.Autorest/.gitignore
  src/ArizeAi/ArizeAi.Autorest/Properties/AssemblyInfo.cs
  src/ArizeAi/ArizeAi.Autorest/README.md
  src/ArizeAi/ArizeAi.Autorest/custom/README.md
  src/ArizeAi/ArizeAi.Autorest/docs/README.md
  src/ArizeAi/ArizeAi.Autorest/examples/README.md
  src/ArizeAi/ArizeAi.Autorest/how-to.md
  src/ArizeAi/ArizeAi.Autorest/resources/README.md
  src/ArizeAi/ArizeAi.Autorest/test/README.md
  src/ArizeAi/ArizeAi.Autorest/test/loadEnv.ps1
  src/ArizeAi/ArizeAi.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/ArizeAi/ArizeAi.Autorest/utils/Unprotect-SecureString.ps1
Due: none
