Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:

resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - tools
      - src/lib
      
variables:
  GenerationBranchName: generation
  AzureStackBranchName: Azs-tzl

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}
      AzureStack:
        BranchName: ${{ variables.AzureStackBranchName }}

  steps:
  - template: util/sync-tools-folder-template.yml
    parameters:
      BranchName: $(BranchName)

.azure-pipelines/util/sync-tools-folder.yml:

# Variable 'BaseBranch' was defined in the Variables tab
# Variable 'ServiceName' was defined in the Variables tab
# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
resources:
  repositories:
  - repository: self
    type: git
    ref: main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipeline
      - tools
      - src/lib

jobs:
- job: Job_1
  displayName: 'Sync to ${{ parameters.BranchName }}'
  timeoutInMinutes: 90
  pool:
    name: Hosted VS2017
  steps:
  - checkout: self
  - task: PowerShell@2
    displayName: Config git
    inputs:
      targetType: inline
      script: >-
        git config --global user.email "azurepowershell@ms.com"

        git config --global user.name "azurepowershell"

        git checkout ${{ parameters.BranchName }}
      pwsh: true
  - task: PowerShell@2
    displayName: Sync .azure-pipelines folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp .azure-pipelines .azure-pipelines-tmp -r

        rm .azure-pipelines -r

        mv .azure-pipelines-tmp .azure-pipelines

        git add .azure-pipelines
      pwsh: true
  - task: PowerShell@2
    displayName: Sync src/lib folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp src/lib src/lib-tmp -r

        rm src/lib -r

        mv src/lib-tmp src/lib

        git add src/lib
      pwsh: true
  - task: PowerShell@2
    displayName: Sync tools folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp tools tools-tmp -r

        rm tools -r

        mv tools-tmp tools

        git add tools

        git commit -m "Sync tools folder from main branch to ${{ parameters.BranchName }} branch"

        git remote set-url origin https://$env:GITHUB_TOKEN@github.com/Azure/azure-powershell.git

        git push origin syncToolsFolder --force
      pwsh: true
...

Remove secrets in PSAzurerRmAccount from display (#16449)
  src/Accounts/Accounts.Test/ContextCmdletTests.cs
  src/Accounts/Accounts.Test/SessionRecords/Microsoft.Azure.Commands.Profile.Test.SubscriptionCmdletTests/GetSubscriptionsAfterContextRenameAndSet.json
  src/Accounts/Accounts.Test/SubscriptionCmdletTests.cs
  src/Accounts/Accounts.Test/SubscriptionCmdletTests.ps1
  src/Accounts/Accounts/Accounts.format.ps1xml
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication.ResourceManager/Models/PSAzureRmAccount.cs
Due: none

Fixed minor issue
  tools/StaticAnalysis/Exceptions/Az.EdgeOrder/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed duplicate entry
  tools/StaticAnalysis/Exceptions/Az.EdgeOrder/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update README.md
  tools/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update psmodel sync up with sdk
  src/Synapse/Synapse/Models/DataPlaneModels/ManagedPrivateEndpoints/PSManagedPrivateEndpointProperties.cs
Due: none

Update smoke-test-steps.yml
  .azure-pipelines/util/smoke-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update Managed Services Examples with new autorest cmdlets modules (#16497)
  src/ManagedServices/examples/Get-AzManagedServicesAssignment.md
  src/ManagedServices/examples/Get-AzManagedServicesDefinition.md
  src/ManagedServices/examples/Get-AzManagedServicesMarketplaceDefinition.md
  src/ManagedServices/examples/New-AzManagedServicesAssignment.md
  src/ManagedServices/examples/New-AzManagedServicesAuthorizationObject.md
  src/ManagedServices/examples/New-AzManagedServicesDefinition.md
  src/ManagedServices/examples/New-AzManagedServicesEligibleApproverObject.md
  src/ManagedServices/examples/New-AzManagedServicesEligibleAuthorizationObject.md
  src/ManagedServices/examples/Remove-AzManagedServicesAssignment.md
  src/ManagedServices/examples/Remove-AzManagedServicesDefinition.md
Due: none

[ManagedServices] add examples.
  src/ManagedServices/docs/Get-AzManagedServicesAssignment.md
  src/ManagedServices/docs/Get-AzManagedServicesDefinition.md
  src/ManagedServices/docs/Get-AzManagedServicesMarketplaceDefinition.md
  src/ManagedServices/docs/New-AzManagedServicesAssignment.md
  src/ManagedServices/docs/New-AzManagedServicesAuthorizationObject.md
  src/ManagedServices/docs/New-AzManagedServicesDefinition.md
  src/ManagedServices/docs/New-AzManagedServicesEligibleApproverObject.md
  src/ManagedServices/docs/New-AzManagedServicesEligibleAuthorizationObject.md
  src/ManagedServices/docs/Remove-AzManagedServicesAssignment.md
  src/ManagedServices/docs/Remove-AzManagedServicesDefinition.md
  src/ManagedServices/examples/Get-AzManagedServicesAssignment.md
  src/ManagedServices/examples/Get-AzManagedServicesDefinition.md
  src/ManagedServices/examples/Get-AzManagedServicesMarketplaceDefinition.md
  src/ManagedServices/examples/New-AzManagedServicesAssignment.md
  src/ManagedServices/examples/New-AzManagedServicesAuthorizationObject.md
  src/ManagedServices/examples/New-AzManagedServicesDefinition.md
  src/ManagedServices/examples/New-AzManagedServicesEligibleApproverObject.md
  src/ManagedServices/examples/New-AzManagedServicesEligibleAuthorizationObject.md
  src/ManagedServices/examples/Remove-AzManagedServicesAssignment.md
  src/ManagedServices/examples/Remove-AzManagedServicesDefinition.md
Due: none

[ManagedServices] capitalize readme.md
  src/ManagedServices/README.md
Due: none

[ManagedServices] deleted auto generated lowercase readme.md
  src/ManagedServices/custom/readme.md
  src/ManagedServices/docs/Az.ManagedServices.md
  src/ManagedServices/docs/New-AzManagedServicesAuthorizationObject.md
  src/ManagedServices/docs/New-AzManagedServicesEligibleApproverObject.md
  src/ManagedServices/docs/readme.md
  src/ManagedServices/how-to.md
  src/ManagedServices/resources/readme.md
  src/ManagedServices/test/Get-AzManagedServicesMarketplaceDefinition.Tests.ps1
  src/ManagedServices/test/Get-AzManagedServicesMarketplaceDefinitionCustom.Tests.ps1
  src/ManagedServices/test/Get-AzManagedServicesMarketplaceDefinitionsWithoutScope.Tests.ps1
  src/ManagedServices/test/readme.md
Due: none

[ManagedServices] capitalize auto generated readme.md
  src/ManagedServices/custom/README.md
  src/ManagedServices/docs/README.md
  src/ManagedServices/resources/README.md
  src/ManagedServices/test/README.md
Due: none

add description for scripts under tools/Docs
  tools/Docs/CopyAboutTopics.ps1
  tools/Docs/GenerateAboutTopicTxt.ps1
  tools/Docs/GenerateDotNetCsv.ps1
  tools/Docs/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[ManagedServices] add SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServices/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/ConnectedKubernetes/ChangeLog.md
Due: none

used put call
  src/Automation/Automation/Cmdlet/SetAzureAutomationModule.cs
  src/Automation/Automation/Common/AutomationPSClient.cs
Due: none

[ApplicationInsights]configuration hybrid.
  src/ApplicationInsights/ApplicationInsights.Autorest/Az.ApplicationInsights.csproj
  src/ApplicationInsights/ApplicationInsights.sln
  src/ApplicationInsights/ApplicationInsights/ApplicationInsights.csproj
  src/ApplicationInsights/ApplicationInsights/Az.ApplicationInsights.psd1
  src/ApplicationInsights/ApplicationInsights/help/Az.ApplicationInsights.md
  src/ApplicationInsights/ApplicationInsights/help/Get-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights/help/New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights/help/New-AzApplicationInsightsWebTestGeolocationObject.md
  src/ApplicationInsights/ApplicationInsights/help/New-AzApplicationInsightsWebTestHeaderFieldObject.md
  src/ApplicationInsights/ApplicationInsights/help/Remove-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights/help/Update-AzApplicationInsightsWebTestTag.md
Due: none

[ManagedServices]added BreakingChangeIssues.csv.
  tools/StaticAnalysis/Exceptions/Az.ManagedServices/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[ManagedServices]Updated README.md.
  src/ManagedServices/README.md
Due: none

[ApplicationInsights]update ChangeLog.md
  src/ApplicationInsights/ApplicationInsights/ChangeLog.md
Due: none

remove psm1.props from resources.csproj
  src/Resources/MSGraph.Autorest/custom/New-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/examples/New-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/exports/New-AzADServicePrincipal.ps1
  src/Resources/Resources/Resources.csproj
Due: none

[ApplicationInsights]format ChangeLog.md
  src/ApplicationInsights/ApplicationInsights/ChangeLog.md
Due: none

[ApplicationInsights]add SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ApplicationInsights/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed comments
  src/EdgeOrder/readme.md
  src/EdgeOrder/test/Az.EdgeOrder-TestResults.xml
  src/EdgeOrder/test/Get-AzEdgeOrderAddress.Tests.ps1
  src/EdgeOrder/test/Invoke-AzEdgeOrderItemCancellation.Tests.ps1
  src/EdgeOrder/test/Remove-AzEdgeOrderAddress.Tests.ps1
  src/EdgeOrder/test/Remove-AzEdgeOrderItem.Tests.ps1
Due: none

Updated case of readme.md
  src/EdgeOrder/README.md
Due: none

[ManagedServices]Updated SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServices/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  src/Automation/Automation/Cmdlet/SetAzureAutomationModule.cs
Due: none

Az.psd1;MinimalVersion.csv
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add description for scripts under tools/Docs (#16502)
  tools/Docs/CopyAboutTopics.ps1
  tools/Docs/GenerateAboutTopicTxt.ps1
  tools/Docs/GenerateDotNetCsv.ps1
  tools/Docs/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove blockchain from tools
  tools/Az.Tools.Installer/exports/Install-AzModule.ps1
  tools/Az.Tools.Installer/help/Install-AzModule.md
  tools/AzPreview/AzPreview.psd1
  tools/CreateMappings_rules.json
  tools/GeneratedModuleList.txt
  tools/StaticAnalysis/Exceptions/Az.Blockchain/SignatureIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.Blockchain.json
  tools/cmdletcount.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none
