Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

fix
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Upgrade Azure.Identity and MSAL versions
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/Accounts/Authentication/Authentication/TokenCache/AdalTokenMigrator.cs
  src/Accounts/Authentication/Identity/MsalConfidentialClient.cs
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Azure.Identity.Broker.dll
  src/lib/netstandard2.0/Azure.Identity.dll
  src/lib/netstandard2.0/Microsoft.Identity.Client.Broker.dll
  src/lib/netstandard2.0/Microsoft.Identity.Client.Extensions.Msal.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix static analysis issue
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/System.ClientModel.dll
  tools/StaticAnalysis/DependencyAnalyzer/DependencyAnalyzer.cs
  tools/Tools.Common/Loaders/SharedAssemblyLoader.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Enbale WAM by default
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Utilities/AzConfigReader.cs
  src/Accounts/Authenticators/SilentAuthenticator.cs
Due: none

Add Debug codes
  tools/StaticAnalysis/HelpAnalyzer/HelpAnalyzer.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix static analysis help check issue
  src/Network/Network/help/New-AzVirtualNetworkGatewayPolicyGroupmember.md
Due: none

Fix static analysis help check issue
  src/Network/Network/help/New-AzVirtualNetworkGatewayPolicyGroupMember.md
Due: none

Fix the issues
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/Accounts/Authentication/Authentication.csproj
  src/lib/netstandard2.0/Microsoft.Identity.Client.dll
  tools/Tools.Common/Loaders/SharedAssemblyLoader.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the AzConfig issue and Address review comments
  src/Accounts/Authentication/Config/Definitions/EnableLoginByWamConfig.cs
  src/Accounts/Authentication/Properties/Resources.Designer.cs
  src/Accounts/Authentication/Properties/Resources.resx
  src/Accounts/Authentication/Utilities/AzConfigReader.cs
  tools/StaticAnalysis/HelpAnalyzer/HelpAnalyzer.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix Microsoft.IdentityModel.Abstractions version issue
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/Microsoft.IdentityModel.Abstractions.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

upgrade Microsoft.Identity.Client.NativeInterop to 0.16.0.0
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/Microsoft.Identity.Client.NativeInterop.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add WamAllowedAuthorityConfig
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Config/ConfigInitializer.cs
  src/Accounts/Authentication/Config/Definitions/WamAllowedAuthorityConfig.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Utilities/AzConfigReader.cs
  src/Accounts/Authenticators/SilentAuthenticator.cs
  src/shared/ConfigKeys.cs
Due: .azure-pipelines/sync-tools-folder.yml

Adding Tests fixing cmdlet import issue
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/Network/Network.Test/ScenarioTests/InboundSecurityRuleTests.cs
  src/Network/Network.Test/ScenarioTests/InboundSecurityRuleTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.InboundSecurityRuleTests/TestInboundSecurityRule.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/NetworkVirtualAppliance/InboundSecurityRule/UpdateVirtualApplianceInboundSecurityRule.cs
  src/Network/Network/NetworkVirtualAppliance/InboundSecurityRule/VirtualApplianceInboundSecurityRuleBaseCmdlet.cs
  src/Network/Network/help/New-AzVirtualApplianceInboundSecurityPropertyRules.md
  src/Network/Network/help/Update-AzVirtualApplianceInboundSecurityRule.md
  tools/TestFx/DelegatingHandlers/HttpMockServer.cs
  tools/TestFx/TestEnvironment.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removing changes made for local testing failures
  tools/TestFx/DelegatingHandlers/HttpMockServer.cs
  tools/TestFx/TestEnvironment.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added network profile in test
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.ps1
  src/Network/Network/help/New-AzNetworkVirtualAppliance.md
  src/Network/Network/help/New-AzVirtualApplianceIpConfiguration.md
Due: none

set minimal version for Az.Sql (#24893)
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix issue for KubernetesConfigutation
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfigFluxOperationStatus.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Update-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Update-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/loadEnv.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/utils.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
Due: none

Adding test
  src/Network/Network.Test/ScenarioTests/RestartNetworkVirtualApplianceTest.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.RestartNetworkVirtualApplianceTest/TestNetworkVirtualApplianceRestart.json
  src/Network/Network/NetworkVirtualAppliance/RestartNetworkVirtualApplianceCommand.cs
Due: none

Sync tools folder from main branch to generation branch (#24899)
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[KeyVault] Switch the location of skr policy from github to maa endpoint (#24807)
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/Key/AddAzureKeyVaultKey.cs
  src/KeyVault/KeyVault/Models/Client/IKeyVaultDataServiceClient.cs
  src/KeyVault/KeyVault/Models/Client/KeyVaultDataServiceClient.cs
  src/KeyVault/KeyVault/Models/Client/VaultManagementClient.cs
  src/KeyVault/KeyVault/Models/KeyVaultCmdletBase.cs
  src/KeyVault/KeyVault/Models/KeyVaultManagementCmdletBase.cs
  src/KeyVault/KeyVault/Properties/Resources.Designer.cs
  src/KeyVault/KeyVault/Properties/Resources.resx
  src/KeyVault/KeyVault/Resources/skr-policy.json
Due: none

[PSCmdAssistant] New-AzVM and Vmss default image to Win2022AzureEdition when user explicitly sets SecurityType to Standard (#24773)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetDefaultImgWhenStandard.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVMDefaultsToTrustedLaunchImgWhenStnd.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Common/ConstantStringTypes.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

remove feedback link from announcements
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
Due: none

remove breaking change messages
  src/Accounts/Accounts/Config/ClearConfigCommand.cs
  src/Accounts/Accounts/Config/GetConfigCommand.cs
  src/Accounts/Accounts/Config/UpdateConfigCommand.cs
  src/Batch/Batch/Certificates/GetBatchCertificateCommand.cs
  src/Batch/Batch/Certificates/NewBatchCertificateCommand.cs
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/GetAzCosmosDBAccountKey.cs
  src/KeyVault/KeyVault/Commands/Key/AddAzureKeyVaultKey.cs
  src/Sql/Sql/Failover Group/Cmdlet/NewAzureSqlFailoverGroup.cs
  src/Sql/Sql/Failover Group/Cmdlet/SetAzureSqlFailoverGroup.cs
Due: none

update changelog
  src/Batch/Batch/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

update the changelog message
  src/Batch/Batch/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Use the CommandLine (not Basic) input type to pass it to BinSkim
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update .azure-pipelines/security-tools.yml
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix issue for KubernetesConfigutation (#24900)
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Remove-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfigFluxOperationStatus.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Get-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/New-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesConfiguration.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Remove-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Update-AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/Update-AzKubernetesExtension.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/loadEnv.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/utils.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
Due: none

update Az.Compute part format
  documentation/migration-guides/Az.12.0.0.0-migration-guide.md
Due: none

Move KubernetesConfiguration to main
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/build-module.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/utils.ps1
  src/KubernetesConfiguration/KubernetesConfiguration/Az.KubernetesConfiguration.psd1
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Remove-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Remove-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Remove-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesExtension.md
Due: none

Update documentation/migration-guides/Az.12.0.0.0-migration-guide.md
  documentation/migration-guides/Az.12.0.0.0-migration-guide.md
Due: none

Update security-tools.yml for Azure Pipelines
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update changelog
  src/KubernetesConfiguration/KubernetesConfiguration/ChangeLog.md
Due: none

Removing changes from the file CommandMappings.json
  src/Accounts/Accounts/Utilities/CommandMappings.json
Due: none

add closing brace back to fix the error in code structure
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
Due: none

Update security-tools.yml
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml
