Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

revision
  documentation/Debugging-StaticAnalysis-Errors.md
  tools/StaticAnalysis/ExampleAnalyzer/utils.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update utils
  src/Network/Network/NetworkSecurityPerimeter.Autorest/examples/README.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/env.json
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/localEnv.json
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/templateVariables.json
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/utils.ps1
Due: none

revise rule name
  tools/StaticAnalysis/ExampleAnalyzer/utils.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bug fix - Set-AzFirewallPolicy command removes existing resource tags (#19106)
  src/Network/Network/AzureFirewallPolicy/SetAzureFirewallPolicyCommand.cs
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
Due: none

Changes for community gallery
  src/Compute/Compute/Compute.csproj
  src/Compute/Compute/Generated/ComputeAutomationBaseCmdlet.cs
  src/Compute/Compute/Generated/Gallery/GalleryCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/Gallery/GalleryGetMethod.cs
  src/Compute/Compute/Generated/GalleryImage/GalleryImageGetMethod.cs
  src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionGetMethod.cs
  src/Compute/Compute/Generated/Models/PSCommunityGallery.cs
  src/Compute/Compute/Generated/Models/PSCommunityGalleryImage.cs
  src/Compute/Compute/Generated/Models/PSCommunityGalleryImageVersion.cs
  src/Compute/Compute/help/Get-AzGallery.md
  src/Compute/Compute/help/Get-AzGalleryApplication.md
  src/Compute/Compute/help/Get-AzGalleryApplicationVersion.md
  src/Compute/Compute/help/Get-AzGalleryImageDefinition.md
  src/Compute/Compute/help/Get-AzGalleryImageVersion.md
  src/Compute/Compute/help/New-AzGallery.md
  src/Compute/Compute/help/New-AzGalleryImageVersion.md
  src/Compute/Compute/help/Update-AzGallery.md
  src/Compute/Compute/help/Update-AzGalleryImageVersion.md
Due: none

updated changelog
  src/Compute/Compute/ChangeLog.md
Due: none

help change
  src/Compute/Compute/help/Get-AzGallery.md
Due: none

Update works woth asking parameters
  src/Network/Network/NetworkSecurityPerimeter.Autorest/Az.NetworkSecurityPerimeter.psd1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/custom/UpdateAzNetworkSecurityPerimeterAssociation.ps1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Az.NetworkSecurityPerimeter.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeterAssociation.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/examples/README.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/examples/Update-AzNetworkSecurityPerimeterAssociation.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/Update-AzNetworkSecurityPerimeterAssociation.Tests.ps1
Due: none

filename update
  src/Network/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterAssociation.ps1
Due: none

Fixes OutputFiles for JobSchedule ManagerTasks
  src/Batch/Batch/ChangeLog.md
  src/Batch/Batch/Utils/Utils.cs
Due: none

remove validate not null for other parameters
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/ChangeLog.md
Due: none

impl
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/UpdateAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagement.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagementRegion.cs
Due: none

add output to help file
  src/ApiManagement/ApiManagement/help/Import-AzApiManagementApi.md
Due: none

changelog
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/documentation/upcoming-breaking-changes.md
Due: none

update Update-AzVm error message (#19076)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Changelog.md.
  src/SpringCloud/Changelog.md
Due: none

[API Management] Add parameter option "GraphQL" to ImportApi cmdlet (#19026)
  src/ApiManagement/ApiManagement.ServiceManagement/ApiManagementClient.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Commands/ImportAzureApiManagementApi.cs
  src/ApiManagement/ApiManagement.ServiceManagement/Models/PsApiManagementApiFormat.cs
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/help/Import-AzApiManagementApi.md
Due: none

rename references
  src/Monitor/Monitor/Az.Monitor.psd1
Due: none

add readme
  src/Monitor/DiagnosticSetting.Autorest/README.md
Due: none

[SpringCloud]Fixed example issues.
  src/SpringCloud/docs/Get-AzSpringCloudRegistry.md
  src/SpringCloud/docs/New-AzSpringCloudAppDeployment.md
  src/SpringCloud/docs/Remove-AzSpringCloudBuildServiceBuilder.md
  src/SpringCloud/docs/Remove-AzSpringCloudBuildpackBinding.md
  src/SpringCloud/docs/Remove-AzSpringCloudConfigurationService.md
  src/SpringCloud/docs/Start-AzSpringCloudAppDeploymentJfr.md
  src/SpringCloud/docs/Update-AzSpringCloudApp.md
  src/SpringCloud/examples/Get-AzSpringCloudRegistry.md
  src/SpringCloud/examples/New-AzSpringCloudAppDeployment.md
  src/SpringCloud/examples/Remove-AzSpringCloudBuildServiceBuilder.md
  src/SpringCloud/examples/Remove-AzSpringCloudBuildpackBinding.md
  src/SpringCloud/examples/Remove-AzSpringCloudConfigurationService.md
  src/SpringCloud/examples/Start-AzSpringCloudAppDeploymentJfr.md
  src/SpringCloud/examples/Update-AzSpringCloudApp.md
Due: none

[API Management] breaking change warning to make Sku property from Enum to String (#19126)
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/UpdateAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagement.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagementRegion.cs
  src/ApiManagement/documentation/upcoming-breaking-changes.md
Due: none

Update daily-build.yml
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml

try multiple commands
  src/Network/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterAssociation.ps1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/custom/UpdateAzNetworkSecurityPerimeterAssociation.ps1
Due: none

Improve performance of TestFx
  src/ApiManagement/ApiManagement.ServiceManagement.Test/ScenarioTests/ApiManagementHelper.cs
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/OperationalInsightsTestRunner.cs
  tools/TestFx/ConnectionStringKeys.cs
  tools/TestFx/EnvironmentSetupHelper.cs
  tools/TestFx/Mocks/MockClientFactory.cs
  tools/TestFx/Mocks/MockContext.cs
  tools/TestFx/TestEnvironment.cs
  tools/TestFx/TestEnvironmentFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update examples. Format Agent output
  src/StorageMover/README.md
  src/StorageMover/examples/Get-AzStorageMover.md
  src/StorageMover/examples/Get-AzStorageMoverAgent.md
  src/StorageMover/examples/Get-AzStorageMoverEndpoint.md
  src/StorageMover/examples/Get-AzStorageMoverJobDefinition.md
  src/StorageMover/examples/Get-AzStorageMoverProject.md
  src/StorageMover/examples/Start-AzStorageMoverJobDefinition.md
  src/StorageMover/examples/Stop-AzStorageMoverJobDefinition.md
  src/StorageMover/examples/Update-AzStorageMover.md
  src/StorageMover/examples/Update-AzStorageMoverAgent.md
  src/StorageMover/examples/Update-AzStorageMoverJobDefinition.md
  src/StorageMover/examples/Update-AzStorageMoverNfsEndpoint.md
  src/StorageMover/examples/Update-AzStorageMoverProject.md
Due: none

[SpringCloud] Fixed example issues (#19129)
  src/SpringCloud/docs/Get-AzSpringCloudRegistry.md
  src/SpringCloud/docs/New-AzSpringCloudAppDeployment.md
  src/SpringCloud/docs/Remove-AzSpringCloudBuildServiceBuilder.md
  src/SpringCloud/docs/Remove-AzSpringCloudBuildpackBinding.md
  src/SpringCloud/docs/Remove-AzSpringCloudConfigurationService.md
  src/SpringCloud/docs/Start-AzSpringCloudAppDeploymentJfr.md
  src/SpringCloud/docs/Update-AzSpringCloudApp.md
  src/SpringCloud/examples/Get-AzSpringCloudRegistry.md
  src/SpringCloud/examples/New-AzSpringCloudAppDeployment.md
  src/SpringCloud/examples/Remove-AzSpringCloudBuildServiceBuilder.md
  src/SpringCloud/examples/Remove-AzSpringCloudBuildpackBinding.md
  src/SpringCloud/examples/Remove-AzSpringCloudConfigurationService.md
  src/SpringCloud/examples/Start-AzSpringCloudAppDeploymentJfr.md
  src/SpringCloud/examples/Update-AzSpringCloudApp.md
Due: none

more progress
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery/Common/PSAsrProtectionContainerClient.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery/RecoveryPlan/NewAzureRmRecoveryServicesAsrRecoveryPlan.cs
Due: none

Update works
  src/Network/Network/NetworkSecurityPerimeter.Autorest/Az.NetworkSecurityPerimeter.psd1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/custom/Update-AzNetworkSecurityPerimeterAccessRule.ps1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Az.NetworkSecurityPerimeter.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeter.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterAssociation.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Get-AzNetworkSecurityPerimeterProfile.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeter.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterAssociation.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/New-AzNetworkSecurityPerimeterProfile.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Remove-AzNetworkSecurityPerimeter.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Remove-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Remove-AzNetworkSecurityPerimeterAssociation.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Remove-AzNetworkSecurityPerimeterProfile.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/docs/Update-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/examples/Update-AzNetworkSecurityPerimeterAccessRule.md
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/Update-AzNetworkSecurityPerimeterAccessRule.Tests.ps1
  src/Network/Network/NetworkSecurityPerimeter.Autorest/test/loadEnv.ps1
Due: none

progress
  src/RecoveryServices/RecoveryServices/help/New-AzRecoveryServicesAsrRecoveryPlan.md
  src/RecoveryServices/RecoveryServices/help/New-AzRecoveryServicesAsrReplicationProtectedItem.md
Due: none

Update SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SpringCloud/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Changelog.md
  src/SpringCloud/Changelog.md
Due: none

Update daily-build.yml (#19130)
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml

remove unrelated files
  src/Monitor/DiagnosticSetting.Autorest/test/Get-AzActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Get-AzDiagnosticSettingsCategory.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Get-AzMonitorActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzActionGroupObject.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzActivityLogAlertCondition.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzAlertRuleAnyOfOrLeafConditionObject.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzAlertRuleLeafConditionObject.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-AzMonitorActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/README.md
  src/Monitor/DiagnosticSetting.Autorest/test/Remove-AzActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Remove-AzMonitorActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Set-AzMonitorActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Update-AzActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Update-AzMonitorActivityLogAlert.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/loadEnv.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/utils.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
