Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

Adding new endpoint AzureArcVM in ConnectionMonitor (#19626)
  src/Network/Network/ChangeLog.md
  src/Network/Network/NetworkWatcher/ConnectionMonitor/ConnectionMonitorBaseCmdlet.cs
  src/Network/Network/NetworkWatcher/ConnectionMonitor/NewAzureNetworkWatcherConnectionMonitorEndPointObjectCommand.cs
  src/Network/Network/help/New-AzNetworkWatcherConnectionMonitorEndpointObject.md
Due: none

[MSGraph] add detail for -filter (#19615)
  src/Resources/MSGraph.Autorest/custom/Get-AzADAppFederatedIdentityCredential.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADUser.ps1
  src/Resources/MSGraph.Autorest/docs/Add-AzADGroupMember.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADAppCredential.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADAppFederatedCredential.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADGroup.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADGroupMember.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADSpCredential.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADUser.md
  src/Resources/MSGraph.Autorest/docs/New-AzADAppCredential.md
  src/Resources/MSGraph.Autorest/docs/New-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/New-AzADGroup.md
  src/Resources/MSGraph.Autorest/docs/New-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/docs/New-AzADSpCredential.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADAppCredential.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADGroup.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADGroupMember.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADSpCredential.md
  src/Resources/MSGraph.Autorest/docs/Remove-AzADUser.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADGroup.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/docs/Update-AzADUser.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADGroup.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADUser.md
Due: none

fix
  tools/StaticAnalysis/Exceptions/Az.ApiManagement/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzRouteServer.md
  src/Network/Network/help/New-AzRouteServer.md
Due: none

update the static analysis issues
  tools/StaticAnalysis/Exceptions/Az.ServiceBus/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ServiceBus/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  tools/StaticAnalysis/Exceptions/Az.ApiManagement/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add new IsParent parameter to New-AzCustomIpPrefix cmdlet (#19577)
  src/Network/Network/BYOIP/CustomIpPrefix/NewAzureCustomIpPrefixCommand.cs
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/BYOIP/PSCustomIpPrefix.cs
  src/Network/Network/help/New-AzCustomIpPrefix.md
Due: none

Update code-gen.yml for Azure Pipelines
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update code-gen.yml
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

Move Resources to main
  src/Resources/Authorization.Autorest/docs/Az.Authorization.md
  src/Resources/Authorization.Autorest/generate-info.json
  src/Resources/MSGraph.Autorest/custom/Get-AzADAppFederatedIdentityCredential.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/custom/Get-AzADUser.ps1
  src/Resources/MSGraph.Autorest/docs/Get-AzADAppFederatedCredential.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADGroup.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADGroupMember.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADUser.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADGroup.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADServicePrincipal.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADUser.md
  src/Resources/MSGraph.Autorest/exports/Get-AzADAppFederatedCredential.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADGroupMember.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/exports/Get-AzADUser.ps1
  src/Resources/MSGraph.Autorest/exports/ProxyCmdletDefinitions.ps1
  src/Resources/MSGraph.Autorest/generate-info.json
  src/Resources/MSGraph.Autorest/internal/Get-AzADApplication.ps1
  src/Resources/MSGraph.Autorest/internal/Get-AzADGroup.ps1
  src/Resources/MSGraph.Autorest/internal/Get-AzADServicePrincipal.ps1
  src/Resources/MSGraph.Autorest/internal/Get-AzADUser.ps1
  src/Resources/MSGraph.Autorest/internal/ProxyCmdletDefinitions.ps1
  src/Resources/Resources/Az.Resources.psd1
  src/Resources/Resources/help/Get-AzADAppFederatedCredential.md
  src/Resources/Resources/help/Get-AzADApplication.md
  src/Resources/Resources/help/Get-AzADGroup.md
  src/Resources/Resources/help/Get-AzADGroupMember.md
  src/Resources/Resources/help/Get-AzADServicePrincipal.md
  src/Resources/Resources/help/Get-AzADUser.md
Due: none

fix typo
  src/Storage/RegressionTests/srp.ps1
Due: none

Update code-gen.yml for Azure Pipelines (#19637)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

update doc
  tools/StaticAnalysis/Exceptions/Az.ServiceBus/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revert
  src/ApiManagement/ApiManagement.Test/ScenarioTests/ApiManagementTests.ps1
Due: none

update heading
  src/Compute/Compute/help/New-AzVM.md
Due: none

InAccount Restore feature powershell support
  src/CosmosDB/CosmosDB.Test/CosmosDB.Test.csproj
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsSharedResourcesCmdlets.json
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/CosmosDB.csproj
  src/CosmosDB/CosmosDB/CosmosDBAccount/RestoreAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBCollection.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBDatabase.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlDatabase.cs
  tools/LocalFeed/Microsoft.Azure.Management.CosmosDB.3.8.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.Management.CosmosDB.3.8.0-preview.symbols.nupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADApplication.md
Due: none

Feature/cplat new az vm improvements (#19644)
  src/Compute/Compute/help/New-AzVM.md
Due: none

Update Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/docs/Get-AzADApplication.md
Due: none

update session records and help files
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsSharedRUResourcesCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.RestoreTests/TestUpdateCosmosDBAccountBackupPolicyCmdLet.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsSharedResourcesCmdlets.json
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBCollection.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBDatabase.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlDatabase.cs
  src/CosmosDB/CosmosDB/help/Az.CosmosDB.md
  src/CosmosDB/CosmosDB/help/Restore-AzCosmosDBMongoDBCollection.md
  src/CosmosDB/CosmosDB/help/Restore-AzCosmosDBMongoDBDatabase.md
  src/CosmosDB/CosmosDB/help/Restore-AzCosmosDBSqlContainer.md
  src/CosmosDB/CosmosDB/help/Restore-AzCosmosDBSqlDatabase.md
Due: none

Update the pipeline of sync-tools-folder to generation branch
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update code-gen.yml (#19638)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

address comments for validation and in changelog.md
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.RestoreTests/TestUpdateCosmosDBAccountBackupPolicyToContinuous30DaysCmdLets.json
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBCollection.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBDatabase.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlDatabase.cs
Due: none

Update Get-AzADApplication.md (#19645)
  src/Resources/MSGraph.Autorest/docs/Get-AzADApplication.md
  src/Resources/MSGraph.Autorest/examples/Get-AzADApplication.md
Due: none

Static Analysis fix
  src/Migrate/test/New-AzMigrateServerReplication.Recording.json
Due: none

add test case
  src/Advisor/.gitattributes
  src/Advisor/.gitignore
  src/Advisor/custom/Disable-AzAdvisorRecommendation.ps1
  src/Advisor/custom/Enable-AzAdvisorRecommendation.ps1
  src/Advisor/docs/Az.AdvisorCmdlet.Design.md
  src/Advisor/docs/Disable-AzAdvisorRecommendation.md
  src/Advisor/docs/Enable-AzAdvisorRecommendation.md
  src/Advisor/test/Disable-AzAdvisorRecommendation.Recording.json
  src/Advisor/test/Disable-AzAdvisorRecommendation.Tests.ps1
  src/Advisor/test/Enable-AzAdvisorRecommendation.Recording.json
  src/Advisor/test/Enable-AzAdvisorRecommendation.Tests.ps1
  src/Advisor/test/Get-AzAdvisorConfiguration.Recording.json
  src/Advisor/test/Get-AzAdvisorRecommendation.Recording.json
  src/Advisor/test/Set-AzAdvisorConfiguration.Recording.json
  src/Advisor/test/env.json
Due: none

[API Management] breaking change -make Sku property from Enum to String (#19636)
  src/ApiManagement/ApiManagement/ApiManagementClient.cs
  src/ApiManagement/ApiManagement/ChangeLog.md
  src/ApiManagement/ApiManagement/Commands/AddAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagement.cs
  src/ApiManagement/ApiManagement/Commands/NewAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Commands/UpdateAzureApiManagementRegion.cs
  src/ApiManagement/ApiManagement/Helpers/Mappers.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagement.cs
  src/ApiManagement/ApiManagement/Models/PsApiManagementRegion.cs
  src/ApiManagement/ApiManagement/help/New-AzApiManagement.md
  src/ApiManagement/ApiManagement/help/Update-AzApiManagementRegion.md
  tools/StaticAnalysis/Exceptions/Az.ApiManagement/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump version of Az.RecoveryServices (#19641)
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.Backup.Logger/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.Backup.ServiceClientAdapter/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.Backup/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery/Properties/AssemblyInfo.cs
  src/RecoveryServices/RecoveryServices/Az.RecoveryServices.psd1
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.RecoveryServices.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update the sleep logic
  src/EventHub/EventHub.Autorest/test/Approve-AzEventHubPrivateEndpointConnection.Tests.ps1
  src/EventHub/EventHub.Autorest/test/New-AzEventHubGeoDRConfiguration.Tests.ps1
  src/EventHub/EventHub.Autorest/test/Set-AzEventHubGeoDRConfigurationBreakPair.Tests.ps1
  src/EventHub/EventHub.Autorest/test/Set-AzEventHubGeoDRConfigurationFailOver.Tests.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
