Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Fix exmaple title typo by comments
  src/Storage/Storage.Management/help/New-AzStorageContext.md
Due: none

Bug : classic fw private ranges reverts to default when doing get & set (#20855)
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/AzureFirewall/PSAzureFirewall.cs
Due: none

OOB release for Az.Automation
  src/Automation/Automation.Sdk/Properties/AssemblyInfo.cs
  src/Automation/Automation/Az.Automation.psd1
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Automation.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test
  .azure-pipelines/sync-aliases.yml
  tools/Github/CreatePR.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

test
  .azure-pipelines/sync-aliases.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

finish test
  .azure-pipelines/sync-aliases.yml
  tools/Github/CreatePR.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Connect-AzAccount Use Host instead of Warning
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
Due: none

Fix ThreadJob installation error of smoke test
  tools/Test/SmokeTest/InstallAzModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add live test for Az.SpringCloud (#20863)
  src/SpringCloud/LiveTests/TestLiveScenarios.ps1
Due: none

Added Snat parameter to firewall policy cmdlets
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallSnat.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/AzureFirewallPolicy/NewAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SetAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/Snat/NewAzureFirewallPolicySNATCommand.cs
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
Due: none

Generated help for new cmdlet and updated for the existing ones
  src/Network/Network/AzureFirewallPolicy/NewAzureFirewallPolicyCommand.cs
  src/Network/Network/AzureFirewallPolicy/SetAzureFirewallPolicyCommand.cs
  src/Network/Network/help/New-AzFirewallPolicy.md
  src/Network/Network/help/New-AzFirewallPolicySnat.md
  src/Network/Network/help/Set-AzFirewallPolicy.md
Due: none

fixed pipeline analyze issue
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.ps1
  src/Network/Network/AzureFirewallPolicy/Snat/NewAzureFirewallPolicySNATCommand.cs
  src/Network/Network/help/New-AzFirewallPolicySnat.md
Due: none

test and weirdness
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

test stuff
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

updated changelog file based on comments
  src/ServiceFabric/ServiceFabric/ChangeLog.md
Due: none

trying azcopy
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.ps1
Due: none

Removed SupportsShouldProcess
  src/Network/Network/AzureFirewallPolicy/Snat/NewAzureFirewallPolicySNATCommand.cs
Due: none

[DataFactory]Updated ADF .Net SDK version to 9.1.0
  src/DataFactory/DataFactoryV2.Test/DataFactoryV2.Test.csproj
  src/DataFactory/DataFactoryV2/Changelog.md
  src/DataFactory/DataFactoryV2/DataFactoryV2.csproj
Due: none

added support for windows 2022 server for service fabric cluster (#20825)
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/NewAzureRmServiceFabricCluster.cs
  src/ServiceFabric/ServiceFabric/Models/OperatingSystem.cs
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricCluster.md
Due: none

test restapi
  .azure-pipelines/sync-aliases.yml
  tools/Github/CreatePR.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

te
  tools/Github/CreatePR.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix merge conflicts
  src/Storage/Storage.Management/Models/PSStorageAccount.cs
Due: none

Test change
  src/Storage/Storage.Management/ChangeLog.md
Due: none

[CloudService] updated swager files ref.
  src/CloudService/README.md
  src/CloudService/custom/README.md
  src/CloudService/docs/README.md
  src/CloudService/examples/README.md
  src/CloudService/resources/README.md
  src/CloudService/test/README.md
Due: none

copy Microsoft.ApplicationInsights.dll manually
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

wip
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

OOB release for Az.Automation (#20874)
  src/Automation/Automation.Sdk/Properties/AssemblyInfo.cs
  src/Automation/Automation/Az.Automation.psd1
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Automation.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

dir
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Automation.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
