Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Add back of Az.CodeSigning (#24222)
  src/CodeSigning/CodeSigning.Test/CodeSigning.Test.csproj
  src/CodeSigning/CodeSigning.Test/Resource.resx
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTestRunner.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.ps1
  src/CodeSigning/CodeSigning.Test/ScenarioTests/Common.ps1
  src/CodeSigning/CodeSigning.sln
  src/CodeSigning/CodeSigning/Az.CodeSigning.psd1
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/CodeSigning/CodeSigning/CodeSigning.csproj
  src/CodeSigning/CodeSigning/CodeSigning.format.ps1xml
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningCustomerEku.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningRootCert.cs
  src/CodeSigning/CodeSigning/Commands/InvokeCIPolicySigning.cs
  src/CodeSigning/CodeSigning/Helpers/CmsSigner.cs
  src/CodeSigning/CodeSigning/Helpers/NativeMethod.cs
  src/CodeSigning/CodeSigning/Helpers/TerminatingErrorException.cs
  src/CodeSigning/CodeSigning/Helpers/TimeStampingHelper.cs
  src/CodeSigning/CodeSigning/Helpers/XmlUtil.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningCmdletBase.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceCredential.cs
  src/CodeSigning/CodeSigning/Models/ICodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/Metadata.cs
  src/CodeSigning/CodeSigning/Models/PSSigningCertificate.cs
  src/CodeSigning/CodeSigning/Models/UserSuppliedCredential.cs
  src/CodeSigning/CodeSigning/Properties/AssemblyInfo.cs
  src/CodeSigning/CodeSigning/Properties/Resources.Designer.cs
  src/CodeSigning/CodeSigning/Properties/Resources.resx
  src/CodeSigning/CodeSigning/help/Az.CodeSigning.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningCustomerEku.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningRootCert.md
  src/CodeSigning/CodeSigning/help/Invoke-AzCodeSigningCIPolicySigning.md
  tools/AzPreview/AzPreview.psd1
  tools/CreateMappings_rules.json
  tools/StaticAnalysis/Exceptions/Az.CodeSigning/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-sign.yml
  .github/policies/resourceManagement.yml
  build.proj
  tools/AzPreview/AzPreview.psd1
  tools/CreateMappings_rules.json
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Add Change Log for Az.DesktopVirtualization-preview and Bump Up Version (#24218)
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Use fixed autorest.powershell version to generate
  src/StackHCIVM/StackHCIVM.Autorest/README.md
  src/StackHCIVM/StackHCIVM.Autorest/examples/README.md
Due: none

update warning messages
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/StorageAccount/SetAzureStorageAccount.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/Queue/Cmdlet/GetAzureStorageQueue.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueue.cs
Due: none

Update Change Log
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch (#24228)
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-sign.yml
  .github/policies/resourceManagement.yml
  build.proj
  tools/AzPreview/AzPreview.psd1
  tools/CreateMappings_rules.json
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Change Permissions to Permission
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.ps1
  src/RedisCache/RedisCache/Commands/NewAzureRedisCacheAccessPolicy.cs
  src/RedisCache/RedisCache/Models/PSRedisAccessPolicy.cs
  src/RedisCache/RedisCache/RedisCache.format.ps1xml
  src/RedisCache/RedisCache/help/New-AzRedisCacheAccessPolicy.md
Due: none

get conflict file changes from grhuang/azsupport-autorest
  src/Support/Support.Autorest/Az.Support.psd1
  src/Support/Support.Autorest/test/env.json
  src/Support/Support.Autorest/test/localEnv.json
  src/Support/Support.Autorest/test/utils.ps1
Due: none

resolved merge conflict
  src/Support/Support.Autorest/Az.Support.psd1
  src/Support/Support.Autorest/test/env.json
  src/Support/Support.Autorest/test/localEnv.json
  src/Support/Support.Autorest/test/utils.ps1
Due: none

removed update communication sub and no sub scenarios
  src/Support/Support.Autorest/docs/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/docs/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/test/Update-AzSupportCommunication.Tests.ps1
  src/Support/Support.Autorest/test/Update-AzSupportCommunicationsNoSubscription.Tests.ps1
Due: none

Revert "removed update communication sub and no sub scenarios"
  src/Support/Support.Autorest/docs/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/docs/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/test/Update-AzSupportCommunication.Tests.ps1
  src/Support/Support.Autorest/test/Update-AzSupportCommunicationsNoSubscription.Tests.ps1
Due: none

removed update communication sub and no sub scenarios , updated readme
  src/Support/Support.Autorest/README.md
  src/Support/Support.Autorest/docs/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/docs/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunication.md
  src/Support/Support.Autorest/examples/Update-AzSupportCommunicationsNoSubscription.md
  src/Support/Support.Autorest/test/Update-AzSupportCommunication.Tests.ps1
  src/Support/Support.Autorest/test/Update-AzSupportCommunicationsNoSubscription.Tests.ps1
Due: none

Remove depricated offering
  src/Security/Security.Autorest/docs/Get-AzSecurityConnector.md
  src/Security/Security.Autorest/examples/Get-AzSecurityConnector.md
  src/Security/Security.Autorest/test/Get-AzSecurityConnector.Recording.json
  src/Security/Security.Autorest/test/Update-AzSecurityConnector.Recording.json
  src/Security/Security.Autorest/test/env.json
Due: none

Fixed bug not downloading params from TemplatesParameterUri correctly.
  src/Resources/ResourceManager/Utilities/TemplateUtility.cs
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentTests/TestTestDeploymentFromBicepFile.json
  src/Resources/Resources/ChangeLog.md
Due: none

Upload new localfeed and test coverage pipeline to test all scenario tests
  .azure-pipelines/test-coverage.yml
  src/Accounts/Authentication/TestCoverage.cs
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.snupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Remove command for dowmload url (#24220)
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/Az.FirmwareAnalysis.psd1
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/README.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/custom/README.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/docs/Az.FirmwareAnalysis.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/docs/New-AzFirmwareAnalysisFirmwareFilesystemDownloadUrl.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/docs/README.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/examples/New-AzFirmwareAnalysisFirmwareFilesystemDownloadUrl.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/resources/README.md
  src/FirmwareAnalysis/FirmwareAnalysis.Autorest/test/README.md
Due: none

Fix static analysis errors
  src/Security/Security.Autorest/docs/Get-AzSecurityApiCollection.md
  src/Security/Security.Autorest/docs/Get-AzSecurityConnectorGitHubRepo.md
  src/Security/Security.Autorest/docs/New-AzSecurityAwsEnvironmentObject.md
  src/Security/Security.Autorest/docs/New-AzSecurityConnector.md
  src/Security/Security.Autorest/examples/Get-AzSecurityApiCollection.md
  src/Security/Security.Autorest/examples/Get-AzSecurityConnectorGitHubRepo.md
  src/Security/Security.Autorest/examples/New-AzSecurityAwsEnvironmentObject.md
  src/Security/Security.Autorest/examples/New-AzSecurityConnector.md
  src/Security/Security.Autorest/examples/Update-AzSecurityConnectorDevOpsConfiguration.md
Due: none

Fix one more static analysis issue
  src/Security/Security.Autorest/docs/Invoke-AzSecurityApiCollectionApimOffboard.md
  src/Security/Security.Autorest/examples/Invoke-AzSecurityApiCollectionApimOffboard.md
Due: none

Move Aks to main
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks/Az.Aks.psd1
Due: none

Update live test to include sanitizer
  .azure-pipelines/live-test.yml
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.snupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

test commit id
  .azure-pipelines/archive-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test commit id (#24236)
  .azure-pipelines/archive-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test CI
  src/Databricks/Databricks.Autorest/README.md
Due: none

Eng/archive test (#24237)
  src/Databricks/Databricks.Autorest/README.md
Due: none

add trigger
  .azure-pipelines/archive-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Eng/archive test (#24238)
  .azure-pipelines/archive-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Upload encoding of the Az.FirmwareAnalysis.psd1
  src/FirmwareAnalysis/FirmwareAnalysis/Az.FirmwareAnalysis.psd1
Due: none

Update aad cmdlets
  src/RedisCache/RedisCache/Commands/GetAzureRedisCacheAccessPolicy.cs
  src/RedisCache/RedisCache/Commands/GetAzureRedisCacheAccessPolicyAssignment.cs
  src/RedisCache/RedisCache/Commands/NewAzureRedisCacheAccessPolicy.cs
  src/RedisCache/RedisCache/Commands/NewAzureRedisCacheAccessPolicyAssignment.cs
  src/RedisCache/RedisCache/Commands/RemoveAzureRedisCacheAccessPolicy.cs
  src/RedisCache/RedisCache/Commands/RemoveAzureRedisCacheAccessPolicyAssignment.cs
  src/RedisCache/RedisCache/Models/Utility.cs
  src/RedisCache/RedisCache/Properties/Resources.Designer.cs
  src/RedisCache/RedisCache/Properties/Resources.resx
Due: none

Update flush cmdlet
  src/RedisCache/RedisCache/Commands/ClearAzureRedisCache.cs
Due: none

Update help text
  src/RedisCache/RedisCache/help/Clear-AzRedisCache.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheAccessPolicy.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheAccessPolicyAssignment.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheAccessPolicy.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheAccessPolicyAssignment.md
  src/RedisCache/RedisCache/help/Remove-AzRedisCacheAccessPolicy.md
  src/RedisCache/RedisCache/help/Remove-AzRedisCacheAccessPolicyAssignment.md
Due: none
