Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

clean
  src/Compute/Compute/help/New-AzVMConfig.md
Due: none

changelog
  src/Compute/Compute/ChangeLog.md
Due: none

Specify destination parent directories must already exist.
  src/Storage/Storage.Management/help/Move-AzDataLakeGen2Item.md
Due: none

update utils for test
  src/DevCenter/DevCenter.AutoRest/test/utils.ps1
Due: none

fix style
  src/DevCenter/DevCenterData.AutoRest/custom/Utils.ps1
Due: none

Revert "suppress SignatureIssues and BreakingChangeIssues"
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

create subscription module
  src/Subscription/.gitattributes
  src/Subscription/.gitignore
  src/Subscription/Az.Subscription.psd1
  src/Subscription/README.md
  src/Subscription/custom/README.md
  src/Subscription/docs/Az.Subscription.md
  src/Subscription/docs/Disable-AzSubscription.md
  src/Subscription/docs/Enable-AzSubscription.md
  src/Subscription/docs/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/docs/Get-AzSubscriptionAlias.md
  src/Subscription/docs/Get-AzSubscriptionPolicy.md
  src/Subscription/docs/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/docs/New-AzSubscriptionAlias.md
  src/Subscription/docs/README.md
  src/Subscription/docs/Remove-AzSubscriptionAlias.md
  src/Subscription/docs/Rename-AzSubscription.md
  src/Subscription/docs/Update-AzSubscriptionPolicy.md
  src/Subscription/examples/Disable-AzSubscription.md
  src/Subscription/examples/Enable-AzSubscription.md
  src/Subscription/examples/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/examples/Get-AzSubscriptionAlias.md
  src/Subscription/examples/Get-AzSubscriptionPolicy.md
  src/Subscription/examples/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/examples/New-AzSubscriptionAlias.md
  src/Subscription/examples/Remove-AzSubscriptionAlias.md
  src/Subscription/examples/Rename-AzSubscription.md
  src/Subscription/examples/Update-AzSubscriptionPolicy.md
  src/Subscription/how-to.md
  src/Subscription/license.txt
  src/Subscription/resources/README.md
  src/Subscription/test/AzSubscription.Recording.json
  src/Subscription/test/AzSubscription.Tests.ps1
  src/Subscription/test/README.md
  src/Subscription/test/env.json
  src/Subscription/test/loadEnv.ps1
  src/Subscription/test/utils.ps1
  src/Subscription/utils/Unprotect-SecureString.ps1
Due: none

update test case
  src/Subscription/test/AzSubscription.Tests.ps1
Due: none

Add test
  src/Sql/Sql.Test/ScenarioTests/FailoverGroupTests.cs
  src/Sql/Sql.Test/ScenarioTests/FailoverGroupTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.FailoverGroupTests/TestSwitchFailoverGroupTryPlannedBeforeForcedFailover.json
  src/Sql/Sql/Failover Group/Cmdlet/Switch-AzureSqlDatabaseFailoverGroup.cs
Due: none

update examples
  src/MobileNetwork/docs/Deploy-AzMobileNetworkReinstallPacketCoreControlPlane.md
  src/MobileNetwork/docs/Deploy-AzMobileNetworkRollbackPacketCoreControlPlane.md
  src/MobileNetwork/docs/Trace-AzMobileNetworkCollectPacketCoreControlPlaneDiagnosticPackage.md
  src/MobileNetwork/examples/Deploy-AzMobileNetworkReinstallPacketCoreControlPlane.md
  src/MobileNetwork/examples/Deploy-AzMobileNetworkRollbackPacketCoreControlPlane.md
  src/MobileNetwork/examples/Trace-AzMobileNetworkCollectPacketCoreControlPlaneDiagnosticPackage.md
Due: none

Remove parameter set
  src/Sql/Sql/Failover Group/Cmdlet/Switch-AzureSqlDatabaseFailoverGroup.cs
Due: none

Modify help file
  src/Sql/Sql/help/Switch-AzSqlDatabaseFailoverGroup.md
Due: none

Renamed Import-KustoDataFromCsv to Add-KustoData
  tools/TestFx/Live/SaveLiveTestResult.ps1
  tools/TestFx/Utilities/KustoUtility.psd1
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Renamed Import-KustoDataFromCsv for test coverage
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update src/SelfHelp/README.md
  src/SelfHelp/README.md
Due: none

[SelfHelp] Init support for AzSelfHelp cmdlets for Help Resource Provider (#21771)
  src/SelfHelp/.gitattributes
  src/SelfHelp/.gitignore
  src/SelfHelp/Az.SelfHelp.psd1
  src/SelfHelp/README.md
  src/SelfHelp/custom/README.md
  src/SelfHelp/docs/Az.SelfHelp.md
  src/SelfHelp/docs/Get-AzSelfHelpDiagnostic.md
  src/SelfHelp/docs/Get-AzSelfHelpDiscoverySolution.md
  src/SelfHelp/docs/New-AzSelfHelpDiagnostic.md
  src/SelfHelp/docs/README.md
  src/SelfHelp/docs/Test-AzSelfHelpDiagnosticNameAvailability.md
  src/SelfHelp/examples/Get-AzSelfHelpDiagnostic.md
  src/SelfHelp/examples/Get-AzSelfHelpDiscoverySolution.md
  src/SelfHelp/examples/New-AzSelfHelpDiagnostic.md
  src/SelfHelp/examples/Test-AzSelfHelpDiagnosticNameAvailability.md
  src/SelfHelp/how-to.md
  src/SelfHelp/license.txt
  src/SelfHelp/resources/README.md
  src/SelfHelp/test/Get-AzSelfHelpDiagnostic.Tests.ps1
  src/SelfHelp/test/Get-AzSelfHelpDiscoverySolution.Recording.json
  src/SelfHelp/test/Get-AzSelfHelpDiscoverySolution.Tests.ps1
  src/SelfHelp/test/New-AzSelfHelpDiagnostic.Tests.ps1
  src/SelfHelp/test/README.md
  src/SelfHelp/test/Test-AzSelfHelpDiagnosticNameAvailability.Recording.json
  src/SelfHelp/test/Test-AzSelfHelpDiagnosticNameAvailability.Tests.ps1
  src/SelfHelp/test/deployment-templates/storage-account/parameters.json
  src/SelfHelp/test/deployment-templates/storage-account/template.json
  src/SelfHelp/test/env.json
  src/SelfHelp/test/loadEnv.ps1
  src/SelfHelp/test/localEnv.json
  src/SelfHelp/test/utils.ps1
  src/SelfHelp/utils/Unprotect-SecureString.ps1
Due: none

Record test for minimalTlsVersion
  src/Sql/Sql.Test/ScenarioTests/ServerCrudTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerCrudTests/CreateandUpdateServerWithMinimalTlsVersion.json
Due: none

Specify missing destination parent folder are created. Specify -Force also gets through reading Tag errors.
  src/Storage/Storage.Management/help/Copy-AzStorageBlob.md
Due: none

Suppress breaking change errors
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix help examples
  src/Network/Network/help/Get-AzNetworkVirtualApplianceConnection.md
Due: none

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

adding urn validations for image
  src/StackHCI/StackHCIVm/custom/New-AzAzureStackHciImage.ps1
  src/StackHCI/StackHCIVm/custom/utilities/RegExValidations.ps1
Due: none

PS Commands and their respective markdowns updated.
  src/RedisCache/RedisCache/Commands/ExportAzureRedisCache.cs
  src/RedisCache/RedisCache/Commands/ImportAzureRedisCache.cs
  src/RedisCache/RedisCache/Models/RedisCacheClient.cs
  src/RedisCache/RedisCache/help/Export-AzRedisCache.md
  src/RedisCache/RedisCache/help/Get-AzRedisCache.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheFirewallRule.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheLink.md
  src/RedisCache/RedisCache/help/Import-AzRedisCache.md
  src/RedisCache/RedisCache/help/New-AzRedisCache.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheFirewallRule.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheKey.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheLink.md
  src/RedisCache/RedisCache/help/Set-AzRedisCache.md
Due: none

Remove whitespaces.
  src/RedisCache/RedisCache/help/Get-AzRedisCache.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheFirewallRule.md
  src/RedisCache/RedisCache/help/Get-AzRedisCacheLink.md
  src/RedisCache/RedisCache/help/New-AzRedisCache.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheFirewallRule.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheKey.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheLink.md
  src/RedisCache/RedisCache/help/Set-AzRedisCache.md
Due: none

Remove whitespaces diffs part 2
  src/RedisCache/RedisCache/help/New-AzRedisCache.md
  src/RedisCache/RedisCache/help/New-AzRedisCacheKey.md
  src/RedisCache/RedisCache/help/Set-AzRedisCache.md
Due: none

Implemented multi-threading for live test (#21646)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
  tools/TestFx/Live/InstallLiveTestAzModules.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
  tools/TestFx/Live/SaveLiveTestResult.ps1
  tools/TestFx/Live/SendLiveTestReport.ps1
  tools/TestFx/Utilities/KustoUtility.psd1
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/SyncDocsToMicrosoftDocsOrg.ps1
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
  tools/TestFx/Live/InstallLiveTestAzModules.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
  tools/TestFx/Live/SaveLiveTestResult.ps1
  tools/TestFx/Live/SendLiveTestReport.ps1
  tools/TestFx/Utilities/KustoUtility.psd1
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch (#21918)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/SyncDocsToMicrosoftDocsOrg.ps1
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
  tools/TestFx/Live/InstallLiveTestAzModules.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
  tools/TestFx/Live/SaveLiveTestResult.ps1
  tools/TestFx/Live/SendLiveTestReport.ps1
  tools/TestFx/Utilities/KustoUtility.psd1
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Remove pattern check
  src/Sql/Sql.Sdk/Generated/FailoverGroupsOperations.cs
Due: none

Help doc update
  src/Sql/Sql/help/New-AzSqlServer.md
  src/Sql/Sql/help/Set-AzSqlServer.md
Due: none

update README
  src/Sql/Sql.Sdk/README.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
