Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update ChangeLog.md
  src/FirmwareAnalysis/FirmwareAnalysis/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Security/Security/ChangeLog.md
Due: none

reverted breaking change by modifying default parameter set name
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Platform/Restore/Initialize-AzDataProtectionRestoreRequest.ps1
  src/DataProtection/DataProtection.Autorest/docs/Initialize-AzDataProtectionRestoreRequest.md
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Fleet/Fleet/ChangeLog.md
Due: none

Sync resourceManagement.yml (#24336)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch (#24481)
  tools/AzPreview/AzPreview.psd1
  tools/StaticAnalysis/Exceptions/Az.Cdn/UXMetadataIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.HdInsightOnAks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add change log for connected machine (#24496)
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
Due: none

Update ChangeLog.md
  src/DataProtection/DataProtection/ChangeLog.md
Due: none

Added changes for Byopip feature
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallTests/TestByopipAzureHubFirewall.json
  src/Network/Network/AzureFirewall/NewAzureFirewallCommand.cs
  src/Network/Network/Models/AzureFirewall/PSAzureFirewall.cs
Due: none

test error fix
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/TestGalleryVersionWithSourceImageVMId.json
Due: none

Update ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.KeyVault/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
Due: none

Update README.md
  src/KeyVault/KeyVault.Autorest/README.md
Due: none

Mitigate MI breaking changes (#24483)
  src/CustomLocation/CustomLocation.Autorest/README.md
  src/ElasticSan/ElasticSan.Autorest/README.md
  src/KeyVault/KeyVault.Autorest/README.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/README.md
  src/Storage/Storage.Autorest/README.md
  src/VMware/VMware.Autorest/README.md
Due: none

Update ChangeLog.md
  src/VMware/VMware/ChangeLog.md
Due: none

Update ChangeLog.md
  src/PaloAltoNetworks/PaloAltoNetworks/ChangeLog.md
Due: none

Update ChangeLog.md
  src/CustomLocation/CustomLocation/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch
  .github/policies/resourceManagement.yml
  tools/StaticAnalysis/Exceptions/Az.KeyVault/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Storage/UXMetadataIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

changelog
  src/Compute/Compute/ChangeLog.md
Due: none

Add preview message
  src/EdgeZones/EdgeZones.Autorest/README.md
Due: none

Update examples
  src/EdgeZones/EdgeZones.Autorest/examples/Get-AzEdgeZonesExtendedZone.md
  src/EdgeZones/EdgeZones.Autorest/examples/Register-AzEdgeZonesExtendedZone.md
  src/EdgeZones/EdgeZones.Autorest/examples/Unregister-AzEdgeZonesExtendedZone.md
Due: none

Tier Option
  src/Compute/Compute/Generated/Snapshot/Config/NewAzureRmSnapshotConfigCommand.cs
Due: none
