Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:

resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - tools
      - src/lib
      
variables:
  GenerationBranchName: generation
  AzureStackBranchName: Azs-tzl

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}
      AzureStack:
        BranchName: ${{ variables.AzureStackBranchName }}

  steps:
  - template: util/sync-tools-folder-template.yml
    parameters:
      BranchName: $(BranchName)

.azure-pipelines/util/sync-tools-folder.yml:

# Variable 'BaseBranch' was defined in the Variables tab
# Variable 'ServiceName' was defined in the Variables tab
# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
resources:
  repositories:
  - repository: self
    type: git
    ref: main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipeline
      - tools
      - src/lib

jobs:
- job: Job_1
  displayName: 'Sync to ${{ parameters.BranchName }}'
  timeoutInMinutes: 90
  pool:
    name: Hosted VS2017
  steps:
  - checkout: self
  - task: PowerShell@2
    displayName: Config git
    inputs:
      targetType: inline
      script: >-
        git config --global user.email "azurepowershell@ms.com"

        git config --global user.name "azurepowershell"

        git checkout ${{ parameters.BranchName }}
      pwsh: true
  - task: PowerShell@2
    displayName: Sync .azure-pipelines folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp .azure-pipelines .azure-pipelines-tmp -r

        rm .azure-pipelines -r

        mv .azure-pipelines-tmp .azure-pipelines

        git add .azure-pipelines
      pwsh: true
  - task: PowerShell@2
    displayName: Sync src/lib folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp src/lib src/lib-tmp -r

        rm src/lib -r

        mv src/lib-tmp src/lib

        git add src/lib
      pwsh: true
  - task: PowerShell@2
    displayName: Sync tools folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp tools tools-tmp -r

        rm tools -r

        mv tools-tmp tools

        git add tools

        git commit -m "Sync tools folder from main branch to ${{ parameters.BranchName }} branch"

        git remote set-url origin https://$env:GITHUB_TOKEN@github.com/Azure/azure-powershell.git

        git push origin syncToolsFolder --force
      pwsh: true
...

Updated Update-AzVM to update application profile (#16290)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
Due: none

[Compute] Generate VMRunCommand cmdlets (#16235)
  src/Compute/Compute.Autorest/Az.Compute.psd1
  src/Compute/Compute.Autorest/README.md
  src/Compute/Compute.Autorest/custom/README.md
  src/Compute/Compute.Autorest/docs/Az.Compute.md
  src/Compute/Compute.Autorest/docs/Get-AzVMRunCommand.md
  src/Compute/Compute.Autorest/docs/Get-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/docs/README.md
  src/Compute/Compute.Autorest/docs/Remove-AzVMRunCommand.md
  src/Compute/Compute.Autorest/docs/Remove-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/docs/Set-AzVMRunCommand.md
  src/Compute/Compute.Autorest/docs/Set-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Get-AzVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Get-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Remove-AzVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Remove-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Set-AzVMRunCommand.md
  src/Compute/Compute.Autorest/examples/Set-AzVmssVMRunCommand.md
  src/Compute/Compute.Autorest/test/Get-AzVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Get-AzVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/Get-AzVmssVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Get-AzVmssVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/README.md
  src/Compute/Compute.Autorest/test/Remove-AzVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Remove-AzVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/Remove-AzVmssVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Remove-AzVmssVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/Set-AzVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Set-AzVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/Set-AzVmssVMRunCommand.Recording.json
  src/Compute/Compute.Autorest/test/Set-AzVmssVMRunCommand.Tests.ps1
  src/Compute/Compute.Autorest/test/loadEnv.ps1
  src/Compute/Compute.Autorest/test/utils.ps1
Due: none

Update Az.Storage.md (#16114)
  src/Storage/Storage.Management/help/Az.Storage.md
Due: none

Add Get-Date note to New-AzStorageAccountSASToken's ExpiryTime (#16297)
  src/Storage/Storage.Management/help/New-AzStorageAccountSASToken.md
Due: none

Adding manual run commands
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute/Az.Compute.psd1
  src/Compute/Compute/Generated/ComputeAutomationBaseCmdlet.cs
  src/Compute/Compute/Manual/AddVmssRunCommand.cs
  src/Compute/Compute/Manual/PSVirtualMachineRunCommand.cs
  src/Compute/Compute/Manual/RemoveAzVmssRunComand.cs
Due: none

update
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Recording.json
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedClusterUserCredential.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/New-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Remove-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Update-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/env.json
  src/ConnectedKubernetes/test/utils.ps1
Due: none

Adding Test and Recording
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestAddAzVmssRunCommand.json
Due: none

update
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Tests.ps1
Due: none

small changes and changelog.md
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Manual/AddAzVmssRunCommand.cs
Due: none

adding help
  src/Compute/Compute/Manual/AddVmssRunCommand.cs
  src/Compute/Compute/help/Add-AzVmssRunCommand.md
  src/Compute/Compute/help/Remove-AzVmssRunCommand.md
Due: none

update
  src/ConnectedKubernetes/docs/Get-AzConnectedClusterUserCredential.md
  src/ConnectedKubernetes/examples/Get-AzConnectedClusterUserCredential.md
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Recording.json
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedClusterUserCredential.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/New-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Remove-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Update-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/env.json
Due: none

fixing help
  src/Compute/Compute/help/Add-AzVmssRunCommand.md
  src/Compute/Compute/help/Remove-AzVmssRunCommand.md
Due: none

test keyvault
  src/KeyVault/KeyVault/Commands/RBAC/NewAzureManagedHsmRoleAssignment.cs
  src/KeyVault/KeyVault/Models/KeyVaultManagementCmdletBase.cs
Due: none

change from parameters to parameter
  src/Compute/Compute/Manual/AddAzVmssRunCommand.cs
  src/Compute/Compute/help/Add-AzVmssRunCommand.md
Due: none

remove AllowProtectedAppendWrite as it's not GA
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management/Models/PSStorageAccount.cs
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccount.cs
  src/Storage/Storage.Management/StorageAccount/SetAzureStorageAccount.cs
  src/Storage/Storage.Management/help/New-AzStorageAccount.md
  src/Storage/Storage.Management/help/Set-AzStorageAccount.md
Due: none

fix some typo in help
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/Disable-AzStorageContainerDeleteRetentionPolicy.md
  src/Storage/Storage.Management/help/Enable-AzStorageContainerDeleteRetentionPolicy.md
Due: none

Generate help for Az.Tools.Installer
  .azure-pipelines/sign-tools.yml
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/GenerateHelp.ps1
  tools/Az.Tools.Installer/build.proj
  tools/Az.Tools.Installer/exports/Install-AzModule.ps1
  tools/Az.Tools.Installer/exports/Uninstall-AzModule.ps1
  tools/Az.Tools.Installer/exports/Update-AzModule.ps1
  tools/Az.Tools.Installer/help/Install-AzModule.md
  tools/Az.Tools.Installer/help/Uninstall-AzModule.md
  tools/Az.Tools.Installer/help/Update-AzModule.md
  tools/Az.Tools.Installer/test/Az.Tools.Installer-TestResults.xml
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Merge
  src/KubernetesConfiguration/readme.md
Due: none

manual updates
  src/Compute/Compute.Autorest/Az.Compute.csproj
  src/Compute/Compute.sln
  src/Compute/Compute/Az.Compute.psd1
  src/Compute/Compute/Compute.csproj
  src/Compute/Compute/help/Az.Compute.md
  src/Compute/Compute/help/Get-AzVMRunCommand.md
  src/Compute/Compute/help/Get-AzVmssVMRunCommand.md
  src/Compute/Compute/help/Remove-AzVMRunCommand.md
  src/Compute/Compute/help/Remove-AzVmssVMRunCommand.md
  src/Compute/Compute/help/Set-AzVMRunCommand.md
  src/Compute/Compute/help/Set-AzVmssVMRunCommand.md
Due: none

Fix pipeline issue
  .azure-pipelines/sign-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

update
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/test/AzConnectedKubernetes.Recording.json
  src/ConnectedKubernetes/test/env.json
  src/ConnectedKubernetes/test/utils.ps1
Due: none

update
  src/ConnectedKubernetes/test/utils.ps1
Due: none

Try to fix pipeline issue
  .azure-pipelines/sign-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

Try to fix pipeline issue of installplayps
  .azure-pipelines/sign-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

Fix pipeline of issue
  .azure-pipelines/sign-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update utils.ps1
  src/Compute/Compute.Autorest/test/utils.ps1
Due: none

Merge
  src/KubernetesConfiguration/readme.md
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix bug of Update-AzModule without Az.Account
  tools/Az.Tools.Installer/internal/Install-AzModuleInternal.ps1
  tools/Az.Tools.Installer/test/Update-AzModule.Tests.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzRedisCache.md
  src/RedisCache/RedisCache/help/New-AzRedisCache.md
Due: none
