Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Improve the Codes of Az.Accounts with Reference to Copilot (#27653)
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/CommonModule/EnvironmentExtensions.cs
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
Due: none

update examples
  src/Elastic/Elastic.Autorest/Properties/AssemblyInfo.cs
  src/Elastic/Elastic.Autorest/docs/Get-AzElasticOrganizationApiKey.md
  src/Elastic/Elastic.Autorest/examples/Get-AzElasticOrganizationApiKey.md
  src/Elastic/Elastic.Autorest/generate-info.json
  src/Elastic/Elastic.sln
  src/Elastic/Elastic/help/Get-AzElasticOrganizationApiKey.md
Due: none

Move the artifact path to the front of PSModulePath
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move the artifact path to the front of PSModulePath (#27655)
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update customize
  src/ImageBuilder/ImageBuilder.Autorest/Properties/AssemblyInfo.cs
  src/ImageBuilder/ImageBuilder.Autorest/custom/New-AzImageBuilderTemplate.ps1
  src/ImageBuilder/ImageBuilder.Autorest/custom/New-AzImageBuilderTemplateSourceObject/New-AzImageBuilderTemplateSourceObject_ManagedImageSource.ps1
  src/ImageBuilder/ImageBuilder.Autorest/custom/New-AzImageBuilderTemplateSourceObject/New-AzImageBuilderTemplateSourceObject_PlatformImageSource.ps1
  src/ImageBuilder/ImageBuilder.Autorest/custom/New-AzImageBuilderTemplateSourceObject/New-AzImageBuilderTemplateSourceObject_SharedImageVersionSource.ps1
  src/ImageBuilder/ImageBuilder.Autorest/docs/New-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder.Autorest/docs/New-AzImageBuilderTemplateSourceObject.md
  src/ImageBuilder/ImageBuilder.Autorest/examples/New-AzImageBuilderTemplateSourceObject.md
  src/ImageBuilder/ImageBuilder.Autorest/generate-info.json
  src/ImageBuilder/ImageBuilder.sln
  src/ImageBuilder/ImageBuilder/Az.ImageBuilder.psd1
  src/ImageBuilder/ImageBuilder/ChangeLog.md
  src/ImageBuilder/ImageBuilder/help/New-AzImageBuilderTemplate.md
  src/ImageBuilder/ImageBuilder/help/New-AzImageBuilderTemplateSourceObject.md
Due: none

test 11
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 12
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

re run test
  src/FrontDoor/FrontDoor.Test/ScenarioTests/WebApplicationFireWallPolicyTests.ps1
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestCustomBlockResponseBody.json
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestManagedRuleSetDefinitions.json
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestPolicyAction.json
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestPolicyCrudWithPiping.json
Due: none

Changed parameters `BaseSizeTiB` and `ExtendedCapacitySizeTiB` in cmdlet `New-AzElasticSan` to be optional.
  src/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  src/ElasticSan/ElasticSan.Autorest/README.md
  src/ElasticSan/ElasticSan.Autorest/custom/New-AzElasticSan.ps1
  src/ElasticSan/ElasticSan.Autorest/custom/autogen-model-cmdlets/New-AzElasticSanVirtualNetworkRuleObject.ps1
  src/ElasticSan/ElasticSan.Autorest/docs/Az.ElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.Autorest/resources/README.md
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSan.Recording.json
  src/ElasticSan/ElasticSan.Autorest/test/New-AzElasticSan.Tests.ps1
  src/ElasticSan/ElasticSan.sln
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/ChangeLog.md
  src/ElasticSan/ElasticSan/help/New-AzElasticSan.md
Due: none

Rename password to place holder
  src/Resources/Resources.Test/ScenarioTests/ResourceTests.ps1
Due: none

Add samples
  src/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  src/ElasticSan/ElasticSan.Autorest/docs/Az.ElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/docs/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/examples/New-AzElasticSan.md
  src/ElasticSan/ElasticSan.Autorest/generate-info.json
  src/ElasticSan/ElasticSan.sln
  src/ElasticSan/ElasticSan/help/New-AzElasticSan.md
Due: none

Suppress analysis warning for changing a required parameter to be optional.
  tools/StaticAnalysis/Exceptions/Az.ElasticSan/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update NewAzureRmAks.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
Due: none

change log and help
  src/FrontDoor/FrontDoor/ChangeLog.md
  src/FrontDoor/FrontDoor/help/New-AzFrontDoorWafPolicy.md
  src/FrontDoor/FrontDoor/help/Update-AzFrontDoorWafPolicy.md
Due: none

Update ChangeLog.md
  src/Aks/Aks/ChangeLog.md
Due: none
