Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Fix scenario tests
  src/Ssh/Ssh.Test/ScenarioTests/GetAzSshConfigTests.ps1
  src/Ssh/Ssh.Test/SessionRecords/Microsoft.Azure.Commands.Ssh.Test.ScenarioTests.GetAzSshConfigTests/TestGetVmConfig.json
  src/Ssh/Ssh.Test/Ssh.Test.csproj
  src/Ssh/Ssh/ChangeLog.md
Due: none

Update help files and add Compute to solution to see if tests work
  src/Ssh/Ssh.sln
  src/Ssh/Ssh/help/Az.Ssh.md
  src/Ssh/Ssh/help/Enter-AzVM.md
  src/Ssh/Ssh/help/Export-AzSshConfig.md
Due: none

Add livetest for Analysis Services
  src/AnalysisServices/AnalysisServices.Test/LiveTests/TestLiveScenarios.ps1
Due: none

update README.md to remove duplicate variants
  src/ManagedServiceIdentity/README.md
Due: none

update README.md to remove duplicate variants
  src/Migrate/README.md
Due: none

delete connectedkubernetes live test
  src/ConnectedKubernetes/LiveTests/TestLiveScenarios.ps1
Due: none

Delete id_rsa
  id_rsa
Due: none

Delete id_rsa.pub
  id_rsa.pub
Due: none

Add livetest for Analysis Services (#21043)
  src/AnalysisServices/AnalysisServices.Test/LiveTests/TestLiveScenarios.ps1
Due: none

Update the logic in ci to collect the status of test cases (#21029)
  .azure-pipelines/util/test-steps.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

fix directive
  src/ManagedServiceIdentity/README.md
Due: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/util/test-steps.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update cmdlet name and examples
  src/ArcResourceBridge/Az.ArcResourceBridge.psd1
  src/ArcResourceBridge/README.md
  src/ArcResourceBridge/docs/Az.ArcResourceBridge.md
  src/ArcResourceBridge/docs/Get-AzArcResourceBridgeCredential.md
  src/ArcResourceBridge/docs/New-AzArcResourceBridge.md
  src/ArcResourceBridge/examples/Get-AzArcResourceBridgeCredential.md
  src/ArcResourceBridge/examples/New-AzArcResourceBridge.md
  src/ArcResourceBridge/test/AzArcResourceBridge.Recording.json
  src/ArcResourceBridge/test/AzArcResourceBridge.Tests.ps1
  src/ArcResourceBridge/test/env.json
Due: none

Sync tools folder from main branch to generation branch (#21045)
  .azure-pipelines/util/test-steps.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

fix docs for update-azscheduledqueryrule
  src/Monitor/ScheduledQueryRule.Autorest/docs/Update-AzScheduledQueryRule.md
  src/Monitor/ScheduledQueryRule.Autorest/examples/Update-AzScheduledQueryRule.md
Due: none

Update Changelog.md
  src/StorageMover/Changelog.md
Due: none

[Storage] Fix parameter descriptions of Set-AzStorageLocalUser (#21027)
  src/Storage/Storage.Management/StorageAccount/SetAzureStorageLocalUser.cs
  src/Storage/Storage.Management/help/Set-AzStorageLocalUser.md
Due: none

Migrate ConnectedKubernetes from generation to main (#21025)
  src/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/helpers/HelmHelper.ps1
  src/ConnectedKubernetes/generate-info.json
Due: none

update online version
  src/Monitor/ScheduledQueryRule.Autorest/docs/Update-AzScheduledQueryRule.md
Due: none

Address nitpicks
  src/Sql/Sql.Sdk/Microsoft.Azure.Management.Sql.csproj
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Sql.csproj
  src/Sql/Sql/help/Invoke-AzSqlDatabaseTransparentDataEncryptionProtectorRevalidation.md
  src/Sql/Sql/help/Invoke-AzSqlDatabaseTransparentDataEncryptionProtectorRevert.md
  src/Sql/Sql/help/Invoke-AzSqlInstanceTransparentDataEncryptionProtectorRevalidation.md
  src/Sql/Sql/help/Invoke-AzSqlServerTransparentDataEncryptionProtectorRevalidation.md
Due: none

Update src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/Az.Sql.psd1
Due: none

Remove verbose while importing modules (#21036)
  src/StackHCI/custom/stackhci.ps1
Due: none

Move StackHCI to main
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/StackHCI.sln
  src/StackHCI/custom/stackhci.ps1
  src/StackHCI/generate-info.json
Due: none

Update ChangeLog.md
  src/StackHCI/ChangeLog.md
Due: none

Trigger ci
  .github/azure-client-tools-bot/config.yml
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update New-AzMLWorkspaceAksObject.ps1
  src/MachineLearningServices/custom/New-AzMLWorkspaceAksObject.ps1
Due: none

Update MinimalVersion.csv
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Az.psd1
  tools/Az/Az.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Migrate StackHCI from generation to main (#21048)
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/ChangeLog.md
  src/StackHCI/StackHCI.sln
  src/StackHCI/custom/stackhci.ps1
  src/StackHCI/generate-info.json
Due: none

Updated live test to make it support no built-in resource group
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Shared/livetest (#21052)
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix docs for model cmdlets
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertActionGroupObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertAlertRuleAnyOfOrLeafConditionObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/New-AzActivityLogAlertAlertRuleLeafConditionObject.md
  src/Monitor/ActivityLogAlert.Autorest/docs/README.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleNotificationObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleProfileObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleScaleRuleMetricDimensionObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleScaleRuleObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleWebhookNotificationObject.md
  src/Monitor/DiagnosticSetting.Autorest/docs/New-AzDiagnosticSettingLogSettingsObject.md
  src/Monitor/DiagnosticSetting.Autorest/docs/New-AzDiagnosticSettingMetricSettingsObject.md
  src/Monitor/DiagnosticSetting.Autorest/docs/New-AzDiagnosticSettingSubscriptionLogSettingsObject.md
  src/Monitor/DiagnosticSetting.Autorest/docs/README.md
  src/Monitor/ScheduledQueryRule.Autorest/docs/New-AzScheduledQueryRuleConditionObject.md
  src/Monitor/ScheduledQueryRule.Autorest/docs/New-AzScheduledQueryRuleDimensionObject.md
  src/Monitor/ScheduledQueryRule.Autorest/docs/README.md
Due: none

fix docs
  src/Monitor/ActivityLogAlert.Autorest/docs/README.md
  src/Monitor/Autoscale.Autorest/docs/README.md
  src/Monitor/DiagnosticSetting.Autorest/docs/README.md
  src/Monitor/ScheduledQueryRule.Autorest/docs/README.md
Due: none

Wrap WAM in config check (#20981)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authenticators/SilentAuthenticator.cs
Due: none

waiting for common
  ChangeLog.md
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Utilities/Telemetry/ParameterTelemetryFormatter.cs
Due: none

[Az.StorageMover] General Availability of Az.StorageMover (#21051)
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed issue in Resources that a fake token was not updated with a real one (#20814)
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/DataLakeStoreTestRunner.cs
  src/Resources/Resources.Test/ScenarioTests/ResourcesTestRunner.cs
Due: none
