Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

General availability for module Az.ElasticSan
  src/ElasticSan/ElasticSan/ChangeLog.md
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[NetAppFiles] update account with identity (#23878)
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/AccountTests.ps1
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountCMK.json
  src/NetAppFiles/NetAppFiles/Account/UpdateNetAppFilesAccount.cs
  src/NetAppFiles/NetAppFiles/ChangeLog.md
Due: none

Update src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

u3
  src/Resources/Resources/ChangeLog.md
Due: none

up
  src/Resources/Resources/ChangeLog.md
Due: none

[Az.SqlVirtualMachine] Fix a bug of parameter 'VirtualMachineResourceId' (#23903)
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/custom/New-AzSqlVM.ps1
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Get-AzAvailabilityGroupListener.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Get-AzSqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Get-AzSqlVMGroup.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Invoke-AzRedeploySqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Invoke-AzSqlVMTroubleshoot.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/New-AzAvailabilityGroupListener.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/New-AzSqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/New-AzSqlVMGroup.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/New-AzSqlVirtualMachineAgReplicaObject.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/New-AzSqlVirtualMachineMultiSubnetIPConfigurationObject.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Remove-AzAvailabilityGroupListener.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Remove-AzSqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Remove-AzSqlVMGroup.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Start-AzSqlVMAssessment.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Update-AzSqlVM.md
  src/SqlVirtualMachine/SqlVirtualMachine.Autorest/docs/Update-AzSqlVMGroup.md
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update azure-powershell-modules.md
  documentation/azure-powershell-modules.md
Due: none

Update azure-powershell-modules.md (#23906)
  documentation/azure-powershell-modules.md
Due: none

add changelog and suppress breakingchange issues
  src/SqlVirtualMachine/SqlVirtualMachine/ChangeLog.md
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix generation task drop folder issue
  .azure-pipelines/code-oob.yml
  .azure-pipelines/sign-tool-installer.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Adding breaking changes exception file for Az.Websites
  tools/StaticAnalysis/Exceptions/Az.Websites/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Resolve HDInsight.sln
  src/HDInsight/HDInsight.sln
Due: none

Add tools to refresh documentation\azure-powershell-modules.md
  tools/ResolveTools/Resolve-ModulesDoc.ps1
  tools/ResolveTools/Resolve-SolutionFile.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add tools to refresh documentation\azure-powershell-modules.md
  tools/ResolveTools/Resolve-ModulesDoc.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix generation task drop folder issue (#23910)
  .azure-pipelines/code-oob.yml
  .azure-pipelines/sign-tool-installer.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-oob.yml
  .azure-pipelines/sign-tool-installer.yml
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Nginx.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Removed examples for securityType Standard
  src/Compute/Compute/help/New-AzVM.md
Due: none

Sync tools folder from main branch to generation branch (#23899)
  .azure-pipelines/code-oob.yml
  .azure-pipelines/sign-tool-installer.yml
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Nginx.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

user mi support for backup/restore hsm
  src/KeyVault/KeyVault/Commands/FullBackupRestore/FullBackupRestoreCmdletBase.cs
  src/KeyVault/KeyVault/KeyVault.csproj
Due: none

Update src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/ChangeLog.md
Due: none

Update src/Sql/Sql/Failover Group/Cmdlet/NewAzureSqlFailoverGroup.cs
  src/Sql/Sql/Failover Group/Cmdlet/NewAzureSqlFailoverGroup.cs
Due: none

Update src/Sql/Sql/Failover Group/Cmdlet/SetAzureSqlFailoverGroup.cs
  src/Sql/Sql/Failover Group/Cmdlet/SetAzureSqlFailoverGroup.cs
Due: none

fix help file
  src/Network/Network/help/Update-AzNetworkVirtualApplianceConnection.md
Due: none

remove Get refactoring
  src/Network/Network/Models/PSNetworkVirtualApplianceConnection.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/help/Get-AzNetworkVirtualApplianceConnection.md
  src/Network/Network/help/Update-AzNetworkVirtualApplianceConnection.md
Due: none

Learn Editor: Update Az.Monitor.md
  src/Monitor/Monitor/help/Az.Monitor.md
Due: none

Learn Editor: Update Add-AzMetricAlertRuleV2.md
  src/Monitor/Monitor/help/Add-AzMetricAlertRuleV2.md
Due: none

fix wrong name for test
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
Due: none

add default parameter set
  src/Network/Network/NetworkVirtualAppliance/Connections/UpdateAzureNetworkVirtualConnectionCommand.cs.cs
Due: none

try to remove validate to fix errors
  src/Network/Network/ApplicationGateway/Sku/AzureApplicationGatewaySkuBase.cs
Due: none
