Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Inject preview CosmosDB AssemblyVersion at build time
  src/CosmosDB/CosmosDB.Management.Sdk/CosmosDB.Management.Sdk.csproj
  src/CosmosDB/CosmosDB/CosmosDB.csproj
  src/CosmosDB/PreviewOverlay/Generate-PreviewAssemblyInfo.ps1
  src/CosmosDB/PreviewOverlay/PreviewAssemblyVersion.targets
Due: none

Update ChangeLog.md
  src/Aks/Aks/ChangeLog.md
Due: none

Fix PS5 Connect-AzAccount failure by redirecting System.Memory
  src/Accounts/Authentication/Utilities/CustomAssemblyResolver.cs
Due: none

revert cache output change
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Helpers/CacheExtensions.cs
  src/NetAppFiles/NetAppFiles/Models/PSNetAppFilesCache.cs
Due: none

Initial skill
  .github/skills/azure-ps-design-review/SKILL.md
  .github/skills/azure-ps-design-review/references/design-guidelines-summary.md
  .github/skills/azure-ps-design-review/references/issue-template.md
  .github/skills/azure-ps-design-review/scratch/.gitignore
Due: azure-pipelines.yml

Clarify prereqs
  .github/skills/azure-ps-design-review/SKILL.md
Due: azure-pipelines.yml

disabled ICE validation
  setup/generate.ps1
Due: none

Fix build failure when a test module's src folder is missing
  tools/BuildScripts/BuildScripts.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add interconnectGroup.json + sync NSP module to 2025-07-01 spec
  src/Network/Network.Management.Sdk/Generated/IInterconnectGroupsOperations.cs
  src/Network/Network.Management.Sdk/Generated/INetworkManagementClient.cs
  src/Network/Network.Management.Sdk/Generated/ISubgroupsOperations.cs
  src/Network/Network.Management.Sdk/Generated/InterconnectGroupsOperations.cs
  src/Network/Network.Management.Sdk/Generated/InterconnectGroupsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/Generated/Models/InterconnectGroup.cs
  src/Network/Network.Management.Sdk/Generated/Models/InterconnectGroupNodeAvailability.cs
  src/Network/Network.Management.Sdk/Generated/Models/InterconnectGroupPropertiesFormat.cs
  src/Network/Network.Management.Sdk/Generated/Models/Subgroup.cs
  src/Network/Network.Management.Sdk/Generated/Models/SubgroupNodeAvailabilityEntry.cs
  src/Network/Network.Management.Sdk/Generated/Models/SubgroupProfile.cs
  src/Network/Network.Management.Sdk/Generated/Models/SubgroupProperties.cs
  src/Network/Network.Management.Sdk/Generated/NetworkManagementClient.cs
  src/Network/Network.Management.Sdk/Generated/SubgroupsOperations.cs
  src/Network/Network.Management.Sdk/Generated/SubgroupsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/Properties/AssemblyInfo.cs
  src/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/examples/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/generate-info.json
Due: none

Fix copilot comments
  .github/skills/azure-ps-design-review/SKILL.md
  .github/skills/azure-ps-design-review/references/design-guidelines-summary.md
  .github/skills/azure-ps-design-review/references/issue-template.md
Due: azure-pipelines.yml

addressing formatting and exception message suggestions for New-AzureDnsRecordSet cmdlet
  src/Dns/Dns/ChangeLog.md
  src/Dns/Dns/Models/DnsClient.cs
  src/Dns/Dns/Properties/Resources.Designer.cs
  src/Dns/Dns/Properties/Resources.resx
  src/Dns/Dns/Records/NewAzureDnsRecordSet.cs
Due: none

[Dns] Remove ValidateNotNullOrEmpty from existing TargetResourceId to fix breaking-change static analysis (2090)
  src/Dns/Dns/Records/NewAzureDnsRecordSet.cs
Due: none

[Dns] Add negative tests for TMLink mutual-exclusivity validation
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.ps1
Due: none

[Dns] Add TMLink (Traffic Manager profile) support to New-AzDnsRecordSet (#29716)
  src/Dns/Dns.Management.Sdk/Generated/DnsManagementClient.cs
  src/Dns/Dns.Management.Sdk/Generated/DnsResourceReferenceOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/DnssecConfigsOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/DnssecConfigsOperationsExtensions.cs
  src/Dns/Dns.Management.Sdk/Generated/IDnsManagementClient.cs
  src/Dns/Dns.Management.Sdk/Generated/IDnsResourceReferenceOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/IDnssecConfigsOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/IRecordSetsOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/IZonesOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/DnssecConfig.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/DnssecConfigsCreateOrUpdateHeaders.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/ProxyResource.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/RecordSet.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/RecordSetProperties.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/RecordSetUpdateParameters.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/Resource.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/SystemData.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/TrackedResource.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/Zone.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/ZoneProperties.cs
  src/Dns/Dns.Management.Sdk/Generated/Models/ZonesDeleteHeaders.cs
  src/Dns/Dns.Management.Sdk/Generated/RecordSetsOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/RecordSetsOperationsExtensions.cs
  src/Dns/Dns.Management.Sdk/Generated/ZonesOperations.cs
  src/Dns/Dns.Management.Sdk/Generated/ZonesOperationsExtensions.cs
  src/Dns/Dns.Management.Sdk/README.md
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.cs
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.ps1
  src/Dns/Dns.Test/SessionRecords/Microsoft.Azure.Commands.ScenarioTest.DnsTests.RecordsTests/TestTrafficManagerProfileRecordSet.json
  src/Dns/Dns/ChangeLog.md
  src/Dns/Dns/Models/DnsClient.cs
  src/Dns/Dns/Models/DnsRecordSet.cs
  src/Dns/Dns/Properties/Resources.Designer.cs
  src/Dns/Dns/Properties/Resources.resx
  src/Dns/Dns/Records/NewAzureDnsRecordSet.cs
  src/Dns/Dns/Zones/NewAzureDnsZone.cs
  src/Dns/Dns/help/New-AzDnsRecordSet.md
Due: none

update commit id
  src/PrivateTrafficManager/PrivateTrafficManager.Autorest/Properties/AssemblyInfo.cs
  src/PrivateTrafficManager/PrivateTrafficManager.Autorest/README.md
  src/PrivateTrafficManager/PrivateTrafficManager.Autorest/generate-info.json
  src/PrivateTrafficManager/PrivateTrafficManager.sln
  src/PrivateTrafficManager/PrivateTrafficManager/Az.PrivateTrafficManager.psd1
  src/PrivateTrafficManager/PrivateTrafficManager/help/Get-AzPrivateTrafficManagerEndpoint.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Get-AzPrivateTrafficManagerHealthPolicy.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Get-AzPrivateTrafficManagerProfile.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Get-AzPrivateTrafficManagerSite.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Get-AzPrivateTrafficManagerTopologyMap.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/New-AzPrivateTrafficManagerEndpoint.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/New-AzPrivateTrafficManagerHealthPolicy.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/New-AzPrivateTrafficManagerProfile.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/New-AzPrivateTrafficManagerSite.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/New-AzPrivateTrafficManagerTopologyMap.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Remove-AzPrivateTrafficManagerEndpoint.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Remove-AzPrivateTrafficManagerHealthPolicy.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Remove-AzPrivateTrafficManagerProfile.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Remove-AzPrivateTrafficManagerSite.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Remove-AzPrivateTrafficManagerTopologyMap.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Update-AzPrivateTrafficManagerEndpoint.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Update-AzPrivateTrafficManagerHealthPolicy.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Update-AzPrivateTrafficManagerProfile.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Update-AzPrivateTrafficManagerSite.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Update-AzPrivateTrafficManagerTopologyMap.md
Due: none

Update .ci-config.json
  .ci-config.json
Due: .azure-pipelines/sync-tools-folder.yml

Fix MicrosoftGraphUrl population for ARM endpoints without trailing slash
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix authkey exposure MSRC
  src/DataMigration/DataMigration.Autorest/custom/Helpers/IRRegister.ps1
Due: none

rebuild
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.Sql/servers-databaseMigrations.json
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/help/Invoke-AzDataMigrationCommand.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationAzureActiveDirectoryApp.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationConnectionInfo.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationDatabaseInfo.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationFileShare.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationMongoDbCollectionSetting.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationMongoDbDatabaseSetting.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationProject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSelectedDBObject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSyncSelectedDBObject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationProject.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/Start-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationTask.md
Due: none

Potential fix for pull request finding
  src/Accounts/Accounts/ChangeLog.md
Due: none

[Eng] Remove deprecated PostgreSql from CI selectModuleList
  .ci-config.json
Due: .azure-pipelines/sync-tools-folder.yml

Remove deprecated PostgreSql from CI selectModuleList (#29734)
  .ci-config.json
Due: .azure-pipelines/sync-tools-folder.yml

Fix MSRC exposed authkey
  src/DataMigration/DataMigration.Autorest/Properties/AssemblyInfo.cs
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.Sql/servers-databaseMigrations.json
  src/DataMigration/DataMigration.Autorest/custom/Helpers/IRRegister.ps1
  src/DataMigration/DataMigration.Autorest/generate-info.json
Due: none

rebuild
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
Due: none

DataMigration Security Fix
  src/DataMigration/DataMigration.Autorest/Properties/AssemblyInfo.cs
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.Sql/servers-databaseMigrations.json
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/Get-AzDataMigrationAssessment.ps1
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/Get-AzDataMigrationPerformanceDataCollection.ps1
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationLoginsMigration.ps1
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationSqlServerSchema.ps1
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationTdeCertificateMigration.ps1
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

fix ux test
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.Sql/servers-databaseMigrations.json
Due: none

fix version mismatch and placeholders
  src/PrivateTrafficManager/PrivateTrafficManager.Autorest/README.md
  src/PrivateTrafficManager/PrivateTrafficManager.Autorest/how-to.md
  src/PrivateTrafficManager/PrivateTrafficManager/help/Az.PrivateTrafficManager.md
Due: none

Add Azure Elastic SAN support for backup and restore operations
  generated/DataProtection/DataProtection.Autorest/generated/api/Models/BackupDatasourceParameters.json.cs
  generated/DataProtection/DataProtection.Autorest/generated/api/Models/GenericBackupDatasourceParameters.cs
  generated/DataProtection/DataProtection.Autorest/generated/api/Models/GenericRestoreDatasourceCriteria.cs
  generated/DataProtection/DataProtection.Autorest/generated/api/Models/ItemLevelRestoreCriteria.json.cs
  generated/DataProtection/DataProtection.Autorest/generated/api/Models/ResourceListSelectionCriteria.cs
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Platform/BackupInstance/Initialize-AzDataProtectionBackupInstance.ps1
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Platform/BackupInstance/New-AzDataProtectionBackupConfigurationClientObject.ps1
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Platform/Restore/Initialize-AzDataProtectionRestoreRequest.ps1
  src/DataProtection/DataProtection.Autorest/custom/Cmdlets/Platform/Restore/New-AzDataProtectionRestoreConfigurationClientObject.ps1
  src/DataProtection/DataProtection.Autorest/custom/Enums/Enums.cs
  src/DataProtection/DataProtection.Autorest/custom/manifests/AzureElasticSAN.json
  src/DataProtection/DataProtection.Autorest/custom/manifests/DatasourceTypesInfo.json
  src/DataProtection/DataProtection.Autorest/docs/Initialize-AzDataProtectionRestoreRequest.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/DataProtection.Autorest/docs/New-AzDataProtectionRestoreConfigurationClientObject.md
  src/DataProtection/DataProtection.Autorest/docs/Set-AzDataProtectionMSIPermission.md
  src/DataProtection/DataProtection.Autorest/test/ElasticSanBackupRestoreConfiguration.Tests.ps1
  src/DataProtection/DataProtection/ChangeLog.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
