Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Upgrade common library versions
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update help files
  src/Storage/Storage.Management/help/New-AzDataLakeGen2Item.md
  src/Storage/Storage.Management/help/Set-AzDataLakeGen2ItemAclObject.md
  src/Storage/Storage.Management/help/Update-AzDataLakeGen2Item.md
Due: none

update parameter description format
  src/Storage/Storage.Management/help/New-AzDataLakeGen2Item.md
  src/Storage/Storage.Management/help/Set-AzDataLakeGen2ItemAclObject.md
  src/Storage/Storage.Management/help/Update-AzDataLakeGen2Item.md
Due: none

Update help
  src/Storage/Storage.Management/help/New-AzDataLakeGen2Item.md
  src/Storage/Storage.Management/help/Set-AzDataLakeGen2ItemAclObject.md
  src/Storage/Storage.Management/help/Update-AzDataLakeGen2Item.md
Due: none

session records for failing tests with updated account name
  src/CosmosDB/CosmosDB.Test/ScenarioTests/AccountTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TableOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountRelatedCmdletsUsingObject.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.AccountTests/TestPrivateEndpoint.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.RestoreTests/TestSqlContainerBackupInformationCmdLets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.RestoreTests/TestUpdateCosmosDBAccountBackupPolicyToContinuous7DaysCmdLets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableMigrateThroughputCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableOperationsCmdletsUsingInputObject.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableThroughputCmdlets.json
Due: none

Fix cache with cmk enabled issue
  src/RedisEnterpriseCache/custom/New-AzRedisEnterpriseCache.ps1
  src/RedisEnterpriseCache/docs/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/examples/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
Due: none

Update help files
  src/NetAppFiles/NetAppFiles/help/Restore-AzNetAppFilesBackupFile.md
  src/NetAppFiles/NetAppFiles/help/Unlock-AzNetAppFilesVolumeFileLocks.md
Due: none

Fix link
  src/Workloads/custom/New-AzWorkloadsProviderDB2InstanceObject.ps1
  src/Workloads/custom/New-AzWorkloadsProviderHanaDbInstanceObject.ps1
  src/Workloads/custom/New-AzWorkloadsProviderPrometheusHaClusterInstanceObject.ps1
  src/Workloads/custom/New-AzWorkloadsProviderPrometheusOSInstanceObject.ps1
  src/Workloads/custom/New-AzWorkloadsProviderSapNetWeaverInstanceObject.ps1
  src/Workloads/custom/New-AzWorkloadsProviderSqlServerInstanceObject.ps1
Due: none

Add properties to quota rules
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Helpers/VolumeQuotaRuleExtensions.cs
  src/NetAppFiles/NetAppFiles/Models/PSNetAppFilesVolumeQuotaRule.cs
  src/NetAppFiles/NetAppFiles/help/Az.NetAppFiles.md
  src/NetAppFiles/NetAppFiles/help/Restore-AzNetAppFilesBackupFile.md
  src/NetAppFiles/NetAppFiles/help/Unlock-AzNetAppFilesVolumeFileLocks.md
Due: none

Add the Test Case to Verify All Environment Endpoints after Initialization (#21516)
  src/Accounts/Accounts.Test/EnvironmentCmdletTests.cs
  src/Accounts/Accounts.Test/EnvironmentCmdletTestsExtension.cs
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Extract latest NuGet
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationTdeCertificateMigration.ps1
Due: none

Add cmdlets
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Properties/Resources.Designer.cs
  src/Sql/Sql/Properties/Resources.resx
  src/Sql/Sql/ServerConfigurationOptions/Cmdlet/GetServerConfigurationOption.cs
  src/Sql/Sql/ServerConfigurationOptions/Cmdlet/ServerConfigurationOptionCmdletBase.cs
  src/Sql/Sql/ServerConfigurationOptions/Cmdlet/SetServerConfigurationOption.cs
  src/Sql/Sql/ServerConfigurationOptions/Model/ServerConfigurationOptionsModel.cs
  src/Sql/Sql/ServerConfigurationOptions/Services/ServerConfigurationOptionsAdapter.cs
  src/Sql/Sql/ServerConfigurationOptions/Services/ServerConfigurationOptionsCommunicator.cs
Due: none

add tests
  src/Sql/Sql.Test/ScenarioTests/ServerConfigurationOptionTests.cs
  src/Sql/Sql.Test/ScenarioTests/ServerConfigurationOptionTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerConfigurationOptionTests/TestServerConfigurationOption.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerConfigurationOptionTests/TestServerConfigurationOption.pijson
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerConfigurationOptionTests/TestServerConfigurationOptionPiping.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.ServerConfigurationOptionTests/TestServerConfigurationOptionPiping.pijson
Due: none

Fix link
  tools/StaticAnalysis/Exceptions/Az.Workloads/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Modify some logic to support update NewtonSoftJson to 13.0.3 (#21529)
  .azure-pipelines/live-test.yml
  .azure-pipelines/release-test.yml
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

add help files
  src/Sql/Sql/help/Az.Sql.md
  src/Sql/Sql/help/Get-AzSqlServerConfigurationOption.md
  src/Sql/Sql/help/Set-AzSqlServerConfigurationOption.md
Due: none

Update src/Sql/Sql/help/Az.Sql.md
  src/Sql/Sql/help/Az.Sql.md
Due: none

add online version to help files
  src/Sql/Sql/help/Get-AzSqlServerConfigurationOption.md
  src/Sql/Sql/help/Set-AzSqlServerConfigurationOption.md
Due: none

changes as per feedback - cmdlet name and output
  src/CodeSigning/CodeSigning.Test/CodeSigning.Test.csproj
  src/CodeSigning/CodeSigning.sln
  src/CodeSigning/CodeSigning/Az.CodeSigning.psd1
  src/CodeSigning/CodeSigning/CodeSigning.csproj
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningEku.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningRootCert.cs
  src/CodeSigning/CodeSigning/Commands/SubmitCIPolicySigning.cs
  src/CodeSigning/CodeSigning/Helpers/TerminatingErrorException.cs
  src/CodeSigning/CodeSigning/Helpers/XmlUtil.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningCmdletBase.cs
Due: none

CodeGen from PR 23121 in Azure/azure-rest-api-specs Release sentinel 2023 04 01 preview (#23121)
  swaggerci/securityinsights.DefaultTag/.gitattributes
  swaggerci/securityinsights.DefaultTag/.gitignore
  swaggerci/securityinsights.DefaultTag/README.md
  swaggerci/securityinsights.DefaultTag/custom/README.md
  swaggerci/securityinsights.DefaultTag/docs/README.md
  swaggerci/securityinsights.DefaultTag/examples/README.md
  swaggerci/securityinsights.DefaultTag/how-to.md
  swaggerci/securityinsights.DefaultTag/license.txt
  swaggerci/securityinsights.DefaultTag/readme.md
  swaggerci/securityinsights.DefaultTag/resources/README.md
  swaggerci/securityinsights.DefaultTag/test/README.md
  swaggerci/securityinsights.DefaultTag/test/loadEnv.ps1
  swaggerci/securityinsights.DefaultTag/utils/Unprotect-SecureString.ps1
Due: none

Fix the issue of static analysis
  tools/StaticAnalysis/Exceptions/Az.Storage/AssemblyVersionConflict.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed ps 7.0 for live test and added ps latest
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

CodeGen from PR 22789 in Azure/azure-rest-api-specs [Hub Generated] Review request for Microsoft.PolicyInsights to add version stable/2023-03-01 (#22789)
  swaggerci/policyinsights.DefaultTag/.gitattributes
  swaggerci/policyinsights.DefaultTag/.gitignore
  swaggerci/policyinsights.DefaultTag/README.md
  swaggerci/policyinsights.DefaultTag/custom/README.md
  swaggerci/policyinsights.DefaultTag/docs/README.md
  swaggerci/policyinsights.DefaultTag/examples/README.md
  swaggerci/policyinsights.DefaultTag/how-to.md
  swaggerci/policyinsights.DefaultTag/license.txt
  swaggerci/policyinsights.DefaultTag/readme.md
  swaggerci/policyinsights.DefaultTag/resources/README.md
  swaggerci/policyinsights.DefaultTag/test/README.md
  swaggerci/policyinsights.DefaultTag/test/loadEnv.ps1
  swaggerci/policyinsights.DefaultTag/utils/Unprotect-SecureString.ps1
Due: none

[Storage] Add support for sticky bit (#21528)
  src/Storage/Storage.Management.Test/ScenarioTests/StorageDataPlaneTests.ps1
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/New-AzDataLakeGen2Item.md
  src/Storage/Storage.Management/help/Set-AzDataLakeGen2ItemAclObject.md
  src/Storage/Storage.Management/help/Update-AzDataLakeGen2Item.md
  src/Storage/Storage/DatalakeGen2/Cmdlet/NewAzDataLakeGen2ACLObject.cs
  src/Storage/Storage/DatalakeGen2/Cmdlet/NewAzDataLakeGen2Item.cs
  src/Storage/Storage/DatalakeGen2/Cmdlet/UpdateAzDataLakeGen2Item.cs
  src/Storage/Storage/Storage.csproj
  tools/StaticAnalysis/Exceptions/Az.Storage/AssemblyVersionConflict.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/live-test.yml
  .azure-pipelines/release-test.yml
  tools/Common.Netcore.Dependencies.Test.targets
  tools/Common.Netcore.Dependencies.targets
  tools/StaticAnalysis/Exceptions/Az.Storage/AssemblyVersionConflict.csv
  tools/TestFx/TestFx.csproj
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

CodeGen from PR 23531 in Azure/azure-rest-api-specs Update readme.md (#23531)
  swaggerci/vmware.DefaultTag/.gitattributes
  swaggerci/vmware.DefaultTag/.gitignore
  swaggerci/vmware.DefaultTag/README.md
  swaggerci/vmware.DefaultTag/custom/README.md
  swaggerci/vmware.DefaultTag/docs/README.md
  swaggerci/vmware.DefaultTag/examples/README.md
  swaggerci/vmware.DefaultTag/how-to.md
  swaggerci/vmware.DefaultTag/license.txt
  swaggerci/vmware.DefaultTag/readme.md
  swaggerci/vmware.DefaultTag/resources/README.md
  swaggerci/vmware.DefaultTag/test/README.md
  swaggerci/vmware.DefaultTag/test/loadEnv.ps1
  swaggerci/vmware.DefaultTag/utils/Unprotect-SecureString.ps1
Due: none

fix help examples
  src/Sql/Sql/help/Get-AzSqlServerConfigurationOption.md
  src/Sql/Sql/help/Set-AzSqlServerConfigurationOption.md
Due: none

Sync tools folder from main branch to generation branch (#21532)
  .azure-pipelines/live-test.yml
  .azure-pipelines/release-test.yml
  tools/Common.Netcore.Dependencies.Test.targets
  tools/Common.Netcore.Dependencies.targets
  tools/StaticAnalysis/Exceptions/Az.Storage/AssemblyVersionConflict.csv
  tools/TestFx/TestFx.csproj
  tools/TestFx/Utilities/KustoUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Add to Az.psd1
  tools/Az/Az.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for CosmosDB (#21504)
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/Properties/AssemblyInfo.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
