Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update doc about test framework
  documentation/testing-docs/using-azure-test-framework.md
Due: none

Update TestLiveScenarios.ps1
  src/App/App.Autorest/Livetests/TestLiveScenarios.ps1
Due: none

fix bug pricing name cannot be passed correctly
  src/Security/Security/Cmdlets/Pricings/SetPricings.cs
Due: none

Update TestLiveScenarios.ps1 (#23489)
  src/App/App.Autorest/Livetests/TestLiveScenarios.ps1
Due: none

Remove redundant line
  src/Storage/Storage/Blob/Cmdlet/SetAzureStorageBlobContent.cs
Due: none

add changelog
  src/Security/Security/ChangeLog.md
Due: none

Update smoke test CI to accomodate the upgrade of PowerShell
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update the logic of gen2main
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Gen2Master/Templates/Az.ModuleName.csproj
  tools/Gen2Master/Templates/Az.ModuleName.hybrid.csproj
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update the logic of gen2main
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

minor fix (#23491)
  tools/StaticAnalysis/GeneratedSdkAnalyzer/GeneratedSdkIssue.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update best practice for abbreviation naming
  documentation/development-docs/design-guidelines/cmdlet-best-practices.md
  documentation/development-docs/design-guidelines/parameter-best-practices.md
Due: none

Update live test CI to fix the issue caused by PowerShell upgrade
  .azure-pipelines/live-test.yml
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update doc about test framework (#23488)
  documentation/testing-docs/using-azure-test-framework.md
Due: none

Update live test CI to fix the issue caused by PowerShell upgrade (#23497)
  .azure-pipelines/live-test.yml
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update smoke test CI to accomodate the upgrade of PowerShell (#23498)
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update sync-aliases CI to fix issue caused by PowerShell upgrade (#23486)
  .azure-pipelines/sync-aliases.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/live-test.yml
  .azure-pipelines/release-test.yml
  .azure-pipelines/sync-aliases.yml
  .github/policies/resourceManagement.yml
  tools/StaticAnalysis/Exceptions/Az.App/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.TimeSeriesInsights/ExampleIssues.csv
  tools/StaticAnalysis/GeneratedSdkAnalyzer/GeneratedSdkIssue.cs
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update docs
  src/Network/Network/help/New-AzVirtualNetworkGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
Due: none

updating commit on readme
  src/StackHCIVm/StackHCIVm.Autorest/README.md
Due: none

updated
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Models/PSVirtualMachineExtension.cs
Due: none

Bug 25892553: [Az] SEP/CEP creation cmdlets should skip RBAC creation if UseIdentity is false for CEP and ActiveAuthType is certificate
  src/StorageSync/StorageSync/CloudEndpoint/NewCloudEndpointCommand.cs
  src/StorageSync/StorageSync/ServerEndpoint/NewServerEndpointCommand.cs
Due: none

draft changes
  src/Blueprint/Blueprint.Test/SessionRecords/Microsoft.Azure.Commands.Blueprint.Test.ScenarioTests.BlueprintTests/TestGetBlueprintWithDefinitionLocationNameAndLatestPublished.json
  src/PolicyInsights/PolicyInsights.Test/SessionRecords/Microsoft.Azure.Commands.PolicyInsights.Test.ScenarioTests.AttestationTests/ResourceGroupScopeCrud.json
  src/Sql/Sql.Test/ScenarioTests/DatabaseBackupTests.cs
  src/Sql/Sql.Test/ScenarioTests/DatabaseBackupTests.ps1
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Database Backup/Cmdlet/UpdateAzureSqlDatabaseLongTermRetentionBackup.cs
  src/Sql/Sql/Database Backup/Cmdlet/UpdateAzureSqlDatabaseLongTermRetentionBackupAccessTier.cs
  src/Sql/Sql/help/Update-AzSqlDatabaseLongTermRetentionBackup.md
  src/Sql/Sql/help/Update-AzSqlDatabaseLongTermRetentionBackupAccessTier.md
Due: none

remove not related changes
  src/Blueprint/Blueprint.Test/SessionRecords/Microsoft.Azure.Commands.Blueprint.Test.ScenarioTests.BlueprintTests/TestGetBlueprintWithDefinitionLocationNameAndLatestPublished.json
  src/PolicyInsights/PolicyInsights.Test/SessionRecords/Microsoft.Azure.Commands.PolicyInsights.Test.ScenarioTests.AttestationTests/ResourceGroupScopeCrud.json
  src/Sql/Sql/help/Update-AzSqlDatabaseLongTermRetentionBackup.md
Due: none

updated (#23504)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Models/PSVirtualMachineExtension.cs
Due: none

Add test infrastructure fixes (lost from a previous iteration) Better parameter handling for RemovePolicySetDefinition
  src/Resources/Policy.Autorest/custom/Remove-AzPolicySetDefinition.ps1
  src/Resources/Policy.Autorest/docs/New-AzPolicyAssignment.md
  src/Resources/Policy.Autorest/docs/Remove-AzPolicySetDefinition.md
  src/Resources/Policy.Autorest/test/Backcompat/Common.ps1
  src/Resources/Policy.Autorest/test/Backcompat/RemovePolicySetDefinitionParameters.Tests.ps1
  src/Resources/Policy.Autorest/test/Backcompat/TestFxAssert.ps1
  src/Resources/Policy.Autorest/test/Backcompat/TestFxCommon.ps1
Due: none

Update best practice for abbreviation naming (#23494)
  documentation/development-docs/design-guidelines/cmdlet-best-practices.md
  documentation/development-docs/design-guidelines/parameter-best-practices.md
Due: none

[Az.Security] fix bug pricing tier cannot be passed correctly (#23492)
  src/Security/Security/ChangeLog.md
  src/Security/Security/Cmdlets/Pricings/SetPricings.cs
Due: none

Sync tools folder from main branch to generation branch (#23495)
  .azure-pipelines/live-test.yml
  .azure-pipelines/release-test.yml
  .azure-pipelines/sync-aliases.yml
  .github/policies/resourceManagement.yml
  tools/StaticAnalysis/Exceptions/Az.App/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.TimeSeriesInsights/ExampleIssues.csv
  tools/StaticAnalysis/GeneratedSdkAnalyzer/GeneratedSdkIssue.cs
  tools/TestFx/Live/InitializeLiveTestEnvironment.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

updated bounds
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
Due: none
