Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

fix spelling
  src/ScVmm/ScVmm/help/Update-AzScVmmVMNic.md
  src/Search/Search/help/New-AzSearchService.md
  src/Search/Search/help/Set-AzSearchService.md
  src/Security/Security/help/Add-AzSecuritySqlVulnerabilityAssessmentBaseline.md
  src/Security/Security/help/Disable-AzIotSecurityAnalyticsAggregatedAlert.md
  src/Security/Security/help/Get-AzDeviceSecurityGroup.md
  src/Security/Security/help/Get-AzIotSecurityAnalytics.md
  src/Security/Security/help/Get-AzIotSecurityAnalyticsAggregatedAlert.md
  src/Security/Security/help/Get-AzRegulatoryComplianceAssessment.md
  src/Security/Security/help/Get-AzRegulatoryComplianceControl.md
  src/Security/Security/help/Get-AzSecurityAssessment.md
  src/Security/Security/help/Get-AzSecuritySecureScore.md
  src/Security/Security/help/Get-AzSecuritySecureScoreControl.md
  src/Security/Security/help/Get-AzSecuritySecureScoreControlDefinition.md
  src/Security/Security/help/Get-AzSecuritySqlVulnerabilityAssessmentBaseline.md
  src/Security/Security/help/New-AzDeviceSecurityGroupDenylistCustomAlertRuleObject.md
  src/Security/Security/help/Remove-AzSecurityAssessment.md
  src/Security/Security/help/Remove-AzSecuritySqlVulnerabilityAssessmentBaseline.md
  src/Security/Security/help/Set-AzSecurityAssessment.md
  src/Security/Security/help/Set-AzSecuritySqlVulnerabilityAssessmentBaseline.md
  src/Security/Security/help/Update-AzIotSecuritySolution.md
  src/SecurityInsights/SecurityInsights/help/Get-AzSentinelEntity.md
  src/SecurityInsights/SecurityInsights/help/Get-AzSentinelEntityActivity.md
  src/SecurityInsights/SecurityInsights/help/New-AzSentinelAlertRule.md
  src/SelfHelp/SelfHelp/help/Invoke-AzSelfHelpCheckNameAvailability.md
  src/ServiceBus/ServiceBus/help/Get-AzServiceBusSubscription.md
  src/ServiceBus/ServiceBus/help/New-AzServiceBusAuthorizationRuleSASToken.md
  src/ServiceBus/ServiceBus/help/Test-AzServiceBusName.md
  src/ServiceBus/ServiceBus/help/Test-AzServiceBusNameAvailability.md
Due: none

fix spelling
  src/ServiceFabric/ServiceFabric/help/Add-AzServiceFabricManagedClusterClientCertificate.md
  src/ServiceFabric/ServiceFabric/help/Add-AzServiceFabricManagedNodeTypeVMExtension.md
  src/ServiceFabric/ServiceFabric/help/Add-AzServiceFabricManagedNodeTypeVMSecret.md
  src/ServiceFabric/ServiceFabric/help/Az.ServiceFabric.md
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricCluster.md
  src/ServiceFabric/ServiceFabric/help/New-AzServiceFabricManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Remove-AzServiceFabricManagedClusterClientCertificate.md
  src/ServiceFabric/ServiceFabric/help/Remove-AzServiceFabricManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedClusterApplication.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Update-AzServiceFabricApplication.md
  src/ServiceLinker/ServiceLinker/help/New-AzServiceLinkerSecretAuthInfoObject.md
  src/SpringCloud/SpringCloud/help/Deploy-AzSpringCloudApp.md
  src/Sql/Sql/help/Disable-AzSqlDatabaseLedgerDigestUpload.md
  src/Sql/Sql/help/Get-AzSqlInstance.md
  src/Sql/Sql/help/Get-AzSqlInstanceDatabaseCopyOperation.md
  src/Sql/Sql/help/Get-AzSqlInstanceDatabaseMoveOperation.md
  src/Sql/Sql/help/New-AzSqlElasticPool.md
  src/Sql/Sql/help/New-AzSqlInstance.md
  src/Sql/Sql/help/New-AzSqlInstanceStartStopSchedule.md
  src/Sql/Sql/help/New-AzSqlServer.md
  src/Sql/Sql/help/Remove-AzSqlInstanceServerTrustCertificate.md
  src/Sql/Sql/help/Set-AzSqlElasticJobStep.md
  src/Sql/Sql/help/Set-AzSqlInstance.md
  src/Sql/Sql/help/Set-AzSqlServer.md
  src/Sql/Sql/help/Update-AzSqlInstanceLink.md
Due: none

Added signature exception
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

refactor, clean up New-AzVmss code
  src/Compute/Compute/Common/ConstantStringTypes.cs
  src/Compute/Compute/Compute.sln
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

Delete src/Compute/Compute/Compute.sln
  src/Compute/Compute/Compute.sln
Due: none

add EnableProxyAgent parameter
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
Due: none

update changeLog
  src/HDInsight/HDInsight/ChangeLog.md
Due: none

Update src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedNodeType.md
Due: none

[Az.Purview] Update generation tool version: autorest.powershell v3->v4 (#27871)
  src/Purview/Purview.Autorest/Properties/AssemblyInfo.cs
  src/Purview/Purview.Autorest/README.md
  src/Purview/Purview.Autorest/custom/Add-AzPurviewAccountRootCollectionAdmin.ps1
  src/Purview/Purview.Autorest/custom/New-AzPurviewAccount.ps1
  src/Purview/Purview.Autorest/custom/Set-AzPurviewDefaultAccount.ps1
  src/Purview/Purview.Autorest/custom/Test-AzPurviewAccountNameAvailability.ps1
  src/Purview/Purview.Autorest/docs/Add-AzPurviewAccountRootCollectionAdmin.md
  src/Purview/Purview.Autorest/docs/Az.Purview.md
  src/Purview/Purview.Autorest/docs/Get-AzPurviewAccount.md
  src/Purview/Purview.Autorest/docs/Get-AzPurviewAccountKey.md
  src/Purview/Purview.Autorest/docs/Get-AzPurviewDefaultAccount.md
  src/Purview/Purview.Autorest/docs/New-AzPurviewAccount.md
  src/Purview/Purview.Autorest/docs/Remove-AzPurviewAccount.md
  src/Purview/Purview.Autorest/docs/Remove-AzPurviewDefaultAccount.md
  src/Purview/Purview.Autorest/docs/Set-AzPurviewDefaultAccount.md
  src/Purview/Purview.Autorest/docs/Test-AzPurviewAccountNameAvailability.md
  src/Purview/Purview.Autorest/docs/Update-AzPurviewAccount.md
  src/Purview/Purview.Autorest/examples/Get-AzPurviewAccount.md
  src/Purview/Purview.Autorest/examples/New-AzPurviewAccount.md
  src/Purview/Purview.Autorest/examples/Update-AzPurviewAccount.md
  src/Purview/Purview.Autorest/generate-info.json
  src/Purview/Purview.Autorest/resources/README.md
  src/Purview/Purview.Autorest/test/New-AzPurviewAccount.Tests.ps1
  src/Purview/Purview.Autorest/test/utils.ps1
  src/Purview/Purview.sln
  src/Purview/Purview/Az.Purview.psd1
  src/Purview/Purview/ChangeLog.md
  src/Purview/Purview/help/Add-AzPurviewAccountRootCollectionAdmin.md
  src/Purview/Purview/help/Az.Purview.md
  src/Purview/Purview/help/Get-AzPurviewAccount.md
  src/Purview/Purview/help/Get-AzPurviewAccountKey.md
  src/Purview/Purview/help/Get-AzPurviewDefaultAccount.md
  src/Purview/Purview/help/New-AzPurviewAccount.md
  src/Purview/Purview/help/Remove-AzPurviewAccount.md
  src/Purview/Purview/help/Remove-AzPurviewDefaultAccount.md
  src/Purview/Purview/help/Set-AzPurviewDefaultAccount.md
  src/Purview/Purview/help/Test-AzPurviewAccountNameAvailability.md
  src/Purview/Purview/help/Update-AzPurviewAccount.md
Due: none

nit: minor doc changes
  src/AzureDataTransfer/AzureDataTransfer.Autorest/docs/Deny-AzDataTransferConnection.md
  src/AzureDataTransfer/AzureDataTransfer.Autorest/examples/Deny-AzDataTransferConnection.md
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServices/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

push
  tools/Mcp/README.md
  tools/Mcp/src/index.ts
  tools/Mcp/src/services/utils.ts
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Use Find-PSResource to Azure Artifacts instead of Find-Module to PSGallery
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

updated the example outputs in all the docs and examples
  src/NeonPostgres/NeonPostgres.Autorest/docs/Az.NeonPostgres.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresCompute.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresEndpoint.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresNeonDatabase.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresNeonRole.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Get-AzNeonPostgresProjectConnectionUri.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/New-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Remove-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Remove-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Update-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/examples/Update-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/generate-info.json
  src/NeonPostgres/NeonPostgres.sln
  src/NeonPostgres/NeonPostgres/Az.NeonPostgres.psd1
Due: none

[Storage] Support Storage Account saspolicy new properties SasExpirationAction (#27908)
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestAzureStorageAccountKeySASPolicy.json
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccount.cs
  src/Storage/Storage.Management/StorageAccount/SetAzureStorageAccount.cs
  src/Storage/Storage.Management/help/New-AzStorageAccount.md
  src/Storage/Storage.Management/help/Set-AzStorageAccount.md
Due: none

update changelog as per review comments
  src/NeonPostgres/NeonPostgres/ChangeLog.md
Due: none

add breaking change announcement
  src/Resources/Authorization.Autorest/Az.Authorization.nuspec
  src/Resources/Authorization.Autorest/Properties/AssemblyInfo.cs
  src/Resources/Authorization.Autorest/README.md
  src/Resources/Authorization.Autorest/docs/Az.Authorization.md
  src/Resources/Authorization.Autorest/generate-info.json
  src/Resources/Authorization.Autorest/resources/README.md
  src/Resources/Resources.sln
  src/Resources/Resources/Az.Resources.psd1
  src/Resources/Resources/ChangeLog.md
Due: none

update new project command with example output
  src/NeonPostgres/NeonPostgres.Autorest/examples/New-AzNeonPostgresProject.md
Due: none

updated the test recording
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresBranch.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresCompute.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresEndpoint.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresNeonDatabase.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresNeonRole.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresProject.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresProjectConnectionUri.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresProjectConnectionUri.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresBranch.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresProject.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresBranch.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresProject.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresBranch.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresProject.Tests.ps1
Due: none

Fix batch generation build artifact
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update examples
  src/DataBox/DataBox.Autorest/Properties/AssemblyInfo.cs
  src/DataBox/DataBox.Autorest/README.md
  src/DataBox/DataBox.Autorest/custom/Update-AzDataBoxJob.ps1
  src/DataBox/DataBox.Autorest/docs/New-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/docs/Update-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/examples/New-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/examples/Update-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/generate-info.json
  src/DataBox/DataBox.Autorest/test/New-AzDataBoxJob.Tests.ps1
  src/DataBox/DataBox.Autorest/test/Update-AzDataBoxJob.Tests.ps1
  src/DataBox/DataBox.Autorest/test/utils.ps1
  src/DataBox/DataBox.sln
  src/DataBox/DataBox/Az.DataBox.psd1
  src/DataBox/DataBox/help/New-AzDataBoxJob.md
  src/DataBox/DataBox/help/Update-AzDataBoxJob.md
Due: none

update examples
  src/DataBox/DataBox.Autorest/test/Update-AzDataBoxJob.Tests.ps1
Due: none

recorded test for all the commands
  src/NeonPostgres/NeonPostgres.Autorest/examples/New-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresBranch.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresCompute.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresEndpoint.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresNeonDatabase.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresNeonRole.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresProject.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Get-AzNeonPostgresProjectConnectionUri.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresBranch.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresBranch.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresProject.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/New-AzNeonPostgresProject.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresBranch.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresBranch.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresProject.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Remove-AzNeonPostgresProject.Tests.ps1
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresOrganization.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresProject.Recording.json
  src/NeonPostgres/NeonPostgres.Autorest/test/Update-AzNeonPostgresProject.Tests.ps1
Due: none

update examples
  src/DataBox/DataBox.Autorest/Properties/AssemblyInfo.cs
  src/DataBox/DataBox.Autorest/docs/New-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/docs/Update-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/examples/New-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/examples/Update-AzDataBoxJob.md
  src/DataBox/DataBox.Autorest/generate-info.json
  src/DataBox/DataBox.sln
  src/DataBox/DataBox/help/New-AzDataBoxJob.md
  src/DataBox/DataBox/help/Update-AzDataBoxJob.md
Due: none

Add artifact dir
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix module match index
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

add changelog
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSetVM/VirtualMachineScaleSetVMUpdateMethod.cs
Due: none

md files
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVmss.md
  src/Compute/Compute/help/Update-AzVmssVM.md
Due: none

fix name
  src/Compute/Compute/Az.Compute.psd1
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/SetAzVmssProxyAgentSetting.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzVMProxyAgentSetting.cs
Due: none

fix spelling
  src/Ssh/Ssh/help/Enter-AzVM.md
  src/Ssh/Ssh/help/Export-AzSshConfig.md
  src/StackHCI/StackHCI/help/Disable-AzStackHCIRemoteSupport.md
  src/StackHCI/StackHCI/help/Enable-AzStackHCIRemoteSupport.md
  src/StackHCI/StackHCI/help/Install-AzStackHCIRemoteSupport.md
  src/StackHCI/StackHCI/help/Unregister-AzStackHCI.md
  src/StackHCIVM/StackHCIVM/help/Get-AzStackHCIVMVirtualMachine.md
  src/StackHCIVM/StackHCIVM/help/New-AzStackHCIVMImage.md
  src/StackHCIVM/StackHCIVM/help/New-AzStackHCIVMVirtualMachine.md
  src/StackHCIVM/StackHCIVM/help/Update-AzStackHCIVMImage.md
  src/StackHCIVM/StackHCIVM/help/Update-AzStackHCIVMLogicalNetwork.md
  src/StackHCIVM/StackHCIVM/help/Update-AzStackHCIVMNetworkInterface.md
  src/StackHCIVM/StackHCIVM/help/Update-AzStackHCIVMStoragePath.md
  src/StackHCIVM/StackHCIVM/help/Update-AzStackHCIVMVirtualHardDisk.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyContainerGroupPoolStatus.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyVMPoolStatus.md
  src/StandbyPool/StandbyPool/help/New-AzStandbyVMPool.md
  src/StorageMover/StorageMover/help/Get-AzStorageMover.md
  src/StorageMover/StorageMover/help/New-AzStorageMoverAzSmbFileShareEndpoint.md
  src/StorageMover/StorageMover/help/Update-AzStorageMoverAzSmbFileShareEndpoint.md
  src/StorageMover/StorageMover/help/Update-AzStorageMoverSmbEndpoint.md
  src/StorageSync/StorageSync/help/New-AzStorageSyncService.md
  src/StorageSync/StorageSync/help/Set-AzStorageSyncService.md
  src/StorageSync/StorageSync/help/Set-AzStorageSyncServiceIdentity.md
  src/StreamAnalytics/StreamAnalytics/help/Get-AzStreamAnalyticsOutput.md
  src/StreamAnalytics/StreamAnalytics/help/New-AzStreamAnalyticsOutput.md
  src/StreamAnalytics/StreamAnalytics/help/Remove-AzStreamAnalyticsCluster.md
  src/StreamAnalytics/StreamAnalytics/help/Update-AzStreamAnalyticsOutput.md
Due: none

fix spelling
  src/Synapse/Synapse/help/Add-AzSynapseDataFlowDebugSessionPackage.md
  src/Synapse/Synapse/help/Add-AzSynapseTriggerSubscription.md
  src/Synapse/Synapse/help/Az.Synapse.md
  src/Synapse/Synapse/help/Export-AzSynapseKqlScript.md
  src/Synapse/Synapse/help/Export-AzSynapseNotebook.md
  src/Synapse/Synapse/help/Get-AzSynapseDroppedSqlPool.md
  src/Synapse/Synapse/help/Get-AzSynapseFirewallRule.md
  src/Synapse/Synapse/help/Get-AzSynapseManagedPrivateEndpoint.md
  src/Synapse/Synapse/help/Get-AzSynapseTriggerSubscriptionStatus.md
  src/Synapse/Synapse/help/Invoke-AzSynapseTriggerRun.md
  src/Synapse/Synapse/help/New-AzSynapseFirewallRule.md
  src/Synapse/Synapse/help/New-AzSynapseWorkspacePackage.md
  src/Synapse/Synapse/help/Remove-AzSynapseFirewallRule.md
  src/Synapse/Synapse/help/Remove-AzSynapseLinkConnection.md
  src/Synapse/Synapse/help/Remove-AzSynapseManagedPrivateEndpoint.md
  src/Synapse/Synapse/help/Remove-AzSynapseTriggerSubscription.md
  src/Synapse/Synapse/help/Restore-AzSynapseSqlPool.md
  src/Synapse/Synapse/help/Update-AzSynapseFirewallRule.md
  src/Synapse/Synapse/help/Update-AzSynapseSparkPool.md
  src/Synapse/Synapse/help/Update-AzSynapseWorkspace.md
  src/TrustedSigning/TrustedSigning/help/Get-AzTrustedSigningCertificateChain.md
  src/TrustedSigning/TrustedSigning/help/Get-AzTrustedSigningCertificateRoot.md
  src/VMware/VMware/help/New-AzVMwareDatastore.md
  src/VMware/VMware/help/New-AzVMwareGlobalReachConnection.md
  src/VMware/VMware/help/Update-AzVMwareDatastore.md
  src/VMware/VMware/help/Update-AzVMwareGlobalReachConnection.md
  src/VMware/VMware/help/Update-AzVMwarePrivateCloud.md
Due: none
