Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

abc
  tools/NewOutputTypeIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update the logic to generate index data for docs
  .azure-pipelines/code-sign.yml
  build.proj
  tools/Docs/HelpIndex.ps1
  tools/Docs/OutputTypeIndex.ps1
  tools/NewOutputTypeIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

add tests for new file and upload, removefile name as a parameter
  src/Support/Support.Autorest/README.md
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUpload.ps1
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUploadNoSubscription.ps1
  src/Support/Support.Autorest/docs/New-AzSupportFileAndUpload.md
  src/Support/Support.Autorest/docs/New-AzSupportFileAndUploadNoSubscription.md
  src/Support/Support.Autorest/test/New-AzSupportFileAndUpload.Recording.json
  src/Support/Support.Autorest/test/New-AzSupportFileAndUpload.Tests.ps1
  src/Support/Support.Autorest/test/New-AzSupportFileAndUploadNoSubscription.Recording.json
  src/Support/Support.Autorest/test/New-AzSupportFileAndUploadNoSubscription.Tests.ps1
  src/Support/Support.Autorest/test/env.json
Due: none

remove new files no subscription
  src/Support/Support.Autorest/Az.Support.psd1
  src/Support/Support.Autorest/README.md
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUpload.ps1
  src/Support/Support.Autorest/docs/Az.Support.md
  src/Support/Support.Autorest/docs/New-AzSupportFileAndUpload.md
  src/Support/Support.Autorest/docs/New-AzSupportFilesNoSubscription.md
  src/Support/Support.Autorest/examples/New-AzSupportFilesNoSubscription.md
Due: none

tests for get file
  src/Support/Support.Autorest/test/Get-AzSupportFile.Recording.json
  src/Support/Support.Autorest/test/Get-AzSupportFile.Tests.ps1
  src/Support/Support.Autorest/test/Get-AzSupportFilesNoSubscription.Recording.json
  src/Support/Support.Autorest/test/Get-AzSupportFilesNoSubscription.Tests.ps1
  src/Support/Support.Autorest/test/New-AzSupportFileAndUpload.Tests.ps1
  src/Support/Support.Autorest/test/Test-AzSupportTicketNameAvailability.Tests.ps1
  src/Support/Support.Autorest/test/Test-AzSupportTicketsNoSubscriptionNameAvailability.Tests.ps1
  src/Support/Support.Autorest/test/env.json
  src/Support/Support.Autorest/test/files/test2.txt
  src/Support/Support.Autorest/test/utils.ps1
Due: none

Implemention of AuxTenant parameter in New-AzResourceGroupDeployment.
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/SdkClient/NewResourceManagerSdkClient.cs
  src/Resources/ResourceManager/SdkModels/Deployments/PSDeploymentCmdletParameters.cs
  src/Resources/Resources.sln
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/New-AzResourceGroupDeployment.md
Due: none

Bump up version
  tools/Docs/HelpIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync resourceManagement.yml (#24085)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix typo
  ChangeLog.md
Due: none

Polish ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

Revert Resources.sln
  src/Resources/Resources.sln
Due: none

Update ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
Due: none

Implemention of AuxTenant parameter in New-AzResourceGroupDeployment. (#24088)
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/SdkClient/NewResourceManagerSdkClient.cs
  src/Resources/ResourceManager/SdkModels/Deployments/PSDeploymentCmdletParameters.cs
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/New-AzResourceGroupDeployment.md
Due: none

Build an engineering build for Az.Resources
  src/Resources/Authorization.Autorest/Properties/AssemblyInfo.cs
  src/Resources/Authorization.Management.Sdk/Properties/AssemblyInfo.cs
  src/Resources/MSGraph.Autorest/Properties/AssemblyInfo.cs
  src/Resources/ResourceManager/Properties/AssemblyInfo.cs
  src/Resources/Resources.Sdk/Properties/AssemblyInfo.cs
  src/Resources/Resources/Az.Resources.psd1
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/Properties/AssemblyInfo.cs
  src/Resources/Tags/Properties/AssemblyInfo.cs
Due: none

Update CosmosDB.csproj
  src/CosmosDB/CosmosDB/CosmosDB.csproj
Due: none

Update ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

fix2
  src/Marketplace/Marketplace.Autorest/test/Disable-AzMarketplacePrivateStoreCollectionApproveItem.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreCollectionRule.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStore.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStoreCollection.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Test-AzMarketplacePrivateStoreAnyExistingOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Test-AzMarketplacePrivateStoreAnyExistingOffer.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollection.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollectionOffer.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/utils.ps1
Due: none

Update ConnectAzureRmAccount.cs
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
Due: none

Rename pr-labeled.yml to pr-labeled.yml09
  .github/workflows/pr-labeled.yml09
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test
  tools/Docs/OutputTypeIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update polling method
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersTests.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.ServiceFabricManagedClustersTests/TestAddNetworkSecurityRule.json
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/ManagedClusters/NewAzServiceFabricManagedCluster.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/ServiceFabricManagedCmdletBase.cs
Due: none

erroraction stop
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUpload.ps1
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUploadNoSubscription.ps1
Due: none

rename to tags
  src/ConnectedMachine/ConnectedMachine.Autorest/README.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineRunCommand.md
Due: none

remove unnecessary comments and print statements
  src/Support/Support.Autorest/README.md
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUpload.ps1
  src/Support/Support.Autorest/custom/New-AzSupportFileAndUploadNoSubscription.ps1
Due: none

Sync resourceManagement.yml (#24092)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix script
  tools/Docs/OutputTypeIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test pipeline
  src/Monitor/DiagnosticSetting.Autorest/examples/New-AzDiagnosticSetting.md
Due: none

Update README.md
  src/VMware/README.md
Due: none

update test resources
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/Common.ps1
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestNewAzureRmServiceFabricCluster.json
Due: none

Resolve conflict with main
  src/Accounts/Accounts/ChangeLog.md
Due: none

Resolve conflicts between release-2024-02-06 and main (#24097)
  .github/policies/resourceManagement.yml
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
  src/Accounts/Authenticators/DeviceCodeAuthenticator.cs
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/SdkClient/NewResourceManagerSdkClient.cs
  src/Resources/ResourceManager/SdkModels/Deployments/PSDeploymentCmdletParameters.cs
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/New-AzResourceGroupDeployment.md
  tools/DevTools/CommonRepo.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update monitor test and design by autorest change
  src/Monitor/ActionGroup.Autorest/test/Enable-AzActionGroupReceiver.Recording.json
  src/Monitor/ActionGroup.Autorest/test/Enable-AzActionGroupReceiver.Tests.ps1
  src/Monitor/ActionGroup.Autorest/test/Get-AzActionGroup.Recording.json
  src/Monitor/ActionGroup.Autorest/test/New-AzActionGroup.Recording.json
  src/Monitor/ActionGroup.Autorest/test/Remove-AzActionGroup.Recording.json
  src/Monitor/ActionGroup.Autorest/test/Test-AzActionGroup.Recording.json
  src/Monitor/ActionGroup.Autorest/test/Update-AzActionGroup.Recording.json
  src/Monitor/ActionGroup.Autorest/test/env.json
  src/Monitor/ActionGroup.Autorest/test/utils.ps1
  src/Monitor/DataCollectionRule.Autorest/README.md
Due: none

run
  src/Marketplace/Marketplace.Autorest/test/Copy-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Disable-AzMarketplacePrivateStoreCollectionAllItem.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Enable-AzMarketplacePrivateStoreCollectionAllItem.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplaceBillingPrivateStoreAccount.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplaceCollectionToSubscriptionMapping.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreAllSubscriptionInTenant.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreCollectionMapOffersToContext.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreCollectionRule.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreNewPlanNotification.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreStopSellOfferPlanNotification.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreSubscription.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreUserOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreUserRule.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplacePrivateStoreV1.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplaceQueryPrivateStoreOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Get-AzMarketplaceQueryPrivateStoreOffer.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/New-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/New-AzMarketplacePrivateStoreCollection.Tests.ps1
  src/Marketplace/Marketplace.Autorest/test/New-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/New-AzMarketplacePrivateStoreCollectionOfferMultiContext.Recording.json
  src/Marketplace/Marketplace.Autorest/test/New-AzMarketplacePrivateStoreCollectionRule.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Remove-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Remove-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplaceBulkPrivateStoreCollectionAction.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStore.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Set-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Test-AzMarketplacePrivateStoreAnyExistingOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollection.Recording.json
  src/Marketplace/Marketplace.Autorest/test/Update-AzMarketplacePrivateStoreCollectionOffer.Recording.json
  src/Marketplace/Marketplace.Autorest/test/env.json
Due: none

Update src/Marketplace/Marketplace.Autorest/README.md
  src/Marketplace/Marketplace.Autorest/README.md
Due: none
