Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update ChangeLog.md (#26394)
  src/Elastic/Elastic/ChangeLog.md
Due: none

Exception issue Decimal type change to Decimal? type
  tools/StaticAnalysis/Exceptions/Az.Billing/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/DataBoxEdge/DataBoxEdge/ChangeLog.md
Due: none

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Billing/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for DesktopVirtualization
  NuGet.Config
  src/DesktopVirtualization/DesktopVirtualization.Autorest/Properties/AssemblyInfo.cs
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Integrate secrets detection library with telemetry
  src/Accounts/Accounts/CommonModule/AzModule.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerCollectionProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerDictionaryProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerJsonArrayProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerJsonObjectProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerStringProvider.cs
  src/Accounts/Authentication/Sanitizer/Services/DefaultSanitizerService.cs
  src/Accounts/Authentication/Sanitizer/Services/ISanitizerService.cs
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Tests passing
  src/HealthDeid/HealthDeid.Autorest/docs/Get-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/New-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidPrivateLink.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidPrivateLink.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/env.json
  src/HealthDeid/HealthDeid.Autorest/test/utils.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzHealthDeidentificationPrivateLink.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/utils.ps1
Due: none

Add changelog of version 2.9.0
  src/DnsResolver/DnsResolver/ChangeLog.md
Due: none

Update Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
Due: none

Update Az.ElasticSan.psd1 (#26403)
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
Due: none

[Storage] Temporary fix for file trailing dot live test case (#26329)
  src/Storage/LiveTests/Storage.Management/FileTests.ps1
Due: none

Update NuGet.Config
  NuGet.Config
Due: .azure-pipelines/sync-tools-folder.yml

rename invoke cdnprofilecan
  src/Cdn/Cdn.Autorest/README.md
Due: none

Upgraded Azure.Core to 1.44.1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/Compute/Compute/ChangeLog.md
  src/ContainerRegistry/ContainerRegistry/ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/KeyVault/KeyVault/ChangeLog.md
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/PolicyInsights/PolicyInsights/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/lib/netfx/System.Text.Encodings.Web.dll
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/Microsoft.Bcl.AsyncInterfaces.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  src/lib/netstandard2.0/System.Memory.Data.dll
  src/lib/netstandard2.0/System.Text.Json.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Address review comments
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/SshCredentialFactory.cs
Due: none

gen finished
  src/Cdn/Cdn.Autorest/Properties/AssemblyInfo.cs
  src/Cdn/Cdn.Autorest/README.md
Due: none

Integrate Microsoft.Identity.Client 4.65.0
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/Microsoft.Identity.Client.Broker.dll
  src/lib/netstandard2.0/Microsoft.Identity.Client.Extensions.Msal.dll
  src/lib/netstandard2.0/Microsoft.Identity.Client.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for Accounts
  NuGet.Config
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
  tools/Tools.Common/SerializedCmdlets/Az.Accounts.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

updated the supression to UXMetadataIssues
  tools/StaticAnalysis/Exceptions/Az.Workloads/UXMetadataIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update examples
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/examples/Set-AzConnectedKubernetes.md
Due: none

read properties from InputObject
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
Due: none

remove comments in README
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/README.md
Due: none

sset value of wif later
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
Due: none

Update ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Attestation/Attestation/ChangeLog.md
Due: none

Fix target hyperv generation for vmware & msi auth check (#26211)
  src/Migrate/Migrate.Autorest/custom/Initialize-AzMigrateHCIReplicationInfrastructure.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateHCIServerReplication.ps1
Due: none

build issues
  src/Network/Network/NetworkManager/NetworkManagerSecurityAdminConfiguration/NewAzNetworkManagerSecurityAdminConfigurationCommand.cs
Due: none
