Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Kusto/ChangeLog.md
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Kusto/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Network/Network/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Billing/Billing/ChangeLog.md
Due: none

Copied missing psd1 files for .AutoRest to main branch
  src/AppConfiguration/AppConfiguration.Autorest/Az.AppConfiguration.psd1
  src/Attestation/Attestation.Autorest/Az.Attestation.psd1
  src/EventHub/EventHub.Autorest/Az.EventHub.psd1
  src/Monitor/ActivityLogAlert.Autorest/Az.ActivityLogAlert.psd1
  src/Monitor/Autoscale.Autorest/Az.Autoscale.psd1
  src/Monitor/DiagnosticSetting.Autorest/Az.DiagnosticSetting.psd1
  src/Monitor/ScheduledQueryRule.Autorest/Az.ScheduledQueryRule.psd1
  src/Resources/MSGraph.Autorest/Az.MSGraph.psd1
  src/ServiceBus/ServiceBus.Autorest/Az.ServiceBus.psd1
Due: none

Copied missing psd1 files for .AutoRest to main branch (#21272)
  src/AppConfiguration/AppConfiguration.Autorest/Az.AppConfiguration.psd1
  src/Attestation/Attestation.Autorest/Az.Attestation.psd1
  src/EventHub/EventHub.Autorest/Az.EventHub.psd1
  src/Monitor/ActivityLogAlert.Autorest/Az.ActivityLogAlert.psd1
  src/Monitor/Autoscale.Autorest/Az.Autoscale.psd1
  src/Monitor/DiagnosticSetting.Autorest/Az.DiagnosticSetting.psd1
  src/Monitor/ScheduledQueryRule.Autorest/Az.ScheduledQueryRule.psd1
  src/Resources/MSGraph.Autorest/Az.MSGraph.psd1
  src/ServiceBus/ServiceBus.Autorest/Az.ServiceBus.psd1
Due: none

Copy psd1 and generated folder for test
  src/Az.autorest.hybrid.props
Due: none

Fixed the failed test case New-AzWebPubSubCustomDomain
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubCustomDomain.Tests.ps1
Due: none

Added function to raise PR
  .azure-pipelines/test-coverage.yml
  tools/TestFx/Coverage/AnalyzeTestCoverage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update changelog for breaking changes of sqlvm
  src/SqlVirtualMachine/SqlVirtualMachine/ChangeLog.md
Due: none

Pricesheet sync API next page link fix (Skip token getting trimmed) (#21249)
  src/Billing/Billing/ChangeLog.md
  src/Billing/Consumption/Cmdlets/GetAzureRmConsumptionPriceSheet.cs
Due: none

Remove link from New-AzWebPubSubEventHubEndpointObject in custom
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventHubEndpointObject.ps1
Due: none

Remove link from New-AzWebPubSubEventNameFilterObject in custom
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventNameFilterObject.ps1
Due: none

Update psci.psm1
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed the failed test case New-AzWebPubSubCustomDomain (#21274)
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventHubEndpointObject.ps1
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventNameFilterObject.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubCustomDomain.Tests.ps1
Due: none

deprecate 2 breaking changes md files
  documentation/breaking-changes/breaking-changes-attribute-help.md
  documentation/breaking-changes/breaking-changes-definition.md
Due: none

Fixed assertion issue and replaced branch to main
  .azure-pipelines/live-test.yml
  tools/TestFx/Assert.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

update typing o to O
  documentation/breaking-changes/breaking-changes-attribute-help.md
  documentation/breaking-changes/breaking-changes-definition.md
Due: none

Not include *.autorest/*.psd1
  .azure-pipelines/SyncFromMainBranchConfig.json
  tools/CheckAssemblies.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Reverted hybrid props
  src/Az.autorest.hybrid.props
Due: none

Not include *.autorest/*.psd1
  src/Az.autorest.hybrid.props
Due: none

Not include *.autorest/*.psd1
  tools/UpdateModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Not include *.autorest/*.psd1
  tools/NewOutputTypeIndex.ps1
  tools/TestModuleLoading.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

prepare for merging code to main branch
  src/SqlVirtualMachine/Az.SqlVirtualMachine.psd1
  src/SqlVirtualMachine/ChangeLog.md
  src/SqlVirtualMachine/Properties/AssemblyInfo.cs
Due: none

deprecate 2 breaking changes md files (#21277)
  documentation/breaking-changes/breaking-changes-attribute-help.md
  documentation/breaking-changes/breaking-changes-definition.md
Due: none

update test case to align with CI
  src/SqlVirtualMachine/test/Get-AzAvailabilityGroupListener.Tests.ps1
  src/SqlVirtualMachine/test/Get-AzSqlVM.Tests.ps1
  src/SqlVirtualMachine/test/Get-AzSqlVMGroup.Tests.ps1
  src/SqlVirtualMachine/test/Invoke-AzRedeploySqlVM.Tests.ps1
  src/SqlVirtualMachine/test/Invoke-AzSqlVMTroubleshoot.Tests.ps1
  src/SqlVirtualMachine/test/Remove-AzAvailabilityGroupListener.Tests.ps1
  src/SqlVirtualMachine/test/Remove-AzSqlVM.Tests.ps1
  src/SqlVirtualMachine/test/Remove-AzSqlVMGroup.Tests.ps1
  src/SqlVirtualMachine/test/Start-AzSqlVMAssessment.Tests.ps1
  src/SqlVirtualMachine/test/Update-AzSqlVM.Tests.ps1
  src/SqlVirtualMachine/test/Update-AzSqlVMGroup.Tests.ps1
Due: none

Update psci.psm1 (#21276)
  tools/SwaggerCI/psci.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Not include *.autorest/*.psd1 (#21278)
  .azure-pipelines/SyncFromMainBranchConfig.json
  src/Az.autorest.hybrid.props
  tools/CheckAssemblies.ps1
  tools/NewOutputTypeIndex.ps1
  tools/TestModuleLoading.ps1
  tools/UpdateModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  src/Az.autorest.hybrid.props
  src/Az.autorest.hybrid.v2.props
  src/Az.autorest.props
  tools/CheckAssemblies.ps1
  tools/NewOutputTypeIndex.ps1
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Kusto/BreakingChangeIssues.csv
  tools/SwaggerCI/psci.psm1
  tools/TestModuleLoading.ps1
  tools/UpdateModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml
