Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update WebsitesTestRunner.cs
  src/Websites/Websites.Test/ScenarioTests/WebsitesTestRunner.cs
Due: none

Add JobAttempt to artifactname
  .azure-pipelines/util/publish-artifacts-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fixed after build
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

code refactor
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Models/RMProfileClient.cs
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
  src/Accounts/Accounts/Utilities/InteractiveSubscriptionSelectionHelper.cs
Due: none

Auto discover OperationalInsights endpoint
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding changeLog
  src/Network/Network/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed a null reference issue during the process of Get-AzContext -ListAvailable [#24854]
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
Due: none

Add JobAttempt to artifactname
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/publish-artifacts-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

polish
  src/Accounts/Accounts/Models/RMProfileClient.cs
  src/Accounts/Accounts/Utilities/InteractiveSubscriptionSelectionHelper.cs
Due: none

Fix Microsoft.IdentityModel.Abstractions version issue
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/Microsoft.IdentityModel.Abstractions.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added Support for Network Profile in Virtual Appliance
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSVirtualApplianceNetworkProfile.cs
  src/Network/Network/NetworkVirtualAppliance/NetworkProfile/NewVirtualApplianceNetworkProfileCommand.cs
  src/Network/Network/NetworkVirtualAppliance/NetworkProfile/VirtualApplianceNetworkProfileBaseCmdlet.cs
  src/Network/Network/NetworkVirtualAppliance/NewNetworkVirtualApplianceCommand.cs
  src/Network/Network/help/New-AzNetworkVirtualAppliance.md
  src/Network/Network/help/New-AzVirtualApplianceIpConfiguration.md
  src/Network/Network/help/New-AzVirtualApplianceNetworkInterfaceConfiguration.md
  src/Network/Network/help/New-AzVirtualApplianceNetworkProfile.md
Due: none

Update src/Accounts/Accounts/Context/GetAzureRMContext.cs
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
Due: none

Sync tools folder from main branch to generation branch (#24864)
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add JobAttempt to artifactname (#24863)
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update sdk for flowlog without mi (#24861)
  src/Network/Network.Management.Sdk/Generated/Models/FlowLog.cs
  src/Network/Network.Management.Sdk/Generated/Models/FlowLogInformation.cs
  src/Network/Network.Management.Sdk/README.md
  src/Network/Network/ChangeLog.md
Due: none

remove sln when build finish
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add migration script
  tools/GenerationBranchMigrationScript/GenerateAssemblyInfo.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

development
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
Due: none

finish feature dev
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
Due: none

changelog and md file
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/help/New-AzGalleryImageDefinition.md
Due: none

test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

add new test
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.cs
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/TestGalleryImageDefinitionDefaults.json
Due: none

update working in changelog
  src/Compute/Compute/ChangeLog.md
Due: none

Added online version in md files
  src/Network/Network/help/New-AzVirtualApplianceIpConfiguration.md
  src/Network/Network/help/New-AzVirtualApplianceNetworkInterfaceConfiguration.md
  src/Network/Network/help/New-AzVirtualApplianceNetworkProfile.md
Due: none

cleanup
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

remove brk msg
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

add help
  src/Maintenance/Maintenance/Az.Maintenance.psd1
  src/Maintenance/Maintenance/help/Set-AzScheduledEvent.md
Due: none

add one more scenario to test
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/TestGalleryImageDefinitionDefaults.json
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
Due: none

assert line
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
Due: none

Sync Interop
  src/StorageSync/StorageSync.Test/Common/MockServerManagedIdentityProvider.cs
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
  src/StorageSync/StorageSync.Test/Common/MockSyncServerRegistrationClient.cs
  src/StorageSync/StorageSync.Test/Common/MockSyncServerRegistrationClientBase.cs
  src/StorageSync/StorageSync/Common/StorageSyncClientCmdletBase.cs
  src/StorageSync/StorageSync/Common/StorageSyncClientWrapper.cs
  src/StorageSync/StorageSync/Common/StorageSyncConstants.cs
  src/StorageSync/StorageSync/Common/StorageSyncResourceManager.cs
  src/StorageSync/StorageSync/InternalObjects/ServerRegistrationInformation.cs
  src/StorageSync/StorageSync/Interop/Clients/EcsManagementInteropClientPlayback.cs
  src/StorageSync/StorageSync/Interop/Clients/SyncServerRegistrationClient.cs
  src/StorageSync/StorageSync/Interop/Clients/SyncServerRegistrationClientBase.cs
  src/StorageSync/StorageSync/Interop/Enums/LocalServerType.cs
  src/StorageSync/StorageSync/Interop/Enums/ServerRegistrationErrorCode.cs
  src/StorageSync/StorageSync/Interop/Helpers/Win32Helper.cs
  src/StorageSync/StorageSync/Interop/Interfaces/IEcsManagement.cs
  src/StorageSync/StorageSync/Interop/Interfaces/IServerManagedIdentityProvider.cs
  src/StorageSync/StorageSync/Interop/Interfaces/IServerManagedIdentityTokenProvider.cs
  src/StorageSync/StorageSync/Interop/Interfaces/ISyncServerRegistration.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/HeaderConstants.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ManagedIdentityDataObjects.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ServerManagedIdentityErrorDetectionStrategy.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ServerManagedIdentityProvider.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ServerManagedIdentityTokenHelper.cs
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ServerManagedIdentityTokenProvider.cs
  src/StorageSync/StorageSync/Properties/StorageSyncResources.Designer.cs
  src/StorageSync/StorageSync/Properties/StorageSyncResources.resx
  src/StorageSync/StorageSync/RegisteredServer/RegisterServerCommand.cs
  src/StorageSync/StorageSync/StorageSync.csproj
Due: none

Adding restart nva powershell commandlet
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSNetworkVirtualApplianceRestartOperationStatusResponse.cs
  src/Network/Network/NetworkVirtualAppliance/RestartNetworkVirtualApplianceCommand.cs
  src/Network/Network/help/Az.Network.md
Due: none

Adding the restart powershell commands
  src/Network/Network/Common/NetworkBaseCmdlet.cs
  src/Network/Network/Models/PSNetworkVirtualApplianceRestartOperationStatusResponse.cs
  src/Network/Network/NetworkVirtualAppliance/RestartNetworkVirtualApplianceCommand.cs
Due: none

Ading the help document
  src/Network/Network/Az.Network.psd1
  src/Network/Network/help/Restart-AzNetworkVirtualAppliance.md
Due: none

Fixing bug
  src/Network/Network/NetworkVirtualAppliance/RestartNetworkVirtualApplianceCommand.cs
Due: none

Adding the tests
  src/Network/Network.Test/ScenarioTests/RestartNetworkVirtualApplianceTest.cs
  src/Network/Network.Test/ScenarioTests/RestartNetworkVirtualApplianceTest.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
