Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Added test case
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/ConversionHelpers.cs
  src/RecoveryServices/RecoveryServices.Test/ScenarioTests/RecoveryServicesTests.cs
  src/RecoveryServices/RecoveryServices.Test/ScenarioTests/RecoveryServicesTests.ps1
  src/RecoveryServices/RecoveryServices.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Test.ScenarioTests.RecoveryServicesTests/TestRecoveryServicesSoftDeletedVaultOperations.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/Vault/UndoAzRecoveryServicesVaultDeletion.cs
  src/RecoveryServices/RecoveryServices/help/Az.RecoveryServices.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesSoftDeletedVault.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesSoftDeletedVaultBackupItem.md
  src/RecoveryServices/RecoveryServices/help/Undo-AzRecoveryServicesVaultDeletion.md
Due: none

RedisEnterpriseCache add breaking change for migration autorest v4
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/Properties/AssemblyInfo.cs
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/README.md
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/custom/Get-AzRedisEnterpriseCache.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/custom/Get-AzRedisEnterpriseCacheDatabase.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/custom/New-AzRedisEnterpriseCache.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/custom/New-AzRedisEnterpriseCacheDatabase.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/custom/Update-AzRedisEnterpriseCacheDatabase.ps1
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/docs/Az.RedisEnterpriseCache.md
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/generate-info.json
  src/RedisEnterpriseCache/RedisEnterpriseCache.sln
  src/RedisEnterpriseCache/RedisEnterpriseCache/Az.RedisEnterpriseCache.psd1
Due: none

add [Microsoft.Azure.PowerShell.Cmdlets.Cdn.ModelCmdletAttribute()]
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendPoolObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendPoolsSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorFrontendEndpointObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorHealthProbeSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorLoadBalancingSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRoutingRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineActionObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineMatchConditionObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorWafCustomRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorWafManagedRuleOverrideObject.ps1
Due: none

rename
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendPoolObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorBackendPoolsSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorFrontendEndpointObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorHealthProbeSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorLoadBalancingSettingObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRoutingRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineActionObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineMatchConditionObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorRulesEngineRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorWafCustomRuleObject.ps1
  src/FrontDoor/FrontDoor.Autorest/custom/New-AzFrontDoorWafManagedRuleOverrideObject.ps1
Due: none

regen
  src/FrontDoor/FrontDoor.Autorest/docs/Az.FrontDoor.md
  src/FrontDoor/FrontDoor.Autorest/generate-info.json
  src/FrontDoor/FrontDoor.sln
  src/FrontDoor/FrontDoor/Az.FrontDoor.psd1
Due: none

Update ChangeLog.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/ChangeLog.md
Due: none

Create \BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataTransfer/\BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog with FlowProfile commands
  src/DataTransfer/DataTransfer/ChangeLog.md
Due: none

Rename \BreakingChangeIssues.csv to BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataTransfer/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Az.ServiceFabric] Change from `Basic` to `Standard` SKUs for loadbalancers and public IP addresses for `New-AzServiceFabricCluster` and `Add-AzServiceFabricNodeType`
  src/ServiceFabric/ServiceFabric.Test/Resources/template.json
  src/ServiceFabric/ServiceFabric.Test/Resources/templateCNCert.json
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/Common.ps1
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.cs
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestAddAzureRmServiceFabricNode.json
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestAddAzureRmServiceFabricNodeType.json
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestNewAzureRmServiceFabricCluster.json
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestRemoveAzureRmServiceFabricClientCertificate.json
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/AddAzureRmServiceFabricNodeType.cs
  src/ServiceFabric/ServiceFabric/Template/Windows/template.json
Due: none

redact storage key for temp test resource
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestAddAzureRmServiceFabricNodeType.json
Due: none

Update ChangeLog.md
  src/ServiceFabric/ServiceFabric/ChangeLog.md
Due: none

Set Prerelease to 'preview' for Az.DataTransfer module
  src/DataTransfer/DataTransfer/Az.DataTransfer.psd1
Due: none

Set Prerelease to 'preview' for Az.DataTransfer module (#28625)
  src/DataTransfer/DataTransfer/Az.DataTransfer.psd1
Due: none

Bump up version for DataTransfer
  NuGet.Config
  src/DataTransfer/DataTransfer/Az.DataTransfer.psd1
  src/DataTransfer/DataTransfer/ChangeLog.md
  src/DataTransfer/DataTransfer/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed Example Ellicitation, Improved Examples (Real Params)
  tools/CreateMappings_rules.json
  tools/Mcp/src/services/toolsService.ts
  tools/Mcp/src/specs/prompts/partner-module-workflow.md
  tools/Mcp/src/specs/responses.json
  tools/Mcp/src/specs/specs.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated Changelog
  src/Compute/Compute/ChangeLog.md
Due: none

Update test case
  src/Functions/Functions.Autorest/test/New-Update-Remove-AzFunctionApp.Tests.ps1
Due: none

Add monthly issue metrics workflow
  .github/workflows/issue-metrics.yml
Due: azure-pipelines.yml

Modify issue-metrics workflow to track draft PRs
  .github/workflows/issue-metrics.yml
Due: azure-pipelines.yml

Add monthly issue metrics workflow (#28629)
  .github/workflows/issue-metrics.yml
Due: azure-pipelines.yml

Re-recorded Tests
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.AccessPolicyTests/TestSetAllAccessPolicies.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestCreateNewVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestDeleteVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestGetVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestListVaults.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestModifyAccessPolicyNegativeCases.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestPublicNetworkAccessWhenCreateNewVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestUpdateKeyVaultWithPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestUpdateVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateManagedHsmWithDisabledPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateManagedHsmWithEnabledPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmCRUD.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmPurgeProtection.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmSoftDelete.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestNewManagedHsmWithManagedServiceIdentity.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestUndoManagedHsmRemoval.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.NetworkRuleTests/TestCreateVaultWithNetworkRule.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.NetworkRuleTests/TestUpdateVaultWithNetworkRule.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.PrivateEndpointTests/TestPrivateEndpoint.json
Due: none

Apply suggestions from code review
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/help/New-AzSqlDatabaseExport.md
Due: none

Custom code announcement
  src/LoadTesting/LoadTesting.Autorest/Properties/AssemblyInfo.cs
  src/LoadTesting/LoadTesting.Autorest/README.md
  src/LoadTesting/LoadTesting.Autorest/custom/Get-AzLoad.ps1
  src/LoadTesting/LoadTesting.Autorest/custom/New-AzLoad.ps1
  src/LoadTesting/LoadTesting.Autorest/custom/Update-AzLoad.ps1
  src/LoadTesting/LoadTesting.Autorest/generate-info.json
  src/LoadTesting/LoadTesting.sln
  src/LoadTesting/LoadTesting/Az.LoadTesting.psd1
Due: none

Updated Readme
  tools/Mcp/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

More tests
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestCreateNewVault.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.KeyVaultManagementTests/TestUpdateVault.json
Due: none

docs(Oracle): was added tests for Network and Resource anchors
  src/Oracle/Oracle.Autorest/test/Get-AzOracleNetworkAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/Get-AzOracleResourceAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/New-AzOracleNetworkAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/New-AzOracleResourceAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/Remove-AzOracleNetworkAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/Remove-AzOracleResourceAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/Update-AzOracleNetworkAnchor.Tests.ps1
  src/Oracle/Oracle.Autorest/test/Update-AzOracleResourceAnchor.Tests.ps1
Due: none

Learn Editor: Update Start-AzStorageAccountMigration.md
  src/Storage/Storage.Management/help/Start-AzStorageAccountMigration.md
Due: none

Learn Editor: Update Get-AzStorageAccountMigration.md
  src/Storage/Storage.Management/help/Get-AzStorageAccountMigration.md
Due: none

[Az.ServiceFabric] Removed `ReimageByName`, `ReimageById`, and `ReimageByObj` parameter sets from `Set-AzServiceFabricManagedNodeType`
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/SetAzServiceFabricManagedNodeType.cs
Due: none

help
  src/ServiceFabric/ServiceFabric/help/Set-AzServiceFabricManagedNodeType.md
Due: none

Update PSVirtualMachine models to use APAE Param, updated NewAzvm cmdlet to allow Param
  src/Compute/Compute/Manual/PSVirtualMachineScaleSet.cs
  src/Compute/Compute/Models/PSVirtualMachine.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Update src/Sql/Sql/help/New-AzSqlDatabaseExport.md
  src/Sql/Sql/help/New-AzSqlDatabaseExport.md
Due: none

Document using managed identity with New-AzSqlDatabaseExport (#27881)
  src/Sql/Sql/help/New-AzSqlDatabaseExport.md
Due: none

test simple change for static analysis fix
  src/Oracle/Oracle.Autorest/examples/Get-AzOracleAutonomousDatabase.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
