Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update Get-AzRoleAssignment.md
  src/Resources/Resources/help/Get-AzRoleAssignment.md
Due: none

Throw exception when encryption identity is not part of assigned Identities
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithEncryptionIdentityAddedInAzVmConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithEncryptionIdentityAddedInSetADECmdlet.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithIdentityNotAckledInKeyVault.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithIdentityNotSetInVirtualMachine.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestAddEncryptionIdentityInAzureVmConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestEncryptionIdentityNotPartOfAssignedIdentitiesInAzureVm.json
  src/Compute/Compute/Extension/AzureDiskEncryption/SetAzureDiskEncryptionExtension.cs
  src/Compute/Compute/Properties/Resources.Designer.cs
  src/Compute/Compute/Properties/Resources.resx
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

rename archive-generated.yml to azure-powershell-ci.yml
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

some fixes
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Remove unwanted changes
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithEncryptionIdentityAddedInAzVmConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithEncryptionIdentityAddedInSetADECmdlet.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithIdentityNotAckledInKeyVault.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithIdentityNotSetInVirtualMachine.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestAddEncryptionIdentityInAzureVmConfig.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestEncryptionIdentityNotPartOfAssignedIdentitiesInAzureVm.json
  src/Compute/Compute/Extension/AzureDiskEncryption/SetAzureDiskEncryptionExtension.cs
  src/Compute/Compute/Properties/Resources.Designer.cs
  src/Compute/Compute/Properties/Resources.resx
Due: none

Remove changes not required
  src/Compute/Compute/Properties/Resources.Designer.cs
Due: none

remove unwanted changes1
  src/Compute/Compute/Properties/Resources.Designer.cs
Due: none

fix remaining unwanted changes
  src/Compute/Compute/Properties/Resources.Designer.cs
Due: none

fix identation issues
  src/Compute/Compute/Extension/AzureDiskEncryption/SetAzureDiskEncryptionExtension.cs
Due: none

markdown check
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineExtensionTests/TestAzureDiskEncryptionWithEncryptionIdentityAddedInSetADECmdlet.json
  src/Compute/Compute/help/Set-AzVMDiskEncryptionExtension.md
Due: none

update examples
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Stop-AzComputeScheduleScheduledAction.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/README.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Stop-AzComputeScheduleScheduledAction.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/AzComputeSchedule.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Get-AzComputeScheduleOperationError.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Get-AzComputeScheduleOperationStatus.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteDeallocate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteHibernate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteStart.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitDeallocate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitHibernate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitStart.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Stop-AzComputeScheduleScheduledAction.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/env.json
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/localEnv.json
Due: none

remove unnecessary file
  src/ComputeSchedule/README.md
Due: none

remove other test files
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Get-AzComputeScheduleOperationError.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Get-AzComputeScheduleOperationStatus.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteDeallocate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteHibernate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleExecuteStart.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitDeallocate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitHibernate.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Invoke-AzComputeScheduleSubmitStart.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/Stop-AzComputeScheduleScheduledAction.Tests.ps1
Due: none

Fix live test issues in LTS due to branch name change
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch (#26888)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Updating the ChangeLog
  src/Sql/Sql/ChangeLog.md
Due: none

Sync resourceManagement.yml (#26892)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Update Enable-AzAksAddOn.md
  src/Aks/Aks/help/Enable-AzAksAddOn.md
Due: none

add recording for tests
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/AzComputeSchedule.Recording.json
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/AzComputeSchedule.Tests.ps1
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/env.json
Due: none

update tests
  src/EventHub/EventHub.Autorest/test/Get-AzEventHubKey.Tests.ps1
  src/EventHub/EventHub.Autorest/test/New-AzEventHubGeoDRConfiguration.Tests.ps1
  src/EventHub/EventHub.Autorest/test/New-AzEventHubKey.Tests.ps1
Due: none

update tests
  src/EventHub/EventHub.Autorest/test/Get-AzEventHubKey.Tests.ps1
Due: none

update the output type of Get-AzWebAppPublishingProfile from String to SecureString
  src/Websites/Websites.Test/ScenarioTests/WebAppTests.ps1
  src/Websites/Websites/Cmdlets/WebApps/GetAzureWebAppPublishingProfile.cs
  src/Websites/Websites/Cmdlets/WebApps/Utils.cs
  src/Websites/Websites/help/Get-AzWebAppPublishingProfile.md
Due: none

Try removing track 1 deps
  src/OperationalInsights/OperationalInsights.Test/OperationalInsights.Test.csproj
Due: none

fix pipelines
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix Az.Compute and Az.Network module references
  src/Maintenance/Maintenance.Test/Maintenance.Test.csproj
  src/Maintenance/Maintenance.Test/ScenarioTests/Common.ps1
  src/Maintenance/Maintenance.Test/SessionRecords/Microsoft.Azure.Commands.Maintenance.Test.ScenarioTests.MaintenanceTests/TestGetAzApplyUpdateWithParentResource.json
  src/Maintenance/Maintenance.Test/SessionRecords/Microsoft.Azure.Commands.Maintenance.Test.ScenarioTests.MaintenanceTests/TestGetAzApplyUpdateWithoutParentResource.json
  src/Maintenance/Maintenance.sln
Due: none

fix
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update examples
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/docs/Stop-AzComputeScheduleScheduledAction.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationError.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Get-AzComputeScheduleOperationStatus.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleExecuteStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitDeallocate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitHibernate.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Invoke-AzComputeScheduleSubmitStart.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/examples/Stop-AzComputeScheduleScheduledAction.md
  src/ComputeSchedule/ComputeSchedule.AutoRest/test/AzComputeSchedule.Tests.ps1
Due: none

add device registry readme
  src/DeviceRegistry/DeviceRegistry.Autorest/README.md
Due: none

Add tests for zonalallocationpolicy
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.cs
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.ps1
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestAuthenticationCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestAutomaticZonalAllocationPolicyForStandardCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestDiagnosticOperations.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestFirewallRule.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestGeoReplication.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestImportExportRebootClear.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestManagedIdentity.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCacheClustering.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCachePatchSchedules.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestRedisCachePipeline.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestSetNonExistingRedisCacheTest.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestUpdateToAutomaticZonalAllocationPolicyForPremiumCache.json
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestZones.json
Due: none

pipeline errors
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerIpamPoolStaticCidrCRUD.json
  src/Network/Network/help/New-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntent.md
Due: none

test
  .azure-pipelines/PipelineSteps/build-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

executed all tests
  src/RedisCache/RedisCache.Test/ScenarioTests/RedisCacheTests.ps1
  src/RedisCache/RedisCache.Test/SessionRecords/Microsoft.Azure.Commands.RedisCache.Test.ScenarioTests.RedisCacheTests/TestUpdateChannel.json
Due: none

updated ChangeLog.md
  src/RedisCache/RedisCache/ChangeLog.md
Due: none
