Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Fleet recordings
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.FleetTests/TestFleetCreateUpdateGetCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.FleetTests/TestFleetWithTags.json
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
Due: none

Functions OOB Release (#28908)
  src/Functions/Functions/Az.Functions.psd1
  src/Functions/Functions/ChangeLog.md
  src/Functions/Functions/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Tools.Common/SerializedCmdlets/Az.Functions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Refactor GetDynamicParameters to use base method
  src/Network/Network/PrivateLinkService/PrivateLinkResource/GetAzurePrivateLinkResourceCommand.cs
Due: none

Refactor GetDynamicParameters to use base method
  src/Network/Network/PrivateLinkService/PrivateEndpointConnection/PrivateEndpointConnectionBaseCmdlet.cs
Due: none

Pin commit id for migrate
  src/Migrate/README.md
Due: none

Bump up version for DesktopVirtualization
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Init KV security fix
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/Microsoft.Azure.Build.Tasks.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added Encryption Changes
  src/KeyVault/KeyVault/Az.KeyVault.psd1
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/KeyVault.csproj
  src/KeyVault/KeyVault/SecurityDomain/Models/CertKey.cs
  src/KeyVault/KeyVault/Track2Models/Track2KeyVaultDataServiceClient.cs
Due: none

DesktopVirtualization OOB Release (#28922)
  src/DesktopVirtualization/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Help files
  src/CosmosDB/CosmosDB/help/Add-AzCosmosDBFleetspaceAccount.md
  src/CosmosDB/CosmosDB/help/Get-AzCosmosDBFleet.md
  src/CosmosDB/CosmosDB/help/Get-AzCosmosDBFleetspace.md
  src/CosmosDB/CosmosDB/help/Get-AzCosmosDBFleetspaceAccount.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBFleet.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBFleetspace.md
  src/CosmosDB/CosmosDB/help/Remove-AzCosmosDBFleet.md
  src/CosmosDB/CosmosDB/help/Remove-AzCosmosDBFleetspace.md
  src/CosmosDB/CosmosDB/help/Remove-AzCosmosDBFleetspaceAccount.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBFleet.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBFleetspace.md
Due: none

Singular noun
  src/CosmosDB/CosmosDB.Test/ScenarioTests/FleetspaceTests.ps1
  src/CosmosDB/CosmosDB/Fleet/NewAzCosmosDBFleetspace.cs
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBFleetspace.md
Due: none

Autorest changes
  src/CosmosDB/CosmosDB.Management.Sdk/README.md
Due: none

Final remaining test
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoOperationsCmdlets.json
Due: none

Prevent logging into remote session without credentials to overcome double hopon authentication issue
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

Update src/StackHCI/StackHCI/ChangeLog.md
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

Delete .github/agents/ps-cmdlet.agent.md
  .github/agents/ps-cmdlet.agent.md
Due: azure-pipelines.yml

Update comment
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
Due: none

feature: custom error msg at cmdlet level
  src/Monitor/Autoscale.Autorest/custom/New-AzAutoscaleScaleRuleObject.ps1
Due: none

Test: Add help file with generic descriptions for Copilot evaluation
  test-copilot-eval/Test-GenericDescriptions.md
Due: none

Test: Add help file with parameter name repetition for Copilot evaluation
  test-copilot-eval/New-TestResource.md
Due: none

Test: Add help file with minimal descriptions for Copilot evaluation
  test-copilot-eval/Update-TestResource.md
Due: none

Test: Add help file with placeholder text for Copilot evaluation
  test-copilot-eval/Remove-TestResource.md
Due: none

Test: Add help file with mixed quality descriptions for Copilot evaluation
  test-copilot-eval/Get-TestResource.md
Due: none

Test: Add help file with generic descriptions for Copilot evaluation
  src/TestModule/TestModule/help/Test-GenericDescriptions.md
Due: none

Test: Add help file with parameter name repetition for Copilot evaluation
  src/TestModule/TestModule/help/New-TestResource.md
Due: none

Test: Add help file with minimal descriptions for Copilot evaluation
  src/TestModule/TestModule/help/Update-TestResource.md
Due: none

Test: Add help file with placeholder text for Copilot evaluation
  src/TestModule/TestModule/help/Remove-TestResource.md
Due: none

Test: Add help file with mixed quality descriptions for Copilot evaluation
  src/TestModule/TestModule/help/Get-TestResource.md
Due: none

Sync resourceManagement.yml according To ADO Wiki Page - Service Contact List (#28868)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Update NetworkCloud API version to 2025-09-01 with minor doc improvement
  src/NetworkCloud/NetworkCloud/help/Get-AzNetworkCloudAgentPool.md
Due: none
