Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

update example issues
  tools/StaticAnalysis/Exceptions/Az.CloudService/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update example issues csv
  tools/StaticAnalysis/Exceptions/Az.CloudService/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

updated changelog.md file
  src/Confluent/Confluent/ChangeLog.md
Due: none

Fix syntax error
  tools/AzDev/AzDev/GitHub.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

feature: adjust wording of breaking change msg
  src/KeyVault/KeyVault/Commands/Key/GetAzureKeyVaultKey.cs
  src/KeyVault/KeyVault/Commands/Secret/GetAzureKeyVaultSecret.cs
Due: none

feature: add breaking change attribute for GetAzureKeyVaultSecret and GetAzureKeyVaultKey
  src/KeyVault/KeyVault/Commands/Key/GetAzureKeyVaultKey.cs
  src/KeyVault/KeyVault/Commands/Secret/GetAzureKeyVaultSecret.cs
Due: none

Update ChangeLog.md for breaking change notification
  src/KeyVault/KeyVault/ChangeLog.md
Due: none

update help; update breaking change exceptions
  src/Storage/Storage.Management/help/Set-AzStorageAccount.md
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

address the datetime format issue
  tools/AzDev/AzDev/GitHub.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated description for cmdlets
  src/EdgeMarketplace/EdgeMarketplace.Autorest/custom/Request-AzEdgeMarketplaceOfferAccessToken.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Az.EdgeMarketplace.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Get-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/New-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Request-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/generate-info.json
  src/EdgeMarketplace/EdgeMarketplace.sln
  src/EdgeMarketplace/EdgeMarketplace/Az.EdgeMarketplace.psd1
  src/EdgeMarketplace/EdgeMarketplace/help/Az.EdgeMarketplace.md
  src/EdgeMarketplace/EdgeMarketplace/help/Get-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace/help/New-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace/help/Request-AzEdgeMarketplaceOfferAccessToken.md
Due: none

optimize build and bump version
  tools/BreakingChanges/Get-BreakingChangeMetadata.ps1
  tools/BreakingChanges/GetUpcomingBreakingChange.psm1
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/CollectLastReleaseModules.ps1
  tools/BuildScripts/CollectModifiedModules.ps1
  tools/CleanupBuild.ps1
  tools/PublishModules.ps1
  tools/PublishModules.psm1
  tools/RunVersionController.ps1
  tools/Tools.Common/Loaders/MetadataLoader.cs
  tools/VersionController/Models/SyntaxChangelogGenerator.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[skip ci] Archive 2fa2e3517a9856072db9d84599d8426eaf58ae11
  generated/StorageAction/StorageAction.Autorest/Properties/AssemblyInfo.cs
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTaskAssignment.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTasksReport.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Invoke-AzStorageActionTaskPreviewAction.ps1
  generated/StorageAction/StorageAction.Autorest/exports/New-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Remove-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Update-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/generate-info.json
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_Get.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_GetViaIdentity.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_List.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_List1.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateViaJsonFilePath.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateViaJsonString.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/RemoveAzStorageActionTask_Delete.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/RemoveAzStorageActionTask_DeleteViaIdentity.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/UpdateAzStorageActionTask_UpdateExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/UpdateAzStorageActionTask_UpdateViaIdentityExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  generated/StorageAction/StorageAction.Autorest/generated/runtime/Context.cs
Due: none

Dummy commit
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/utils.ps1
Due: none

[skip ci] Archive Schedule
  generated/StorageAction/StorageAction.Autorest/Properties/AssemblyInfo.cs
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTaskAssignment.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Get-AzStorageActionTasksReport.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Invoke-AzStorageActionTaskPreviewAction.ps1
  generated/StorageAction/StorageAction.Autorest/exports/New-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Remove-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/exports/Update-AzStorageActionTask.ps1
  generated/StorageAction/StorageAction.Autorest/generate-info.json
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_Get.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_GetViaIdentity.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_List.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/GetAzStorageActionTask_List1.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateViaJsonFilePath.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/NewAzStorageActionTask_CreateViaJsonString.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/RemoveAzStorageActionTask_Delete.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/RemoveAzStorageActionTask_DeleteViaIdentity.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/UpdateAzStorageActionTask_UpdateExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/cmdlets/UpdateAzStorageActionTask_UpdateViaIdentityExpanded.cs
  generated/StorageAction/StorageAction.Autorest/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  generated/StorageAction/StorageAction.Autorest/generated/runtime/Context.cs
Due: none

Update web location in live test scenarios from westus to eastus
  src/Websites/LiveTests/Websites/TestLiveScenarios.ps1
Due: none

update exceptions
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/BreakingChangesIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Comment out assertions for job completion in live test scenarios
  src/Storage/LiveTests/Storage.Management/FileTests.ps1
Due: none

Update src/Sftp/Sftp/SftpCommands/ConnectAzSftpCommand.cs
  src/Sftp/Sftp/SftpCommands/ConnectAzSftpCommand.cs
Due: none

Adding new test cases for the flags
  src/Sftp/Sftp.Test/ScenarioTests/CmdletParameterCompatibilityTests.cs
  src/Sftp/Sftp.Test/ScenarioTests/SftpUtilsTests.cs
Due: none

[SQL] Add support for versionless TDE keys
  src/Sql/Sql.Management.Sdk/README.md
  src/Sql/Sql.Test/ScenarioTests/ServerKeyVaultKeyTests.cs
  src/Sql/Sql.Test/ScenarioTests/ServerKeyVaultKeyTests.ps1
  src/Sql/Sql/Common/TdeKeyHelper.cs
Due: none

Resolving comments
  src/Sftp/Sftp.Test/ScenarioTests/CmdletParameterCompatibilityTests.cs
  src/Sftp/Sftp.Test/ScenarioTests/ConnectAzSftpTests.ps1
  src/Sftp/Sftp/CHANGELOG.md
  src/Sftp/Sftp/Common/SftpConstants.cs
  src/Sftp/Sftp/Models/SFTPSession.cs
  src/Sftp/Sftp/SftpCommands/ConnectAzSftpCommand.cs
  src/Sftp/Sftp/help/Connect-AzSftp.md
Due: none

rebuild with Autorest 4.0.752
  src/ManagedServices/ManagedServices.Autorest/Properties/AssemblyInfo.cs
  src/ManagedServices/ManagedServices.Autorest/custom/autogen-model-cmdlets/New-AzManagedServicesAuthorizationObject.ps1
  src/ManagedServices/ManagedServices.Autorest/docs/Az.ManagedServices.md
  src/ManagedServices/ManagedServices.Autorest/generate-info.json
  src/ManagedServices/ManagedServices.sln
  src/ManagedServices/ManagedServices/Az.ManagedServices.psd1
Due: none

Update agent name and description for Powershell PR
  .github/agents/my-agent.agent.md
Due: azure-pipelines.yml

Add Test-DiskAvailabilityPolicy test for disk availability policy feature
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.DiskRPTests/TestDiskAvailabilityPolicy.json
Due: none

Update help docs for New-AzDiskConfig and New-AzDiskUpdateConfig with ActionOnDiskDelay parameter
  src/Compute/Compute/help/New-AzDiskConfig.md
  src/Compute/Compute/help/New-AzDiskUpdateConfig.md
Due: none

[Az.Compute] Fix grammar in AvailabilityPolicy descriptions and clean up help docs
  .github/agents/my-agent.agent.md
  src/Compute/Compute.Management.Sdk/Generated/Models/AvailabilityPolicy.cs
  src/Compute/Compute/Generated/Disk/Config/NewAzureRmDiskConfigCommand.cs
  src/Compute/Compute/Generated/Disk/Config/NewAzureRmDiskUpdateConfigCommand.cs
  src/Compute/Compute/help/New-AzDiskConfig.md
  src/Compute/Compute/help/New-AzDiskUpdateConfig.md
Due: azure-pipelines.yml

update breaking change date
  src/ManagedServices/ManagedServices.Autorest/Properties/AssemblyInfo.cs
  src/ManagedServices/ManagedServices.Autorest/README.md
  src/ManagedServices/ManagedServices.Autorest/custom/New-AzManagedServicesAuthorizationObject.ps1
  src/ManagedServices/ManagedServices.Autorest/custom/New-AzManagedServicesEligibleAuthorizationObject.ps1
  src/ManagedServices/ManagedServices.Autorest/docs/Az.ManagedServices.md
  src/ManagedServices/ManagedServices.Autorest/generate-info.json
  src/ManagedServices/ManagedServices.sln
  src/ManagedServices/ManagedServices/Az.ManagedServices.psd1
Due: none

Revert "update exceptions"
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/BreakingChangesIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SqlVirtualMachine/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

wrap dotnet new sln to safely handle dotnet 10
  tools/BuildScripts/AdaptAutorestModule.ps1
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/BuildScripts.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update change log md
  src/ManagedServices/ManagedServices.Autorest/generate-info.json
  src/ManagedServices/ManagedServices.sln
  src/ManagedServices/ManagedServices/ChangeLog.md
Due: none

Address PR review comments: revert auto-generated file, simplify descriptions, fix test location, fix changelog
  src/Compute/Compute.Management.Sdk/Generated/Models/AvailabilityPolicy.cs
  src/Compute/Compute.Test/ScenarioTests/DiskRPTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/Disk/Config/NewAzureRmDiskConfigCommand.cs
  src/Compute/Compute/Generated/Disk/Config/NewAzureRmDiskUpdateConfigCommand.cs
  src/Compute/Compute/help/New-AzDiskConfig.md
  src/Compute/Compute/help/New-AzDiskUpdateConfig.md
Due: none

test changes
  src/Sql/Sql.Test/ScenarioTests/Common.ps1
  src/Sql/Sql.Test/ScenarioTests/TransparentDataEncryptionCrudTests.cs
  src/Sql/Sql.Test/ScenarioTests/TransparentDataEncryptionCrudTests.ps1
Due: none

Change Live Test location from westus to eastus
  src/Automation/LiveTests/Automation/TestLiveScenarios.ps1
Due: none

Passing all tests
  src/Databricks/Databricks.Autorest/Properties/AssemblyInfo.cs
  src/Databricks/Databricks.Autorest/README.md
  src/Databricks/Databricks.Autorest/UX/Microsoft.Databricks/accessConnectors.json
  src/Databricks/Databricks.Autorest/UX/Microsoft.Databricks/workspaces-virtualNetworkPeerings.json
  src/Databricks/Databricks.Autorest/UX/Microsoft.Databricks/workspaces.json
  src/Databricks/Databricks.Autorest/custom/Az.Databricks.custom.psm1
  src/Databricks/Databricks.Autorest/custom/New-AzDatabricksWorkspace.ps1
  src/Databricks/Databricks.Autorest/custom/New-AzDatabricksWorkspaceProviderAuthorizationObject.ps1
  src/Databricks/Databricks.Autorest/custom/README.md
  src/Databricks/Databricks.Autorest/custom/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/Databricks.Autorest/custom/Update-AzDatabricksWorkspace.ps1
  src/Databricks/Databricks.Autorest/docs/Az.Databricks.md
  src/Databricks/Databricks.Autorest/docs/Get-AzDatabricksAccessConnector.md
  src/Databricks/Databricks.Autorest/docs/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.md
  src/Databricks/Databricks.Autorest/docs/Get-AzDatabricksVNetPeering.md
  src/Databricks/Databricks.Autorest/docs/Get-AzDatabricksWorkspace.md
  src/Databricks/Databricks.Autorest/docs/New-AzDatabricksAccessConnector.md
  src/Databricks/Databricks.Autorest/docs/New-AzDatabricksVNetPeering.md
  src/Databricks/Databricks.Autorest/docs/New-AzDatabricksWorkspace.md
  src/Databricks/Databricks.Autorest/docs/New-AzDatabricksWorkspaceProviderAuthorizationObject.md
  src/Databricks/Databricks.Autorest/docs/README.md
  src/Databricks/Databricks.Autorest/docs/Update-AzDatabricksAccessConnector.md
  src/Databricks/Databricks.Autorest/docs/Update-AzDatabricksVNetPeering.md
  src/Databricks/Databricks.Autorest/docs/Update-AzDatabricksWorkspace.md
  src/Databricks/Databricks.Autorest/resources/README.md
  src/Databricks/Databricks.Autorest/test/AzDatabricksAccessConnector.Recording.json
  src/Databricks/Databricks.Autorest/test/AzDatabricksVNetPeering.Recording.json
  src/Databricks/Databricks.Autorest/test/AzDatabricksWorkspace.Recording.json
  src/Databricks/Databricks.Autorest/test/AzDatabricksWorkspace.Tests.ps1
  src/Databricks/Databricks.Autorest/test/README.md
  src/Databricks/Databricks.Autorest/test/env.json
Due: none

Add encryption protector test with versionless keys
  src/Sql/Sql.Test/ScenarioTests/Common.ps1
  src/Sql/Sql.Test/ScenarioTests/TransparentDataEncryptionCrudTests.cs
  src/Sql/Sql.Test/ScenarioTests/TransparentDataEncryptionCrudTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.TransparentDataEncryptionCrudTests/TestTransparentDataEncryptionProtectorWithVersionlessKeys.json
Due: none

update ChangeLog.md
  src/MySql/MySql/ChangeLog.md
Due: none
