Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update Call_For_Testing_Az.Accounts-Preview.md
  Call_For_Testing_Az.Accounts-Preview.md
Due: none

Sync tools folder from main branch to generation branch (#23801)
  tools/CreateMappings_rules.json
  tools/RunVersionController.ps1
  tools/StaticAnalysis/Exceptions/Az.Compute/GeneratedSdkIssues.csv
  tools/VersionController/Models/SyntaxChangelogGenerator.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

addressing comments and rerecording relevant tests (#23802)
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinInAccountRestoreOperationsNoTimestampCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinInAccountRestoreOperationsSharedRUResourcesCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsNoTimestampCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsSharedRUResourcesCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsNoTimestampCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlInAccountRestoreOperationsSharedResourcesCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.TableOperationsTests/TestTableInAccountRestoreOperationsCmdlets.json
  src/CosmosDB/CosmosDB/Gremlin/RestoreAzCosmosDBGremlinDatabase.cs
  src/CosmosDB/CosmosDB/Gremlin/RestoreAzCosmosDBGremlinGraph.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBCollection.cs
  src/CosmosDB/CosmosDB/MongoDB/RestoreAzCosmosDBMongoDBDatabase.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/SQL/RestoreAzCosmosDBSqlDatabase.cs
Due: none

Az.network 7.2.0-preview
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the issue that cannot resolve psd1 files in generation branch CI (#23804)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Init
  src/Sql/Sql.Management.Sdk/README.md
Due: none

Add test and fix for NetAppAccount Identity
  src/NetAppFiles/NetAppFiles.Test/NetAppFiles.Test.csproj
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/AccountTests.cs
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/AccountTests.ps1
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/NetAppFilesTestRunner.cs
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountCMK.json
  src/NetAppFiles/NetAppFiles/Account/NewNetAppFilesAccount.cs
  src/NetAppFiles/NetAppFiles/Account/UpdateNetAppFilesAccount.cs
Due: none

correcting error for Remove SVI
  src/Workloads/Workloads.Autorest/README.md
  src/Workloads/Workloads.Autorest/test/New-AzWorkloadsSapVirtualInstance.Recording.json
  src/Workloads/Workloads.Autorest/test/Remove-AzWorkloadsSapVirtualInstance.Recording.json
  src/Workloads/Workloads.Autorest/test/Remove-AzWorkloadsSapVirtualInstance.Tests.ps1
  src/Workloads/Workloads.Autorest/test/env.json
Due: none

Added Test Recordings
  src/VMware/VMware.Autorest/test/AzVMwareAuthorization.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareAuthorization.Tests.ps1
  src/VMware/VMware.Autorest/test/AzVMwareCloudLink.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareCloudLink.Tests.ps1
  src/VMware/VMware.Autorest/test/AzVMwareLocationQuotaAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationQuotaAvailability.Tests.ps1
  src/VMware/VMware.Autorest/test/AzVMwareLocationTrialAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationTrialAvailability.Tests.ps1
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudAdminCredential.Recording.json
Due: none

Sync tools folder from main branch to generation branch (#23807)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/ResolveTools/Resolve-Psd1.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add Update NVA connection cmdlet
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/Models/PSNetworkVirtualApplianceConnection.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/NetworkVirtualAppliance/Connections/UpdateAzureNetworkVirtualConnectionCommand.cs.cs
  src/Network/Network/NetworkVirtualAppliance/Connections/VirtualConnectionBaseCmdlet.cs
  src/Network/Network/NetworkVirtualAppliance/NetworkVirtualApplianceBaseCmdlet.cs
  src/Network/Network/help/Update-AzNetworkVirtualApplianceConnection.md
Due: none

Add linked service test case
  src/DataFactory/DataFactoryV2.Test/Resources/linkedService-SqlServer.json
  src/DataFactory/DataFactoryV2.Test/ScenarioTests/LinkedServiceTests.cs
  src/DataFactory/DataFactoryV2.Test/ScenarioTests/LinkedServiceTests.ps1
  src/DataFactory/DataFactoryV2.Test/SessionRecords/Microsoft.Azure.Commands.DataFactoryV2.Test.DatasetTests/TestDatasetWithDataFactoryParameterV2.json
  src/DataFactory/DataFactoryV2.Test/SessionRecords/Microsoft.Azure.Commands.DataFactoryV2.Test.LinkedServiceTests/TestLinkedServiceWithSqlServerV2.json
Due: none

Removed changes to json file in Tools Common
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Removed extra space
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Find all missed one somehow
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add linked service test case (#23813)
  src/DataFactory/DataFactoryV2.Test/Resources/linkedService-SqlServer.json
  src/DataFactory/DataFactoryV2.Test/ScenarioTests/LinkedServiceTests.cs
  src/DataFactory/DataFactoryV2.Test/ScenarioTests/LinkedServiceTests.ps1
  src/DataFactory/DataFactoryV2.Test/SessionRecords/Microsoft.Azure.Commands.DataFactoryV2.Test.DatasetTests/TestDatasetWithDataFactoryParameterV2.json
  src/DataFactory/DataFactoryV2.Test/SessionRecords/Microsoft.Azure.Commands.DataFactoryV2.Test.LinkedServiceTests/TestLinkedServiceWithSqlServerV2.json
Due: none

Added additional breaking change suppression
  tools/StaticAnalysis/Exceptions/Az.DesktopVirtualization/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixing the issue with New SVI
  src/Workloads/Workloads.Autorest/README.md
  src/Workloads/Workloads.Autorest/test/New-AzWorkloadsSapVirtualInstance.Recording.json
  src/Workloads/Workloads.Autorest/test/Remove-AzWorkloadsSapVirtualInstance.Recording.json
  src/Workloads/Workloads.Autorest/test/env.json
Due: none

Update ChangeLog.md for DesktopVirtualization
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
Due: none

Update BreakingChangeIssues.csv for desktopvirtualization
  tools/StaticAnalysis/Exceptions/Az.DesktopVirtualization/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md for workloads
  src/Workloads/Workloads/ChangeLog.md
Due: none

Ping the PowerShell task version in code-gen to 2.232.1
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update test run
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountCMK.json
Due: none

Update tests
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountActiveDirectory.json
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountCMK.json
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountCrud.json
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountPipelines.json
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.VolumeGroupTests/TestVolumeGroupCrud.json
Due: none
