Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Upgrade Application Insights to 2.18.0
  tools/Common.Netcore.Dependencies.targets
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.3.85-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.3.85-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.3.85-preview.snupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update t-previewests to 2023-07-01
  src/DevCenter/DevCenterData.AutoRest/test/Deploy-AzDevCenterUserEnvironment.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserCatalog.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserCatalog.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxAction.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxRemoteConnection.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironment.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentDefinition.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentType.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserPool.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserProject.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Invoke-AzDevCenterUserDelayDevBoxAction.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserEnvironment.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserEnvironment.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Restart-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Skip-AzDevCenterUserDevBoxAction.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Start-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Stop-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/deploymentTemplates/template.json
  src/DevCenter/DevCenterData.AutoRest/test/utils.ps1
Due: none

Update schedule
  src/DevCenter/DevCenterData.AutoRest/custom/Get-AzDevCenterUserSchedule.ps1
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserSchedule.md
  src/DevCenter/DevCenterData.AutoRest/examples/Get-AzDevCenterUserSchedule.md
Due: none

Update tests
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/utils.ps1
Due: none

polish changelog
  src/ContainerInstance/ChangeLog.md
Due: none

Backfill the Az.8.0.0 migration guide for Az.Cdn
  documentation/migration-guides/Az.8.0.0-migration-guide.md
Due: none

Update ChangeLog of Az.Cdn
  src/Cdn/ChangeLog.md
Due: none

update tests
  src/DevCenter/DevCenterData.AutoRest/README.md
  src/DevCenter/DevCenterData.AutoRest/test/Deploy-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserCatalog.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxOperation.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxOperation.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxRemoteConnection.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentDefinition.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentType.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserPool.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserProject.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Invoke-AzDevCenterUserDelayDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Repair-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Repair-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Restart-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Skip-AzDevCenterUserDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Start-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Stop-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/env.json
  src/DevCenter/DevCenterData.AutoRest/test/utils.ps1
Due: none

Sync tools folder from main branch to generation branch (#22763)
  .github/policies/resourceManagement.yml
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/CreateMappings_rules.json
  tools/Docs/az-ps-latest.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/ExampleIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

repair test
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxOperation.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Repair-AzDevCenterUserDevBox.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Repair-AzDevCenterUserDevBox.Tests.ps1
Due: none

Update ChangeLog.md
  src/DesktopVirtualization/ChangeLog.md
Due: none

Add warning messages for Queue breaking change
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Queue/Cmdlet/GetAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/SetAzureStorageQueueStoredAccessPolicy.cs
Due: none

formatting imports
  src/Storage/Storage/Queue/Cmdlet/SetAzureStorageQueueStoredAccessPolicy.cs
Due: none

Removed CXP related actions
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Bump version for Az.DesktopVirtualization
  src/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix Possible error when subscription is null in Get-AzRoleAssignment (#22776)
  src/Resources/Resources/RoleAssignments/GetAzureRoleAssignmentCommand.cs
Due: none

Removed CXP related actions (#22782)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update azure-powershell-developer-guide.md
  documentation/development-docs/azure-powershell-developer-guide.md
Due: none

Added examples and docs to ConnectedVMware extension (#22759)
  src/ConnectedVMware/docs/Get-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Get-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/docs/Get-AzConnectedVMwareVMHybridIdentityMetadata.md
  src/ConnectedVMware/docs/New-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/docs/New-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/New-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/docs/Remove-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/docs/Remove-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Remove-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/docs/Restart-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Start-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Stop-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Update-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/docs/Update-AzConnectedVMwareVM.md
  src/ConnectedVMware/docs/Update-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/examples/Get-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/Get-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/examples/New-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/examples/New-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/New-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/examples/Remove-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/examples/Remove-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/Restart-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/Start-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/Stop-AzConnectedVMwareVM.md
  src/ConnectedVMware/examples/Update-AzConnectedVMwareVM.md
Due: none

Upgrade PowerShell SDK version
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add correlationid and costomid for aks
  src/ConnectedKubernetes/custom/Csharp/Module.cs
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
Due: none

added customer managed key status to PSDatabaseAccountGetResults.cs
  src/CosmosDB/CosmosDB/Models/DatabaseAccount/PSDatabaseAccountGetResults.cs
Due: none

whitelist to allowlist
  src/ApiManagement/ApiManagement/help/Restore-AzApiManagement.md
  src/DataLakeStore/DataLakeStore/help/Get-AzDataLakeStoreDeletedItem.md
  src/DataLakeStore/DataLakeStore/help/Restore-AzDataLakeStoreDeletedItem.md
  src/Functions/help/Get-AzFunctionAppSetting.md
  src/Functions/help/Remove-AzFunctionApp.md
  src/Functions/help/Remove-AzFunctionAppSetting.md
  src/Functions/help/Restart-AzFunctionApp.md
  src/Functions/help/Start-AzFunctionApp.md
  src/Functions/help/Stop-AzFunctionApp.md
  src/Functions/help/Update-AzFunctionApp.md
  src/Functions/help/Update-AzFunctionAppSetting.md
  src/Network/Network/help/Az.Network.md
  src/Network/Network/help/New-AzFirewall.md
  src/Network/Network/help/New-AzFirewallPolicy.md
  src/Network/Network/help/New-AzFirewallPolicyThreatIntelWhitelist.md
  src/Network/Network/help/New-AzFirewallThreatIntelWhitelist.md
  src/Network/Network/help/Set-AzFirewallPolicy.md
Due: none

turkey to turkiye
  src/Monitor/Autoscale.Autorest/README.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleProfileObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleSetting.md
  src/Monitor/Autoscale.Autorest/docs/Update-AzAutoscaleSetting.md
  src/Monitor/Monitor/help/New-AzAutoscaleProfileObject.md
  src/Monitor/Monitor/help/New-AzAutoscaleSetting.md
  src/Monitor/Monitor/help/Update-AzAutoscaleSetting.md
Due: none

cape verde to cabo verde
  src/Monitor/Autoscale.Autorest/README.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleProfileObject.md
  src/Monitor/Autoscale.Autorest/docs/New-AzAutoscaleSetting.md
  src/Monitor/Autoscale.Autorest/docs/Update-AzAutoscaleSetting.md
  src/Monitor/Monitor/help/New-AzAutoscaleProfileObject.md
  src/Monitor/Monitor/help/New-AzAutoscaleSetting.md
  src/Monitor/Monitor/help/Update-AzAutoscaleSetting.md
Due: none

Bug fix & update rsa hash
  src/Migrate/custom/Helper/CommonHelper.ps1
  src/Migrate/custom/Initialize-AzMigrateHCIReplicationInfrastructure.ps1
  src/Migrate/custom/New-AzMigrateHCIServerReplication.ps1
Due: none

tests working
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeUpdate.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeWithoutConfigUpdate.json
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
Due: none

pass and user
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
Due: none

Update tests
  src/DevCenter/DevCenterData.AutoRest/test/Deploy-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserCatalog.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxOperation.Recording.json
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxOperation.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserDevBoxRemoteConnection.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentDefinition.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserEnvironmentType.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserPool.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserProject.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Get-AzDevCenterUserSchedule.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Invoke-AzDevCenterUserDelayDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/New-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Remove-AzDevCenterUserEnvironment.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Restart-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Skip-AzDevCenterUserDevBoxAction.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Start-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/Stop-AzDevCenterUserDevBox.Tests.ps1
  src/DevCenter/DevCenterData.AutoRest/test/utils.ps1
Due: none

Bump version for Az.DesktopVirtualization (#22783)
  src/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove support for ubuntu-18.04
  docker/Dockerfile-ubuntu-18.04
  tools/Docker/BuildImages.ps1
  tools/Test/SmokeTest/PrepareRequiredPowershell.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update changelog
  src/Storage/Storage.Management/ChangeLog.md
Due: none

[Storage] Add warning messages for Queue breaking change (#22781)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Queue/Cmdlet/GetAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/SetAzureStorageQueueStoredAccessPolicy.cs
Due: none
