Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update blueprint version deprecation.
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/GetAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/NewAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/SetAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/GetAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/NewAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/RemoveAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/SetAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/ExportAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/GetAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/ImportAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/NewAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/PublishAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/SetAzureRMBlueprint.cs
Due: none

fix param
  src/StorageSync/StorageSync/RegisteredServer/SetRegisteredServerCommand.cs
Due: none

New cmdlets for Microsoft peering prefix validation (#26969)
  src/Network/Network.Test/ScenarioTests/ExpressRouteCircuitTests.cs
  src/Network/Network.Test/ScenarioTests/ExpressRouteCircuitTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ExpressRouteCircuitTests/TestExpressRouteCircuitMicrosoftPeeringPrefixValidationCRUD.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/ExpressRouteCircuit/Peering/PrefixConfig/AddAzureExpressRouteCircuitMicrosoftPeeringPrefixConfig.cs
  src/Network/Network/ExpressRouteCircuit/Peering/PrefixConfig/AzureExpressRouteCircuitMicrosoftPeeringPrefixConfigBase.cs
  src/Network/Network/ExpressRouteCircuit/Peering/PrefixConfig/GetAzureExpressRouteCircuitMicrosoftPeeringPrefixConfig.cs
  src/Network/Network/ExpressRouteCircuit/Peering/PrefixConfig/RemoveAzureExpressRouteCircuitMicrosoftPeeringPrefixConfig.cs
  src/Network/Network/ExpressRouteCircuit/Peering/PrefixConfig/SetAzureExpressRouteCircuitMicrosoftPeeringPrefixConfig.cs
  src/Network/Network/Models/PSPeeringConfig.cs
  src/Network/Network/Models/PSPeeringPrefixConfig.cs
  src/Network/Network/help/Add-AzExpressRouteCircuitMicrosoftPeeringPrefixConfig.md
  src/Network/Network/help/Get-AzExpressRouteCircuitMicrosoftPeeringPrefixConfig.md
  src/Network/Network/help/Remove-AzExpressRouteCircuitMicrosoftPeeringPrefixConfig.md
  src/Network/Network/help/Set-AzExpressRouteCircuitMicrosoftPeeringPrefixConfig.md
  tools/StaticAnalysis/Exceptions/Az.Network/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Azure Blueprint cmdlets deprecation. (#27002)
  src/Blueprint/Blueprint/ChangeLog.md
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/GetAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/NewAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintArtifacts/SetAzureRMBlueprintArtifact.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/GetAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/NewAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/RemoveAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintAssignment/SetAzureRMBlueprintAssignment.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/ExportAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/GetAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/ImportAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/NewAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/PublishAzureRMBlueprint.cs
  src/Blueprint/Blueprint/Cmdlets/BlueprintDefinition/SetAzureRMBlueprint.cs
Due: none

Update link
  src/HDInsight/HDInsight/help/Az.HDInsight.md
Due: none

Stephanie Change
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.ps1
  src/StorageSync/StorageSync/Common/StorageSyncResourceManager.cs
  src/StorageSync/StorageSync/Interfaces/IStorageSyncResourceManager.cs
  src/StorageSync/StorageSync/RegisteredServer/SetRegisteredServerCommand.cs
Due: none

Add missing record tests
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.ps1
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestPatchRegisteredServer.json
Due: none

Update SetRegisteredServerCommand.cs
  src/StorageSync/StorageSync/RegisteredServer/SetRegisteredServerCommand.cs
Due: none

Testing Patch Server
  src/StorageSync/StorageSync.Test/Common/MockServerManagedIdentityProvider.cs
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
  src/StorageSync/StorageSync.Test/Common/MockSyncServerRegistrationClient.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.ps1
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestPatchRegisteredServer.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestPatchRegisteredServerWithServerEndpoint.json
  src/StorageSync/StorageSync/RegisteredServer/SetRegisteredServerCommand.cs
Due: none

Az.StorageSync - Update Set-AzStorageSyncServer with ApplicationId Parameter (Stefong update patchserver2 ) (#27016)
  src/StorageSync/StorageSync.Test/Common/MockServerManagedIdentityProvider.cs
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
  src/StorageSync/StorageSync.Test/Common/MockSyncServerRegistrationClient.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.cs
  src/StorageSync/StorageSync.Test/ScenarioTests/RegisteredServerTests.ps1
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestPatchRegisteredServer.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.RegisteredServerTests/TestPatchRegisteredServerWithServerEndpoint.json
  src/StorageSync/StorageSync/Common/StorageSyncResourceManager.cs
  src/StorageSync/StorageSync/Interfaces/IStorageSyncResourceManager.cs
  src/StorageSync/StorageSync/RegisteredServer/SetRegisteredServerCommand.cs
Due: none

Fixed CI errors
  src/CognitiveServices/CognitiveServices.Test/ScenarioTests/CognitiveServicesAccountTests.ps1
  src/CognitiveServices/CognitiveServices.Test/SessionRecords/CognitiveServices.Test.ScenarioTests.CognitiveServicesAccountTests/TestRai.json
  src/CognitiveServices/CognitiveServices/Az.CognitiveServices.psd1
  src/CognitiveServices/CognitiveServices/CognitiveServicesAccount/GetAzureCognitiveServicesRaiContentFilter.cs
  src/CognitiveServices/CognitiveServices/help/Get-AzCognitiveServicesAccountRaiBlocklist.md
  src/CognitiveServices/CognitiveServices/help/Get-AzCognitiveServicesAccountRaiBlocklistItem.md
  src/CognitiveServices/CognitiveServices/help/Get-AzCognitiveServicesAccountRaiPolicy.md
  src/CognitiveServices/CognitiveServices/help/Get-AzCognitiveServicesModelCapacity.md
  src/CognitiveServices/CognitiveServices/help/Get-AzCognitiveServicesRaiContentFilter.md
  src/CognitiveServices/CognitiveServices/help/New-AzCognitiveServicesAccountDefenderForAISetting.md
  src/CognitiveServices/CognitiveServices/help/New-AzCognitiveServicesAccountRaiBlocklist.md
  src/CognitiveServices/CognitiveServices/help/New-AzCognitiveServicesAccountRaiBlocklistItem.md
  src/CognitiveServices/CognitiveServices/help/New-AzCognitiveServicesAccountRaiPolicy.md
  src/CognitiveServices/CognitiveServices/help/Remove-AzCognitiveServicesAccountRaiBlocklist.md
  src/CognitiveServices/CognitiveServices/help/Remove-AzCognitiveServicesAccountRaiBlocklistItem.md
  src/CognitiveServices/CognitiveServices/help/Remove-AzCognitiveServicesAccountRaiPolicy.md
Due: none

calculate diff from commit in local
  .azure-pipelines/azure-powershell-ci.yml
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

test no github pat
  .azure-pipelines/azure-powershell-ci.yml
  src/Resources/MSGraph.Autorest/generate-info.json
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

filter with branch name
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

won't help
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

try query branch name with repository ID
  .azure-pipelines/azure-powershell-ci.yml
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

missing comma
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

try query branch name with repository Id and type
  .azure-pipelines/azure-powershell-ci.yml
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

try build.sourcebranch instead of build.sourcebranchname
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[skip ci] Archive a96de99f76534329f5fad55c1afa4a76e7777243
  generated/Resources/MSGraph.Autorest/Az.MSGraph.csproj
  generated/Resources/MSGraph.Autorest/Properties/AssemblyInfo.cs
  generated/Resources/MSGraph.Autorest/generate-info.json
Due: none

try github token from internal
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

batch another commit msgraph
  src/Resources/MSGraph.Autorest/generate-info.json
Due: none

fix path for analyze and test
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update Api Version 2022
  src/Portal/Portal.Autorest/.gitignore
  src/Portal/Portal.Autorest/Az.Portal.psd1
  src/Portal/Portal.Autorest/README.md
  src/Portal/Portal.Autorest/UX/Microsoft.Portal/dashboards.json
  src/Portal/Portal.Autorest/custom/New-AzPortalDashboard.ps1
  src/Portal/Portal.Autorest/custom/README.md
  src/Portal/Portal.Autorest/custom/Set-AzPortalDashboard.ps1
  src/Portal/Portal.Autorest/dashexample.json
  src/Portal/Portal.Autorest/docs/Get-AzPortalDashboard.md
  src/Portal/Portal.Autorest/docs/New-AzPortalDashboard.md
  src/Portal/Portal.Autorest/docs/README.md
  src/Portal/Portal.Autorest/docs/Remove-AzPortalDashboard.md
  src/Portal/Portal.Autorest/docs/Set-AzPortalDashboard.md
  src/Portal/Portal.Autorest/docs/Update-AzPortalDashboard.md
  src/Portal/Portal.Autorest/how-to.md
  src/Portal/Portal.Autorest/resources/README.md
  src/Portal/Portal.Autorest/test/Get-AzPortalDashboard.Tests.ps1
  src/Portal/Portal.Autorest/test/New-AzPortalDashboard.Tests.ps1
  src/Portal/Portal.Autorest/test/README.md
  src/Portal/Portal.Autorest/test/Remove-AzPortalDashboard.Tests.ps1
  src/Portal/Portal.Autorest/test/Set-AzPortalDashboard.Tests.ps1
  src/Portal/Portal.Autorest/test/Update-AzPortalDashboard.Tests.ps1
  src/Portal/Portal.Autorest/test/env.json
  src/Portal/Portal.Autorest/test/loadEnv.ps1
  src/Portal/Portal.Autorest/test/localEnv.json
  src/Portal/Portal.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/Portal/Portal.Autorest/utils/Unprotect-SecureString.ps1
Due: none

internal token empty
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix path
  .azure-pipelines/azure-powershell-ci.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[skip ci] Archive bbb829889da116a4addff39b5ebf6f1430a6e301
  generated/Resources/MSGraph.Autorest/Az.MSGraph.csproj
  generated/Resources/MSGraph.Autorest/Properties/AssemblyInfo.cs
  generated/Resources/MSGraph.Autorest/generate-info.json
Due: none

Add directive to ignore reconcile api
  src/Network/NetworkSecurityPerimeter.Autorest/README.md
Due: none

Update des
  src/HDInsight/HDInsight/help/Az.HDInsight.md
Due: none
