Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Add breaking change warning message for Start-AzStorageAccountMigration cmdlet (#27396)
  src/Storage/Storage.Autorest/custom/Start-AzStorageAccountMigration.ps1
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Suppressing DataBoxEdge Sdk
  tools/StaticAnalysis/Exceptions/Az.DataBoxEdge/GeneratedSdkIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

dotnet 6->8
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: .azure-pipelines/sync-tools-folder.yml

Suppressing DataShare Sdk
  tools/StaticAnalysis/Exceptions/Az.DataShare/GeneratedSdkIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated CRR region map
  src/RecoveryServices/RecoveryServices.Backup/Helpers/BackupUtils.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

[Storage] Support NFS file share
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestNewSetAzureStorageAccountTLSveresionBlobPublicAccess.json
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/Get-AzStorageFile.md
  src/Storage/Storage.Management/help/New-AzStorageDirectory.md
  src/Storage/Storage.Management/help/New-AzStorageFileHardLink.md
  src/Storage/Storage.Management/help/New-AzStorageShare.md
  src/Storage/Storage.Management/help/Set-AzStorageFileContent.md
  src/Storage/Storage.Management/help/Start-AzStorageFileCopy.md
  src/Storage/Storage.common/Storage.common.csproj
  src/Storage/Storage/Common/AzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileHardLink.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
  src/Storage/Storage/Model/ResourceModel/PSShareFileInfo.cs
  src/Storage/Storage/Storage.csproj
  src/Storage/Storage/Storage.generated.format.ps1xml
Due: none

update
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks.Autorest/custom/Get-AzAksVersion.ps1
  src/Aks/Aks.Autorest/docs/Az.Aks.md
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.sln
  src/Aks/Aks/Az.Aks.psd1
Due: none

fix functionstoexport and aliasestoexport when only one item in these list
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.sln
  src/Aks/Aks/help/Disable-AzAksAddOn.md
  src/Aks/Aks/help/Enable-AzAksAddOn.md
  src/Aks/Aks/help/Get-AzAksCluster.md
  src/Aks/Aks/help/Get-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Get-AzAksManagedClusterCommandResult.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOSOption.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOutboundNetworkDependencyEndpoint.md
  src/Aks/Aks/help/Get-AzAksNodePool.md
  src/Aks/Aks/help/Get-AzAksNodePoolUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksSnapshot.md
  src/Aks/Aks/help/Get-AzAksUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksVersion.md
  src/Aks/Aks/help/Import-AzAksCredential.md
  src/Aks/Aks/help/Install-AzAksCliTool.md
  src/Aks/Aks/help/Invoke-AzAksAbortAgentPoolLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksAbortManagedClusterLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksRotateManagedClusterServiceAccountSigningKey.md
  src/Aks/Aks/help/Invoke-AzAksRunCommand.md
  src/Aks/Aks/help/New-AzAksCluster.md
  src/Aks/Aks/help/New-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/New-AzAksNodePool.md
  src/Aks/Aks/help/New-AzAksSnapshot.md
  src/Aks/Aks/help/New-AzAksTimeInWeekObject.md
  src/Aks/Aks/help/New-AzAksTimeSpanObject.md
  src/Aks/Aks/help/Remove-AzAksCluster.md
  src/Aks/Aks/help/Remove-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Remove-AzAksNodePool.md
  src/Aks/Aks/help/Remove-AzAksSnapshot.md
  src/Aks/Aks/help/Set-AzAksCluster.md
  src/Aks/Aks/help/Set-AzAksClusterCredential.md
  src/Aks/Aks/help/Start-AzAksCluster.md
  src/Aks/Aks/help/Start-AzAksDashboard.md
  src/Aks/Aks/help/Start-AzAksManagedClusterCommand.md
  src/Aks/Aks/help/Stop-AzAksCluster.md
  src/Aks/Aks/help/Stop-AzAksDashboard.md
  src/Aks/Aks/help/Update-AzAksNodePool.md
Due: none

Exporting New Cmdlets
  src/Network/Network/Az.Network.psd1
Due: none

fix regression failure
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestNewSetAzureStorageAccountTLSveresionBlobPublicAccess.json
Due: none

[Eng] Fix functionstoexport and aliasestoexport when only one item in these… (#27413)
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update changelog
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.sln
  src/Aks/Aks/ChangeLog.md
Due: none

[Az.RecoveryServices.Backup] Updated CRR region map for new regions (#27412)
  src/RecoveryServices/RecoveryServices.Backup/Helpers/BackupUtils.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Support EnableSnapshotVirtualDirectoryAccess
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/New-AzStorageShare.md
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShare.cs
Due: none

update
  src/Aks/Aks.Autorest/Properties/AssemblyInfo.cs
  src/Aks/Aks.Autorest/generate-info.json
  src/Aks/Aks.sln
  src/Aks/Aks/Az.Aks.psd1
Due: none

avoid print linkcount for none NFS share
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageFile.cs
Due: none

Az.AppConfiguration breaking change announcement
  src/AppConfiguration/AppConfiguration.Autorest/.gitignore
  src/AppConfiguration/AppConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/AppConfiguration/AppConfiguration.Autorest/README.md
  src/AppConfiguration/AppConfiguration.Autorest/docs/Az.AppConfiguration.md
  src/AppConfiguration/AppConfiguration.Autorest/generate-info.json
  src/AppConfiguration/AppConfiguration.Autorest/resources/README.md
  src/AppConfiguration/AppConfiguration.sln
  src/AppConfiguration/AppConfiguration/Az.AppConfiguration.psd1
Due: none

update changelog
  src/AppConfiguration/AppConfiguration/ChangeLog.md
Due: none

update
  src/AppConfiguration/AppConfiguration.Autorest/generate-info.json
  src/AppConfiguration/AppConfiguration.sln
Due: none

Delete breaking change exception
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/Properties/AssemblyInfo.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/README.md
  src/MarketplaceOrdering/MarketplaceOrdering.Autorest/generate-info.json
  src/MarketplaceOrdering/MarketplaceOrdering.sln
  src/MarketplaceOrdering/MarketplaceOrdering/Az.MarketplaceOrdering.psd1
  tools/StaticAnalysis/Exceptions/Az.MarketplaceOrdering/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

temp fix for analysis failure
  tools/StaticAnalysis/BreakingChangeAnalyzer/CmdletMetadataHelper.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  src/AppConfiguration/AppConfiguration.Autorest/README.md
  src/AppConfiguration/AppConfiguration.Autorest/custom/New-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/custom/Update-AzAppConfigurationStore.ps1
  src/AppConfiguration/AppConfiguration.Autorest/generate-info.json
  src/AppConfiguration/AppConfiguration.sln
Due: none

update
  src/Advisor/Advisor.Autorest/Properties/AssemblyInfo.cs
  src/Advisor/Advisor.Autorest/README.md
  src/Advisor/Advisor.Autorest/docs/Az.Advisor.md
  src/Advisor/Advisor.Autorest/generate-info.json
  src/Advisor/Advisor.sln
  src/Advisor/Advisor/Az.Advisor.psd1
  src/Advisor/Advisor/help/Disable-AzAdvisorRecommendation.md
  src/Advisor/Advisor/help/Enable-AzAdvisorRecommendation.md
  src/Advisor/Advisor/help/Get-AzAdvisorConfiguration.md
  src/Advisor/Advisor/help/Get-AzAdvisorRecommendation.md
  src/Advisor/Advisor/help/Set-AzAdvisorConfiguration.md
Due: none

Reorder changelog entries for upcoming release
  src/Websites/Websites/ChangeLog.md
Due: none

Fixed Versioning
  src/Websites/Websites/ChangeLog.md
Due: none

Fix analysis failure
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileHardLink.cs
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Skip EOD test in GalleryTests
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.cs
Due: none

[Storage] Support NFS file share (#27366)
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestNewSetAzureStorageAccountTLSveresionBlobPublicAccess.json
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Az.Storage.md
  src/Storage/Storage.Management/help/Get-AzStorageFile.md
  src/Storage/Storage.Management/help/New-AzStorageDirectory.md
  src/Storage/Storage.Management/help/New-AzStorageFileHardLink.md
  src/Storage/Storage.Management/help/New-AzStorageShare.md
  src/Storage/Storage.Management/help/Set-AzStorageFileContent.md
  src/Storage/Storage.Management/help/Start-AzStorageFileCopy.md
  src/Storage/Storage.common/Storage.common.csproj
  src/Storage/Storage/Common/AzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileHardLink.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
  src/Storage/Storage/Model/ResourceModel/PSShareFileInfo.cs
  src/Storage/Storage/Storage.csproj
  src/Storage/Storage/Storage.generated.format.ps1xml
  tools/StaticAnalysis/BreakingChangeAnalyzer/CmdletMetadataHelper.cs
  tools/StaticAnalysis/Exceptions/Az.Storage/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update `publish-AzWebApp` to support pull based deployments. (#27228)
  src/Websites/Websites.Test/ScenarioTests/WebAppTests.cs
  src/Websites/Websites.Test/ScenarioTests/WebAppTests.ps1
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppFromWar.json
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppFromZip.json
  src/Websites/Websites.Test/SessionRecords/Microsoft.Azure.Commands.Websites.Test.ScenarioTests.WebAppTests/TestPublishWebAppOneDeployPullWithMSI.json
  src/Websites/Websites/ChangeLog.md
  src/Websites/Websites/Cmdlets/WebApps/PublishAzureWebApp.cs
  src/Websites/Websites/help/Publish-AzWebApp.md
Due: none

Corrected Breaking Version
  src/Cdn/Cdn.Autorest/README.md
Due: none

Add ValidationLevel parameter to WhatIf/Test (#27352)
  src/Resources/ResourceManager/Implementation/CmdletBase/DeploymentWhatIfCmdlet.cs
  src/Resources/ResourceManager/Implementation/CmdletBase/TestDeploymentCmdletBase.cs
  src/Resources/ResourceManager/Implementation/Deployments/GetAzureManagementGroupDeploymentWhatIfResultCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/GetAzureSubscriptionDeploymentWhatIfResultCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/GetAzureTenantDeploymentWhatIfResultCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/NewAzureManagementGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/NewAzureSubscriptionDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/NewAzureTenantDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/TestAzureManagementGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/TestAzureSubscriptionDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/Deployments/TestAzureTenantDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/GetAzureResourceGroupDeploymentWhatIfResultCmdlet.cs
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/NewAzureResourceGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/Implementation/ResourceGroupDeployments/TestAzureResourceGroupDeploymentCmdlet.cs
  src/Resources/ResourceManager/SdkClient/NewResourceManagerSdkClient.cs
  src/Resources/ResourceManager/SdkModels/Deployments/PSDeploymentCmdletParameters.cs
  src/Resources/ResourceManager/SdkModels/Deployments/PSDeploymentWhatIfCmdletParameters.cs
  src/Resources/Resources.Test/ResourceGroupDeployments/TestAzureResourceGroupDeploymentCommandTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentWhatIfTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentWhatIfTests/MGLevelWhatIf_ProviderNoRbacAtManagementGroupScope.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentWhatIfTests/RGLevelWhatIf_ProviderNoRbacAtResourceGroupScope.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentWhatIfTests/SubLevelWhatIf_ProviderNoRbacAtSubscriptionScope.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentWhatIfTests/TenantLevelWhatIf_ProviderNoRbacAtTenantScope.json
  src/Resources/Resources/ChangeLog.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
