Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Accounts OOB Release (#27830)
  NuGet.Config
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/Tools.Common/SerializedCmdlets/Az.Accounts.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Corrected invalid related links
  src/Batch/Batch/help/Get-AzBatchPoolNodeCount.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2ActivityRun.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2Dataset.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2IntegrationRuntimeKey.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2IntegrationRuntimeMetric.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2IntegrationRuntimeNode.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2IntegrationRuntimeOutboundNetworkDependenciesEndpoint.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2LinkedService.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2Pipeline.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2PipelineRun.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2Trigger.md
  src/DataFactory/DataFactory/help/Get-AzDataFactoryV2TriggerRun.md
  src/DataFactory/DataFactory/help/Invoke-AzDataFactoryV2IntegrationRuntimeUpgrade.md
  src/DataFactory/DataFactory/help/Invoke-AzDataFactoryV2Pipeline.md
  src/DataFactory/DataFactory/help/New-AzDataFactoryV2IntegrationRuntimeKey.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2Dataset.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2LinkedService.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2Pipeline.md
  src/DataFactory/DataFactory/help/Remove-AzDataFactoryV2Trigger.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2Dataset.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2LinkedService.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2Pipeline.md
  src/DataFactory/DataFactory/help/Set-AzDataFactoryV2Trigger.md
  src/DataFactory/DataFactory/help/Start-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Start-AzDataFactoryV2Trigger.md
  src/DataFactory/DataFactory/help/Stop-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Stop-AzDataFactoryV2Trigger.md
  src/DataFactory/DataFactory/help/Update-AzDataFactoryV2IntegrationRuntime.md
  src/DataFactory/DataFactory/help/Update-AzDataFactoryV2IntegrationRuntimeNode.md
  src/Network/Network/help/New-AzP2sVpnGateway.md
  src/Network/Network/help/New-AzVpnGateway.md
  src/RecoveryServices/RecoveryServices/help/Undo-AzRecoveryServicesBackupItemDeletion.md
Due: none

Update src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

update test
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Invoke-AzConnectedReconcileNetworkSecurityPerimeterConfiguration.Recording.json
Due: none

fix diskPurchasePlan
  src/Compute/Compute.Management.Sdk/Customizations/Disk.cs
  src/Compute/Compute.Management.Sdk/Customizations/DiskRestorePoint.cs
  src/Compute/Compute.Management.Sdk/Customizations/DiskUpdate.cs
  src/Compute/Compute.Management.Sdk/Customizations/Snapshot.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/Disk.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/DiskPurchasePlan.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/DiskRestorePoint.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/DiskUpdate.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/PurchasePlan.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/Snapshot.cs
  src/Compute/Compute.Management.Sdk/README.md
Due: none

update tests
  src/ConnectedMachine/ConnectedMachine.Autorest/installationlog.txt
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Get-AzConnectedLicenseProfile.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/New-AzConnectedLicenseProfile.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Remove-AzConnectedLicenseProfile.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/Update-AzConnectedLicenseProfile.Recording.json
  src/ConnectedMachine/ConnectedMachine.Autorest/test/env.json
Due: none

fix UserAssignedIdentitiesValueModel
  src/Compute/Compute.Management.Sdk/Generated/Models/EncryptionSetIdentity.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/GalleryIdentity.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/UserAssignedIdentitiesValueModel.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/VirtualMachineIdentity.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/VirtualMachineScaleSetIdentity.cs
  src/Compute/Compute.Management.Sdk/Rest-api-specs/common.json
  src/Compute/Compute/Extension/AEM/SetAzureRmVMAEMExtension.cs
  src/Compute/Compute/Generated/DiskEncryptionSet/Config/NewAzureRmDiskEncryptionSetConfigCommand.cs
  src/Compute/Compute/Generated/DiskEncryptionSet/DiskEncryptionSetUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
Due: none

fix proxyresource
  src/Compute/Compute.Management.Sdk/Generated/DiskAccessesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/DiskAccessesOperationsExtensions.cs
  src/Compute/Compute.Management.Sdk/Generated/IDiskAccessesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/DiskRestorePoint.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/PrivateEndpointConnection.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/ProxyResource.cs
  src/Compute/Compute.Management.Sdk/Generated/Models/RestorePoint.cs
  src/Compute/Compute.Management.Sdk/Rest-api-specs/types.json
Due: none

Updating naming casing
  src/Mongodb/MongoDb.sln
  src/Mongodb/MongoDb/Az.MongoDb.psd1
  src/Mongodb/MongoDb/ChangeLog.md
  src/Mongodb/MongoDb/MongoDb.csproj
  src/Mongodb/MongoDb/Properties/AssemblyInfo.cs
  src/Mongodb/MongoDb/help/Az.MongoDb.md
  src/Mongodb/MongoDb/help/Get-AzMongodbOrganization.md
  src/Mongodb/MongoDb/help/New-AzMongodbOrganization.md
  src/Mongodb/MongoDb/help/Remove-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/README.md
  src/Mongodb/Mongodb.Autorest/UX/MongoDB.Atlas/organizations.json
  src/Mongodb/Mongodb.Autorest/custom/Az.MongoDb.custom.psm1
  src/Mongodb/Mongodb.Autorest/custom/README.md
  src/Mongodb/Mongodb.Autorest/docs/Az.MongoDb.md
  src/Mongodb/Mongodb.Autorest/docs/Get-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/docs/New-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/docs/README.md
  src/Mongodb/Mongodb.Autorest/docs/Remove-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/examples/Get-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/examples/New-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/examples/Remove-AzMongodbOrganization.md
  src/Mongodb/Mongodb.Autorest/generate-info.json
  src/Mongodb/Mongodb.Autorest/how-to.md
  src/Mongodb/Mongodb.Autorest/test/Get-AzMongodbOrganization.Recording.json
  src/Mongodb/Mongodb.Autorest/test/Get-AzMongodbOrganization.Tests.ps1
  src/Mongodb/Mongodb.Autorest/test/New-AzMongodbOrganization.Recording.json
  src/Mongodb/Mongodb.Autorest/test/New-AzMongodbOrganization.Tests.ps1
  src/Mongodb/Mongodb.Autorest/test/Remove-AzMongodbOrganization.Recording.json
  src/Mongodb/Mongodb.Autorest/test/Remove-AzMongodbOrganization.Tests.ps1
  src/Mongodb/Mongodb.Autorest/test/env.json
  src/Mongodb/Mongodb.Autorest/test/utils.ps1
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

adding psh mongo
  src/MongoDB/MongoDB.Autorest/.gitattributes
  src/MongoDB/MongoDB.Autorest/.gitignore
  src/MongoDB/MongoDB.Autorest/Properties/AssemblyInfo.cs
  src/MongoDB/MongoDB.Autorest/README.md
  src/MongoDB/MongoDB.Autorest/UX/MongoDB.Atlas/organizations.json
  src/MongoDB/MongoDB.Autorest/custom/Az.MongoDB.custom.psm1
  src/MongoDB/MongoDB.Autorest/custom/README.md
  src/MongoDB/MongoDB.Autorest/docs/Az.MongoDB.md
  src/MongoDB/MongoDB.Autorest/docs/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/docs/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/docs/README.md
  src/MongoDB/MongoDB.Autorest/docs/Remove-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/Remove-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/generate-info.json
  src/MongoDB/MongoDB.Autorest/how-to.md
  src/MongoDB/MongoDB.Autorest/resources/README.md
  src/MongoDB/MongoDB.Autorest/test/Get-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/Get-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/New-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/New-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/README.md
  src/MongoDB/MongoDB.Autorest/test/Remove-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/Remove-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/env.json
  src/MongoDB/MongoDB.Autorest/test/loadEnv.ps1
  src/MongoDB/MongoDB.Autorest/test/utils.ps1
  src/MongoDB/MongoDB.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/MongoDB/MongoDB.Autorest/utils/Unprotect-SecureString.ps1
  src/MongoDB/MongoDB.sln
  src/MongoDB/MongoDB/Az.MongoDB.psd1
  src/MongoDB/MongoDB/ChangeLog.md
  src/MongoDB/MongoDB/MongoDB.csproj
  src/MongoDB/MongoDB/Properties/AssemblyInfo.cs
  src/MongoDB/MongoDB/help/Az.MongoDB.md
  src/MongoDB/MongoDB/help/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB/help/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB/help/Remove-AzMongoDBOrganization.md
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove ProgressAction parameters
  src/NetAppFiles/NetAppFiles/help/New-AzNetAppFilesVolumeGroup.md
  src/NetAppFiles/NetAppFiles/help/Set-AzNetAppFilesAccount.md
  src/NetAppFiles/NetAppFiles/help/Update-AzNetAppFilesAccount.md
  src/Network/Network/help/New-AzNatGateway.md
  src/Network/Network/help/New-AzPublicIpAddress.md
  src/Network/Network/help/New-AzPublicIpPrefix.md
  src/Network/Network/help/Set-AzNatGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkSubnetConfig.md
Due: none

polymorphism
  tools/Mcp/src/index.ts
  tools/Mcp/src/services/toolServices.ts
  tools/Mcp/src/services/utils.ts
  tools/Mcp/src/specs/specs.json
  tools/Mcp/test/vmware.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Simplify live test for investigation
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  src/Accounts/LiveTests/Accounts/TestLiveScenarios.disabled.ps1
  src/Aks/LiveTests/Aks/TestLiveScenarios.disabled.ps1
  src/App/Livetests/App.Autorest/TestLiveScenarios.disabled.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.disabled.ps1
  src/ConnectedKubernetes/LiveTests/ConnectedKubernetes.Autorest/TestLiveScenarios.disabled.ps1
  src/ContainerInstance/LiveTests/ContainerInstance.Autorest/TestLiveScenarios.disabled.ps1
  src/ContainerRegistry/LiveTests/ContainerRegistry.Autorest/TestLiveScenarios.disabled.ps1
  src/Databricks/LiveTests/Databricks.Autorest/TestLiveScenarios.disabled.ps1
  src/DesktopVirtualization/LiveTests/DesktopVirtualization.Autorest/TestLiveScenarios.disabled.ps1
  src/Dns/LiveTests/Dns/TestLiveScenarios.disabled.ps1
  src/Functions/LiveTests/Functions.Autorest/TestLiveScenarios.disabled.ps1
  src/KeyVault/LiveTests/KeyVault/TestLiveScenarios.disabled.ps1
  src/Network/LiveTests/Network/TestLiveScenarios.disabled.ps1
  src/SpringCloud/LiveTests/SpringCloud.Autorest/TestLiveScenarios.disabled.ps1
  src/Sql/LiveTests/Sql/TestLiveScenarios.disabled.ps1
  src/Storage/LiveTests/Storage.Management/TestLiveScenarios.ps1
  src/Synapse/LiveTests/Synapse/TestLiveScenarios.disabled.ps1
  src/Websites/LiveTests/Websites/TestLiveScenarios.disabled.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

rerecord test and added SuspendBackup scenrio
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVMMUA.json
Due: none

Make RetainRPAsPerPolicy MUA protected in DisableProtection
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureVmWorkloadModels/AzureWorkloadSQLDatabaseProtectedItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureFilesPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureWorkloadPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Item/DisableAzureRmRecoveryServicesBackupProtection.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

upgrade alpine-3.17 to alpine-3.20 (#27821)
  docker/Dockerfile-alpine-3.20
Due: none

fix date format
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

resolve gaps in test cases
  src/Network/Network/NetworkWatcher/PacketCapture/NewAzureNetworkWatcherPacketCaptureCommandV2.cs
Due: none

Update documentation for New-AzCosmosDBThroughputBucketObject
  src/CosmosDB/CosmosDB/help/Az.CosmosDB.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBThroughputBucketObject.md
Due: none

[Az.RecoveryServices.Backup] Added suspend backup as MUA protected operation (#27835)
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureVmWorkloadModels/AzureWorkloadSQLDatabaseProtectedItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureFilesPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureWorkloadPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVMMUA.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Item/DisableAzureRmRecoveryServicesBackupProtection.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

PSH comdlets for MongoDB initial release (#27833)
  src/MongoDB/MongoDB.Autorest/.gitattributes
  src/MongoDB/MongoDB.Autorest/.gitignore
  src/MongoDB/MongoDB.Autorest/Properties/AssemblyInfo.cs
  src/MongoDB/MongoDB.Autorest/README.md
  src/MongoDB/MongoDB.Autorest/UX/MongoDB.Atlas/organizations.json
  src/MongoDB/MongoDB.Autorest/custom/Az.MongoDB.custom.psm1
  src/MongoDB/MongoDB.Autorest/custom/README.md
  src/MongoDB/MongoDB.Autorest/docs/Az.MongoDB.md
  src/MongoDB/MongoDB.Autorest/docs/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/docs/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/docs/README.md
  src/MongoDB/MongoDB.Autorest/docs/Remove-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/examples/Remove-AzMongoDBOrganization.md
  src/MongoDB/MongoDB.Autorest/generate-info.json
  src/MongoDB/MongoDB.Autorest/how-to.md
  src/MongoDB/MongoDB.Autorest/resources/README.md
  src/MongoDB/MongoDB.Autorest/test/Get-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/Get-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/New-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/New-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/README.md
  src/MongoDB/MongoDB.Autorest/test/Remove-AzMongoDBOrganization.Recording.json
  src/MongoDB/MongoDB.Autorest/test/Remove-AzMongoDBOrganization.Tests.ps1
  src/MongoDB/MongoDB.Autorest/test/env.json
  src/MongoDB/MongoDB.Autorest/test/loadEnv.ps1
  src/MongoDB/MongoDB.Autorest/test/utils.ps1
  src/MongoDB/MongoDB.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/MongoDB/MongoDB.Autorest/utils/Unprotect-SecureString.ps1
  src/MongoDB/MongoDB.sln
  src/MongoDB/MongoDB/Az.MongoDB.psd1
  src/MongoDB/MongoDB/ChangeLog.md
  src/MongoDB/MongoDB/MongoDB.csproj
  src/MongoDB/MongoDB/Properties/AssemblyInfo.cs
  src/MongoDB/MongoDB/help/Az.MongoDB.md
  src/MongoDB/MongoDB/help/Get-AzMongoDBOrganization.md
  src/MongoDB/MongoDB/help/New-AzMongoDBOrganization.md
  src/MongoDB/MongoDB/help/Remove-AzMongoDBOrganization.md
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

change in validation and added test case for VMSS with continuous capture
  src/Network/Network.Test/ScenarioTests/NetworkWatcherAPITests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkWatcherAPITests/TestPacketCaptureVMSS.json
  src/Network/Network/NetworkWatcher/PacketCapture/NewPacketCaptureSettingsCommand.cs
Due: none

Updated the change log
  src/Network/Network/ChangeLog.md
Due: none

#27841 Add Bleu cloud to Enter-AzVM
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Factories/SshCredentialFactory.cs
Due: none

Update src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/ChangeLog.md
Due: none

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

docs(datamigration): add examples for New-AzDataMigrationToSqlManagedInstance cmdlet
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/examples/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
Due: none

[PS] MobileNetwork retirement (#27822)
  src/MobileNetwork/MobileNetwork.Autorest/Properties/AssemblyInfo.cs
  src/MobileNetwork/MobileNetwork.Autorest/README.md
  src/MobileNetwork/MobileNetwork.Autorest/custom/New-AzMobileNetworkSite.ps1
  src/MobileNetwork/MobileNetwork.Autorest/custom/Update-AzMobileNetworkService.ps1
  src/MobileNetwork/MobileNetwork.Autorest/custom/Update-AzMobileNetworkSlice.ps1
  src/MobileNetwork/MobileNetwork.Autorest/docs/Update-AzMobileNetworkPacketCoreControlPlane.md
  src/MobileNetwork/MobileNetwork.Autorest/docs/Update-AzMobileNetworkSimGroup.md
  src/MobileNetwork/MobileNetwork.Autorest/generate-info.json
  src/MobileNetwork/MobileNetwork.sln
  src/MobileNetwork/MobileNetwork/ChangeLog.md
Due: none

docs(datamigration): add examples for New-AzDataMigrationToSqlManagedInstance cmdlet (#27836)
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/examples/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
Due: none

Force Get-AzAccessToken to always return SecureString as long as AsSecureString is set (#27817)
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
Due: none

Bump up version for Accounts
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/Tools.Common/SerializedCmdlets/Az.Accounts.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[skip ci] Archive 77db2d518eec600b907288a9150c5e65dfe66a68
  generated/DataMigration/DataMigration.Autorest/exports/New-AzDataMigrationToSqlManagedInstance.ps1
  generated/DataMigration/DataMigration.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/DataMigration/DataMigration.Autorest/generate-info.json
  generated/DataMigration/DataMigration.Autorest/internal/New-AzDataMigrationToSqlManagedInstance.ps1
  generated/DataMigration/DataMigration.Autorest/internal/ProxyCmdletDefinitions.ps1
Due: none

Fix the issue in change log
  src/Accounts/Accounts/ChangeLog.md
Due: none

Change to switch parameter
  src/Compute/Compute.Test/ScenarioTests/DedicatedHostTests.ps1
  src/Compute/Compute/Generated/DedicatedHost/DedicatedHostUpdateMethod.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
