Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update custom logic
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/generate-info.json
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Set-AzConnectedKubernetes.md
  tools/StaticAnalysis/Exceptions/Az.Dashboard/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update
  tools/StaticAnalysis/Exceptions/Az.Dashboard/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

migrate GuestConfiguration module to autorest v4
  src/GuestConfiguration/GuestConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/GuestConfiguration/GuestConfiguration.Autorest/README.md
  src/GuestConfiguration/GuestConfiguration.Autorest/custom/Remove-AzGuestConfigurationAssignment.ps1
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Az.GuestConfiguration.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Get-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Get-AzGuestConfigurationAssignmentReport.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/New-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Remove-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/examples/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/generate-info.json
  src/GuestConfiguration/GuestConfiguration.Autorest/resources/README.md
  src/GuestConfiguration/GuestConfiguration.Autorest/test/Update-AzGuestConfigurationAssignment.Tests.ps1
  src/GuestConfiguration/GuestConfiguration.sln
  src/GuestConfiguration/GuestConfiguration/Az.GuestConfiguration.psd1
  src/GuestConfiguration/GuestConfiguration/help/Az.GuestConfiguration.md
  src/GuestConfiguration/GuestConfiguration/help/Get-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration/help/Get-AzGuestConfigurationAssignmentReport.md
  src/GuestConfiguration/GuestConfiguration/help/Remove-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration/help/Update-AzGuestConfigurationAssignment.md
Due: none

update migration
  src/GuestConfiguration/GuestConfiguration.Autorest/README.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/examples/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/generate-info.json
  src/GuestConfiguration/GuestConfiguration.sln
  src/GuestConfiguration/GuestConfiguration/ChangeLog.md
  src/GuestConfiguration/GuestConfiguration/help/Update-AzGuestConfigurationAssignment.md
Due: none

[ConnectedKubernetes] Update cmdlets custom logic (#27610)
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/generate-info.json
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Set-AzConnectedKubernetes.md
Due: none

[PS] migrate GuestConfiguration module to autorest v4 (#27611)
  src/GuestConfiguration/GuestConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/GuestConfiguration/GuestConfiguration.Autorest/README.md
  src/GuestConfiguration/GuestConfiguration.Autorest/custom/Remove-AzGuestConfigurationAssignment.ps1
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Az.GuestConfiguration.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Get-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Get-AzGuestConfigurationAssignmentReport.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/New-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Remove-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/docs/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/examples/Update-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration.Autorest/generate-info.json
  src/GuestConfiguration/GuestConfiguration.Autorest/resources/README.md
  src/GuestConfiguration/GuestConfiguration.Autorest/test/Update-AzGuestConfigurationAssignment.Tests.ps1
  src/GuestConfiguration/GuestConfiguration.sln
  src/GuestConfiguration/GuestConfiguration/Az.GuestConfiguration.psd1
  src/GuestConfiguration/GuestConfiguration/ChangeLog.md
  src/GuestConfiguration/GuestConfiguration/help/Az.GuestConfiguration.md
  src/GuestConfiguration/GuestConfiguration/help/Get-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration/help/Get-AzGuestConfigurationAssignmentReport.md
  src/GuestConfiguration/GuestConfiguration/help/Remove-AzGuestConfigurationAssignment.md
  src/GuestConfiguration/GuestConfiguration/help/Update-AzGuestConfigurationAssignment.md
Due: none

[skip ci] Archive 216edce0145007dda882be3c32826749d86a6be7
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/New-AzConnectedKubernetes.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/Set-AzConnectedKubernetes.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/generate-info.json
Due: none

fix tests
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/AdlsTests.cs
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/AdlsTests.ps1
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/DataLakeStoreTestRunner.cs
Due: none

saved changes
  src/Compute/Compute.Management.Sdk/Generated/IVirtualMachineImagesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/VirtualMachineImagesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/VirtualMachineImagesOperationsExtensions.cs
  src/Compute/Compute.Management.Sdk/README.md
  src/Compute/Compute/Compute.format.ps1xml
  src/Compute/Compute/Images/GetAzureVMImageCommand.cs
  src/Compute/Compute/Models/PSVirtualMachineImage.cs
Due: none

update changelog
  src/StandbyPool/StandbyPool/ChangeLog.md
Due: none

[skip ci] Archive 216edce0145007dda882be3c32826749d86a6be7 (#27612)
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/New-AzConnectedKubernetes.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/exports/Set-AzConnectedKubernetes.ps1
  generated/ConnectedKubernetes/ConnectedKubernetes.Autorest/generate-info.json
Due: none

(AzureCXP) fixes MicrosoftDocs/azure-powershell#27148940
  src/RecoveryServices/RecoveryServices/help/Update-AzRecoveryServicesAsrProtectionContainerMapping.md
Due: none

test
  .azure-pipelines/PipelineSteps/BatchGeneration/filter.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

(AzureCXP) fixes MicrosoftDocs/azure-powershell#27148940 (#27618)
  src/RecoveryServices/RecoveryServices/help/Update-AzRecoveryServicesAsrProtectionContainerMapping.md
Due: none

migrate HanaOnAzure module to autorest v4
  src/HanaOnAzure/HanaOnAzure.Autorest/Properties/AssemblyInfo.cs
  src/HanaOnAzure/HanaOnAzure.Autorest/README.md
  src/HanaOnAzure/HanaOnAzure.Autorest/custom/New-AzSapMonitorProviderInstance.ps1
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Az.HanaOnAzure.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Get-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Get-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/New-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Remove-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Remove-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/generate-info.json
  src/HanaOnAzure/HanaOnAzure.Autorest/resources/README.md
  src/HanaOnAzure/HanaOnAzure.Autorest/test/Update-AzSapMonitorProviderInstance.Tests.ps1
  src/HanaOnAzure/HanaOnAzure.sln
  src/HanaOnAzure/HanaOnAzure/Az.HanaOnAzure.psd1
  src/HanaOnAzure/HanaOnAzure/ChangeLog.md
  src/HanaOnAzure/HanaOnAzure/help/Az.HanaOnAzure.md
  src/HanaOnAzure/HanaOnAzure/help/Get-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Get-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/New-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/Remove-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Remove-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitorProviderInstance.md
Due: none

Add PEC provider configurations for Microsoft.DocumentDB/mongoClusters
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
Due: none

test 2
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/Update-AzSapMonitorProviderInstance.md
Due: none

Update example
  src/HanaOnAzure/HanaOnAzure.Autorest/Properties/AssemblyInfo.cs
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/generate-info.json
  src/HanaOnAzure/HanaOnAzure.sln
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitorProviderInstance.md
Due: none

feat(datamigration): bump up api to 2025-03-15-preview
  src/DataMigration/DataMigration.Autorest/Az.DataMigration.nuspec
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.DataMigration/sqlMigrationServices.json
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceIntegrationRuntimeMetric.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceMigration.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration.Autorest/docs/Remove-AzDataMigrationSqlServiceNode.md
  src/DataMigration/DataMigration.Autorest/docs/Update-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationSqlService.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationSqlServiceAuthKey.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationSqlServiceIntegrationRuntimeMetric.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationSqlServiceMigration.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationToSqlManagedInstance.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Get-AzDataMigrationToSqlVM.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Invoke-AzDataMigrationCutoverToSqlManagedInstance.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Invoke-AzDataMigrationCutoverToSqlVM.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/New-AzDataMigrationSqlService.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/New-AzDataMigrationSqlServiceAuthKey.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/New-AzDataMigrationToSqlManagedInstance.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/New-AzDataMigrationToSqlVM.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Remove-AzDataMigrationSqlService.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Remove-AzDataMigrationSqlServiceNode.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Stop-AzDataMigrationToSqlManagedInstance.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Stop-AzDataMigrationToSqlVM.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/Update-AzDataMigrationSqlService.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/loadEnv.ps1
  src/DataMigration/DataMigration.Autorest/test/utils.ps1
Due: none

feat(datamigration): add support for managed identity auth in Blob to SqlMi migrations
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/examples/New-AzDataMigrationToSqlManagedInstance.md
Due: none

docs(datamigration): update changelog
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

fix plural
  src/NetAppFiles/NetAppFiles.Test/ScenarioTests/NetAppResourceTests.ps1
  src/NetAppFiles/NetAppFiles/help/Get-AzNetAppFilesUsage.md
Due: none

Az.DeviceUpdate update generation tool version: autorest.powershell v3->v4
  src/DeviceUpdate/DeviceUpdate.Autorest/Properties/AssemblyInfo.cs
  src/DeviceUpdate/DeviceUpdate.Autorest/README.md
  src/DeviceUpdate/DeviceUpdate.Autorest/custom/New-AzDeviceUpdateInstance.ps1
  src/DeviceUpdate/DeviceUpdate.Autorest/custom/autogen-model-cmdlets/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.ps1
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Az.DeviceUpdate.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Get-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Get-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Remove-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Remove-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Test-AzDeviceUpdateNameAvailability.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Update-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/examples/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/examples/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/generate-info.json
  src/DeviceUpdate/DeviceUpdate.Autorest/resources/README.md
  src/DeviceUpdate/DeviceUpdate.Autorest/test/AzDeviceUpdateAccount.Tests.ps1
  src/DeviceUpdate/DeviceUpdate.sln
  src/DeviceUpdate/DeviceUpdate/Az.DeviceUpdate.psd1
  src/DeviceUpdate/DeviceUpdate/ChangeLog.md
  src/DeviceUpdate/DeviceUpdate/help/Az.DeviceUpdate.md
  src/DeviceUpdate/DeviceUpdate/help/Get-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Get-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/Remove-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Remove-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/Test-AzDeviceUpdateNameAvailability.md
  src/DeviceUpdate/DeviceUpdate/help/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Update-AzDeviceUpdateInstance.md
Due: none
