Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Fix test coverage raw data empty issue on macOS
  .azure-pipelines/util/test-steps.yml
  tools/TestFx/Coverage/AnalyzeTestCoverage.ps1
  tools/TestFx/Coverage/ValidateTestCoverage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Test for unknown exception
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Test for unknown exception
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Azure.Core from 1.31.0 to 1.33.0
  src/HDInsight/HDInsight.Test/HDInsight.Test.csproj
  src/HDInsight/HDInsight/HDInsight.csproj
Due: none

Updated breaking change message with module name
  UpcommingBreakingChange.md
Due: none

Sync doc to the upcoming-breaking-changes.md
  documentation/breaking-changes/upcoming-breaking-changes.md
Due: none

Updated breaking change message with module name (#22200)
  UpcommingBreakingChange.md
  documentation/breaking-changes/upcoming-breaking-changes.md
Due: none

update flag
  src/SpringCloud/README.md
Due: none

[DataFactory]Added DisablePublish to Set_AzDataFactoryV2 Command
  src/DataFactory/DataFactoryV2/Changelog.md
  src/DataFactory/DataFactoryV2/Constants.cs
  src/DataFactory/DataFactoryV2/DataFactories/SetAzureDataFactoryCommand.cs
  src/DataFactory/DataFactoryV2/help/Set-AzDataFactoryV2.md
Due: none

change
  src/DataFactory/DataFactoryV2/DataFactories/SetAzureDataFactoryCommand.cs
Due: none

Updated changelog
  src/Compute/Compute/ChangeLog.md
Due: none

Migrating from Microsoft.Azure.keyvault to Azure.security.keyvault libray
  src/ServiceFabric/ServiceFabric.Test/Resources/parameters.json
  src/ServiceFabric/ServiceFabric.Test/Resources/parametersCNCert.json
  src/ServiceFabric/ServiceFabric.Test/Resources/template.json
  src/ServiceFabric/ServiceFabric.Test/Resources/templateCNCert.json
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/TestServiceFabric.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.TestServiceFabric/TestNewAzureRmServiceFabricClusterWithSelfSignedCert.json
  src/ServiceFabric/ServiceFabric/Commands/ServiceFabricClusterCertificateCmdlet.cs
  src/ServiceFabric/ServiceFabric/Commands/ServiceFabricCmdletBase.cs
Due: none

record tests
  src/Sql/Sql.Test/ScenarioTests/DatabaseCrudTests.cs
  src/Sql/Sql.Test/ScenarioTests/ElasticPoolCrudTests.cs
  src/Sql/Sql.Test/ScenarioTests/ElasticPoolCrudTests.ps1
Due: none

[CosmosDB] Updated to version 2023-03-15-preview
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
Due: none

Removing length validation for DNS TXT record to ensure consistency
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.cs
  src/Dns/Dns.Test/ScenarioTests/RecordsTests.ps1
  src/Dns/Dns/Models/DnsClient.cs
  src/Dns/Dns/Models/DnsRecordSet.cs
  src/Dns/Dns/Records/AddAzureDnsRecordConfig.cs
  src/Dns/Dns/Records/NewAzureRmDnsRecordConfig.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/RecordsTests.cs
  src/PrivateDns/PrivateDns.Test/ScenarioTests/RecordsTests.ps1
  src/PrivateDns/PrivateDns/Models/PSPrivateDnsRecordSet.cs
  src/PrivateDns/PrivateDns/Models/PrivateDnsClient.cs
  src/PrivateDns/PrivateDns/Records/AddAzurePrivateDnsRecordConfig.cs
  src/PrivateDns/PrivateDns/Records/NewAzureRmPrivateDnsRecordConfig.cs
Due: none

Removing json files corresponding to removed tests for length validation
  src/Dns/Dns.Test/SessionRecords/Microsoft.Azure.Commands.ScenarioTest.DnsTests.RecordsTests/TestRecordSetTXTLegacyLengthValidation.json
  src/Dns/Dns.Test/SessionRecords/Microsoft.Azure.Commands.ScenarioTest.DnsTests.RecordsTests/TestRecordSetTXTLengthValidation.json
  src/PrivateDns/PrivateDns.Test/SessionRecords/Microsoft.Azure.Commands.PrivateDns.Test.ScenarioTests.RecordsTests/TestRecordSetTXTLegacyLengthValidation.json
  src/PrivateDns/PrivateDns.Test/SessionRecords/Microsoft.Azure.Commands.PrivateDns.Test.ScenarioTests.RecordsTests/TestRecordSetTXTLengthValidation.json
Due: none

Changelog for public and private Dns
  src/Dns/Dns/ChangeLog.md
  src/PrivateDns/PrivateDns/ChangeLog.md
Due: none

Update upcoming-breaking-changes.md
  documentation/breaking-changes/upcoming-breaking-changes.md
Due: none

fix code
  src/ContainerRegistry/ContainerRegistry.Autorest/custom/Registry.cs
Due: none

Bump up version for Databricks
  src/Databricks/Az.Databricks.psd1
  src/Databricks/ChangeLog.md
  src/Databricks/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.Databricks.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Rename generated sdk verification step in Static Analysis
  .ci-config.json
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/GeneratedSdkIssue.cs
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
  tools/StaticAnalysis/IssueChecker/IssueChecker.cs
  tools/StaticAnalysis/ReportRecordFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix test coverage raw data empty issue on macOS (#21891)
  .azure-pipelines/util/test-steps.yml
  tools/TestFx/Coverage/AnalyzeTestCoverage.ps1
  tools/TestFx/Coverage/ValidateTestCoverage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

suppress breaking change
  tools/StaticAnalysis/Exceptions/Az.ContainerRegistry/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update src/Dns/Dns/ChangeLog.md
  src/Dns/Dns/ChangeLog.md
Due: none

Update src/PrivateDns/PrivateDns/ChangeLog.md
  src/PrivateDns/PrivateDns/ChangeLog.md
Due: none

Typo "flexible server"→"Flexible Server"
  src/PostgreSql/help/New-AzPostgreSqlFlexibleServer.md
Due: none

[Pipleline] Generated sdk code verify (#22199)
  .ci-config.json
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/GeneratedSdkIssue.cs
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
  tools/StaticAnalysis/IssueChecker/IssueChecker.cs
  tools/StaticAnalysis/ReportRecordFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the format of SignatureIssues.csv in Az.Network
  tools/StaticAnalysis/Exceptions/Az.Network/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the format of SignatureIssues.csv in Az.Network
  documentation/breaking-changes/upcoming-breaking-changes.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
