Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Az.DiskPool update generation tool version: autorest.powershell v3->v4
  src/DiskPool/DiskPool/ChangeLog.md
Due: none

address PR comments - rename zone param singular
  src/StandbyPool/StandbyPool.Autorest/Properties/AssemblyInfo.cs
  src/StandbyPool/StandbyPool.Autorest/README.md
  src/StandbyPool/StandbyPool.Autorest/custom/Az.StandbyPool.custom.psm1
  src/StandbyPool/StandbyPool.Autorest/custom/README.md
  src/StandbyPool/StandbyPool.Autorest/docs/New-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool.Autorest/docs/New-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool.Autorest/docs/README.md
  src/StandbyPool/StandbyPool.Autorest/docs/Update-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool.Autorest/docs/Update-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool.Autorest/examples/New-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool.Autorest/examples/Update-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool.Autorest/generate-info.json
  src/StandbyPool/StandbyPool.Autorest/resources/README.md
  src/StandbyPool/StandbyPool.Autorest/test/AzStandbyContainerPool.Recording.json
  src/StandbyPool/StandbyPool.Autorest/test/AzStandbyContainerPool.Tests.ps1
  src/StandbyPool/StandbyPool.Autorest/test/AzStandbyVMPool.Recording.json
  src/StandbyPool/StandbyPool.Autorest/test/README.md
  src/StandbyPool/StandbyPool.Autorest/test/env.json
  src/StandbyPool/StandbyPool.Autorest/test/localEnv.json
  src/StandbyPool/StandbyPool.sln
  src/StandbyPool/StandbyPool/Az.StandbyPool.psd1
  src/StandbyPool/StandbyPool/ChangeLog.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyContainerGroupPoolStatus.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool/help/Get-AzStandbyVMPoolStatus.md
  src/StandbyPool/StandbyPool/help/New-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool/help/New-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool/help/Remove-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool/help/Remove-AzStandbyVMPool.md
  src/StandbyPool/StandbyPool/help/Update-AzStandbyContainerGroupPool.md
  src/StandbyPool/StandbyPool/help/Update-AzStandbyVMPool.md
Due: none

Add Telemetry Data
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Authentication/Authentication/DelegatingAuthenticator.cs
  src/Accounts/Authentication/Authentication/IAuthenticator.cs
  src/Accounts/Authentication/Authentication/PassThroughAuthenticator.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authenticators/AccessTokenAuthenticator.cs
  src/Accounts/Authenticators/ClientAssertionAuthenticator.cs
  src/Accounts/Authenticators/DeviceCodeAuthenticator.cs
  src/Accounts/Authenticators/InteractiveUserAuthenticator.cs
  src/Accounts/Authenticators/InteractiveWamAuthenticator.cs
  src/Accounts/Authenticators/ManagedServiceIdentityAuthenticator.cs
  src/Accounts/Authenticators/ServicePrincipalAuthenticator.cs
  src/Accounts/Authenticators/SilentAuthenticator.cs
  src/Accounts/Authenticators/UsernamePasswordAuthenticator.cs
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add CmdletContext
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts.Test/AzureRMProfileTests.cs
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/Common/AzureContextModificationCmdlet.cs
  src/Accounts/Accounts/Common/EnvironmentCompleterAttribute.cs
  src/Accounts/Accounts/CommonModule/ContextAdapter.cs
  src/Accounts/Accounts/CommonModule/EnvironmentExtensions.cs
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
  src/Accounts/Accounts/Default/GetAzureRmDefault.cs
  src/Accounts/Accounts/Default/SetAzureRMDefault.cs
  src/Accounts/Accounts/Environment/GetAzureRMEnvironment.cs
  src/Accounts/Accounts/Models/RMProfileClient.cs
  src/Accounts/Accounts/Rest/InvokeAzRestMethodCommand.cs
  src/Accounts/Accounts/Subscription/GetAzureRMSubscription.cs
  src/Accounts/Accounts/Tenant/GetAzureRMTenant.cs
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication.ResourceManager/AzureRmAutosaveProfile.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication.Test/AuthenticationFactoryTests.cs
  src/Accounts/Authentication.Test/Cmdlets/ConnectAccount.cs
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Factories/ClientFactory.cs
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockClientFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add Authentication Telemetry
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts.Test/AzureRMProfileTests.cs
  src/Accounts/Accounts/Common/AzureContextModificationCmdlet.cs
  src/Accounts/Accounts/Common/EnvironmentCompleterAttribute.cs
  src/Accounts/Accounts/CommonModule/ContextAdapter.cs
  src/Accounts/Accounts/Models/RMProfileClient.cs
  src/Accounts/Accounts/Tenant/GetAzureRMTenant.cs
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication.ResourceManager/AzureRmAutosaveProfile.cs
  src/Accounts/Authentication.Test/AuthenticationFactoryTests.cs
  src/Accounts/Authentication.Test/Cmdlets/ConnectAccount.cs
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Factories/ClientFactory.cs
  src/Accounts/Authenticators/ClientAssertionAuthenticator.cs
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockClientFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix failed test cases
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts.Test/AutosaveTests.cs
  src/Accounts/Accounts.Test/AzureRMProfileTests.cs
  src/Accounts/Accounts.Test/EnvironmentCmdletTests.cs
  src/Accounts/Accounts.Test/ErrorResolutionTests.cs
  src/Accounts/Accounts.Test/SilentReAuthByTenantCmdletTest.cs
  src/Accounts/Accounts.Test/TenantCmdletMockTests.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication.Test/AuthenticatorsTest/SilentAuthenticatorTests.cs
Due: none

Update common library
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Address review comments
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Authentication.Test/AuthenticatorsTest/SilentAuthenticatorTests.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Properties/Resources.Designer.cs
  src/Accounts/Authentication/Properties/Resources.resx
Due: none

Fix the pipeline error
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts.Test/AutosaveTests.cs
  src/Accounts/Accounts.Test/AzureRMProfileTests.cs
  src/Accounts/Accounts.Test/AzureSessionTestInitializer.cs
  src/Accounts/Accounts.Test/ContextCmdletTests.cs
  src/Accounts/Accounts.Test/ErrorResolutionTests.cs
  src/Accounts/Accounts.Test/ProfileCmdletTests.cs
  src/Accounts/Accounts.Test/SilentReAuthByTenantCmdletTest.cs
  src/Accounts/Accounts.Test/TenantCmdletMockTests.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication.Test/AuthenticatorsTest/SilentAuthenticatorTests.cs
Due: none

Update src/Accounts/Accounts/CommonModule/ContextAdapter.cs
  src/Accounts/Accounts/CommonModule/ContextAdapter.cs
Due: none

Fix typo
  src/Accounts/Accounts/CommonModule/ContextAdapter.cs
Due: none

Add test case file
  src/Accounts/Authentication/Factories/AuthenticationFactoryTest.cs
Due: none

Add test cases to collect authentication telemetry
  src/Accounts/Authentication.Test/AuthenticationFactoryConcurrencyTest.cs
  src/Accounts/Authentication.Test/AuthenticationFactoryTests.cs
  src/Accounts/Authentication.Test/Mocks/MockAuthenticationTestBase.cs
  src/Accounts/Authentication/Factories/AuthenticationFactoryTest.cs
  src/Accounts/Authentication/KeyStore/AzKeyStore.cs
Due: none

StandardV2 NGW changes
  src/Network/Network.Test/ScenarioTests/NatGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/NatGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NatGatewayTests/TestNatGatewayWithPIPsAndSourceVnet.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NatGatewayTests/TestNatGatewayWithPrefixesAndSourceVnet.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NatGatewayTests/TestVirtualNetworkSubnetConfigWithNatGateway.json
  src/Network/Network/Models/PSNatGateway.cs
  src/Network/Network/Models/PSPublicIpAddress.cs
  src/Network/Network/Models/PSPublicIpPrefix.cs
  src/Network/Network/Models/PSSubnet.cs
  src/Network/Network/Models/PSVirtualNetwork.cs
  src/Network/Network/NatGateway/NewAzureRMNatGatewayCommand.cs
  src/Network/Network/NatGateway/SetAzureRMNatGatewayCommand.cs
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/PublicIpAddress/NewAzurePublicIpAddressCommand.cs
  src/Network/Network/PublicIpPrefix/NewAzurePublicIpPrefixCommand.cs
  src/Network/Network/VirtualNetwork/Subnet/SetAzureVirtualNetworkSubnetConfigCommand.cs
Due: none

Generate Az.Network help markdown for modified cmdlets
  src/Network/Network/help/Approve-AzPrivateEndpointConnection.md
  src/Network/Network/help/Deny-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateLinkResource.md
  src/Network/Network/help/Remove-AzPrivateEndpointConnection.md
  src/Network/Network/help/Set-AzPrivateEndpointConnection.md
Due: none

update example
  src/HanaOnAzure/HanaOnAzure.Autorest/Properties/AssemblyInfo.cs
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/generate-info.json
  src/HanaOnAzure/HanaOnAzure.sln
  src/HanaOnAzure/HanaOnAzure/Az.HanaOnAzure.psd1
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitorProviderInstance.md
Due: none

Register Microsoft.DocumentDB/mongoClusters in Network private link provider configurations (#27620)
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
  src/Network/Network/help/Approve-AzPrivateEndpointConnection.md
  src/Network/Network/help/Deny-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateLinkResource.md
  src/Network/Network/help/Remove-AzPrivateEndpointConnection.md
  src/Network/Network/help/Set-AzPrivateEndpointConnection.md
Due: none

[PS] migrate HanaOnAzure module to autorest v4 (#27619)
  src/HanaOnAzure/HanaOnAzure.Autorest/Properties/AssemblyInfo.cs
  src/HanaOnAzure/HanaOnAzure.Autorest/README.md
  src/HanaOnAzure/HanaOnAzure.Autorest/custom/New-AzSapMonitorProviderInstance.ps1
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Az.HanaOnAzure.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Get-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Get-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/New-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Remove-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Remove-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure.Autorest/docs/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/examples/Update-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure.Autorest/generate-info.json
  src/HanaOnAzure/HanaOnAzure.Autorest/resources/README.md
  src/HanaOnAzure/HanaOnAzure.Autorest/test/Update-AzSapMonitorProviderInstance.Tests.ps1
  src/HanaOnAzure/HanaOnAzure.sln
  src/HanaOnAzure/HanaOnAzure/Az.HanaOnAzure.psd1
  src/HanaOnAzure/HanaOnAzure/ChangeLog.md
  src/HanaOnAzure/HanaOnAzure/help/Az.HanaOnAzure.md
  src/HanaOnAzure/HanaOnAzure/help/Get-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Get-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/New-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/New-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/Remove-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Remove-AzSapMonitorProviderInstance.md
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitor.md
  src/HanaOnAzure/HanaOnAzure/help/Update-AzSapMonitorProviderInstance.md
Due: none

Add TokenCredentials to differentiate broker and non-broker flows
  src/Accounts/Authentication/Authentication/DelegatingAuthenticator.cs
Due: none

[Az.DeviceUpdate] Update generation tool version: autorest.powershell v3 -> v4 (#27622)
  src/DeviceUpdate/DeviceUpdate.Autorest/Properties/AssemblyInfo.cs
  src/DeviceUpdate/DeviceUpdate.Autorest/README.md
  src/DeviceUpdate/DeviceUpdate.Autorest/custom/New-AzDeviceUpdateInstance.ps1
  src/DeviceUpdate/DeviceUpdate.Autorest/custom/autogen-model-cmdlets/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.ps1
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Az.DeviceUpdate.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Get-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Get-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/New-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Remove-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Remove-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Test-AzDeviceUpdateNameAvailability.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/docs/Update-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate.Autorest/examples/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/examples/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate.Autorest/generate-info.json
  src/DeviceUpdate/DeviceUpdate.Autorest/resources/README.md
  src/DeviceUpdate/DeviceUpdate.Autorest/test/AzDeviceUpdateAccount.Tests.ps1
  src/DeviceUpdate/DeviceUpdate.sln
  src/DeviceUpdate/DeviceUpdate/Az.DeviceUpdate.psd1
  src/DeviceUpdate/DeviceUpdate/ChangeLog.md
  src/DeviceUpdate/DeviceUpdate/help/Az.DeviceUpdate.md
  src/DeviceUpdate/DeviceUpdate/help/Get-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Get-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateCheckNameAvailabilityRequestObject.md
  src/DeviceUpdate/DeviceUpdate/help/New-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/Remove-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Remove-AzDeviceUpdateInstance.md
  src/DeviceUpdate/DeviceUpdate/help/Test-AzDeviceUpdateNameAvailability.md
  src/DeviceUpdate/DeviceUpdate/help/Update-AzDeviceUpdateAccount.md
  src/DeviceUpdate/DeviceUpdate/help/Update-AzDeviceUpdateInstance.md
Due: none

test 3
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/test-module.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 4
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

test 5
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/test-module.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml
