Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Bump up version for FirmwareAnalysis
  NuGet.Config
  src/FirmwareAnalysis/FirmwareAnalysis/Az.FirmwareAnalysis.psd1
  src/FirmwareAnalysis/FirmwareAnalysis/ChangeLog.md
  src/FirmwareAnalysis/FirmwareAnalysis/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Tools.Common/SerializedCmdlets/Az.FirmwareAnalysis.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.cs
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.ps1
  src/SignalR/SignalR.Test/ScenarioTests/CustomCertTests.ps1
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalR.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRCustomCertificateAndCustomDomain.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRSetUpstream.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRUpdate.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRUpdateNetworkAcl.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRWithDefaultArgs.json
  src/SignalR/SignalR.sln
  src/SignalR/SignalR/Cmdlets/SignalRCmdletBottom.cs
  src/SignalR/SignalR/help/Az.SignalR.md
  src/SignalR/SignalR/help/Get-AzSignalR.md
  src/SignalR/SignalR/help/Get-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/Get-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/New-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/New-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/Remove-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/Remove-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/Update-AzSignalRCustomDomain.md
Due: none

update
  src/Databricks/Databricks.Autorest/README.md
  src/Databricks/Databricks.Autorest/docs/New-AzDatabricksAccessConnector.md
  src/Databricks/Databricks.Autorest/generate-info.json
  src/Databricks/Databricks.sln
  src/Databricks/Databricks/help/New-AzDatabricksAccessConnector.md
Due: none

migrated part identity type revert
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/README.md
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzNfsFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzSmbFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzStorageContainerEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverMultiCloudConnectorEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverNfsEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverSmbEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzNfsFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzSmbFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzStorageContainerEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverMultiCloudConnectorEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverNfsEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverSmbEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
Due: none

remove ProgressAction parameters
  src/Compute/Compute/help/Grant-AzSnapshotAccess.md
  src/Network/Network/help/Get-AzVirtualNetworkGatewayFailoverAllTestsDetail.md
  src/Network/Network/help/Get-AzVirtualNetworkGatewayFailoverSingleTestDetail.md
  src/Network/Network/help/Get-AzVirtualNetworkGatewayResiliencyInformation.md
  src/Network/Network/help/Get-AzVirtualNetworkGatewayRoutesInformation.md
  src/Network/Network/help/Start-AzVirtualNetworkGatewaySiteFailoverTest.md
  src/Network/Network/help/Stop-AzVirtualNetworkGatewaySiteFailoverTest.md
Due: none

batch managmeent 2023-11-01 generation
  src/Batch/Batch.Management.Sdk/Generated/BatchManagementClient.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/AuthenticationMode.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/BatchAccountCreateParameters.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/BatchAccountCreateProperties.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/DataDisk.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/DiskEncryptionConfiguration.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/ImageReference.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/ManagedDisk.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/OSDisk.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/Pool.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/PoolProperties.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/SecurityProfile.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/SecurityTypes.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/ServiceArtifactReference.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/StartTask.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/StorageAccountType.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/UefiSettings.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/VirtualMachineConfiguration.cs
  src/Batch/Batch.Management.Sdk/README.md
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestBatchAccountEndToEnd.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestCreateNewBatchAccountWithNoPublicIp.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestCreateNewBatchAccountWithSystemIdentity.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestCreatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdateApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUploadApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationTests/TestAddApplication.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.LocationTests/TestGetLocationQuotas.json
Due: none

Batch managmenet 2024-02-01 generation
  src/Batch/Batch.Management.Sdk/Generated/BatchManagementClient.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/AutomaticOSUpgradePolicy.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/Pool.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/PoolProperties.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/RollingUpgradePolicy.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/SupportedSku.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/UpgradeMode.cs
  src/Batch/Batch.Management.Sdk/Generated/Models/UpgradePolicy.cs
  src/Batch/Batch.Management.Sdk/README.md
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestBatchAccountEndToEnd.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestCreateNewBatchAccountWithNoPublicIp.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchAccountTests/TestCreateNewBatchAccountWithSystemIdentity.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestCreatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdateApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUploadApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationTests/TestAddApplication.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.LocationTests/TestGetLocationQuotas.json
Due: none

Migrate module from AutoRest 3.x to 4.x
  src/Functions/Functions.Autorest/README.md
  src/Functions/Functions.Autorest/custom/Functions.format.ps1xml
  src/Functions/Functions.Autorest/custom/Functions.types.ps1xml
  src/Functions/Functions.Autorest/custom/Get-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Get-AzFunctionAppAvailableLocation.ps1
  src/Functions/Functions.Autorest/custom/Get-AzFunctionAppPlan.ps1
  src/Functions/Functions.Autorest/custom/Get-AzFunctionAppSetting.ps1
  src/Functions/Functions.Autorest/custom/HelperFunctions.ps1
  src/Functions/Functions.Autorest/custom/New-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/New-AzFunctionAppPlan.ps1
  src/Functions/Functions.Autorest/custom/Remove-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Remove-AzFunctionAppPlan.ps1
  src/Functions/Functions.Autorest/custom/Remove-AzFunctionAppSetting.ps1
  src/Functions/Functions.Autorest/custom/Restart-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Start-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Stop-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Update-AzFunctionApp.ps1
  src/Functions/Functions.Autorest/custom/Update-AzFunctionAppPlan.ps1
  src/Functions/Functions.Autorest/custom/Update-AzFunctionAppSetting.ps1
  src/Functions/Functions.Autorest/custom/api/Support/AppServicePlan.cs
  src/Functions/Functions.Autorest/custom/api/Support/Site.cs
Due: none

Update function stacks definitions
  src/Functions/Functions.Autorest/custom/FunctionsStack/functionAppStacks.json
Due: none

FirmwareAnalysis OOB Release (#28552)
  NuGet.Config
  src/FirmwareAnalysis/FirmwareAnalysis/Az.FirmwareAnalysis.psd1
  src/FirmwareAnalysis/FirmwareAnalysis/ChangeLog.md
  src/FirmwareAnalysis/FirmwareAnalysis/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Tools.Common/SerializedCmdlets/Az.FirmwareAnalysis.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add 2 new PS commandlets for 2 new POST APIs added
  src/Network/Network/Az.Network.psd1
  src/Network/Network/Cortex/VpnServerConfiguration/GetAzAllVpnServerConfigurationRadiusServerSecretCommand.cs
  src/Network/Network/Models/PSRadiusAuthServer.cs
  src/Network/Network/VirtualNetworkGateway/GetAzAllVirtualNetworkGatewayRadiusServerSecretCommand.cs
Due: none

Fix commad lets API references
  src/Network/Network/Cortex/VpnServerConfiguration/GetAzAllVpnServerConfigurationRadiusServerSecretCommand.cs
  src/Network/Network/VirtualNetworkGateway/GetAzAllVirtualNetworkGatewayRadiusServerSecretCommand.cs
Due: none

Add change log
  src/Network/Network/ChangeLog.md
  src/Network/Network/Cortex/VpnServerConfiguration/GetAzAllVpnServerConfigurationRadiusServerSecretCommand.cs
  src/Network/Network/VirtualNetworkGateway/GetAzAllVirtualNetworkGatewayRadiusServerSecretCommand.cs
Due: none

Add PS map
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Network.format.ps1xml
Due: none

Update PS test to include new cmdlet testing
  src/Network/Network.Test/ScenarioTests/CortexTests.ps1
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
Due: none

Corrected parameter name
  src/DataMigration/DataMigration.Autorest/docs/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/examples/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/test/Invoke-AzDataMigrationRetryToSqlDb.Tests.ps1
  src/DataMigration/DataMigration.Autorest/test/env.json
  src/DataMigration/DataMigration.Autorest/test/utils.ps1
Due: none

update
  src/DataMigration/DataMigration.Autorest/docs/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/examples/Invoke-AzDataMigrationRetryToSqlDb.md
Due: none

update
  src/DataMigration/DataMigration.Autorest/examples/Invoke-AzDataMigrationRetryToSqlDb.md
Due: none

fix: trialling memory management tweaks for linux on test steps
  .azure-pipelines/PipelineSteps/test-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[Az.ServiceFabric] Add cmdlets Invoke-AzServiceFabricDeallocateManagedNodeType, Invoke-AzServiceFabricRedeployManagedNodeType, Start-AzServiceFabricManagedNodeType (#28499)
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersTests.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.ServiceFabricManagedClustersTests/TestNodeTypeOperations.json
  src/ServiceFabric/ServiceFabric/Az.ServiceFabric.psd1
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/InvokeAzServiceFabricDeallocateManagedNodeType.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/InvokeAzServiceFabricRedeployManagedNodeType.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/InvokeAzServiceFabricReimageManagedNodeType.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/SetAzServiceFabricManagedNodeType.cs
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/NodeTypes/StartAzServiceFabricNodeType.cs
  src/ServiceFabric/ServiceFabric/help/Az.ServiceFabric.md
  src/ServiceFabric/ServiceFabric/help/Invoke-AzServiceFabricDeallocateManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Invoke-AzServiceFabricRedeployManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Invoke-AzServiceFabricReimageManagedNodeType.md
  src/ServiceFabric/ServiceFabric/help/Start-AzServiceFabricManagedNodeType.md
Due: none

Pin the commit for Databox and Functions
  src/DataBox/README.md
  src/Functions/README.md
Due: none

Updates
  src/DataMigration/DataMigration.Autorest/docs/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/examples/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/examples/Remove-AzDataMigrationToSqlVM.md
Due: none

Revert "fix: trialling memory management tweaks for linux on test steps"
  .azure-pipelines/PipelineSteps/test-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

updates.
  src/DataMigration/DataMigration.Autorest/Properties/AssemblyInfo.cs
  src/DataMigration/DataMigration.Autorest/docs/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration.Autorest/docs/Remove-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/Az.DataMigration.psd1
  src/DataMigration/DataMigration/help/Invoke-AzDataMigrationRetryToSqlDb.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationToSqlVM.md
Due: none

feature: mock change to trigger tests
  .azure-pipelines/PipelineSteps/test-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

add endpoint type
  src/StorageMover/StorageMover.Autorest/Properties/AssemblyInfo.cs
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzNfsFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzSmbFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverAzStorageContainerEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverMultiCloudConnectorEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverNfsEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/NewAzStorageMoverSmbEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzNfsFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzSmbFileShareEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverAzStorageContainerEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverMultiCloudConnectorEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverNfsEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/custom/UpdateAzStorageMoverSmbEndpoint.ps1
  src/StorageMover/StorageMover.Autorest/generate-info.json
  src/StorageMover/StorageMover.sln
  src/StorageMover/StorageMover/Az.StorageMover.psd1
Due: none

updates.
  src/DataMigration/DataMigration.Autorest/Properties/AssemblyInfo.cs
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationToSqlManagedInstance.ps1
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
  src/DataMigration/DataMigration.sln
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
Due: none

Revert "feature: mock change to trigger tests"
  .azure-pipelines/PipelineSteps/test-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Reapply "fix: trialling memory management tweaks for linux on test steps"
  .azure-pipelines/PipelineSteps/test-steps.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Support custom certificate and custom domain cmdletes
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.cs
  src/SignalR/SignalR.Test/ScenarioTests/AzureRmSignalRTests.ps1
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalR.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRCustomCertificateAndCustomDomain.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRSetUpstream.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRUpdate.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRUpdateNetworkAcl.json
  src/SignalR/SignalR.Test/SessionRecords/Microsoft.Azure.Commands.SignalR.Test.ScenarioTests.AzureRmSignalRTests/TestAzureRmSignalRWithDefaultArgs.json
  src/SignalR/SignalR.sln
  src/SignalR/SignalR/Az.SignalR.psd1
  src/SignalR/SignalR/Cmdlets/GetAzureRmSignalRCustomCertificate.cs
  src/SignalR/SignalR/Cmdlets/GetAzureRmSignalRCustomDomain.cs
  src/SignalR/SignalR/Cmdlets/ISignalRChildResource.cs
  src/SignalR/SignalR/Cmdlets/IWithSignalRInputObject.cs
  src/SignalR/SignalR/Cmdlets/NewAzureRmSignalRCustomCertificate.cs
  src/SignalR/SignalR/Cmdlets/NewAzureRmSignalRCustomDomain.cs
  src/SignalR/SignalR/Cmdlets/RemoveAzureRmSignalRCustomCertificate.cs
  src/SignalR/SignalR/Cmdlets/RemoveAzureRmSignalRCustomDomain.cs
  src/SignalR/SignalR/Cmdlets/SignalRCmdletBottom.cs
  src/SignalR/SignalR/Cmdlets/SignalRResourceIdentifier.cs
  src/SignalR/SignalR/Cmdlets/UpdateAzureRmSignalRCustomDomain.cs
  src/SignalR/SignalR/Models/PSCustomCertificateResource.cs
  src/SignalR/SignalR/Models/PSCustomDomainResource.cs
  src/SignalR/SignalR/Utilities/Constants.cs
  src/SignalR/SignalR/help/Az.SignalR.md
  src/SignalR/SignalR/help/Get-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/Get-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/Get-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR/help/Get-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR/help/New-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/New-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/New-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR/help/New-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR/help/Remove-AzSignalRCustomCertificate.md
  src/SignalR/SignalR/help/Remove-AzSignalRCustomDomain.md
  src/SignalR/SignalR/help/Remove-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR/help/Remove-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR/help/Update-AzSignalRCustomDomain.md
Due: none

Support managed identity
  src/SignalR/SignalR/Cmdlets/NewAzureRmSignalR.cs
  src/SignalR/SignalR/Cmdlets/UpdateAzureRmSignalR.cs
  src/SignalR/SignalR/Models/PSManagedIdentity.cs
  src/SignalR/SignalR/Models/PSSignalRResource.cs
  src/SignalR/SignalR/Models/PSUserAssignedIdentityProperty.cs
  src/SignalR/SignalR/help/New-AzSignalR.md
  src/SignalR/SignalR/help/Update-AzSignalR.md
Due: none

Fix `ResourceId` piping behaviour
  src/SignalR/SignalR/Cmdlets/GetAzureRmSignalR.cs
  src/SignalR/SignalR/Cmdlets/RemoveAzureRmSignalR.cs
  src/SignalR/SignalR/help/Get-AzSignalR.md
  src/SignalR/SignalR/help/Remove-AzSignalR.md
Due: none

Minor changes to other cmdlets
  src/SignalR/SignalR/Cmdlets/GetAzureRmSignalRKey.cs
  src/SignalR/SignalR/Cmdlets/NewAzureRmSignalRKey.cs
  src/SignalR/SignalR/Cmdlets/RestartAzureRmSignalR.cs
  src/SignalR/SignalR/Cmdlets/SetAzureRmSignalRUpstream.cs
  src/SignalR/SignalR/Cmdlets/UpdateAzureRmSignalRNetworkAcl.cs
  src/SignalR/SignalR/help/Get-AzSignalRKey.md
  src/SignalR/SignalR/help/Get-AzSignalRUsage.md
  src/SignalR/SignalR/help/Get-AzWebPubSub.md
  src/SignalR/SignalR/help/Get-AzWebPubSubHub.md
  src/SignalR/SignalR/help/Get-AzWebPubSubKey.md
  src/SignalR/SignalR/help/Get-AzWebPubSubSku.md
  src/SignalR/SignalR/help/Get-AzWebPubSubUsage.md
  src/SignalR/SignalR/help/New-AzSignalRKey.md
  src/SignalR/SignalR/help/New-AzWebPubSub.md
  src/SignalR/SignalR/help/New-AzWebPubSubEventHubEndpointObject.md
  src/SignalR/SignalR/help/New-AzWebPubSubEventNameFilterObject.md
  src/SignalR/SignalR/help/New-AzWebPubSubHub.md
  src/SignalR/SignalR/help/New-AzWebPubSubKey.md
  src/SignalR/SignalR/help/Remove-AzWebPubSub.md
  src/SignalR/SignalR/help/Remove-AzWebPubSubHub.md
  src/SignalR/SignalR/help/Restart-AzSignalR.md
  src/SignalR/SignalR/help/Restart-AzWebPubSub.md
  src/SignalR/SignalR/help/Set-AzSignalRUpstream.md
  src/SignalR/SignalR/help/Test-AzSignalRName.md
  src/SignalR/SignalR/help/Test-AzWebPubSubNameAvailability.md
  src/SignalR/SignalR/help/Update-AzSignalRNetworkAcl.md
  src/SignalR/SignalR/help/Update-AzWebPubSub.md
Due: none
