Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:

resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - tools
      - src/lib
      
variables:
  GenerationBranchName: generation
  AzureStackBranchName: Azs-tzl
  GithubToken: $(GITHUB_TOKEN)

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}
      AzureStack:
        BranchName: ${{ variables.AzureStackBranchName }}

  steps:
  - task: PowerShell@2
    displayName: Sync branch
    inputs:
      targetType: inline
      script: >-
        ./tools/SyncFromMainBranch.ps1 -BranchName $(BranchName) -GithubToken $(GithubToken)
      pwsh: true

  - pwsh: |
      $Title = "Sync tools code from main branch to $(BranchName) branch"
      $HeadBranch = "syncToolsFolder-$(BranchName)"
      $BaseBranch = "$(BranchName)"
      $Description = "Migrate Sync tools code from main branch to $(BranchName) branch"
      ./tools/Github/CreatePR.ps1 -Title $Title -HeadBranch $HeadBranch -BaseBranch $BaseBranch -BotAccessToken $(GithubToken) -Description $Description
    displayName: Create PR to $(BranchName) branch

.azure-pipelines/util/sync-tools-folder.yml:

# Variable 'BaseBranch' was defined in the Variables tab
# Variable 'ServiceName' was defined in the Variables tab
# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
resources:
  repositories:
  - repository: self
    type: git
    ref: main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipeline
      - tools
      - src/lib

jobs:
- job: Job_1
  displayName: 'Sync to ${{ parameters.BranchName }}'
  timeoutInMinutes: 90
  pool:
    name: Hosted VS2017
  steps:
  - checkout: self
  - task: PowerShell@2
    displayName: Config git
    inputs:
      targetType: inline
      script: >-
        git config --global user.email "azurepowershell@ms.com"

        git config --global user.name "azurepowershell"

        git checkout ${{ parameters.BranchName }}
      pwsh: true
  - task: PowerShell@2
    displayName: Sync .azure-pipelines folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp .azure-pipelines .azure-pipelines-tmp -r

        rm .azure-pipelines -r

        mv .azure-pipelines-tmp .azure-pipelines

        git add .azure-pipelines
      pwsh: true
  - task: PowerShell@2
    displayName: Sync src/lib folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp src/lib src/lib-tmp -r

        rm src/lib -r

        mv src/lib-tmp src/lib

        git add src/lib
      pwsh: true
  - task: PowerShell@2
    displayName: Sync tools folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp tools tools-tmp -r

        rm tools -r

        mv tools-tmp tools

        git add tools

        git commit -m "Sync tools folder from main branch to ${{ parameters.BranchName }} branch"

        git remote set-url origin https://$env:GITHUB_TOKEN@github.com/Azure/azure-powershell.git

        git push origin syncToolsFolder --force
      pwsh: true
...

Remove sync to azure stack
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml

Added `-AsJob` parameter to `Remove-AzVMExtension` cmdlet
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/VirtualMachineRemoveExtension.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/RemoveAzureVMExtensionCommand.cs
  src/Compute/Compute/help/Remove-AzVMExtension.md
Due: none

Fix the issue of security tools pipeline
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

bump version of Az.CosmosDB
  tools/AzPreview/AzPreview.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

create succeeded
  src/Network/Network/Models/PSExtendedLocation.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
Due: none

Fixed the issue with Get-AzDataProtectionBackupVault cmdlet
  src/DataProtection/README.md
  src/DataProtection/custom/Cmdlets/Platform/Vault/Get-AzDataProtectionBackupVault_list.ps1
  src/DataProtection/docs/Az.DataProtection.md
  src/DataProtection/docs/Get-AzDataProtectionBackupVault.md
Due: none

change readme
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Do not manually update module version
  src/EventGrid/EventGrid/Az.EventGrid.psd1
  src/EventGrid/EventGrid/ChangeLog.md
Due: none

changelog
  src/Network/Network/ChangeLog.md
Due: none

breaking change / static analysis
  tools/StaticAnalysis/Exceptions/Az.RecoveryServices/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

dev and trying to test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

add mapping
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
Due: none

Resolved comments, refactored code
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/RemoveAzureVMExtensionCommand.cs
Due: none

update net version
  src/Compute/Compute.Test/Compute.Test.csproj
  src/Compute/Compute/Compute.csproj
  src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionCreateOrUpdateMethod.cs
  src/Network/Network.Test/Network.Test.csproj
  src/RecoveryServices/RecoveryServices.Backup.Test/RecoveryServices.Backup.Test.csproj
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/RecoveryServices.SiteRecovery.Test.csproj
  src/Security/Security.Test/Security.Test.csproj
  src/SqlVirtualMachine/SqlVirtualMachine.Test/SqlVirtualMachine.Test.csproj
Due: none

update encryption property
  src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionCreateOrUpdateMethod.cs
Due: none

update md
  src/Compute/Compute/help/New-AzGalleryImageVersion.md
Due: none

changelog
  src/Compute/Compute/ChangeLog.md
Due: none

add extendedlocation in ps1xml
  src/Network/Network/Network.format.ps1xml
Due: none

Powershell change for VNG multipool (#19180)
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests/TestVirtualNetworkGatewayPolicyGroupCRUD.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Generated/Models/PSVpnClientConfiguration.cs
  src/Network/Network/Models/PSClientConnectionConfiguration.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayPolicyGroup.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayPolicyGroupMember.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupCommand .cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupMemberCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVpnClientConnectionConfigurationCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/help/Az.Network.md
  src/Network/Network/help/New-AzVirtualNetworkGateway.md
  src/Network/Network/help/New-AzVirtualNetworkGatewayPolicyGroup.md
  src/Network/Network/help/New-AzVirtualNetworkGatewayPolicyGroupmember.md
  src/Network/Network/help/New-AzVpnClientConnectionConfiguration.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
  tools/StaticAnalysis/Exceptions/Az.Network/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sample needs storage context reference
  src/ApplicationInsights/help/New-AzApplicationInsightsContinuousExport.md
Due: none

Stop sync to azure stack (#19773)
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml

Add changelog entry
  src/Resources/Resources/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml

Fixing context
  src/ApplicationInsights/help/New-AzApplicationInsightsContinuousExport.md
Due: none

Remove docker file for mariner-1
  docker/Dockerfile-mariner-1
Due: none

Remove docker file for mariner-1 (#19785)
  docker/Dockerfile-mariner-1
Due: none

undo changes
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/RemoveAzureVMExtensionCommand.cs
Due: none

redo changes
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/RemoveAzureVMExtensionCommand.cs
Due: none

set-AzEventHubNamespace
  src/EventHub/EventHub.Autorest/custom/Set-AzEventHubNamespace.ps1
Due: none

Sync tools folder from main branch to generation branch (#19784)
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml

Set-AzEventHubnamespace
  src/EventHub/EventHub.Autorest/custom/Set-AzEventHubNamespace.ps1
Due: none

Test File for Set-AzEventHubNamespace
  src/EventHub/EventHub.Autorest/test/Set-AzEventHubNamespace.Tests.ps1
Due: none

publish package with xml files
  build.proj
  tools/CleanupBuild.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Publish package with xml files (#19787)
  build.proj
  tools/CleanupBuild.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml
