Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

description change
  src/Network/Network/FirewallPolicy/PolicySettings/AzureApplicationGatewayFirewallPolicySetting.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicySetting.md
Due: none

Added few fixes for static analysis failures
  src/DesktopVirtualization/docs/Get-AzWvdRegistrationInfo.md
  src/DesktopVirtualization/docs/Get-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/docs/New-AzWvdRegistrationInfo.md
  src/DesktopVirtualization/docs/New-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/docs/Remove-AzWvdRegistrationInfo.md
  src/DesktopVirtualization/docs/Remove-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/docs/Update-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/examples/Get-AzWvdRegistrationInfo.md
  src/DesktopVirtualization/examples/New-AzWvdRegistrationInfo.md
  src/DesktopVirtualization/examples/Remove-AzWvdRegistrationInfo.md
Due: none

update README.md
  src/Sql/Sql.Sdk/README.md
Due: none

static analysis fixes
  src/DesktopVirtualization/examples/Get-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/examples/New-AzWvdMsixPackage.md
  src/DesktopVirtualization/examples/README.md
  src/DesktopVirtualization/examples/Update-AzWvdScalingPlan.md
Due: none

Began work on fixing scalingPlanPooledSchedules error
  src/DesktopVirtualization/docs/Get-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/docs/New-AzWvdMsixPackage.md
  src/DesktopVirtualization/docs/Update-AzWvdScalingPlan.md
  src/DesktopVirtualization/examples/New-AzWvdScalingPlanPooledSchedule.md
Due: none

ran build module to get changes
  src/DesktopVirtualization/docs/New-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/examples/New-AzWvdScalingPlanPooledSchedule.md
  src/DesktopVirtualization/examples/README.md
Due: none

update examples
  src/Cdn/docs/Stop-AzFrontDoorCdnProfileMigration.md
  src/Cdn/examples/Stop-AzFrontDoorCdnProfileMigration.md
Due: none

change test case var to false
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyWithInspectionLimit.json
Due: none

add breaking change warning
  src/DesktopVirtualization/README.md
Due: none

add breaking change warning (#21661)
  src/DesktopVirtualization/README.md
Due: none

Update ChangeLog.md
  src/DesktopVirtualization/ChangeLog.md
Due: none

Add breakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SignalR/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Release Az.Storage v5.6.1-preivew (#21655)
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding tests for new command
  ChangeLog.md
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersTests.cs
  src/ServiceFabric/ServiceFabric.Test/ScenarioTests/ServiceFabricManagedClustersTests.ps1
  src/ServiceFabric/ServiceFabric.Test/SessionRecords/Microsoft.Azure.Commands.ServiceFabric.Test.ScenarioTests.ServiceFabricManagedClustersTests/TestAddNetworkSecurityRule.json
  src/ServiceFabric/ServiceFabric/Az.ServiceFabric.psd1
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/ServiceFabric/ServiceFabric/Commands/ManagedClusters/ManagedClusters/AddAzServiceFabricManagedClusterNetworkSecurityRule.cs
  tools/Tools.Common/SerializedCmdlets/Az.ServiceFabric.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Resolve the comments 4/27
  src/KeyVault/KeyVault/Commands/Certificate/ImportAzureKeyVaultCertificate.cs
  src/KeyVault/KeyVault/Models/PSKeyVaultCertificatePolicy.cs
  src/KeyVault/KeyVault/Track2Models/Track2VaultClient.cs
  src/KeyVault/KeyVault/help/Import-AzKeyVaultCertificate.md
Due: none

Update descriptions of policyobject and policypath
  src/KeyVault/KeyVault/Commands/Certificate/ImportAzureKeyVaultCertificate.cs
  src/KeyVault/KeyVault/help/Import-AzKeyVaultCertificate.md
Due: none

bump up version for Az.DesktopVirtualization
  ChangeLog.md
  src/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Az.KeyVault] Included policy while importing Certificate to a KeyVault (#21472)
  src/KeyVault/KeyVault.Test/PesterTests/Certificate.Tests.ps1
  src/KeyVault/KeyVault.Test/Resources/certPolicy.json
  src/KeyVault/KeyVault.Test/Resources/importCertWithPolicy.pfx
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/Certificate/ImportAzureKeyVaultCertificate.cs
  src/KeyVault/KeyVault/Models/IKeyVaultDataServiceClient.cs
  src/KeyVault/KeyVault/Models/KeyVaultDataServiceClient.cs
  src/KeyVault/KeyVault/Models/PSKeyVaultCertificate.cs
  src/KeyVault/KeyVault/Models/PSKeyVaultCertificatePolicy.cs
  src/KeyVault/KeyVault/Track2Models/Track2KeyVaultDataServiceClient.cs
  src/KeyVault/KeyVault/Track2Models/Track2VaultClient.cs
  src/KeyVault/KeyVault/help/Import-AzKeyVaultCertificate.md
Due: none

Fixed Kusto utility parameter issue (#21658)
  .azure-pipelines/test-coverage.yml
  tools/TestFx/Coverage/SaveTestCoverageResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

prereq for testing
  src/CosmosDB/CosmosDB.Test/CosmosDB.Test.csproj
  src/CosmosDB/CosmosDB/CosmosDB.csproj
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlClientEncryptionPolicy.cs
  tools/LocalFeed/Microsoft.Azure.Management.CosmosDB.3.10.0.nupkg
  tools/LocalFeed/Microsoft.Azure.Management.CosmosDB.3.10.0.symbols.nupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Continuous 7 days change
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.cs
  src/CosmosDB/CosmosDB.Test/ScenarioTests/RestoreTests.ps1
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewOrUpdateAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/UpdateAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/DatabaseAccount/PSBackupPolicy.cs
  src/CosmosDB/CosmosDB/Models/Restore/PSRestorableDatabaseAccountGetResult.cs
  src/CosmosDB/CosmosDB/help/Get-AzCosmosDBRestorableDatabaseAccount.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBAccount.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBAccount.md
Due: none

Add denpendencies in Compute to resolve the CVE (#21649)
  src/Accounts/Accounts/Accounts.csproj
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/AnalysisServices/AnalysisServices/AnalysisServices.csproj
  src/Automation/Automation/Automation.csproj
  src/Compute/Compute/Compute.csproj
  src/DataMigration/DataMigration/DataMigration.csproj
  src/PowerBIEmbedded/PowerBI/PowerBI.csproj
  src/Sql/Sql/Sql.csproj
  src/Storage/Storage/Storage.csproj
  src/Websites/Websites/Websites.csproj
  src/lib/netstandard2.0/System.Security.AccessControl.dll
  src/lib/netstandard2.0/System.Security.Permissions.dll
  src/lib/netstandard2.0/System.Security.Principal.Windows.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update with the latest test coverage data
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Log Scrubbing Feature for Application Gateway Firewall Policy Settings (#21568)
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayWithFirewallPolicyWithLogScrubbing.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/FirewallPolicy/PolicySettings/AzureApplicationGatewayFirewallPolicySetting.cs
  src/Network/Network/FirewallPolicy/PolicySettings/LogScrubbing/LogScrubbingRule/NewAzureApplicationGatewayFirewallPolicyLogScrubbingRuleCommand.cs
  src/Network/Network/FirewallPolicy/PolicySettings/LogScrubbing/NewAzureApplicationGatewayFirewallPolicyLogScrubbingConfigurationCommand.cs
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyLogScrubbingConfiguration.cs
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyLogScrubbingRule.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicyLogScrubbingConfiguration.md
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicyLogScrubbingRule.md
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicySetting.md
  tools/StaticAnalysis/Exceptions/Az.Network/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

help msg for var change
  src/Network/Network/FirewallPolicy/PolicySettings/AzureApplicationGatewayFirewallPolicySetting.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicySetting.md
Due: none

Update with the latest test coverage data (#21668)
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update chenglog of Accounts.
  src/Accounts/Accounts/ChangeLog.md
Due: none

[nva] correcting email alias for test owners (#21657)
  src/Network/Network.Test/NrpTeamAlias.cs
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.cs
Due: none

Fix an static analysis issue
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/UXMetadataIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Run static analysis check of Cosmos preview relese
  src/CosmosDB/CosmosDB/Cassandra/NewAzCosmosDBCassandraKeyspace.cs
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/UXMetadataIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated System.Security.Cryptography.Xml to v4.7.1 due to security vulnerability
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update chenglog of Accounts. (#21671)
  src/Accounts/Accounts/ChangeLog.md
Due: none

bump up version for Az.DesktopVirtualization (#21670)
  ChangeLog.md
  src/DesktopVirtualization/Az.DesktopVirtualization.psd1
  src/DesktopVirtualization/ChangeLog.md
  src/DesktopVirtualization/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DesktopVirtualization.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix typo in Update-AzWebAppTrafficRouting.md
  src/Websites/Websites/help/Update-AzWebAppTrafficRouting.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
