Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Deprecate a parameter set for Get-AzVMSize (#27687)
  src/Compute/Compute.Test/ScenarioTests/ComputeTestCommon.ps1
  src/Compute/Compute.Test/ScenarioTests/VMDynamicTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/VirtualMachineSizes/GetAzureVMSizeCommand.cs
  src/Compute/Compute/help/Get-AzComputeResourceSku.md
  src/Compute/Compute/help/Get-AzVMSize.md
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Address the review comments
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
Due: none

UPdates
  ChangeLog.md
  src/EventHub/EventHub.Autorest/README.md
  src/EventHub/EventHub.Autorest/docs/New-AzEventHubLocationsNameObject.md
  src/EventHub/EventHub.Autorest/docs/Start-AzEventHubNamespaceFailOver.md
  src/EventHub/EventHub.Autorest/examples/New-AzEventHubLocationsNameObject.md
  src/EventHub/EventHub.Autorest/examples/Start-AzEventHubNamespaceFailOver.md
  src/EventHub/EventHub.Autorest/generate-info.json
  src/EventHub/EventHub/ChangeLog.md
  src/ServiceBus/ServiceBus.Autorest/examples/README.md
Due: none

Adding 22H2 EOL Message In Az.StackHCI (#27684)
  src/StackHCI/StackHCI.Autorest/custom/stackhci.ps1
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

Fix that RemoveUser doesn't work when create Public Client with broker (#27448)
  src/Accounts/Accounts/Account/DisconnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/ClearAzureRmContext.cs
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
  src/Accounts/Accounts/Context/RemoveAzureRmContext.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication/Authentication/TokenCache/InMemoryTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/SharedTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update API client to latest commit for version 2023-12-01
  src/Functions/Functions.Autorest/README.md
Due: none

migrate KubernetesConfiguration module to autorest v4
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfigFluxOperationStatus.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfiguration.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesConfiguration.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Update-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Update-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Az.KubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/examples/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/generate-info.json
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/resources/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/utils.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.sln
  src/KubernetesConfiguration/KubernetesConfiguration/Az.KubernetesConfiguration.psd1
  src/KubernetesConfiguration/KubernetesConfiguration/ChangeLog.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesExtension.md
Due: none

update module description
  src/ScVmm/ScVmm.Autorest/generate-info.json
  src/ScVmm/ScVmm.sln
  src/ScVmm/ScVmm/Az.ScVmm.psd1
  src/ScVmm/ScVmm/help/Az.ScVmm.md
Due: none

[PS] migrate KubernetesConfiguration module to autorest v4 (#27700)
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/Properties/AssemblyInfo.cs
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfigFluxOperationStatus.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfiguration.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Get-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesConfiguration.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/New-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Update-AzKubernetesConfigurationFlux.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/custom/Update-AzKubernetesExtension.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Az.KubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/docs/Update-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/examples/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/generate-info.json
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/resources/README.md
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/AzKubernetesConfigurationFlux.Tests.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.Autorest/test/utils.ps1
  src/KubernetesConfiguration/KubernetesConfiguration.sln
  src/KubernetesConfiguration/KubernetesConfiguration/Az.KubernetesConfiguration.psd1
  src/KubernetesConfiguration/KubernetesConfiguration/ChangeLog.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigFluxOperationStatus.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Get-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfiguration.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/New-AzKubernetesExtension.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesConfigurationFlux.md
  src/KubernetesConfiguration/KubernetesConfiguration/help/Update-AzKubernetesExtension.md
Due: none

Update common to 108 to address issues (#27697)
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: azure-pipelines.yml

update
  tools/Mcp/src/CodegenServer.ts
  tools/Mcp/src/index.ts
  tools/Mcp/src/services/utils.ts
  tools/Mcp/src/types.ts
  tools/Mcp/test/README.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Auditing] Support server-level audit action group with new architecture (#27664)
  src/Sql/Sql/Auditing/Model/ServerAuditModel.cs
  src/Sql/Sql/ChangeLog.md
Due: none

Update PULL_REQUEST_TEMPLATE.md (#27704)
  .github/PULL_REQUEST_TEMPLATE.md
Due: azure-pipelines.yml

Add BCI exceptions
  src/NetworkCloud/NetworkCloud.Autorest/.gitignore
  src/NetworkCloud/NetworkCloud.Autorest/README.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudAgentPool.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudBareMetalMachineKeySet.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudBmcKeySet.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudConsole.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudKubernetesClusterFeature.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudMetricsConfiguration.md
  src/NetworkCloud/NetworkCloud.Autorest/generate-info.json
  src/NetworkCloud/NetworkCloud.sln
  src/NetworkCloud/NetworkCloud/Az.NetworkCloud.psd1
  src/NetworkCloud/NetworkCloud/ChangeLog.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudAgentPool.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudBareMetalMachineKeySet.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudBmcKeySet.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudConsole.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudKubernetesClusterFeature.md
  src/NetworkCloud/NetworkCloud/help/New-AzNetworkCloudMetricsConfiguration.md
  tools/StaticAnalysis/Exceptions/Az.NetworkCloud/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Repair changelog
  src/EventHub/EventHub/ChangeLog.md
Due: none

Repair changelog2
  src/ServiceBus/ServiceBus.Autorest/examples/README.md
Due: none

updates
  src/EventHub/EventHub.Autorest/examples/New-AzEventHubLocationsNameObject.md
  src/EventHub/EventHub.Autorest/examples/Start-AzEventHubNamespaceFailOver.md
  src/EventHub/EventHub.Autorest/test/New-AzEventHubApplicationGroup.Tests.ps1
  src/EventHub/EventHub.Autorest/test/Remove-AzEventHubApplicationGroup.Tests.ps1
  src/EventHub/EventHub.Autorest/test/Set-AzEventHubNetworkRuleSet.Tests.ps1
Due: none

updates
  src/EventHub/EventHub.Autorest/Az.EventHub.psd1
Due: none

updates
  src/EventHub/EventHub.Autorest/.gitignore
Due: none

Update in SDK
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureFileShareRecoveryPoint.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureIaaSClassicComputeVMProtectedItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureIaaSComputeVMProtectedItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureIaaSVMProtectedItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureVmWorkloadSAPAseDatabaseProtectableItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureWorkloadSAPAsePointInTimeRecoveryPoint.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureWorkloadSAPAsePointInTimeRestoreRequest.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureWorkloadSAPAseRecoveryPoint.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/AzureWorkloadSAPAseRestoreRequest.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/Models/ResourceList.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/Generated/RecoveryServicesBackupClient.cs
  src/RecoveryServices/RecoveryServices.Backup.Management.Sdk/README.md
Due: none

Update recordings for test
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ContainerTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/GetAzureVmWorkloadContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureFSContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureFSUnregisterContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureVMGetContainers.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureVmWorkloadUnDeleteContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureCrossZonalRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureCrossZonalRestoreToNoZone.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSBackup.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSFullRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSGetRPs.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSItem.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSRestoreToAnotherRegion.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureRSVaultCMK.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureRSVaultMSI.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVMBackup.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVMGetItems.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVaultSoftDelete.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVmWorkloadBackupProtectionItem.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVmWorkloadCrossRegionRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVmWorkloadCrossSubscriptionRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureFSGetJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMCancelJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMGetJobs.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMGetJobsTimeFilter.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureVMWaitJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureFSHourlyPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureFSPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMCrashconsistentPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMEnhancedPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMNonUTCPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMSmartTieringPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadNonUTCPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadPolicy.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVmWorkloadSmartTieringPolicy.json
Due: none

remove BreakingChangeIssues.csv files
  tools/StaticAnalysis/Exceptions/Az.Accounts/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Aks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.AppConfiguration/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DnsResolver/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ElasticSan/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.EventGrid/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.HDInsight/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.KeyVault/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MachineLearningServices/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServiceIdentity/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MarketplaceOrdering/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ResourceGraph/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StackHCI/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageSync/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fixed the tests and uploaded test results
  src/CosmosDB/CosmosDB.Test/ScenarioTests/CassandraOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/GremlinOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/MongoOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.CassandraOperationsTests/TestCassandraRoleCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.GremlinOperationsTests/TestGremlinRoleCmdlets.json
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoMIRoleCmdlets.json
Due: none

change log and output for mat
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Compute.format.ps1xml
Due: none

tests added
  src/Compute/Compute/help/Get-AzVMImage.md
Due: none

tests added
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineImageListTopOrderExpand.json
Due: none

fixed
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineImageListTopOrderExpand.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Compute.format.ps1xml
  src/Compute/Compute/Images/GetAzureVMImageCommand.cs
  src/Compute/Compute/help/Get-AzVMImage.md
Due: none

update failing test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

fix failing test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
