Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update daily-build.yml for Azure Pipelines
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update ChangeLog.md
  src/SelfHelp/ChangeLog.md
Due: none

Update New-AzSelfHelpTroubleshooter.md
  src/SelfHelp/examples/New-AzSelfHelpTroubleshooter.md
Due: none

Update New-AzSelfHelpTroubleshooter.md
  src/SelfHelp/help/New-AzSelfHelpTroubleshooter.md
Due: none

Update SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update New-AzSelfHelpTroubleshooter.md (#23080)
  src/SelfHelp/examples/New-AzSelfHelpTroubleshooter.md
Due: none

Update ChangeLog.md
  src/EventHub/EventHub/ChangeLog.md
Due: none

Update AzPreview.psd1
  tools/AzPreview/AzPreview.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#23076)
  tools/Az/Az.psd1
  tools/StaticAnalysis/Exceptions/Az.Migrate/SignatureIssues.csv
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Queue track2 migration (#23070)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/New-AzStorageQueueStoredAccessPolicy.md
  src/Storage/Storage.Test/Queue/GetAzureStorageQueueTest.cs
  src/Storage/Storage.Test/Queue/NewAzureStorageQueueTest.cs
  src/Storage/Storage/Common/AccessPolicyHelper.cs
  src/Storage/Storage/Common/AzureStorageQueue.cs
  src/Storage/Storage/Common/Util.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageShareStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/GetAzureStorageQueue.cs
  src/Storage/Storage/Queue/Cmdlet/GetAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueue.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/RemoveAzureStorageQueue.cs
  src/Storage/Storage/Queue/Cmdlet/RemoveAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/Cmdlet/SetAzureStorageQueueStoredAccessPolicy.cs
  src/Storage/Storage/Queue/StorageQueueBaseCmdlet.cs
Due: none

Update ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
Due: none

add docs for cmk db
  src/Kusto/docs/New-AzKustoDatabase.md
Due: none

wip
  src/Kusto/test/utils.ps1
Due: none

[Storage] Support Trailing Dot (#22243)
  src/Storage/Storage.Management.Test/ScenarioTests/StorageDataPlaneTests.ps1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Close-AzStorageFileHandle.md
  src/Storage/Storage.Management/help/Get-AzStorageFile.md
  src/Storage/Storage.Management/help/Get-AzStorageFileContent.md
  src/Storage/Storage.Management/help/Get-AzStorageFileCopyState.md
  src/Storage/Storage.Management/help/Get-AzStorageFileHandle.md
  src/Storage/Storage.Management/help/New-AzStorageDirectory.md
  src/Storage/Storage.Management/help/Remove-AzStorageDirectory.md
  src/Storage/Storage.Management/help/Remove-AzStorageFile.md
  src/Storage/Storage.Management/help/Rename-AzStorageDirectory.md
  src/Storage/Storage.Management/help/Rename-AzStorageFile.md
  src/Storage/Storage.Management/help/Set-AzStorageFileContent.md
  src/Storage/Storage.Management/help/Start-AzStorageFileCopy.md
  src/Storage/Storage.Management/help/Stop-AzStorageFileCopy.md
  src/Storage/Storage/Common/AzureStorageFile.cs
  src/Storage/Storage/Common/StorageExtensions.cs
  src/Storage/Storage/Common/Util.cs
  src/Storage/Storage/File/AzureStorageFileCmdletBase.cs
  src/Storage/Storage/File/Cmdlet/CloseAzureStorageFileHandle.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/GetAzureStorageShareStoredAccessPolicy.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageFileSasToken.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShareSasToken.cs
  src/Storage/Storage/File/Cmdlet/NewAzureStorageShareStoredAccessPolicy.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageShare.cs
  src/Storage/Storage/File/Cmdlet/RemoveAzureStorageShareStoredAccessPolicy.cs
  src/Storage/Storage/File/Cmdlet/RenameAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/RenameAzureStorageFile.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageFileContent.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageShareQuota.cs
  src/Storage/Storage/File/Cmdlet/SetAzureStorageShareStoredAccessPolicy.cs
  src/Storage/Storage/File/Cmdlet/StartAzureStorageFileCopy.cs
  src/Storage/Storage/File/NamingUtil.cs
Due: none

revise
  src/Storage/Storage/Common/AzureStorageFileDirectory.cs
  src/Storage/Storage/Common/InvalidCloudFile.cs
  src/Storage/Storage/Common/InvalidCloudFileDirectory.cs
  src/Storage/Storage/Common/InvalidCloudFileShare.cs
Due: none

Add comments
  src/Storage/Storage/File/Cmdlet/RenameAzureStorageDirectory.cs
  src/Storage/Storage/File/Cmdlet/RenameAzureStorageFile.cs
Due: none

Filter modules
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

amcs update monitor changelog
  src/Monitor/Monitor/ChangeLog.md
Due: none

fixing bug in documentation
  src/Network/Network/help/Get-AzVHubEffectiveRoute.md
Due: none

clean
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

remove unversioned and outdated images from argument completer in New-AzVmss -imageName
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

changelog
  src/Compute/Compute/ChangeLog.md
Due: none

first changes commit - job private endpoint adaptors and communicators
  src/Sql/Sql/Elastic Jobs/Cmdlet/Agent/SetAzureRmSqlElasticJobAgent.cs
  src/Sql/Sql/Elastic Jobs/Model/AzureSqlElasticJobPrivateEndpointModel.cs
  src/Sql/Sql/Elastic Jobs/Services/AzureSqlElasticJobAdapter.cs
  src/Sql/Sql/Elastic Jobs/Services/AzureSqlElasticJobCommunicator.cs
Due: none

pass test
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyCustomRuleRemoval.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/FirewallPolicy/FirewallCustomRule/RemoveAzureApplicationGatewayFirewallCustomRuleCommand.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
