Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

local build fix
  src/Compute/Compute.Test/ScenarioTests/InterconnectBlockTests.ps1
  src/Compute/Compute/Generated/InterconnectBlock/UpdateAzInterconnectBlockCommand.cs
Due: none

regenerate the test
  src/Compute/Compute.Test/ScenarioTests/InterconnectBlockTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.InterconnectBlockTests/TestInterconnectBlockAsJob.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.InterconnectBlockTests/TestInterconnectBlockCRUD.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.InterconnectBlockTests/TestInterconnectBlockPlacement.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.InterconnectBlockTests/TestInterconnectBlockRemovePassThru.json
  src/Compute/Compute/Generated/InterconnectBlock/RemoveAzInterconnectBlockCommand.cs
  src/Compute/Compute/Generated/InterconnectBlock/UpdateAzInterconnectBlockCommand.cs
Due: none

remove passthru
  src/Compute/Compute.Test/ScenarioTests/InterconnectBlockTests.cs
  src/Compute/Compute.Test/ScenarioTests/InterconnectBlockTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.InterconnectBlockTests/TestInterconnectBlockRemovePassThru.json
  src/Compute/Compute/help/Remove-AzInterconnectBlock.md
Due: none

Add IPv6 support to VirtualHub and enableOnlyIpv6Peering to HubVnetConnection
  src/Network/Network.Management.Sdk/Generated/Models/HubVirtualNetworkConnection.cs
  src/Network/Network.Management.Sdk/Generated/Models/VirtualHub.cs
  src/Network/Network.Test/ScenarioTests/CortexTests.cs
  src/Network/Network.Test/ScenarioTests/CortexTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Cortex/HubVnetConnection/NewAzureRmHubVirtualNetworkConnectionCommand.cs
  src/Network/Network/Cortex/VirtualHub/NewAzureRmVirtualHubCommand.cs
  src/Network/Network/Cortex/VirtualHub/UpdateAzureRmVirtualHubCommand.cs
  src/Network/Network/Models/Cortex/PSHubVirtualNetworkConnection.cs
  src/Network/Network/Models/Cortex/PSVirtualHub.cs
  src/Network/Network/help/New-AzVirtualHub.md
  src/Network/Network/help/New-AzVirtualHubVnetConnection.md
  src/Network/Network/help/Update-AzVirtualHub.md
Due: none

fix deployment stacks what if parameter signature
  .github/copilot-instructions.md
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/GetAzManagementGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/GetAzResourceGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/GetAzSubscriptionDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/NewAzManagementGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/NewAzResourceGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/NewAzSubscriptionDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/SetAzManagementGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/SetAzResourceGroupDeploymentStackWhatIfResult.cs
  src/Resources/ResourceManager/Implementation/DeploymentStacksWhatIf/SetAzSubscriptionDeploymentStackWhatIfResult.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentStackWhatIfTests.cs
  src/Resources/Resources.Test/ScenarioTests/DeploymentStackWhatIfTests.ps1
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackWhatIfTests/TestGetManagementGroupDeploymentStackWhatIfWithIncludePropertyChange.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackWhatIfTests/TestGetResourceGroupDeploymentStackWhatIfWithIncludePropertyChange.json
  src/Resources/Resources.Test/SessionRecords/Microsoft.Azure.Commands.Resources.Test.ScenarioTests.DeploymentStackWhatIfTests/TestGetSubscriptionDeploymentStackWhatIfWithIncludePropertyChange.json
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/Get-AzManagementGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/Get-AzResourceGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/Get-AzSubscriptionDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/New-AzManagementGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/New-AzResourceGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/New-AzSubscriptionDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/Set-AzManagementGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/Set-AzResourceGroupDeploymentStackWhatIfResult.md
  src/Resources/Resources/help/Set-AzSubscriptionDeploymentStackWhatIfResult.md
  tools/StaticAnalysis/Exceptions/Az.Resources/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Fix Az.Chaos model-cmdlet generation for the physicalZones description
  src/Chaos/Chaos.Autorest/README.md
Due: none

remove ProgressAction parameters
  src/NetAppFiles/NetAppFiles/help/New-AzNetAppFilesVolume.md
  src/NetAppFiles/NetAppFiles/help/New-AzNetAppFilesVolumeGroup.md
  src/Network/Network/help/New-AzNatGateway.md
  src/Network/Network/help/New-AzVirtualNetwork.md
  src/Network/Network/help/New-AzVirtualNetworkAppliance.md
  src/Network/Network/help/Set-AzNatGateway.md
Due: none

[Az.Functions] Fix stacks parser and add Go runtime support for Flex Consumption (#29816)
  src/Functions/Functions.Autorest/custom/FunctionsStack/functionAppStacks.json
  src/Functions/Functions.Autorest/custom/Get-AzFunctionAppFlexConsumptionRuntime.ps1
  src/Functions/Functions.Autorest/custom/HelperFunctions.ps1
  src/Functions/Functions.Autorest/test/New-AzFunctionApp.Tests.ps1
  src/Functions/Functions.Autorest/test/SetLinuxandWindowsSupportedRuntimes.Tests.ps1
  src/Functions/Functions/ChangeLog.md
Due: none

Fix AFS CRR recordings: update EncodedRequestUri (the mock match key) to vault api-version 2026-01-01
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSGetItemSecondaryRegion.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSGetRPsSecondaryRegion.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSRestoreToSecondaryRegion.json
Due: none

Restore UTF-8 BOM on ItemTests.cs (revert incidental byte-order-mark drop)
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.cs
Due: none

Squad sync: one squad per module (replace stale squads) (#29852)
  tools/Github/ParseSquadMappingList.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add Dell module entry to CreateMappings_rules.json
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync squad mapping to resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

[Compute] Preserve CMD-special characters (^ & % < > | ") in RunCommand -Parameter values (#29881)
  src/Compute/Compute.Test/ScenarioTests/RunCommandParameterValueEscaperTests.cs
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachine/VirtualMachineRunCommandMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSetVM/VirtualMachineScaleSetVMRunCommandMethod.cs
  src/Compute/Compute/VirtualMachine/RunCommand/RunCommandParameterValueEscaper.cs
Due: none

[Compute] Add breaking-change attributes to deprecated Set-AzVMAEMExtension parameters (#29892)
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Extension/AEM/SetAzureRmVMAEMExtension.cs
Due: none

Add VerifyClientAuthMode support to Application Gateway client auth configuration (#29861)
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSApplicationGatewayClientAuthConfiguration.cs
Due: none

Upgrade platyps 1.0.2 (#29835)
  .azure-pipelines/PipelineSteps/analyze-steps.ps1
  .azure-pipelines/security-tools.yml
  .azure-pipelines/util/analyze-steps.yml
  .devcontainer/post-create.ps1
  .github/agents/computePR.agent.md
  .github/copilot-instructions.md
  documentation/development-docs/azure-powershell-developer-guide.md
  documentation/development-docs/help-generation.md
  documentation/development-docs/sdkbased-vs-autogen.md
  documentation/tooling/static-analysis.md
  src/Network/Network/test_helper.ps1
  src/StorageSync/Tools/storageSyncDevops.psm1
  tools/Az.Tools.Installer/GenerateHelp.ps1
  tools/Az.Tools.Predictor/GenerateHelp.ps1
  tools/BuildScripts/AdaptAutorestModule.ps1
  tools/BuildScripts/HelpMarkDown.psm1
  tools/GenerateHelp.ps1
  tools/HelpGeneration/Compare-PlatyPSHelpOutput.ps1
  tools/HelpGeneration/HelpGeneration.psm1
  tools/StaticAnalysis/HelpAnalyzer/HelpAnalyzer.cs
  tools/StaticAnalysis/StaticAnalysis.Netcore.csproj
  tools/StaticAnalysis/lib/Markdig.Signed.dll
  tools/StaticAnalysis/lib/Markdown.MAML.dll
  tools/StaticAnalysis/lib/Microsoft.PowerShell.PlatyPS.dll
  tools/StaticAnalysis/lib/YamlDotNet.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

copilot remove
  .github/copilot-instructions.md
Due: azure-pipelines.yml

AFS soft-delete: accurate DateOfPurge, undo guard, enable recorded scenario test
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureFileShareModels/AzureFileShareItem.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.Designer.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.resx
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureFilesPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSSoftDelete.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesBackupItem.md
  src/RecoveryServices/RecoveryServices/help/Undo-AzRecoveryServicesBackupItemDeletion.md
Due: none

version bumps to handle CVE's
  tools/Az.nonprod.props
  tools/Mcp/package-lock.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

AFS CRR: drop MUA-not-supported guard to match VM (silently ignore -Token)
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.Designer.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.resx
  src/RecoveryServices/RecoveryServices.Backup.Providers/AzureWorkloadProviderHelper.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureFilesPsBackupProvider.cs
Due: none

[ChangeSafety] Add documentation mapping
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[ChangeSafety] Add module mapping (#29903)
  tools/CreateMappings_rules.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert manual Automation SDK generated changes
  src/Automation/Automation.Management.Sdk/Generated/AutomationClient.cs
  src/Automation/Automation.Management.Sdk/Generated/IAutomationClient.cs
  src/Automation/Automation.Management.Sdk/Generated/IPackageOperations.cs
  src/Automation/Automation.Management.Sdk/Generated/IRuntimeEnvironmentOperations.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/Package.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/PackageCreateOrUpdateParameters.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/PackageUpdateParameters.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/RuntimeEnvironment.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/RuntimeEnvironmentCreateOrUpdateParameters.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/RuntimeEnvironmentRuntime.cs
  src/Automation/Automation.Management.Sdk/Generated/Models/RuntimeEnvironmentUpdateParameters.cs
  src/Automation/Automation.Management.Sdk/Generated/PackageOperations.cs
  src/Automation/Automation.Management.Sdk/Generated/PackageOperationsExtensions.cs
  src/Automation/Automation.Management.Sdk/Generated/RuntimeEnvironmentOperations.cs
  src/Automation/Automation.Management.Sdk/Generated/RuntimeEnvironmentOperationsExtensions.cs
Due: none

Fix VcfLicense support in New-AzVMwarePrivateCloud
  src/VMware/VMware.Autorest/custom/autogen-model-cmdlets/New-AzVMwareVcf5LicenseObject.ps1
  src/VMware/VMware.Autorest/docs/Az.VMware.md
  src/VMware/VMware.Autorest/docs/New-AzVMwarePrivateCloud.md
  src/VMware/VMware.Autorest/docs/New-AzVMwarePureStoragePolicy.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareVcf5LicenseObject.md
  src/VMware/VMware.Autorest/docs/Update-AzVMwarePrivateCloud.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareVcf5LicenseObject.md
  src/VMware/VMware.Autorest/generate-info.json
  src/VMware/VMware.Autorest/test/New-AzVMWarePrivateCloud.Tests.ps1
  src/VMware/VMware.Autorest/test/New-AzVMwareVcf5LicenseObject.Tests.ps1
  src/VMware/VMware.sln
  src/VMware/VMware/Az.VMware.psd1
  src/VMware/VMware/ChangeLog.md
  src/VMware/VMware/help/Az.VMware.md
  src/VMware/VMware/help/New-AzVMwarePrivateCloud.md
  src/VMware/VMware/help/New-AzVMwarePureStoragePolicy.md
  src/VMware/VMware/help/New-AzVMwareVcf5LicenseObject.md
  src/VMware/VMware/help/Update-AzVMwarePrivateCloud.md
Due: none

Potential fix for pull request finding
  src/VMware/VMware/help/Update-AzVMwarePrivateCloud.md
Due: none

Added in NVA Changes for ILB Migration in Powershell
  src/Network/Network.Management.Sdk/Generated/INetworkVirtualAppliancesOperations.Migration.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliance.Migration.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualApplianceCommitMigrationRequest.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualApplianceExecuteMigrationRequest.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualApplianceMigrationRequestProperties.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualApplianceMigrationStatus.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualApplianceMigrationType.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancePrepareMigrationRequest.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancePrepareMigrationRequestProperties.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancesAbortMigrationHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancesCommitMigrationHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancesExecuteMigrationHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkVirtualAppliancesPrepareMigrationHeaders.cs
  src/Network/Network.Management.Sdk/Generated/NetworkVirtualAppliancesOperations.Migration.cs
  src/Network/Network.Management.Sdk/Generated/NetworkVirtualAppliancesOperationsExtensions.Migration.cs
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceMigrationTests.cs
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceMigrationTests.ps1
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSNetworkVirtualApplianceMigrationStatus.cs
  src/Network/Network/NetworkVirtualAppliance/InvokeNetworkVirtualApplianceAbortMigrationCommand.cs
  src/Network/Network/NetworkVirtualAppliance/InvokeNetworkVirtualApplianceCommitMigrationCommand.cs
  src/Network/Network/NetworkVirtualAppliance/InvokeNetworkVirtualApplianceExecuteMigrationCommand.cs
  src/Network/Network/NetworkVirtualAppliance/InvokeNetworkVirtualAppliancePrepareMigrationCommand.cs
  src/Network/Network/help/Az.Network.md
  src/Network/Network/help/Invoke-AzNetworkVirtualApplianceAbortMigration.md
  src/Network/Network/help/Invoke-AzNetworkVirtualApplianceCommitMigration.md
  src/Network/Network/help/Invoke-AzNetworkVirtualApplianceExecuteMigration.md
  src/Network/Network/help/Invoke-AzNetworkVirtualAppliancePrepareMigration.md
Due: none

Potential fix for pull request finding
  src/VMware/VMware.Autorest/test/New-AzVMwareVcf5LicenseObject.Tests.ps1
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
