Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update CredScanSuppressions.json
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/ElasticSan/ElasticSan/ChangeLog.md
Due: none

Update ChangeLog.md
  src/AnalysisServices/AnalysisServices/ChangeLog.md
Due: none

Update Get-AzElasticDetailVMIngestion.Recording.json
  src/Elastic/Elastic.Autorest/test/Get-AzElasticDetailVMIngestion.Recording.json
Due: none

Update CredScanSuppressions.json (#26389)
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Get-AzElasticDetailVMIngestion.Recording.json (#26391)
  src/Elastic/Elastic.Autorest/test/Get-AzElasticDetailVMIngestion.Recording.json
Due: none

ConnectedKubernetes OOB Release (#26289)
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedKubernetes/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/ConnectedKubernetes/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update CredScanSuppressions.json (#26389) (#26392)
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  NuGet.Config
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
  tools/SecurityTools/CredScanSuppressions.json
  tools/StaticAnalysis/Exceptions/Az.DeviceProvisioningServices/GeneratedSdkIssues.csv
  tools/StaticAnalysis/Exceptions/Az.EventGrid/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.StackHCI.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update NuGet.Config
  NuGet.Config
Due: .azure-pipelines/sync-tools-folder.yml

Update ChangeLog.md
  src/Elastic/Elastic/ChangeLog.md
Due: none

Bump up version for Elasticsan
  NuGet.Config
Due: .azure-pipelines/sync-tools-folder.yml

Pwsh changes
  src/Network/Network.Management.Sdk/Generated/VirtualNetworkGatewayConnectionsOperations.cs
  src/Network/Network.Management.Sdk/Generated/VirtualNetworkGatewaysOperations.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
Due: none

add WIF disable flag and read value from inputObject
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/helpers/HelmHelper.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/helpers/UtilsHelper.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Set-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/test/Set-HelmModulesAndRepository.Tests.ps1
Due: none

add psd1 back
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/Az.ConnectedKubernetes.psd1
Due: none

update description and add examples
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/Set-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/examples/Set-AzConnectedKubernetes.md
Due: none

Revert "replace token with this-is-a-sas-token in desktopVirtualization recordings"
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPoolRegistrationToken.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdMSIXPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Register-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Unregister-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdScalingPlan.Recording.json
Due: none

Make regex not greedy
  tools/ReplaceToken.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

replace token with this-is-a-sas-token in desktopVirtualization recordings
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPoolRegistrationToken.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdMSIXPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdScalingPlan.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Register-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdRegistrationInfo.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Unregister-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplication.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplicationGroup.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdDesktop.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdMsixPackage.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdScalingPlan.Recording.json
Due: none

Call ToInvariantString to serialize timestamp into query string
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/CosmosDBAccount/RestoreAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/Table/RestoreAzCosmosDBTable.cs
  src/Monitor/Monitor.Test/CustomPrinterTests.cs
  src/Monitor/Monitor/OutputClasses/CustomPrinter.cs
Due: none

all SA and network manager tests running
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerManagementGroupConnectionCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerResourceMinimumParameterCreate.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerScopeConnectionCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerSecurityAdminRuleCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerSecurityAdminRuleManualAggregationCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerSubcriptionConnectionCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/TestNetworkManagerCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/TestNetworkManagerConnectivityConfigurationCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/TestNetworkManagerGroupCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/TestNetworkManagerStaticMemberCRUD.json
  src/Network/Network/Models/NetworkManager/PSNetworkManagerActiveBaseSecurityAdminRule.cs
  src/Network/Network/Models/NetworkManager/PSNetworkManagerEffectiveBaseSecurityAdminRule.cs
  src/Network/Network/Models/NetworkManager/PSNetworkManagerSecurityAdminConfiguration.cs
  src/Network/Network/NetworkManager/NetworkManagerSecurityAdminConfiguration/NetworkManagerSecurityAdminConfigurationBaseCmdlet.cs
  src/Network/Network/NetworkManager/NetworkManagerSecurityAdminConfiguration/NetworkManagerSecurityAdminRuleCollection/NetworkManagerSecurityAdminRule/NetworkManagerSecurityAdminRuleBaseCmdlet.cs
  src/Network/Network/NetworkManager/NetworkManagerSecurityAdminConfiguration/NetworkManagerSecurityAdminRuleCollection/NetworkManagerSecurityAdminRuleCollectionBaseCmdlet.cs
  src/Network/Network/NetworkManager/NetworkManagerSecurityAdminConfiguration/NewAzNetworkManagerSecurityAdminConfigurationCommand.cs
Due: none

new commit to jumpstart the pipeline
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
Due: none

Setting up tests
  src/HealthDeidentification/HealthDeidentification.Autorest/custom/New-AzHealthDeidentificationPrivateLink.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/docs/Get-AzHealthDeidentificationDeidService.md
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzHealthDeidentificationDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Get-AzHealthDeidentificationPrivateLink.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/New-AzHealthDeidentificationDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Remove-AzHealthDeidentificationDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/Update-AzHealthDeidentificationDeidService.Tests.ps1
  src/HealthDeidentification/HealthDeidentification.Autorest/test/jsonConfigs/deidServiceJson.json
  src/HealthDeidentification/HealthDeidentification.Autorest/test/utils.ps1
  src/HealthcareApis/HealthcareApis.Autorest/test/utils.ps1
Due: none

Tests with preview version
  src/HealthDeid/HealthDeid.Autorest/.gitattributes
  src/HealthDeid/HealthDeid.Autorest/.gitignore
  src/HealthDeid/HealthDeid.Autorest/Properties/AssemblyInfo.cs
  src/HealthDeid/HealthDeid.Autorest/README.md
  src/HealthDeid/HealthDeid.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDeid/HealthDeid.Autorest/custom/README.md
  src/HealthDeid/HealthDeid.Autorest/docs/Az.HealthDeid.md
  src/HealthDeid/HealthDeid.Autorest/docs/Get-AzHealthDeidPrivateLink.md
  src/HealthDeid/HealthDeid.Autorest/docs/Get-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/New-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/README.md
  src/HealthDeid/HealthDeid.Autorest/docs/Remove-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/docs/Update-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Get-AzHealthDeidPrivateLink.md
  src/HealthDeid/HealthDeid.Autorest/examples/Get-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/New-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Remove-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/examples/Update-AzHealthDeidService.md
  src/HealthDeid/HealthDeid.Autorest/how-to.md
  src/HealthDeid/HealthDeid.Autorest/resources/README.md
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidPrivateLink.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/README.md
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/env.json
  src/HealthDeid/HealthDeid.Autorest/test/jsonConfigs/deidServiceJson.json
  src/HealthDeid/HealthDeid.Autorest/test/loadEnv.ps1
  src/HealthDeid/HealthDeid.Autorest/test/utils.ps1
  src/HealthDeid/HealthDeid.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/HealthDeid/HealthDeid.Autorest/utils/Unprotect-SecureString.ps1
Due: none

Bump up version for ElasticSan
  NuGet.Config
  src/ElasticSan/ElasticSan.Autorest/Properties/AssemblyInfo.cs
  src/ElasticSan/ElasticSan/Az.ElasticSan.psd1
  src/ElasticSan/ElasticSan/ChangeLog.md
  src/ElasticSan/ElasticSan/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Test improvements, still WIP
  src/HealthDeid/HealthDeid.Autorest/docs/Az.HealthDeid.md
  src/HealthDeid/HealthDeid.Autorest/docs/Get-AzHealthDeidPrivateLink.md
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidPrivateLink.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Get-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/New-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Remove-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Recording.json
  src/HealthDeid/HealthDeid.Autorest/test/Update-AzHealthDeidService.Tests.ps1
  src/HealthDeid/HealthDeid.Autorest/test/env.json
  src/HealthDeid/HealthDeid.Autorest/test/utils.ps1
Due: none

Update ChangeLog.md (#26394)
  src/Elastic/Elastic/ChangeLog.md
Due: none
