Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Added Vector Embedding Tests
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlOperationsCmdlets.json
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbedding.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbeddingPolicy.md
Due: none

Recording tests for PRPP GA
  src/CosmosDB/CosmosDB.Test/ScenarioTests/AccountTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.AccountTests/TestAccountRelatedCmdlets.json
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewOrUpdateAzCosmosDBAccount.cs
Due: none

Fix test in DesktopVirtualization preview (#27263)
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Tests.ps1
Due: none

Review comments
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbedding.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbeddingPolicy.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorIndex.cs
Due: none

suppress dimensions
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Weights and Biases PSH cmdlet 2024-09-18-preview
  src/WeightsAndBiases/WeightsAndBiases.Autorest/.gitattributes
  src/WeightsAndBiases/WeightsAndBiases.Autorest/.gitignore
  src/WeightsAndBiases/WeightsAndBiases.Autorest/Properties/AssemblyInfo.cs
  src/WeightsAndBiases/WeightsAndBiases.Autorest/Readme.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/UX/Microsoft.WeightsAndBiases/instances.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/custom/README.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/Az.WeightsAndBiases.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/Get-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/New-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/README.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/Remove-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/docs/Update-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/examples/Get-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/examples/New-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/examples/Remove-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/examples/Update-AzWeightsAndBiasesInstance.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/how-to.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/resources/README.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Get-AzWeightsAndBiasesInstance.Recording.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Get-AzWeightsAndBiasesInstance.Tests.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/New-AzWeightsAndBiasesInstance.Recording.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/New-AzWeightsAndBiasesInstance.Tests.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/README.md
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Remove-AzWeightsAndBiasesInstance.Recording.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Remove-AzWeightsAndBiasesInstance.Tests.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Update-AzWeightsAndBiasesInstance.Recording.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/Update-AzWeightsAndBiasesInstance.Tests.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/env.json
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/loadEnv.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/test/utils.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/WeightsAndBiases/WeightsAndBiases.Autorest/utils/Unprotect-SecureString.ps1
  src/WeightsAndBiases/WeightsAndBiases/Changelog.md
Due: none

Arize AI PS commandlets for API version 2024-10-01-preview
  src/ArizeAI/ArizeAI.Autorest/.gitattributes
  src/ArizeAI/ArizeAI.Autorest/.gitignore
  src/ArizeAI/ArizeAI.Autorest/Properties/AssemblyInfo.cs
  src/ArizeAI/ArizeAI.Autorest/Readme.md
  src/ArizeAI/ArizeAI.Autorest/UX/ArizeAi.ObservabilityEval/organizations.json
  src/ArizeAI/ArizeAI.Autorest/custom/README.md
  src/ArizeAI/ArizeAI.Autorest/docs/Az.ArizeAi.md
  src/ArizeAI/ArizeAI.Autorest/docs/Get-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/docs/New-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/docs/README.md
  src/ArizeAI/ArizeAI.Autorest/docs/Remove-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/docs/Update-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/Get-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/New-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/Remove-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/examples/Update-AzArizeAiOrganization.md
  src/ArizeAI/ArizeAI.Autorest/how-to.md
  src/ArizeAI/ArizeAI.Autorest/resources/README.md
  src/ArizeAI/ArizeAI.Autorest/test/Get-AzArizeAiOrganization.Recording.json
  src/ArizeAI/ArizeAI.Autorest/test/Get-AzArizeAiOrganization.Tests.ps1
  src/ArizeAI/ArizeAI.Autorest/test/New-AzArizeAiOrganization.Recording.json
  src/ArizeAI/ArizeAI.Autorest/test/New-AzArizeAiOrganization.Tests.ps1
  src/ArizeAI/ArizeAI.Autorest/test/README.md
  src/ArizeAI/ArizeAI.Autorest/test/Remove-AzArizeAiOrganization.Recording.json
  src/ArizeAI/ArizeAI.Autorest/test/Remove-AzArizeAiOrganization.Tests.ps1
  src/ArizeAI/ArizeAI.Autorest/test/Update-AzArizeAiOrganization.Recording.json
  src/ArizeAI/ArizeAI.Autorest/test/Update-AzArizeAiOrganization.Tests.ps1
  src/ArizeAI/ArizeAI.Autorest/test/env.json
  src/ArizeAI/ArizeAI.Autorest/test/loadEnv.ps1
  src/ArizeAI/ArizeAI.Autorest/test/utils.ps1
  src/ArizeAI/ArizeAI.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  src/ArizeAI/ArizeAI.Autorest/utils/Unprotect-SecureString.ps1
  src/ArizeAI/ArizeAI/Changelog.md
Due: none

Fix hpccache test playback issue.
  src/HPCCache/HPCCache.Test/Fixtures/HpcCacheTestContext.cs
Due: none

Fix hpccache test playback issue. (#27270)
  src/HPCCache/HPCCache.Test/Fixtures/HpcCacheTestContext.cs
Due: none

Update with the latest test coverage data
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

New workflow issue-sentinel
  .github/workflows/issue-sentinel.yml
Due: azure-pipelines.yml

New workflow issue-sentinel (#27272)
  .github/workflows/issue-sentinel.yml
Due: azure-pipelines.yml

Fix the issue that core tests are not included when TestsToRun equals to All
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the issue that core tests are not included when TestsToRun equals to All (#27273)
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated with test with subscrption comment
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.ps1
Due: none

Enable resource param changes
  src/ScVmm/ScVmm.Autorest/README.md
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmAvailabilitySet.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmCloud.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmServer.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVM.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVMTemplate.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVirtualNetwork.ps1
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmAvailabilitySet.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmCloud.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmServer.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVM.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVMTemplate.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVirtualNetwork.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmAvailabilitySet.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmCloud.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmServer.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmVM.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmVMTemplate.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmVirtualNetwork.md
Due: none

EnableConnectionTracking changes
  src/Network/Network.Test/ScenarioTests/LoadBalancerTests.cs
  src/Network/Network.Test/ScenarioTests/LoadBalancerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.LoadBalancerTests/TestLoadBalancerCRUDEnableConnectionTracking.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/LoadBalancer/LoadBalancerRule/AddAzureRmLoadBalancerRuleConfigCommand.cs
  src/Network/Network/LoadBalancer/LoadBalancerRule/NewAzureRmLoadBalancerRuleConfigCommand.cs
  src/Network/Network/LoadBalancer/LoadBalancerRule/SetAzureRmLoadBalancerRuleConfigCommand.cs
  src/Network/Network/Models/PSLoadBalancingRule.cs
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/help/Add-AzLoadBalancerRuleConfig.md
  src/Network/Network/help/New-AzLoadBalancerRuleConfig.md
  src/Network/Network/help/Set-AzLoadBalancerRuleConfig.md
Due: none

Testing
  src/Network/Network.Test/ScenarioTests/LoadBalancerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.LoadBalancerTests/TestLoadBalancerCRUDEnableConnectionTracking.json
Due: none

Fixes
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/ScenarioTests/TableOperationsTests.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewAzCosmosDBAccount.cs
Due: none

Removed unnecessary references in Accounts module
  src/Accounts/Accounts/Utilities/CommandMappings.json
Due: none

Corrected ChangeLog
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

revert unneeded change
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdHostPool.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Update-AzWvdHostPool.md
Due: none

Restoring Az.CodeSigning (#27262)
  documentation/azure-powershell-modules.md
  src/CodeSigning/CodeSigning.Test/CodeSigning.Test.csproj
  src/CodeSigning/CodeSigning.Test/Resource.resx
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTestRunner.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.ps1
  src/CodeSigning/CodeSigning.Test/ScenarioTests/Common.ps1
  src/CodeSigning/CodeSigning.sln
  src/CodeSigning/CodeSigning/Az.CodeSigning.psd1
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/CodeSigning/CodeSigning/CodeSigning.csproj
  src/CodeSigning/CodeSigning/CodeSigning.format.ps1xml
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningCertChain.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningCustomerEku.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningRootCert.cs
  src/CodeSigning/CodeSigning/Commands/InvokeCIPolicySigning.cs
  src/CodeSigning/CodeSigning/Helpers/CmsSigner.cs
  src/CodeSigning/CodeSigning/Helpers/NativeMethod.cs
  src/CodeSigning/CodeSigning/Helpers/TerminatingErrorException.cs
  src/CodeSigning/CodeSigning/Helpers/TimeStampingHelper.cs
  src/CodeSigning/CodeSigning/Helpers/XmlUtil.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningCmdletBase.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceCredential.cs
  src/CodeSigning/CodeSigning/Models/ICodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/Metadata.cs
  src/CodeSigning/CodeSigning/Models/PSSigningCertificate.cs
  src/CodeSigning/CodeSigning/Models/UserSuppliedCredential.cs
  src/CodeSigning/CodeSigning/Properties/AssemblyInfo.cs
  src/CodeSigning/CodeSigning/Properties/Resources.Designer.cs
  src/CodeSigning/CodeSigning/Properties/Resources.resx
  src/CodeSigning/CodeSigning/help/Az.CodeSigning.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningCertChain.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningCustomerEku.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningRootCert.md
  src/CodeSigning/CodeSigning/help/Invoke-AzCodeSigningCIPolicySigning.md
  tools/CreateMappings_rules.json
  tools/StaticAnalysis/Exceptions/Az.CodeSigning/SignatureIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.CodeSigning.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for CodeSigning
  NuGet.Config
  src/CodeSigning/CodeSigning/Az.CodeSigning.psd1
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/CodeSigning/CodeSigning/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Tools.Common/SerializedCmdlets/Az.CodeSigning.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Commit the required files
  src/Monitor/PipelineGroup.Autorest/Properties/AssemblyInfo.cs
  src/Monitor/PipelineGroup.Autorest/generate-info.json
  src/Monitor/PipelineGroup.Autorest/resources/README.md
Due: none

Post autorest
  src/Network/NetworkSecurityPerimeter.Autorest/Properties/AssemblyInfo.cs
  src/Network/NetworkSecurityPerimeter.Autorest/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/examples/README.md
  src/Network/NetworkSecurityPerimeter.Autorest/generate-info.json
Due: none

fix tests
  src/TrustedSigning/TrustedSigning.Test/ScenarioTests/TrustedSigningTests.ps1
Due: none

Remove the duplicate content in help file (#27236)
  src/ComputeFleet/ComputeFleet/help/Get-AzComputeFleet.md
  src/ComputeFleet/ComputeFleet/help/New-AzComputeFleet.md
  src/ComputeFleet/ComputeFleet/help/Update-AzComputeFleet.md
  src/MariaDb/MariaDb/help/Get-AzMariaDbConfiguration.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresOrganization.md
  src/Network/Network/help/Get-AzNetworkSecurityGroup.md
  src/SpringCloud/SpringCloud/help/Get-AzSpringCloudSku.md
  src/Support/Support/help/Get-AzSupportCommunication.md
Due: none

Add scenario tests and recordings
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/AsrA2ATests.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/SessionRecords/RecoveryServices.SiteRecovery.Test.AsrA2ATests/TestNewA2AManagedDiskReplicationConfigForPv2.json
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/SessionRecords/RecoveryServices.SiteRecovery.Test.AsrA2ATests/TestNewA2AManagedDiskReplicationConfigForUltraDisk.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

remove unnecessary function
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/A2A/A2ATestsHelper.ps1
Due: none
