Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Updated guids to approved versions
  documentation/migration-guides/Az.7.0.0-migration-guide.md
  src/CustomLocation/CustomLocation.Autorest/examples/New-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/help/New-AzCustomLocation.md
  src/NewRelic/NewRelic.Autorest/examples/Get-AzNewRelicMonitorMonitoredResource.md
  src/NewRelic/NewRelic.Autorest/examples/Update-AzNewRelicMonitoredSubscription.md
  src/NewRelic/NewRelic.Autorest/help/Get-AzNewRelicMonitorMonitoredResource.md
  src/NewRelic/NewRelic.Autorest/help/Update-AzNewRelicMonitoredSubscription.md
  src/NewRelic/NewRelic/help/Get-AzNewRelicMonitorMonitoredResource.md
  src/NewRelic/NewRelic/help/Update-AzNewRelicMonitoredSubscription.md
  src/Sphere/Sphere.Autorest/examples/New-AzSphereCatalog.md
  src/Sphere/Sphere.Autorest/help/New-AzSphereCatalog.md
  src/StorageAction/StorageAction.Autorest/examples/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/examples/Update-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/help/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/help/Update-AzStorageActionTask.md
Due: none

change to string
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSkuProfile.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
Due: none

nit
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
Due: none

Update README.md
  src/Network/Network.Management.Sdk/README.md
Due: none

Make GetMiConfigurationStatus fault tolerant and set to default values
  src/StorageSync/StorageSync/Interop/ManagedIdentity/ServerManagedIdentityProvider.cs
Due: none

Enable ApplicationId in RegisterServer
  src/StorageSync/StorageSync/RegisteredServer/RegisterServerCommand.cs
Due: none

more changes
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/Usage/NewAzureSshKey.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/help/New-AzSshKey.md
  src/Compute/Compute/help/New-AzVM.md
Due: none

Correct typo
  src/Accounts/Authentication/Sanitizer/Services/DefaultSanitizerService.cs
Due: none

Add assigned version parameter for bump up version
  src/Databricks/Databricks/ChangeLog.md
Due: none

[Storage] Fixed issue that table cmdlet fail when execute with Storage context get from StorageAccount object and based on sharedkey authentication.
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Common/StorageCloudCmdletBase.cs
Due: none

Move livetests folder (#26011)
  src/Accounts/LiveTests/Accounts/TestLiveScenarios.ps1
  src/Aks/LiveTests/Aks/TestLiveScenarios.ps1
  src/AnalysisServices/LiveTests/AnalysisServices/TestLiveScenarios.disabled.ps1
  src/App/Livetests/App.Autorest/TestLiveScenarios.ps1
  src/ApplicationInsights/LiveTests/ApplicationInsights.Autorest/TestLiveScenarios.ps1
  src/Automation/LiveTests/Automation/TestLiveScenarios.ps1
  src/BotService/LiveTests/BotService.Autorest/TestLiveScenarios.disabled.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.ps1
  src/ConnectedKubernetes/LiveTests/ConnectedKubernetes.Autorest/TestLiveScenarios.ps1
  src/ContainerInstance/LiveTests/ContainerInstance.Autorest/TestLiveScenarios.ps1
  src/ContainerRegistry/LiveTests/ContainerRegistry.Autorest/TestLiveScenarios.ps1
  src/Databricks/LiveTests/Databricks.Autorest/TestLiveScenarios.ps1
  src/DesktopVirtualization/LiveTests/DesktopVirtualization.Autorest/TestLiveScenarios.ps1
  src/Dns/LiveTests/Dns/TestLiveScenarios.ps1
  src/Functions/LiveTests/Functions.Autorest/TestLiveScenarios.ps1
  src/KeyVault/LiveTests/KeyVault/KeyVaultDataPlaneLiveTests/TestNetworkRuleSet.ps1
  src/KeyVault/LiveTests/KeyVault/ManagedHsmDataPlaneLiveTests/TestSetting.ps1
  src/KeyVault/LiveTests/KeyVault/ManagedHsmDataPlaneLiveTests/sd1.cer
  src/KeyVault/LiveTests/KeyVault/ManagedHsmDataPlaneLiveTests/sd2.cer
  src/KeyVault/LiveTests/KeyVault/ManagedHsmDataPlaneLiveTests/sd3.cer
  src/KeyVault/LiveTests/KeyVault/TestLiveScenarios.ps1
  src/Network/LiveTests/Network/TestLiveScenarios.ps1
  src/Resources/LiveTests/MSGraph.Autorest/TestLiveScenarios.disabled.ps1
  src/Resources/LiveTests/MSGraph.Autorest/msgraphtest2.cer
  src/SpringCloud/LiveTests/SpringCloud.Autorest/TestLiveScenarios.ps1
  src/Sql/LiveTests/Sql/TestLiveScenarios.ps1
  src/Storage/LiveTests/Storage.Management/BlobTests.ps1
  src/Storage/LiveTests/Storage.Management/QueueTests.ps1
  src/Storage/LiveTests/Storage.Management/TestFiles/testfile512
  src/Storage/LiveTests/Storage.Management/TestLiveScenarios.ps1
  src/Synapse/LiveTests/Synapse/TestLiveScenarios.ps1
  src/Websites/LiveTests/Websites/TestLiveScenarios.ps1
Due: none

[Storage] Fixed issue that table cmdlet fail when execute with Storage context get from StorageAccount object and based on sharedkey authentication. (#26014)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Common/StorageCloudCmdletBase.cs
Due: none

Updated examples
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Get-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Import-AzWvdAppAttachPackageInfo.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Remove-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Update-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/Get-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/Import-AzWvdAppAttachPackageInfo.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/New-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/Remove-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/Update-AzWvdAppAttachPackage.md
Due: none

Added missing custom powershell and tests, renamed Senerio to Scenario
  src/DesktopVirtualization/DesktopVirtualization.Autorest/custom/New-AzWvdAppAttachPackage_ImageObject.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/custom/New-AzWvdHostPool_FullScenarioCreate.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/custom/Update-AzWvdAppAttachPackage_ImageObject.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdHostPool.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/Update-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdAppAttachPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Import-AzWvdAppAttachPackageInfo.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdAppAttachPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdAppAttachPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdAppAttachPackage.Tests.ps1
Due: none

Added breaking change supporessions for upgraded commonTypes from v2 to v5
  src/DesktopVirtualization/DesktopVirtualization.Autorest/examples/README.md
  tools/StaticAnalysis/Exceptions/Az.DesktopVirtualization/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove the breaking change suppression
  tools/StaticAnalysis/Exceptions/Az.DesktopVirtualization/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add assigned version parameter for bump up version
  tools/VersionController/Models/VersionBumper.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Static Analysis fix
  src/Migrate/Migrate.Autorest/README.md
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/Set-AzMigrateServerReplication.ps1
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/docs/New-AzMigrateServerReplication.md
  src/Migrate/Migrate.Autorest/docs/Set-AzMigrateServerReplication.md
Due: none

[Storage] continue fix table contxt issue
  src/Storage/Storage/Common/StorageCloudCmdletBase.cs
Due: none

Removed Remove-AzMigrateReplicationFabricInfra.md
  src/Migrate/Migrate.Autorest/docs/Remove-AzMigrateReplicationFabricInfra.md
Due: none

Use Guardian CLI directly
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

add a test file
  src/Accounts/anewfile.txt
Due: none

use constant cap name in New and Remove tests
  src/Fabric/Fabric.Autorest/test/Get-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Get-AzFabricCapacitySku.Recording.json
  src/Fabric/Fabric.Autorest/test/New-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/New-AzFabricCapacity.Tests.ps1
  src/Fabric/Fabric.Autorest/test/Remove-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Remove-AzFabricCapacity.Tests.ps1
  src/Fabric/Fabric.Autorest/test/Resume-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Suspend-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/Test-AzFabricCapacityNameAvailability.Recording.json
  src/Fabric/Fabric.Autorest/test/Update-AzFabricCapacity.Recording.json
  src/Fabric/Fabric.Autorest/test/deployment-templates/test-resources.parameters.json
  src/Fabric/Fabric.Autorest/test/env.json
Due: none

Bump up version for Databricks
  src/Databricks/Databricks.Autorest/Properties/AssemblyInfo.cs
  src/Databricks/Databricks/Az.Databricks.psd1
  src/Databricks/Databricks/ChangeLog.md
  src/Databricks/Databricks/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add DestinationIpAddress to PrivateLinkService
  src/Network/Network.Test/ScenarioTests/PrivateEndpointTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSPrivateLinkService.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/PrivateLinkService/NewAzurePrivateLinkServiceCommand.cs
  src/Network/Network/help/New-AzPrivateLinkService.md
Due: none

add NuGetAuthenticate
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update the test file
  src/Accounts/anewfile.txt
Due: none

new doc (unfinished)
  documentation/nogeneration-branch-development-guide.md
Due: none

Update ChangeLog.md for Az.Workloads
  src/Workloads/Workloads/ChangeLog.md
Due: none

[Storage] continue fix table contxt issue (#26019)
  src/Storage/Storage/Common/StorageCloudCmdletBase.cs
Due: none
