Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

Migrate Code-Gen pipeline from UI based to yaml (#19398)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

Update security-tools.yml
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

Add AssemblyInfo
  src/Compute/Compute.Sdk/Properties/AssemblyInfo.cs
Due: none

first tentative change
  src/Network/Network/Generated/Models/PSVpnClientConfiguration.cs
  src/Network/Network/Models/PSClientConnectionConfiguration.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayPolicyGroup.cs
  src/Network/Network/Models/PSVirtualNetworkGatewayPolicyGroupMember.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupCommand .cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupMemberCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVpnClientConnectionConfigurationCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
Due: none

update mapping
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
Due: none

finish testing changes
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkGatewayTests/TestVirtualNetworkGatewayPolicyGroupCRUD.json
  src/Network/Network/Az.Network.psd1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupCommand .cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayPolicyGroupMemberCommand.cs
  src/Network/Network/VirtualNetworkGateway/NewAzureVpnClientConnectionConfigurationCommand.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
Due: none

New-AzVirtualNetworkGatewayConnection: Addition EnablePrivateLinkFastPath property/parameter
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayConnectionTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSVirtualNetworkGatewayConnection.cs
  src/Network/Network/VirtualNetworkGatewayConnection/NewAzureVirtualNetworkGatewayConnectionCommand.cs
  src/Network/Network/help/New-AzVirtualNetworkGatewayConnection.md
Due: none

Update daily-build.yml
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml

[MarketplaceOrdering] deleted old module(base on sdk).
  src/MarketplaceOrdering/Changelog.md
  src/MarketplaceOrdering/MarketplaceOrdering.Test/MarketplaceOrdering.Test.csproj
  src/MarketplaceOrdering/MarketplaceOrdering.Test/Properties/AssemblyInfo.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/AgreementsTests.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/AgreementsTests.ps1
  src/MarketplaceOrdering/MarketplaceOrdering.Test/ScenarioTests/MarketplaceOrderingTestRunner.cs
  src/MarketplaceOrdering/MarketplaceOrdering.Test/SessionRecords/Microsoft.Azure.Commands.MarketplaceOrdering.Test.ScenarioTests.AgreementsTests/TestGetAgreement.json
  src/MarketplaceOrdering/MarketplaceOrdering.Test/SessionRecords/Microsoft.Azure.Commands.MarketplaceOrdering.Test.ScenarioTests.AgreementsTests/TestSetAgreementAccepted.json
  src/MarketplaceOrdering/MarketplaceOrdering.Test/SessionRecords/Microsoft.Azure.Commands.MarketplaceOrdering.Test.ScenarioTests.AgreementsTests/TestSetAgreementAcceptedPipeline.json
  src/MarketplaceOrdering/MarketplaceOrdering.Test/SessionRecords/Microsoft.Azure.Commands.MarketplaceOrdering.Test.ScenarioTests.AgreementsTests/TestSetAgreementNotAccepted.json
  src/MarketplaceOrdering/MarketplaceOrdering.Test/SessionRecords/Microsoft.Azure.Commands.MarketplaceOrdering.Test.ScenarioTests.AgreementsTests/TestSetAgreementRejectPipeline.json
  src/MarketplaceOrdering/MarketplaceOrdering.sln
  src/MarketplaceOrdering/MarketplaceOrdering/Az.MarketplaceOrdering.psd1
  src/MarketplaceOrdering/MarketplaceOrdering/ChangeLog.md
  src/MarketplaceOrdering/MarketplaceOrdering/Cmdlets/Agreements/GetAzureRmMarketplaceTerms.cs
  src/MarketplaceOrdering/MarketplaceOrdering/Cmdlets/Agreements/SetAzureRmMarketplaceTerms.cs
  src/MarketplaceOrdering/MarketplaceOrdering/Common/AzureMarketplaceOrderingCmdletBase.cs
  src/MarketplaceOrdering/MarketplaceOrdering/Common/Constants.cs
  src/MarketplaceOrdering/MarketplaceOrdering/MarketplaceOrdering.csproj
  src/MarketplaceOrdering/MarketplaceOrdering/MarketplaceOrdering.format.ps1xml
  src/MarketplaceOrdering/MarketplaceOrdering/Models/PSAgreementTerms.cs
  src/MarketplaceOrdering/MarketplaceOrdering/Properties/AssemblyInfo.cs
  src/MarketplaceOrdering/MarketplaceOrdering/StartupScripts/sample.ps1
  src/MarketplaceOrdering/MarketplaceOrdering/help/Az.MarketplaceOrdering.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Get-AzMarketplaceTerms.md
  src/MarketplaceOrdering/MarketplaceOrdering/help/Set-AzMarketplaceTerms.md
  src/MarketplaceOrdering/documentation/current-breaking-changes.md
  src/MarketplaceOrdering/documentation/upcoming-breaking-changes.md
Due: none

Update daily-build.yml for Azure Pipelines
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml

fix some example issues
  src/SecurityInsights/help/Get-AzSentinelEnrichment.md
  src/SecurityInsights/help/New-AzSentinelAlertRule.md
  src/SecurityInsights/help/New-AzSentinelDataConnector.md
  src/SecurityInsights/help/Update-AzSentinelSetting.md
Due: none

Migrate security-tools pipeline from UI based to yaml (#19412)
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

address review comments
  src/StackHCI/custom/stackhci.ps1
Due: none

[MarketplaceOrdering]recover sln file.
  src/MarketplaceOrdering/MarketplaceOrdering.sln
Due: none

{AzureFirewall} fixes Azure/azure-powershell#19371 (#19391)
  src/Network/Network/help/Get-AzFirewallPolicyRuleCollectionGroup.md
Due: none

Added ArtifactsOutputPath as PSModulePath
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[DataFactory]Updated ADF .Net SDK version to 6.4.0 (#19408)
  src/DataFactory/DataFactoryV2.Test/DataFactoryV2.Test.csproj
  src/DataFactory/DataFactoryV2/Changelog.md
  src/DataFactory/DataFactoryV2/DataFactoryV2.csproj
Due: none

New-AzVirtualNetworkGatewayConnection: Addition EnablePrivateLinkFastPath property/parameter (#19419)
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayConnectionTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSVirtualNetworkGatewayConnection.cs
  src/Network/Network/VirtualNetworkGatewayConnection/NewAzureVirtualNetworkGatewayConnectionCommand.cs
  src/Network/Network/help/New-AzVirtualNetworkGatewayConnection.md
Due: none

Refactor scripts
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update RunVersionController.ps1
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[MarketplaceOrdering]custom Set-AzMarketplaceTerms.
  src/MarketplaceOrdering/custom/Set-AzMarketplaceTerms.ps1
Due: none

fix examples
  src/SecurityInsights/examples/Get-AzSentinelEnrichment.md
  src/SecurityInsights/examples/Get-AzSentinelEntityActivity.md
  src/SecurityInsights/examples/Get-AzSentinelEntityInsight.md
  src/SecurityInsights/examples/Get-AzSentinelEntityRelation.md
  src/SecurityInsights/examples/Get-AzSentinelEntityTimeline.md
  src/SecurityInsights/examples/Get-AzSentinelIncidentRelation.md
  src/SecurityInsights/examples/New-AzSentinelAlertRule.md
  src/SecurityInsights/examples/New-AzSentinelDataConnector.md
  src/SecurityInsights/examples/New-AzSentinelEntityQuery.md
  src/SecurityInsights/examples/New-AzSentinelIncidentComment.md
  src/SecurityInsights/examples/New-AzSentinelOnboardingState.md
  src/SecurityInsights/examples/Remove-AzSentinelAlertRuleAction.md
  src/SecurityInsights/examples/Remove-AzSentinelIncidentRelation.md
  src/SecurityInsights/examples/Update-AzSentinelBookmark.md
  src/SecurityInsights/examples/Update-AzSentinelIncident.md
  src/SecurityInsights/examples/Update-AzSentinelSetting.md
  src/SecurityInsights/help/Get-AzSentinelEnrichment.md
  src/SecurityInsights/help/Get-AzSentinelEntityActivity.md
  src/SecurityInsights/help/Get-AzSentinelEntityInsight.md
  src/SecurityInsights/help/Get-AzSentinelEntityRelation.md
  src/SecurityInsights/help/Get-AzSentinelEntityTimeline.md
  src/SecurityInsights/help/Get-AzSentinelIncidentRelation.md
  src/SecurityInsights/help/New-AzSentinelAlertRule.md
  src/SecurityInsights/help/New-AzSentinelDataConnector.md
  src/SecurityInsights/help/New-AzSentinelEntityQuery.md
  src/SecurityInsights/help/New-AzSentinelIncidentComment.md
  src/SecurityInsights/help/New-AzSentinelOnboardingState.md
  src/SecurityInsights/help/Remove-AzSentinelAlertRuleAction.md
  src/SecurityInsights/help/Remove-AzSentinelIncidentRelation.md
  src/SecurityInsights/help/Update-AzSentinelBookmark.md
  src/SecurityInsights/help/Update-AzSentinelIncident.md
  src/SecurityInsights/help/Update-AzSentinelSetting.md
  tools/StaticAnalysis/Exceptions/Az.SecurityInsights/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

init readme
  src/Nginx/README.md
Due: none

Added ArtifactsOutputPath as one of PSModulePath (#19425)
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[MarketplaceOrdering] custom cmdlets.
  src/MarketplaceOrdering/README.md
  src/MarketplaceOrdering/custom/Get-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/custom/Set-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/docs/Get-AzMarketplaceTerms.md
  src/MarketplaceOrdering/docs/Set-AzMarketplaceTerms.md
  src/MarketplaceOrdering/test/Get-AzMarketplaceTerms.Recording.json
  src/MarketplaceOrdering/test/Get-AzMarketplaceTerms.Tests.ps1
  src/MarketplaceOrdering/test/Set-AzMarketplaceTerms.Recording.json
  src/MarketplaceOrdering/test/env.json
Due: none

[MarketplaceOrdering]replace file
  src/MarketplaceOrdering/README.md
  src/MarketplaceOrdering/custom/Get-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/custom/Set-AzMarketplaceTerms.ps1
  src/MarketplaceOrdering/docs/Az.MarketplaceOrdering.md
  src/MarketplaceOrdering/docs/Get-AzMarketplaceTerms.md
  src/MarketplaceOrdering/docs/Invoke-AzMarketplaceSignTerms.md
  src/MarketplaceOrdering/docs/README.md
  src/MarketplaceOrdering/docs/Set-AzMarketplaceTerms.md
  src/MarketplaceOrdering/docs/Stop-AzMarketplaceTerms.md
  src/MarketplaceOrdering/test/Get-AzMarketplaceTerms.Recording.json
  src/MarketplaceOrdering/test/Get-AzMarketplaceTerms.Tests.ps1
  src/MarketplaceOrdering/test/Set-AzMarketplaceTerms.Recording.json
  src/MarketplaceOrdering/test/env.json
Due: none

[MarketplaceOrdering]add SignatureIssues
  tools/StaticAnalysis/Exceptions/Az.MarketplaceOrdering/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Added EnableUDPLogOptimization parameter to Firewall cmdlet
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallTests.ps1
  src/Network/Network/AzureFirewall/NewAzureFirewallCommand.cs
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/AzureFirewall/PSAzureFirewall.cs
Due: none

Updated help markdown
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallTests/TestAzureFirewallCRUDEnableUDPLogOptimization.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/help/New-AzFirewall.md
Due: none

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
  src/Az.autorest.hybrid.props
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/FilesChangedTask.cs
  tools/RunVersionController.ps1
  tools/StaticAnalysis/ExampleAnalyzer/Measure-MarkdownOrScript.ps1
  tools/StaticAnalysis/Exceptions/Az.Automation/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
