Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Implement AccessToken's breaking change
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication/Config/ConfigInitializer.cs
  src/Accounts/Authentication/Constants.cs
  src/Accounts/Authentication/Properties/Resources.Designer.cs
  src/Accounts/Authentication/Properties/Resources.resx
  src/shared/ConfigKeys.cs
Due: .azure-pipelines/sync-tools-folder.yml

Change log
  src/Accounts/Accounts/ChangeLog.md
Due: none

Bump up version for Accounts
  NuGet.Config
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

few more updates
  src/EventHub/EventHub.Autorest/.gitignore
  src/EventHub/EventHub.Autorest/Az.EventHub.psd1
  src/EventHub/EventHub.Autorest/docs/Az.EventHub.md
  src/EventHub/EventHub.Autorest/docs/New-AzEventHubLocationsNameObject.md
  src/EventHub/EventHub.Autorest/docs/Start-AzEventHubNamespaceFailOver.md
Due: none

removed .psd1
  src/EventHub/EventHub.Autorest/Az.EventHub.psd1
Due: none

Get-AzVMImage list to return additional properties (#27617)
  src/Compute/Compute.Management.Sdk/Generated/IVirtualMachineImagesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/VirtualMachineImagesOperations.cs
  src/Compute/Compute.Management.Sdk/Generated/VirtualMachineImagesOperationsExtensions.cs
  src/Compute/Compute.Management.Sdk/README.md
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineImageListTopOrderExpand.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Compute.format.ps1xml
  src/Compute/Compute/Images/GetAzureVMImageCommand.cs
  src/Compute/Compute/Models/PSVirtualMachineImage.cs
  src/Compute/Compute/help/Get-AzVMImage.md
Due: none

[Az.ScVmm] Minor Doc/Description Update for Az.ScVmm Cmdlets (#27637)
  src/ScVmm/ScVmm.Autorest/custom/Get-AzScVmmVMDisk.ps1
  src/ScVmm/ScVmm.Autorest/custom/Get-AzScVmmVMGuestAgent.ps1
  src/ScVmm/ScVmm.Autorest/custom/Get-AzScVmmVMNic.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVMExtension.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVMGuestAgent.ps1
  src/ScVmm/ScVmm.Autorest/docs/Az.ScVmm.md
  src/ScVmm/ScVmm.Autorest/docs/Get-AzScVmmVMGuestAgent.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVMGuestAgent.md
  src/ScVmm/ScVmm.Autorest/generate-info.json
  src/ScVmm/ScVmm.sln
  src/ScVmm/ScVmm/Az.ScVmm.psd1
  src/ScVmm/ScVmm/help/Az.ScVmm.md
  src/ScVmm/ScVmm/help/Get-AzScVmmVMGuestAgent.md
  src/ScVmm/ScVmm/help/New-AzScVmmVMExtension.md
  src/ScVmm/ScVmm/help/New-AzScVmmVMGuestAgent.md
Due: none

[skip ci] Archive 6ee7e1416cc447638a26d89af9018230522ce336
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMDisk.ps1
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMGuestAgent.ps1
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMNic.ps1
  generated/ScVmm/ScVmm.Autorest/exports/New-AzScVmmVMExtension.ps1
  generated/ScVmm/ScVmm.Autorest/exports/New-AzScVmmVMGuestAgent.ps1
  generated/ScVmm/ScVmm.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/ScVmm/ScVmm.Autorest/generate-info.json
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/AvailabilitySet.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Cloud.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ExtensionValue.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/GuestAgent.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/GuestCredential.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/IPAddress.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/InfrastructureProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/InventoryItem.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/License.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/LicenseProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/LicenseProfileMachineInstanceView.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Machine.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/MachineExtension.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/MachineProperties.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfileLinuxConfiguration.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfileWindowsConfiguration.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/PatchSettings.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ProxyResource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Resource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ResourceAutoGenerated.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/TrackedResource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/TrackedResourceAutoGenerated.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VMInstanceHybridIdentityMetadata.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineInstance.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineInstanceProperties.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineTemplate.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualNetwork.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VmmServer.cs
  generated/ScVmm/ScVmm.Autorest/internal/New-AzScVmmMachine.ps1
  generated/ScVmm/ScVmm.Autorest/internal/ProxyCmdletDefinitions.ps1
Due: none

Added help in Eventhub folder
  src/EventHub/EventHub.Autorest/docs/Az.EventHub.md
  src/EventHub/EventHub/Az.EventHub.psd1
  src/EventHub/EventHub/help/New-AzEventHubLocationsNameObject.md
  src/EventHub/EventHub/help/Start-AzEventHubNamespaceFailOver.md
Due: none

[skip ci] Archive 6ee7e1416cc447638a26d89af9018230522ce336 (#27709)
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMDisk.ps1
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMGuestAgent.ps1
  generated/ScVmm/ScVmm.Autorest/exports/Get-AzScVmmVMNic.ps1
  generated/ScVmm/ScVmm.Autorest/exports/New-AzScVmmVMExtension.ps1
  generated/ScVmm/ScVmm.Autorest/exports/New-AzScVmmVMGuestAgent.ps1
  generated/ScVmm/ScVmm.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/ScVmm/ScVmm.Autorest/generate-info.json
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/AvailabilitySet.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Cloud.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ExtensionValue.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/GuestAgent.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/GuestCredential.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/IPAddress.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/InfrastructureProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/InventoryItem.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/License.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/LicenseProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/LicenseProfileMachineInstanceView.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Machine.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/MachineExtension.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/MachineProperties.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfile.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfileLinuxConfiguration.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/OSProfileWindowsConfiguration.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/PatchSettings.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ProxyResource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/Resource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/ResourceAutoGenerated.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/TrackedResource.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/TrackedResourceAutoGenerated.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VMInstanceHybridIdentityMetadata.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineInstance.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineInstanceProperties.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualMachineTemplate.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VirtualNetwork.cs
  generated/ScVmm/ScVmm.Autorest/generated/api/Models/VmmServer.cs
  generated/ScVmm/ScVmm.Autorest/internal/New-AzScVmmMachine.ps1
  generated/ScVmm/ScVmm.Autorest/internal/ProxyCmdletDefinitions.ps1
Due: none

src/EventHub/EventHub/Az.EventHub.psd1
  src/EventHub/EventHub/Az.EventHub.psd1
Due: none

Update recordings for test
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMEnhancedPolicyAsDefaultPolicy.json
Due: none

skipping test
  src/EventHub/EventHub.Autorest/generate-info.json
  src/EventHub/EventHub.Autorest/test/Remove-AzEventHubApplicationGroup.Tests.ps1
Due: none

added back generate-info
  src/EventHub/EventHub.Autorest/generate-info.json
Due: none

Az.EventHub updates
  src/EventHub/EventHub/Az.EventHub.psd1
  src/EventHub/EventHub/help/Az.EventHub.md
Due: none

Revert "Update common to 108 to address issues (#27697)"
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Update common to 108 to address issues" (#27712)
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Fix that RemoveUser doesn't work when create Public Client with broke…"
  src/Accounts/Accounts/Account/DisconnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/ClearAzureRmContext.cs
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
  src/Accounts/Accounts/Context/RemoveAzureRmContext.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication/Authentication/TokenCache/InMemoryTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/SharedTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Fix that RemoveUser doesn't work when create Public Client with broker" (#27713)
  src/Accounts/Accounts/Account/DisconnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Context/ClearAzureRmContext.cs
  src/Accounts/Accounts/Context/GetAzureRMContext.cs
  src/Accounts/Accounts/Context/RemoveAzureRmContext.cs
  src/Accounts/Authentication.ResourceManager/AzureRmProfile.cs
  src/Accounts/Authentication/Authentication/TokenCache/InMemoryTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/PowerShellTokenCacheProvider.cs
  src/Accounts/Authentication/Authentication/TokenCache/SharedTokenCacheProvider.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update common to 108 to address issues (#27697)
  src/Accounts/Accounts/ChangeLog.md
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove BreakingChangeIssues.csv files
  tools/StaticAnalysis/Exceptions/Az.Accounts/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Aks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.AppConfiguration/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DnsResolver/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ElasticSan/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.EventGrid/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.HDInsight/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.KeyVault/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MachineLearningServices/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServiceIdentity/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MarketplaceOrdering/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ResourceGraph/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StackHCI/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageSync/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Provide temp implementation for the new added interface, will implement later
  src/Accounts/Accounts/Account/DisconnectAzureRmAccount.cs
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

feat(datamigration): add support for managed identity auth in Blob to SqlMi migrations
  src/DataMigration/DataMigration.Autorest/Az.DataMigration.nuspec
  src/DataMigration/DataMigration.Autorest/README.md
  src/DataMigration/DataMigration.Autorest/UX/Microsoft.DataMigration/sqlMigrationServices.json
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationToSqlManagedInstance.ps1
  src/DataMigration/DataMigration.Autorest/docs/Az.DataMigration.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceIntegrationRuntimeMetric.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationSqlServiceMigration.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/docs/Get-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlDb.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration.Autorest/docs/Remove-AzDataMigrationSqlServiceNode.md
  src/DataMigration/DataMigration.Autorest/docs/Update-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration.Autorest/generate-info.json
Due: none

docs(datamigration): update changelog
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

Update common to 108 to address issues (#27697) (#27715)
  src/Accounts/Accounts/Account/DisconnectAzureRmAccount.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  tools/Common.Netcore.Dependencies.targets
  tools/TestFx/Mocks/MockCertificateAuthenticationFactory.cs
  tools/TestFx/Mocks/MockTokenAuthenticationFactory.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Don't export validateReplication
  src/Migrate/Migrate.Autorest/.gitignore
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/custom/Helper/CommonHelper.ps1
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/Az.Migrate.psd1
Due: none

Update live test cases for Aks and Compute
  src/Aks/LiveTests/Aks/TestLiveScenarios.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.ps1
Due: none

Update live test cases for Aks and Compute (#27716)
  src/Aks/LiveTests/Aks/TestLiveScenarios.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.ps1
Due: none

upgrade changelog
  src/Cdn/Cdn/ChangeLog.md
Due: none

Update recordings for test
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureFSContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureFSUnregisterContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestAzureVmWorkloadUnDeleteContainer.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureCrossZonalRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureCrossZonalRestoreToNoZone.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSBackup.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSFullRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSGetRPs.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSItem.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSProtection.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSRestoreToAnotherRegion.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.JobTests/TestAzureFSGetJob.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureFSVaultPolicy.json
Due: none

migrate Subscription module to autorest v4
  src/Subscription/Subscription.Autorest/Properties/AssemblyInfo.cs
  src/Subscription/Subscription.Autorest/README.md
  src/Subscription/Subscription.Autorest/custom/Get-AzSubscriptionAcceptOwnershipStatus.ps1
  src/Subscription/Subscription.Autorest/custom/New-AzSubscriptionAlias.ps1
  src/Subscription/Subscription.Autorest/docs/Az.Subscription.md
  src/Subscription/Subscription.Autorest/docs/Disable-AzSubscription.md
  src/Subscription/Subscription.Autorest/docs/Enable-AzSubscription.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionPolicy.md
  src/Subscription/Subscription.Autorest/docs/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/Subscription.Autorest/docs/New-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/docs/Remove-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/generate-info.json
  src/Subscription/Subscription.Autorest/resources/README.md
  src/Subscription/Subscription.sln
  src/Subscription/Subscription/Az.Subscription.psd1
  src/Subscription/Subscription/ChangeLog.md
  src/Subscription/Subscription/help/Disable-AzSubscription.md
  src/Subscription/Subscription/help/Enable-AzSubscription.md
  src/Subscription/Subscription/help/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/Subscription/help/Get-AzSubscriptionAlias.md
  src/Subscription/Subscription/help/Get-AzSubscriptionPolicy.md
  src/Subscription/Subscription/help/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/Subscription/help/New-AzSubscriptionAlias.md
  src/Subscription/Subscription/help/Remove-AzSubscriptionAlias.md
Due: none

suppress secret security warning
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[PS] migrate Subscription module to autorest v4 (#27719)
  src/Subscription/Subscription.Autorest/Properties/AssemblyInfo.cs
  src/Subscription/Subscription.Autorest/README.md
  src/Subscription/Subscription.Autorest/custom/Get-AzSubscriptionAcceptOwnershipStatus.ps1
  src/Subscription/Subscription.Autorest/custom/New-AzSubscriptionAlias.ps1
  src/Subscription/Subscription.Autorest/docs/Az.Subscription.md
  src/Subscription/Subscription.Autorest/docs/Disable-AzSubscription.md
  src/Subscription/Subscription.Autorest/docs/Enable-AzSubscription.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/docs/Get-AzSubscriptionPolicy.md
  src/Subscription/Subscription.Autorest/docs/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/Subscription.Autorest/docs/New-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/docs/Remove-AzSubscriptionAlias.md
  src/Subscription/Subscription.Autorest/generate-info.json
  src/Subscription/Subscription.Autorest/resources/README.md
  src/Subscription/Subscription.sln
  src/Subscription/Subscription/Az.Subscription.psd1
  src/Subscription/Subscription/ChangeLog.md
  src/Subscription/Subscription/help/Disable-AzSubscription.md
  src/Subscription/Subscription/help/Enable-AzSubscription.md
  src/Subscription/Subscription/help/Get-AzSubscriptionAcceptOwnershipStatus.md
  src/Subscription/Subscription/help/Get-AzSubscriptionAlias.md
  src/Subscription/Subscription/help/Get-AzSubscriptionPolicy.md
  src/Subscription/Subscription/help/Invoke-AzSubscriptionAcceptOwnership.md
  src/Subscription/Subscription/help/New-AzSubscriptionAlias.md
  src/Subscription/Subscription/help/Remove-AzSubscriptionAlias.md
Due: none

Update GetAzureRmRecoveryServicesBackupSchedulePolicyObject to default the PolicySubType to Enhanced for AzureVM. (#27043)
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMEnhancedPolicyAsDefaultPolicy.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/ProtectionPolicy/GetAzureRmRecoveryServicesBackupSchedulePolicyObject.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesBackupSchedulePolicyObject.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
