Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Upgrade .NET SDK from 6.0 to 8.0
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/daily-build.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/security-tools.yml
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/analyze-steps.yml
  .azure-pipelines/util/build-steps.yml
  .azure-pipelines/util/test-steps.yml
  .azure-pipelines/windows-powershell.yml
  src/Az.Test.props
  tools/Az.nonprod.props
  tools/AzDev/Tests/Tests.csproj
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/Microsoft.Azure.Build.Tasks.csproj
  tools/Common.Netcore.Dependencies.Test.targets
  tools/ExecuteCIStep.ps1
  tools/Github/ParseServiceContactsList.ps1
  tools/StaticAnalysis/StaticAnalysis.Netcore.csproj
  tools/TestFx/TestFx.csproj
  tools/Tools.Common.Test/Tools.Common.Test.csproj
  tools/Tools.Common/Tools.Common.Netcore.csproj
  tools/VersionController/VersionController.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

sync up latest autorest generated code
  src/OperationalInsights/OperationalInsights.Management.Sdk/Generated/OperationalInsightsManagementClient.cs
Due: none

Add ARMId based parameterSet for VM
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVM.ps1
  src/ScVmm/ScVmm.Autorest/custom/Remove-AzScVmmVM.ps1
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVM.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmVM.md
Due: none

Add a SecureString Property
  src/Storage/Storage.Management.Sdk/custom/StorageAccountKey.cs
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
Due: none

sync changelog from Az.DesktopVirtualization-preview
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
Due: none

[DesktopVirtualization] Test PR validation on preview
  src/DesktopVirtualization/DesktopVirtualization/ChangeLog.md
Due: none

sync up latest autorest generated code
  src/NotificationHubs/NotificationHubs.Management.Sdk/Generated/NotificationHubsManagementClient.cs
Due: none

Added support for VMExtensions
  src/ScVmm/ScVmm.Autorest/Az.ScVmm.psd1
  src/ScVmm/ScVmm.Autorest/README.md
  src/ScVmm/ScVmm.Autorest/custom/Get-AzScVmmVMExtension.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVM.ps1
  src/ScVmm/ScVmm.Autorest/custom/New-AzScVmmVMExtension.ps1
  src/ScVmm/ScVmm.Autorest/custom/Remove-AzScVmmVMExtension.ps1
  src/ScVmm/ScVmm.Autorest/custom/Update-AzScVmmVMExtension.ps1
  src/ScVmm/ScVmm.Autorest/docs/Az.ScVmm.md
  src/ScVmm/ScVmm.Autorest/docs/Get-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVM.md
  src/ScVmm/ScVmm.Autorest/docs/New-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/docs/Remove-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/docs/Update-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/examples/Get-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/examples/New-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/examples/Remove-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/examples/Update-AzScVmmVMExtension.md
  src/ScVmm/ScVmm.Autorest/test/Get-AzScVmmVMExtension.Tests.ps1
  src/ScVmm/ScVmm.Autorest/test/New-AzScVmmVMExtension.Tests.ps1
  src/ScVmm/ScVmm.Autorest/test/Remove-AzScVmmVMExtension.Tests.ps1
  src/ScVmm/ScVmm.Autorest/test/Update-AzScVmmVMExtension.Tests.ps1
Due: none

undo mapping command
  src/Accounts/Accounts/Utilities/CommandMappings.json
Due: none

Fix client token credentials issue before Az.Account module is imported. (#27248)
  src/Attestation/Attestation.Test/ScenarioTests/AttestationTestRunner.cs
  src/DataLakeAnalytics/DataLakeAnalytics.Test/ScenarioTests/DataLakeAnalyticsTestRunner.cs
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/DataLakeStoreTestRunner.cs
  src/Network/Network.Test/ScenarioTests/NetworkTestRunner.cs
  src/Resources/Resources.Test/ScenarioTests/ResourcesTestRunner.cs
  src/Resources/Resources.Test/ScenarioTests/RoleAssignmentTests.cs
  src/Sql/Sql.Test/ScenarioTests/SqlTestRunner.cs
  src/Synapse/Synapse.Test/ScenarioTests/SynapseTestRunner.cs
  tools/TestFx/DelegatingHandlers/HttpMockServer.cs
  tools/TestFx/EnvironmentSetupHelper.cs
  tools/TestFx/Mocks/MockContext.cs
  tools/TestFx/TestEnvironment.cs
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

undo Dimensions
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbedding.cs
Due: none

Add support for PremiumV2_LRS and UltraSSD_LRS target disks
  src/RecoveryServices/RecoveryServices.SiteRecovery/DiskReplicationConfiguration/AzureRmAsrAzureToAzureDiskReplicationConfig.cs
  src/RecoveryServices/RecoveryServices.SiteRecovery/Models/PSConstants.cs
Due: none

logging
  tools/AzDev/Tests/PSTests/InventoryTests.ps1
  tools/AzDev/src/Cmdlets/DevCmdletBase.cs
  tools/AzDev/src/Models/Inventory/Module.cs
  tools/AzDev/src/Services/DefaultCodebaseProvider.cs
  tools/AzDev/src/Services/DefaultContextProvider.cs
  tools/AzDev/src/Services/ICodebaseProvider.cs
  tools/AzDev/src/Services/IContextProvider.cs
  tools/AzDev/src/Services/ILogger.cs
  tools/AzDev/src/Services/PSCmdletLogger.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix recognition of autorest projects
  tools/AzDev/src/Models/Inventory/Codebase.cs
  tools/AzDev/src/Models/Inventory/Module.cs
  tools/AzDev/src/Services/Conventions.cs
  tools/AzDev/src/Services/DefaultCodebaseProvider.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test
  tools/AzDev/Tests/ModelTests/ModuleTests.cs
  tools/AzDev/Tests/ModelTests/NoopLogger.cs
  tools/AzDev/src/Services/ILogger.cs
  tools/AzDev/src/Services/PSCmdletLogger.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Apply suggestions from code review
  tools/AzDev/src/Cmdlets/DevCmdletBase.cs
  tools/AzDev/src/Services/ILogger.cs
  tools/AzDev/src/Services/PSCmdletLogger.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

update to pass standard
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
Due: none

update test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

re-add module
  src/CodeSigning/CodeSigning.Test/CodeSigning.Test.csproj
  src/CodeSigning/CodeSigning.Test/Resource.resx
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTestRunner.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.cs
  src/CodeSigning/CodeSigning.Test/ScenarioTests/CodeSigningTests.ps1
  src/CodeSigning/CodeSigning.Test/ScenarioTests/Common.ps1
  src/CodeSigning/CodeSigning.sln
  src/CodeSigning/CodeSigning/Az.CodeSigning.psd1
  src/CodeSigning/CodeSigning/ChangeLog.md
  src/CodeSigning/CodeSigning/CodeSigning.csproj
  src/CodeSigning/CodeSigning/CodeSigning.format.ps1xml
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningCertChain.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningCustomerEku.cs
  src/CodeSigning/CodeSigning/Commands/GetAzureCodeSigningRootCert.cs
  src/CodeSigning/CodeSigning/Commands/InvokeCIPolicySigning.cs
  src/CodeSigning/CodeSigning/Helpers/CmsSigner.cs
  src/CodeSigning/CodeSigning/Helpers/NativeMethod.cs
  src/CodeSigning/CodeSigning/Helpers/TerminatingErrorException.cs
  src/CodeSigning/CodeSigning/Helpers/TimeStampingHelper.cs
  src/CodeSigning/CodeSigning/Helpers/XmlUtil.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningCmdletBase.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/CodeSigningServiceCredential.cs
  src/CodeSigning/CodeSigning/Models/ICodeSigningServiceClient.cs
  src/CodeSigning/CodeSigning/Models/Metadata.cs
  src/CodeSigning/CodeSigning/Models/PSSigningCertificate.cs
  src/CodeSigning/CodeSigning/Models/UserSuppliedCredential.cs
  src/CodeSigning/CodeSigning/Properties/AssemblyInfo.cs
  src/CodeSigning/CodeSigning/Properties/Resources.Designer.cs
  src/CodeSigning/CodeSigning/Properties/Resources.resx
  src/CodeSigning/CodeSigning/help/Az.CodeSigning.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningCertChain.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningCustomerEku.md
  src/CodeSigning/CodeSigning/help/Get-AzCodeSigningRootCert.md
  src/CodeSigning/CodeSigning/help/Invoke-AzCodeSigningCIPolicySigning.md
Due: none

add internal stuff
  documentation/azure-powershell-modules.md
  tools/CreateMappings_rules.json
  tools/StaticAnalysis/Exceptions/Az.CodeSigning/SignatureIssues.csv
  tools/Tools.Common/SerializedCmdlets/Az.CodeSigning.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test updated
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineSecurityTypeStandard.json
Due: none

add information
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
Due: none

Sync resourceManagement.yml according To ADO Wiki Page - Service Contact List (#27234)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Change log
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

PRPP GA stable changes 2024-11-15
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewOrUpdateAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/CosmosDBAccount/UpdateAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/DatabaseAccount/PSDatabaseAccountGetResults.cs
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBAccount.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBAccount.md
Due: none

add trusted signing module
  src/TrustedSigning/TrustedSigning.Test/Resource.resx
  src/TrustedSigning/TrustedSigning.Test/ScenarioTests/Common.ps1
  src/TrustedSigning/TrustedSigning.Test/ScenarioTests/TrustedSigningTestRunner.cs
  src/TrustedSigning/TrustedSigning.Test/ScenarioTests/TrustedSigningTests.cs
  src/TrustedSigning/TrustedSigning.Test/ScenarioTests/TrustedSigningTests.ps1
  src/TrustedSigning/TrustedSigning.Test/TrustedSigning.Test.csproj
  src/TrustedSigning/TrustedSigning.sln
  src/TrustedSigning/TrustedSigning/Az.TrustedSigning.psd1
  src/TrustedSigning/TrustedSigning/ChangeLog.md
  src/TrustedSigning/TrustedSigning/Commands/GetAzureTrustedSigningCertChain.cs
  src/TrustedSigning/TrustedSigning/Commands/GetAzureTrustedSigningCustomerEku.cs
  src/TrustedSigning/TrustedSigning/Commands/GetAzureTrustedSigningRootCert.cs
  src/TrustedSigning/TrustedSigning/Commands/InvokeCIPolicySigning.cs
  src/TrustedSigning/TrustedSigning/Helpers/CmsSigner.cs
  src/TrustedSigning/TrustedSigning/Helpers/NativeMethod.cs
  src/TrustedSigning/TrustedSigning/Helpers/TerminatingErrorException.cs
  src/TrustedSigning/TrustedSigning/Helpers/TimeStampingHelper.cs
  src/TrustedSigning/TrustedSigning/Helpers/XmlUtil.cs
  src/TrustedSigning/TrustedSigning/Models/CodeSigningCmdletBase.cs
  src/TrustedSigning/TrustedSigning/Models/CodeSigningServiceClient.cs
  src/TrustedSigning/TrustedSigning/Models/CodeSigningServiceCredential.cs
  src/TrustedSigning/TrustedSigning/Models/ICodeSigningServiceClient.cs
  src/TrustedSigning/TrustedSigning/Models/Metadata.cs
  src/TrustedSigning/TrustedSigning/Models/PSSigningCertificate.cs
  src/TrustedSigning/TrustedSigning/Models/UserSuppliedCredential.cs
  src/TrustedSigning/TrustedSigning/Properties/AssemblyInfo.cs
  src/TrustedSigning/TrustedSigning/Properties/Resources.Designer.cs
  src/TrustedSigning/TrustedSigning/Properties/Resources.resx
  src/TrustedSigning/TrustedSigning/TrustedSigning.csproj
  src/TrustedSigning/TrustedSigning/TrustedSigning.format.ps1xml
  src/TrustedSigning/TrustedSigning/help/Az.TrustedSigning.md
  src/TrustedSigning/TrustedSigning/help/Get-AzCodeSigningCustomerEku.md
  src/TrustedSigning/TrustedSigning/help/Get-AzTrustedSigningCertificateChain.md
  src/TrustedSigning/TrustedSigning/help/Get-AzTrustedSigningCertificateRoot.md
  src/TrustedSigning/TrustedSigning/help/Invoke-AzTrustedSigningCIPolicySigning.md
Due: none

Fix test in DesktopVirtualization preview
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Recording.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Tests.ps1
Due: none

Added Vector Embedding models and related changes
  src/CosmosDB/CosmosDB/ChangeLog.md
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/PSIndexingPolicy.cs
  src/CosmosDB/CosmosDB/Models/PSVectorEmbedding.cs
  src/CosmosDB/CosmosDB/Models/PSVectorEmbeddingPolicy.cs
  src/CosmosDB/CosmosDB/Models/PSVectorIndex.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlVectorEmbedding.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlVectorEmbeddingPolicy.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlVectorIndex.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlContainer.md
Due: none

adding vector classes
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/PSVectorEmbedding.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlIndexingPolicy.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbedding.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbeddingPolicy.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorIndex.cs
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDBSqlContainer.cs
Due: none

adding vector index files
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB/Helpers/Constants.cs
  src/CosmosDB/CosmosDB/Models/PSVectorEmbedding.cs
  src/CosmosDB/CosmosDB/Models/PSVectorEmbeddingPolicy.cs
  src/CosmosDB/CosmosDB/Models/Sql/PSSqlVectorIndex.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorEmbedding.cs
  src/CosmosDB/CosmosDB/SQL/NewAzCosmosDBSqlVectorIndex.cs
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDBSqlContainer.cs
  src/CosmosDB/CosmosDB/help/Az.CosmosDB.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlContainer.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlIndexingPolicy.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbedding.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbeddingPolicy.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorIndex.md
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBSqlContainer.md
Due: none

fix
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB/SQL/UpdateAzCosmosDBSqlContainer.cs
Due: none

update module guid
  src/TrustedSigning/TrustedSigning/Az.TrustedSigning.psd1
Due: none

update assembly
  src/TrustedSigning/TrustedSigning/Properties/AssemblyInfo.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
