Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
    - task: PowerShell@2
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

Fixed unit test changes
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/V2ARCM/AsrV2ARcmTests.ps1
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/SessionRecords/RecoveryServices.SiteRecovery.Test.AsrV2ARCMTests/TestV2ARCMProtectableItem.json
Due: none

update code
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml

update changelog
  src/MixedReality/Az.MixedReality.psd1
  src/MixedReality/Changelog.md
Due: none

[ConnectedKubernetes] Add the prompts for AzureHybridBenefit, and update New-AzConnectedKubernetes examples (#19988)
  src/ConnectedKubernetes/custom/LegalTerm.txt
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
Due: none

Move ConnectedKubernetes to main
  src/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/create-model-cmdlets.ps1
  src/ConnectedKubernetes/custom/LegalTerm.txt
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetesUserCredential.ps1
  src/ConnectedKubernetes/exports/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/generate-info.json
  src/ConnectedKubernetes/generated/runtime/BuildTime/Models/PsHelpMarkdownOutputs.cs
  src/ConnectedKubernetes/generated/runtime/BuildTime/Models/PsProxyTypes.cs
  src/ConnectedKubernetes/help/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/internal/Get-AzConnectedKubernetesOperation.ps1
  src/ConnectedKubernetes/internal/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/internal/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/Update-AzConnectedKubernetes.ps1
Due: none

support excludePrefix, includeDeleted, and new schema fields in blob inventory
  src/Storage/Storage.Management.Test/ScenarioTests/StorageAccountTests.ps1
  src/Storage/Storage.Management.Test/SessionRecords/Microsoft.Azure.Commands.Management.Storage.Test.ScenarioTests.StorageAccountTests/TestStorageBlobInventory.json
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Models/PSBlobInventoryPolicy.cs
  src/Storage/Storage.Management/Storage.Management.format.ps1xml
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageBlobInventoryPolicyRule.cs
  src/Storage/Storage.Management/help/New-AzStorageBlobInventoryPolicyRule.md
Due: none

update
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/release-test.yml
  .azure-pipelines/util/smoke-test-steps.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml

update
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml

Fix spacing issues in Set-AzDataProtectionMSIPermission.ps1
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/DataProtection/Az.DataProtection.psd1
  src/DataProtection/Changelog.md
  src/DataProtection/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DataProtection.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update changelog
  src/ConnectedKubernetes/ChangeLog.md
Due: none

update
  .azure-pipelines/util/smoke-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Fixed example in Add-AzKeyVaultNetworkRule with a valid value
  src/KeyVault/KeyVault/help/Add-AzKeyVaultNetworkRule.md
Due: none

Unit test fix
  src/RecoveryServices/RecoveryServices.SiteRecovery.Test/ScenarioTests/V2ARCM/AsrV2ARcmTests.ps1
Due: none

Migrate ConnectedKubernetes from generation to main (#20067)
  src/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/create-model-cmdlets.ps1
  src/ConnectedKubernetes/custom/LegalTerm.txt
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/Get-AzConnectedKubernetesUserCredential.ps1
  src/ConnectedKubernetes/exports/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/exports/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/generate-info.json
  src/ConnectedKubernetes/generated/runtime/BuildTime/Models/PsHelpMarkdownOutputs.cs
  src/ConnectedKubernetes/generated/runtime/BuildTime/Models/PsProxyTypes.cs
  src/ConnectedKubernetes/help/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/help/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/internal/Get-AzConnectedKubernetesOperation.ps1
  src/ConnectedKubernetes/internal/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/ProxyCmdletDefinitions.ps1
  src/ConnectedKubernetes/internal/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/internal/Update-AzConnectedKubernetes.ps1
Due: none

Update release-test.yml
  .azure-pipelines/release-test.yml
Due: .azure-pipelines/sync-tools-folder.yml

update
  .azure-pipelines/release-test.yml
  .azure-pipelines/util/smoke-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Indicate this cmdlet is for classic alerts
  src/Monitor/Monitor/help/Add-AzWebtestAlertRule.md
Due: none

Indicate the cmdlet is for classic alerts
  src/Monitor/Monitor/help/Add-AzMetricAlertRule.md
Due: none

revise code
  src/DataProtection/Az.DataProtection.psd1
  src/DataProtection/Changelog.md
Due: none

Update readme to 20220801preview and update code comments
  src/SignalR/SignalR.Autorest/Az.SignalR.psd1
  src/SignalR/SignalR.Autorest/README.md
  src/SignalR/SignalR.Autorest/custom/README.md
  src/SignalR/SignalR.Autorest/custom/scripts/Get-AzWebPubSubKey_ListViaIdentity.ps1
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSub.ps1
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubKey.ps1
  src/SignalR/SignalR.Autorest/docs/Az.SignalR.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubSku.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubUsage.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubKey.md
  src/SignalR/SignalR.Autorest/docs/README.md
  src/SignalR/SignalR.Autorest/docs/Remove-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/docs/Remove-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/docs/Restart-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/docs/Test-AzWebPubSubNameAvailability.md
  src/SignalR/SignalR.Autorest/docs/Update-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSub.md
  src/SignalR/SignalR.Autorest/how-to.md
Due: none

custom domain and event listener cmdlet tests
  src/SignalR/SignalR.Autorest/README.md
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubCustomDomain.ps1
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventHubEndpointObject.ps1
  src/SignalR/SignalR.Autorest/custom/scripts/New-AzWebPubSubEventNameFilterObject.ps1
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSub.Recording.json
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubCustomCertificate.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubCustomDomain.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubHub.Recording.json
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubKey.Recording.json
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubSku.Recording.json
  src/SignalR/SignalR.Autorest/test/Get-AzWebPubSubUsage.Recording.json
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSub.Recording.json
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubCustomCertificate.Tests.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubCustomDomain.Recording.json
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubCustomDomain.Tests.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubEventHubEndpointObject.Tests.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubEventNameFilterObject.Tests.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubHub.Recording.json
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubHub.Tests.ps1
  src/SignalR/SignalR.Autorest/test/New-AzWebPubSubKey.Recording.json
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSub.Recording.json
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSub.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSubCustomCertificate.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSubCustomDomain.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSubHub.Recording.json
  src/SignalR/SignalR.Autorest/test/Remove-AzWebPubSubHub.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Restart-AzWebPubSub.Recording.json
  src/SignalR/SignalR.Autorest/test/Test-AzWebPubSubNameAvailability.Recording.json
  src/SignalR/SignalR.Autorest/test/Test-AzWebPubSubNameAvailability.Tests.ps1
  src/SignalR/SignalR.Autorest/test/Update-AzWebPubSub.Recording.json
  src/SignalR/SignalR.Autorest/test/env.json
  src/SignalR/SignalR.Autorest/test/utils.ps1
Due: none

add custom error handling
  src/SignalR/SignalR.Autorest/README.md
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzOperation_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomCertificate_Get.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomCertificate_GetViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomCertificate_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomDomain_Get.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomDomain_GetViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubCustomDomain_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubHub_Get.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubHub_GetViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubHub_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubKey_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubSku_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSubUsage_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSub_Get.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSub_GetViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSub_List.cs
  src/SignalR/SignalR.Autorest/custom/csharp/GetAzWebPubSub_List1.cs
  src/SignalR/SignalR.Autorest/custom/csharp/NewAzWebPubSubCustomCertificate_CreateExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/NewAzWebPubSubCustomDomain_CreateExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/NewAzWebPubSubHub_CreateExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/NewAzWebPubSubKey_RegenerateViaIdentityExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/NewAzWebPubSub_CreateExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubCustomCertificate_Delete.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubCustomCertificate_DeleteViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubCustomDomain_Delete.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubCustomDomain_DeleteViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubHub_Delete.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSubHub_DeleteViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSub_Delete.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RemoveAzWebPubSub_DeleteViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RestartAzWebPubSub_Restart.cs
  src/SignalR/SignalR.Autorest/custom/csharp/RestartAzWebPubSub_RestartViaIdentity.cs
  src/SignalR/SignalR.Autorest/custom/csharp/TestAzWebPubSubNameAvailability_CheckExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/UpdateAzWebPubSub_UpdateExpanded.cs
  src/SignalR/SignalR.Autorest/custom/csharp/UpdateAzWebPubSub_UpdateViaIdentityExpanded.cs
  src/SignalR/SignalR.Autorest/resources/GenerateCustomErrorHandling.ps1
Due: none

add examples for new features
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/docs/Get-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubEventHubEndpointObject.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubEventNameFilterObject.md
  src/SignalR/SignalR.Autorest/docs/New-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/docs/Remove-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/docs/Remove-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR.Autorest/examples/Get-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/examples/Get-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubCustomDomain.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubEventHubEndpointObject.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubEventNameFilterObject.md
  src/SignalR/SignalR.Autorest/examples/New-AzWebPubSubHub.md
  src/SignalR/SignalR.Autorest/examples/Remove-AzWebPubSubCustomCertificate.md
  src/SignalR/SignalR.Autorest/examples/Remove-AzWebPubSubCustomDomain.md
Due: none

Fixed example in Add-AzKeyVaultNetworkRule with a valid value (#20070)
  src/KeyVault/KeyVault/help/Add-AzKeyVaultNetworkRule.md
Due: none

Update security-tools.yml for Azure Pipelines
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml

Fix spacing issues in Set-AzDataProtectionMSIPermission.ps1 (#20069)
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/DataProtection/Az.DataProtection.psd1
  src/DataProtection/Changelog.md
  src/DataProtection/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Tools.Common/SerializedCmdlets/Az.DataProtection.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[ApplicationInsights] add examples.
  src/ApplicationInsights/README.md
  src/ApplicationInsights/examples/Get-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/examples/Get-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/examples/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/examples/Get-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/examples/New-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/examples/New-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/examples/New-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/examples/New-AzApplicationInsightsWorkbookTemplateGalleryObject.md
  src/ApplicationInsights/examples/Remove-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/examples/Remove-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/examples/Remove-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/examples/Update-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/examples/Update-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/examples/Update-AzApplicationInsightsWorkbookTemplate.md
Due: none

[ApplicationInsights] add test cases.
  src/ApplicationInsights/Az.ApplicationInsights.psd1
  src/ApplicationInsights/docs/Get-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/docs/Get-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/docs/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/docs/Get-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/docs/New-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/docs/New-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/docs/New-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/docs/New-AzApplicationInsightsWorkbookTemplateGalleryObject.md
  src/ApplicationInsights/docs/Remove-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/docs/Remove-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/docs/Remove-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/docs/Update-AzApplicationInsightsMyWorkbook.md
  src/ApplicationInsights/docs/Update-AzApplicationInsightsWorkbook.md
  src/ApplicationInsights/docs/Update-AzApplicationInsightsWorkbookTemplate.md
  src/ApplicationInsights/test/Get-AzApplicationInsightsMyWorkbook.Recording.json
  src/ApplicationInsights/test/Get-AzApplicationInsightsMyWorkbook.Tests.ps1
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbook.Recording.json
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbook.Tests.ps1
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbookRevision.Recording.json
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbookRevision.Tests.ps1
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbookTemplate.Recording.json
  src/ApplicationInsights/test/Get-AzApplicationInsightsWorkbookTemplate.Tests.ps1
  src/ApplicationInsights/test/New-AzApplicationInsightsMyWorkbook.Tests.ps1
  src/ApplicationInsights/test/New-AzApplicationInsightsWorkbook.Tests.ps1
  src/ApplicationInsights/test/New-AzApplicationInsightsWorkbookTemplate.Tests.ps1
  src/ApplicationInsights/test/New-AzApplicationInsightsWorkbookTemplateGalleryObject.Tests.ps1
  src/ApplicationInsights/test/Remove-AzApplicationInsightsMyWorkbook.Tests.ps1
  src/ApplicationInsights/test/Remove-AzApplicationInsightsWorkbook.Tests.ps1
  src/ApplicationInsights/test/Remove-AzApplicationInsightsWorkbookTemplate.Tests.ps1
  src/ApplicationInsights/test/Update-AzApplicationInsightsMyWorkbook.Tests.ps1
  src/ApplicationInsights/test/Update-AzApplicationInsightsWorkbook.Tests.ps1
  src/ApplicationInsights/test/Update-AzApplicationInsightsWorkbookTemplate.Tests.ps1
  src/ApplicationInsights/test/env.json
Due: none

Add an example to show the usage of the -AcceptEULA parameter
  src/ConnectedKubernetes/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/examples/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetesUserCredential.Tests.ps1
  src/ConnectedKubernetes/test/New-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Remove-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Update-AzConnectedKubernetes.Tests.ps1
Due: none

Add an example to show the usage of the -AcceptEULA parameter
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Get-AzConnectedKubernetesUserCredential.Tests.ps1
  src/ConnectedKubernetes/test/New-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Remove-AzConnectedKubernetes.Tests.ps1
  src/ConnectedKubernetes/test/Update-AzConnectedKubernetes.Tests.ps1
Due: none

Update online version
  src/ConnectedKubernetes/custom/New-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/Remove-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/custom/Update-AzConnectedKubernetes.ps1
  src/ConnectedKubernetes/docs/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Remove-AzConnectedKubernetes.md
  src/ConnectedKubernetes/docs/Update-AzConnectedKubernetes.md
Due: none

Indicate the cmdlet is for classic alerts (#20073)
  src/Monitor/Monitor/help/Add-AzMetricAlertRule.md
Due: none

Indicate this cmdlet is for classic alerts (#20072)
  src/Monitor/Monitor/help/Add-AzWebtestAlertRule.md
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
