Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update Instance Pool API version to Preview 2023-05-01
  src/Sql/Sql.Management.Sdk/Generated/IInstancePoolsOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/InstancePoolsOperations.cs
  src/Sql/Sql.Management.Sdk/Generated/InstancePoolsOperationsExtensions.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/InstancePool.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/InstancePoolProperties.cs
  src/Sql/Sql.Management.Sdk/Generated/Models/InstancePoolUpdate.cs
  src/Sql/Sql.Management.Sdk/README.md
  src/Sql/Sql/ChangeLog.md
  src/Sql/Sql/Instance Pools/Cmdlet/NewAzureSqlInstancePool.cs
  src/Sql/Sql/Instance Pools/Cmdlet/SetAzureSqlInstancePool.cs
  src/Sql/Sql/Instance Pools/Model/AzureSqlInstancePoolModel.cs
  src/Sql/Sql/Instance Pools/Services/AzureSqlInstancePoolAdapter.cs
  src/Sql/Sql/help/Get-AzSqlInstancePool.md
  src/Sql/Sql/help/New-AzSqlInstancePool.md
  src/Sql/Sql/help/Set-AzSqlInstancePool.md
Due: none

remove guest attestation
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

remove from vm
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

remove disableintegritymonitoring
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

tests added
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeNoVMProfile.json
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

Update VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

Update ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

missed a couple
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove param from md
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVmss.md
Due: none

Release Az.Nginx for API version 2023-04-01
  src/Nginx/Az.Nginx.psd1
  src/Nginx/README.md
  src/Nginx/UX/Nginx.NginxPlus/nginxDeployments-certificates.json
  src/Nginx/UX/Nginx.NginxPlus/nginxDeployments-configurations.json
  src/Nginx/UX/Nginx.NginxPlus/nginxDeployments.json
  src/Nginx/docs/Az.Nginx.md
  src/Nginx/docs/Get-AzNginxCertificate.md
  src/Nginx/docs/Get-AzNginxConfiguration.md
  src/Nginx/docs/Get-AzNginxDeployment.md
  src/Nginx/docs/New-AzNginxCertificate.md
  src/Nginx/docs/New-AzNginxConfiguration.md
  src/Nginx/docs/New-AzNginxConfigurationFileObject.md
  src/Nginx/docs/New-AzNginxDeployment.md
  src/Nginx/docs/New-AzNginxNetworkProfileObject.md
  src/Nginx/docs/New-AzNginxPrivateIPAddressObject.md
  src/Nginx/docs/New-AzNginxPublicIPAddressObject.md
  src/Nginx/docs/Remove-AzNginxCertificate.md
  src/Nginx/docs/Remove-AzNginxConfiguration.md
  src/Nginx/docs/Remove-AzNginxDeployment.md
  src/Nginx/docs/Update-AzNginxDeployment.md
  src/Nginx/test/Get-AzNginxCertificate.Recording.json
  src/Nginx/test/Get-AzNginxConfiguration.Recording.json
  src/Nginx/test/Get-AzNginxDeployment.Recording.json
  src/Nginx/test/New-AzNginxCertificate.Recording.json
  src/Nginx/test/New-AzNginxConfiguration.Recording.json
  src/Nginx/test/New-AzNginxDeployment.Recording.json
  src/Nginx/test/Remove-AzNginxCertificate.Recording.json
  src/Nginx/test/Remove-AzNginxConfiguration.Recording.json
  src/Nginx/test/Remove-AzNginxDeployment.Recording.json
  src/Nginx/test/Update-AzNginxDeployment.Recording.json
Due: none

handle breaking change error and weird param set errors
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test added
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeAndFlexDefaults.json
Due: none

add size property to firewall policy and rule collection group
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.cs
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyPremiumWithTerminateTLSEnabled.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyRuleCollectionGroupSizeProperty.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicySizeProperty.json
  src/Network/Network/AzureFirewallPolicy/RuleGroup/AzureFirewallPolicyRuleGroupBaseCmdlet.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicyRuleCollectionGroup.cs
Due: none

removed old test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineGuestAttestation.json
Due: none

Update
  src/Nginx/docs/Get-AzNginxCertificate.md
  src/Nginx/docs/Get-AzNginxConfiguration.md
  src/Nginx/docs/Get-AzNginxDeployment.md
  src/Nginx/docs/Remove-AzNginxConfiguration.md
Due: none

fix
  src/DataFactory/DataFactoryV2/IntegrationRuntimes/SetAzureDataFactoryIntegrationRuntimeCommand.cs
  src/DataFactory/DataFactoryV2/help/Set-AzDataFactoryV2IntegrationRuntime.md
Due: none

tests added (#23339)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeNoVMProfile.json
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
Due: none

Try to Generate Migration Guide
  documentation/migration-guides/Az.11.0.0-migration-guide.md
  tools/BreakingChanges/GenerateMigrationGuide.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update documentation/migration-guides/Az.11.0.0-migration-guide.md
  documentation/migration-guides/Az.11.0.0-migration-guide.md
Due: none

Remove GuestAttestation logic (#23338)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeAndFlexDefaults.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachineGuestAttestation.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVmss.md
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove announced breaking change warning and pin major version for storage and compute
  tools/StaticAnalysis/Exceptions/Az.Aks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.CloudService/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.KeyVault/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.PowerBIEmbedded/BreakingChangeIssues.csv
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

General Availability of Az.Tools.Installer
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/ChangeLog.md
  tools/Az.Tools.Installer/help/Az.Tools.Installer.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

General Availability of Az.Tools.Installer (#23323)
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/ChangeLog.md
  tools/Az.Tools.Installer/help/Az.Tools.Installer.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .github/ISSUE_TEMPLATE/4-AZ-DOC-BUG.yml
  .github/policies/resourceManagement.yml
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/ChangeLog.md
  tools/Az.Tools.Installer/help/Az.Tools.Installer.md
  tools/TestFx/Coverage/ValidateTestCoverage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

remove empty changelog storagemover
  ChangeLog.md
Due: none

Update ChangeLog.md
  ChangeLog.md
Due: none

Update Az.Compute.psd1
  src/Compute/Compute/Az.Compute.psd1
Due: none

fix bug
  .azure-pipelines/code-oob.yml
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update ChangeLog.md
  src/StackHCI/StackHCI/ChangeLog.md
Due: none

fix RunVersionController
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#23330)
  .github/ISSUE_TEMPLATE/4-AZ-DOC-BUG.yml
  .github/policies/resourceManagement.yml
  tools/Az.Tools.Installer/Az.Tools.Installer.psd1
  tools/Az.Tools.Installer/ChangeLog.md
  tools/Az.Tools.Installer/help/Az.Tools.Installer.md
  tools/TestFx/Coverage/ValidateTestCoverage.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
