Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Updated change log
  src/DataProtection/ChangeLog.md
Due: none

update changelog
  src/Monitor/Monitor/ChangeLog.md
Due: none

generate UX folder
  src/Monitor/Monitor/UX/Microsoft.Insights/activityLogAlerts.json
  src/Monitor/Monitor/UX/Microsoft.Insights/autoscalesettings.json
  src/Monitor/Monitor/UX/Microsoft.Insights/diagnosticSettings.json
  src/Monitor/Monitor/UX/Microsoft.Insights/diagnosticSettingsCategories.json
  src/Monitor/Monitor/UX/Microsoft.Insights/scheduledQueryRules.json
  src/Monitor/Monitor/UX/Microsoft.Monitor/accounts.json
Due: none

[GH Action] auto lable and remove label for PRs
  .github/workflows/auto_label.ps1
  .github/workflows/auto_label_workflow.yml
  .github/workflows/auto_remove_label.yml
Due: azure-pipelines.yml

Update servers.json in README.md
  src/Sql/Sql.Sdk/README.md
Due: none

Preload assemblies on PS5
  src/Compute/Compute/ChangeLog.md
  tools/AzureRM.Example.psm1
  tools/UpdateModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update common lib
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed Get-AzResourceGroup on -Id requires Set-AzContext to given subs… (#21765)
  src/Resources/ResourceManager/Implementation/ResourceGroups/GetAzureResourceGroupCmdlet.cs
  src/Resources/ResourceManager/SdkClient/ResourceManagerSdkClient.cs
  src/Resources/Resources.Test/ResourceGroups/GetAzureResourceGroupCommandTests.cs
  src/Resources/Resources/ChangeLog.md
Due: none

Copy BreakingChangeIssues.csv of StackHCI to main
  tools/StaticAnalysis/Exceptions/Az.StackHCI/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md for StackHCI
  src/StackHCI/ChangeLog.md
Due: none

Copy SignatureIssues.csv of Databox to main
  tools/StaticAnalysis/Exceptions/Az.DataBox/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Copy BreakingChangeIssues.csv of DataProtection to main
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated change log (#21803)
  src/DataProtection/ChangeLog.md
Due: none

Migrate StackHCI from generation to main (#21797)
  src/StackHCI/Az.StackHCI.psd1
  src/StackHCI/ChangeLog.md
  src/StackHCI/README.md
  src/StackHCI/StackHCI.sln
  src/StackHCI/custom/stackhci.ps1
  src/StackHCI/examples/Test-AzStackHCIConnection.md
  src/StackHCI/exports/New-AzStackHciExtension.ps1
  src/StackHCI/exports/ProxyCmdletDefinitions.ps1
  src/StackHCI/exports/Register-AzStackHCI.ps1
  src/StackHCI/exports/Set-AzStackHCI.ps1
  src/StackHCI/exports/Test-AzStackHCIConnection.ps1
  src/StackHCI/exports/Unregister-AzStackHCI.ps1
  src/StackHCI/generate-info.json
  src/StackHCI/generated/api/Models/Api20220501/Extension.PowerShell.cs
  src/StackHCI/generated/api/Models/Api20220501/Extension.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParameters.PowerShell.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParameters.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersProtectedSettings.PowerShell.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersProtectedSettings.TypeConverter.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersProtectedSettings.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersProtectedSettings.dictionary.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersProtectedSettings.json.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersSettings.PowerShell.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersSettings.TypeConverter.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersSettings.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersSettings.dictionary.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionParametersSettings.json.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionProperties.PowerShell.cs
  src/StackHCI/generated/api/Models/Api20220501/ExtensionProperties.cs
  src/StackHCI/generated/cmdlets/NewAzStackHciExtension_CreateExpanded.cs
  src/StackHCI/help/Az.StackHCI.md
  src/StackHCI/help/New-AzStackHciExtension.md
  src/StackHCI/help/Register-AzStackHCI.md
  src/StackHCI/help/Set-AzStackHCI.md
  src/StackHCI/help/Test-AzStackHCIConnection.md
  src/StackHCI/help/Unregister-AzStackHCI.md
  tools/StaticAnalysis/Exceptions/Az.StackHCI/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

Update changelog
  src/Resources/Resources/ChangeLog.md
Due: none

Update Change Log
  src/Migrate/ChangeLog.md
Due: none

Add Tests
  src/Network/Network.Test/ScenarioTests/CortexTests.ps1
  src/Network/Network/Cortex/RouteMap/GetAzureRmVHubInboundRoutesCommand.cs
  src/Network/Network/Cortex/RouteMap/GetAzureRmVHubOutboundRoutesCommand.cs
  src/Network/Network/Cortex/VirtualHub/GetAzureRmVHubEffectiveRoutesCommand.cs
  src/Network/Network/Cortex/VirtualHub/VirtualHubBaseCmdlet.cs
Due: none

Fix helper files
  src/Network/Network/help/Get-AzVHubInboundRoutes.md
  src/Network/Network/help/Get-AzVHubOutboundRoutes.md
Due: none

Copy SignatureIssues.csv and BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Adding SSH permissions
  src/Compute/Compute/Usage/NewAzureSshKey.cs
Due: none

Removing extra code
  src/Compute/Compute/Usage/NewAzureSshKey.cs
Due: none

More fix
  src/Network/Network/help/Get-AzVHubEffectiveRoutes.md
  src/Network/Network/help/Get-AzVHubInboundRoutes.md
  src/Network/Network/help/Get-AzVHubOutboundRoutes.md
Due: none

Update Change Log
  src/DataBox/ChangeLog.md
Due: none

Move DataProtection to main
  src/DataProtection/DataProtection.sln
  src/DataProtection/examples/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/examples/New-AzDataProtectionBackupInstance.md
  src/DataProtection/examples/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/examples/Start-AzDataProtectionBackupInstanceRestore.md
  src/DataProtection/exports/New-AzDataProtectionBackupConfigurationClientObject.ps1
  src/DataProtection/exports/New-AzDataProtectionBackupInstance.ps1
  src/DataProtection/exports/New-AzDataProtectionBackupPolicy.ps1
  src/DataProtection/exports/ProxyCmdletDefinitions.ps1
  src/DataProtection/exports/Start-AzDataProtectionBackupInstanceRestore.ps1
  src/DataProtection/generate-info.json
  src/DataProtection/help/New-AzDataProtectionBackupConfigurationClientObject.md
  src/DataProtection/help/New-AzDataProtectionBackupInstance.md
  src/DataProtection/help/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/help/Start-AzDataProtectionBackupInstanceRestore.md
  src/DataProtection/internal/New-AzDataProtectionBackupInstance.ps1
  src/DataProtection/internal/New-AzDataProtectionBackupPolicy.ps1
  src/DataProtection/internal/ProxyCmdletDefinitions.ps1
Due: none

Preload assemblies on PS5 (#21780)
  src/Compute/Compute/ChangeLog.md
  tools/AzureRM.Example.psm1
  tools/UpdateModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml
