Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Trigger all the test cases in generation branch
  .ci-config.json
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update code-sign.yml for Azure Pipelines
  .azure-pipelines/code-sign.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Resolve enablePergeProtection and SKU issue
  src/KeyVault/KeyVault.Helpers/Resources/Models/Deployment.cs
  src/KeyVault/KeyVault/Models/VaultManagementClient.cs
  src/KeyVault/KeyVault/Resources/keyvaultTemplate.json
Due: none

migrate queue sas token
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Common/AzureStorageQueue.cs
  src/Storage/Storage/Common/SasTokenHelper.cs
  src/Storage/Storage/Common/Util.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueueSasToken.cs
Due: none

Fix the wrong link in help file meatadata
  src/App/custom/New-AzContainerAppCustomDomainObject.ps1
  src/App/custom/New-AzContainerAppDaprMetadataObject.ps1
  src/App/custom/New-AzContainerAppEnvironmentVarObject.ps1
  src/App/custom/New-AzContainerAppIdentityProviderObject.ps1
  src/App/custom/New-AzContainerAppProbeHeaderObject.ps1
  src/App/custom/New-AzContainerAppProbeObject.ps1
  src/App/custom/New-AzContainerAppRegistryCredentialObject.ps1
  src/App/custom/New-AzContainerAppScaleRuleAuthObject.ps1
  src/App/custom/New-AzContainerAppScaleRuleObject.ps1
  src/App/custom/New-AzContainerAppSecretObject.ps1
  src/App/custom/New-AzContainerAppTemplateObject.ps1
  src/App/custom/New-AzContainerAppTrafficWeightObject.ps1
  src/App/custom/New-AzContainerAppVolumeMountObject.ps1
  src/App/custom/New-AzContainerAppVolumeObject.ps1
  src/App/docs/New-AzContainerAppCustomDomainObject.md
  src/App/docs/New-AzContainerAppDaprMetadataObject.md
  src/App/docs/New-AzContainerAppEnvironmentVarObject.md
  src/App/docs/New-AzContainerAppIdentityProviderObject.md
  src/App/docs/New-AzContainerAppProbeHeaderObject.md
  src/App/docs/New-AzContainerAppProbeObject.md
  src/App/docs/New-AzContainerAppRegistryCredentialObject.md
  src/App/docs/New-AzContainerAppScaleRuleAuthObject.md
  src/App/docs/New-AzContainerAppScaleRuleObject.md
  src/App/docs/New-AzContainerAppSecretObject.md
  src/App/docs/New-AzContainerAppTemplateObject.md
  src/App/docs/New-AzContainerAppTrafficWeightObject.md
  src/App/docs/New-AzContainerAppVolumeMountObject.md
  src/App/docs/New-AzContainerAppVolumeObject.md
  src/DynatraceObservability/custom/New-AzDynatraceMonitorFilteringTagObject.ps1
  src/DynatraceObservability/docs/New-AzDynatraceMonitorFilteringTagObject.md
  src/ElasticSan/custom/Add-AzElasticSanVolumeGroupNetworkRule.ps1
  src/ElasticSan/custom/Remove-AzElasticSanVolumeGroupNetworkRule.ps1
  src/ElasticSan/docs/Add-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/docs/Remove-AzElasticSanVolumeGroupNetworkRule.md
  src/NetworkFunction/custom/Update-AzNetworkFunctionCollectorPolicy.ps1
  src/NetworkFunction/custom/Update-AzNetworkFunctionTrafficCollector.ps1
  src/NetworkFunction/docs/Update-AzNetworkFunctionCollectorPolicy.md
  src/NetworkFunction/docs/Update-AzNetworkFunctionTrafficCollector.md
Due: none

Fix the wrong link in help file meatadata
  src/RedisEnterpriseCache/docs/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/examples/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
Due: none

add oob pipeline
  .azure-pipelines/code-oob.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Typo "CosmosDB Account"→"Cosmos DB Account" (#21962)
  src/CosmosDB/CosmosDB/help/Update-AzCosmosDBAccount.md
Due: none

Trigger all the test cases in generation branch
  .ci-config.json
Due: none

Fix the wrong link in help file meatadata (#21967)
  src/App/custom/New-AzContainerAppCustomDomainObject.ps1
  src/App/custom/New-AzContainerAppDaprMetadataObject.ps1
  src/App/custom/New-AzContainerAppEnvironmentVarObject.ps1
  src/App/custom/New-AzContainerAppIdentityProviderObject.ps1
  src/App/custom/New-AzContainerAppProbeHeaderObject.ps1
  src/App/custom/New-AzContainerAppProbeObject.ps1
  src/App/custom/New-AzContainerAppRegistryCredentialObject.ps1
  src/App/custom/New-AzContainerAppScaleRuleAuthObject.ps1
  src/App/custom/New-AzContainerAppScaleRuleObject.ps1
  src/App/custom/New-AzContainerAppSecretObject.ps1
  src/App/custom/New-AzContainerAppTemplateObject.ps1
  src/App/custom/New-AzContainerAppTrafficWeightObject.ps1
  src/App/custom/New-AzContainerAppVolumeMountObject.ps1
  src/App/custom/New-AzContainerAppVolumeObject.ps1
  src/App/docs/New-AzContainerAppCustomDomainObject.md
  src/App/docs/New-AzContainerAppDaprMetadataObject.md
  src/App/docs/New-AzContainerAppEnvironmentVarObject.md
  src/App/docs/New-AzContainerAppIdentityProviderObject.md
  src/App/docs/New-AzContainerAppProbeHeaderObject.md
  src/App/docs/New-AzContainerAppProbeObject.md
  src/App/docs/New-AzContainerAppRegistryCredentialObject.md
  src/App/docs/New-AzContainerAppScaleRuleAuthObject.md
  src/App/docs/New-AzContainerAppScaleRuleObject.md
  src/App/docs/New-AzContainerAppSecretObject.md
  src/App/docs/New-AzContainerAppTemplateObject.md
  src/App/docs/New-AzContainerAppTrafficWeightObject.md
  src/App/docs/New-AzContainerAppVolumeMountObject.md
  src/App/docs/New-AzContainerAppVolumeObject.md
  src/DynatraceObservability/custom/New-AzDynatraceMonitorFilteringTagObject.ps1
  src/DynatraceObservability/docs/New-AzDynatraceMonitorFilteringTagObject.md
  src/ElasticSan/custom/Add-AzElasticSanVolumeGroupNetworkRule.ps1
  src/ElasticSan/custom/Remove-AzElasticSanVolumeGroupNetworkRule.ps1
  src/ElasticSan/docs/Add-AzElasticSanVolumeGroupNetworkRule.md
  src/ElasticSan/docs/Remove-AzElasticSanVolumeGroupNetworkRule.md
  src/NetworkFunction/custom/Update-AzNetworkFunctionCollectorPolicy.ps1
  src/NetworkFunction/custom/Update-AzNetworkFunctionTrafficCollector.ps1
  src/NetworkFunction/docs/Update-AzNetworkFunctionCollectorPolicy.md
  src/NetworkFunction/docs/Update-AzNetworkFunctionTrafficCollector.md
  src/RedisEnterpriseCache/docs/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/examples/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
Due: none

Fix per comments
  src/Storage/Storage/Common/SasTokenHelper.cs
  src/Storage/Storage/Common/Util.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueueSasToken.cs
  src/Storage/Storage/Queue/StorageQueueBaseCmdlet.cs
Due: none

Move RedisEnterpriseCache to main
  src/RedisEnterpriseCache/Az.RedisEnterpriseCache.psd1
  src/RedisEnterpriseCache/RedisEnterpriseCache.sln
  src/RedisEnterpriseCache/examples/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/generate-info.json
  src/RedisEnterpriseCache/help/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
Due: none

Set up CI with Azure Pipelines
  .azure-pipelines/code-oob.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Resolve unthrown error issue
  src/KeyVault/KeyVault/Models/VaultManagementClient.cs
Due: none

Addressed review comments
  src/Sql/Sql.Sdk/Generated/ISqlManagementClient.cs
  src/Sql/Sql.Sdk/Generated/SdkInfo_SqlManagementClient.cs
  src/Sql/Sql.Sdk/Generated/SqlManagementClient.cs
  src/Sql/Sql/ChangeLog.md
Due: none

Move RedisEnterpriseCache to main (#21972)
  src/RedisEnterpriseCache/Az.RedisEnterpriseCache.psd1
  src/RedisEnterpriseCache/RedisEnterpriseCache.sln
  src/RedisEnterpriseCache/examples/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
  src/RedisEnterpriseCache/generate-info.json
  src/RedisEnterpriseCache/help/Invoke-AzRedisEnterpriseCacheDatabaseFlush.md
Due: none

fix client options
  src/Storage/Storage/Common/AzureStorageQueue.cs
  src/Storage/Storage/Queue/Cmdlet/NewAzureStorageQueueSasToken.cs
  src/Storage/Storage/Queue/StorageQueueBaseCmdlet.cs
Due: none

Sync tools folder from main branch to generation branch (#21958)
  .azure-pipelines/test-coverage.yml
  .azure-pipelines/util/live-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

comment unpassed case
  src/KeyVault/KeyVault.Test/ScenarioTests/KeyVaultManagementTests.ps1
Due: none

Update code-oob.yml for Azure Pipelines
  .azure-pipelines/code-oob.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

clean
  src/Compute/Compute/help/Get-AzVmss.md
Due: none

Typo "CosmosDB Account"→"Cosmos DB Account"
  src/CosmosDB/CosmosDB/help/Remove-AzCosmosDBAccount.md
Due: none
