Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update ChangeLog.md
  src/StorageSync/StorageSync/ChangeLog.md
Due: none

[Az.ContainerInstance] Fix Typo: Parameters starting with PreviouState will be corrected as PreviousState (#22981)
  src/ContainerInstance/README.md
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move ContainerInstance to main
  src/ContainerInstance/Az.ContainerInstance.psd1
  src/ContainerInstance/ContainerInstance.sln
  src/ContainerInstance/README.md
  src/ContainerInstance/generate-info.json
  src/ContainerInstance/generated/api/Models/Api20221001Preview/Container.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/Container.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerProperties.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerProperties.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.json.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerDefinition.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerDefinition.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinition.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinition.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.json.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_Get.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_GetViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_List.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_List1.cs
  src/ContainerInstance/generated/cmdlets/NewAzContainerGroup_CreateExpanded.cs
  src/ContainerInstance/generated/cmdlets/RemoveAzContainerGroup_Delete.cs
  src/ContainerInstance/generated/cmdlets/RemoveAzContainerGroup_DeleteViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/RestartAzContainerGroup_Restart.cs
  src/ContainerInstance/generated/cmdlets/RestartAzContainerGroup_RestartViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/StartAzContainerGroup_Start.cs
  src/ContainerInstance/generated/cmdlets/StartAzContainerGroup_StartViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/StopAzContainerGroup_Stop.cs
  src/ContainerInstance/generated/cmdlets/StopAzContainerGroup_StopViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/UpdateAzContainerGroup_UpdateExpanded.cs
  src/ContainerInstance/generated/cmdlets/UpdateAzContainerGroup_UpdateViaIdentityExpanded.cs
  src/ContainerInstance/generated/runtime/Properties/Resources.resx
Due: none

fix issue for update-AzDatabricksWorkspace logic
  src/Databricks/README.md
Due: none

Remove CMEK and add pool health check
  src/DevCenter/DevCenter.AutoRest/Az.DevCenter.psd1
  src/DevCenter/DevCenter.AutoRest/README.md
  src/DevCenter/DevCenter.AutoRest/docs/Az.DevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/New-AzDevCenterAdminDevCenter.md
  src/DevCenter/DevCenter.AutoRest/docs/Start-AzDevCenterAdminPoolHealthCheck.md
  src/DevCenter/DevCenter.AutoRest/examples/Start-AzDevCenterAdminPoolHealthCheck.md
Due: none

vmss dev and test
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSecurityTypeDefaulting.json
  src/Compute/Compute/Common/ConstantStringTypes.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/Images.json
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Bug fix on Get-ServerReplication
  src/Migrate/custom/Get-AzMigrateHCIServerReplication.ps1
  src/Migrate/docs/Get-AzMigrateHCIServerReplication.md
Due: none

Add control knobs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/Cortex/PSExpressRouteGateway.cs
  src/Network/Network/Models/PSVirtualNetworkGateway.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/help/Set-AzExpressRouteGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
Due: none

all changes
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network/help/Set-AzExpressRouteGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkGateway.md
Due: none

Fixes
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
  src/Network/Network/Cortex/ExpressRouteGateway/SetAzureRmExpressRouteGatewayCommand.cs
  src/Network/Network/Models/Cortex/PSExpressRouteGateway.cs
  src/Network/Network/VirtualNetworkGateway/UpdateAzureVirtualNetworkGatewayCommand.cs
Due: none

fix expected value type
  src/Network/Network.Test/ScenarioTests/VirtualNetworkGatewayTests.ps1
Due: none

Update SDK version
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage/Storage.csproj
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/ContainerInstance/ChangeLog.md
Due: none

Migrate ContainerInstance from generation to main (#22984)
  src/ContainerInstance/Az.ContainerInstance.psd1
  src/ContainerInstance/ChangeLog.md
  src/ContainerInstance/ContainerInstance.sln
  src/ContainerInstance/README.md
  src/ContainerInstance/generate-info.json
  src/ContainerInstance/generated/api/Models/Api20221001Preview/Container.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/Container.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerProperties.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerProperties.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/ContainerPropertiesInstanceView.json.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerDefinition.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerDefinition.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinition.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinition.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.PowerShell.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.cs
  src/ContainerInstance/generated/api/Models/Api20221001Preview/InitContainerPropertiesDefinitionInstanceView.json.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_Get.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_GetViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_List.cs
  src/ContainerInstance/generated/cmdlets/GetAzContainerGroup_List1.cs
  src/ContainerInstance/generated/cmdlets/NewAzContainerGroup_CreateExpanded.cs
  src/ContainerInstance/generated/cmdlets/RemoveAzContainerGroup_Delete.cs
  src/ContainerInstance/generated/cmdlets/RemoveAzContainerGroup_DeleteViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/RestartAzContainerGroup_Restart.cs
  src/ContainerInstance/generated/cmdlets/RestartAzContainerGroup_RestartViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/StartAzContainerGroup_Start.cs
  src/ContainerInstance/generated/cmdlets/StartAzContainerGroup_StartViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/StopAzContainerGroup_Stop.cs
  src/ContainerInstance/generated/cmdlets/StopAzContainerGroup_StopViaIdentity.cs
  src/ContainerInstance/generated/cmdlets/UpdateAzContainerGroup_UpdateExpanded.cs
  src/ContainerInstance/generated/cmdlets/UpdateAzContainerGroup_UpdateViaIdentityExpanded.cs
  src/ContainerInstance/generated/runtime/Properties/Resources.resx
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[DataCollectionRule] Monitor remove AMCS SDK (#22961)
  src/Monitor/Monitor.Test/ScenarioTests/DataCollectionRulesTests.cs
  src/Monitor/Monitor.Test/ScenarioTests/DataCollectionRulesTests.ps1
  src/Monitor/Monitor/DataCollectionRules/GetAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/GetAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/NewAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/NewAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/RemoveAzureRmDataCollectionRuleAssociationCommand.cs
  src/Monitor/Monitor/DataCollectionRules/RemoveAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/SetAzureRmDataCollectionRuleCommand.cs
  src/Monitor/Monitor/DataCollectionRules/UpdateAzureRmDataCollectionRuleCommand.cs
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Suppress breaking change in static analysis because property names remain unchanged, with only changes in letter cases.
  tools/StaticAnalysis/Exceptions/Az.Sql/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/sign-tool-installer.yml
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch (#22987)
  .azure-pipelines/sign-tool-installer.yml
  tools/StaticAnalysis/Exceptions/Az.Monitor/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
Due: none

GA Az.DevCenter
  src/DevCenter/DevCenter/ChangeLog.md
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Storage] Update dataplane SDK version (#22991)
  src/Storage/Storage.Management.Test/Storage.Management.Test.csproj
  src/Storage/Storage/Storage.csproj
Due: none

Update with the latest test coverage data
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

revise the code
  src/Storage/Storage/Common/StorageExtensions.cs
  src/Storage/Storage/DatalakeGen2/Cmdlet/NewAzDataLakeGen2SasToken.cs
Due: none

temp change for test pipeline
  src/Security/Security.Management.Sdk/README.md
Due: none

Move Databricks to main
  src/Databricks/Az.Databricks.psd1
  src/Databricks/Databricks.sln
  src/Databricks/README.md
  src/Databricks/UX/Microsoft.Databricks/accessConnectors.json
  src/Databricks/UX/UX/Microsoft.Databricks/accessConnectors.json
  src/Databricks/UX/UX/Microsoft.Databricks/workspaces-virtualNetworkPeerings.json
  src/Databricks/UX/UX/Microsoft.Databricks/workspaces.json
  src/Databricks/exports/Get-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.ps1
  src/Databricks/exports/Get-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Get-AzDatabricksWorkspace.ps1
  src/Databricks/exports/New-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/New-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/New-AzDatabricksWorkspace.ps1
  src/Databricks/exports/New-AzDatabricksWorkspaceProviderAuthorizationObject.ps1
  src/Databricks/exports/ProxyCmdletDefinitions.ps1
  src/Databricks/exports/Remove-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Remove-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Remove-AzDatabricksWorkspace.ps1
  src/Databricks/exports/Update-AzDatabricksAccessConnector.ps1
  src/Databricks/exports/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/exports/Update-AzDatabricksWorkspace.ps1
  src/Databricks/generate-info.json
  src/Databricks/generated/api/Models/Api20230201/EncryptionEntitiesDefinition.json.cs
  src/Databricks/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  src/Databricks/generated/runtime/MessageAttribute.cs
  src/Databricks/generated/runtime/MessageAttributeHelper.cs
  src/Databricks/generated/runtime/Properties/Resources.Designer.cs
  src/Databricks/generated/runtime/Properties/Resources.resx
Due: none

update changelog
  src/Databricks/ChangeLog.md
Due: none

Extract common packages and properties into a one single file
  tools/Az.nonprod.props
  tools/Common.Netcore.Dependencies.Test.targets
  tools/TestFx/TestFx.csproj
  tools/Tools.Common/Tools.Common.Netcore.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Az.nonprod.props
  tools/Az.nonprod.props
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update TestFx.csproj
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

test modify gen code
  src/Security/Security.Management.Sdk/Generated/AdaptiveApplicationControlsOperations.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
