Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Remove useless files
  .azure-pipelines/SyncFromMainBranchConfig.json
  .azure-pipelines/sync-tools-folder.yml
  src/Az.autorest.hybrid.v2.props
  src/Az.autorest.props
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Rename Az.autorest.hybrid.props to Az.autorest.props
  .azure-pipelines/SyncFromMainBranchConfig.json
  .azure-pipelines/sync-tools-folder.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Rename Az.autorest.hybrid.props to Az.autorest.props
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Rename Az.autorest.hybrid.props to Az.autorest.props
  src/Az.autorest.props
Due: .azure-pipelines/sync-tools-folder.yml

Update location for workspace which does not support northcentralusstage
  src/App/App.Autorest/Livetests/TestLiveScenarios.ps1
Due: none

Update location for workspace which does not support northcentralusstage (#23508)
  src/App/App.Autorest/Livetests/TestLiveScenarios.ps1
Due: none

Hotfix: Fix for the encryptionAtHost feature not enabled erorr in New-AzVM (#23500)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.cs
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVMDefaultsToTrustedLaunchWithNullEncryptionAtHost.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineScaleSetStrategy.cs
  src/Compute/Compute/Strategies/ComputeRp/VirtualMachineStrategy.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

add indent
  src/DevCenter/DevCenterData.AutoRest/README.md
Due: none

updating sfmc to latest api preview version
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/ApplicationTypesOperations.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/ApplicationTypesOperationsExtensions.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/IApplicationTypesOperations.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/ApplicationTypeVersionResource.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/ManagedCluster.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/ManagedClusterCodeVersionResult.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/Generated/Models/NodeType.cs
  src/ServiceFabric/ServiceFabricManagedClusters.Management.Sdk/README.md
Due: none

Sync tools folder from main branch to generation branch
  tools/Resolve-SolutionFile.ps1
  tools/ScenarioTest.ResourceManager/Properties/AssemblyInfo.cs
  tools/ScenarioTest.ResourceManager/ScenarioTest.ResourceManager.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update with the latest test coverage data
  tools/TestFx/Coverage/Baseline.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add in missing changelog items from previous releases
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Delete src/Monitor/ActionGroup.Autorest/UX/Microsoft.Insights/actionGroups.json
  src/Monitor/ActionGroup.Autorest/UX/Microsoft.Insights/actionGroups.json
Due: none

Add back the ux folder
  src/Monitor/ActionGroup.Autorest/UX/Microsoft.Insights/actionGroups.json
Due: none

Sync tools folder from main branch to generation branch (#23511)
  tools/Resolve-SolutionFile.ps1
  tools/ScenarioTest.ResourceManager/Properties/AssemblyInfo.cs
  tools/ScenarioTest.ResourceManager/ScenarioTest.ResourceManager.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move UX folder
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  .azure-pipelines/sync-tools-folder.yml
  src/Az.autorest.hybrid.props
  src/Az.autorest.hybrid.v2.props
  src/Az.autorest.props
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Gen2Master/Templates/Az.ModuleName.csproj
  tools/Gen2Master/Templates/Az.ModuleName.hybrid.csproj
  tools/Gen2Master/Templates/ModuleName.sln
  tools/Gen2Master/Templates/ModulePage.md
  tools/PrepareAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Move UX folder
  tools/Gen2Master/Templates/ModuleName.sln
  tools/Gen2Master/Templates/ModulePage.md
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

updated CEP recordings
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestCloudEndpoint.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestGetCloudEndpoint.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestGetCloudEndpointParentObject.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestGetCloudEndpointParentResourceId.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestGetCloudEndpoints.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestNewCloudEndpoint.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestRemoveCloudEndpoint.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestRemoveCloudEndpointInputObject.json
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.CloudEndpointTests/TestRemoveCloudEndpointResourceId.json
Due: none

update CloudEndpointCrossTenantError format
  src/StorageSync/StorageSync/Properties/StorageSyncResources.Designer.cs
  src/StorageSync/StorageSync/Properties/StorageSyncResources.resx
Due: none

add updated SEP recording
  src/StorageSync/StorageSync.Test/SessionRecords/StorageSyncTests.ServerEndpointTests/TestServerEndpoint.json
Due: none

set tenant to test tenant when in Playback mode
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
Due: none

remove redundant ContainsKey check
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
Due: none

add comments to explain TenantId default in test
  src/StorageSync/StorageSync.Test/Common/MockStorageSyncResourceManager.cs
Due: none

Update the params of connectedvmware rp
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Get-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/New-AzConnectedVMwareVCenter.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/New-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Update-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Get-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Get-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/New-AzConnectedVMwareVCenter.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Update-AzConnectedVMwareVM.md
Due: none

add alias ActionName to Name
  src/DevCenter/DevCenterData.AutoRest/custom/Get-AzDevCenterUserDevBoxAction.ps1
  src/DevCenter/DevCenterData.AutoRest/custom/Invoke-AzDevCenterUserDelayDevBoxAction.ps1
  src/DevCenter/DevCenterData.AutoRest/custom/Skip-AzDevCenterUserDevBoxAction.ps1
  src/DevCenter/DevCenterData.AutoRest/custom/Skip-AzDevCenterUserEnvironmentAction.ps1
  src/DevCenter/DevCenterData.AutoRest/docs/Get-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Invoke-AzDevCenterUserDelayDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Skip-AzDevCenterUserDevBoxAction.md
  src/DevCenter/DevCenterData.AutoRest/docs/Skip-AzDevCenterUserEnvironmentAction.md
Due: none

Fix the params names (#23515)
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Get-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/New-AzConnectedVMwareVCenter.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/New-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Update-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Get-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Get-AzConnectedVMwareVM.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/New-AzConnectedVMwareVCenter.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/README.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Update-AzConnectedVMwareVM.md
Due: none

Fixed Errors
  src/Automation/Automation.Test/ScenarioTests/ModuleTests.ps1
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/GetAllModules.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/GetModuleByName.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/NewModule.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/NewPowershell72Module.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/RemoveModule.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/RemovePowershell72Module.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/SetModule.json
  src/Automation/Automation.Test/SessionRecords/Commands.Automation.Test.ModuleTests/SetPowershell72Module.json
  src/Automation/Automation/ChangeLog.md
  src/Automation/Automation/Cmdlet/GetAzureAutomationModule.cs
  src/Automation/Automation/Cmdlet/NewAzureAutomationModule.cs
  src/Automation/Automation/Cmdlet/RemoveAzureAutomationModule.cs
  src/Automation/Automation/Cmdlet/SetAzureAutomationModule.cs
  src/Automation/Automation/Common/AutomationPSClient.cs
  src/Automation/Automation/Common/Utils.cs
Due: none

attr and example edit, suppress
  tools/StaticAnalysis/Exceptions/Az.ConnectedVMware/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove useless commands
  src/ConnectedVMware/ConnectedVMware.Autorest/Az.ConnectedVMware.psd1
  src/ConnectedVMware/ConnectedVMware.Autorest/README.md
  src/ConnectedVMware/ConnectedVMware.Autorest/UX/Microsoft.ConnectedVMwarevSphere/vcenters-inventoryItems.json
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Az.ConnectedVMware.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Get-AzConnectedVMwareVMHybridIdentityMetadata.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/New-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Remove-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Remove-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Update-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/docs/Update-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Get-AzConnectedVMwareVMHybridIdentityMetadata.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/New-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Remove-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Remove-AzConnectedVMwareVMGuestAgent.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Update-AzConnectedVMwareInventoryItem.md
  src/ConnectedVMware/ConnectedVMware.Autorest/examples/Update-AzConnectedVMwareVMGuestAgent.md
Due: none

Move to supported way of sharing Helpers.psm1 file
  src/Resources/Policy.Autorest/custom/Get-AzPolicyAssignment.ps1
  src/Resources/Policy.Autorest/custom/Get-AzPolicyDefinition.ps1
  src/Resources/Policy.Autorest/custom/Get-AzPolicyExemption.ps1
  src/Resources/Policy.Autorest/custom/Get-AzPolicySetDefinition.ps1
  src/Resources/Policy.Autorest/custom/New-AzPolicyAssignment.ps1
  src/Resources/Policy.Autorest/custom/New-AzPolicyDefinition.ps1
  src/Resources/Policy.Autorest/custom/New-AzPolicyExemption.ps1
  src/Resources/Policy.Autorest/custom/New-AzPolicySetDefinition.ps1
  src/Resources/Policy.Autorest/custom/Remove-AzPolicyAssignment.ps1
  src/Resources/Policy.Autorest/custom/Remove-AzPolicyDefinition.ps1
  src/Resources/Policy.Autorest/custom/Remove-AzPolicyExemption.ps1
  src/Resources/Policy.Autorest/custom/Remove-AzPolicySetDefinition.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicyAssignment.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicyDefinition.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicyExemption.ps1
  src/Resources/Policy.Autorest/custom/Update-AzPolicySetDefinition.ps1
Due: none

Delete files missed earlier
  src/Resources/ResourceManager/Implementation/Policy/GetAzurePolicyAssignment.cs
  src/Resources/ResourceManager/Implementation/Policy/GetAzurePolicyDefinition.cs
  src/Resources/ResourceManager/Implementation/Policy/GetAzurePolicyExemption.cs
  src/Resources/ResourceManager/Implementation/Policy/GetAzurePolicySetDefinition.cs
  src/Resources/ResourceManager/Implementation/Policy/NewAzurePolicyAssignment.cs
  src/Resources/ResourceManager/Implementation/Policy/NewAzurePolicyDefinition.cs
  src/Resources/ResourceManager/Implementation/Policy/NewAzurePolicyExemption.cs
  src/Resources/ResourceManager/Implementation/Policy/NewAzurePolicySetDefinition.cs
  src/Resources/ResourceManager/Implementation/Policy/SetAzurePolicyAssignment.cs
  src/Resources/ResourceManager/Implementation/Policy/SetAzurePolicyDefinition.cs
  src/Resources/ResourceManager/Implementation/Policy/SetAzurePolicyExemption.cs
  src/Resources/ResourceManager/Implementation/Policy/SetAzurePolicySetDefinition.cs
Due: none
