Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

report 5
  .azure-pipelines/PipelineSteps/BatchGeneration/analyse-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/build-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/test-modules.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

report 6
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

report 7
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Get-AccessToken Breaking Change
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Authentication/Constants.cs
Due: none

docs(datamigration): update New-AzDataMigrationToSqlManagedInstance in DataMigration/help
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
Due: none

fix(datamigration): reorder New-AzDataMigrationToSqlManagedInstance params
  src/DataMigration/DataMigration.Autorest/docs/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
Due: none

remove BreakingChangeIssues.csv files
  tools/StaticAnalysis/Exceptions/Az.Accounts/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Aks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.AppConfiguration/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Cdn/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerInstance/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DataProtection/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.DnsResolver/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ElasticSan/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.EventGrid/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.HDInsight/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.KeyVault/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MachineLearningServices/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ManagedServiceIdentity/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.MarketplaceOrdering/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ResourceGraph/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Resources/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StackHCI/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.StorageSync/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

network and help
  src/NetAppFiles/NetAppFiles/VolumeGroup/NewNetAppFilesVolumeGroup.cs
  src/NetAppFiles/NetAppFiles/help/New-AzNetAppFilesVolumeGroup.md
Due: none

Updated ChangeLog
  src/Migrate/Migrate/ChangeLog.md
Due: none

updating changelog
  src/NetworkCloud/NetworkCloud/ChangeLog.md
Due: none

Register Microsoft.FluidRelay/fluidRelayServers in Network private link provider configurations
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
  src/Network/Network/help/Approve-AzPrivateEndpointConnection.md
  src/Network/Network/help/Deny-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateEndpointConnection.md
  src/Network/Network/help/Get-AzPrivateLinkResource.md
  src/Network/Network/help/Remove-AzPrivateEndpointConnection.md
  src/Network/Network/help/Set-AzPrivateEndpointConnection.md
Due: none

Update stacks' definition to latest
  src/Functions/Functions.Autorest/custom/FunctionsStack/functionAppStacks.json
Due: none

feat(runtime): block app creation after EOL, warn if within 6 months
  src/Functions/Functions.Autorest/custom/HelperFunctions.ps1
Due: none

Update tests
  src/Functions/Functions.Autorest/test/Get-Update-Remove-AzFunctionAppSetting.Tests.ps1
  src/Functions/Functions.Autorest/test/New-AzFunctionApp.Tests.ps1
  src/Functions/Functions.Autorest/test/utils.ps1
Due: none

Fix live test issues.
  src/Aks/LiveTests/Aks/TestLiveScenarios.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.ps1
Due: none

Update help doc of Get-AzAcessToken
  src/Accounts/Accounts.Test/AccessTokenCmdletTest.cs
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Accounts/help/Get-AzAccessToken.md
  tools/StaticAnalysis/Exceptions/Az.Accounts/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Bump up version for Accounts
  NuGet.Config
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Enhance Restore-AzMySqlFlexibleServer functionality with GeoRestore support
  src/MySql/MySql.Autorest/Properties/AssemblyInfo.cs
  src/MySql/MySql.Autorest/custom/Restore-AzMySqlFlexibleServer_GeoRestore.ps1
  src/MySql/MySql.Autorest/docs/Az.MySql.md
  src/MySql/MySql.Autorest/docs/Restore-AzMySqlFlexibleServer.md
  src/MySql/MySql.Autorest/generate-info.json
  src/MySql/MySql.Autorest/resources/README.md
  src/MySql/MySql.sln
  src/MySql/MySql/Az.MySql.psd1
  src/MySql/MySql/help/Az.MySql.md
  src/MySql/MySql/help/New-AzMySqlFlexibleServer.md
  src/MySql/MySql/help/New-AzMySqlServer.md
  src/MySql/MySql/help/Restore-AzMySqlFlexibleServer.md
  src/MySql/MySql/help/Test-AzMySqlFlexibleServerConnect.md
Due: none

Update in recordings for test
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureCrossZonalRestoreToNoZone.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMEnhancedPolicyAsDefaultPolicy.json
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Update src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
  src/Accounts/Accounts/Token/GetAzureRmAccessToken.cs
Due: none

Fix live test issues. (#27727)
  src/Aks/LiveTests/Aks/TestLiveScenarios.ps1
  src/Compute/LiveTests/Compute/TestLiveScenarios.ps1
Due: none

Update src/Accounts/Accounts/help/Get-AzAccessToken.md
  src/Accounts/Accounts/help/Get-AzAccessToken.md
Due: none

update a new commit id and updated the commands
  src/NeonPostgres/NeonPostgres.Autorest/README.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Az.NeonPostgres.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Get-AzNeonPostgresProjectConnectionUri.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/New-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/New-AzNeonPostgresOrganization.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/New-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Update-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Update-AzNeonPostgresOrganization.md
  src/NeonPostgres/NeonPostgres.Autorest/docs/Update-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres.Autorest/generate-info.json
  src/NeonPostgres/NeonPostgres.sln
  src/NeonPostgres/NeonPostgres/Az.NeonPostgres.psd1
  src/NeonPostgres/NeonPostgres/help/Az.NeonPostgres.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresCompute.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresEndpoint.md
  src/NeonPostgres/NeonPostgres/help/Get-AzNeonPostgresProjectConnectionUri.md
  src/NeonPostgres/NeonPostgres/help/New-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres/help/New-AzNeonPostgresOrganization.md
  src/NeonPostgres/NeonPostgres/help/New-AzNeonPostgresProject.md
  src/NeonPostgres/NeonPostgres/help/Update-AzNeonPostgresBranch.md
  src/NeonPostgres/NeonPostgres/help/Update-AzNeonPostgresOrganization.md
  src/NeonPostgres/NeonPostgres/help/Update-AzNeonPostgresProject.md
Due: none

Add VM validation for Hyper-V/VMware to Azure local replication (#27641)
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/custom/AzLocalDiskInput.cs
  src/Migrate/Migrate.Autorest/custom/Helper/AzLocalCommonSettings.ps1
  src/Migrate/Migrate.Autorest/custom/Helper/CommonHelper.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/Az.Migrate.psd1
  src/Migrate/Migrate/ChangeLog.md
Due: none

updated the change log
  src/NeonPostgres/NeonPostgres/ChangeLog.md
Due: none
