Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Add control plane default customization
  src/DevCenter/DevCenterDataPlane.AutoRest/README.md
  src/DevCenter/DevCenterResourceManager.AutoRest/README.md
  src/DevCenter/DevCenterResourceManager.AutoRest/custom/Get-AzDevCenterAdminSchedule.ps1
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Get-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/New-AzDevCenterAdminPool.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/New-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Remove-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Set-AzDevCenterAdminPool.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Set-AzDevCenterAdminSchedule.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Update-AzDevCenterAdminPool.md
  src/DevCenter/DevCenterResourceManager.AutoRest/docs/Update-AzDevCenterAdminSchedule.md
Due: none

add breaking change announcement for SoftDeleteRetentionInDays
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/ManagedHsm/GetAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/ManagedHsm/NewAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/ManagedHsm/RemoveAzureManagedHsm.cs
  src/KeyVault/KeyVault/Commands/ManagedHsm/UpdateAzureManagedHsm.cs
  src/KeyVault/KeyVault/KeyVault.csproj
Due: none

Addressed comments
  src/Resources/ResourceManager/Implementation/Policy/PolicyHelpStrings.cs
Due: none

Update Change Log for EventHubs and ServiceBus
  src/EventHub/EventHub/ChangeLog.md
  src/ServiceBus/ServiceBus/ChangeLog.md
Due: none

Update Change Log for EventHubs and ServiceBus (#21830)
  src/EventHub/EventHub/ChangeLog.md
  src/ServiceBus/ServiceBus/ChangeLog.md
Due: none

add issue suppression
  tools/StaticAnalysis/Exceptions/Az.ContainerRegistry/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.ContainerRegistry/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove unusable NextLink parameter and parameter set from Get-AzVM (#21748)
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/VirtualMachine/Operation/GetAzureVMCommand.cs
  src/Compute/Compute/help/Get-AzVM.md
  tools/StaticAnalysis/Exceptions/Az.Compute/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update KeyVault.csproj
  src/KeyVault/KeyVault/KeyVault.csproj
Due: none

Polish Change Logs for release-2023-05-23
  src/DataMigration/DataMigration/ChangeLog.md
  src/DataProtection/ChangeLog.md
  src/Databricks/ChangeLog.md
  src/MobileNetwork/ChangeLog.md
  src/Network/Network/ChangeLog.md
  src/RedisEnterpriseCache/ChangeLog.md
  src/Relay/ChangeLog.md
  src/Resources/Resources/ChangeLog.md
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/Sql/Sql/ChangeLog.md
  src/StackHCI/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/Websites/Websites/ChangeLog.md
Due: none

Adding changelog ref
  src/Websites/Websites/ChangeLog.md
Due: none

Update Databricks a new api version: 2023-02-01
  src/Databricks/Az.Databricks.psd1
  src/Databricks/README.md
  src/Databricks/custom/New-AzDatabricksWorkspace.ps1
  src/Databricks/custom/New-AzDatabricksWorkspaceProviderAuthorizationObject.ps1
  src/Databricks/custom/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/custom/Update-AzDatabricksWorkspace.ps1
  src/Databricks/docs/Az.Databricks.md
  src/Databricks/docs/Get-AzDatabricksAccessConnector.md
  src/Databricks/docs/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.md
  src/Databricks/docs/Get-AzDatabricksVNetPeering.md
  src/Databricks/docs/Get-AzDatabricksWorkspace.md
  src/Databricks/docs/New-AzDatabricksAccessConnector.md
  src/Databricks/docs/New-AzDatabricksVNetPeering.md
  src/Databricks/docs/New-AzDatabricksWorkspace.md
  src/Databricks/docs/New-AzDatabricksWorkspaceProviderAuthorizationObject.md
  src/Databricks/docs/Remove-AzDatabricksAccessConnector.md
  src/Databricks/docs/Remove-AzDatabricksVNetPeering.md
  src/Databricks/docs/Remove-AzDatabricksWorkspace.md
  src/Databricks/docs/Update-AzDatabricksAccessConnector.md
  src/Databricks/docs/Update-AzDatabricksVNetPeering.md
  src/Databricks/docs/Update-AzDatabricksWorkspace.md
  src/Databricks/examples/Get-AzDatabricksAccessConnector.md
  src/Databricks/examples/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.md
  src/Databricks/examples/Get-AzDatabricksVNetPeering.md
  src/Databricks/examples/Get-AzDatabricksWorkspace.md
  src/Databricks/examples/New-AzDatabricksAccessConnector.md
  src/Databricks/examples/New-AzDatabricksVNetPeering.md
  src/Databricks/examples/New-AzDatabricksWorkspace.md
  src/Databricks/examples/New-AzDatabricksWorkspaceProviderAuthorizationObject.md
  src/Databricks/examples/Remove-AzDatabricksAccessConnector.md
  src/Databricks/examples/Remove-AzDatabricksVNetPeering.md
  src/Databricks/examples/Remove-AzDatabricksWorkspace.md
  src/Databricks/examples/Update-AzDatabricksAccessConnector.md
  src/Databricks/examples/Update-AzDatabricksVNetPeering.md
  src/Databricks/examples/Update-AzDatabricksWorkspace.md
  src/Databricks/test/New-AzDatabricksWorkspaceProviderAuthorizationObject.Tests.ps1
Due: none

update examples
  src/Databricks/docs/Az.Databricks.md
  src/Databricks/docs/Get-AzDatabricksOutboundNetworkDependenciesEndpoint.md
Due: none

Add data plane customization
  src/DevCenter/DevCenterDataPlane.AutoRest/README.md
  src/DevCenter/DevCenterDataPlane.AutoRest/custom/Deploy-AzDevCenterDevEnvironment.ps1
  src/DevCenter/DevCenterDataPlane.AutoRest/custom/Get-AzDevCenterDevSchedule.ps1
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Delay-AzDevCenterDevDevBoxAction.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Deploy-AzDevCenterDevEnvironment.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Get-AzDevCenterDevDevBoxAction.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Get-AzDevCenterDevDevBoxRemoteConnection.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Get-AzDevCenterDevSchedule.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/New-AzDevCenterDevDevBox.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/New-AzDevCenterDevEnvironment.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Remove-AzDevCenterDevDevBox.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Remove-AzDevCenterDevEnvironment.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Restart-AzDevCenterDevDevBox.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Set-AzDevCenterDevEnvironment.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Skip-AzDevCenterDevDevBoxAction.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Start-AzDevCenterDevDevBox.md
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Stop-AzDevCenterDevDevBox.md
Due: none

Fix tests and session records
  src/Network/Network.Test/ScenarioTests/CortexTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.CortexTests/TestRouteMapCRUD.json
Due: none

Enable pull down the function app definitions from the Stacks API
  src/Functions/custom/FunctionsStack/LinuxFunctionsStacks.json
  src/Functions/custom/FunctionsStack/WindowsFunctionsStacks.json
  src/Functions/custom/FunctionsStack/functionAppStacks.json
  src/Functions/custom/HelperFunctions.ps1
  src/Functions/custom/New-AzFunctionApp.ps1
  src/Functions/custom/api/Support/FunctionsVersionType.cs
  src/Functions/custom/api/Support/RuntimeType.cs
Due: none

Convert Java runtime version to integer value
  src/Functions/custom/HelperFunctions.ps1
Due: none

Update tests
  src/Functions/test/Get-Update-Remove-AzFunctionAppSetting.Tests.ps1
  src/Functions/test/New-AzFunctionApp.Tests.ps1
  src/Functions/test/New-Update-Remove-AzFunctionApp.Tests.ps1
  src/Functions/test/Remove-AzFunctionApp.Tests.ps1
  src/Functions/test/utils.ps1
Due: none

Update tests recordings
  src/Functions/test/Get-AzFunctionApp.Recording.json
  src/Functions/test/Get-AzFunctionAppAvailableLocation.Recording.json
  src/Functions/test/Get-AzFunctionAppPlan.Recording.json
  src/Functions/test/Get-Update-Remove-AzFunctionAppSetting.Recording.json
  src/Functions/test/New-AzFunctionApp.Recording.json
  src/Functions/test/New-AzFunctionAppPlan.Recording.json
  src/Functions/test/New-Update-Remove-AzFunctionApp.Tests.Recording.json
  src/Functions/test/New-Update-Remove-AzFunctionAppPlan.Recording.json
  src/Functions/test/Remove-AzFunctionApp.Recording.json
  src/Functions/test/Restart-Start-Stop-AzFunctionApp.Recording.json
  src/Functions/test/env.json
Due: none

Print PSVersionTable
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update examples and readme.file
  src/Databricks/README.md
  src/Databricks/custom/Update-AzDatabricksVNetPeering.ps1
  src/Databricks/docs/Get-AzDatabricksAccessConnector.md
  src/Databricks/docs/Get-AzDatabricksVNetPeering.md
  src/Databricks/docs/New-AzDatabricksAccessConnector.md
  src/Databricks/docs/New-AzDatabricksVNetPeering.md
  src/Databricks/docs/Remove-AzDatabricksVNetPeering.md
  src/Databricks/docs/Remove-AzDatabricksWorkspace.md
  src/Databricks/docs/Update-AzDatabricksAccessConnector.md
  src/Databricks/docs/Update-AzDatabricksVNetPeering.md
  src/Databricks/docs/Update-AzDatabricksWorkspace.md
  src/Databricks/examples/Get-AzDatabricksVNetPeering.md
  src/Databricks/examples/New-AzDatabricksVNetPeering.md
  src/Databricks/examples/Remove-AzDatabricksVNetPeering.md
  src/Databricks/examples/Remove-AzDatabricksWorkspace.md
  src/Databricks/examples/Update-AzDatabricksVNetPeering.md
  src/Databricks/examples/Update-AzDatabricksWorkspace.md
  src/Databricks/test/AzDatabricksAccessConnector.Recording.json
  src/Databricks/test/AzDatabricksAccessConnector.Tests.ps1
  src/Databricks/test/AzDatabricksVNetPeering.Recording.json
  src/Databricks/test/AzDatabricksVNetPeering.Tests.ps1
  src/Databricks/test/AzDatabricksWorkspace.Recording.json
  src/Databricks/test/AzDatabricksWorkspace.Tests.ps1
  src/Databricks/test/env.json
  src/Databricks/test/utils.ps1
Due: none

create exampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/ExampleIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update HelperFunctions.ps1 to fixed a minor issue
  src/Functions/custom/HelperFunctions.ps1
Due: none

Address review comment to fix typo
  src/Compute/Compute/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Add delay action customization
  src/DevCenter/DevCenterDataPlane.AutoRest/README.md
  src/DevCenter/DevCenterDataPlane.AutoRest/custom/Delay-AzDevCenterDevDevBoxAction.ps1
  src/DevCenter/DevCenterDataPlane.AutoRest/custom/Utils.ps1
  src/DevCenter/DevCenterDataPlane.AutoRest/docs/Delay-AzDevCenterDevDevBoxAction.md
Due: none

Polish Change Logs for release-2023-05-23 (#21834)
  src/Compute/Compute/ChangeLog.md
  src/DataMigration/DataMigration/ChangeLog.md
  src/DataProtection/ChangeLog.md
  src/Databricks/ChangeLog.md
  src/MobileNetwork/ChangeLog.md
  src/Network/Network/ChangeLog.md
  src/RedisEnterpriseCache/ChangeLog.md
  src/Relay/ChangeLog.md
  src/Resources/Resources/ChangeLog.md
  src/ServiceFabric/ServiceFabric/ChangeLog.md
  src/Sql/Sql/ChangeLog.md
  src/StackHCI/ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
  src/Synapse/Synapse/ChangeLog.md
  src/Websites/Websites/ChangeLog.md
Due: none

When running on test mode use built in json file definition
  src/Functions/custom/HelperFunctions.ps1
Due: none

General availability for module Az.MachineLearningServices
  src/MachineLearningServices/ChangeLog.md
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Use test environment built variables
  src/Functions/custom/HelperFunctions.ps1
Due: none

General availability for module Az.MachineLearningServices (#21841)
  src/MachineLearningServices/ChangeLog.md
  tools/Az/Az.psd1
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Restores the changes to BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Restores the changes to SignatureIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Databricks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml
