Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

fix
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix example and docs errors and re-ran all recordings
  src/VMware/VMware.Autorest/custom/New-AzVMwareAddon.ps1
  src/VMware/VMware.Autorest/docs/New-AzVMwareAddon.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareAddonSrmPropertyObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareAddonVrPropertyObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwarePlacementPolicy.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareVMPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareVmHostPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/docs/Remove-AzVMwareIscsiPath.md
  src/VMware/VMware.Autorest/docs/Update-AzVMwarePrivateCloud.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareAddon.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareAddonSrmPropertyObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareAddonVrPropertyObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwarePlacementPolicy.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareVMPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareVmHostPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/examples/Remove-AzVMwareIscsiPath.md
  src/VMware/VMware.Autorest/examples/Update-AzVMwarePrivateCloud.md
  src/VMware/VMware.Autorest/test/AzVMwareAddon.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareAuthorization.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareCloudLink.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareCluster.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareDatastore.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareGlobalReachConnection.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationQuotaAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationTrialAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePlacementPolicy.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloud.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudAdminCredential.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudNsxtPassword.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudVcenterPassword.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareVirtualMachine.Recording.json
  src/VMware/VMware.Autorest/test/env.json
Due: none

remove enum
  src/FrontDoor/FrontDoor/Models/PSFrontDoorWafCustomRuleGroupByVariable.cs
  src/FrontDoor/FrontDoor/Models/PSFrontDoorWafLogScrubbingRule.cs
Due: none

Improve security on kusto ingestion (#24987)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/SaveLiveTestResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/SaveLiveTestResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

remove unused files
  src/FrontDoor/FrontDoor.Sdk/Wiki.md
  src/FrontDoor/FrontDoor.Sdk/changed-function-details-20240508105507.csv
  src/FrontDoor/FrontDoor.Sdk/function-compare.ps1
  src/FrontDoor/FrontDoor.Test/ScenarioTests/WebApplicationFireWallPolicyTests.ps1
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestPolicyCrud.json
Due: none

Update README.md
  src/ServiceFabric/ServiceFabric.Management.Sdk/README.md
Due: none

remove
  src/FrontDoor/FrontDoor.Sdk/FrontDoor.Sdk.sln
Due: none

fix
  tools/BuildScripts/BuildScripts.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  tools/BuildScripts/BuildModules.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  tools/BuildScripts/BuildModules.ps1
  tools/BuildScripts/BuildScripts.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update.
  tools/StaticAnalysis/Exceptions/Az.HdInsightOnAks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix some examples and docs
  src/VMware/VMware.Autorest/docs/New-AzVMwarePSCredentialExecutionParameterObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwarePlacementPolicy.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareScriptSecureStringExecutionParameterObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareScriptStringExecutionParameterObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareVMPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/docs/New-AzVMwareVmHostPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwarePSCredentialExecutionParameterObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwarePlacementPolicy.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareScriptSecureStringExecutionParameterObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareScriptStringExecutionParameterObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareVMPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/examples/New-AzVMwareVmHostPlacementPolicyPropertyObject.md
  src/VMware/VMware.Autorest/test/AzVMwareAddon.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareAuthorization.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareCloudLink.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareCluster.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareDatastore.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareGlobalReachConnection.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationQuotaAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareLocationTrialAvailability.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePlacementPolicy.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloud.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudAdminCredential.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudNsxtPassword.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwarePrivateCloudVcenterPassword.Recording.json
  src/VMware/VMware.Autorest/test/AzVMwareVirtualMachine.Recording.json
  src/VMware/VMware.Autorest/test/env.json
Due: none

create test case for MI in New-AzPaloAltoNetworksLocalRulestack
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/New-AzPaloAltoNetworksLocalRulestack.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/examples/New-AzPaloAltoNetworksLocalRulestack.md
Due: none

update Deploy-AzSpringApp logic
  src/Spring/Spring.Autorest/custom/Deploy-AzSpringApp.ps1
Due: none

Sync tools folder from main branch to generation branch (#24990)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/SaveLiveTestResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update ChangeLog.md
  src/Storage/Storage.Management/ChangeLog.md
Due: none

Update Update-AzSynapseSparkPool.md (#24928)
  src/Synapse/Synapse/help/Update-AzSynapseSparkPool.md
Due: none

add out put
  src/FrontDoor/FrontDoor.Test/ScenarioTests/WebApplicationFireWallPolicyTests.ps1
  src/FrontDoor/FrontDoor.Test/SessionRecords/Microsoft.Azure.Commands.FrontDoor.Test.ScenarioTests.ScenarioTest.WebApplicationFireWallPolicyTests/TestPolicyCrud.json
  src/FrontDoor/FrontDoor/Cmdlets/NewFrontDoorWafLogScrubbingSettingObject.cs
  src/FrontDoor/FrontDoor/Cmdlets/UpdateFrontDoorWafPolicy.cs
  src/FrontDoor/FrontDoor/Helpers/ModelExtensions.cs
  src/FrontDoor/FrontDoor/Models/PSPolicy.cs
Due: none

Fix pipeline errors.
  src/HdInsightOnAks/HdInsightOnAks.Autorest/README.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/custom/New-AzHdInsightOnAksClusterLibraryObject.ps1
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Get-AzHdInsightOnAksCluster.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Get-AzHdInsightOnAksClusterLibrary.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Get-AzHdInsightOnAksClusterPool.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Get-AzHdInsightOnAksClusterPoolUpgradeHistory.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Get-AzHdInsightOnAksClusterUpgradeHistory.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/New-AzHdInsightOnAksCluster.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/New-AzHdInsightOnAksClusterPool.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/New-AzHdInsightOnAksClusterServiceConfigsProfileObject.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Remove-AzHdInsightOnAksCluster.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Remove-AzHdInsightOnAksClusterPool.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Set-AzHdInsightOnAksClusterPool.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Test-AzHdInsightOnAksLocationNameAvailability.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Update-AzHdInsightOnAksCluster.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/docs/Upgrade-AzHdInsightOnAksClusterPool.md
  src/HdInsightOnAks/HdInsightOnAks.Autorest/examples/Test-AzHdInsightOnAksLocationNameAvailability.md
  tools/StaticAnalysis/Exceptions/Az.HdInsightOnAks/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

temp text
  src/Network/NetworkSecurityPerimeter.Autorest/how-to.md
Due: none

Force a fallback to the no broker option for silent authenticator
  src/Accounts/Authentication/Factories/AuthenticationFactory.cs
  src/Accounts/Authentication/Utilities/AzConfigReader.cs
Due: none

update readme
  src/NetAppFiles/NetAppFiles.Management.Sdk/README.md
Due: none

ReGen
  src/NetAppFiles/NetAppFiles.Management.Sdk/Custom/Models/BackupVault.cs
  src/NetAppFiles/NetAppFiles.Management.Sdk/Generated/BackupVaultsOperations.cs
  src/NetAppFiles/NetAppFiles.Management.Sdk/Generated/Models/BackupVault.cs
  src/NetAppFiles/NetAppFiles.Test/SessionRecords/Microsoft.Azure.Commands.NetAppFiles.Test.ScenarioTests.ScenarioTest.BackupTests/TestBackupCrud.json
Due: none

update examples
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/docs/New-AzPaloAltoNetworksFirewall.md
  src/PaloAltoNetworks/PaloAltoNetworks.Autorest/examples/New-AzPaloAltoNetworksFirewall.md
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
