Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
        AzureStack:
          BranchName: ${{ variables.AzureStackBranchName }}
    steps:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

Update the breaking change message for Trusted Launch work pushed off to May 2023 (#19529)
  src/Compute/Compute/Generated/Disk/DiskCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

re-generate sdk
  src/Storage/Storage.Management.Sdk/Generated/Models/AccountImmutabilityPolicyProperties.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/ChangeFeed.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/DateAfterCreation.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/DateAfterModification.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/DeleteRetentionPolicy.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/FileShare.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/FileShareItem.cs
  src/Storage/Storage.Management.Sdk/Generated/Models/RestorePolicyProperties.cs
  src/Storage/Storage.Management.Sdk/README.md
Due: none

remove handcrafted management plane cmdlets
  src/Attestation/Attestation/Az.Attestation.psd1
  src/Attestation/Attestation/Commands/GetAzureAttestation.cs
  src/Attestation/Attestation/Commands/NewAzureAttestation.cs
  src/Attestation/Attestation/Commands/RemoveAzureAttestation.cs
  src/Attestation/Attestation/help/Az.Attestation.md
  src/Attestation/Attestation/help/Get-AzAttestation.md
  src/Attestation/Attestation/help/New-AzAttestation.md
  src/Attestation/Attestation/help/Remove-AzAttestation.md
Due: none

Remove management plane cmdlets related test cases
  src/Attestation/Attestation.Test/ScenarioTests/AttestationPolicySignerTests.ps1
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicySignerTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationTests.ps1
  src/Attestation/Attestation.sln
Due: none

change management plane cmdlets related test cases to live-only
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.ps1
Due: none

suppress breaking changes
  tools/StaticAnalysis/Exceptions/Az.Attestation/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

tests for autoscale
  src/Monitor/Autoscale.Autorest/test/Autoscale.Recording.json
  src/Monitor/Autoscale.Autorest/test/Autoscale.Tests.ps1
  src/Monitor/Autoscale.Autorest/test/env.json
  src/Monitor/Autoscale.Autorest/test/utils.ps1
Due: none

add changelog
  src/Attestation/Attestation/ChangeLog.md
Due: none

[Az.Attenstation] Remove handcrafted management plane cmdlets (#19539)
  src/Attestation/Attestation.Test/ScenarioTests/AttestationPolicySignerTests.ps1
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicySignerTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationPolicyTests.ps1
  src/Attestation/Attestation.Test/ScenarioTests/AttstationTests.cs
  src/Attestation/Attestation.Test/ScenarioTests/AttstationTests.ps1
  src/Attestation/Attestation.sln
  src/Attestation/Attestation/Az.Attestation.psd1
  src/Attestation/Attestation/ChangeLog.md
  src/Attestation/Attestation/Commands/GetAzureAttestation.cs
  src/Attestation/Attestation/Commands/NewAzureAttestation.cs
  src/Attestation/Attestation/Commands/RemoveAzureAttestation.cs
  src/Attestation/Attestation/help/Az.Attestation.md
  src/Attestation/Attestation/help/Get-AzAttestation.md
  src/Attestation/Attestation/help/New-AzAttestation.md
  src/Attestation/Attestation/help/Remove-AzAttestation.md
  tools/StaticAnalysis/Exceptions/Az.Attestation/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Revert "Upgrade NewtonSoftJson to 13.0.0 (#19445)" (#19523)
  src/DevSpaces/DevSpaces/DevSpaces.csproj
  src/DeviceProvisioningServices/DeviceProvisioningServices/DeviceProvisioningServices.csproj
  src/IotHub/IotHub/IotHub.csproj
  src/Resources/ResourceManager/Extensions/JsonExtensions.cs
  src/ServiceFabric/ServiceFabric/ServiceFabric.csproj
  src/Sql/Sql.LegacySdk/Sql.LegacySdk.csproj
  src/Sql/Sql/Sql.csproj
  src/Synapse/Synapse/Synapse.csproj
  src/Websites/Websites/Websites.csproj
  src/lib/NetFxPreloadAssemblies/Newtonsoft.Json.dll
  src/lib/Newtonsoft.Json.9.dll
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/packages.config
  tools/Common.Netcore.Dependencies.Test.targets
  tools/Common.Netcore.Dependencies.targets
  tools/NetCoreCsProjSync/NetCoreCsProjSync/NetCoreCsProjSync.csproj
  tools/NetCorePsd1Sync/NetCorePsd1Sync/NetCorePsd1Sync.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixing error with return value processing
  src/ConnectedMachine/custom/Connect-AzConnectedMachine.ps1
Due: none

Update changelog
  src/ConnectedMachine/Changelog.md
Due: none

add test for diagnostic setting
  src/Monitor/DiagnosticSetting.Autorest/docs/New-AzDiagnosticSetting.md
  src/Monitor/DiagnosticSetting.Autorest/examples/New-AzDiagnosticSetting.md
  src/Monitor/DiagnosticSetting.Autorest/test/DiagnosticSetting.Recording.json
  src/Monitor/DiagnosticSetting.Autorest/test/DiagnosticSetting.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Get-Az.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/New-Az.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/Remove-Az.Tests.ps1
  src/Monitor/DiagnosticSetting.Autorest/test/env.json
  src/Monitor/DiagnosticSetting.Autorest/test/utils.ps1
Due: none

Update the codegen pipeline
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml

Updated the online versions in the help files
  src/Network/Network/help/Add-AzApplicationGatewayBackendSetting.md
  src/Network/Network/help/Add-AzApplicationGatewayListener.md
  src/Network/Network/help/Add-AzApplicationGatewayRoutingRule.md
  src/Network/Network/help/Get-AzApplicationGatewayBackendSetting.md
  src/Network/Network/help/Get-AzApplicationGatewayListener.md
  src/Network/Network/help/Get-AzApplicationGatewayRoutingRule.md
  src/Network/Network/help/New-AzApplicationGatewayBackendSetting.md
  src/Network/Network/help/New-AzApplicationGatewayListener.md
  src/Network/Network/help/New-AzApplicationGatewayRoutingRule.md
  src/Network/Network/help/Remove-AzApplicationGatewayBackendSetting.md
  src/Network/Network/help/Remove-AzApplicationGatewayListener.md
  src/Network/Network/help/Remove-AzApplicationGatewayRoutingRule.md
  src/Network/Network/help/Set-AzApplicationGatewayBackendSetting.md
  src/Network/Network/help/Set-AzApplicationGatewayListener.md
  src/Network/Network/help/Set-AzApplicationGatewayRoutingRule.md
Due: none

add test for scheduled query rule
  src/Monitor/ScheduledQueryRule.Autorest/test/ScheduledQueryRule.Recording.json
  src/Monitor/ScheduledQueryRule.Autorest/test/ScheduledQueryRule.Tests.ps1
  src/Monitor/ScheduledQueryRule.Autorest/test/env.json
  src/Monitor/ScheduledQueryRule.Autorest/test/utils.ps1
Due: none

PS changes for Uppercase Transform
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyWithUppercaseTransform.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/FirewallPolicy/FirewallCondition/AzureApplicationGatewayFirewallConditionBase.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallCondition.md
Due: none

Fix and adding test session recordings
  src/Sql/Sql.Test/ScenarioTests/AdvancedThreatProtectionTests.ps1
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.AdvancedThreatProtectionTests/AdvancedThreatProtectionDatabaseUpdateSettings.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.AdvancedThreatProtectionTests/AdvancedThreatProtectionGetDefaultSettings.json
  src/Sql/Sql.Test/SessionRecords/Microsoft.Azure.Commands.Sql.Test.ScenarioTests.AdvancedThreatProtectionTests/AdvancedThreatProtectionServerUpdateSettings.json
Due: none

Update daily-build.yml for Azure Pipelines
  .azure-pipelines/daily-build.yml
Due: .azure-pipelines/sync-tools-folder.yml

Upgrade target framework to netcoreapp3.1
  .azure-pipelines/release-test.yml
  documentation/development-docs/azure-powershell-developer-guide.md
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AuthenticationAssemblyLoadContext/AuthenticationAssemblyLoadContext.csproj
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.Test/FormatPs1XmlGenerator.Test.csproj
  tools/NetCoreCsProjSync/NetCoreCsProjSync/NetCoreBase.csproj
  tools/NetCoreCsProjSync/NetCoreCsProjSync/NetCoreCsProjSync.csproj
  tools/NetCorePsd1Sync/NetCorePsd1Sync/NetCorePsd1Sync.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/Accounts/Accounts/ChangeLog.md
Due: none

small change in comment
  src/Network/Network/Cortex/VHubRouteTable/NewAzureRmRoutingConfigurationCommand.cs
  src/Network/Network/help/New-AzRoutingConfiguration.md
Due: none

update PS test case, add sessionrecord of testing run
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayCRUDWithMutualAuthentication.json
  src/Network/Network/ApplicationGateway/ClientAuthConfiguration/AzureApplicationGatewayClientAuthConfigurationBase.cs
  src/Network/Network/help/New-AzApplicationGatewayClientAuthConfiguration.md
  src/Network/Network/help/Set-AzApplicationGatewayClientAuthConfiguration.md
Due: none

move the changelog to upcoming release
  src/Network/Network/ChangeLog.md
Due: none

add tests
  src/Network/Network.Test/ScenarioTests/NetworkInterfaceTests.cs
  src/Network/Network.Test/ScenarioTests/NetworkInterfaceTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkInterfaceTests/TestNetworkInterfaceWithDisableTcpStateTracking.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/help/New-AzNetworkInterface.md
Due: none

update md files
  src/Compute/Compute/help/New-AzVM.md
  src/Compute/Compute/help/New-AzVmss.md
  src/Compute/Compute/help/Set-AzVmssOsProfile.md
Due: none

Saving changes
  src/Network/Network/FirewallPolicy/ManagedRules/ManagedRuleSet/ManagedRuleGroupOverride/ManagedRuleOverride/AzureApplicationGatewayFirewallPolicyManagedRuleOverride.cs
  src/Network/Network/Models/PSApplicationGatewayFirewallPolicyManagedRuleOverride.cs
  src/Network/Network/Network.csproj
Due: none

Updating tests
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
Due: none

Update documentation and set Action
  src/Network/Network/FirewallPolicy/ManagedRules/ManagedRuleSet/ManagedRuleGroupOverride/ManagedRuleOverride/AzureApplicationGatewayFirewallPolicyManagedRuleOverride.cs
  src/Network/Network/help/New-AzApplicationGatewayFirewallPolicyManagedRuleOverride.md
Due: none

Path conditions:
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, tools, src/lib
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
