Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:

resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - tools
      - src/lib
      
variables:
  GenerationBranchName: generation
  AzureStackBranchName: Azs-tzl

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}
      AzureStack:
        BranchName: ${{ variables.AzureStackBranchName }}

  steps:
  - template: util/sync-tools-folder-template.yml
    parameters:
      BranchName: $(BranchName)

.azure-pipelines/util/sync-tools-folder.yml:

# Variable 'BaseBranch' was defined in the Variables tab
# Variable 'ServiceName' was defined in the Variables tab
# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
resources:
  repositories:
  - repository: self
    type: git
    ref: main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipeline
      - tools
      - src/lib

jobs:
- job: Job_1
  displayName: 'Sync to ${{ parameters.BranchName }}'
  timeoutInMinutes: 90
  pool:
    name: Hosted VS2017
  steps:
  - checkout: self
  - task: PowerShell@2
    displayName: Config git
    inputs:
      targetType: inline
      script: >-
        git config --global user.email "azurepowershell@ms.com"

        git config --global user.name "azurepowershell"

        git checkout ${{ parameters.BranchName }}
      pwsh: true
  - task: PowerShell@2
    displayName: Sync .azure-pipelines folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp .azure-pipelines .azure-pipelines-tmp -r

        rm .azure-pipelines -r

        mv .azure-pipelines-tmp .azure-pipelines

        git add .azure-pipelines
      pwsh: true
  - task: PowerShell@2
    displayName: Sync src/lib folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp src/lib src/lib-tmp -r

        rm src/lib -r

        mv src/lib-tmp src/lib

        git add src/lib
      pwsh: true
  - task: PowerShell@2
    displayName: Sync tools folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp tools tools-tmp -r

        rm tools -r

        mv tools-tmp tools

        git add tools

        git commit -m "Sync tools folder from main branch to ${{ parameters.BranchName }} branch"

        git remote set-url origin https://$env:GITHUB_TOKEN@github.com/Azure/azure-powershell.git

        git push origin syncToolsFolder --force
      pwsh: true
...

Update pipeline
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml

Split Az.DataMigration Examples
  src/DataMigration/DataMigration/help/Get-AzDataMigrationAssessment.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationProject.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationSqlServiceIntegrationRuntimeMetric.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationSqlServiceMigration.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/Get-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration/help/Invoke-AzDataMigrationCommand.md
  src/DataMigration/DataMigration/help/Invoke-AzDataMigrationCutoverToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/Invoke-AzDataMigrationCutoverToSqlVM.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationAzureActiveDirectoryApp.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationConnectionInfo.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationDatabaseInfo.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationFileShare.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationMongoDbCollectionSetting.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationMongoDbDatabaseSetting.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationProject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSelectedDBObject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSqlServiceAuthKey.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationSyncSelectedDBObject.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/New-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration/help/Register-AzDataMigrationIntegrationRuntime.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationProject.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationSqlService.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationSqlServiceNode.md
  src/DataMigration/DataMigration/help/Remove-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/Start-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationService.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationTask.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationToSqlManagedInstance.md
  src/DataMigration/DataMigration/help/Stop-AzDataMigrationToSqlVM.md
  src/DataMigration/DataMigration/help/Update-AzDataMigrationSqlService.md
Due: none

Update pipeline
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Split Az.DataProtection Examples
  src/DataProtection/help/Backup-AzDataProtectionBackupInstanceAdhoc.md
  src/DataProtection/help/Edit-AzDataProtectionPolicyRetentionRuleClientObject.md
  src/DataProtection/help/Edit-AzDataProtectionPolicyTagClientObject.md
  src/DataProtection/help/Edit-AzDataProtectionPolicyTriggerClientObject.md
  src/DataProtection/help/Find-AzDataProtectionRestorableTimeRange.md
  src/DataProtection/help/Get-AzDataProtectionBackupInstance.md
  src/DataProtection/help/Get-AzDataProtectionBackupPolicy.md
  src/DataProtection/help/Get-AzDataProtectionBackupVault.md
  src/DataProtection/help/Get-AzDataProtectionJob.md
  src/DataProtection/help/Get-AzDataProtectionOperation.md
  src/DataProtection/help/Get-AzDataProtectionPolicyTemplate.md
  src/DataProtection/help/Get-AzDataProtectionRecoveryPoint.md
  src/DataProtection/help/Initialize-AzDataProtectionBackupInstance.md
  src/DataProtection/help/Initialize-AzDataProtectionRestoreRequest.md
  src/DataProtection/help/New-AzDataProtectionBackupInstance.md
  src/DataProtection/help/New-AzDataProtectionBackupPolicy.md
  src/DataProtection/help/New-AzDataProtectionBackupVault.md
  src/DataProtection/help/New-AzDataProtectionBackupVaultStorageSettingObject.md
  src/DataProtection/help/New-AzDataProtectionPolicyTagCriteriaClientObject.md
  src/DataProtection/help/New-AzDataProtectionPolicyTriggerScheduleClientObject.md
  src/DataProtection/help/New-AzDataProtectionRetentionLifeCycleClientObject.md
  src/DataProtection/help/Remove-AzDataProtectionBackupInstance.md
  src/DataProtection/help/Remove-AzDataProtectionBackupPolicy.md
  src/DataProtection/help/Remove-AzDataProtectionBackupVault.md
  src/DataProtection/help/Search-AzDataProtectionBackupInstanceInAzGraph.md
  src/DataProtection/help/Search-AzDataProtectionJobInAzGraph.md
  src/DataProtection/help/Start-AzDataProtectionBackupInstanceRestore.md
  src/DataProtection/help/Update-AzDataProtectionBackupInstanceAssociatedPolicy.md
  src/DataProtection/help/Update-AzDataProtectionBackupVault.md
Due: none

Split Az.DataProtection Examples
  src/DataProtection/help/Get-AzDataProtectionBackupInstance.md
  src/DataProtection/help/Get-AzDataProtectionBackupVault.md
Due: none

Update pipeline
  .azure-pipelines/util/test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

Split Az.DataShare Examples
  src/DataShare/DataShare/help/Get-AzDataShare.md
  src/DataShare/DataShare/help/Get-AzDataShareAccount.md
  src/DataShare/DataShare/help/Get-AzDataShareDataSet.md
  src/DataShare/DataShare/help/Get-AzDataShareDataSetMapping.md
  src/DataShare/DataShare/help/Get-AzDataShareInvitation.md
  src/DataShare/DataShare/help/Get-AzDataShareProviderShareSubscription.md
  src/DataShare/DataShare/help/Get-AzDataShareReceivedInvitation.md
  src/DataShare/DataShare/help/Get-AzDataShareSourceDataSet.md
  src/DataShare/DataShare/help/Get-AzDataShareSubscription.md
  src/DataShare/DataShare/help/Get-AzDataShareSubscriptionSynchronization.md
  src/DataShare/DataShare/help/Get-AzDataShareSubscriptionSynchronizationDetail.md
  src/DataShare/DataShare/help/Get-AzDataShareSynchronization.md
  src/DataShare/DataShare/help/Get-AzDataShareSynchronizationDetail.md
  src/DataShare/DataShare/help/Get-AzDataShareSynchronizationSetting.md
  src/DataShare/DataShare/help/Get-AzDataShareTrigger.md
  src/DataShare/DataShare/help/Grant-AzDataShareSubscriptionAccess.md
  src/DataShare/DataShare/help/New-AzDataShare.md
  src/DataShare/DataShare/help/New-AzDataShareAccount.md
  src/DataShare/DataShare/help/New-AzDataShareDataSet.md
  src/DataShare/DataShare/help/New-AzDataShareDataSetMapping.md
  src/DataShare/DataShare/help/New-AzDataShareInvitation.md
  src/DataShare/DataShare/help/New-AzDataShareSubscription.md
  src/DataShare/DataShare/help/New-AzDataShareSynchronizationSetting.md
  src/DataShare/DataShare/help/New-AzDataShareTrigger.md
  src/DataShare/DataShare/help/Remove-AzDataShare.md
  src/DataShare/DataShare/help/Remove-AzDataShareAccount.md
  src/DataShare/DataShare/help/Remove-AzDataShareDataSet.md
  src/DataShare/DataShare/help/Remove-AzDataShareDataSetMapping.md
  src/DataShare/DataShare/help/Remove-AzDataShareInvitation.md
  src/DataShare/DataShare/help/Remove-AzDataShareSubscription.md
  src/DataShare/DataShare/help/Remove-AzDataShareSynchronizationSetting.md
  src/DataShare/DataShare/help/Remove-AzDataShareTrigger.md
  src/DataShare/DataShare/help/Revoke-AzDataShareSubscriptionAccess.md
  src/DataShare/DataShare/help/Set-AzDataShare.md
  src/DataShare/DataShare/help/Start-AzDataShareSubscriptionSynchronization.md
  src/DataShare/DataShare/help/Stop-AzDataShareSubscriptionSynchronization.md
Due: none

Split Az.DedicatedHsm Examples
  src/DedicatedHsm/help/Get-AzDedicatedHsm.md
  src/DedicatedHsm/help/Remove-AzDedicatedHsm.md
  src/DedicatedHsm/help/Update-AzDedicatedHsm.md
Due: none

Split Az.DedicatedHsm Examples in generation
  src/DedicatedHsm/docs/Get-AzDedicatedHsm.md
  src/DedicatedHsm/docs/New-AzDedicatedHsm.md
  src/DedicatedHsm/docs/Remove-AzDedicatedHsm.md
  src/DedicatedHsm/docs/Update-AzDedicatedHsm.md
  src/DedicatedHsm/examples/Get-AzDedicatedHsm.md
  src/DedicatedHsm/examples/New-AzDedicatedHsm.md
  src/DedicatedHsm/examples/Remove-AzDedicatedHsm.md
  src/DedicatedHsm/examples/Update-AzDedicatedHsm.md
Due: none

Added code changes for inbound endpoint and outbound endpoint
  src/DnsResolver/.gitignore
  src/DnsResolver/Az.DnsResolver.psd1
  src/DnsResolver/README.md
  src/DnsResolver/custom/README.md
  src/DnsResolver/docs/Get-AzDnsForwardingRuleset.md
  src/DnsResolver/docs/New-AzDnsResolverInboundEndpoint.md
  src/DnsResolver/docs/New-AzDnsResolverOutboundEndpoint.md
  src/DnsResolver/docs/README.md
  src/DnsResolver/docs/Update-AzDnsResolverInboundEndpoint.md
  src/DnsResolver/docs/Update-AzDnsResolverOutboundEndpoint.md
  src/DnsResolver/how-to.md
  src/DnsResolver/resources/specification/dnsresolver/resource-manager/Microsoft.Network/preview/2020-04-01-preview/dnsresolver.json
  src/DnsResolver/test/loadEnv.ps1
Due: none

Split Az.DeploymentManager Examples
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerArtifactSource.md
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerRollout.md
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerService.md
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerServiceTopology.md
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerServiceUnit.md
  src/DeploymentManager/DeploymentManager/help/Get-AzDeploymentManagerStep.md
  src/DeploymentManager/DeploymentManager/help/New-AzDeploymentManagerArtifactSource.md
  src/DeploymentManager/DeploymentManager/help/New-AzDeploymentManagerService.md
  src/DeploymentManager/DeploymentManager/help/New-AzDeploymentManagerServiceTopology.md
  src/DeploymentManager/DeploymentManager/help/New-AzDeploymentManagerServiceUnit.md
  src/DeploymentManager/DeploymentManager/help/New-AzDeploymentManagerStep.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerArtifactSource.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerRollout.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerService.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerServiceTopology.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerServiceUnit.md
  src/DeploymentManager/DeploymentManager/help/Remove-AzDeploymentManagerStep.md
  src/DeploymentManager/DeploymentManager/help/Restart-AzDeploymentManagerRollout.md
  src/DeploymentManager/DeploymentManager/help/Set-AzDeploymentManagerArtifactSource.md
  src/DeploymentManager/DeploymentManager/help/Set-AzDeploymentManagerService.md
  src/DeploymentManager/DeploymentManager/help/Set-AzDeploymentManagerServiceTopology.md
  src/DeploymentManager/DeploymentManager/help/Set-AzDeploymentManagerServiceUnit.md
  src/DeploymentManager/DeploymentManager/help/Set-AzDeploymentManagerStep.md
  src/DeploymentManager/DeploymentManager/help/Stop-AzDeploymentManagerRollout.md
Due: none

c
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

initial command impl
  src/Sql/Sql.Test/ScenarioTests/ServerTrustCertificateTests.cs
  src/Sql/Sql.Test/ScenarioTests/ServerTrustCertificateTests.ps1
  src/Sql/Sql/Az.Sql.psd1
  src/Sql/Sql/ManagedInstance/Model/AzureSqlManagedInstanceModel.cs
  src/Sql/Sql/ManagedInstance/Services/AzureSqlManagedInstanceAdapter.cs
  src/Sql/Sql/ManagedInstanceHybridLink/Cmdlet/GetAzureSqlManagedInstanceLink.cs
  src/Sql/Sql/ManagedInstanceHybridLink/Cmdlet/NewAzureSqlManagedInstanceLink.cs
  src/Sql/Sql/ManagedInstanceHybridLink/Cmdlet/RemoveAzureSqlManagedInstanceLink.cs
  src/Sql/Sql/Properties/Resources.Designer.cs
  src/Sql/Sql/Properties/Resources.resx
  src/Sql/Sql/Server/Services/AzureSqlServerAdapter.cs
  src/Sql/Sql/ServerTrustCertificate/Cmdlet/GetAzureSqlInstanceServerTrustCertificate.cs
  src/Sql/Sql/ServerTrustCertificate/Cmdlet/NewAzureSqlInstanceServerTrustCertificate.cs
  src/Sql/Sql/ServerTrustCertificate/Cmdlet/RemoveAzureSqlInstanceServerTrustCertificate.cs
  src/Sql/Sql/TransparentDataEncryption/Cmdlet/AzureSqlDatabaseTransparentDataEncryptionActivityCmdletBase.cs
  src/Sql/Sql/TransparentDataEncryption/Cmdlet/GetAzureSqlDatabaseTransparentDataEncryptionActivity.cs
  src/Sql/Sql/TransparentDataEncryption/Model/AzureSqlDatabaseTransparentDataEncryptionActivityModel.cs
  src/Sql/Sql/TransparentDataEncryption/Services/AzureSqlDatabaseTransparentDataEncryptionAdapter.cs
  src/Sql/Sql/TransparentDataEncryption/Services/AzureSqlDatabaseTransparentDataEncryptionCommunicator.cs
Due: none

Use public swagger link in README.md
  src/DnsResolver/README.md
Due: none

Work around the bug in PowerShell event subscriber.
  tools/Az.Tools.Predictor/Az.Tools.Predictor.Test/Mocks/MockPowerShellRuntime.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/AzPredictorConstants.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/AzPredictorSurveyHelper.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Utilities/IPowerShellRuntime.cs
  tools/Az.Tools.Predictor/Az.Tools.Predictor/Utilities/PowerShellRuntime.cs
  tools/Az.Tools.Predictor/MockPSConsole/MockPSHost.cs
  tools/Az.Tools.Predictor/MockPSConsole/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Change image registry credntial to only fill when included in request
  src/ContainerInstance/custom/New-AzContainerGroupImageRegistryCredentialObject.ps1
Due: none

Add docs
  src/Resources/Authorization.Autorest/docs/Az.Resources.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleAssignmentSchedule.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleAssignmentScheduleInstance.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleEligibilitySchedule.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleEligibilityScheduleInstance.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleEligibleChildResource.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleManagementPolicy.md
  src/Resources/Authorization.Autorest/docs/Get-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/docs/New-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/New-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/New-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/docs/Remove-AzRoleManagementPolicy.md
  src/Resources/Authorization.Autorest/docs/Remove-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/docs/Stop-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/Stop-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/docs/Update-AzRoleManagementPolicy.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleAssignmentSchedule.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleAssignmentScheduleInstance.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleEligibilitySchedule.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleEligibilityScheduleInstance.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleEligibleChildResource.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleManagementPolicy.md
  src/Resources/Authorization.Autorest/examples/Get-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/examples/New-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/New-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/New-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/examples/Remove-AzRoleManagementPolicy.md
  src/Resources/Authorization.Autorest/examples/Remove-AzRoleManagementPolicyAssignment.md
  src/Resources/Authorization.Autorest/examples/Stop-AzRoleAssignmentScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/Stop-AzRoleEligibilityScheduleRequest.md
  src/Resources/Authorization.Autorest/examples/Update-AzRoleManagementPolicy.md
Due: none

Removed shouldprocess from new-azeventhubencryptionconfig
  src/ServiceBus/ServiceBus/Cmdlets/Namespace/NewKeyVaultPropertyObject.cs
Due: none
