Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

check whether assemblyinfo existed before modifying it
  tools/BuildScripts/AdaptAutorestModule.ps1
  tools/BuildScripts/BuildScripts.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[eng] Split dotnet reference docs into two repos (#26308)
  tools/Docs/GenerateDotNetCsv.ps1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update CredScanSuppressions.json
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

adapt
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/docs/Az.ConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/generate-info.json
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/resources/README.md
  src/ConnectedKubernetes/ConnectedKubernetes.sln
  src/ConnectedKubernetes/ConnectedKubernetes/Az.ConnectedKubernetes.psd1
  src/ConnectedKubernetes/ConnectedKubernetes/help/Get-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Get-AzConnectedKubernetesUserCredential.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/New-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Remove-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Set-AzConnectedKubernetes.md
  src/ConnectedKubernetes/ConnectedKubernetes/help/Update-AzConnectedKubernetes.md
Due: none

Update README.md
  src/Resources/MSGraph.Autorest/README.md
Due: none

add Microsoft.Azure.PowerShell.Billing.Management.Sdk
  src/Billing/Billing.Test/Billing.Test.csproj
  src/Billing/Billing.sln
  src/Billing/Billing/Billing.csproj
Due: none

Update ChangeLog.md
  src/Billing/Billing/ChangeLog.md
Due: none

Update ChangeLog.md
  src/ConnectedKubernetes/ConnectedKubernetes/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch
  tools/Docs/GenerateDotNetCsv.ps1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Create Export-AzRedisCache-2.md
  src/RedisCache/RedisCache/help/src/RedisCache/RedisCache/help/Export-AzRedisCache-2.md
Due: none

Update Export-AzRedisCache-2.md
  src/RedisCache/RedisCache/help/src/RedisCache/RedisCache/help/Export-AzRedisCache-2.md
Due: none

Liftr Elastic PS cmdlets for stable version 2024-03-01
  src/Elastic/Elastic.Autorest/README.md
  src/Elastic/Elastic.Autorest/docs/Update-AzElasticMonitor.md
  src/Elastic/Elastic.Autorest/docs/Update-AzElasticVMCollection.md
  src/Elastic/Elastic.Autorest/test/env.json
Due: none

fix child module path when add to sln
  tools/BuildScripts/AdaptAutorestModule.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix submodule csproj path
  src/Communication/Communication.sln
  src/Monitor/Monitor.sln
  src/Resources/Resources.sln
Due: none

Update ConnectedKubernetes.sln
  src/ConnectedKubernetes/ConnectedKubernetes.sln
Due: none

adapt
  src/Resources/Policy.Autorest/Properties/AssemblyInfo.cs
  src/Resources/Policy.Autorest/docs/Az.Policy.md
  src/Resources/Policy.Autorest/generate-info.json
  src/Resources/Policy.Autorest/resources/README.md
  src/Resources/Resources.sln
  src/Resources/Resources/Az.Resources.psd1
  src/Resources/Resources/ChangeLog.md
  src/Resources/Resources/help/Add-AzADGroupMember.md
  src/Resources/Resources/help/Get-AzADAppCredential.md
  src/Resources/Resources/help/Get-AzADAppFederatedCredential.md
  src/Resources/Resources/help/Get-AzADGroupMember.md
  src/Resources/Resources/help/Get-AzADServicePrincipal.md
  src/Resources/Resources/help/Get-AzADSpCredential.md
  src/Resources/Resources/help/New-AzADAppCredential.md
  src/Resources/Resources/help/New-AzADApplication.md
  src/Resources/Resources/help/New-AzADServicePrincipal.md
  src/Resources/Resources/help/New-AzADSpCredential.md
  src/Resources/Resources/help/Remove-AzADAppCredential.md
  src/Resources/Resources/help/Remove-AzADApplication.md
  src/Resources/Resources/help/Remove-AzADGroup.md
  src/Resources/Resources/help/Remove-AzADGroupMember.md
  src/Resources/Resources/help/Remove-AzADServicePrincipal.md
  src/Resources/Resources/help/Remove-AzADSpCredential.md
  src/Resources/Resources/help/Remove-AzADUser.md
  src/Resources/Resources/help/Update-AzADApplication.md
  src/Resources/Resources/help/Update-AzADServicePrincipal.md
  src/Resources/Resources/help/Update-AzADUser.md
Due: none

Bump up version for ConnectedMachine
  NuGet.Config
  src/ConnectedMachine/ConnectedMachine.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedMachine/ConnectedMachine/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
  src/ConnectedMachine/ConnectedMachine/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/NugetAuth/OneBranchNuget.Config
  tools/NugetAuth/ReplaceOneBranchConfig.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix upgraderedisDb cmdlet (#26142)
  src/RedisEnterpriseCache/RedisEnterpriseCache.Autorest/README.md
Due: none

adapt
  src/ConnectedMachine/ConnectedMachine.Autorest/Properties/AssemblyInfo.cs
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/New-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedLicense.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedMachineExtension.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Set-AzConnectedPrivateLinkScope.md
  src/ConnectedMachine/ConnectedMachine.Autorest/docs/Update-AzConnectedPrivateLinkScopeTag.md
  src/ConnectedMachine/ConnectedMachine.Autorest/generate-info.json
  src/ConnectedMachine/ConnectedMachine.Autorest/installationlog.txt
  src/ConnectedMachine/ConnectedMachine.Autorest/resources/README.md
  src/ConnectedMachine/ConnectedMachine.sln
  src/ConnectedMachine/ConnectedMachine/Az.ConnectedMachine.psd1
  src/ConnectedMachine/ConnectedMachine/ChangeLog.md
  src/ConnectedMachine/ConnectedMachine/help/Az.ConnectedMachine.md
  src/ConnectedMachine/ConnectedMachine/help/Get-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine/help/Invoke-AzConnectedReconcileNetworkSecurityPerimeterConfiguration.md
  src/ConnectedMachine/ConnectedMachine/help/New-AzConnectedMachineRunCommand.md
  src/ConnectedMachine/ConnectedMachine/help/Update-AzConnectedMachineRunCommand.md
Due: none

Liftr Elastic PS cmdlets for stable version 2024-03-01
  src/Elastic/Elastic.Autorest/docs/Update-AzElasticDetachTrafficFilter.md
  src/Elastic/Elastic.Autorest/examples/Get-AzElasticConnectedPartnerResource.md
  src/Elastic/Elastic.Autorest/examples/Update-AzElasticDetachTrafficFilter.md
Due: none

Liftr Elastic PS cmdlets for stable version 2024-03-01
  src/Elastic/Elastic.Autorest/docs/Get-AzElasticConnectedPartnerResource.md
Due: none

Update ChangeLog.md
  src/Resources/Resources/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch (#26312)
  tools/Docs/GenerateDotNetCsv.ps1
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/SecurityTools/CredScanSuppressions.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update ChangeLog.md
  src/RedisEnterpriseCache/RedisEnterpriseCache/ChangeLog.md
Due: none

Update ChangeLog.md
  src/Monitor/Monitor/ChangeLog.md
Due: none

Update security section in SECURITY.md
  SECURITY.md
Due: none

rename test group
  src/AksArc/AksArc.Autorest/custom/Remove-AzAksArcCluster.ps1
  src/AksArc/AksArc.Autorest/test/AzAksArcCluster.Recording.json
  src/AksArc/AksArc.Autorest/test/env.json
  src/AksArc/AksArc.Autorest/test/envVariables.json
  src/AksArc/AksArc.Autorest/test/localEnv.json
Due: none

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update for SA command
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.cs
  src/Network/Network/help/New-AzNetworkManagerSecurityAdminConfiguration.md
Due: none

redact secrets
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetSkuProfile.json
Due: none
