Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Sync resourceManagement.yml (#27202)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Update ChangeLog for cmdlet property changes
  src/Network/Network/ChangeLog.md
Due: none

Pushed help folder
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/UX/Microsoft.DataReplication/replicationFabrics.json
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/Az.Migrate.psd1
  src/Migrate/Migrate/help/Get-AzMigrateLocalJob.md
  src/Migrate/Migrate/help/Get-AzMigrateLocalReplicationFabric.md
  src/Migrate/Migrate/help/Get-AzMigrateLocalServerReplication.md
  src/Migrate/Migrate/help/Initialize-AzMigrateLocalReplicationInfrastructure.md
  src/Migrate/Migrate/help/New-AzMigrateLocalDiskMappingObject.md
  src/Migrate/Migrate/help/New-AzMigrateLocalNicMappingObject.md
  src/Migrate/Migrate/help/New-AzMigrateLocalServerReplication.md
  src/Migrate/Migrate/help/Remove-AzMigrateLocalServerReplication.md
  src/Migrate/Migrate/help/Set-AzMigrateLocalServerReplication.md
  src/Migrate/Migrate/help/Start-AzMigrateLocalServerMigration.md
Due: none

Replaced path to online repo
  src/Migrate/Migrate.Autorest/README.md
Due: none

Update New-AzDataMigrationSqlServerSchema.ps1
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationSqlServerSchema.ps1
Due: none

Update URL for console app version check
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationSqlServerSchema.ps1
Due: none

add support for PartnerManagedResource
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSNetworkVirtualAppliancePartnerManagedResourceProperties.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
Due: none

add UT
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.cs
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkVirtualApplianceTests/TestSaasNetworkVirtualApplianceGet.json
Due: none

update help and changeLog
  src/Network/Network/ChangeLog.md
  src/Network/Network/help/Get-AzNetworkVirtualAppliance.md
Due: none

add missing properties
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
Due: none

Updated autorest readme
  src/Migrate/Migrate.Autorest/README.md
Due: none

Update ChangeLog.md
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

Allow log to file when check code sign
  tools/CheckSignature.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update Sql schema migration and version package to new url (#27203)
  src/DataMigration/DataMigration.Autorest/custom/Cmdlets/New-AzDataMigrationSqlServerSchema.ps1
  src/DataMigration/DataMigration/ChangeLog.md
Due: none

Rebranding
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.Autorest/resources/README.md
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/Az.Migrate.psd1
  src/Migrate/Migrate/help/Get-AzMigrateDiscoveredServer.md
  src/Migrate/Migrate/help/Get-AzMigrateJob.md
  src/Migrate/Migrate/help/Get-AzMigrateProject.md
  src/Migrate/Migrate/help/Get-AzMigrateReplicationFabric.md
  src/Migrate/Migrate/help/Get-AzMigrateReplicationPolicy.md
  src/Migrate/Migrate/help/Get-AzMigrateReplicationProtectionContainer.md
  src/Migrate/Migrate/help/Get-AzMigrateReplicationProtectionContainerMapping.md
  src/Migrate/Migrate/help/Get-AzMigrateReplicationRecoveryServicesProvider.md
  src/Migrate/Migrate/help/Get-AzMigrateRunAsAccount.md
  src/Migrate/Migrate/help/Get-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/Get-AzMigrateSite.md
  src/Migrate/Migrate/help/Get-AzMigrateSolution.md
  src/Migrate/Migrate/help/Initialize-AzMigrateReplicationInfrastructure.md
  src/Migrate/Migrate/help/New-AzMigrateDiskMapping.md
  src/Migrate/Migrate/help/New-AzMigrateNicMapping.md
  src/Migrate/Migrate/help/New-AzMigrateProject.md
  src/Migrate/Migrate/help/New-AzMigrateReplicationPolicy.md
  src/Migrate/Migrate/help/New-AzMigrateReplicationProtectionContainerMapping.md
  src/Migrate/Migrate/help/New-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/New-AzMigrateTestNicMapping.md
  src/Migrate/Migrate/help/Register-AzMigrateProjectTool.md
  src/Migrate/Migrate/help/Remove-AzMigrateProject.md
  src/Migrate/Migrate/help/Remove-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/Restart-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/Resume-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/Set-AzMigrateDiskMapping.md
  src/Migrate/Migrate/help/Set-AzMigrateServerReplication.md
  src/Migrate/Migrate/help/Start-AzMigrateServerMigration.md
  src/Migrate/Migrate/help/Start-AzMigrateTestMigration.md
  src/Migrate/Migrate/help/Start-AzMigrateTestMigrationCleanup.md
  src/Migrate/Migrate/help/Suspend-AzMigrateServerReplication.md
Due: none

update artifact to 1.0.0-preview.21
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Synapse.csproj
Due: none

Added ChangeLog
  src/Migrate/Migrate/ChangeLog.md
Due: none

Changelog
  src/Migrate/Migrate/ChangeLog.md
Due: none

Update ChangeLog formatting and entries
  src/Migrate/Migrate/ChangeLog.md
Due: none

suppress dimensions
  tools/StaticAnalysis/Exceptions/Az.CosmosDB/SignatureIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add GA PowerShell module for Workloads's 2024-09-01 API to ChangeLog
  src/Workloads/Workloads/ChangeLog.md
Due: none

Run some tests liveonly
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Initialize-AzMigrateLocalReplicationInfrastructure.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Set-AzMigrateLocalServerReplication.Tests.ps1
Due: none

Create BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Migrate/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove locations.json file from SAP Virtual Instance Autorest
  src/Workloads/SapVirtualInstance.Autorest/UX/Microsoft.Workloads/locations.json
Due: none

Revert "Fix access token cache issue (#27050)"
  documentation/testing-docs/using-azure-test-framework.md
  src/Attestation/Attestation.Test/ScenarioTests/AttestationTestRunner.cs
  src/DataLakeStore/DataLakeStore.Test/ScenarioTests/DataLakeStoreTestRunner.cs
  src/Network/Network.Test/ScenarioTests/NetworkTestRunner.cs
  src/Synapse/Synapse.Test/ScenarioTests/SynapseTestRunner.cs
  tools/Modules/TestFx-Tasks.psm1
  tools/TestFx/DelegatingHandlers/HttpMockServer.cs
  tools/TestFx/DelegatingHandlers/ResourceCleanerDelegatingHandler.cs
  tools/TestFx/EnvironmentSetupHelper.cs
  tools/TestFx/Mocks/MockClientFactory.cs
  tools/TestFx/Mocks/MockContext.cs
  tools/TestFx/TestEnvironment.cs
  tools/TestFx/TestEnvironmentFactory.cs
  tools/TestFx/TestManager.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update package references for Microsoft.PowerShell.SDK and Microsoft.Windows.Compatibility to resolve vulnerability for System.IO.Packaging
  tools/Az.nonprod.props
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Network] Update partner managed resources in GET call (#27204)
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.cs
  src/Network/Network.Test/ScenarioTests/NetworkVirtualApplianceTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkVirtualApplianceTests/TestSaasNetworkVirtualApplianceGet.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/Common/NetworkResourceManagerProfile.cs
  src/Network/Network/Models/PSNetworkVirtualAppliance.cs
  src/Network/Network/Models/PSNetworkVirtualAppliancePartnerManagedResourceProperties.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/Network.generated.format.ps1xml
  src/Network/Network/help/Get-AzNetworkVirtualAppliance.md
Due: none

[Synapse] Update artifact to 1.0.0-preview.21 (#27208)
  src/Synapse/Synapse/ChangeLog.md
  src/Synapse/Synapse/Synapse.csproj
Due: none

first pass
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.cs
  src/Compute/Compute.Test/ScenarioTests/GalleryTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.GalleryTests/testgenupdateazgalleryimageversion.json
  src/Compute/Compute/Generated/GalleryImageVersion/GalleryImageVersionCreateOrUpdateMethod.cs
  src/Compute/Compute/Generated/Models/PSGalleryImageVersion.cs
Due: none

Try to fix subnet outbound error
  src/Network/Network.Test/ScenarioTests/VirtualNetworkTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringCRUD.json
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.VirtualNetworkTests/TestSubnetPeeringSyncCRUD.json
Due: none

update test recording
  src/TrustedSigning/TrustedSigning.Autorest/Properties/AssemblyInfo.cs
  src/TrustedSigning/TrustedSigning.Autorest/docs/Az.TrustedSigning.md
  src/TrustedSigning/TrustedSigning.Autorest/generate-info.json
  src/TrustedSigning/TrustedSigning.Autorest/test/Get-AzTrustedSigningAccount.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/New-AzTrustedSigningAccount.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/New-AzTrustedSigningCertificateProfile.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/Remove-AzTrustedSigningAccount.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/Remove-AzTrustedSigningCertificateProfile.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/Test-AzTrustedSigningAccountNameAvailability.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/Update-AzTrustedSigningAccount.Recording.json
  src/TrustedSigning/TrustedSigning.Autorest/test/env.json
  src/TrustedSigning/TrustedSigning.Autorest/test/localEnv.json
  src/TrustedSigning/TrustedSigning.sln
  src/TrustedSigning/TrustedSigning/Az.TrustedSigning.psd1
Due: none
