Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Update ChangeLog.md
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

Add local build of common lib
  tools/Common.Netcore.Dependencies.targets
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Authentication.Abstractions.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Aks.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Authorization.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Compute.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Graph.Rbac.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.KeyVault.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Monitor.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Network.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.PolicyInsights.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.ResourceManager.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Storage.Management.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Clients.Websites.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Common.Share.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Storage.1.0.0-preview.snupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.nupkg
  tools/LocalFeed/Microsoft.Azure.PowerShell.Strategies.1.0.0-preview.snupkg
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Change encoding of /Az.Security.psd1 to utf8
  src/Security/Security/Az.Security.psd1
Due: none

ChangeLog.md for #24199 (#24248)
  src/CosmosDB/CosmosDB/ChangeLog.md
Due: none

storage path test
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMStoragePath.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/envVariables.json
Due: none

disk recording
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualHardDisks.Recording.json
Due: none

updating env variables
  src/StackHCIVM/StackHCIVM.Autorest/test/env.json
  src/StackHCIVM/StackHCIVM.Autorest/test/envVariables.json
Due: none

logical network test
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMLogicalNetwork.Recording.json
Due: none

nic test
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMNetworkInterface.Recording.json
Due: none

fixing networkinterface test
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMNetworkInterface.Tests.ps1
Due: none

vm test
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMVirtualMachine.Tests.ps1
Due: none

Update code-gen.yml
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fixing image test
  src/StackHCIVM/StackHCIVM.Autorest/custom/New-AzStackHCIVMImage.ps1
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Recording.json
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Tests.ps1
Due: none

image recording
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Recording.json
Due: none

Move Aks to dolauli-patch-1
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks/Az.Aks.psd1
  src/Aks/Aks/help/Disable-AzAksAddOn.md
  src/Aks/Aks/help/Enable-AzAksAddOn.md
  src/Aks/Aks/help/Get-AzAksCluster.md
  src/Aks/Aks/help/Get-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Get-AzAksManagedClusterCommandResult.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOSOption.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOutboundNetworkDependencyEndpoint.md
  src/Aks/Aks/help/Get-AzAksNodePool.md
  src/Aks/Aks/help/Get-AzAksNodePoolUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksSnapshot.md
  src/Aks/Aks/help/Get-AzAksUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksVersion.md
  src/Aks/Aks/help/Import-AzAksCredential.md
  src/Aks/Aks/help/Install-AzAksCliTool.md
  src/Aks/Aks/help/Invoke-AzAksAbortAgentPoolLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksAbortManagedClusterLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksRotateManagedClusterServiceAccountSigningKey.md
  src/Aks/Aks/help/Invoke-AzAksRunCommand.md
  src/Aks/Aks/help/New-AzAksCluster.md
  src/Aks/Aks/help/New-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/New-AzAksNodePool.md
  src/Aks/Aks/help/New-AzAksSnapshot.md
  src/Aks/Aks/help/New-AzAksTimeInWeekObject.md
  src/Aks/Aks/help/New-AzAksTimeSpanObject.md
  src/Aks/Aks/help/Remove-AzAksCluster.md
  src/Aks/Aks/help/Remove-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Remove-AzAksNodePool.md
  src/Aks/Aks/help/Remove-AzAksSnapshot.md
  src/Aks/Aks/help/Set-AzAksCluster.md
  src/Aks/Aks/help/Set-AzAksClusterCredential.md
  src/Aks/Aks/help/Start-AzAksCluster.md
  src/Aks/Aks/help/Start-AzAksDashboard.md
  src/Aks/Aks/help/Start-AzAksManagedClusterCommand.md
  src/Aks/Aks/help/Stop-AzAksCluster.md
  src/Aks/Aks/help/Stop-AzAksDashboard.md
  src/Aks/Aks/help/Update-AzAksNodePool.md
Due: none

Sync tools folder from main branch to generation branch (#24247)
  tools/StaticAnalysis/Exceptions/Az.Resources/GeneratedSdkIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update code-gen.yml (#24251)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fixing image
  src/StackHCIVM/StackHCIVM.Autorest/custom/New-AzStackHCIVMImage.ps1
  src/StackHCIVM/StackHCIVM.Autorest/test/AzStackHCIVMImageNew.Recording.json
Due: none

1 out of 7 fixed
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.MongoOperationsTests/TestMongoInAccountRestoreOperationsNoTimestampCmdlets.json
Due: none

Update ChangeLog.md
  src/Compute/Compute/ChangeLog.md
Due: none

fix
  src/StackHCIVM/StackHCIVM.Autorest/custom/New-AzStackHCIVMImage.ps1
Due: none

Move Aks to wyunchi-ms-patch-2
  src/Aks/Aks.Autorest/README.md
  src/Aks/Aks/Az.Aks.psd1
  src/Aks/Aks/help/Disable-AzAksAddOn.md
  src/Aks/Aks/help/Enable-AzAksAddOn.md
  src/Aks/Aks/help/Get-AzAksCluster.md
  src/Aks/Aks/help/Get-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Get-AzAksManagedClusterCommandResult.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOSOption.md
  src/Aks/Aks/help/Get-AzAksManagedClusterOutboundNetworkDependencyEndpoint.md
  src/Aks/Aks/help/Get-AzAksNodePool.md
  src/Aks/Aks/help/Get-AzAksNodePoolUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksSnapshot.md
  src/Aks/Aks/help/Get-AzAksUpgradeProfile.md
  src/Aks/Aks/help/Get-AzAksVersion.md
  src/Aks/Aks/help/Import-AzAksCredential.md
  src/Aks/Aks/help/Install-AzAksCliTool.md
  src/Aks/Aks/help/Invoke-AzAksAbortAgentPoolLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksAbortManagedClusterLatestOperation.md
  src/Aks/Aks/help/Invoke-AzAksRotateManagedClusterServiceAccountSigningKey.md
  src/Aks/Aks/help/Invoke-AzAksRunCommand.md
  src/Aks/Aks/help/New-AzAksCluster.md
  src/Aks/Aks/help/New-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/New-AzAksNodePool.md
  src/Aks/Aks/help/New-AzAksSnapshot.md
  src/Aks/Aks/help/New-AzAksTimeInWeekObject.md
  src/Aks/Aks/help/New-AzAksTimeSpanObject.md
  src/Aks/Aks/help/Remove-AzAksCluster.md
  src/Aks/Aks/help/Remove-AzAksMaintenanceConfiguration.md
  src/Aks/Aks/help/Remove-AzAksNodePool.md
  src/Aks/Aks/help/Remove-AzAksSnapshot.md
  src/Aks/Aks/help/Set-AzAksCluster.md
  src/Aks/Aks/help/Set-AzAksClusterCredential.md
  src/Aks/Aks/help/Start-AzAksCluster.md
  src/Aks/Aks/help/Start-AzAksDashboard.md
  src/Aks/Aks/help/Start-AzAksManagedClusterCommand.md
  src/Aks/Aks/help/Stop-AzAksCluster.md
  src/Aks/Aks/help/Stop-AzAksDashboard.md
  src/Aks/Aks/help/Update-AzAksNodePool.md
Due: none

Sync tools folder from main branch to generation branch (#24255)
  .azure-pipelines/code-gen.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

readme.md file root-module-name changes
  src/Communication/EmailService.Autorest/README.md
  src/Communication/EmailService.Autorest/UX/Microsoft.Communication/emailServices-domains-senderUsernames.json
  src/Communication/EmailService.Autorest/UX/Microsoft.Communication/emailServices-domains.json
  src/Communication/EmailService.Autorest/UX/Microsoft.Communication/emailServices.json
  src/Communication/EmailService.Autorest/docs/Get-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/Get-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/Get-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/docs/Invoke-AzEmailServiceInitiateDomainVerification.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/docs/Remove-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/Remove-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/Remove-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/docs/Stop-AzEmailServiceDomainVerification.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailServiceSenderUsername.md
Due: none

Resolved issue with soft delete always on Updated help docs Updated ChangeLog Updated resx Added test cases
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.Designer.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.resx
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/IaasVmPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/IaasVm/PolicyTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureVaultSoftDelete.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureVMCrashconsistentPolicy.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/ProtectionPolicy/NewAzureRmRecoveryServicesBackupProtectionPolicy.cs
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/ProtectionPolicy/SetAzureRmRecoveryServicesBackupProtectionPolicy.cs
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Vault/SetAzureRmRecoveryServicesVaultProperty.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/help/New-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices/help/Set-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices/help/Set-AzRecoveryServicesVaultProperty.md
Due: none

removed progressAction
  src/RecoveryServices/RecoveryServices/help/New-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices/help/Set-AzRecoveryServicesBackupProtectionPolicy.md
  src/RecoveryServices/RecoveryServices/help/Set-AzRecoveryServicesVaultProperty.md
Due: none

Update ChangeLog.md (#24257)
  src/Compute/Compute/ChangeLog.md
Due: none

Updated examples
  src/Communication/EmailService.Autorest/docs/Get-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/Get-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/Get-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/New-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailService.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/docs/Update-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/examples/Get-AzEmailService.md
  src/Communication/EmailService.Autorest/examples/Get-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/examples/Get-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/examples/New-AzEmailService.md
  src/Communication/EmailService.Autorest/examples/New-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/examples/New-AzEmailServiceSenderUsername.md
  src/Communication/EmailService.Autorest/examples/Update-AzEmailService.md
  src/Communication/EmailService.Autorest/examples/Update-AzEmailServiceDomain.md
  src/Communication/EmailService.Autorest/examples/Update-AzEmailServiceSenderUsername.md
Due: none

comment
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
Due: none

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
