Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

Fix Sql scenario test random failure issue
  src/Sql/Sql.Test/ScenarioTests/DistributedAvailabilityGroupTests.ps1
  src/Sql/Sql.Test/ScenarioTests/ElasticJobPrivateEndpointCrudTests.ps1
Due: none

remove customIMDS script
  src/StackHCI/custom/stackhci.ps1
Due: none

Sync resourceManagement.yml (#23171)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Change the structure of Az.StackHCI
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

update
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix the bug that if not adding label ”Service Attention" and label [Service Team], the bot will also comment if these labels already exist
  tools/Github/ParseServiceContactsList.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove extra line
  src/StackHCI/custom/stackhci.ps1
Due: none

Typo "a Azure"→"an Azure"
  src/Resources/Resources/help/New-AzResourceLock.md
Due: none

Updated examples with PR fixes
  src/DesktopVirtualization/docs/Get-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/docs/Import-AzWvdAppAttachPackageInfo.md
  src/DesktopVirtualization/docs/New-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/docs/Update-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/examples/Get-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/examples/Import-AzWvdAppAttachPackageInfo.md
  src/DesktopVirtualization/examples/New-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/examples/Remove-AzWvdAppAttachPackage.md
  src/DesktopVirtualization/examples/Update-AzWvdAppAttachPackage.md
Due: none

Remove parsing for SnapshotTime
  src/Websites/Websites/Cmdlets/BackupRestore/AzureWebAppSnapshot.cs
  src/Websites/Websites/Cmdlets/BackupRestore/GetAzureWebAppSnapshot.cs
  src/Websites/Websites/Cmdlets/BackupRestore/RestoreAzureWebAppSnapshot.cs
Due: none

fixing most tests, enabling stnd
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachinePIRv2.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachinePiping.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachinePlan.json
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineTests/TestVirtualMachinePlan2.json
  src/Compute/Compute/Generated/VirtualMachineScaleSet/Config/NewAzureRmVmssConfigCommand.cs
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/Manual/VirtualMachineScaleSetCreateOrUpdateMethod.cs
  src/Compute/Compute/VirtualMachine/Config/NewAzureVMConfigCommand.cs
  src/Compute/Compute/VirtualMachine/Config/SetAzureVMSecurityProfile.cs
  src/Compute/Compute/VirtualMachine/Operation/NewAzureVMCommand.cs
Due: none

Typo "a Azure"→"an Azure" (#23235)
  src/Resources/Resources/help/New-AzResourceLock.md
Due: none

Fix the bug that if not adding label ”Service Attention" and label [Service Team], the bot will also comment if these labels already exist (#23232)
  tools/Github/ParseServiceContactsList.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  .azure-pipelines/sync-aliases.yml
  .github/policies/resourceManagement.yml
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/Gen2Master/MoveFromGeneration2Master.ps1
  tools/Github/ParseServiceContactsList.ps1
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
  tools/Tools.Common/SerializedCmdlets/Az.ConnectedKubernetes.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Update docker files to align with those from PowerShell (#23158)
  docker/Dockerfile-alpine-3.16
  docker/Dockerfile-alpine-3.17
  docker/Dockerfile-debian-12
  docker/Dockerfile-ubi-8
  docker/Dockerfile-ubi-9
Due: none

[KeyVault] Supported user assigned identity for MHSM (#23130)
  src/KeyVault/KeyVault.Sdk/Generated/MHSMPrivateEndpointConnectionsOperations.cs
  src/KeyVault/KeyVault.Sdk/Generated/MHSMPrivateLinkResourcesOperations.cs
  src/KeyVault/KeyVault.Sdk/Generated/MHSMRegionsOperations.cs
  src/KeyVault/KeyVault.Sdk/Generated/ManagedHsmsOperations.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedHsm.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedHsmResource.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedServiceIdentity.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/ManagedServiceIdentityType.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/MhsmPrivateLinkResource.cs
  src/KeyVault/KeyVault.Sdk/Generated/Models/UserAssignedIdentity.cs
  src/KeyVault/KeyVault.Sdk/README.md
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.cs
  src/KeyVault/KeyVault.Test/ScenarioTests/ManagedHsmManagementTests.ps1
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestCreateAndUpdateManagedHsmWithPublicNetworkAccess.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmCRUD.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmPurgeProtection.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmSoftDelete.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestManagedHsmWithManagedServiceIdentity.json
  src/KeyVault/KeyVault.Test/SessionRecords/Microsoft.Azure.Commands.KeyVault.Test.ScenarioTests.ManagedHsmManagementTests/TestUndoManagedHsmRemoval.json
  src/KeyVault/KeyVault/ChangeLog.md
  src/KeyVault/KeyVault/Commands/Constants.cs
  src/KeyVault/KeyVault/Commands/ManagedHsm/NewAzKeyVaultManagedHsm.cs
  src/KeyVault/KeyVault/Commands/ManagedHsm/UpdateAzureManagedHsm.cs
  src/KeyVault/KeyVault/KeyVault.format.ps1xml
  src/KeyVault/KeyVault/Models/ManagedHsm/PSManagedHsm.cs
  src/KeyVault/KeyVault/Models/PSManagedServiceIdentity.cs
  src/KeyVault/KeyVault/Models/VaultCreationOrUpdateParameters.cs
  src/KeyVault/KeyVault/Models/VaultManagementClient.cs
  src/KeyVault/KeyVault/help/New-AzKeyVaultManagedHsm.md
  src/KeyVault/KeyVault/help/Update-AzKeyVaultManagedHsm.md
Due: none

Update BreakingChangeIssues.csv
  tools/StaticAnalysis/Exceptions/Az.Network/BreakingChangeIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.hybrid.props, src/Az.autorest.hybrid.v2.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
