Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

.azure-pipelines/sync-tools-folder.yml:

resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - tools
      - src/lib
      
variables:
  GenerationBranchName: generation
  AzureStackBranchName: Azs-tzl
  GithubToken: $(GITHUB_TOKEN)

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}
      AzureStack:
        BranchName: ${{ variables.AzureStackBranchName }}

  steps:
  - task: PowerShell@2
    displayName: Sync branch
    inputs:
      targetType: inline
      script: >-
        ./tools/SyncFromMainBranch.ps1 -BranchName $(BranchName) -GithubToken $(GithubToken)
      pwsh: true

  - pwsh: |
      $Title = "Sync tools code from main branch to $(BranchName) branch"
      $HeadBranch = "syncToolsFolder-$(BranchName)"
      $BaseBranch = "$(BranchName)"
      $Description = "Migrate Sync tools code from main branch to $(BranchName) branch"
      ./tools/Github/CreatePR.ps1 -Title $Title -HeadBranch $HeadBranch -BaseBranch $BaseBranch -BotAccessToken $(GithubToken) -Description $Description
    displayName: Create PR to $(BranchName) branch

.azure-pipelines/util/sync-tools-folder.yml:

# Variable 'BaseBranch' was defined in the Variables tab
# Variable 'ServiceName' was defined in the Variables tab
# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
resources:
  repositories:
  - repository: self
    type: git
    ref: main

pr:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipeline
      - tools
      - src/lib

jobs:
- job: Job_1
  displayName: 'Sync to ${{ parameters.BranchName }}'
  timeoutInMinutes: 90
  pool:
    name: Hosted VS2017
  steps:
  - checkout: self
  - task: PowerShell@2
    displayName: Config git
    inputs:
      targetType: inline
      script: >-
        git config --global user.email "azurepowershell@ms.com"

        git config --global user.name "azurepowershell"

        git checkout ${{ parameters.BranchName }}
      pwsh: true
  - task: PowerShell@2
    displayName: Sync .azure-pipelines folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp .azure-pipelines .azure-pipelines-tmp -r

        rm .azure-pipelines -r

        mv .azure-pipelines-tmp .azure-pipelines

        git add .azure-pipelines
      pwsh: true
  - task: PowerShell@2
    displayName: Sync src/lib folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp src/lib src/lib-tmp -r

        rm src/lib -r

        mv src/lib-tmp src/lib

        git add src/lib
      pwsh: true
  - task: PowerShell@2
    displayName: Sync tools folder from main to ${{ parameters.BranchName }}
    inputs:
      targetType: inline
      script: >-
        #cp tools tools-tmp -r

        rm tools -r

        mv tools-tmp tools

        git add tools

        git commit -m "Sync tools folder from main branch to ${{ parameters.BranchName }} branch"

        git remote set-url origin https://$env:GITHUB_TOKEN@github.com/Azure/azure-powershell.git

        git push origin syncToolsFolder --force
      pwsh: true
...

Support psd1 and help are put in module.Management
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed an issue
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update TestCoverage.cs
  src/Accounts/Authentication/TestCoverage.cs
Due: none

Enabled to set perform snat to always when PrivateRange is set to 255.255.255.255/32
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
Due: none

add scenario test vm
  src/Compute/Compute.Test/LiveTests/TestLiveScenarios.ps1
Due: none

add scenario test Storage
  src/Storage/Storage.Test/LiveTests/TestLiveScenarios.ps1
Due: none

Set up first CI try with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

[Compute] fix linux issue of RunCommand cmdlets (#20613)
  src/Compute/Compute.Autorest/custom/Set-AzVMRunCommand_ScriptLocalPath.ps1
  src/Compute/Compute.Autorest/custom/Set-AzVmssVMRunCommand_ScriptLocalPath.ps1
Due: none

Update src/Network/Network/NetworkSecurityGroup/NewAzureNetworkSecurityGroupCommand.cs
  src/Network/Network/NetworkSecurityGroup/NewAzureNetworkSecurityGroupCommand.cs
Due: none

Update src/Network/Network/help/New-AzNetworkSecurityGroup.md
  src/Network/Network/help/New-AzNetworkSecurityGroup.md
Due: none

Fixed indentation: Used space instead of tabs
  src/Network/Network/Network.format.ps1xml
Due: none

fixed type error in CheckAssemblies.ps1
  tools/CheckAssemblies.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Test OperationalInsights and ResourceGraph
  src/OperationalInsights/OperationalInsights.Test/ScenarioTests/LinkedStorageAccountTests.cs
  src/ResourceGraph/ResourceGraph.Test/ScenarioTests/ResourceGraphQueryTests.cs
Due: none

Add back FormatPs1XmlGenerator
  .ci-config.json
  tools/FormatPs1XmlGenerator/CmdletsForTest/CmdletsForTest.csproj
  tools/FormatPs1XmlGenerator/CmdletsForTest/Dummy.psd1
  tools/FormatPs1XmlGenerator/CmdletsForTest/Models/PsDummyOutput1.cs
  tools/FormatPs1XmlGenerator/CmdletsForTest/Models/PsDummyOutput2.cs
  tools/FormatPs1XmlGenerator/CmdletsForTest/Models/PsDummyOutputTwo.cs
  tools/FormatPs1XmlGenerator/CmdletsForTest/Models/PsOperation.cs
  tools/FormatPs1XmlGenerator/CmdletsForTest/TestDummyCommand.cs
  tools/FormatPs1XmlGenerator/CmdletsForTest/TestDummyCommand1.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.Test/Constants.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.Test/FormatPs1XmlGenerator.Test.csproj
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.Test/NewFormatPs1XmlCommandShould.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.Test/ReflectorShould.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator.sln
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/FormatPs1XmlGenerator.csproj
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/FormatPs1XmlGenerator.psd1
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/NewFormatPs1XmlCommand.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/Reflector.cs
  tools/FormatPs1XmlGenerator/FormatPs1XmlGenerator/XmlViewDefinition.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Rename the name to PhaseName
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add support for the case that psd1 are in the {module}.Management folder
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Add support for the case that psd1 and help are in the {module}.Management folder
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Az.ConnectedKubernetes] Update ChangeLog (#20649)
  src/ConnectedKubernetes/ChangeLog.md
  src/ConnectedKubernetes/utils/RSAHelper.ps1
Due: none

Enabled live test and added new function for local debug
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  src/KeyVault/KeyVault.Test/LiveTests/TestLiveScenarios.ps1
  src/Network/Network.Test/LiveTests/TestLiveScenarios.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Enabled live test and added new function for local debug (#20656)
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  src/KeyVault/KeyVault.Test/LiveTests/TestLiveScenarios.ps1
  src/Network/Network.Test/LiveTests/TestLiveScenarios.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated artifacts name for daily build and set trigger to none
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml

updating docs
  src/Peering/docs/New-AzPeering.md
  src/Peering/docs/New-AzPeeringAsn.md
  src/Peering/docs/New-AzPeeringExchangeConnectionObject.md
  src/Peering/docs/New-AzPeeringService.md
  src/Peering/examples/New-AzPeering.md
  src/Peering/examples/New-AzPeeringAsn.md
  src/Peering/examples/New-AzPeeringExchangeConnectionObject.md
  src/Peering/examples/New-AzPeeringService.md
Due: none

last unit test
  src/Peering/test/Get-AzPeeringRpUnbilledPrefix.Recording.json
  src/Peering/test/Get-AzPeeringRpUnbilledPrefix.Tests.ps1
Due: none

adding dogfood environment loading
  src/Peering/test/Get-AzPeeringRpUnbilledPrefix.Tests.ps1
  src/Peering/test/envDogfood.json
  src/Peering/test/loadEnvDogfood.ps1
Due: none

updated changelog
  src/Sql/Sql/ChangeLog.md
Due: none

changes
  src/Network/Network/ChangeLog.md
  src/Network/Network/ExpressRoutePort/NewAzureRMExpressRoutePortCommand.cs
  src/Network/Network/Generated/Models/PSExpressRoutePort.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/help/New-AzExpressRoutePort.md
  src/Network/Network/help/Set-AzExpressRoutePort.md
Due: none

Updated artifacts name for daily build and set trigger to none
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/InvokeLiveTestCITask.ps1
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Typo "resouce group"→"resource group"
  src/DnsResolver/help/Get-AzDnsForwardingRuleset.md
Due: none

[Relay] added test cases.
  src/Relay/Az.Relay.psd1
  src/Relay/README.md
  src/Relay/custom/Set-AzRelayNamespace.ps1
  src/Relay/docs/Az.Relay.md
  src/Relay/docs/Update-AzRelayNamespace.md
  src/Relay/examples/Update-AzRelayNamespace.md
  src/Relay/test/New-AzRelayAuthorizationRule.Recording.json
  src/Relay/test/New-AzRelayAuthorizationRule.Tests.ps1
  src/Relay/test/New-AzRelayHybridConnection.Recording.json
  src/Relay/test/New-AzRelayHybridConnection.Tests.ps1
  src/Relay/test/New-AzRelayKey.Recording.json
  src/Relay/test/New-AzRelayKey.Tests.ps1
  src/Relay/test/New-AzRelayNamespace.Recording.json
  src/Relay/test/New-AzRelayNamespace.Tests.ps1
  src/Relay/test/New-AzRelayNamespaceNetworkRuleSet.Recording.json
  src/Relay/test/New-AzRelayNamespaceNetworkRuleSet.Tests.ps1
  src/Relay/test/New-AzWcfRelay.Recording.json
  src/Relay/test/New-AzWcfRelay.Tests.ps1
  src/Relay/test/README.md
  src/Relay/test/Remove-AzRelayNamespace.Recording.json
  src/Relay/test/Remove-AzRelayNamespace.Tests.ps1
  src/Relay/test/Test-AzRelayName.Recording.json
  src/Relay/test/Update-AzRelayNamespace.Tests.ps1
  src/Relay/test/env.json
  src/Relay/test/loadEnv.ps1
  src/Relay/test/utils.ps1
Due: none

Add fallback key search to AzKeyStore
  src/Accounts/Authentication.Test/AzKeyStorageTest.cs
  src/Accounts/Authentication/KeyStore/AzKeyStore.cs
  src/Accounts/Authentication/KeyStore/IKeyStoreKey.cs
  src/Accounts/Authentication/KeyStore/ServicePrincipalKey.cs
Due: none

Enabled to set perform snat to always when PrivateRange is set to 255.255.255.255/32 (#20497)
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/AzureFirewallPolicy/PSAzureFirewallPolicy.cs
Due: none

Rename the name to PhaseName (#20651)
  tools/ExecuteCIStep.ps1
  tools/PipelineResultTemplate.json
  tools/StaticAnalysis/CollectStaticAnalysisPipelineResult.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix format issue of Remove-AzPostgreSqlFlexibleServerDatabase ref doc (#20634)
  src/PostgreSql/examples/Remove-AzPostgreSqlFlexibleServerDatabase.md
Due: none
