Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

send protected settings
  src/ConnectedKubernetes/ConnectedKubernetes.Autorest/custom/helpers/UtilsHelper.ps1
Due: none

Fix two examples to contain only powershell commands
  src/Resources/Policy.Autorest/examples/New-AzPolicyAssignment.md
Due: none

Learn Editor: Update New-AzApplicationInsightsWebTest.md
  src/ApplicationInsights/ApplicationInsights/help/New-AzApplicationInsightsWebTest.md
Due: none

Empty Commit to run CI again because I don't have run perms
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/README.md
Due: none

Bump up version for Storage
  src/Storage/Storage.Autorest/Properties/AssemblyInfo.cs
  src/Storage/Storage.Management.Sdk/Properties/Assemblyinfo.cs
  src/Storage/Storage.Management/Az.Storage.psd1
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/Properties/AssemblyInfo.cs
  src/Storage/Storage/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

remove auth part from external CredScan
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

update the test file 6
  src/Accounts/anewfile.txt
Due: none

Bump up version for Workloads (#26059)
  src/Workloads/Workloads/Az.Workloads.psd1
  src/Workloads/Workloads/ChangeLog.md
  src/Workloads/Workloads/Properties/AssemblyInfo.cs
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update LiveTestUtility.psd1 to export New-LiveTestPassword function
  tools/TestFx/Live/LiveTestUtility.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Register Microsoft.VideoIndexer/accounts to private link cmdlets. (#26039) (#26062)
  src/Network/Network/ChangeLog.md
  src/Network/Network/PrivateLinkService/PrivateLinkServiceProvider/ProviderConfiguration.cs
Due: none

do not exit when pr analyze failed, write warning instead
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[Storage] Add live test to cover File/Table, and cover StorageContext generate in different ways
  src/Storage/LiveTests/Storage.Management/BlobTests.ps1
  src/Storage/LiveTests/Storage.Management/FileTests.ps1
  src/Storage/LiveTests/Storage.Management/QueueTests.ps1
  src/Storage/LiveTests/Storage.Management/TableTests.ps1
  src/Storage/LiveTests/Storage.Management/TestLiveScenarios.ps1
  src/Storage/Storage.Management.Test/ScenarioTests/StorageDataPlaneTests.ps1
  src/Storage/Storage.Management/ChangeLog.md
  tools/TestFx/Live/DebugLocalLiveTestScenarios.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

added identity to readme
  src/DesktopVirtualization/DesktopVirtualization.Autorest/README.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdApplicationGroup.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdHostPool.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdScalingPlan.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdWorkspace.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/README.md
Due: none

use date time offset
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/BackupSetInfo.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/ConnectToSourceSqlServerTaskOutputAgentJobLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/DataItemMigrationSummaryResult.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/DatabaseBackupInfo.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/DatabaseSummaryResult.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateMySqlAzureDbForMySqlSyncTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateMySqlAzureDbForMySqlSyncTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateMySqlAzureDbForMySqlSyncTaskOutputTableLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigratePostgreSqlAzureDbForPostgreSqlSyncTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigratePostgreSqlAzureDbForPostgreSqlSyncTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigratePostgreSqlAzureDbForPostgreSqlSyncTaskOutputTableLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSchemaSqlServerSqlDbTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSchemaSqlServerSqlDbTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbSyncTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbSyncTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbSyncTaskOutputTableLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlDbTaskOutputTableLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMISyncTaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMISyncTaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMITaskOutputAgentJobLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMITaskOutputDatabaseLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMITaskOutputLoginLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSqlServerSqlMITaskOutputMigrationLevel.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrateSyncCompleteCommandInput.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrationValidationDatabaseLevelResult.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MigrationValidationDatabaseSummaryResult.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MongoDbCollectionProgress.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MongoDbDatabaseProgress.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MongoDbMigrationProgress.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/MongoDbProgress.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/NonSqlMigrationTaskOutput.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/Project.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/ProjectFileProperties.cs
  src/DataMigration/DataMigration.Management.Sdk/Generated/Models/ProjectProperties.cs
  src/DataMigration/DataMigration.Management.Sdk/README.md
Due: none

[DataFactory]Support New Features In ADF
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IcebergDataset.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IcebergDatasetTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IcebergSink.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/IcebergWriteSettings.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/MariaDBLinkedService.cs
  src/DataFactory/DataFactory.Management.Sdk/Generated/Models/MariaDBLinkedServiceTypeProperties.cs
  src/DataFactory/DataFactory.Management.Sdk/README.md
  src/DataFactory/DataFactory/ChangeLog.md
Due: none

change case
  src/Network/Network.Test/ScenarioTests/PrivateLinkServiceTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/help/New-AzPrivateLinkService.md
Due: none

revert change for privateendpointests
  src/Network/Network.Test/ScenarioTests/PrivateEndpointTests.ps1
Due: none

Add DestinationIpAddress to PrivateLinkService
  src/Network/Network.Test/ScenarioTests/PrivateEndpointTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSPrivateLinkService.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/PrivateLinkService/NewAzurePrivateLinkServiceCommand.cs
  src/Network/Network/help/New-AzPrivateLinkService.md
Due: none

assert destination ip address in test
  src/Network/Network.Test/ScenarioTests/PrivateLinkServiceTests.ps1
Due: none

change case
  src/Network/Network.Test/ScenarioTests/PrivateLinkServiceTests.ps1
  src/Network/Network/help/New-AzPrivateLinkService.md
Due: none

[CI] Run external CredScan in Security tools pipeline (#26054)
  .azure-pipelines/security-tools.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Add destination IP address as parameter for PLS
  src/Network/Network.Test/ScenarioTests/PrivateLinkServiceTests.ps1
  src/Network/Network/ChangeLog.md
  src/Network/Network/Models/PSPrivateLinkService.cs
  src/Network/Network/Network.format.ps1xml
  src/Network/Network/PrivateLinkService/NewAzurePrivateLinkServiceCommand.cs
  src/Network/Network/help/New-AzPrivateLinkService.md
Due: none

Edit MinimalVersion.csv in batch (#25997)
  tools/ReleaseTools/AddMinimalVersionInBatch.ps1
  tools/ReleaseTools/VersionBumpUtils.psm1
  tools/RunVersionController.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update tools/VersionController/Program.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update LiveTestUtility.psd1 to export New-LiveTestPassword function (#26068)
  tools/TestFx/Live/LiveTestUtility.psd1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[eng] Remove changed modules from minimalVersion.csv only (#25992)
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Changes
  src/Network/Network.Management.Sdk/Generated/IIpAllocationsOperations.cs
  src/Network/Network.Management.Sdk/Generated/IpAllocationsOperations.cs
  src/Network/Network.Management.Sdk/Generated/IpAllocationsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/Generated/Models/IPAllocationsDeleteHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/VirtualNetworkEncryption.cs
  src/Network/Network.Management.Sdk/README.md
Due: none

Update NetworkManagerTests.ps1
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
Due: none

Corrected other-site-link-broken build warnings
  src/Communication/Communication/help/Get-AzEmailServicedataEmailSendResult.md
  src/Communication/Communication/help/Send-AzEmailServicedataEmail.md
Due: none

Update README.md
  src/Network/Network.Management.Sdk/README.md
Due: none

Committing generated files
  src/Network/Network.Management.Sdk/Generated/Models/NetworkManagerRoutingConfiguration.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkManagerRoutingConfigurationPropertiesFormat.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkManagerRoutingConfigurationsDeleteHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/NetworkManagerRoutingGroupItem.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserConfiguration.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserConfigurationPropertiesFormat.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserConfigurationsDeleteHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserGroupItem.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRule.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRuleCollection.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRuleCollectionPropertiesFormat.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRuleCollectionsDeleteHeaders.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRulePropertiesFormat.cs
  src/Network/Network.Management.Sdk/Generated/Models/SecurityUserRulesDeleteHeaders.cs
  src/Network/Network.Management.Sdk/Generated/NetworkManagerRoutingConfigurationsOperations.cs
  src/Network/Network.Management.Sdk/Generated/NetworkManagerRoutingConfigurationsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserConfigurationsOperations.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserConfigurationsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserRuleCollectionsOperations.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserRuleCollectionsOperationsExtensions.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserRulesOperations.cs
  src/Network/Network.Management.Sdk/Generated/SecurityUserRulesOperationsExtensions.cs
Due: none
