Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Update src/StorageAction/StorageAction.Autorest/docs/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/docs/New-AzStorageActionTask.md
Due: none

Update documentation/migration-guides/Az.12.0.0.0-migration-guide.md
  documentation/migration-guides/Az.12.0.0.0-migration-guide.md
Due: none

Update example
  src/StorageAction/StorageAction.Autorest/docs/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/docs/Update-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/examples/New-AzStorageActionTask.md
  src/StorageAction/StorageAction.Autorest/examples/Update-AzStorageActionTask.md
Due: none

Nit fixes
  src/Sql/Sql/ManagedInstance/Cmdlet/SetAzureSqlManagedInstance.cs
  src/Sql/Sql/help/New-AzSqlInstance.md
  src/Sql/Sql/help/Set-AzSqlInstance.md
Due: none

Fix timeout of Invoke-AzOperationalInsightsQuery
  src/OperationalInsights/OperationalInsights/ChangeLog.md
  src/OperationalInsights/OperationalInsights/Query/InvokeOperationalInsightsQuery.cs
  src/OperationalInsights/OperationalInsights/help/Invoke-AzOperationalInsightsQuery.md
Due: none

Minor changes for interactive subscription selection (#24873)
  src/Accounts/Accounts/Account/ConnectAzureRmAccount.cs
  src/Accounts/Accounts/Models/RMProfileClient.cs
  src/Accounts/Accounts/Properties/Resources.Designer.cs
  src/Accounts/Accounts/Properties/Resources.resx
Due: none

Update HelpIndex.ps1
  tools/Docs/HelpIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

collap function to one line code
  src/Compute/Compute/Generated/GalleryImage/GalleryImageCreateOrUpdateMethod.cs
Due: none

Update HelpIndex.ps1 (#24883)
  tools/Docs/HelpIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/Docs/HelpIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[custom location] Upgrade managed identity (#24770)
  src/CustomLocation/CustomLocation.Autorest/README.md
  src/CustomLocation/CustomLocation.Autorest/UX/microsoft.extendedlocation/customlocations.json
  src/CustomLocation/CustomLocation.Autorest/custom/New-AzCustomLocation.ps1
  src/CustomLocation/CustomLocation.Autorest/custom/Update-AzCustomLocation.ps1
  src/CustomLocation/CustomLocation.Autorest/docs/Az.CustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/docs/Find-AzCustomLocationTargetResourceGroup.md
  src/CustomLocation/CustomLocation.Autorest/docs/Get-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/docs/Get-AzCustomLocationResourceSyncRule.md
  src/CustomLocation/CustomLocation.Autorest/docs/New-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/docs/New-AzCustomLocationResourceSyncRule.md
  src/CustomLocation/CustomLocation.Autorest/docs/Remove-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/docs/Remove-AzCustomLocationResourceSyncRule.md
  src/CustomLocation/CustomLocation.Autorest/docs/Update-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/docs/Update-AzCustomLocationResourceSyncRule.md
  src/CustomLocation/CustomLocation.Autorest/examples/New-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/examples/Update-AzCustomLocation.md
  src/CustomLocation/CustomLocation.Autorest/test/AzCustomLocation.Recording.json
  src/CustomLocation/CustomLocation.Autorest/test/AzCustomLocationResourceSyncRule.Recording.json
  src/CustomLocation/CustomLocation.Autorest/test/env.json
  src/CustomLocation/CustomLocation.Autorest/test/loadEnv.ps1
  src/CustomLocation/CustomLocation.Autorest/test/utils.ps1
  src/CustomLocation/CustomLocation.Autorest/utils/Get-SubscriptionIdTestSafe.ps1
  tools/StaticAnalysis/Exceptions/Az.CustomLocation/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Upgraded managed identity parameters for CustomLocation
  src/CustomLocation/CustomLocation/ChangeLog.md
Due: none

Updated example issue exception for managed identity
  tools/StaticAnalysis/Exceptions/Az.CustomLocation/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Updated example issue exception of Get-AzConnectedKubernetes and Get-AzKubernetesExtension
  tools/StaticAnalysis/Exceptions/Az.CustomLocation/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

refine code
  src/KeyVault/KeyVault/Commands/Key/AddAzureKeyVaultKey.cs
Due: none

Sync tools folder from main branch to generation branch (#24888)
  tools/Docs/HelpIndex.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  tools/CreateMappings_rules.json
  tools/StaticAnalysis/Exceptions/Az.CustomLocation/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#24890)
  tools/CreateMappings_rules.json
  tools/StaticAnalysis/Exceptions/Az.CustomLocation/ExampleIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Make secrets detection option enabled by default and improve the feature (#24874)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authentication/Config/ConfigInitializer.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerCollectionProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerCustomObjectProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerDictionaryProvider.cs
  src/Accounts/Authentication/Sanitizer/Providers/SanitizerProviderBase.cs
  src/Accounts/Authentication/Sanitizer/Services/DefaultSanitizerService.cs
Due: none

remove redundant
  .azure-pipelines/archive-test.yml
  .azure-pipelines/util/required-files-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Remove the duplicated markdown files and fix gen2main pipeline
  src/Communication/Communication/help/Az.EmailService.md
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Remove the duplicated markdown files and fix gen2main pipeline (#24891)
  src/Communication/Communication/help/Az.EmailService.md
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix timeout of Invoke-AzOperationalInsightsQuery (#24882)
  src/OperationalInsights/OperationalInsights/ChangeLog.md
  src/OperationalInsights/OperationalInsights/Query/InvokeOperationalInsightsQuery.cs
  src/OperationalInsights/OperationalInsights/help/Invoke-AzOperationalInsightsQuery.md
Due: none

Sync tools folder from main branch to generation branch
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

set minimal version for Az.Sql
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

upgrade Microsoft.Identity.Client.NativeInterop to 0.16.0.0
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/netstandard2.0/Microsoft.Identity.Client.NativeInterop.dll
  src/lib/netstandard2.0/msalruntime.dll
  src/lib/netstandard2.0/msalruntime_arm64.dll
  src/lib/netstandard2.0/msalruntime_x86.dll
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#24892)
  tools/Gen2Master/MoveFromGeneration2Master.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Move Communication to main
  src/Communication/Communication.Autorest/build-module.ps1
  src/Communication/Communication/Az.Communication.psd1
  src/Communication/EmailService.Autorest/build-module.ps1
Due: none

Move Communication to main (#24894)
  src/Communication/Communication.Autorest/build-module.ps1
  src/Communication/Communication/Az.Communication.psd1
  src/Communication/EmailService.Autorest/build-module.ps1
Due: none

fix
  tools/BuildPackagesTask/Microsoft.Azure.Build.Tasks/CIFilterTask.cs
  tools/CreateFilterMappings.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

fix
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml
