Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.GenerationBranchName }}
    steps:
    - template: util/get-github-pat-steps.yml
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

add helpers to not modules list
  tools/BuildScripts/FilesChangedScript.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

move helpers folder from generation branch
  src/helpers/AppInsights/README.md
  src/helpers/AppInsights/readme.noprofile.md
  src/helpers/KeyVault/readme.noprofile.md
  src/helpers/ManagedIdentity/readme.noprofile.md
  src/helpers/Storage/README.md
  src/helpers/Storage/readme.noprofile.md
Due: none

change afs policy max retention constants to support vault standard
  src/RecoveryServices/RecoveryServices.Backup.Models/CommonModels/PolicyRetentionObjects.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CommonModels/Utils.cs
Due: none

fix changelog
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

fix condition in yml
  .azure-pipelines/archive-generated.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

do use exit 0 when terminate
  .azure-pipelines/archive-generated.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

try to fix terminate condition
  .azure-pipelines/archive-generated.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

fix switch syntax
  .azure-pipelines/util/build-steps.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Delete azure-powershell.sln
  azure-powershell.sln
Due: none

Sync resourceManagement.yml
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

added tests
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/CosmosDB/CosmosDB.Test/ScenarioTests/SqlOperationsTests.ps1
  src/CosmosDB/CosmosDB.Test/SessionRecords/Microsoft.Azure.Commands.CosmosDB.Test.ScenarioTests.ScenarioTest.SqlOperationsTests/TestSqlOperationsCmdlets.json
  src/CosmosDB/CosmosDB/Az.CosmosDB.psd1
  src/CosmosDB/CosmosDB/CosmosDBAccount/NewAzCosmosDBAccount.cs
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbedding.md
  src/CosmosDB/CosmosDB/help/New-AzCosmosDBSqlVectorEmbeddingPolicy.md
Due: none

revert set and add help text
  src/Network/Network.Test/ScenarioTests/NetworkManagerTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.NetworkManagerTests/NetworkManagerVerifierWorkspaceReachabilityAnalysisRunCRUD.json
  src/Network/Network/NetworkManager/VnetVerifier/GetAzNetworkManagerVerifierWorkspaceCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/GetAzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntentCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/GetAzNetworkManagerVerifierWorkspaceReachabilityAnalysisRunCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/NewAzNetworkManagerVerifierWorkspaceCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/NewAzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntentCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/NewAzNetworkManagerVerifierWorkspaceReachabilityAnalysisRunCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/RemoveAzNetworkManagerVerifierWorkspaceCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/RemoveAzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntentCommand.cs
  src/Network/Network/NetworkManager/VnetVerifier/RemoveAzNetworkManagerVerifierWorkspaceReachabilityAnalysisRunCommand.cs
  src/Network/Network/help/Get-AzNetworkManagerVerifierWorkspace.md
  src/Network/Network/help/Get-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntent.md
  src/Network/Network/help/Get-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisRun.md
  src/Network/Network/help/New-AzNetworkManagerVerifierWorkspace.md
  src/Network/Network/help/New-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntent.md
  src/Network/Network/help/New-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisRun.md
  src/Network/Network/help/Remove-AzNetworkManagerVerifierWorkspace.md
  src/Network/Network/help/Remove-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisIntent.md
  src/Network/Network/help/Remove-AzNetworkManagerVerifierWorkspaceReachabilityAnalysisRun.md
Due: none

update readme
  src/Compute/Compute.Management.Sdk/README.md
Due: none

add ClientName for listing file handles
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/help/Get-AzStorageFileHandle.md
  src/Storage/Storage/Model/ResourceModel/PSFileHandle.cs
  src/Storage/Storage/Storage.generated.format.ps1xml
Due: none

Sync tools folder from main branch to generation branch (#26737)
  .azure-pipelines/code-gen.yml
  .azure-pipelines/code-oob.yml
  .azure-pipelines/code-sign.yml
  .azure-pipelines/sign-tool-installer.yml
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Sync resourceManagement.yml (#26743)
  .github/policies/resourceManagement.yml
Due: azure-pipelines.yml

Corrected other-site-link-broken build warnings (#26744)
  src/App/App/help/New-AzContainerAppIdentityProviderObject.md
  src/Communication/Communication/help/Get-AzEmailServicedataEmailSendResult.md
  src/Communication/Communication/help/Send-AzEmailServicedataEmail.md
  src/Monitor/Monitor/help/Get-AzMetricsBatch.md
  src/Workloads/Workloads/help/Update-AzWorkloadsSapVirtualInstance.md
Due: none

Corrected learn-site-link-broken build warnings (#26745)
  src/DesktopVirtualization/DesktopVirtualization/help/New-AzWvdHostPool.md
  src/DesktopVirtualization/DesktopVirtualization/help/Update-AzWvdHostPool.md
  src/Oracle/Oracle/help/New-AzOracleCloudVMCluster.md
Due: none

Corrected disallowed-html-tag build warnings (#26746)
  src/KeyVault/KeyVault/help/Backup-AzKeyVaultSecret.md
  src/KeyVault/KeyVault/help/Get-AzKeyVaultSecret.md
  src/KeyVault/KeyVault/help/Remove-AzKeyVaultSecret.md
  src/KeyVault/KeyVault/help/Restore-AzKeyVaultSecret.md
  src/KeyVault/KeyVault/help/Set-AzKeyVaultSecret.md
  src/KeyVault/KeyVault/help/Undo-AzKeyVaultSecretRemoval.md
  src/KeyVault/KeyVault/help/Update-AzKeyVaultSecret.md
Due: none

Increment version (#26707)
  src/HealthDataAIServices/HealthDataAIServices.Autorest/README.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Az.HealthDataAiServices.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/docs/Update-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Get-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/New-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Remove-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Update-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/env.json
Due: none

Move HealthDataAIServices to main
  src/HealthDataAIServices/HealthDataAIServices.Autorest/Az.HealthDataAIServices.psd1
  src/HealthDataAIServices/HealthDataAIServices.Autorest/README.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generate-portal-ux.ps1
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/api/HealthDataAiServices.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidOperation_List.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_Get.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_GetViaIdentity.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_List.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_List1.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateExpanded.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateViaJsonFilePath.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateViaJsonString.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/RemoveAzDeidService_Delete.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/RemoveAzDeidService_DeleteViaIdentity.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/help/Az.HealthDataAIServices.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Get-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/New-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Remove-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Update-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/env.json
  src/HealthDataAIServices/HealthDataAIServices/Az.HealthDataAIServices.psd1
  src/HealthDataAIServices/HealthDataAIServices/help/Get-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/Remove-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/Update-AzDeidService.md
Due: none

[Az.RecoveryServices.Backup] Added support for AFS VaultStandard Backup Policy (#26367)
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/ConversionHelpers.cs
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/RecoveryPointConversions.cs
  src/RecoveryServices/RecoveryServices.Backup.Helpers/Conversions/RetentionPolicyConversions.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/AzureFileShareModels/AzureFileShareRecoveryPoint.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CmdletParamEnums.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CommonModels/Enums.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CommonModels/PolicyRetentionObjects.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/CommonModels/Utils.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.Designer.cs
  src/RecoveryServices/RecoveryServices.Backup.Models/Properties/Resources.resx
  src/RecoveryServices/RecoveryServices.Backup.Providers/AzureWorkloadProviderHelper.cs
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureFilesPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/ItemTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/PolicyTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureFiles/PolicyTests.ps1
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSProtection.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ItemTests/TestAzureFSVaultRestore.json
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.PolicyTests/TestAzureFSVaultPolicy.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Item/EnableAzureRmRecoveryServicesBackupProtection.cs
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/ProtectionPolicy/GetAzureRmRecoveryServicesBackupRetentionPolicyObject.cs
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/ProtectionPolicy/SetAzureRmRecoveryServicesBackupProtectionPolicy.cs
  src/RecoveryServices/RecoveryServices.Backup/ParamHelpMsgs.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
  src/RecoveryServices/RecoveryServices/help/Get-AzRecoveryServicesBackupRetentionPolicyObject.md
Due: none

Update ChangeLog.md
  src/HealthDataAIServices/HealthDataAIServices/ChangeLog.md
Due: none

Migrate HealthDataAIServices from generation to main (#26759)
  src/HealthDataAIServices/HealthDataAIServices.Autorest/Az.HealthDataAIServices.psd1
  src/HealthDataAIServices/HealthDataAIServices.Autorest/README.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/UX/Microsoft.HealthDataAIServices/deidServices.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generate-portal-ux.ps1
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/api/HealthDataAiServices.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidOperation_List.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_Get.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_GetViaIdentity.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_List.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/GetAzDeidService_List1.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateExpanded.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateViaJsonFilePath.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/NewAzDeidService_CreateViaJsonString.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/RemoveAzDeidService_Delete.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/generated/cmdlets/RemoveAzDeidService_DeleteViaIdentity.cs
  src/HealthDataAIServices/HealthDataAIServices.Autorest/help/Az.HealthDataAIServices.md
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Get-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/New-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Remove-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/Update-AzDeidService.Recording.json
  src/HealthDataAIServices/HealthDataAIServices.Autorest/test/env.json
  src/HealthDataAIServices/HealthDataAIServices/Az.HealthDataAIServices.psd1
  src/HealthDataAIServices/HealthDataAIServices/ChangeLog.md
  src/HealthDataAIServices/HealthDataAIServices/help/Get-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/New-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/Remove-AzDeidService.md
  src/HealthDataAIServices/HealthDataAIServices/help/Update-AzDeidService.md
Due: none

remove generatedsdkissues.csv UXmetadataissues.csv
  tools/StaticAnalysis/Exceptions/Az.SignalR/GeneratedSdkIssues.csv
  tools/StaticAnalysis/Exceptions/Az.SignalR/UXMetadataIssues.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
