Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

.azure-pipelines/sync-MSdoc.yml:
  jobs:
  - job: Sync
    displayName: Sync task
    condition: succeeded()
    strategy:
      matrix:
        Generation:
          BranchName: ${{ variables.TargetedBranchName }}
    steps:
    - task: PowerShell@2
      displayName: Sync branch
      inputs:
        targetType: inline
  ...

.azure-pipelines/sync-tools-folder.yml:
  jobs:
  - ${{ each ToBranch in parameters.ToBranches }}:
    - job: Sync_${{ replace(ToBranch, '/', '_') }}
      displayName: Sync To ${{ ToBranch }}
      pool: pool-ubuntu-2004
      steps:
      - template: util/get-github-pat-steps.yml
      - task: PowerShell@2
        displayName: Sync To ${{ ToBranch }}
  ...

.azure-pipelines/util/sync-tools-folder.yml:
  jobs:
  - job: Job_1
    displayName: Sync to ${{ parameters.BranchName }}
    timeoutInMinutes: 90
    pool:
      name: Hosted VS2017
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Config git
      inputs:
        targetType: inline
  ...

azure-pipelines.yml:
  jobs:
  - job: UpdateJson
    displayName: Update Json
    steps:
    - checkout: self
      persistCredentials: true
    - task: PowerShell@2
      displayName: Update json file
      inputs:
        targetType: inline
  ...

updating changelog
  src/Batch/Batch/ChangeLog.md
Due: none

Add initial implementation of ComputeClientTrack2 and solution files for Compute Management SDK
  generated/Compute/Compute.Autorest/Az.Compute.csproj
  generated/KeyVault/KeyVault.Autorest/Az.KeyVault.csproj
  generated/ManagedServiceIdentity/ManagedServiceIdentity.Autorest/Az.ManagedServiceIdentity.csproj
  src/Compute/Compute.AlcWrapper/Compute.AlcWrapper.csproj
  src/Compute/Compute.Helpers/Compute.Helpers.csproj
  src/Compute/Compute.Management.Sdk/Compute.Management.Sdk.csproj
  src/Compute/Compute.Management.Sdk/Compute.Management.Sdk.sln
  src/Compute/Compute.Management.Sdk/README.md
  src/Compute/Compute.Management.Sdk/Rest-api-specs/common.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/types.json
  src/Compute/Compute.Test/Compute.Test.csproj
  src/Compute/Compute/Common/ComputeClientBaseCmdlet.cs
  src/Compute/Compute/Common/ComputeClientTrack2.cs
  src/Compute/Compute/Compute.csproj
  src/Compute/Compute/Compute.sln
  src/Compute/Compute/VirtualMachine/Operation/GetAzureVMCommand.cs
  src/Compute/Compute/VirtualMachine/Operation/UpdateAzureVMCommand.cs
  src/KeyVault/KeyVault.Management.Sdk/KeyVault.Management.Sdk.csproj
  src/KeyVault/KeyVault/KeyVault.csproj
  src/ManagedServiceIdentity/ManagedServiceIdentity/ManagedServiceIdentity.csproj
  src/Network/Network.Management.Sdk/Network.Management.Sdk.csproj
  src/Network/Network/Network.csproj
  tools/TestFx/TestFx.csproj
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

add empty lines back in sdk
  src/Aks/Aks.Management.Sdk/Generated/Models/AgentPool.cs
  src/Aks/Aks.Management.Sdk/Generated/Models/ManagedCluster.cs
  src/Aks/Aks.Management.Sdk/Generated/Models/ManagedClusterAgentPoolProfileProperties.cs
Due: none

Bump Version for 15.2.0
  ChangeLog.md
  documentation/SyntaxChangeLog/SyntaxChangeLog-Az15.md
  documentation/breaking-changes/upcoming-breaking-changes.md
  setup/generate.ps1
  src/Accounts/Accounts/Utilities/CommandMappings.json
  src/DeviceRegistry/DeviceRegistry/Az.DeviceRegistry.psd1
  src/DeviceRegistry/DeviceRegistry/ChangeLog.md
  src/DeviceRegistry/DeviceRegistry/Properties/AssemblyInfo.cs
  src/NetAppFiles/NetAppFiles/Az.NetAppFiles.psd1
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/AzPreview/ChangeLog.md
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/Tools.Common/SerializedCmdlets/Az.DeviceRegistry.json
  tools/Tools.Common/SerializedCmdlets/Az.NetAppFiles.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Update src/Batch/Batch/ChangeLog.md
  src/Batch/Batch/ChangeLog.md
Due: none

copilot feedback
  src/Batch/Batch.Test/ScenarioTests/BatchApplicationPackageTests.ps1
Due: none

Update src/Batch/Batch/Models/BatchClient.ApplicationPackages.cs
  src/Batch/Batch/Models/BatchClient.ApplicationPackages.cs
Due: none

Implementing coplilot suggesions
  src/Batch/Batch.Test/ScenarioTests/BatchApplicationPackageTests.ps1
Due: none

Removed inactive accounts from CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml

Remove ZonePlacementPolicy, InlcudeZone, and ExcludeZone from Update method
  src/Compute/Compute.Test/ScenarioTests/VirtualMachineScaleSetTests.ps1
  src/Compute/Compute.Test/SessionRecords/Microsoft.Azure.Commands.Compute.Test.ScenarioTests.VirtualMachineScaleSetTests/TestVirtualMachineScaleSetAutomaticZonePlacement.json
  src/Compute/Compute/ChangeLog.md
  src/Compute/Compute/Generated/VirtualMachineScaleSet/VirtualMachineScaleSetUpdateMethod.cs
  src/Compute/Compute/help/Update-AzVmss.md
Due: none

Removed inactive accounts from CODEOWNERS (#28969)
  .github/CODEOWNERS
Due: azure-pipelines.yml

Security update for storageURL field of ApplicationPackage (#28957)
  src/Batch/Batch.Test/ScenarioTests/BatchApplicationPackageTests.cs
  src/Batch/Batch.Test/ScenarioTests/BatchApplicationPackageTests.ps1
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestCreatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdateApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUpdatePoolWithApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUploadApplicationPackage.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.BatchApplicationPackageTests/TestUploadApplicationPackageActivateOnly.json
  src/Batch/Batch.Test/SessionRecords/Microsoft.Azure.Commands.Batch.Test.ScenarioTests.PoolTests/TestPoolCRUD.json
  src/Batch/Batch/ChangeLog.md
  src/Batch/Batch/Models/BatchClient.ApplicationPackages.cs
Due: none

support MSI
  src/Aks/Aks.Test/ScenarioTests/KubernetesTests.cs
  src/Aks/Aks.Test/ScenarioTests/KubernetesTests.ps1
  src/Aks/Aks.Test/SessionRecords/Commands.Aks.Test.ScenarioTests.KubernetesTests/TestAPI20250801WithMSI.json
  src/Aks/Aks.Test/SessionRecords/Commands.Aks.Test.ScenarioTests.KubernetesTests/TestAPI20250801WithMSISet.json
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
  src/Aks/Aks/Commands/NewAzureRmAks.cs
  src/Aks/Aks/Commands/SetAzureRmAks.cs
Due: none

remove validation of AssignIdentity
  src/Aks/Aks/Commands/CreateOrUpdateKubeBase.cs
Due: none

Bump Version for 15.2.0
  ChangeLog.md
  documentation/SyntaxChangeLog/SyntaxChangeLog-Az15.md
  documentation/breaking-changes/upcoming-breaking-changes.md
  setup/generate.ps1
  src/Batch/Batch.Management.Sdk/Properties/AssemblyInfo.cs
  src/Batch/Batch/Az.Batch.psd1
  src/Batch/Batch/ChangeLog.md
  src/Batch/Batch/Properties/AssemblyInfo.cs
  src/NetAppFiles/NetAppFiles/Az.NetAppFiles.psd1
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/AzPreview/ChangeLog.md
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/Tools.Common/SerializedCmdlets/Az.Batch.json
  tools/Tools.Common/SerializedCmdlets/Az.NetAppFiles.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

regenerate with "pwsh build-module.ps1"
  src/DeviceRegistry/DeviceRegistry.Autorest/generate-info.json
  src/DeviceRegistry/DeviceRegistry.sln
  src/DeviceRegistry/DeviceRegistry/Az.DeviceRegistry.psd1
Due: none

Add Track2 PS model classes and mapping for Azure VMs
  src/Compute/Compute/Common/ComputeAutoMapperProfile.cs
  src/Compute/Compute/Models/PSVirtualMachine.cs
  src/Compute/Compute/Models/Track2/PSAdditionalPropertiesTrack2.cs
  src/Compute/Compute/Models/Track2/PSDiagnosticsProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSHardwareProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSNetworkProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSOSProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSSecurityProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSStorageProfileTrack2.cs
  src/Compute/Compute/Models/Track2/PSVirtualMachineExtensionTrack2.cs
  src/Compute/Compute/Models/Track2/PSVirtualMachineInstanceViewTrack2.cs
  src/Compute/Compute/Models/Track2/PSVirtualMachineTrack2.cs
  src/Compute/Compute/VirtualMachine/Operation/GetAzureVMCommand.cs
Due: none

[Az.Migrate] Stabilize command internals & update policy defaults (#28869)
  src/Migrate/Migrate.Autorest/custom/Get-AzMigrateLocalJob.ps1
  src/Migrate/Migrate.Autorest/custom/Get-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/Helper/AzLocalCommonHelper.ps1
  src/Migrate/Migrate.Autorest/custom/Helper/AzLocalCommonSettings.ps1
  src/Migrate/Migrate.Autorest/custom/Initialize-AzMigrateLocalReplicationInfrastructure.ps1
  src/Migrate/Migrate.Autorest/custom/New-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/Remove-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/custom/Set-AzMigrateLocalServerReplication.ps1
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalJob.Recording.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalJob.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalReplicationFabric.Recording.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalServerReplication.Recording.json
  src/Migrate/Migrate.Autorest/test/Get-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/New-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Remove-AzMigrateLocalServerReplication.Tests.ps1
  src/Migrate/Migrate.Autorest/test/Test-AzMigrateLocalEndToEnd.Recording.json
  src/Migrate/Migrate.Autorest/test/Test-AzMigrateLocalEndToEnd.Tests.ps1
  src/Migrate/Migrate.Autorest/test/env.json
  src/Migrate/Migrate.Autorest/test/localEnv.json
  src/Migrate/Migrate.Autorest/test/utils.ps1
  src/Migrate/Migrate.sln
  src/Migrate/Migrate/ChangeLog.md
Due: none

[skip ci] Archive 6b8f9be2fefd8c9c37e5ed6a1d0c1f611717fb65
  generated/DeviceRegistry/DeviceRegistry.Autorest/generate-info.json
Due: none

[skip ci] Archive 9b882945f6d404e8b0733de7809060428c1f0381
  generated/Migrate/Migrate.Autorest/generate-info.json
Due: none

[skip ci] Archive 6b8f9be2fefd8c9c37e5ed6a1d0c1f611717fb65 (#28977)
  generated/DeviceRegistry/DeviceRegistry.Autorest/generate-info.json
Due: none

Build Modules
  generated/Migrate/Migrate.Autorest/generate-info.json
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/custom/Az.Migrate.custom.psm1
  src/Migrate/Migrate.Autorest/custom/README.md
  src/Migrate/Migrate.Autorest/docs/Az.Migrate.md
  src/Migrate/Migrate.Autorest/docs/README.md
  src/Migrate/Migrate.Autorest/resources/README.md
  src/Migrate/Migrate.Autorest/test/README.md
Due: none

Bump Version for 15.2.0
  ChangeLog.md
  documentation/SyntaxChangeLog/SyntaxChangeLog-Az15.md
  setup/generate.ps1
  src/Batch/Batch.Management.Sdk/Properties/AssemblyInfo.cs
  src/Batch/Batch/Az.Batch.psd1
  src/Batch/Batch/ChangeLog.md
  src/Batch/Batch/Properties/AssemblyInfo.cs
  src/Migrate/Migrate.Autorest/Properties/AssemblyInfo.cs
  src/Migrate/Migrate/Az.Migrate.psd1
  src/Migrate/Migrate/ChangeLog.md
  src/Migrate/Migrate/Properties/AssemblyInfo.cs
  src/NetAppFiles/NetAppFiles/Az.NetAppFiles.psd1
  src/NetAppFiles/NetAppFiles/ChangeLog.md
  src/NetAppFiles/NetAppFiles/Properties/AssemblyInfo.cs
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/AzPreview/ChangeLog.md
  tools/Docs/az-ps-latest-1.csv
  tools/Docs/az-ps-latest-2.csv
  tools/Tools.Common/SerializedCmdlets/Az.Batch.json
  tools/Tools.Common/SerializedCmdlets/Az.Migrate.json
  tools/Tools.Common/SerializedCmdlets/Az.NetAppFiles.json
  tools/VersionController/MinimalVersion.csv
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .ci-config.json, tools, .azure-pipelines, src/lib, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github
