Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .github, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

Revert "Merge branch 'update-authorization-api-version6' of https://github.com/mumoryan/azure-powershell into update-authorization-api-version6"
  src/Resources/Resources/Az.Resources.psd1
Due: none

Suppress NuGet known package vulnerability alert
  src/Az.Shared.props
Due: .azure-pipelines/sync-tools-folder.yml

Sync tools folder from main branch to generation branch (#23755)
  tools/Az/Az.psd1
  tools/AzPreview/AzPreview.psd1
  tools/Docs/az-ps-latest.csv
  tools/TestFx/Mocks/MockContext.cs
  tools/Tools.Common/SerializedCmdlets/Az.Automation.json
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Create New module: EdgeMarketplace
  src/EdgeMarketplace/EdgeMarketplace.Autorest/.gitattributes
  src/EdgeMarketplace/EdgeMarketplace.Autorest/.gitignore
  src/EdgeMarketplace/EdgeMarketplace.Autorest/Az.EdgeMarketplace.psd1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/README.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/UX/Microsoft.EdgeMarketplace/offers.json
  src/EdgeMarketplace/EdgeMarketplace.Autorest/UX/Microsoft.EdgeMarketplace/publishers.json
  src/EdgeMarketplace/EdgeMarketplace.Autorest/custom/README.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Az.EdgeMarketplace.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Get-AzEdgeMarketplaceOffer.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Get-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/Get-AzEdgeMarketplacePublisher.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/New-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/docs/README.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/examples/Get-AzEdgeMarketplaceOffer.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/examples/Get-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/examples/Get-AzEdgeMarketplacePublisher.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/examples/New-AzEdgeMarketplaceOfferAccessToken.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/how-to.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/license.txt
  src/EdgeMarketplace/EdgeMarketplace.Autorest/resources/README.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/Get-AzEdgeMarketplaceOffer.Tests.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/Get-AzEdgeMarketplaceOfferAccessToken.Tests.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/Get-AzEdgeMarketplacePublisher.Tests.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/New-AzEdgeMarketplaceOfferAccessToken.Tests.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/README.md
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/loadEnv.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/test/utils.ps1
  src/EdgeMarketplace/EdgeMarketplace.Autorest/utils/Unprotect-SecureString.ps1
Due: none

Try to fix Build Issue
  tools/Common.Netcore.Dependencies.Test.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fixed the authentication issue when using FederatedToken in non-Azure public Cloud Environment
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authenticators/ClientAssertionAuthenticator.cs
Due: none

Suppress NuGet known package vulnerability alert (#23767)
  src/Az.Shared.props
Due: .azure-pipelines/sync-tools-folder.yml

add livetest for sp approleassignment
  src/Resources/LiveTests/TestLiveScenarios.disabled.ps1
Due: none

Update ChangeLog.md
  src/Accounts/Accounts/ChangeLog.md
Due: none

Fixed the authentication issue when using FederatedToken in non-Azure public Cloud Environment (#23769)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Authenticators/ClientAssertionAuthenticator.cs
Due: none

Release Az.Accounts-2.14.0-preview
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
Due: none

add profile to command
  src/Network/Network.Test/ScenarioTests/AzureFirewallPolicyTests.ps1
  src/Network/Network/AzureFirewallPolicy/IntrusionDetection/NewAzureFirewallPolicyIntrusionDetectionCommand.cs
Due: none

test recording
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.AzureFirewallPolicyTests/TestAzureFirewallPolicyIDPSProfiles.json
Due: none

add customization for filedetails
  src/Support/Support.Autorest/README.md
Due: none

pull in tests from Charles
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdActiveSessionHostConfiguration.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdSessionHostConfiguration.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdSessionHostConfigurationsOperationStatus.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdSessionHostManagement.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdSessionHostManagementsOperationStatus.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdSessionHostConfiguration.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdSessionHostManagement.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdSessionHostConfiguration.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdSessionHostManagement.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/utils.ps1
Due: none

fix most test cases
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdAppAttachPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplication.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdDesktop.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplication.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdHostPool.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdMsixPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdRegistrationInfo.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdScalingPlan.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Register-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplication.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdHostPool.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdMsixPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Remove-AzWvdRegistrationInfo.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Unregister-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplication.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdApplicationGroup.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdDesktop.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdHostPool.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdMsixPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Update-AzWvdScalingPlan.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/localEnv.json
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/utils.ps1
Due: none

add livetest for sp approleassignment (#23770)
  src/Resources/LiveTests/TestLiveScenarios.disabled.ps1
Due: none

Fix typos (#23759)
  src/Accounts/Accounts/help/Add-AzEnvironment.md
  src/ApplicationInsights/ApplicationInsights.Autorest/examples/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/ApplicationInsights.Autorest/help/Get-AzApplicationInsightsWorkbookRevision.md
  src/ApplicationInsights/ApplicationInsights/help/Get-AzApplicationInsightsWorkbookRevision.md
  src/Automanage/Automanage.Autorest/examples/Get-AzAutomanageBestPractice.md
  src/CloudService/CloudService.Autorest/examples/Stop-AzCloudService.md
  src/CloudService/CloudService/help/Start-AzCloudService.md
  src/FrontDoor/FrontDoor/help/Enable-AzFrontDoorCustomDomainHttps.md
  src/IotHub/IotHub/help/New-AzIotHubSasToken.md
  src/Relay/Relay.Autorest/examples/New-AzRelayAuthorizationRule.md
  src/Sql/Sql/help/Restore-AzSqlInstanceDatabase.md
  src/Storage/Storage.Management/help/New-AzStorageAccount.md
Due: none

Add syntax changelog when release (#23745)
  tools/RunVersionController.ps1
  tools/VersionController/Models/CmdletDiffInfomation.cs
  tools/VersionController/Models/SyntaxChangelogGenerator.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Sync tools folder from main branch to generation branch
  src/Az.Shared.props
  tools/RunVersionController.ps1
  tools/VersionController/Models/CmdletDiffInfomation.cs
  tools/VersionController/Models/SyntaxChangelogGenerator.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

[Storage] Remove AllowBlobPublicAccess and AllowCrossTenantReplication breaking change warning messages (#23683)
  src/Storage/Storage.Management/ChangeLog.md
  src/Storage/Storage.Management/StorageAccount/NewAzureStorageAccount.cs
  src/Storage/Storage.Management/StorageAccount/SetAzureStorageAccount.cs
  src/Storage/Storage.Management/help/New-AzStorageAccount.md
  src/Storage/Storage.Management/help/Set-AzStorageAccount.md
Due: none

Fixed changelog issues for netappfiles
  src/NetAppFiles/NetAppFiles/ChangeLog.md
Due: none

Sync tools folder from main branch to generation branch (#23776)
  src/Az.Shared.props
  tools/RunVersionController.ps1
  tools/VersionController/Models/CmdletDiffInfomation.cs
  tools/VersionController/Models/SyntaxChangelogGenerator.cs
  tools/VersionController/Program.cs
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Release Az.Accounts-2.14.0-preview (#23771)
  src/Accounts/Accounts/Az.Accounts.psd1
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/Accounts/Properties/AssemblyInfo.cs
  src/Accounts/AssemblyLoading/Properties/AssemblyInfo.cs
  src/Accounts/Authentication/Properties/AssemblyInfo.cs
  src/Accounts/AuthenticationAssemblyLoadContext/Properties/AssemblyInfo.cs
  src/Accounts/Authenticators/Properties/AssemblyInfo.cs
Due: none

add changelog
  src/Network/Network/ChangeLog.md
Due: none

add managementType as parameter to new-azwvdhostpool full scenario
  src/DesktopVirtualization/DesktopVirtualization.Autorest/custom/New-AzWvdHostPool_FullSenerioCreate.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/docs/New-AzWvdHostPool.md
Due: none

Unblock Sign pipeline for Az.Accounts Preview
  tools/PublishModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

set more hostpools to standard and fix newSHC test
  src/DesktopVirtualization/DesktopVirtualization.Autorest/README.md
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPool.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdHostPoolRegistrationToken.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdMsixPackage.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/Get-AzWvdRegistrationInfo.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/New-AzWvdSessionHostConfiguration.Tests.ps1
  src/DesktopVirtualization/DesktopVirtualization.Autorest/test/localEnv.json
Due: none

Changing the Default Rule Set to DRS2.1 in Firewall Policy (#23760)
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.cs
  src/Network/Network.Test/ScenarioTests/ApplicationGatewayTests.ps1
  src/Network/Network.Test/SessionRecords/Commands.Network.Test.ScenarioTests.ApplicationGatewayTests/TestApplicationGatewayFirewallPolicyDefaultRuleSet.json
  src/Network/Network/ChangeLog.md
  src/Network/Network/FirewallPolicy/ManagedRules/AzureApplicationGatewayFirewallPolicyManagedRules.cs
  src/Network/Network/FirewallPolicy/NewAzureApplicationGatewayFirewallPolicyCommand.cs
Due: none
