Repository Azure/azure-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/sync-MSdoc.yml, .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/sync-MSdoc.yml: any of: documentation\breaking-changes\upcoming-breaking-changes.md
  .azure-pipelines/sync-tools-folder.yml: any of: .azure-pipelines, .devcontainer, tools, src/lib, .ci-config.json, src/shared, build.proj, src/Az.props, src/Az.Shared.props, src/Az.Test.props, src/Az.autorest.props, src/Az.Post.props, src/psm1.props, NuGet.Config
  .azure-pipelines/util/sync-tools-folder.yml: any of: .azure-pipeline, tools, src/lib
  azure-pipelines.yml: any of: .azure-pipelines, .github

nit changes
  src/AzureDataTransfer/AzureDataTransfer.Autorest/test/Disable-AzDataTransferFlow.Tests.ps1
  src/AzureDataTransfer/AzureDataTransfer.Autorest/test/Enable-AzDataTransferFlow.Tests.ps1
  src/AzureDataTransfer/AzureDataTransfer.Autorest/test/Get-AzDataTransferFlow.Tests.ps1
Due: none

Remove test
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
  .azure-pipelines/util/batch-generation-test-job.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update live test script on background jobs.
  .azure-pipelines/util/live-test-steps.yml
  src/Storage/LiveTests/Storage.Management/FileTests.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

Add report item
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/util.psm1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

remove ProgressAction parameters
  src/Network/Network/help/New-AzNatGateway.md
  src/Network/Network/help/New-AzPublicIpAddress.md
  src/Network/Network/help/New-AzPublicIpPrefix.md
  src/Network/Network/help/Set-AzNatGateway.md
  src/Network/Network/help/Set-AzVirtualNetworkSubnetConfig.md
Due: none

Build Modules
  generated/PostgreSql/PostgreSql.Autorest/Az.PostgreSql.csproj
  generated/PostgreSql/PostgreSql.Autorest/Properties/AssemblyInfo.cs
  generated/PostgreSql/PostgreSql.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/PostgreSql/PostgreSql.Autorest/exports/Restore-AzPostgreSqlFlexibleServer.ps1
  generated/PostgreSql/PostgreSql.Autorest/generate-info.json
  generated/PostgreSql/PostgreSql.Autorest/resources/README.md
  src/PostgreSql/PostgreSql.Autorest/Properties/AssemblyInfo.cs
  src/PostgreSql/PostgreSql.Autorest/docs/Az.PostgreSql.md
Due: none

Fix path
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Simplify storage live test for PowerShell job investigation
  .azure-pipelines/live-test.yml
  .azure-pipelines/util/live-test-steps.yml
  tools/TestFx/Live/InvokeLiveTestScenarios.ps1
  tools/TestFx/Live/LiveTestUtility.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

[skip ci] Archive Schedule
  generated/PostgreSql/PostgreSql.Autorest/Az.PostgreSql.csproj
  generated/PostgreSql/PostgreSql.Autorest/Properties/AssemblyInfo.cs
  generated/PostgreSql/PostgreSql.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/PostgreSql/PostgreSql.Autorest/exports/Restore-AzPostgreSqlFlexibleServer.ps1
  generated/PostgreSql/PostgreSql.Autorest/generate-info.json
  generated/PostgreSql/PostgreSql.Autorest/resources/README.md
Due: none

add swagger files. update inputfiles in readme
  src/Compute/Compute.Management.Sdk/Compute.Management.Sdk.csproj
  src/Compute/Compute.Management.Sdk/README.md
  src/Compute/Compute.Management.Sdk/Rest-api-specs/ComputeRP.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/DiskRP.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/GalleryRP.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/cloudService.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/common.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/skus.json
  src/Compute/Compute.Management.Sdk/Rest-api-specs/types.json
Due: none

Update markdown
  src/Compute/Compute/help/Update-AzHost.md
Due: none

[skip ci] Archive Schedule (#27800)
  generated/PostgreSql/PostgreSql.Autorest/Az.PostgreSql.csproj
  generated/PostgreSql/PostgreSql.Autorest/Properties/AssemblyInfo.cs
  generated/PostgreSql/PostgreSql.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/PostgreSql/PostgreSql.Autorest/exports/Restore-AzPostgreSqlFlexibleServer.ps1
  generated/PostgreSql/PostgreSql.Autorest/generate-info.json
  generated/PostgreSql/PostgreSql.Autorest/resources/README.md
Due: none

accept apikey for publish-rmmodules
  tools/ModulePublisher.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix path
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Autorest Upgrade - Default version
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Get-AzDeviceRegistryAsset.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Get-AzDeviceRegistryAssetEndpointProfile.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Get-AzDeviceRegistryBillingContainer.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/New-AzDeviceRegistryAsset.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/New-AzDeviceRegistryAssetEndpointProfile.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/ProxyCmdletDefinitions.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Remove-AzDeviceRegistryAsset.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Remove-AzDeviceRegistryAssetEndpointProfile.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Update-AzDeviceRegistryAsset.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/exports/Update-AzDeviceRegistryAssetEndpointProfile.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/DeviceRegistry.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/Asset.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetEndpointProfile.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetEndpointProfileProperties.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetEndpointProfileUpdate.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetEndpointProfileUpdateProperties.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetProperties.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetStatusDataset.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetStatusEvent.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/AssetUpdate.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/BillingContainer.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/ErrorResponse.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/Event.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/MessageSchemaReference.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/Operation.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/OperationStatusResult.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/ProxyResource.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/Resource.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/api/Models/TrackedResource.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/runtime/BuildTime/Models/PsProxyOutputs.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/runtime/BuildTime/Models/PsProxyTypes.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/generated/runtime/BuildTime/PsAttributes.cs
  generated/DeviceRegistry/DeviceRegistry.Autorest/internal/Get-AzDeviceRegistryOperation.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/internal/ProxyCmdletDefinitions.ps1
  generated/DeviceRegistry/DeviceRegistry.Autorest/resources/README.md
  src/DeviceRegistry/DeviceRegistry.Autorest/Properties/AssemblyInfo.cs
  src/DeviceRegistry/DeviceRegistry.Autorest/docs/Az.DeviceRegistry.md
  src/DeviceRegistry/DeviceRegistry.Autorest/resources/README.md
  src/DeviceRegistry/DeviceRegistry/AutorestUpgradeLog.md
Due: none

Fix path 3
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Upgrade Azure.Core to 1.45.0
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

Fix path 4
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
  .azure-pipelines/batch-generation.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Fix path 5
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/prepare.ps1
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

Update PublishModules.psm1
  tools/PublishModules.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

try upgrade node version
  .azure-pipelines/powershell-core.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

upgrade node to 18.20.8
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[ENG] Remove useless check in generated SDK Verifier
  tools/StaticAnalysis/GeneratedSdkAnalyzer/SDKGeneratedCodeVerify.ps1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

re registration fix
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ContainerTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ContainerTests.ps1
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Container/RegisterAzureRmRecoveryServicesBackupContainer.cs
  src/RecoveryServices/RecoveryServices.Backup/RecoveryServices.Backup.csproj
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

Fix path
  .azure-pipelines/PipelineSteps/BatchGeneration/batch-generate-modules.ps1
  .azure-pipelines/PipelineSteps/BatchGeneration/report.ps1
  .azure-pipelines/batch-generation.yml
  src/Astro/Astro.Autorest/test/Get-AzAstroOrganization.Recording.json
Due: .azure-pipelines/sync-tools-folder.yml, azure-pipelines.yml

[Eng] Accept apikey for publish-rmmodules and upgrade node version to 18.20.8 (#27802)
  .azure-pipelines/azure-powershell-ci.yml
  .azure-pipelines/powershell-core.yml
  .azure-pipelines/windows-powershell.yml
  tools/ModulePublisher.psm1
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml, azure-pipelines.yml

fixing examples
  src/NetworkCloud/NetworkCloud.Autorest/docs/New-AzNetworkCloudCluster.md
  src/NetworkCloud/NetworkCloud.Autorest/docs/Update-AzNetworkCloudCluster.md
  src/NetworkCloud/NetworkCloud.Autorest/examples/Update-AzNetworkCloudCluster.md
Due: none

Upgrade Azure.Core to 1.45.0 (#27803)
  src/Accounts/Accounts/ChangeLog.md
  src/Accounts/AssemblyLoading/ConditionalAssemblyProvider.cs
  src/lib/cgmanifest.json
  src/lib/manifest.json
  src/lib/netstandard2.0/Azure.Core.dll
  src/lib/netstandard2.0/System.ClientModel.dll
  tools/Common.Netcore.Dependencies.targets
Due: .azure-pipelines/sync-tools-folder.yml, .azure-pipelines/util/sync-tools-folder.yml

sql registration fix (#27772)
  src/RecoveryServices/RecoveryServices.Backup.Providers/Providers/AzureWorkloadPsBackupProvider.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ContainerTests.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/ScenarioTests/AzureWorkload/ContainerTests.ps1
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Container/RegisterAzureRmRecoveryServicesBackupContainer.cs
  src/RecoveryServices/RecoveryServices/ChangeLog.md
Due: none

sourceResourceId
  generated/WeightsAndBiases/WeightsAndBiases.Autorest/generated/api/Models/Components19Kgb1NSchemasAzureResourcemanagerCommontypesManagedserviceidentityupdatePropertiesUserassignedidentitiesAdditionalproperties.TypeConverter.cs
  src/RecoveryServices/RecoveryServices.Backup.Test/SessionRecords/Microsoft.Azure.Commands.RecoveryServices.Backup.Test.ScenarioTests.ContainerTests/TestSQLContainerRegError.json
  src/RecoveryServices/RecoveryServices.Backup/Cmdlets/Container/RegisterAzureRmRecoveryServicesBackupContainer.cs
Due: none
